### VerbNet Class

In [1]:
import pandas as pd
import numpy as np
import re
import glob
from pathlib import Path
import shutil

In [2]:
# language pair
lang_folder = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language for learner
#lang_pair = "English"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

In [3]:
path = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/\
Lemma Stem POS/Result/1-VerbNet Class"

Path(path).mkdir(parents=True, exist_ok=True)

In [11]:
def lower_strip_func(x):
    try:
        var_low = str(x).lower()
        var_out = var_low.strip()
    except:
        var_out = x
    return var_out

In [12]:
df_verb_class = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Lemma Stem POS/Data/VerbNet/VerbNet_Class.xlsx")
df_verb_class

    number          class
0      9.1            put
1      9.2    put_spatial
2      9.3         funnel
3      9.4  put_direction
4      9.5           pour
..     ...            ...
268    106           void
269    107        involve
270    108       multiply
271    109           seem
272  109.1         become

[273 rows x 2 columns]

In [13]:
df_verb_class["number"] = df_verb_class["number"].apply(lambda x: lower_strip_func(x))
df_verb_class["class"] = df_verb_class["class"].apply(lambda x: lower_strip_func(x))

In [14]:
df_verb_subclass = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Lemma Stem POS/Data/VerbNet/VerbNet_Subclass.xlsx")
df_verb_subclass

     number  sub_class
0      10.1    abolish
1      10.1   abstract
2      10.1       cull
3      10.1     delete
4      10.1     depose
...     ...        ...
5207     99     assure
5208     99     ensure
5209     99  guarantee
5210     99     insure
5211     99     secure

[5212 rows x 2 columns]

In [15]:
df_verb_subclass["number"] = df_verb_subclass["number"].apply(lambda x: lower_strip_func(x))
df_verb_subclass["sub_class"] = df_verb_subclass["sub_class"].apply(lambda x: lower_strip_func(x))

In [17]:
df_verb_class_subclass_merge = pd.merge(df_verb_class,df_verb_subclass,how="inner", on="number")
df_verb_class_subclass_merge

     number     class sub_class
0       9.1       put   arrange
1       9.1       put   immerse
2       9.1       put     lodge
3       9.1       put     mount
4       9.1       put  position
...     ...       ...       ...
3993    108  multiply     count
3994    108  multiply       sum
3995    108  multiply     tally
3996    109      seem    appear
3997    109      seem      seem

[3998 rows x 3 columns]

In [20]:
from bs4 import BeautifulSoup

In [24]:
with open(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Lemma Stem POS/Data/VerbNet/floss-41.2.1.xml", "r") as f:
    data = f.read()

In [25]:
Bs_data = BeautifulSoup(data, "xml")

In [31]:
b_unique = Bs_data.find('MEMBERS')
b_unique

<MEMBERS>
<MEMBER grouping="brush.01" name="brush" wn="brush%2:35:02"/>
<MEMBER grouping="" name="floss" wn="floss%2:29:00"/>
<MEMBER grouping="shave.01" name="shave" wn="shave%2:35:01"/>
<MEMBER grouping="wash.01" name="wash" wn="wash%2:29:00 wash%2:35:00"/>
</MEMBERS>

In [34]:
b_unique2 = b_unique.find_all("MEMBER")
b_unique2

[<MEMBER grouping="brush.01" name="brush" wn="brush%2:35:02"/>,
 <MEMBER grouping="" name="floss" wn="floss%2:29:00"/>,
 <MEMBER grouping="shave.01" name="shave" wn="shave%2:35:01"/>,
 <MEMBER grouping="wash.01" name="wash" wn="wash%2:29:00 wash%2:35:00"/>]

In [41]:
b_unique2.find("name=")

AttributeError: ResultSet object has no attribute 'find'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [23]:
pd.read_xml(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Lemma Stem POS/Data/VerbNet/floss-41.2.1.xml",xpath=".//MEMBER")

    name                         wn  grouping
0  brush              brush%2:35:02  brush.01
1  floss              floss%2:29:00       NaN
2  shave              shave%2:35:01  shave.01
3   wash  wash%2:29:00 wash%2:35:00   wash.01