### Name Entity From Capital Letter Words

In [1]:
import pandas as pd
import numpy as np
import re

In [34]:
df = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/French/Result/Word/Data/Not_Apply_Lower_Word1.csv")
df

                                word  frequency
0                                 de    3981257
1                                pas    2693790
2                                 Je    2606215
3                                 le    2262594
4                                 la    2187456
...                              ...        ...
597028  commelundesplusieursvictimes          1
597029  Morceauxassezpourfairequatre          1
597030             WilliamEastonaété          1
597031               quivousdétruire          1
597032                    Lyohmeahwe          1

[597033 rows x 2 columns]

In [35]:
capital_word_list = []
lower_word_list = []
for i in df.iloc[:,0]:
    i = str(i)
    if i[0].isupper():
        capital_word_list.append(i)
    else:
        lower_word_list.append(i)

In [36]:
df_capital = pd.DataFrame(capital_word_list)
df_capital.rename(columns={0:"word"}, inplace=True)
df_capital = pd.DataFrame(df_capital.iloc[:,0].apply(lambda x: x.capitalize()))
df_capital

                                  word
0                                   Je
1                                 Cest
2                                   Tu
3                                   Il
4                                 Vous
...                                ...
275585                   Monhistoirede
275586  Cependantnousavonségalementété
275587    Morceauxassezpourfairequatre
275588               Williameastonaété
275589                      Lyohmeahwe

[275590 rows x 1 columns]

In [37]:
df_capital_to_lower = pd.DataFrame(df_capital.iloc[:,0].apply(lambda x : x.lower()))
df_capital_to_lower

                                  word
0                                   je
1                                 cest
2                                   tu
3                                   il
4                                 vous
...                                ...
275585                   monhistoirede
275586  cependantnousavonségalementété
275587    morceauxassezpourfairequatre
275588               williameastonaété
275589                      lyohmeahwe

[275590 rows x 1 columns]

In [38]:
df_lower = pd.DataFrame(lower_word_list)
df_lower.rename(columns={0:"word"}, inplace=True)
df_lower

                                word
0                                 de
1                                pas
2                                 le
3                                 la
4                                que
...                              ...
321438               ouvousbattreune
321439                 quirapportede
321440                       ceIlelà
321441  commelundesplusieursvictimes
321442               quivousdétruire

[321443 rows x 1 columns]

In [39]:
df_lower_to_lower = pd.DataFrame(df_lower.iloc[:,0].apply(lambda x : x.lower()))
df_lower_to_lower

                                word
0                                 de
1                                pas
2                                 le
3                                 la
4                                que
...                              ...
321438               ouvousbattreune
321439                 quirapportede
321440                       ceilelà
321441  commelundesplusieursvictimes
321442               quivousdétruire

[321443 rows x 1 columns]

In [40]:
capital_set = set(df_capital_to_lower.iloc[:,0])

In [41]:
lower_set = set(df_lower_to_lower.iloc[:,0])

In [42]:
df_all_capital = pd.DataFrame(capital_set.difference(lower_set))
df_all_capital.rename(columns={0:"word"}, inplace=True)
df_all_capital = pd.DataFrame(df_all_capital.iloc[:,0].apply(lambda x: x.capitalize()))
df_all_capital

                     word
0                   Eculé
1                  Wadden
2             Camaroncito
3                   Haihi
4           Exprisonniers
...                   ...
160513                Imu
160514  Iexpliqueriezvous
160515           Llorando
160516           Mysterio
160517         Iégarement

[160518 rows x 1 columns]

In [46]:
# Check result with all capital word
df_merge = pd.merge(df_capital, df_all_capital, how="inner", on="word")
df_merge.drop_duplicates(inplace=True)
df_merge.reset_index(drop=True, inplace=True)
df_merge

                                  word
0                                 Josh
1                                 Abby
2                                Jarod
3                               Jordan
4                              Antoine
...                                ...
160513                   Monhistoirede
160514  Cependantnousavonségalementété
160515    Morceauxassezpourfairequatre
160516               Williameastonaété
160517                      Lyohmeahwe

[160518 rows x 1 columns]

In [47]:
df_all_capital.to_excel("Capital_Word.xlsx", sheet_name="Word", index=False)