### Word N Gram And Sentence In Each Other

In [1]:
import pandas as pd
import numpy as np
import re
import nltk

In [ ]:
#!pip install unicodedata2

In [3]:
df_sent_code = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Pyspark/Result/Sentence/Spark Turkish Sentence Merge/Clean_Spark_Sentence_Merge_Result2_Code.csv")
df_sent_code = df_sent_code.iloc[:,1:4]
df_sent_code

,sentence,frequency,code
0,evet,1948596,G1-L4-F1948596-0
1,fikret,1533918,G1-L6-F1533918-1
2,hayır,1250401,G1-L5-F1250401-2
3,tamam,882921,G1-L5-F882921-3
4,ne,753105,G1-L2-F753105-4
...,...,...,...
2913965,hayır ben bir pikap kamyon alacağım,6,G6-L35-F6-2913965
2913966,eminim uydurmuştur,6,G2-L18-F6-2913966
2913967,hemen bir kement ile onu yakalar ve aşağı çekerim,6,G9-L49-F6-2913967
2913968,tabii gerçek bir profesyonel o,6,G5-L30-F6-2913968
2913969,_ adı fikret,6,G3-L12-F6-2913969

In [ ]:
data_kind = "word"

In [ ]:
df = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/French/Result/Sentence/Merge/{data_kind.capitalize()}_Merge_Result2.csv")
df

In [ ]:
word_list = df.iloc[:,0].values.tolist()
#print(word_list)

In [ ]:
sent_ngram_list  = df.iloc[:,0].values.tolist()
#print(sentencence_list)

In [ ]:
len(sent_ngram_list )

In [ ]:
len (resultlist)

In [ ]:
df_result = pd.DataFrame(resultlist)
df_result.head()

In [ ]:
df_result = df_result.rename(columns = {0: f"{data_kind}"})
df_result

In [ ]:
df_merge = pd.merge(df_result, df, how="left", on=f"{data_kind}")
df_merge

In [ ]:
df_merge = df_merge.sort_values(by="frequency", ascending=False)
df_merge

In [ ]:
df_merge.to_csv(f"{data_kind.capitalize()}_With_{word_num}_Word.csv", index=False)

In [ ]:
df_word.to_excel(f"Word_{word_num}.xlsx", sheet_name='Word', index=False)