### Word N Gram And Sentence In Each Other

In [1]:
import pandas as pd
import numpy as np
import re
import nltk

In [2]:
#!pip install unicodedata2

In [3]:
word_num = 300

In [4]:
df_word = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/NLTK/Result/Word/Merge_Word/Word_Merge.csv")
df_word = df_word.head(word_num)
df_word

       word  frequency
0       bir   18835735
1        bu   11062659
2        ne    8025880
3        ve    7766036
4      için    5484109
..      ...        ...
295   mutlu     254555
296   ondan     252864
297  eminim     252546
298   insan     252056
299  gördüm     251150

[300 rows x 2 columns]

In [5]:
word_list = df_word.iloc[:,0].values.tolist()

In [6]:
df_sent_code = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Pyspark/Result/Sentence/Spark Turkish Sentence Merge/Clean_Spark_Sentence_Merge_Result2_Code.csv")
df_sent_code = df_sent_code.iloc[:,1:4]
df_sent_code

,sentence,frequency,code
0,evet,1948596,G1-L4-F1948596-0
1,fikret,1533918,G1-L6-F1533918-1
2,hayır,1250401,G1-L5-F1250401-2
3,tamam,882921,G1-L5-F882921-3
4,ne,753105,G1-L2-F753105-4
...,...,...,...
2913965,hayır ben bir pikap kamyon alacağım,6,G6-L35-F6-2913965
2913966,eminim uydurmuştur,6,G2-L18-F6-2913966
2913967,hemen bir kement ile onu yakalar ve aşağı çekerim,6,G9-L49-F6-2913967
2913968,tabii gerçek bir profesyonel o,6,G5-L30-F6-2913968
2913969,_ adı fikret,6,G3-L12-F6-2913969

In [7]:
sent_list  = df_sent_code.iloc[:,0].values.tolist()

In [20]:
def string_in_each(d_list):
    resultlist = []
    for i in d_list:
        mergelist = []
        try:
            word = i.split()
        except:
            pass
        var1 = range(len(word))
        for j in var1:
            if word[j] in word_list:
                mergelist.append(word[j])
                if len(mergelist) == len(word):
                        resultlist.append(i)
    return resultlist

In [ ]:
# 1 Way
data_kind = "sentence"
resultlist = []
for i in sent_list:
    mergelist = []
    try:
        word = i.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist.append(i)

In [21]:
# 2 Way
data_kind = "sentence"
resultlist = string_in_each(sent_list)

In [22]:
df_result_sent = pd.DataFrame(resultlist)
df_result_sent = df_result_sent.rename(columns = {0: f"{data_kind}"})
df_merge_sent = pd.merge(df_result_sent, df_sent_code, how="left", on=f"{data_kind}")
df_n_sent = df_merge_sent.sort_values(by="frequency", ascending=False)
df_n_sent

                           sentence  frequency               code
0                              evet    1948596   G1-L4-F1948596-0
1                             hayır    1250401   G1-L5-F1250401-2
2                             tamam     882921    G1-L5-F882921-3
3                                ne     753105    G1-L2-F753105-4
4                       teşekkürler     343527   G1-L11-F343527-5
...                             ...        ...                ...
68886           bize tek gereken bu          6  G4-L19-F6-2854680
68885    ve bu iyi bir şey değil mi          6  G7-L26-F6-2854591
68884  bize biraz zaman ver olur mu          6  G6-L28-F6-2854551
68883       bir gün senin de olacak          6  G5-L23-F6-2854424
69801          bir dakika biliyorum          6  G3-L20-F6-2913958

[69802 rows x 3 columns]

In [ ]:
#df_n_sent.to_csv(f"{data_kind.capitalize()}_With_{word_num}_Word.csv", index=False)

In [23]:
df_two = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Pyspark/Result/N Gram/Merge/Twogram_Merge.csv")
df_two

                  twogram  frequency
0         teşekkür ederim     244149
1                 öyle mi     209900
2                 ne oldu     195799
3             aman tanrım     189521
4            özür dilerim     153784
...                   ...        ...
2992945     robina fikret          3
2992946        arı fikret          3
2992947   piskopos fikret          3
2992948  fikret collinsdi          3
2992949     fikret lumley          3

[2992950 rows x 2 columns]

In [24]:
two_list  = df_two.iloc[:,0].values.tolist()

In [ ]:
# 1 Way
data_kind = "twogram"
resultlist = []
for i in two_list:
    mergelist = []
    try:
        word = i.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist.append(i)

In [25]:
# 2 Way
data_kind = "twogram"
resultlist = string_in_each(two_list)

In [27]:
df_result_two = pd.DataFrame(resultlist)
df_result_two = df_result_two.rename(columns = {0: f"{data_kind}"})
df_merge_two = pd.merge(df_result_two, df_two, how="left", on=f"{data_kind}")
df_n_two = df_merge_two.sort_values(by="frequency", ascending=False)
df_n_two

                   twogram  frequency
0          teşekkür ederim     244149
1                  öyle mi     209900
2                  ne oldu     195799
3              aman tanrım     189521
4             özür dilerim     153784
...                    ...        ...
173763   biz buradan devam         11
173764      biz daha oraya         11
173765         biz de bizi         11
173766  bak bakalım gerçek         11
180203      yani benim kız         11

[180204 rows x 2 columns]

In [ ]:
#df_n_two.to_csv(f"{data_kind.capitalize()}_With_{word_num}_Word.csv", index=False)

In [ ]:
df_three = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Pyspark/Result/N Gram/Merge/Threegram_Merge.csv")
df_three

In [ ]:
three_list  = df_three.iloc[:,0].values.tolist()

In [ ]:
data_kind = "threegram"
resultlist = []
for i in three_list:
    mergelist = []
    try:
        word = i.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist.append(i)

In [ ]:
df_result_three = pd.DataFrame(resultlist)
df_result_three = df_result_three.rename(columns = {0: f"{data_kind}"})
df_merge_three = pd.merge(df_result_three, df_three, how="left", on=f"{data_kind}")
df_n_three = df_merge_three.sort_values(by="frequency", ascending=False)
df_n_three

In [ ]:
#df_n_three.to_csv(f"{data_kind.capitalize()}_With_{word_num}_Word.csv", index=False)

In [ ]:
df_four = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Pyspark/Result/N Gram/Merge/Fourgram_Merge.csv")
df_four

In [ ]:
four_list  = df_four.iloc[:,0].values.tolist()

In [ ]:
data_kind = "fourgram"
resultlist = []
for i in four_list:
    mergelist = []
    try:
        word = i.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist.append(i)

In [ ]:
df_result_four = pd.DataFrame(resultlist)
df_result_four = df_result_four.rename(columns = {0: f"{data_kind}"})
df_merge_four = pd.merge(df_result_four, df_sent_code, how="left", on=f"{data_kind}")
df_n_four = df_merge_four.sort_values(by="frequency", ascending=False)
df_n_four

In [ ]:
#df_n_four.to_csv(f"{data_kind.capitalize()}_With_{word_num}_Word.csv", index=False)

In [ ]:
df_five = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Pyspark/Result/N Gram/Merge/Fivegram_Merge.csv")
df_five

In [ ]:
five_list  = df_five.iloc[:,0].values.tolist()

In [ ]:
data_kind = "fivegram"
resultlist = []
for i in five_list:
    mergelist = []
    try:
        word = i.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist.append(i)

In [ ]:
df_result_five = pd.DataFrame(resultlist)
df_result_five = df_result_five.rename(columns = {0: f"{data_kind}"})
df_merge_five = pd.merge(df_result_five, df_sent_code, how="left", on=f"{data_kind}")
df_n_five = df_merge_five.sort_values(by="frequency", ascending=False)
df_n_five

In [ ]:
#df_n_five.to_csv(f"{data_kind.capitalize()}_With_{word_num}_Word.csv", index=False)

In [ ]:
ngram_list = df_two.iloc[:,0].to_list()

In [ ]:
df_sent_result = pd.DataFrame()
for i in ngram_list:
    ngram_in_sent = df_sent_code[df_sent_code.iloc[:,0].str.contains(fr"(^|\s){i}(\s|$)")]
    ngram_in_sent.insert(0,"ngram",i)
    df_sent_result = pd.concat([df_sent_result,ngram_in_sent], axis=0)