### Word N Gram And Sentence In Each Other

In [1]:
import pandas as pd
import numpy as np
import re
import nltk

In [2]:
#!pip install unicodedata2

In [ ]:
word_num = 300

In [7]:
df_sent_code = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Pyspark/Result/Sentence/Spark Turkish Sentence Merge/Clean_Spark_Sentence_Merge_Result2_Code.csv")
df_sent_code = df_sent_code.iloc[:,1:4]
df_sent_code

,sentence,frequency,code
0,evet,1948596,G1-L4-F1948596-0
1,fikret,1533918,G1-L6-F1533918-1
2,hayır,1250401,G1-L5-F1250401-2
3,tamam,882921,G1-L5-F882921-3
4,ne,753105,G1-L2-F753105-4
...,...,...,...
2913965,hayır ben bir pikap kamyon alacağım,6,G6-L35-F6-2913965
2913966,eminim uydurmuştur,6,G2-L18-F6-2913966
2913967,hemen bir kement ile onu yakalar ve aşağı çekerim,6,G9-L49-F6-2913967
2913968,tabii gerçek bir profesyonel o,6,G5-L30-F6-2913968
2913969,_ adı fikret,6,G3-L12-F6-2913969

In [8]:
df_word = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/NLTK/Result/Word/Merge_Word/Word_Merge.csv")
df_word = df_word.head(word_num)

                  word  frequency
0                  bir   18835735
1                   bu   11062659
2                   ne    8025880
3                   ve    7766036
4                 için    5484109
...                ...        ...
166309         çığiığı         43
166310  boşandıklarını         42
166311    endişenlenme         42
166312    uzaylıymışım         42
166313      söylememis         38

[166314 rows x 2 columns]

In [9]:
df_two = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Pyspark/Result/N Gram/Merge/Twogram_Merge.csv")
df_two

                  twogram  frequency
0         teşekkür ederim     244149
1                 öyle mi     209900
2                 ne oldu     195799
3             aman tanrım     189521
4            özür dilerim     153784
...                   ...        ...
2992945     robina fikret          3
2992946        arı fikret          3
2992947   piskopos fikret          3
2992948  fikret collinsdi          3
2992949     fikret lumley          3

[2992950 rows x 2 columns]

In [10]:
df_three = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Pyspark/Result/N Gram/Merge/Threegram_Merge.csv")
df_three

                        threegram  frequency
0                     bir şey yok     113165
1                     bir şey var     110455
2                        bu da ne      89463
3                 her şey yolunda      75968
4                   başka bir şey      75193
...                           ...        ...
3009751        haydi büyük fikret          5
3009752     fikret caesardan beri          5
3009753       fikret cage kazandı          5
3009754      haydi bakayım fikret          5
3009755  şimdilik hoşçakal fikret          5

[3009756 rows x 2 columns]

In [11]:
df_four = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Pyspark/Result/N Gram/Merge/Fourgram_Merge.csv")
df_four

                           fourgram  frequency
0                    bir şey var mı      41773
1                her şey yolunda mı      31126
2                burada ne işin var      21993
3                  bir sorun mu var      21423
4             ben de seni seviyorum      17338
...                             ...        ...
3052209    fikret miloya merhaba de          5
3052210      fikret millsin oğlu mu          5
3052211        fikret millet iyi iş          5
3052212  fikret millet bize bakıyor          5
3052213    bayan fikret hoşça kalın          5

[3052214 rows x 2 columns]

In [12]:
df_five = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Pyspark/Result/N Gram/Merge/Fivegram_Merge.csv")
df_five

                                      fivegram  frequency
0                         başka bir şey var mı      14104
1                        bu da ne demek oluyor      10205
2                        o kadar da kötü değil       7012
3                       sence de öyle değil mi       6305
4                 sana bir şey sorabilir miyim       6224
...                                        ...        ...
1096831        peder fikret hep şöyle söylerdi          4
1096832  peder fikret intihar etmeye çalışıyor          4
1096833            fikret dolson 12 gün yaşadı          4
1096834             ama fikret diye biri yoktu          4
1096835     okumaz ve düşünmezler derdi fikret          4

[1096836 rows x 2 columns]

In [ ]:
ngram_list = df_two.iloc[:,0].to_list()

In [ ]:
df_sent_result = pd.DataFrame()
for i in ngram_list:
    ngram_in_sent = df_sent_code[df_sent_code.iloc[:,0].str.contains(fr"(^|\s){i}(\s|$)")]
    ngram_in_sent.insert(0,"ngram",i)
    df_sent_result = pd.concat([df_sent_result,ngram_in_sent], axis=0)