### Word N Gram And Sentence In Each Other

In [1]:
import pandas as pd
import numpy as np
import re
import nltk

In [2]:
#!pip install unicodedata2

In [3]:
word_num = 300

In [4]:
df_word = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/NLTK/Result/Word/Merge_Word/Word_Merge.csv")
df_word = df_word.head(word_num)
df_word

       word  frequency
0       bir   18835735
1        bu   11062659
2        ne    8025880
3        ve    7766036
4      için    5484109
..      ...        ...
295   mutlu     254555
296   ondan     252864
297  eminim     252546
298   insan     252056
299  gördüm     251150

[300 rows x 2 columns]

In [5]:
word_list = df_word.iloc[:,0].values.tolist()

In [6]:
df_sent_code = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Pyspark/Result/Sentence/Spark Turkish Sentence Merge/Clean_Spark_Sentence_Merge_Result2_Code.csv")
df_sent_code = df_sent_code.iloc[:,1:4]
df_sent_code

,sentence,frequency,code
0,evet,1948596,G1-L4-F1948596-0
1,fikret,1533918,G1-L6-F1533918-1
2,hayır,1250401,G1-L5-F1250401-2
3,tamam,882921,G1-L5-F882921-3
4,ne,753105,G1-L2-F753105-4
...,...,...,...
2913965,hayır ben bir pikap kamyon alacağım,6,G6-L35-F6-2913965
2913966,eminim uydurmuştur,6,G2-L18-F6-2913966
2913967,hemen bir kement ile onu yakalar ve aşağı çekerim,6,G9-L49-F6-2913967
2913968,tabii gerçek bir profesyonel o,6,G5-L30-F6-2913968
2913969,_ adı fikret,6,G3-L12-F6-2913969

In [7]:
sent_list  = df_sent_code.iloc[:,0].values.tolist()

In [8]:
# Word in word group as sentence and n gram. Sentence and n gram occur with word list values.
def word_in_wordgroup(d_list, word_list):
    resultlist = []
    for i in d_list:
        mergelist = []
        try:
            word = i.split()
        except:
            pass
        var1 = range(len(word))
        for j in var1:
            if word[j] in word_list:
                mergelist.append(word[j])
                if len(mergelist) == len(word):
                        resultlist.append(i)
    return resultlist

In [9]:
## 1 Way
#data_kind = "sentence"
#resultlist = []
#for i in sent_list:
#    mergelist = []
#    try:
#        word = i.split()
#    except:
#        pass
#    var1 = range(len(word))
#    for j in var1:
#        if word[j] in word_list:
#            mergelist.append(word[j])
#            if len(mergelist) == len(word):
#                    resultlist.append(i)

In [10]:
# 2 Way
data_kind = "sentence"
resultlist = word_in_wordgroup(sent_list,word_list)

In [11]:
df_result_sent = pd.DataFrame(resultlist)
df_result_sent = df_result_sent.rename(columns = {0: f"{data_kind}"})
df_merge_sent = pd.merge(df_result_sent, df_sent_code, how="left", on=f"{data_kind}")
df_n_sent = df_merge_sent.sort_values(by="frequency", ascending=False)
df_n_sent

                           sentence  frequency               code
0                              evet    1948596   G1-L4-F1948596-0
1                             hayır    1250401   G1-L5-F1250401-2
2                             tamam     882921    G1-L5-F882921-3
3                                ne     753105    G1-L2-F753105-4
4                       teşekkürler     343527   G1-L11-F343527-5
...                             ...        ...                ...
68886           bize tek gereken bu          6  G4-L19-F6-2854680
68885    ve bu iyi bir şey değil mi          6  G7-L26-F6-2854591
68884  bize biraz zaman ver olur mu          6  G6-L28-F6-2854551
68883       bir gün senin de olacak          6  G5-L23-F6-2854424
69801          bir dakika biliyorum          6  G3-L20-F6-2913958

[69802 rows x 3 columns]

In [12]:
#df_n_sent.to_csv(f"{data_kind.capitalize()}_With_{word_num}_Word.csv", index=False)

In [13]:
df_two = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Pyspark/Result/N Gram/Merge/Twogram_Merge.csv")
df_two

                      twogram  frequency
0                     bir şey     859944
1                    değil mi     585879
2                      ben de     377765
3             teşekkür ederim     370619
4                     ne oldu     322758
...                       ...        ...
4457029         fikret cibran          3
4457030         romalı fikret          3
4457031        fikret ciooney          3
4457032          fikret cisco          3
4457033  seyretmeliyim fikret          3

[4457034 rows x 2 columns]

In [14]:
two_list  = df_two.iloc[:,0].values.tolist()

In [15]:
## 1 Way
#data_kind = "twogram"
#resultlist = []
#for i in two_list:
#    mergelist = []
#    try:
#        word = i.split()
#    except:
#        pass
#    var1 = range(len(word))
#    for j in var1:
#        if word[j] in word_list:
#            mergelist.append(word[j])
#            if len(mergelist) == len(word):
#                    resultlist.append(i)

In [16]:
# 2 Way
data_kind = "twogram"
resultlist = word_in_wordgroup(two_list,word_list)

In [17]:
df_result_two = pd.DataFrame(resultlist)
df_result_two = df_result_two.rename(columns = {0: f"{data_kind}"})
df_merge_two = pd.merge(df_result_two, df_two, how="left", on=f"{data_kind}")
df_n_two = df_merge_two.sort_values(by="frequency", ascending=False)
df_n_two

                twogram  frequency
0               bir şey     859944
1              değil mi     585879
2                ben de     377765
3       teşekkür ederim     370619
4               ne oldu     322758
...                 ...        ...
46312  kesinlikle küçük          6
46313    kesinlikle pek          6
46314  kesinlikle olmak          6
46315         bayan tüm          6
48208         diğer işe          6

[48209 rows x 2 columns]

In [18]:
#df_n_two.to_csv(f"{data_kind.capitalize()}_With_{word_num}_Word.csv", index=False)

In [19]:
df_three = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Pyspark/Result/N Gram/Merge/Threegram_Merge.csv")
df_three

                        threegram  frequency
0                     bir şey yok     113165
1                     bir şey var     110455
2                        bu da ne      89463
3                 her şey yolunda      75968
4                   başka bir şey      75193
...                           ...        ...
3009751        haydi büyük fikret          5
3009752     fikret caesardan beri          5
3009753       fikret cage kazandı          5
3009754      haydi bakayım fikret          5
3009755  şimdilik hoşçakal fikret          5

[3009756 rows x 2 columns]

In [20]:
three_list  = df_three.iloc[:,0].values.tolist()

In [21]:
#data_kind = "threegram"
#resultlist = []
#for i in three_list:
#    mergelist = []
#    try:
#        word = i.split()
#    except:
#        pass
#    var1 = range(len(word))
#    for j in var1:
#        if word[j] in word_list:
#            mergelist.append(word[j])
#            if len(mergelist) == len(word):
#                    resultlist.append(i)

In [22]:
data_kind = "threegram"
resultlist = word_in_wordgroup(three_list,word_list)

In [23]:
df_result_three = pd.DataFrame(resultlist)
df_result_three = df_result_three.rename(columns = {0: f"{data_kind}"})
df_merge_three = pd.merge(df_result_three, df_three, how="left", on=f"{data_kind}")
df_n_three = df_merge_three.sort_values(by="frequency", ascending=False)
df_n_three

                   threegram  frequency
0                bir şey yok     113165
1                bir şey var     110455
2                   bu da ne      89463
3              başka bir şey      75193
4          hayır hayır hayır      69443
...                      ...        ...
173687   gece hakkında neler         10
173686    gece hemen buradan         10
173685        gece içinde üç         10
173684         gece için sen         10
178447  lütfen gidip kontrol         10

[178448 rows x 2 columns]

In [24]:
#df_n_three.to_csv(f"{data_kind.capitalize()}_With_{word_num}_Word.csv", index=False)

In [25]:
df_four = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Pyspark/Result/N Gram/Merge/Fourgram_Merge.csv")
df_four

                           fourgram  frequency
0                    bir şey var mı      41773
1                her şey yolunda mı      31126
2                burada ne işin var      21993
3                  bir sorun mu var      21423
4             ben de seni seviyorum      17338
...                             ...        ...
3052209    fikret miloya merhaba de          5
3052210      fikret millsin oğlu mu          5
3052211        fikret millet iyi iş          5
3052212  fikret millet bize bakıyor          5
3052213    bayan fikret hoşça kalın          5

[3052214 rows x 2 columns]

In [26]:
four_list  = df_four.iloc[:,0].values.tolist()

In [27]:
#data_kind = "fourgram"
#resultlist = []
#for i in four_list:
#    mergelist = []
#    try:
#        word = i.split()
#    except:
#        pass
#    var1 = range(len(word))
#    for j in var1:
#        if word[j] in word_list:
#            mergelist.append(word[j])
#            if len(mergelist) == len(word):
#                    resultlist.append(i)

In [28]:
data_kind = "fourgram"
resultlist = word_in_wordgroup(four_list,word_list)

In [29]:
df_result_four = pd.DataFrame(resultlist)
df_result_four = df_result_four.rename(columns = {0: f"{data_kind}"})
df_merge_four = pd.merge(df_result_four, df_four, how="left", on=f"{data_kind}")
df_n_four = df_merge_four.sort_values(by="frequency", ascending=False)
df_n_four

                        fourgram  frequency
0                 bir şey var mı      41773
1               bir sorun mu var      21423
2          ben de seni seviyorum      17338
3                 bu da ne demek      16884
4            gereken bir şey var      15683
...                          ...        ...
125317     senden yanlış bir şey          7
125316      senden sen her zaman          7
125315        senden en az benim          7
125314  senden güzel bir şekilde          7
129178    neden gidip ona yardım          7

[129179 rows x 2 columns]

In [30]:
#df_n_four.to_csv(f"{data_kind.capitalize()}_With_{word_num}_Word.csv", index=False)

In [31]:
df_five = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Pyspark/Result/N Gram/Merge/Fivegram_Merge.csv")
df_five

                                      fivegram  frequency
0                         başka bir şey var mı      14104
1                        bu da ne demek oluyor      10205
2                        o kadar da kötü değil       7012
3                       sence de öyle değil mi       6305
4                 sana bir şey sorabilir miyim       6224
...                                        ...        ...
1096831        peder fikret hep şöyle söylerdi          4
1096832  peder fikret intihar etmeye çalışıyor          4
1096833            fikret dolson 12 gün yaşadı          4
1096834             ama fikret diye biri yoktu          4
1096835     okumaz ve düşünmezler derdi fikret          4

[1096836 rows x 2 columns]

In [32]:
five_list  = df_five.iloc[:,0].values.tolist()

In [33]:
#data_kind = "fivegram"
#resultlist = []
#for i in five_list:
#    mergelist = []
#    try:
#        word = i.split()
#    except:
#        pass
#    var1 = range(len(word))
#    for j in var1:
#        if word[j] in word_list:
#            mergelist.append(word[j])
#            if len(mergelist) == len(word):
#                    resultlist.append(i)

In [34]:
data_kind = "fivegram"
resultlist = word_in_wordgroup(five_list,word_list)

In [35]:
df_result_five = pd.DataFrame(resultlist)
df_result_five = df_result_five.rename(columns = {0: f"{data_kind}"})
df_merge_five = pd.merge(df_result_five, df_five, how="left", on=f"{data_kind}")
df_n_five = df_merge_five.sort_values(by="frequency", ascending=False)
df_n_five

                              fivegram  frequency
0                 başka bir şey var mı      14104
1                bu da ne demek oluyor      10205
2                o kadar da kötü değil       7012
3                 bu da ne demek şimdi       4791
4        hayır hayır hayır hayır hayır       4380
...                                ...        ...
25061             ama yine bir şey yok         10
25062           ama yine de biraz para         10
25063            ama yine de onun beni         10
25064          kötü bir şeyler mi oldu         10
27146  gerçekten iyi bir iş yapıyorsun         10

[27147 rows x 2 columns]

In [36]:
#df_n_five.to_csv(f"{data_kind.capitalize()}_With_{word_num}_Word.csv", index=False)

#### N Gram In N Gram

In [37]:
#word_num = 300

In [38]:
def wordgroup_in_wordgroup(df_first, df_second):
    df_wordgroup_result = pd.DataFrame()
    for i in df_first.iloc[:,0]:
        df_result = df_second[df_second.iloc[:,0].str.contains(fr"(^|\s){i}(\s|$)")]
        df_result.insert(0,"ngram",i)
        df_wordgroup_result = pd.concat([df_wordgroup_result,df_result], axis=0)
        df_wordgroup_result.reset_index(drop=True, inplace=True)
    return df_wordgroup_result

##### Two In Three

In [39]:
#data_kind = "twogram"
#df_n_two = pd.read_csv(f"{data_kind.capitalize()}_With_{word_num}_Word.csv")
#df_n_two

In [40]:
#data_kind = "threegram"
#df_n_three = pd.read_csv(f"{data_kind.capitalize()}_With_{word_num}_Word.csv")
#df_n_three

In [41]:
df_n_two = df_n_two.head(1000)
df_n_three = df_n_three.head(1000)

In [42]:
df_two_in_three = wordgroup_in_wordgroup(df_n_two,df_n_three)
df_two_in_three.rename(columns={"ngram":"twogram"}, inplace=True)
df_two_in_three

          twogram      threegram  frequency
0         bir şey    bir şey yok     113165
1         bir şey    bir şey var     110455
2         bir şey  başka bir şey      75193
3         bir şey  bir şey değil      68498
4         bir şey     bir şey mi      64933
...           ...            ...        ...
1588    hayır sağ   hayır sağ ol       5403
1589      de beni    sen de beni       4717
1590     ben daha   ben daha çok       3182
1591      için en    için en iyi       4721
1592  zaman neden  o zaman neden      14356

[1593 rows x 3 columns]

In [43]:
#df_two_in_three.to_csv(f"Twogram_In_Threegram_With_{word_num}_Word.csv", index=False)

##### Three In Four

In [44]:
#data_kind = "threegram"
#df_n_three = pd.read_csv(f"{data_kind.capitalize()}_With_{word_num}_Word.csv")
#df_n_three

In [45]:
#data_kind = "fourgram"
#df_n_four = pd.read_csv(f"{data_kind.capitalize()}_With_{word_num}_Word.csv")
#df_n_four

In [46]:
df_n_four = df_n_four.head(1000)
df_n_three = df_n_three.head(1000)

In [47]:
df_three_in_four = wordgroup_in_wordgroup(df_n_three,df_n_four)
df_three_in_four.rename(columns={"ngram":"threegram"}, inplace=True)
df_three_in_four

                threegram                       fourgram  frequency
0             bir şey yok               diye bir şey yok       6532
1             bir şey yok              başka bir şey yok       5895
2             bir şey yok                 bir şey yok mu       5016
3             bir şey yok                hiç bir şey yok       3181
4             bir şey yok               öyle bir şey yok       3165
...                   ...                            ...        ...
1199           o da senin                o da senin gibi        805
1200           ya da öyle                 ya da öyle bir       1507
1201       daha güzel bir             daha güzel bir şey        449
1202  sana teşekkür etmek  sana teşekkür etmek istiyorum       1142
1203  sana teşekkür etmek       için sana teşekkür etmek        623

[1204 rows x 3 columns]

In [48]:
#df_three_in_four.to_csv(f"Threegram_In_Fourgram_With_{word_num}_Word.csv", index=False)

##### Four In Five

In [49]:
#data_kind = "fourgram"
#df_n_four = pd.read_csv(f"{data_kind.capitalize()}_With_{word_num}_Word.csv")
#df_n_four

In [50]:
#data_kind = "fivegram"
#df_n_five = pd.read_csv(f"{data_kind.capitalize()}_With_{word_num}_Word.csv")
#df_n_five

In [51]:
df_n_four = df_n_four.head(1000)
df_n_five = df_n_five.head(1000)

In [52]:
df_four_in_five = wordgroup_in_wordgroup(df_n_four,df_n_five)
df_four_in_five.rename(columns={"ngram":"fourgram"}, inplace=True)
df_four_in_five

                fourgram                 fivegram  frequency
0         bir şey var mı     başka bir şey var mı      14104
1         bir şey var mı      yeni bir şey var mı       1219
2         bir şey var mı   gereken bir şey var mı       1209
3         bir şey var mı    ilgili bir şey var mı        461
4         bir şey var mı      bir şey var mı diye        401
..                   ...                      ...        ...
951    hoş bir şey değil     bu hoş bir şey değil        124
952    bu kadar da değil  hepsi bu kadar da değil        299
953          da da da da           da da da da da        376
954  bir daha asla böyle  bir daha asla böyle bir        199
955    ve bana yardım et    gel ve bana yardım et        238

[956 rows x 3 columns]

In [ ]:
#df_four_in_five.to_csv(f"Fourgram_In_Fivegram_With_{word_num}_Word.csv", index=False)

In [54]:
df_two_in_three

          twogram      threegram  frequency
0         bir şey    bir şey yok     113165
1         bir şey    bir şey var     110455
2         bir şey  başka bir şey      75193
3         bir şey  bir şey değil      68498
4         bir şey     bir şey mi      64933
...           ...            ...        ...
1588    hayır sağ   hayır sağ ol       5403
1589      de beni    sen de beni       4717
1590     ben daha   ben daha çok       3182
1591      için en    için en iyi       4721
1592  zaman neden  o zaman neden      14356

[1593 rows x 3 columns]

In [57]:
df_two_three_four_merge = pd.merge(df_two_in_three, df_three_in_four, how="inner", on="threegram")
df_two_three_four_merge.drop_duplicates(inplace=True)
df_two_three_four_merge

,twogram,threegram,frequency_x,fourgram,frequency_y
0,bir şey,bir şey yok,113165,diye bir şey yok,6532
1,bir şey,bir şey yok,113165,başka bir şey yok,5895
2,bir şey,bir şey yok,113165,bir şey yok mu,5016
3,bir şey,bir şey yok,113165,hiç bir şey yok,3181
4,bir şey,bir şey yok,113165,öyle bir şey yok,3165
...,...,...,...,...,...
2147,bile bilmiyorum,olduğunu bile bilmiyorum,2764,kim olduğunu bile bilmiyorum,895
2148,bile bilmiyorum,olduğunu bile bilmiyorum,2764,ne olduğunu bile bilmiyorum,839
2149,git git,git git git,2421,git git git git,464
2150,kadar zor,kadar zor olduğunu,2580,ne kadar zor olduğunu,2414
2151,kadar zor,kadar zor olduğunu,2580,kadar zor olduğunu biliyorum,745

In [59]:
df_two_three_four_five_merge = pd.merge(df_two_three_four_merge,df_four_in_five, how="inner", on="fourgram")
df_two_three_four_five_merge.drop_duplicates(inplace=True)
df_two_three_four_five_merge

,twogram,threegram,frequency_x,fourgram,frequency_y,fivegram,frequency
0,bir şey,bir şey yok,113165,diye bir şey yok,6532,biz diye bir şey yok,1356
1,bir şey,bir şey yok,113165,diye bir şey yok,6532,diye bir şey yok mu,134
2,bir şey,bir şey yok,113165,diye bir şey yok,6532,yarın diye bir şey yok,125
3,bir şey,bir şey yok,113165,diye bir şey yok,6532,olacak diye bir şey yok,116
4,şey yok,bir şey yok,113165,diye bir şey yok,6532,biz diye bir şey yok,1356
...,...,...,...,...,...,...,...
2573,hoş değil,hiç hoş değil,4626,bu hiç hoş değil,1578,bu hiç hoş değil dostum,113
2574,bir son,buna bir son,4647,buna bir son ver,592,buna bir son ver artık,108
2575,bile bilmiyorum,olduğunu bile bilmiyorum,2764,kim olduğunu bile bilmiyorum,895,senin kim olduğunu bile bilmiyorum,219
2576,bile bilmiyorum,olduğunu bile bilmiyorum,2764,kim olduğunu bile bilmiyorum,895,onun kim olduğunu bile bilmiyorum,202
2577,git git,git git git,2421,git git git git,464,git git git git git,216

In [60]:
df_two_three_four_five_ngram = df_two_three_four_five_merge[["twogram", "threegram", "fourgram", "fivegram"]]
df_two_three_four_five_ngram

,twogram,threegram,fourgram,fivegram
0,bir şey,bir şey yok,diye bir şey yok,biz diye bir şey yok
1,bir şey,bir şey yok,diye bir şey yok,diye bir şey yok mu
2,bir şey,bir şey yok,diye bir şey yok,yarın diye bir şey yok
3,bir şey,bir şey yok,diye bir şey yok,olacak diye bir şey yok
4,şey yok,bir şey yok,diye bir şey yok,biz diye bir şey yok
...,...,...,...,...
2573,hoş değil,hiç hoş değil,bu hiç hoş değil,bu hiç hoş değil dostum
2574,bir son,buna bir son,buna bir son ver,buna bir son ver artık
2575,bile bilmiyorum,olduğunu bile bilmiyorum,kim olduğunu bile bilmiyorum,senin kim olduğunu bile bilmiyorum
2576,bile bilmiyorum,olduğunu bile bilmiyorum,kim olduğunu bile bilmiyorum,onun kim olduğunu bile bilmiyorum
2577,git git,git git git,git git git git,git git git git git

In [61]:
df_two_three_four_five_ngram.fivegram.nunique()

651