#### Language Pair Word Equality

In [68]:
#!pip uninstall googletrans
#import googletrans
#from googletrans import Translator

In [1]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [2]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "German"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
German
German (deu)

In [3]:
#Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}").mkdir(parents=True, exist_ok=True)

In [4]:
def low_func(x):
    try:
        var_out = x.lower()
    except:
        var_out = x
    return var_out

In [5]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx")
df_lang11

   lang_master term_master   lang_sleeve    term_sleeve
0      Turkish   enteresan        German    interessant
1      Turkish   enteresan        German  interessieren
2      Turkish        tren        German     trainieren
3      Turkish       seksi        German           sexy
4      Turkish         cin        German         genial
..         ...         ...           ...            ...
59     English      bikini  German (deu)         bikini
60      French      bikini  German (deu)         bikini
61     Spanish      bikini  German (deu)         bikini
62       Dutch      bikini  German (deu)         bikini
63     Turkish        bira  German (deu)         pilsen

[64 rows x 4 columns]

In [6]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12

     lang_master term_master lang_sleeve     term_sleeve
0        Turkish         inç      German           union
1        Turkish         inç      German      nonchalant
2        Turkish         inç      German            ent-
3        Turkish         inç      German       münzunion
4        Turkish         inç      German   währungsunion
...          ...         ...         ...             ...
5264     Turkish      berber      German      berberaffe
5265     Turkish     emirlik      German          emirat
5266     Turkish    emretmek      German          emirat
5267     Turkish     bilanço      German      bilanziell
5268     Turkish     bilanço      German  zwischenbilanz

[5269 rows x 4 columns]

In [7]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: low_func(x))
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: low_func(x))
df_lang13

   lang_master   term_master lang_sleeve    term_sleeve
0      Turkish       şibidak      German    schiebedach
1      Turkish       hamburg      German        hamburg
2      Turkish       element      German        element
3      Turkish     hamburger      German      hamburger
4      Turkish       volfram      German        wolfram
5      Turkish        bizmut      German         wismut
6      Turkish        şablon      German      schablone
7      Turkish         kuruş      German       groschen
8      Turkish        kuvars      German          quarz
9      Turkish         enzim      German          enzym
10     Turkish   lihtenştayn      German  liechtenstein
11     Turkish         revir      German         revier
12     Turkish    hinterlant      German     hinterland
13     Turkish     haymatlos      German      heimatlos
14     Turkish   sözdizimsel      German      sözdizimi
15     Turkish        dilmaç      German    dolmetscher
16     Turkish         dübel      German          dübel
17     Turkish  dağ türkleri      German     bergtürken
18     Turkish        şalter      German       schalter
19     Turkish        doçent      German         dozent
20     Turkish         şilep      German       schleppe

In [8]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: low_func(x))
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: low_func(x))
df_lang14

   lang_master  term_master lang_sleeve   term_sleeve
0      Turkish          net      German          netz
1      Turkish          hol      German         halle
2      Turkish        start      German       stürzen
3      Turkish        start      German         sterz
4      Turkish          koç      German       kutsche
..         ...          ...         ...           ...
92     Turkish  laparoskopi      German  laparoskopie
93     Turkish        sprey      German       sprühen
94     Turkish    protestan      German    protestant
95     Turkish       kartuş      German     kartusche
96     Turkish    trambolin      German      trampeln

[97 rows x 4 columns]

In [9]:
df_ety_concat = pd.concat([df_lang11,df_lang12,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

     lang_master  term_master lang_sleeve    term_sleeve
0        Turkish    enteresan      German    interessant
1        Turkish    enteresan      German  interessieren
2        Turkish         tren      German     trainieren
3        Turkish        seksi      German           sexy
4        Turkish          cin      German         genial
...          ...          ...         ...            ...
5402     Turkish        slayt      German     schlittern
5403     Turkish  laparoskopi      German   laparoskopie
5404     Turkish        sprey      German        sprühen
5405     Turkish    protestan      German     protestant
5406     Turkish    trambolin      German       trampeln

[5407 rows x 4 columns]

In [10]:
df_ety_concat.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [11]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

            term
0      enteresan
1           tren
2          seksi
3            cin
4          süper
..           ...
955       derhal
956        slayt
957  laparoskopi
958    protestan
959    trambolin

[960 rows x 1 columns]

In [12]:
df_master_unique.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [13]:
#df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
#df_word = df_word.head(40000)
##df_word = df_word.loc[:,["word"]]
#df_word.rename(columns={"word":"term"}, inplace=True)
#df_word

In [14]:
#df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
#df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
#df_master_unique_word_merge.reset_index(drop=True, inplace=True)
#df_master_unique_word_merge

In [15]:
#df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
#df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
#df_master_unique_word_merge

In [16]:
#df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [17]:
df_pair_translate = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate

    turkish_word   german_word
0      enteresan   interessant
1           tren           Zug
2          seksi          sexy
3            cin           Gin
4          süper         super
..           ...           ...
955       derhal        sofort
956        slayt       gleiten
957  laparoskopi  Laparoskopie
958    protestan   evangelisch
959    trambolin     Trampolin

[960 rows x 2 columns]

In [18]:
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_pair_translate

    turkish_word   german_word
0      enteresan   interessant
1           tren           zug
2          seksi          sexy
3            cin           gin
4          süper         super
..           ...           ...
955       derhal        sofort
956        slayt       gleiten
957  laparoskopi  laparoskopie
958    protestan   evangelisch
959    trambolin     trampolin

[960 rows x 2 columns]

In [19]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

        german_word
0       interessant
1     interessieren
2        trainieren
3              sexy
4            genial
...             ...
3839     schlittern
3840   laparoskopie
3841        sprühen
3842     protestant
3843       trampeln

[3844 rows x 1 columns]

In [20]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"}, inplace=True)
df_translate_sleeve_merge

    dict_entry_main   german_word
0         enteresan   interessant
1             seksi          sexy
2             süper         super
3              boks         boxen
4             komik         comic
..              ...           ...
357           lider        führer
358          benzin        benzin
359        adenozin      adenosin
360          sürücü       treiber
361     laparoskopi  laparoskopie

[362 rows x 2 columns]

In [21]:
df_translate_sleeve_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx", index=False)

In [ ]:
#df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)