#### Language Pair Word Equality

In [68]:
#!pip uninstall googletrans
#import googletrans
#from googletrans import Translator

In [1]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [2]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Portuguese"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
Portuguese
Portuguese (por)

In [3]:
#Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}").mkdir(parents=True, exist_ok=True)

In [4]:
def low_func(x):
    try:
        var_out = x.lower()
    except:
        var_out = x
    return var_out

In [5]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx")
df_lang11

    lang_master term_master       lang_sleeve term_sleeve
0       Turkish         gey        Portuguese         gay
1       Turkish      garson        Portuguese      garçon
2       Turkish       kolye        Portuguese      colete
3       Turkish       alkol        Portuguese      álcool
4       Turkish    romantik        Portuguese   romântico
..          ...         ...               ...         ...
112     Turkish       mango  Portuguese (por)       manga
113     Turkish     sandviç  Portuguese (por)        kent
114     English         ani  Portuguese (por)         ani
115     Turkish        köri  Portuguese (por)        kari
116     Turkish      harita  Portuguese (por)     χαράσσω

[117 rows x 4 columns]

In [6]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12

,lang_master,term_master,lang_sleeve,term_sleeve
0,Turkish,palavra,Portuguese,palavra
1,Turkish,palavra,Portuguese,parábola
2,Turkish,palavra,Portuguese,parlamentar
3,Turkish,palavra,Portuguese,"para bom entendedor, meia palavra basta"
4,Turkish,palavra,Portuguese,palavrinha
...,...,...,...,...
5861,Turkish,kazak,Portuguese,casaco
5862,Turkish,foça,Portuguese,fócida
5863,Turkish,beyzbolcu,Portuguese,beisebolista
5864,Turkish,vadi,Portuguese,odemira
5865,Turkish,hentbolcu,Portuguese,andebolista

In [7]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: low_func(x))
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: low_func(x))
df_lang13

  lang_master term_master lang_sleeve term_sleeve
0     Turkish       kobra  Portuguese       cobra
1     Turkish      ananas  Portuguese      ananás
2     Turkish       japon  Portuguese       japão
3     Turkish    kapibara  Portuguese    capivara

In [8]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: low_func(x))
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: low_func(x))
df_lang14

   lang_master   term_master lang_sleeve term_sleeve
0      Turkish        kambur  Portuguese     cambiar
1      Turkish      portakal  Portuguese    portugal
2      Turkish         piyon  Portuguese        peão
3      Turkish        ananas  Portuguese      ananás
4      Turkish        ananas  Portuguese      ananás
5      Turkish          port  Portuguese       porto
6      Turkish         japon  Portuguese       japão
7      Turkish       japonca  Portuguese       japão
8      Turkish       bisküvi  Portuguese    biscoito
9      Turkish       almanya  Portuguese    alemanha
10     Turkish      şampanya  Portuguese    campanha
11     Turkish          plaj  Portuguese       praia
12     Turkish         banka  Portuguese       banco
13     Turkish         tente  Portuguese       tenda
14     Turkish         fetiş  Portuguese     feitiço
15     Turkish        tayfun  Portuguese       tufão
16     Turkish         yarın  Portuguese       manhã
17     Turkish       kaşalot  Portuguese   cachalote
18     Turkish       kaşalot  Portuguese     cachola
19     Turkish  japon balığı  Portuguese       japão
20     Turkish     mandalina  Portuguese    mandarim
21     Turkish      karamela  Portuguese    caramelo
22     Turkish       karamel  Portuguese    caramelo
23     Turkish      marmelat  Portuguese   marmelada
24     Turkish          şato  Portuguese     castelo
25     Turkish          jöle  Portuguese       geada
26     Turkish  akselerasyon  Portuguese  aceleração
27     Turkish     i̇spanyol  Portuguese    espanhol
28     Turkish       komando  Portuguese     comando
29     Turkish      kampanya  Portuguese    campanha
30     Turkish          staj  Portuguese     estágio
31     Turkish        peyzaj  Portuguese    paisagem
32     Turkish     bocalamak  Portuguese       pojar
33     Turkish     bocalamak  Portuguese      apoiar
34     Turkish       bandıra  Portuguese    bandeira

In [9]:
df_ety_concat = pd.concat([df_lang11,df_lang12,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

     lang_master term_master lang_sleeve term_sleeve
0        Turkish         gey  Portuguese         gay
1        Turkish      garson  Portuguese      garçon
2        Turkish       kolye  Portuguese      colete
3        Turkish       alkol  Portuguese      álcool
4        Turkish    romantik  Portuguese   romântico
...          ...         ...         ...         ...
5945     Turkish     komando  Portuguese     comando
5946     Turkish        staj  Portuguese     estágio
5947     Turkish      peyzaj  Portuguese    paisagem
5948     Turkish   bocalamak  Portuguese       pojar
5949     Turkish     bandıra  Portuguese    bandeira

[5950 rows x 4 columns]

In [10]:
df_ety_concat.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [11]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

         term
0         gey
1      garson
2       kolye
3       alkol
4    romantik
..        ...
977  marmelat
978   komando
979      staj
980    peyzaj
981   bandıra

[982 rows x 1 columns]

In [12]:
df_master_unique.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [13]:
#df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
#df_word = df_word.head(40000)
##df_word = df_word.loc[:,["word"]]
#df_word.rename(columns={"word":"term"}, inplace=True)
#df_word

In [14]:
#df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
#df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
#df_master_unique_word_merge.reset_index(drop=True, inplace=True)
#df_master_unique_word_merge

In [15]:
#df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
#df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
#df_master_unique_word_merge

In [16]:
#df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [17]:
df_pair_translate = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate

    turkish_word portuguese_word
0            gey             gay
1         garson          garçom
2          kolye           colar
3          alkol          álcool
4       romantik       romântico
..           ...             ...
977     marmelat       marmelada
978      komando         comando
979         staj         estágio
980       peyzaj        paisagem
981      bandıra         Bandira

[982 rows x 2 columns]

In [18]:
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_pair_translate

    turkish_word portuguese_word
0            gey             gay
1         garson          garçom
2          kolye           colar
3          alkol          álcool
4       romantik       romântico
..           ...             ...
977     marmelat       marmelada
978      komando         comando
979         staj         estágio
980       peyzaj        paisagem
981      bandıra         bandira

[982 rows x 2 columns]

In [19]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

     portuguese_word
0                gay
1             garçon
2             colete
3             álcool
4          romântico
...              ...
4633      aceleração
4634         estágio
4635        paisagem
4636           pojar
4637        bandeira

[4638 rows x 1 columns]

In [20]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"}, inplace=True)
df_translate_sleeve_merge

    dict_entry_main portuguese_word
0               gey             gay
1            garson          garçom
2             alkol          álcool
3          romantik       romântico
4          bisiklet       bicicleta
..              ...             ...
407          tayfun           tufão
408        marmelat       marmelada
409         komando         comando
410            staj         estágio
411          peyzaj        paisagem

[412 rows x 2 columns]

In [21]:
df_translate_sleeve_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx", index=False)

In [ ]:
#df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)