#### Language Pair Word Equality

This notebook is used to analyze etymology data and word translation data together over the same pronunciation.

In [22]:
#!pip uninstall googletrans
#import googletrans
#from googletrans import Translator

In [1]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [2]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Italian"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
Italian
Italian (ita)

In [3]:
#Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}").mkdir(parents=True, exist_ok=True)

In [4]:
def low_func(x):
    try:
        var_out = x.lower()
    except:
        var_out = x
    return var_out

In [5]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx")
df_lang11

    lang_master term_master    lang_sleeve term_sleeve
0       Turkish       sıfır        Italian        zero
1       Turkish       sıfır        Italian       cifra
2       Turkish       gitar        Italian    chitarra
3       Turkish      kanser        Italian      cancro
4       Turkish      kanser        Italian    cancello
..          ...         ...            ...         ...
158     Turkish     fırtına  Italian (ita)     fortuna
159     Turkish        moda  Italian (ita)        moda
160     Turkish     sigorta  Italian (ita)     sicurtà
161     Turkish      kaptan  Italian (ita)     capitan
162     Turkish        kasa  Italian (ita)       cassa

[163 rows x 4 columns]

In [6]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12

      lang_master  term_master lang_sleeve  term_sleeve
0         Turkish      palavra     Italian   parolaccia
1         Turkish      palavra     Italian     parolina
2         Turkish      palavra     Italian     parabola
3         Turkish      palavra     Italian       parola
4         Turkish      palavra     Italian   parlamento
...           ...          ...         ...          ...
14778     Turkish  i̇bn-i sina     Italian  avicenniano
14779     Turkish  i̇bn-i sina     Italian    avicennia
14780     Turkish  i̇bn-i sina     Italian  avicennismo
14781     Turkish  i̇bn-i sina     Italian  avicennista
14782     Turkish      gangava     Italian       angamo

[14783 rows x 4 columns]

In [7]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: low_func(x))
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: low_func(x))
df_lang13

    lang_master term_master lang_sleeve term_sleeve
0       Turkish       zebra     Italian       zebra
1       Turkish        papa     Italian        papa
2       Turkish        lira     Italian        lira
3       Turkish      napoli     Italian      napoli
4       Turkish        tema     Italian        tema
..          ...         ...         ...         ...
161     Turkish      sinyor     Italian      signor
162     Turkish     kasadar     Italian       cassa
163     Turkish     kasiyer     Italian    cassiere
164     Turkish     bilanço     Italian    bilancio
165     Turkish       balya     Italian       balla

[166 rows x 4 columns]

In [8]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: low_func(x))
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: low_func(x))
df_lang14

    lang_master term_master lang_sleeve term_sleeve
0       Turkish   tornavida     Italian   tornavite
1       Turkish   tornavida     Italian        vite
2       Turkish      baston     Italian     bastone
3       Turkish        sone     Italian     sonetto
4       Turkish      kambur     Italian    cambiare
..          ...         ...         ...         ...
198     Turkish    kameriye     Italian   camarilla
199     Turkish       izole     Italian     isolato
200     Turkish       izole     Italian     isolare
201     Turkish   bandıralı     Italian    bandiera
202     Turkish     bandıra     Italian       banda

[203 rows x 4 columns]

In [9]:
df_ety_concat = pd.concat([df_lang11,df_lang12,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

      lang_master term_master lang_sleeve term_sleeve
0         Turkish       sıfır     Italian        zero
1         Turkish       sıfır     Italian       cifra
2         Turkish       gitar     Italian    chitarra
3         Turkish      kanser     Italian      cancro
4         Turkish      kanser     Italian    cancello
...           ...         ...         ...         ...
15131     Turkish    kameriye     Italian   camarilla
15132     Turkish       izole     Italian     isolato
15133     Turkish       izole     Italian     isolare
15134     Turkish   bandıralı     Italian    bandiera
15135     Turkish     bandıra     Italian       banda

[15136 rows x 4 columns]

In [10]:
df_ety_concat.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [11]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

           term
0         sıfır
1         gitar
2        kanser
3         şeker
4         şükür
...         ...
1161    portföy
1162      kurye
1163   kameriye
1164      izole
1165  bandıralı

[1166 rows x 1 columns]

In [12]:
df_master_unique.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [13]:
#df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
#df_word = df_word.head(40000)
##df_word = df_word.loc[:,["word"]]
#df_word.rename(columns={"word":"term"}, inplace=True)
#df_word

In [14]:
#df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
#df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
#df_master_unique_word_merge.reset_index(drop=True, inplace=True)
#df_master_unique_word_merge

In [15]:
#df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
#df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
#df_master_unique_word_merge

In [16]:
#df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [17]:
# this data from Google Sheets tranlate result
df_pair_translate = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate

     turkish_word italian_word
0           sıfır     nessuno
1           gitar     chitarra
2          kanser       cancro
3           şeker    caramella
4           şükür       Grazie
...           ...          ...
1161      portföy  portafoglio
1162        kurye   messaggero
1163     kameriye    pergolato
1164        izole      isolato
1165    bandıralı    segnalato

[1166 rows x 2 columns]

In [18]:
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_pair_translate

     turkish_word italian_word
0           sıfır     nessuno
1           gitar     chitarra
2          kanser       cancro
3           şeker    caramella
4           şükür       grazie
...           ...          ...
1161      portföy  portafoglio
1162        kurye   messaggero
1163     kameriye    pergolato
1164        izole      isolato
1165    bandıralı    segnalato

[1166 rows x 2 columns]

In [19]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

      italian_word
0             zero
1            cifra
2         chitarra
3           cancro
4         cancello
...            ...
12063  trempellino
12064  trempellare
12065    camarilla
12066      isolato
12067      isolare

[12068 rows x 1 columns]

In [20]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"}, inplace=True)
df_translate_sleeve_merge

    dict_entry_main italian_word
0             gitar     chitarra
1            kanser       cancro
2             şeker    caramella
3             sosis    salsiccia
4            pijama      pigiama
..              ...          ...
443       fırkateyn      fregata
444          peyzaj    paesaggio
445         portföy  portafoglio
446           kurye   messaggero
447           izole      isolato

[448 rows x 2 columns]

In [21]:
df_translate_sleeve_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx", index=False)

In [ ]:
#df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)