### Etymology TVS File

In [20]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

#### Read TVS And Convert CSV

In [21]:
#df_tvs = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/All/etymwn.tsv", sep="\t")
#df_tvs.rename(columns={"aaq: Pawanobskewi":"column_1","rel:etymological_origin_of":"column_2","eng: Penobscot":"column_3"}, inplace=True)
#df_tvs

In [22]:
#def low_func(x):
#    try:
#        var_out = x.lower()
#    except:
#        var_out = x
#    return var_out

In [23]:
#def strip_func(x):
#    try:
#        var_out = x.strip()
#    except:
#        var_out = x
#    return var_out

In [24]:
#df_col_1 = df_tvs["column_1"].str.split(":", n=-1, expand=True)
#df_col_1 = df_col_1.iloc[:,[0,1]]
#df_col_1.rename(columns={0:"lang",1:"term"}, inplace=True)
#df_col_2 = df_tvs["column_2"].str.split(":", n=-1, expand=True)
#df_col_2 = df_col_2.iloc[:,[1]]
#df_col_2.rename(columns={1:"reltype"}, inplace=True)
#df_col_3 = df_tvs["column_3"].str.split(":", n=-1, expand=True)
#df_col_3 = df_col_3.iloc[:,[0,1]]
#df_col_3.rename(columns={0:"related_lang",1:"related_term"}, inplace=True)

In [25]:
#df_tvs_expand =  pd.concat([df_col_1,df_col_2,df_col_3], axis=1)
#df_tvs_expand

In [26]:
#df_tvs_expand["lang"] = df_tvs_expand["lang"].apply(lambda x: low_func(x))
#df_tvs_expand["lang"] = df_tvs_expand["lang"].apply(lambda x: strip_func(x))
#df_tvs_expand["term"] = df_tvs_expand["term"].apply(lambda x: low_func(x))
#df_tvs_expand["term"] = df_tvs_expand["term"].apply(lambda x: strip_func(x))
#df_tvs_expand["reltype"] = df_tvs_expand["reltype"].apply(lambda x: low_func(x))
#df_tvs_expand["reltype"] = df_tvs_expand["reltype"].apply(lambda x: strip_func(x))
#df_tvs_expand["related_lang"] = df_tvs_expand["related_lang"].apply(lambda x: low_func(x))
#df_tvs_expand["related_lang"] = df_tvs_expand["related_lang"].apply(lambda x: strip_func(x))
#df_tvs_expand["related_term"] = df_tvs_expand["related_term"].apply(lambda x: low_func(x))
#df_tvs_expand["related_term"] = df_tvs_expand["related_term"].apply(lambda x: strip_func(x))

In [27]:
#df_tvs_expand.to_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/All/etymwn.csv", index=False)

#### Read CSV File

##### Part 1

In [28]:
df_etymology = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/All/etymwn.csv")
df_etymology

        lang      term                 reltype related_lang   related_term
0        aaq    senabe  etymological_origin_of          eng         sannup
1        abe  waniigan  etymological_origin_of          eng         wangan
2        abe  waniigan  etymological_origin_of          eng       wannigan
3        abs      beta  etymological_origin_of          zsm           beta
4        adt      yuru  etymological_origin_of          eng           euro
...      ...       ...                     ...          ...            ...
6031425  zul       ya-  etymological_origin_of          zul  inhlamvu yeso
6031426  zul       ya-  etymological_origin_of          zul  inja yasendle
6031427  zul       zi-         is_derived_from          zul           izi-
6031428  zul      zim-         is_derived_from          zul          izim-
6031429  zul      zin-         is_derived_from          zul          izin-

[6031430 rows x 5 columns]

In [29]:
lang_1 = "tur"  # tur, eng, fra, deu, por, spa, ita, nld, ara, rus
lang_2 = "spa"  # tur, eng, fra, deu, por, spa, ita, nld, ara, rus

if lang_1 == "tur":
    lang_3 = "Turkish"
elif lang_1 == "eng":
    lang_3 = "English"
elif lang_1 == "fra":
    lang_3 = "French"
elif lang_1 == "deu":
    lang_3 = "German"
elif lang_1 == "por":
    lang_3 = "Portuguese"
elif lang_1 == "spa":
    lang_3 = "Spanish"
elif lang_1 == "ita":
    lang_3 = "Italian"
elif lang_1 == "nld":
    lang_3 = "Dutch"
elif lang_1 == "ara":
    lang_3 = "Arabic"
elif lang_1 == "rus":
    lang_3 = "Russian"
else:
    pass

if lang_2 == "tur":
    lang_4 = "Turkish"
elif lang_2 == "eng":
    lang_4 = "English"
elif lang_2 == "fra":
    lang_4 = "French"
elif lang_2 == "deu":
    lang_4 = "German"
elif lang_2 == "por":
    lang_4 = "Portuguese"
elif lang_2 == "spa":
    lang_4 = "Spanish"
elif lang_2 == "ita":
    lang_4 = "Italian"
elif lang_2 == "nld":
    lang_4 = "Dutch"
elif lang_2 == "ara":
    lang_4 = "Arabic"
elif lang_2 == "rus":
    lang_4 = "Russian"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}\n{lang_4}")

tur
spa
Turkish
Spanish

In [30]:
#Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_3.capitalize()}").mkdir(parents=True, exist_ok=True)

In [31]:
df_lang1 = df_etymology[df_etymology.lang == f"{lang_1.lower()}"]
df_lang1.reset_index(drop=True, inplace=True)
df_lang1 = df_lang1[~(df_lang1["related_lang"] == f"{lang_1.lower()}")]
df_lang1 = df_lang1[~(df_lang1["related_lang"] == f"{lang_2.lower()}")]
df_lang1

,lang,term,reltype,related_lang,related_term
118,tur,-cı,etymological_origin_of,lad,-djí
457,tur,-luk,etymological_origin_of,hbs,-luk
996,tur,-çi,etymological_origin_of,hye,-չի
1053,tur,afyonkarahisar,etymological_origin_of,eng,afyonkarahisar
1066,tur,allah,etymological_origin_of,rus,аллах
...,...,...,...,...,...
22642,tur,نجار,etymological_origin_of,hye,նաջարյան
22643,tur,نجار,etymological_origin_of,hye,նաջար
22644,tur,‏پاشا‎,etymological_origin_of,hun,pasa
22645,tur,ﮔﺎﻭﺭ,etymological_origin_of,hun,gyaur
22646,tur,ﮔﺎﻭﺭ,etymology,fas,گبر

In [32]:
df_lang2 = df_etymology[df_etymology.lang == f"{lang_2.lower()}"]
df_lang2.reset_index(drop=True, inplace=True)
df_lang2 = df_lang2[~(df_lang2["related_lang"] == f"{lang_1.lower()}")]
df_lang2 = df_lang2[~(df_lang2["related_lang"] == f"{lang_2.lower()}")]
df_lang2

,lang,term,reltype,related_lang,related_term
0,spa,"''[[cabestrante]], [[cabrestante]]''",etymological_origin_of,fra,cabestan
1,spa,''[[de]] [[mala]] [[suerte]]'',etymological_origin_of,hil,dimalas
3,spa,''[[double]] [[step]]'',etymological_origin_of,eng,paso doble
25,spa,-able,etymology,lat,-abilis
41,spa,-ada,etymology,lat,-ata
...,...,...,...,...,...
481471,spa,órgano,etymology,lat,organum
481482,spa,ósmosis,etymology,grc,ὠσμός
481509,spa,último,etymology,lat,ultimus
481518,spa,único,etymology,lat,unicus
481519,spa,único,has_derived_form,por,únicos

In [33]:
df_lang1_lang2 = pd.merge(df_lang1,df_lang2,how="inner",on=["related_lang","related_term"])
df_lang1_lang2.drop_duplicates(inplace=True)
df_lang1_lang2.reset_index(drop=True, inplace=True)
df_lang1_lang2

,lang_x,term_x,reltype_x,related_lang,related_term,lang_y,term_y,reltype_y
0,tur,alman,etymology,fra,allemand,spa,alemán,etymology
1,tur,aristo,etymology,grc,ἀριστοτέλης,spa,aristóteles,etymology
2,tur,pandora,etymology,grc,πανδώρα,spa,pandora,etymology
3,tur,türk,etymological_origin_of,ara,تركي,spa,turquí,etymology
4,tur,web,etymology,eng,web,spa,web,etymology
...,...,...,...,...,...,...,...,...
75,tur,çakal,etymological_origin_of,fra,chacal,spa,chacal,etymology
76,tur,çip,etymology,eng,chip,spa,chip,etymology
77,tur,i̇slam,etymology,ara,اسلام,spa,islam,etymology
78,tur,şef,etymology,fra,chef,spa,jefe,etymology
79,tur,şömine,etymology,fra,cheminée,spa,chimenea,etymology

In [34]:
df_lang1_lang2_result1 = df_lang1_lang2.loc[:,["term_x","term_y"]]
df_lang1_lang2_result1.rename(columns={"term_x":"dict_entry_main","term_y":f"{lang_4.lower()}_word"}, inplace=True)
df_lang1_lang2_result1.reset_index(drop=True, inplace=True)
df_lang1_lang2_result1

   dict_entry_main spanish_word
0            alman       alemán
1           aristo  aristóteles
2          pandora      pandora
3             türk       turquí
4              web          web
..             ...          ...
75           çakal       chacal
76             çip         chip
77          i̇slam        islam
78             şef         jefe
79          şömine     chimenea

[80 rows x 2 columns]

##### Part 2

In [35]:
df_lang1_lang2_result2 = df_etymology[(df_etymology["lang"] == f"{lang_1.lower()}") & (df_etymology["related_lang"] == f"{lang_2.lower()}")]
df_lang1_lang2_result2

        lang     term                 reltype related_lang related_term
5898942  tur  avokado               etymology          spa      avocado
5910928  tur     puro               etymology          spa         puro
5912002  tur   sigara               etymology          spa      cigarro
5912578  tur   sultan  etymological_origin_of          spa       sultán
5913692  tur    tilde               etymology          spa        tilde
5915474  tur   zabata  etymological_origin_of          spa       zapato

In [36]:
df_lang1_lang2_result2 = df_lang1_lang2_result2.loc[:,["term","related_term"]]
df_lang1_lang2_result2.rename(columns={"term":"dict_entry_main","related_term":f"{lang_4.lower()}_word"}, inplace=True)
df_lang1_lang2_result2.reset_index(drop=True, inplace=True)
df_lang1_lang2_result2

  dict_entry_main spanish_word
0         avokado      avocado
1            puro         puro
2          sigara      cigarro
3          sultan       sultán
4           tilde        tilde
5          zabata       zapato

##### Concat Part 1 And Part 2

In [37]:
#df_part1_part2_concat = pd.concat([df_lang1_lang2_word_check,df_lang1_lang2_word_check2], axis=0)
df_part1_part2_concat = pd.concat([df_lang1_lang2_result1,df_lang1_lang2_result2], axis=0)
df_part1_part2_concat.drop_duplicates(inplace=True)
df_part1_part2_concat.reset_index(drop=True, inplace=True)
df_part1_part2_concat

   dict_entry_main spanish_word
0            alman       alemán
1           aristo  aristóteles
2          pandora      pandora
3             türk       turquí
4              web          web
..             ...          ...
81            puro         puro
82          sigara      cigarro
83          sultan       sultán
84           tilde        tilde
85          zabata       zapato

[86 rows x 2 columns]

In [38]:
df_part1_part2_concat.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_3.capitalize()}/{lang_3.capitalize()} {lang_4.capitalize()}/{lang_3.capitalize()}_And_{lang_4.capitalize()}_Etymologeek_Concat_Result2.xlsx", index=False)