## Data

In [213]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [214]:
df = pd.read_csv("train.csv")
df.head()

   id cat0 cat1 cat2 cat3 cat4 cat5 cat6 cat7 cat8 cat9     cont0     cont1     cont2     cont3     cont4     cont5     cont6     cont7     cont8     cont9    cont10    cont11    cont12    cont13    target
0   1    B    B    B    C    B    B    A    E    C    N  0.201470 -0.014822  0.669699  0.136278  0.610706  0.400361  0.160266  0.310921  0.389470  0.267559  0.237281  0.377873  0.322401  0.869850  8.113634
1   2    B    B    A    A    B    D    A    F    A    O  0.743068  0.367411  1.021605  0.365798  0.276853  0.533087  0.558922  0.516294  0.594928  0.341439  0.906013  0.921701  0.261975  0.465083  8.481233
2   3    A    A    A    C    B    D    A    D    A    F  0.742708  0.310383 -0.012673  0.576957  0.285074  0.650609  0.375348  0.902567  0.555205  0.843531  0.748809  0.620126  0.541474  0.763846  8.364351
3   4    B    B    A    C    B    D    A    E    C    K  0.429551  0.620998  0.577942  0.280610  0.284667  0.668980  0.239061  0.732948  0.679618  0.574844  0.346010  0.714610  0.540150  0.280682  8.049253
4   6    A    A    A    C    B    D    A    E    A    N  1.058291  0.367492 -0.052389  0.232407  0.287595  0.686964  0.420667  0.648182  0.684501  0.956692  1.000773  0.776742  0.625849  0.250823  7.972260

In [215]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 26 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      300000 non-null  int64
 1   cat0    300000 non-null  object
 2   cat1    300000 non-null  object
 3   cat2    300000 non-null  object
 4   cat3    300000 non-null  object
 5   cat4    300000 non-null  object
 6   cat5    300000 non-null  object
 7   cat6    300000 non-null  object
 8   cat7    300000 non-null  object
 9   cat8    300000 non-null  object
 10  cat9    300000 non-null  object
 11  cont0   300000 non-null  float64
 12  cont1   300000 non-null  float64
 13  cont2   300000 non-null  float64
 14  cont3   300000 non-null  float64
 15  cont4   300000 non-null  float64
 16  cont5   300000 non-null  float64
 17  cont6   300000 non-null  float64
 18  cont7   300000 non-null  float64
 19  cont8   300000 non-null  float64
 20  cont9   300000 non-null  float64
 21  cont10  300000 non-null  float64
 22  cont11  300000 non-null  float64
 23  cont12  300000 non-null  float64
 24  cont13  300000 non-null  float64
 25  target  300000 non-null  float64
dtypes: float64(15), int64(1), object(10)
memory usage: 59.5+ MB

In [216]:
df.describe()

                  id          cont0          cont1          cont2          cont3          cont4          cont5          cont6          cont7          cont8          cont9         cont10         cont11         cont12         cont13         target
count  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000
mean   250018.576947       0.527335       0.460926       0.490498       0.496689       0.491654       0.510526       0.467476       0.537119       0.498456       0.474872       0.474492       0.473216       0.494561       0.508273       8.241979
std    144450.150010       0.230599       0.214003       0.253346       0.219199       0.240074       0.228232       0.210331       0.218140       0.239920       0.218007       0.255949       0.222022       0.247292       0.222950       0.746555
min         1.000000      -0.118039      -0.069309      -0.056104       0.130676       0.255908       0.045915      -0.224689       0.203763      -0.260275       0.117896       0.048732       0.052608      -0.074208       0.151050       0.140329
25%    124772.500000       0.405965       0.310494       0.300604       0.329783       0.284188       0.354141       0.342873       0.355825       0.332486       0.306874       0.276017       0.308151       0.289074       0.300669       7.742071
50%    250002.500000       0.497053       0.427903       0.502462       0.465026       0.390470       0.488865       0.429383       0.504661       0.439151       0.434620       0.459975       0.433812       0.422887       0.472400       8.191373
75%    375226.500000       0.668060       0.615113       0.647512       0.664451       0.696599       0.669625       0.573383       0.703441       0.606056       0.614333       0.691579       0.642057       0.714502       0.758447       8.728634
max    499999.000000       1.058443       0.887253       1.034704       1.039560       1.055424       1.067649       1.111552       1.032837       1.040229       0.982922       1.055960       1.071444       0.975035       0.905992      10.411992

In [217]:
df.drop("id", axis=1, inplace=True)

In [218]:
df

       cat0 cat1 cat2 cat3 cat4 cat5 cat6 cat7 cat8 cat9     cont0     cont1     cont2     cont3     cont4     cont5     cont6     cont7     cont8     cont9    cont10    cont11    cont12    cont13    target
0         B    B    B    C    B    B    A    E    C    N  0.201470 -0.014822  0.669699  0.136278  0.610706  0.400361  0.160266  0.310921  0.389470  0.267559  0.237281  0.377873  0.322401  0.869850  8.113634
1         B    B    A    A    B    D    A    F    A    O  0.743068  0.367411  1.021605  0.365798  0.276853  0.533087  0.558922  0.516294  0.594928  0.341439  0.906013  0.921701  0.261975  0.465083  8.481233
2         A    A    A    C    B    D    A    D    A    F  0.742708  0.310383 -0.012673  0.576957  0.285074  0.650609  0.375348  0.902567  0.555205  0.843531  0.748809  0.620126  0.541474  0.763846  8.364351
3         B    B    A    C    B    D    A    E    C    K  0.429551  0.620998  0.577942  0.280610  0.284667  0.668980  0.239061  0.732948  0.679618  0.574844  0.346010  0.714610  0.540150  0.280682  8.049253
4         A    A    A    C    B    D    A    E    A    N  1.058291  0.367492 -0.052389  0.232407  0.287595  0.686964  0.420667  0.648182  0.684501  0.956692  1.000773  0.776742  0.625849  0.250823  7.972260
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...
299995    B    B    A    A    B    D    A    E    A    I  0.697124  0.483452  0.297770  0.195821  0.307883  0.769792  0.450538  0.934360  1.005077  0.853726  0.422541  1.063463  0.697685  0.506404  7.945605
299996    A    B    A    C    B    B    A    E    E    F  0.446200  0.715135  0.610931  0.601730  0.736713  0.528056  0.508502  0.358247  0.257825  0.433525  0.301015  0.268447  0.577055  0.823611  7.326118
299997    B    B    A    C    B    C    A    E    G    F  0.544279  0.060937  0.590955  0.905308  0.277074  0.688747  0.372425  0.364936  0.383224  0.551825  0.661007  0.629606  0.714139  0.245732  8.706755
299998    A    B    A    C    B    B    A    E    E    I  0.300062  0.613118  0.285213  0.406851  0.805963  0.344404  0.424243  0.382028  0.468819  0.351036  0.288768  0.611169  0.380254  0.332030  7.229569
299999    A    A    A    C    A    D    A    E    A    O  0.857752  0.628528  0.539625  0.396143  0.276785  0.565347  0.328669  0.789165  0.960406  0.776019  0.734707  0.484392  0.639754  0.689317  8.631146

[300000 rows x 25 columns]

In [219]:
for column in df.select_dtypes('object').columns:
    print(f'Column {column} has {df[column].nunique()} unique values.')

Column cat0 has 2 unique values.
Column cat1 has 2 unique values.
Column cat2 has 2 unique values.
Column cat3 has 4 unique values.
Column cat4 has 4 unique values.
Column cat5 has 4 unique values.
Column cat6 has 8 unique values.
Column cat7 has 8 unique values.
Column cat8 has 7 unique values.
Column cat9 has 15 unique values.

In [220]:
for column in df.select_dtypes('object').columns:
    print(f'Column {column} \n{df[column].value_counts()}')

Column cat0
A    193130
B    106870
Name: cat0, dtype: int64
Column cat1
A    154824
B    145176
Name: cat1, dtype: int64
Column cat2
A    253886
B     46114
Name: cat2, dtype: int64
Column cat3
C    263356
A     31726
D      4328
B       590
Name: cat3, dtype: int64
Column cat4
B    294737
A      2978
C      1772
D       513
Name: cat4, dtype: int64
Column cat5
B    149340
D    126137
C     20248
A      4275
Name: cat5, dtype: int64
Column cat6
A    290511
B      8018
C       928
D       292
I       136
H        56
E        45
G        14
Name: cat6, dtype: int64
Column cat7
E    276040
D     12144
B      8297
G      2870
F       562
C        36
A        31
I        20
Name: cat7, dtype: int64
Column cat8
C    111103
E     79844
A     76585
G     26128
D      5187
F       966
B       187
Name: cat8, dtype: int64
Column cat9
F    71249
I    59218
G    28253
L    20958
H    19925
K    18057
N    16704
B    14477
J    14266
O    14203
A    11029
M     7931
C     1603
D     1088
E     1039
Name: cat9, dtype: int64

In [ ]:
X = X.drop("cat9", axis=1)
X.head()

In [221]:
y = df.target
X = df.drop("target", axis=1)

In [222]:
y.head()

0    8.113634
1    8.481233
2    8.364351
3    8.049253
4    7.972260
Name: target, dtype: float64

In [223]:
X.head()

  cat0 cat1 cat2 cat3 cat4 cat5 cat6 cat7 cat8 cat9     cont0     cont1     cont2     cont3     cont4     cont5     cont6     cont7     cont8     cont9    cont10    cont11    cont12    cont13
0    B    B    B    C    B    B    A    E    C    N  0.201470 -0.014822  0.669699  0.136278  0.610706  0.400361  0.160266  0.310921  0.389470  0.267559  0.237281  0.377873  0.322401  0.869850
1    B    B    A    A    B    D    A    F    A    O  0.743068  0.367411  1.021605  0.365798  0.276853  0.533087  0.558922  0.516294  0.594928  0.341439  0.906013  0.921701  0.261975  0.465083
2    A    A    A    C    B    D    A    D    A    F  0.742708  0.310383 -0.012673  0.576957  0.285074  0.650609  0.375348  0.902567  0.555205  0.843531  0.748809  0.620126  0.541474  0.763846
3    B    B    A    C    B    D    A    E    C    K  0.429551  0.620998  0.577942  0.280610  0.284667  0.668980  0.239061  0.732948  0.679618  0.574844  0.346010  0.714610  0.540150  0.280682
4    A    A    A    C    B    D    A    E    A    N  1.058291  0.367492 -0.052389  0.232407  0.287595  0.686964  0.420667  0.648182  0.684501  0.956692  1.000773  0.776742  0.625849  0.250823

In [224]:
X.corr()

           cont0     cont1     cont2     cont3     cont4     cont5     cont6     cont7     cont8     cont9    cont10    cont11    cont12    cont13
cont0   1.000000 -0.009422 -0.296989  0.211333 -0.109776  0.392456  0.133995  0.294687  0.388510  0.394969  0.363413  0.255941  0.417872  0.023234
cont1  -0.009422  1.000000 -0.000627 -0.002233 -0.000285  0.003812  0.001321  0.013475 -0.021541 -0.002727 -0.001648 -0.017221 -0.006862 -0.010097
cont2  -0.296989 -0.000627  1.000000 -0.180856  0.092780 -0.300140 -0.141724 -0.283989 -0.326456 -0.309118 -0.300273 -0.325023 -0.352009 -0.039815
cont3   0.211333 -0.002233 -0.180856  1.000000 -0.069934  0.201441  0.040133  0.172586  0.185221  0.194807  0.199525  0.140934  0.255117  0.037920
cont4  -0.109776 -0.000285  0.092780 -0.069934  1.000000 -0.148807 -0.044417 -0.095653 -0.122594 -0.123468 -0.132211 -0.115173 -0.151080 -0.012798
cont5   0.392456  0.003812 -0.300140  0.201441 -0.148807  1.000000  0.211800  0.329357  0.392057  0.411366  0.402053  0.308249  0.473964  0.053779
cont6   0.133995  0.001321 -0.141724  0.040133 -0.044417  0.211800  1.000000  0.135333  0.117833  0.187303  0.178168  0.168731  0.171010  0.031183
cont7   0.294687  0.013475 -0.283989  0.172586 -0.095653  0.329357  0.135333  1.000000  0.332639  0.320239  0.283414  0.279405  0.363091  0.056958
cont8   0.388510 -0.021541 -0.326456  0.185221 -0.122594  0.392057  0.117833  0.332639  1.000000  0.406517  0.341430  0.297121  0.434196  0.050163
cont9   0.394969 -0.002727 -0.309118  0.194807 -0.123468  0.411366  0.187303  0.320239  0.406517  1.000000  0.361941  0.327866  0.437776  0.044631
cont10  0.363413 -0.001648 -0.300273  0.199525 -0.132211  0.402053  0.178168  0.283414  0.341430  0.361941  1.000000  0.293860  0.407609  0.041353
cont11  0.255941 -0.017221 -0.325023  0.140934 -0.115173  0.308249  0.168731  0.279405  0.297121  0.327866  0.293860  1.000000  0.363579  0.031141
cont12  0.417872 -0.006862 -0.352009  0.255117 -0.151080  0.473964  0.171010  0.363091  0.434196  0.437776  0.407609  0.363579  1.000000  0.059919
cont13  0.023234 -0.010097 -0.039815  0.037920 -0.012798  0.053779  0.031183  0.056958  0.050163  0.044631  0.041353  0.031141  0.059919  1.000000

In [ ]:
plt.figure(figsize=(12,10))
sns.heatmap(X.corr(), annot=True)

In [225]:
X = pd.get_dummies(X, drop_first=True)

In [226]:
X.head()

      cont0     cont1     cont2     cont3     cont4     cont5     cont6     cont7     cont8     cont9    cont10    cont11    cont12    cont13  cat0_B  cat1_B  cat2_B  cat3_B  cat3_C  cat3_D  cat4_B  cat4_C  cat4_D  cat5_B  cat5_C  cat5_D  cat6_B  cat6_C  cat6_D  cat6_E  cat6_G  cat6_H  cat6_I  cat7_B  cat7_C  cat7_D  cat7_E  cat7_F  cat7_G  cat7_I  cat8_B  cat8_C  cat8_D  cat8_E  cat8_F  cat8_G  cat9_B  cat9_C  cat9_D  cat9_E  cat9_F  cat9_G  cat9_H  cat9_I  cat9_J  cat9_K  cat9_L  cat9_M  cat9_N  cat9_O
0  0.201470 -0.014822  0.669699  0.136278  0.610706  0.400361  0.160266  0.310921  0.389470  0.267559  0.237281  0.377873  0.322401  0.869850       1       1       1       0       1       0       1       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0
1  0.743068  0.367411  1.021605  0.365798  0.276853  0.533087  0.558922  0.516294  0.594928  0.341439  0.906013  0.921701  0.261975  0.465083       1       1       0       0       0       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1
2  0.742708  0.310383 -0.012673  0.576957  0.285074  0.650609  0.375348  0.902567  0.555205  0.843531  0.748809  0.620126  0.541474  0.763846       0       0       0       0       1       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0
3  0.429551  0.620998  0.577942  0.280610  0.284667  0.668980  0.239061  0.732948  0.679618  0.574844  0.346010  0.714610  0.540150  0.280682       1       1       0       0       1       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0
4  1.058291  0.367492 -0.052389  0.232407  0.287595  0.686964  0.420667  0.648182  0.684501  0.956692  1.000773  0.776742  0.625849  0.250823       0       0       0       0       1       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0

In [ ]:
X["cont_sum"] = X.cont0 + X.cont1 + X.cont2 + X.cont3 + X.cont4 + X.cont5 + X.cont6 + X.cont7 + X.cont8 + X.cont9 + X.cont10 + X.cont11 + X.cont12 + X.cont13
X

In [ ]:
X["cont_mul"] = X.cont0 * X.cont1 * X.cont2 * X.cont3 * X.cont4 * X.cont5 * X.cont6 * X.cont7 * X.cont8 * X.cont9 * X.cont10 * X.cont11 * X.cont12 * X.cont13
X

In [ ]:
X.select_dtypes('float64').columns

In [ ]:
X = X.drop(['cont0', 'cont1', 'cont2', 'cont3', 'cont4', 'cont5', 'cont6', 'cont7', 'cont8', 'cont9', 'cont10', 'cont11', 'cont12', 'cont13'], axis=1)
X.head()

In [ ]:
X.head()

### Scale

In [227]:
from sklearn.preprocessing import MinMaxScaler

In [228]:
scaler = MinMaxScaler()

In [229]:
X = scaler.fit_transform(X)

### Metrics

In [230]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [231]:
def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    mse = mean_squared_error(actual, pred)
    score = r2_score(actual, pred)
    return print("r2_score:", score, "\n","mae:", mae, "\n","mse:",mse, "\n","rmse:",rmse)

### Train Test

In [232]:
from sklearn.model_selection import train_test_split

In [233]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

### KNN

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

In [ ]:
knn_model = KNeighborsRegressor()

In [ ]:
knn_model.fit(X_train,y_train)

In [ ]:
y_pred = knn_model.predict(X_test)

In [ ]:
eval_metrics(y_test, y_pred)

### Random Forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rf_model = RandomForestRegressor()

In [ ]:
rf_model.fit(X_train,y_train)

In [ ]:
y_pred =rf_model.predict(X_test)

In [ ]:
eval_metrics(y_test, y_pred)

### XG Boost

In [234]:
from xgboost import XGBRegressor

In [235]:
xg_model = XGBRegressor(learning_rate=0.17, gamma=0.01)

In [236]:
xg_model.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0.01, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.17, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=16, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [237]:
y_pred = xg_model.predict(X_test)

In [238]:
eval_metrics(y_test, y_pred)

r2_score: 0.060207192877037574
 mae: 0.5740360173280792
 mse: 0.5218852431686299
 rmse: 0.7224162533945578