### Selected Ngram Repeat With Youtube Link

In [1]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
from collections import Counter
import re
import pandas as pd
import numpy as np
import glob
import nltk
from nltk import word_tokenize
from nltk import ngrams
from functools import reduce
from pathlib import Path
import shutil

In [2]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

In [3]:
# language pair
lang_folder = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language for learner
#lang_pair = "Intersect"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

# adding native word to shared word
word_start = 0  # 0 native word start index
word_end = 1000  # 28 native word end index

In [4]:
def df_col_value_join_comma(df, df_columns_list):
    '''
    df_col_value_join_comma(df_test, ["video_id","start_time","end_time"])\n
    function used for selected column value join with comma in one row
    '''
    column_value_list = []
    for column in df_columns_list:
        list_var = df[f"{column}"].to_list()
        list_var_string = [str(x) for x in list_var] 
        list_var_join = ",".join(list_var_string)
        column_value_list.append(list_var_join)

    df_result = pd.DataFrame([[column_value_list[0],column_value_list[1],column_value_list[2]]], columns=df_columns_list)

    return df_result

In [5]:
#data_path = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/\
#Deployment3/Data/Manuel Select"

In [6]:
path = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/\
Deployment3/Result/4-Selected Ngram Repeat With Youtube Link"

Path(path).mkdir(parents=True, exist_ok=True)

##### Link Count

In [7]:
# file extention
file_ext = "Fourgram"

In [8]:
path_folder = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment3/Result/Ngram Youtube Link Manuel"
file = f"{lang_folder.capitalize()}_{file_ext}_With_{word_end}_Word_Youtube_Link_Manuel_12.xlsx"   ########*****
#sheet = "Sheet1"  # Sheet1

In [9]:
#df_link_selected_manuel = pd.read_excel(f"{path_folder}/{file}", sheet_name=f"{sheet}")
df_link_selected_manuel = pd.read_excel(f"{path_folder}/{file}")
df_link_selected_manuel

        video_id  start_time  end_time                text
0    3cAaBZ_Aml8          74        76  neden bu kadar çok
1    yOjfgHwn9y8          26        28  neden bu kadar çok
2    yK7PsjTRfwY         246       248  neden bu kadar çok
3    qaZnDHacYSk         515       517  neden bu kadar çok
4    WM2W7dCq3tA         981       983  neden bu kadar çok
..           ...         ...       ...                 ...
328  hM5s4liNn7g         831       833   başka bir şey var
329  UtcBPDTBiko         432       434   başka bir şey var
330  zRpBEE0OT1I         165       167   başka bir şey var
331  wsUGDArhZFg         535       537   başka bir şey var
332  ao2kpL29HwI         454       456   başka bir şey var

[333 rows x 4 columns]

In [10]:
# disabled because of youtube tools
#df_link_selected_manuel["video_url"] = "https://www.youtube.com/watch?v="+df_link_selected_manuel['video_id'].map(str)+"&t="+df_link_selected_manuel['start_time'].map(str)+"s"
#df_link_selected_manuel

In [11]:
df_count = df_link_selected_manuel.groupby(["text"])[["text"]].count()
df_count.rename(columns={"text":"count"}, inplace=True)
df_count.sort_values(by="count", ascending=False, inplace=True)
df_count.reset_index(inplace=True)
df_count

                            text  count
0          bir şey söyleyeyim mi      9
1            gereken bir şey var      9
2              başka bir şey yok      9
3             bu ne demek oluyor      9
4                hiç bir şey yok      9
..                           ...    ...
78  ne düşünüyorum biliyor musun      1
79             sadece sen ve ben      1
80            iyi bir fikrim var      1
81            ne demek oluyor bu      1
82     senin için ne yapabilirim      1

[83 rows x 2 columns]

In [12]:
df_count = df_count[df_count["count"] > 2]

In [13]:
len(df_count)

63

In [14]:
df_count_merge = pd.merge(df_link_selected_manuel, df_count, how="inner",on= "text")
df_count_merge.sort_values(by=["count","text"], ascending=False, inplace=True)
df_count_merge.reset_index(drop=True, inplace=True)
df_count_merge

        video_id  start_time  end_time                   text  count
0    4O_QCCZSoYQ          38        40      hiç böyle bir şey      9
1    o2guE9xdVt8         151       153      hiç böyle bir şey      9
2    o0vdJUDd7hQ         397       399      hiç böyle bir şey      9
3    RuVVxns8wh0         190       192      hiç böyle bir şey      9
4    wBjDafmCd_c        3408      3410      hiç böyle bir şey      9
..           ...         ...       ...                    ...    ...
298  YYCPETGxTuE         161       163       bir sorun mu var      3
299  AevAo6AUCiQ         113       115       bir sorun mu var      3
300  YZ0Z8t15620          18        20  benim için çok önemli      3
301  HhrBZuxjFxM         948       950  benim için çok önemli      3
302  yuApyHAH_lg         396       398  benim için çok önemli      3

[303 rows x 5 columns]

In [38]:
df_count.to_excel(f"{path_folder}/{file_ext} Video List.xlsx", index=False)

In [39]:
df_count_merge.to_excel(f"{path_folder}/{lang_folder.capitalize()}_{file_ext}_With_{word_end}_Word_Youtube_Link_Manuel_Count.xlsx", index=False)   ########*****

##### Link Repeat

In [15]:
master_path_folder_file = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment3/Data/\
Manuel Select/Revised Ngrams All in One.xlsx"
sheet = "Sheet2"

In [16]:
df_file = pd.read_excel(f"{master_path_folder_file}", sheet_name=f"{sheet}")
#df_file = pd.read_excel(f"twogram.xlsx")
df_file

                   fourgram          threegram      twogram
0    bana yardım eder misin                NaN          NaN
1    bana yardım eder misin                NaN          NaN
2    bana yardım eder misin  yardım eder misin   eder misin
3    bana yardım eder misin  yardım eder misin  yardım eder
4        başka bir şey daha      başka bir şey      bir şey
..                      ...                ...          ...
495                     NaN       çok kötü bir     çok kötü
496                     NaN      bir şey olmaz          NaN
497                     NaN       şuna bir bak      bir bak
498                     NaN       şuna bir bak          NaN
499                     NaN           ve bu da        ve bu

[500 rows x 3 columns]

In [17]:
# ******  
path_folder_file = f"{path_folder}/{lang_folder.capitalize()}_{file_ext}_With_{word_end}_Word_Youtube_Link_Manuel_Count_Select.xlsx"   # from youtube tool

In [18]:
#df_word_group_time_loc = pd.read_excel(f"{path_folder_file2}", sheet_name=f"{sheet2}")
df_word_group_time_loc = pd.read_excel(f"{path_folder_file}")
#df_word_group_time_loc = pd.read_excel(f"Twogram Threegram Youtube Link Selected_Manuel.xlsx")   
df_word_group_time_loc

        video_id  start_time  end_time                   text
0    4O_QCCZSoYQ          38        40      hiç böyle bir şey
1    o2guE9xdVt8         151       153      hiç böyle bir şey
2    o0vdJUDd7hQ         397       399      hiç böyle bir şey
3    RuVVxns8wh0         190       192      hiç böyle bir şey
4    wBjDafmCd_c        3408      3410      hiç böyle bir şey
..           ...         ...       ...                    ...
279  YYCPETGxTuE         161       163       bir sorun mu var
280  AevAo6AUCiQ         113       115       bir sorun mu var
281  YZ0Z8t15620          18        20  benim için çok önemli
282  HhrBZuxjFxM         948       950  benim için çok önemli
283  yuApyHAH_lg         396       398  benim için çok önemli

[284 rows x 4 columns]

In [44]:
df_count2 = df_word_group_time_loc.groupby(["text"])[["text"]].count()
df_count2.rename(columns={"text":"count"}, inplace=True)
df_count2.sort_values(by="count", ascending=False, inplace=True)
df_count2.reset_index(inplace=True)
df_count2

                       text  count
0        başka bir şey daha      7
1     bir şey söyleyeyim mi      7
2       yapacak bir şey yok      7
3   sana bir şey söyleyeyim      7
4         hiç böyle bir şey      7
..                      ...    ...
58         bir sorun mu var      3
59         diye bir şey yok      3
60      daha önce hiç böyle      3
61  böyle bir şey olmayacak      3
62          en son ne zaman      3

[63 rows x 2 columns]

In [45]:
df_word_group_time_loc = pd.merge(df_word_group_time_loc, df_count2, how="left", on="text")
df_word_group_time_loc.drop_duplicates(inplace=True)
df_word_group_time_loc

        video_id  start_time  end_time                   text  count
0    4O_QCCZSoYQ          38        40      hiç böyle bir şey      7
1    o2guE9xdVt8         151       153      hiç böyle bir şey      7
2    o0vdJUDd7hQ         397       399      hiç böyle bir şey      7
3    RuVVxns8wh0         190       192      hiç böyle bir şey      7
4    wBjDafmCd_c        3408      3410      hiç böyle bir şey      7
..           ...         ...       ...                    ...    ...
279  YYCPETGxTuE         161       163       bir sorun mu var      3
280  AevAo6AUCiQ         113       115       bir sorun mu var      3
281  YZ0Z8t15620          18        20  benim için çok önemli      3
282  HhrBZuxjFxM         948       950  benim için çok önemli      3
283  yuApyHAH_lg         396       398  benim için çok önemli      3

[284 rows x 5 columns]

In [46]:
search_list = df_word_group_time_loc.loc[:,"text"].unique()
len(search_list)

63

In [47]:
# other option 
# mUf7VNqChac =>  black screen
# 0_CDMstFg7M => 10sn
# bj1JRuyYeco => 20sn
# cElhIDdGz7M => screensaver
default_video_id = "Q-8I-uMUMYA"
#df_link_default = pd.DataFrame(data=[["repeat",5,7,"repeat_again",f"{default_video_id}",f"https://www.youtube.com/watch?v={default_video_id}&t=0s"]], columns=["text","start_time","end_time","sentence","video_id","video_url"])
df_link_default = pd.DataFrame(data=[["repeat",5,7,"repeat_again",f"{default_video_id}"]], columns=["text","start_time","end_time","sentence","video_id"])
df_link_default

     text  start_time  end_time      sentence     video_id
0  repeat           5         7  repeat_again  Q-8I-uMUMYA

In [48]:
#(df_result_repeat["end_time"].sum()-df_result_repeat["start_time"].sum())/60

In [49]:
# Each word group result convert to join result in one row
df_all_join_result = pd.DataFrame()
seq_num = 0  # option
for word_group in search_list:
    df_result_repeat = pd.DataFrame()
    # for repeat 1
    df_word_group_search_repeat1 = df_word_group_time_loc[df_word_group_time_loc["text"] == word_group]
    # for repeat 2
    try:
        df_word_group_search_repeat2 = df_word_group_time_loc[df_word_group_time_loc["text"] == word_group].sample(1)
    except:
        df_word_group_search_repeat2 = df_word_group_time_loc[df_word_group_time_loc["text"] == word_group].tail(1)
    df_word_group_search_repeat2.reset_index(drop=True, inplace=True)   
    # repeat block
    for i in range(len(df_word_group_search_repeat1)):        
        df_result_repeat = pd.concat([df_result_repeat,df_word_group_search_repeat1.iloc[[i,]]], axis=0)

    try:
        df_link_default_var = df_link_default
        word_time_diff_var = df_word_group_search_repeat2.loc[0 ,"end_time"] - df_word_group_search_repeat2.loc[0 ,"start_time"]
        if word_time_diff_var < 4:
            word_time_diff_var2 = 3
        else:
            word_time_diff_var2 = word_time_diff_var+1.0

        df_link_default_var.loc[0,"end_time"] = df_link_default_var.loc[0,"start_time"] + word_time_diff_var2
    except:
        pass

    for j in range(3):
        df_result_repeat = pd.concat([df_result_repeat,df_word_group_search_repeat2], axis=0)
        df_result_repeat = pd.concat([df_result_repeat,df_link_default_var], axis=0)
        df_result_repeat.reset_index(drop=True, inplace=True)

    df_result_repeat_var = df_col_value_join_comma(df_result_repeat, ["video_id","start_time","end_time"]) 
    df_result_repeat_var.loc[0,["text"]] = f"{word_group}"  # option for search string
    df_result_repeat_var.loc[0,["count"]] = df_result_repeat.loc[0,"count"] # option for count num     
    df_all_join_result = pd.concat([df_all_join_result,df_result_repeat_var], axis=0)

df_all_join_result.reset_index(drop=True, inplace=True)
df_all_join_result["web_format"] = f"[play_lms_videos video_id="+df_all_join_result["video_id"].map(str)+" start_\
time="+df_all_join_result["start_time"].map(str)+" end_time="+df_all_join_result["end_time"].map(str)+"]"
df_all_join_result.to_excel(f"{lang_folder.capitalize()}_{word_end}_Word_Youtube_Talk_Time_Join_{file_ext}.xlsx", index=False)

In [50]:
df_all_join_result

,video_id,start_time,end_time,text,count,web_format
0,"4O_QCCZSoYQ,o2guE9xdVt8,o0vdJUDd7hQ,RuVVxns8wh...","38,151,397,190,3408,52,610,190,5,190,5,190,5","40,153,399,192,3410,54,612,192,8,192,8,192,8",hiç böyle bir şey,7.0,"[play_lms_videos video_id=4O_QCCZSoYQ,o2guE9xd..."
1,"f57lDadHW7w,nbyZeB6ovkY,HH9H9diryt8,iw7ytmOa5o...","487,183,1474,764,162,338,98,162,5,162,5,162,5","489,185,1476,766,165,340,100,165,8,165,8,165,8",hiç bir şey yok,7.0,"[play_lms_videos video_id=f57lDadHW7w,nbyZeB6o..."
2,"dzv7nR7Fpus,2SS88Z9WIRw,vdrZQOKvsZM,7jLcYDyLcY...","958,772,66,32,266,83,605,958,5,958,5,958,5","960,774,68,34,268,85,607,960,8,960,8,960,8",gereken bir şey var,7.0,"[play_lms_videos video_id=dzv7nR7Fpus,2SS88Z9W..."
3,"js3Lm9YbWpQ,PxkMtDYEmhA,vdrZQOKvsZM,wLVTXAqOcH...","74,214,583,210,1094,879,1228,74,5,74,5,74,5","76,216,585,212,1096,881,1230,76,8,76,8,76,8",bu ne demek oluyor,7.0,"[play_lms_videos video_id=js3Lm9YbWpQ,PxkMtDYE..."
4,"eLY2q3MiaUQ,h93wXNLXmYU,wBjDafmCd_c,gm9X3qR1GR...","32,1153,4366,187,125,3253,693,3253,5,3253,5,32...","34,1155,4368,189,127,3255,695,3255,8,3255,8,32...",bir şey söyleyeyim mi,7.0,"[play_lms_videos video_id=eLY2q3MiaUQ,h93wXNLX..."
...,...,...,...,...,...,...
58,"TLv5OWfkU8U,vhmLncm06Wc,MKX0zLqY7YU,TLv5OWfkU8...","6207,2986,1290,6207,5,6207,5,6207,5","6209,2988,1292,6209,8,6209,8,6209,8",bir şey yok mu,3.0,"[play_lms_videos video_id=TLv5OWfkU8U,vhmLncm0..."
59,"h07c3ds0dGw,MvUL_IHyESU,TO1xscJMX04,h07c3ds0dG...","211,1266,299,211,5,211,5,211,5","213,1268,301,213,8,213,8,213,8",bir şey var mı,3.0,"[play_lms_videos video_id=h07c3ds0dGw,MvUL_IHy..."
60,"HhrBZuxjFxM,mJncKRivnNo,NOZqjtwj26M,mJncKRivnN...","4479,311,61,311,5,311,5,311,5","4481,313,63,313,8,313,8,313,8",bir şey söyledi mi,3.0,"[play_lms_videos video_id=HhrBZuxjFxM,mJncKRiv..."
61,"s4MqASVecXc,YYCPETGxTuE,AevAo6AUCiQ,YYCPETGxTu...","3746,161,113,161,5,161,5,161,5","3748,163,115,163,8,163,8,163,8",bir sorun mu var,3.0,"[play_lms_videos video_id=s4MqASVecXc,YYCPETGx..."
62,"YZ0Z8t15620,HhrBZuxjFxM,yuApyHAH_lg,yuApyHAH_l...","18,948,396,396,5,396,5,396,5","20,950,398,398,8,398,8,398,8",benim için çok önemli,3.0,"[play_lms_videos video_id=YZ0Z8t15620,HhrBZuxj..."

##### Check Missing Ngram

In [ ]:
df_ngram_not_in_master_result = pd.DataFrame(set(df_file[f"{file_ext.lower()}"].dropna()).difference(set(df_word_group_time_loc["text"])), columns=[f"{file_ext.lower()}"])
df_ngram_not_in_master_result

                         fourgram
0                bu iyi bir fikir
1                 ne fark eder ki
2         her şey kontrol altında
3              iyi bir fikrim var
4               bu da neydi böyle
5       bir şeye ihtiyacın olursa
6                 bir şey mi oldu
7              bunu sen mi yaptın
8    ne düşünüyorum biliyor musun
9               bir şey buldun mu
10              sadece sen ve ben
11               evet mi hayır mı
12            neden bu kadar uzun
13  istiyor musun istemiyor musun
14       bunu biliyorsun değil mi
15         daha önce hiç görmedim
16              hepsi bu kadar mı
17  nerede olduğunu biliyor musun
18               evet ben de öyle
19              bir şey duydun mu
20       her şey için teşekkürler
21         bana yardım eder misin
22                 bu da ne böyle
23            bir şey ister misin
24         ne demek biliyor musun
25    sana yardım etmek istiyorum
26          için her şeyi yaparım
27             ne demek oluyor bu
28       şaka yapıyorsun değil mi
29      senin için ne yapabilirim
30               bu hiç iyi değil
31    sen ne yaptığını sanıyorsun
32      sizin için ne yapabilirim
33             her şey iyi olacak
34           seni görmek ne güzel
35              sakin ol tamam mı
36   bunu yapmak zorunda değilsin

In [ ]:
df_ngram_not_in_master_result.to_excel("", index=False)

#### Copy Move And Delete

In [51]:
output_file = glob.glob(f"{lang_folder.capitalize()}_{word_end}_Word_Youtube_Talk_Time_Join_*.xlsx")
output_file

['Turkish_1000_Word_Youtube_Talk_Time_Join_Twogram.xlsx',
 'Turkish_1000_Word_Youtube_Talk_Time_Join_Threegram.xlsx',
 'Turkish_1000_Word_Youtube_Talk_Time_Join_Fourgram.xlsx']

In [52]:
for k in output_file:
    source = k # source directory
    destination = path
    shutil.copy2(source, destination)

In [53]:
for i in output_file:
    try:
        os.remove(i)
    except:
        pass