### N Gram Analysis In Data Frame

In [1]:
import pandas as pd
import numpy as np
import nltk
from nltk import ngrams

In [9]:
df_sent = pd.read_csv("Sentence_Tokenize_Sample.csv")
df_sent

,sentence,frequency,ratio,cumul_ratio
0,evet,353,1.209360,1.209360
1,hayır,227,0.777690,1.987050
2,ne,109,0.373428,2.360478
3,teşekkürler,64,0.219261,2.579739
4,merhaba,59,0.202131,2.781870
...,...,...,...,...
14256,ona her şeyi anlattım,1,0.003426,99.986296
14257,bunun kabalık olduğunu düşünmüyor musun,1,0.003426,99.989722
14258,kimliğini saklamak ve savunmasız olduğu anda r...,1,0.003426,99.993148
14259,çok sinsi ve alçakça,1,0.003426,99.996574
14260,ama başk,1,0.003426,100.000000

In [10]:
df_sent = df_sent.head(30)

In [4]:
df_sent.iloc[2, 1]

109

In [17]:
# 1 Way
n = 2
n_gram_dict = {}
count_index = 0
for i in df_sent.sentence:
    try:
        n_gram = ngrams(i.split(),n)
        for j in n_gram:
            #j = " ".join(j)
            n_gram_dict[j] = df_sent.iloc[count_index, 1] # 1 equal to frequency
    except:
        pass
    count_index += 1
print(n_gram_dict)

{('öyle', 'mi'): 49, ('tamam', 'mı'): 48, ('aman', 'tanrım'): 42, ('ne', 'oldu'): 38, ('iyi', 'misin'): 36, ('teşekkür', 'ederim'): 33, ('bay', 'burke'): 30, ('özür', 'dilerim'): 27, ('seni', 'seviyorum'): 27, ('hayır', 'hayır'): 24}

1

In [ ]:
twogram_1 = []
n = 2
twograms = ngrams(text_data_clean.split(), n)

for grams in twograms:
    twogram_1.append(list(grams))
twogram_1

In [12]:
dict_1 = {"ali":"ata", "emel":"ılık", "ali":"bak"}

In [13]:
print(dict_1)

{'ali': 'bak', 'emel': 'ılık'}

In [14]:
pd.DataFrame(data=[dict_1.keys(),dict_1.values()]).transpose()

      0     1
0   ali   bak
1  emel  ılık