### N Gram Analysis In Data Frame

In [3]:
import pandas as pd
import numpy as np
import nltk
from nltk import ngrams

In [2]:
df_sent = pd.read_csv("Sentence_Tokenize_Sample.csv")
df_sent

                            sentence  frequency     ratio  cumul_ratio
0                              hayır        132  0.784827     0.784827
1                               evet        128  0.761044     1.545871
2                       evet efendim         98  0.582674     2.128545
3                              boris         54  0.321065     2.449611
4                              neden         52  0.309174     2.758785
...                              ...        ...       ...          ...
6057  yaptığına ateşle oynamak denir          1  0.005946    99.970272
6058       işin riskinden haberdardı          1  0.005946    99.976217
6059                     hayır yaman          1  0.005946    99.982163
6060                 adı bu değil mi          1  0.005946    99.988109
6061                     şayet yamin          1  0.005946    99.994054

[6062 rows x 4 columns]

In [30]:
df_sent = df_sent.head(30)

In [32]:
df_sent.iloc[2, 1]

98

In [ ]:
n = 2
n_gram_dict = {}
count_index = 0
for i in df_sent.sentence:
    try:
        n_gram = ngrams(i.split(),n)
        for j in n_gram:
            n_gram_dict[j] = df_sent.iloc[count_index, 1] # 1 equal to frequency
    except:
        pass
    count_index += 1
print()

In [29]:
df_sent.loc[6061,"frequency"]

1

In [ ]:
twogram_1 = []
n = 2
twograms = ngrams(text_data_clean.split(), n)

for grams in twograms:
    twogram_1.append(list(grams))
twogram_1

In [6]:
dict_1 = {"ali":"ata", "emel":"ılık"}

In [17]:
pd.DataFrame(data=[dict_1.keys(),dict_1.values()]).transpose()

      0     1
0   ali   ata
1  emel  ılık