### N Gram Analysis In Data Frame

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_sent = pd.read_csv("Sentence_Tokenize_Sample.csv")
df_sent

                            sentence  frequency     ratio  cumul_ratio
0                              hayır        132  0.784827     0.784827
1                               evet        128  0.761044     1.545871
2                       evet efendim         98  0.582674     2.128545
3                              boris         54  0.321065     2.449611
4                              neden         52  0.309174     2.758785
...                              ...        ...       ...          ...
6057  yaptığına ateşle oynamak denir          1  0.005946    99.970272
6058       işin riskinden haberdardı          1  0.005946    99.976217
6059                     hayır yaman          1  0.005946    99.982163
6060                 adı bu değil mi          1  0.005946    99.988109
6061                     şayet yamin          1  0.005946    99.994054

[6062 rows x 4 columns]