### Quaran N Gram

In [1]:
#!pip install lang-trans

In [1]:
import pandas as pd
import numpy as np
import re
from camel_tools.utils.charmap import CharMapper
from lang_trans.arabic import buckwalter
import nltk
from nltk import word_tokenize
from nltk import ngrams

##### NLTK N Gram From Text

In [2]:
df_word = pd.read_excel("Arabic_And_Simple_Word.xlsx")

In [3]:
df_word

       num_1  num_2  num_3 arabic_simple        arabic   form_concat
0          1      1      1           بسم        بِسْمِ        bisomi
1          1      1      2          ٱلله       ٱللَّهِ       {ll~ahi
2          1      1      3        ٱلرحمن  ٱلرَّحْمَٰنِ  {lr~aHoma`ni
3          1      1      4        ٱلرحيم    ٱلرَّحِيمِ    {lr~aHiymi
4          1      2      1         ٱلحمد     ٱلْحَمْدُ     {loHamodu
...      ...    ...    ...           ...           ...           ...
77424    114      5      4          صدور       صُدُورِ       Suduwri
77425    114      5      5         ٱلناس      ٱلنَّاسِ      {ln~aAsi
77426    114      6      1            من          مِنَ          mina
77427    114      6      2         ٱلجنة    ٱلْجِنَّةِ    {lojin~api
77428    114      6      3        وٱلناس    وَٱلنَّاسِ    wa{ln~aAsi

[77429 rows x 6 columns]

In [5]:
arabic_list =  df_word.iloc[:,4].to_list() # arabic extended

In [7]:
arabic_concat = " ".join(arabic_list) # arabic text
#arabic_concat

In [ ]:
# N gram from text data and DataFrame output
#ngram_type = "twogram"
def text_ngram(text, ngram_num, ngram_type): # text_ngram(arabic_concat, 2, "twogram") ...
    n_gram = ngrams(text.split(), ngram_num)
    n_gram_list = []
    for i in n_gram:
        n_gram_group = " ".join(i)
        n_gram_list.append(n_gram_group)
    df_ngram = pd.DataFrame(n_gram_list, columns=[f"{ngram_type.lower()}"])
    df_ngram = pd.DataFrame(df_ngram.iloc[:,0].value_counts(ascending=False))
    df_ngram.reset_index(inplace=True)
    df_ngram.rename(columns={"index":f"{ngram_type.lower()}", f"{ngram_type.lower()}":"frequency"}, inplace=True)
    return df_ngram

In [265]:
n = 2
n_gram = ngrams(arabic_concat.split(), n)
n_gram_list = []
for i in n_gram:
    n_gram_group = " ".join(i)
    n_gram_list.append(n_gram_group)

In [273]:
df_extend_ngram = pd.DataFrame(n_gram_list, columns=["twogram"])
df_extend_ngram

                       twogram
0               بِسْمِ ٱللَّهِ
1         ٱللَّهِ ٱلرَّحْمَٰنِ
2      ٱلرَّحْمَٰنِ ٱلرَّحِيمِ
3         ٱلرَّحِيمِ ٱلْحَمْدُ
4            ٱلْحَمْدُ لِلَّهِ
...                        ...
77424              فِى صُدُورِ
77425         صُدُورِ ٱلنَّاسِ
77426            ٱلنَّاسِ مِنَ
77427          مِنَ ٱلْجِنَّةِ
77428    ٱلْجِنَّةِ وَٱلنَّاسِ

[77429 rows x 1 columns]

In [274]:
df_extend_ngram = pd.DataFrame(df_extend_ngram.iloc[:,0].value_counts(ascending=False))
df_extend_ngram.reset_index(inplace=True)
df_extend_ngram.rename(columns={"index":"twogram", "twogram":"frequency"}, inplace=True)
df_extend_ngram

                         twogram  frequency
0                  إِنَّ ٱللَّهَ        205
1                  فِى ٱلْأَرْضِ        176
2           ٱلَّذِينَ ءَامَنُوا۟        148
3            ٱلَّذِينَ كَفَرُوا۟        115
4      ٱلسَّمَٰوَٰتِ وَٱلْأَرْضِ         95
...                          ...        ...
52610            ٱلرَّأْىِ وَمَا          1
52611              نَرَىٰ لَكُمْ          1
52612                مِن فَضْلٍۭ          1
52613               فَضْلٍۭ بَلْ          1
52614              ٱلنَّاسِ مِنَ          1

[52615 rows x 2 columns]

In [16]:
# 2 way from def func
#df_extend_ngram = text_ngram(arabic_concat, 2, "twogram")
#df_extend_ngram

In [ ]:
#df_extend_ngram.to_excel("Arabic_Word_Twogram_Frequency.xlsx", sheet_name="Arabic_Twogram", index=False)

In [8]:
arabic_simple_word_list =  df_word.iloc[:,3].to_list() # arabic_simple

In [9]:
arabic_simple_word_concat = " ".join(arabic_simple_word_list)
#arabic_simple_word_concat

In [14]:
df_simple_ngram = text_ngram(arabic_simple_word_concat, 2, "twogram")
df_simple_ngram

             twogram  frequency
0            إن ٱلله        205
1           فى ٱلأرض        176
2       ٱلذين ءامنوا        148
3             ي أيها        142
4      ٱلسموت وٱلأرض        133
...              ...        ...
49820   ٱلأمر وٱستوت          1
49821     وٱستوت على          1
49822     على ٱلجودى          1
49823    ٱلجودى وقيل          1
49824     صدور ٱلناس          1

[49825 rows x 2 columns]

In [ ]:
#df_simple_ngram.to_excel("Arabic_Simple_Word_Twogram_Frequency.xlsx", sheet_name="Arabic_Twogram", index=False)

##### NLTK N Gram From DataFrame

In [ ]:
#df_word = pd.read_excel("Arabic_And_Simple_Word.xlsx")

In [340]:
df_buckwalter = df_word.iloc[:,[0,1,2,5]]
df_buckwalter

       num_1  num_2  num_3    buckwalter
0          1      1      1        bisomi
1          1      1      2       {ll~ahi
2          1      1      3  {lr~aHoma`ni
3          1      1      4    {lr~aHiymi
4          1      2      1     {loHamodu
...      ...    ...    ...           ...
77424    114      5      4       Suduwri
77425    114      5      5      {ln~aAsi
77426    114      6      1          mina
77427    114      6      2    {lojin~api
77428    114      6      3    wa{ln~aAsi

[77429 rows x 4 columns]

In [344]:
df_buckwalter.groupby(["num_1","num_2"])["buckwalter"].apply(" ".join).reset_index()

      num_1  num_2                                buckwalter
0         1      1    bisomi {ll~ahi {lr~aHoma`ni {lr~aHiymi
1         1      2     {loHamodu lil~ahi rab~i {loEa`lamiyna
2         1      3                   {lr~aHoma`ni {lr~aHiymi
3         1      4                   ma`liki yawomi {ld~iyni
4         1      5  <iy~aAka naEobudu wa<iy~aAka nasotaEiynu
...     ...    ...                                       ...
6231    114      2                           maliki {ln~aAsi
6232    114      3                          <ila`hi {ln~aAsi
6233    114      4        min $ar~i {lowasowaAsi {loxan~aAsi
6234    114      5   {l~a*iY yuwasowisu fiY Suduwri {ln~aAsi
6235    114      6                mina {lojin~api wa{ln~aAsi

[6236 rows x 3 columns]

In [345]:
#pd.DataFrame(df_buckwalter.groupby(["num_1","num_2"])["buckwalter"].apply(" ".join)).reset_index()

In [346]:
df_buckwalter_concat = df_buckwalter.groupby(["num_1","num_2"])["buckwalter"].apply(" ".join).reset_index()
df_buckwalter_concat

      num_1  num_2                                buckwalter
0         1      1    bisomi {ll~ahi {lr~aHoma`ni {lr~aHiymi
1         1      2     {loHamodu lil~ahi rab~i {loEa`lamiyna
2         1      3                   {lr~aHoma`ni {lr~aHiymi
3         1      4                   ma`liki yawomi {ld~iyni
4         1      5  <iy~aAka naEobudu wa<iy~aAka nasotaEiynu
...     ...    ...                                       ...
6231    114      2                           maliki {ln~aAsi
6232    114      3                          <ila`hi {ln~aAsi
6233    114      4        min $ar~i {lowasowaAsi {loxan~aAsi
6234    114      5   {l~a*iY yuwasowisu fiY Suduwri {ln~aAsi
6235    114      6                mina {lojin~api wa{ln~aAsi

[6236 rows x 3 columns]

In [ ]:
# Encoding Extended
# -*- coding: utf-8 -*-

# Arabic Transliteration based on Buckwalter
# dictionary source is buckwalter2unicode.py http://www.redhat.com/archives/fedora-extras-commits/2007-June/msg03617.html 

buck2uni = {"'": u"\u0621", # hamza-on-the-line
            "|": u"\u0622", # madda
            ">": u"\u0623", # hamza-on-'alif
            "&": u"\u0624", # hamza-on-waaw
            "<": u"\u0625", # hamza-under-'alif
            "}": u"\u0626", # hamza-on-yaa'
            "A": u"\u0627", # bare 'alif
            "b": u"\u0628", # baa'
            "p": u"\u0629", # taa' marbuuTa
            "t": u"\u062A", # taa'
            "v": u"\u062B", # thaa'
            "j": u"\u062C", # jiim
            "H": u"\u062D", # Haa'
            "x": u"\u062E", # khaa'
            "d": u"\u062F", # daal
            "*": u"\u0630", # dhaal
            "r": u"\u0631", # raa'
            "z": u"\u0632", # zaay
            "s": u"\u0633", # siin
            "$": u"\u0634", # shiin
            "S": u"\u0635", # Saad
            "D": u"\u0636", # Daad
            "T": u"\u0637", # Taa'
            "Z": u"\u0638", # Zaa' (DHaa')
            "E": u"\u0639", # cayn
            "g": u"\u063A", # ghayn
            "_": u"\u0640", # taTwiil
            "f": u"\u0641", # faa'
            "q": u"\u0642", # qaaf
            "k": u"\u0643", # kaaf
            "l": u"\u0644", # laam
            "m": u"\u0645", # miim
            "n": u"\u0646", # nuun
            "h": u"\u0647", # haa'
            "w": u"\u0648", # waaw
            "Y": u"\u0649", # 'alif maqSuura
            "y": u"\u064A", # yaa'
            "F": u"\u064B", # fatHatayn
            "N": u"\u064C", # Dammatayn
            "K": u"\u064D", # kasratayn
            "a": u"\u064E", # fatHa
            "u": u"\u064F", # Damma
            "i": u"\u0650", # kasra
            "~": u"\u0651", # shaddah
            "o": u"\u0652", # sukuun
            "^": u"\u0653", # maddah
            "#": u"\u0654", # hamzaabove            
            "`": u"\u0670", # dagger 'alif
            "{": u"\u0671", # waSla
            "P": u"\u067E", # arabicletterpeh
            "J": u"\u0686", 
            "V": u"\u06A4", # arabicletterveh
            "G": u"\u06AF", # arabiclettergaf
            ":": u"\u06DC", # smallhighseen
            "@": u"\u06DF", # smallhighroundedzero
            "\"": u"\u06E0", # smallhighuprightrectangularzero
            "[": u"\u06E2", # smallhighmeemisolatedform
            ";": u"\u06E3", # smalllowseen
            ",": u"\u06E5", # smallwaw
            ".": u"\u06E6", # smallya
            "!": u"\u06E8", # smallhighnoon
            "-": u"\u06EA", # emptycentrelowstop
            "+": u"\u06EB", # emptycentrehighstop
            "%": u"\u06EC", # roundedhighstopwithfilledcentre
            "]": u"\u06ED", # smalllowmeem           
}

def transString(string, reverse=0):
    '''Given a Unicode string, transliterate into Buckwalter. To go from
    Buckwalter back to Unicode, set reverse=1'''

    for k, v in buck2uni.items():
      if not reverse:
            string = string.replace(v, k)
      else:
            string = string.replace(k, v)

    return string

In [ ]:
# Simple Technique
# -*- coding: utf-8 -*-

# Arabic Transliteration based on Buckwalter
# dictionary source is buckwalter2unicode.py http://www.redhat.com/archives/fedora-extras-commits/2007-June/msg03617.html 

buck2unisimple = {"'": u"\u0621", # hamza-on-the-line
            "|": u"\u0622", # madda
            ">": u"\u0623", # hamza-on-'alif
            "&": u"\u0624", # hamza-on-waaw
            "<": u"\u0625", # hamza-under-'alif
            "A": u"\u0627", # bare 'alif
            "b": u"\u0628", # baa'
            "p": u"\u0629", # taa' marbuuTa
            "t": u"\u062A", # taa'
            "v": u"\u062B", # thaa'
            "j": u"\u062C", # jiim
            "H": u"\u062D", # Haa'
            "x": u"\u062E", # khaa'
            "d": u"\u062F", # daal
            "*": u"\u0630", # dhaal
            "r": u"\u0631", # raa'
            "z": u"\u0632", # zaay
            "s": u"\u0633", # siin
            "$": u"\u0634", # shiin
            "S": u"\u0635", # Saad
            "D": u"\u0636", # Daad
            "T": u"\u0637", # Taa'
            "Z": u"\u0638", # Zaa' (DHaa')
            "E": u"\u0639", # cayn
            "g": u"\u063A", # ghayn
            "_": u"\u0640", # taTwiil
            "f": u"\u0641", # faa'
            "q": u"\u0642", # qaaf
            "k": u"\u0643", # kaaf
            "l": u"\u0644", # laam
            "m": u"\u0645", # miim
            "n": u"\u0646", # nuun
            "h": u"\u0647", # haa'
            "w": u"\u0648", # waaw
            "Y": u"\u0649", # 'alif maqSuura
            "y": u"\u064A", # yaa'
            "{": u"\u0671", # waSla         
}

def transStringSimple(string, reverse=0):
    '''Given a Unicode string, transliterate into Buckwalter. To go from
    Buckwalter back to Unicode, set reverse=1'''

    for k, v in buck2unisimple.items():
      if not reverse:
            string = string.replace(v, k)
      else:
            string = string.replace(k, v)

    return string

In [ ]:
def clean(text):
    arabic_text2 = re.sub(r"\[", "", text)
    arabic_text3 = re.sub(r"\]", "", arabic_text2)
    arabic_text4 = re.sub(r'''([@#:;,.!-+%"FNKaui~o`}PJVG])''', "", arabic_text3)
    arabic_text5 = re.sub(r"\^", " ", arabic_text4)
    return arabic_text5

In [347]:
df_buckwalter_concat["arabic"] = df_buckwalter_concat.iloc[:,2].apply(lambda x: transString(x, 1)) # Convert Arabic Extended

In [349]:
df_buckwalter_concat["arabic_simple"] = df_buckwalter_concat.iloc[:,2].apply(lambda x : transStringSimple(x, 1)) # Convert Arabic Simple
df_buckwalter_concat["arabic_simple"] = df_buckwalter_concat.iloc[:,4].apply(lambda x : clean(x))
df_buckwalter_concat

,num_1,num_2,buckwalter,arabic,arabic_simple
0,1,1,bisomi {ll~ahi {lr~aHoma`ni {lr~aHiymi,بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ,بسم ٱلله ٱلرحمن ٱلرحيم
1,1,2,{loHamodu lil~ahi rab~i {loEa`lamiyna,ٱلْحَمْدُ لِلَّهِ رَبِّ ٱلْعَٰلَمِينَ,ٱلحمد لله رب ٱلعلمين
2,1,3,{lr~aHoma`ni {lr~aHiymi,ٱلرَّحْمَٰنِ ٱلرَّحِيمِ,ٱلرحمن ٱلرحيم
3,1,4,ma`liki yawomi {ld~iyni,مَٰلِكِ يَوْمِ ٱلدِّينِ,ملك يوم ٱلدين
4,1,5,<iy~aAka naEobudu wa<iy~aAka nasotaEiynu,إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ,إياك نعبد وإياك نستعين
...,...,...,...,...,...
6231,114,2,maliki {ln~aAsi,مَلِكِ ٱلنَّاسِ,ملك ٱلناس
6232,114,3,<ila`hi {ln~aAsi,إِلَٰهِ ٱلنَّاسِ,إله ٱلناس
6233,114,4,min $ar~i {lowasowaAsi {loxan~aAsi,مِن شَرِّ ٱلْوَسْوَاسِ ٱلْخَنَّاسِ,من شر ٱلوسواس ٱلخناس
6234,114,5,{l~a*iY yuwasowisu fiY Suduwri {ln~aAsi,ٱلَّذِى يُوَسْوِسُ فِى صُدُورِ ٱلنَّاسِ,ٱلذى يوسوس فى صدور ٱلناس
6235,114,6,mina {lojin~api wa{ln~aAsi,مِنَ ٱلْجِنَّةِ وَٱلنَّاسِ,من ٱلجنة وٱلناس

In [350]:
# Arabic_Extended
n = 2
n_gram_not_list = []
n_gram_list = [] 
for i in df_buckwalter_concat.iloc[:,3]:
    try:
        n_gram = ngrams(i.split(), n)
        for j in n_gram:
            j = " ".join(j)
            n_gram_list.append(j)
    except:
        n_gram_not_list.append(i)

In [362]:
pd.DataFrame(n_gram_not_list,columns=["not_proper"])

Empty DataFrame
Columns: [not_proper]
Index: []

In [357]:
df_arabic_ngram = pd.DataFrame(n_gram_list,columns=["twogram"])
df_arabic_ngram

                       twogram
0               بِسْمِ ٱللَّهِ
1         ٱللَّهِ ٱلرَّحْمَٰنِ
2      ٱلرَّحْمَٰنِ ٱلرَّحِيمِ
3            ٱلْحَمْدُ لِلَّهِ
4                لِلَّهِ رَبِّ
...                        ...
71189           يُوَسْوِسُ فِى
71190              فِى صُدُورِ
71191         صُدُورِ ٱلنَّاسِ
71192          مِنَ ٱلْجِنَّةِ
71193    ٱلْجِنَّةِ وَٱلنَّاسِ

[71194 rows x 1 columns]

In [356]:
df_arabic_ngram = df_arabic_ngram.iloc[:,0].value_counts(ascending=False).reset_index()
df_arabic_ngram.rename(columns={"index":"twogram", "twogram":"frequency"}, inplace=True)
df_arabic_ngram

                         twogram  frequency
0                  إِنَّ ٱللَّهَ        205
1                  فِى ٱلْأَرْضِ        176
2           ٱلَّذِينَ ءَامَنُوا۟        148
3            ٱلَّذِينَ كَفَرُوا۟        115
4      ٱلسَّمَٰوَٰتِ وَٱلْأَرْضِ         95
...                          ...        ...
46846     تَأْوِيلُهُۥ كَذَٰلِكَ          1
46847        قَبْلِهِمْ فَٱنظُرْ          1
46848              مَّن يُؤْمِنُ          1
46849                  مَّن لَّا          1
46850           صُدُورِ ٱلنَّاسِ          1

[46851 rows x 2 columns]

In [ ]:
#df_arabic_ngram.to_excel("Arabic_DataFrame_Twogram_Frequency.xlsx", sheet_name="Arabic_Twogram", index=False)

In [358]:
# Arabic_Simple
n = 2
n_gram_not_list = []
n_gram_list = [] 
for i in df_buckwalter_concat.iloc[:,4]:
    try:
        n_gram = ngrams(i.split(), n)
        for j in n_gram:
            j = " ".join(j)
            n_gram_list.append(j)
    except:
        n_gram_not_list.append(i)

In [361]:
pd.DataFrame(n_gram_not_list,columns=["not_proper"])

Empty DataFrame
Columns: [not_proper]
Index: []

In [359]:
df_arabic_simple_ngram = pd.DataFrame(n_gram_list,columns=["twogram"])
df_arabic_simple_ngram

             twogram
0           بسم ٱلله
1        ٱلله ٱلرحمن
2      ٱلرحمن ٱلرحيم
3          ٱلحمد لله
4             لله رب
...              ...
74024       يوسوس فى
74025        فى صدور
74026     صدور ٱلناس
74027       من ٱلجنة
74028   ٱلجنة وٱلناس

[74029 rows x 1 columns]

In [360]:
df_arabic_simple_ngram = df_arabic_simple_ngram.iloc[:,0].value_counts(ascending=False).reset_index()
df_arabic_simple_ngram.rename(columns={"index":"twogram", "twogram":"frequency"}, inplace=True)
df_arabic_simple_ngram

             twogram  frequency
0            إن ٱلله        205
1           فى ٱلأرض        176
2       ٱلذين ءامنوا        148
3             ي أيها        142
4      ٱلسموت وٱلأرض        133
...              ...        ...
44183      ربكم وشفا          1
44184     ءتكم موعظة          1
44185    ويميت وإليه          1
44186     وٱلأرض ألا          1
44187     صدور ٱلناس          1

[44188 rows x 2 columns]

In [ ]:
#df_arabic_simple_ngram.to_excel("Arabic_Simple_DataFrame_Twogram_Frequency.xlsx", sheet_name="Arabic_Simple_Twogram", index=False)