### Deployment Result

In [1]:
import pandas as pd
import numpy as np
import re
from camel_tools.utils.charmap import CharMapper
from lang_trans.arabic import buckwalter
import nltk
from nltk import word_tokenize
from nltk import ngrams
import json

In [2]:
df_word_merge = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/6-Morphology And Tanzil/Arabic_Buckwalter_Clean_Plain_Word_Merge_Tanzil.xlsx")
df_word_merge

,num_1,num_2,num_3,arabic_word_tanzil_clean,buckwalter_word_tanzil_clean,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain
0,1,1,1,بسم,bsm,بِسْمِ,bisomi
1,1,1,2,الله,Allh,اللَّهِ,All~ahi
2,1,1,3,الرحمن,AlrHmn,الرَّحْمَٰنِ,Alr~aHoma`ni
3,1,1,4,الرحيم,AlrHym,الرَّحِيمِ,Alr~aHiymi
4,1,2,1,الحمد,AlHmd,الْحَمْدُ,AloHamodu
...,...,...,...,...,...,...,...
78243,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri
78244,114,5,5,الناس,AlnAs,النَّاسِ,Aln~aAsi
78245,114,6,1,من,mn,مِنَ,mina
78246,114,6,2,الجنة,Aljnp,الْجِنَّةِ,Alojin~api
78247,114,6,3,والناس,wAlnAs,وَالنَّاسِ,waAln~aAsi

In [3]:
df_select_word = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/5-Tanzil Analysis/Arabic_Buckwalter_100_Word_Frequency_Tanzil_Clean.xlsx")
df_select_word

   arabic_word_tanzil_clean buckwalter_word_tanzil_clean  frequency
0                        من                           mn       2763
1                      الله                         Allh       2265
2                        في                           fy       1185
3                        ما                           mA       1013
4                        إن                           <n        966
..                      ...                          ...        ...
95                     عليم                         Elym        106
96                     ربنا                         rbnA        106
97                     ربكم                         rbkm        102
98                    النار                        AlnAr        102
99                     فلما                         flmA        101

[100 rows x 3 columns]

In [4]:
df_select_word.frequency.sum()

29643

In [5]:
select_word_list = df_select_word.iloc[:,0].to_list()
select_word_list

['من',
 'الله',
 'في',
 'ما',
 'إن',
 'لا',
 'الذين',
 'على',
 'إلا',
 'ولا',
 'وما',
 'أن',
 'قال',
 'إلى',
 'لهم',
 'يا',
 'ومن',
 'ثم',
 'لكم',
 'به',
 'كان',
 'بما',
 'قل',
 'الأرض',
 'ذلك',
 'أو',
 'له',
 'الذي',
 'هو',
 'آمنوا',
 'هم',
 'وإن',
 'قالوا',
 'كل',
 'فيها',
 'والله',
 'كانوا',
 'عن',
 'إذا',
 'ربك',
 'يوم',
 'عليهم',
 'هذا',
 'شيء',
 'كفروا',
 'كنتم',
 'الناس',
 'السماوات',
 'لم',
 'وهو',
 'فإن',
 'إذ',
 'والذين',
 'عليكم',
 'الكتاب',
 'والأرض',
 'الرحمن',
 'فلا',
 'إنا',
 'منهم',
 'أيها',
 'عذاب',
 'بعد',
 'إنه',
 'عليه',
 'الرحيم',
 'حتى',
 'بالله',
 'وهم',
 'وإذا',
 'أولئك',
 'إني',
 'أم',
 'رب',
 'ولقد',
 'موسى',
 'فيه',
 'بل',
 'قد',
 'قوم',
 'عند',
 'قبل',
 'خير',
 'لله',
 'يشاء',
 'الدنيا',
 'بسم',
 'إنما',
 'ولكن',
 'ولو',
 'ربهم',
 'مما',
 'الحق',
 'السماء',
 'منكم',
 'عليم',
 'ربنا',
 'ربكم',
 'النار',
 'فلما']

In [6]:
select_word_text = " ".join(select_word_list)

In [7]:
# 1 Way
def compare_word_text(word, word_text):
    if re.search(fr"(?:\s|^){word}(?:\s|$)", word_text):
        return 1
    else:
        return 0

In [8]:
df_word_merge.iloc[:,3].apply(lambda x: compare_word_text(x, select_word_text))

0        1
1        1
2        1
3        1
4        0
        ..
78243    0
78244    1
78245    1
78246    0
78247    0
Name: arabic_word_tanzil_clean, Length: 78248, dtype: int64

In [9]:
## 2 Way
#def compare_word_list(word, word_list):
#    for i in word_list:
#        if re.search(fr"(?:\s|^){i}(?:\s|$)", word):
#            return 1

In [10]:
#df_word_merge.iloc[:,3].apply(lambda x: compare_word_list(x, select_word_list))

In [11]:
#df_word_merge["color"] = df_word_merge.iloc[:,3].apply(lambda x: compare_word_list(x, select_word_list))
#df_word_merge

In [12]:
#df_word_merge.color = df_word_merge.color.fillna(0)
#df_word_merge

In [13]:
#df_word_merge.color.sum()

In [14]:
df_word_merge["color"] = df_word_merge.iloc[:,3].apply(lambda x: compare_word_text(x, select_word_text))
df_word_merge

,num_1,num_2,num_3,arabic_word_tanzil_clean,buckwalter_word_tanzil_clean,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain,color
0,1,1,1,بسم,bsm,بِسْمِ,bisomi,1
1,1,1,2,الله,Allh,اللَّهِ,All~ahi,1
2,1,1,3,الرحمن,AlrHmn,الرَّحْمَٰنِ,Alr~aHoma`ni,1
3,1,1,4,الرحيم,AlrHym,الرَّحِيمِ,Alr~aHiymi,1
4,1,2,1,الحمد,AlHmd,الْحَمْدُ,AloHamodu,0
...,...,...,...,...,...,...,...,...
78243,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri,0
78244,114,5,5,الناس,AlnAs,النَّاسِ,Aln~aAsi,1
78245,114,6,1,من,mn,مِنَ,mina,1
78246,114,6,2,الجنة,Aljnp,الْجِنَّةِ,Alojin~api,0
78247,114,6,3,والناس,wAlnAs,وَالنَّاسِ,waAln~aAsi,0

In [15]:
df_word_merge.color.sum()

29643

In [16]:
df_root = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/2-Morphology Root Analysis/Arabic_Buckwalter_Form_Root_Morphology.xlsx")
df_root

       num_1  num_2  num_3  num_4        form  tag  root root_arabic
0          1      1      1      2        somi    N   smw         سمو
1          1      1      2      1     {ll~ahi   PN   Alh         اله
2          1      1      3      2  r~aHoma`ni  ADJ   rHm         رحم
3          1      1      4      2    r~aHiymi  ADJ   rHm         رحم
4          1      2      1      2      Hamodu    N   Hmd         حمد
...      ...    ...    ...    ...         ...  ...   ...         ...
49963    114      5      2      1  yuwasowisu    V  wsws        وسوس
49964    114      5      4      1     Suduwri    N   Sdr         صدر
49965    114      5      5      2      n~aAsi    N   nws         نوس
49966    114      6      2      2     jin~api    N   jnn         جنن
49967    114      6      3      3      n~aAsi    N   nws         نوس

[49968 rows x 8 columns]

In [17]:
df_word_root_merge = pd.merge(df_word_merge,df_root, how="left", on=["num_1","num_2","num_3"])
df_word_root_merge = df_word_root_merge.iloc[:,[0,1,2,3,4,5,6,7,9,11,12,10]]
df_word_root_merge

,num_1,num_2,num_3,arabic_word_tanzil_clean,buckwalter_word_tanzil_clean,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain,color,form,root,root_arabic,tag
0,1,1,1,بسم,bsm,بِسْمِ,bisomi,1,somi,smw,سمو,N
1,1,1,2,الله,Allh,اللَّهِ,All~ahi,1,{ll~ahi,Alh,اله,PN
2,1,1,3,الرحمن,AlrHmn,الرَّحْمَٰنِ,Alr~aHoma`ni,1,r~aHoma`ni,rHm,رحم,ADJ
3,1,1,4,الرحيم,AlrHym,الرَّحِيمِ,Alr~aHiymi,1,r~aHiymi,rHm,رحم,ADJ
4,1,2,1,الحمد,AlHmd,الْحَمْدُ,AloHamodu,0,Hamodu,Hmd,حمد,N
...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri,0,Suduwri,Sdr,صدر,N
78245,114,5,5,الناس,AlnAs,النَّاسِ,Aln~aAsi,1,n~aAsi,nws,نوس,N
78246,114,6,1,من,mn,مِنَ,mina,1,NaN,NaN,NaN,NaN
78247,114,6,2,الجنة,Aljnp,الْجِنَّةِ,Alojin~api,0,jin~api,jnn,جنن,N
78248,114,6,3,والناس,wAlnAs,وَالنَّاسِ,waAln~aAsi,0,n~aAsi,nws,نوس,N

In [20]:
df_word_root_merge.to_excel("Arabic_Buckwalter_Word_Root_Color.xlsx",index=False)

In [ ]:
df_json = pd.read_json("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Speech To Text/Result/abdul-basit-murattal-036.json")
df_json

In [ ]:
with open("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Speech To Text/Result/abdul-basit-murattal-036.json", "r", encoding="utf8") as file:
    json_data = json.loads(file.read())

In [ ]:
result_data = json_data["results"]
result_data

In [ ]:
df_nested_list = pd.json_normalize(result_data, meta=["words"])
df_nested_list

In [ ]:
json_object = json.dumps(result_data, indent = 4)
json_object

In [ ]:
re.findall(r'(["endTime":](\w+.)', json_object)