### Deployment Result

In [1]:
import pandas as pd
import numpy as np
import re
from camel_tools.utils.charmap import CharMapper
from lang_trans.arabic import buckwalter
import nltk
from nltk import word_tokenize
from nltk import ngrams
import json
import re

In [2]:
df_word_merge = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/6-Morphology And Tanzil/Arabic_Buckwalter_Clean_Plain_Word_Merge_Tanzil.xlsx")
df_word_merge

,num_1,num_2,num_3,arabic_word_tanzil_clean,buckwalter_word_tanzil_clean,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain
0,1,1,1,بسم,bsm,بِسْمِ,bisomi
1,1,1,2,الله,Allh,اللَّهِ,All~ahi
2,1,1,3,الرحمن,AlrHmn,الرَّحْمَٰنِ,Alr~aHoma`ni
3,1,1,4,الرحيم,AlrHym,الرَّحِيمِ,Alr~aHiymi
4,1,2,1,الحمد,AlHmd,الْحَمْدُ,AloHamodu
...,...,...,...,...,...,...,...
78243,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri
78244,114,5,5,الناس,AlnAs,النَّاسِ,Aln~aAsi
78245,114,6,1,من,mn,مِنَ,mina
78246,114,6,2,الجنة,Aljnp,الْجِنَّةِ,Alojin~api
78247,114,6,3,والناس,wAlnAs,وَالنَّاسِ,waAln~aAsi

In [3]:
df_select_word = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/5-Tanzil Analysis/Arabic_Buckwalter_100_Word_Frequency_Tanzil_Clean.xlsx")
df_select_word

   arabic_word_tanzil_clean buckwalter_word_tanzil_clean  frequency
0                        من                           mn       2763
1                      الله                         Allh       2265
2                        في                           fy       1185
3                        ما                           mA       1013
4                        إن                           <n        966
..                      ...                          ...        ...
95                     عليم                         Elym        106
96                     ربنا                         rbnA        106
97                     ربكم                         rbkm        102
98                    النار                        AlnAr        102
99                     فلما                         flmA        101

[100 rows x 3 columns]

In [4]:
df_select_word.frequency.sum()

29643

In [5]:
df_select_word.buckwalter_word_tanzil_clean.nunique()

100

In [6]:
word = "Allh"

In [7]:
df_select_word[df_select_word.buckwalter_word_tanzil_clean.str.contains(fr"(?:\s|^){word}(?:\s|$)", na=True)]["frequency"]

1    2265
Name: frequency, dtype: int64

#### Adding Color Column

In [8]:
select_word_list = df_select_word.iloc[:,0].to_list()
#select_word_list

In [9]:
select_word_text = " ".join(select_word_list)

In [10]:
# 1 Way
def compare_word_text(word, word_text):
    if re.search(fr"(?:\s|^){word}(?:\s|$)", word_text):
        return 1
    else:
        return 0

In [11]:
df_word_merge.iloc[:,3].apply(lambda x: compare_word_text(x, select_word_text))

0        1
1        1
2        1
3        1
4        0
        ..
78243    0
78244    1
78245    1
78246    0
78247    0
Name: arabic_word_tanzil_clean, Length: 78248, dtype: int64

In [12]:
## 2 Way
#def compare_word_list(word, word_list):
#    for i in word_list:
#        if re.search(fr"(?:\s|^){i}(?:\s|$)", word):
#            return 1

In [13]:
#df_word_merge.iloc[:,3].apply(lambda x: compare_word_list(x, select_word_list))

In [14]:
#df_word_merge["color"] = df_word_merge.iloc[:,3].apply(lambda x: compare_word_list(x, select_word_list))
#df_word_merge

In [15]:
#df_word_merge.color = df_word_merge.color.fillna(0)
#df_word_merge

In [16]:
#df_word_merge.color.sum()

In [17]:
df_word_merge["color"] = df_word_merge.iloc[:,3].apply(lambda x: compare_word_text(x, select_word_text))
df_word_merge

,num_1,num_2,num_3,arabic_word_tanzil_clean,buckwalter_word_tanzil_clean,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain,color
0,1,1,1,بسم,bsm,بِسْمِ,bisomi,1
1,1,1,2,الله,Allh,اللَّهِ,All~ahi,1
2,1,1,3,الرحمن,AlrHmn,الرَّحْمَٰنِ,Alr~aHoma`ni,1
3,1,1,4,الرحيم,AlrHym,الرَّحِيمِ,Alr~aHiymi,1
4,1,2,1,الحمد,AlHmd,الْحَمْدُ,AloHamodu,0
...,...,...,...,...,...,...,...,...
78243,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri,0
78244,114,5,5,الناس,AlnAs,النَّاسِ,Aln~aAsi,1
78245,114,6,1,من,mn,مِنَ,mina,1
78246,114,6,2,الجنة,Aljnp,الْجِنَّةِ,Alojin~api,0
78247,114,6,3,والناس,wAlnAs,وَالنَّاسِ,waAln~aAsi,0

In [18]:
df_word_merge.color.sum()

29643

In [19]:
df_root = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/2-Morphology Root Analysis/Arabic_Buckwalter_Form_Root_Morphology.xlsx")
df_root

       num_1  num_2  num_3  num_4        form  tag  root root_arabic
0          1      1      1      2        somi    N   smw         سمو
1          1      1      2      1     {ll~ahi   PN   Alh         اله
2          1      1      3      2  r~aHoma`ni  ADJ   rHm         رحم
3          1      1      4      2    r~aHiymi  ADJ   rHm         رحم
4          1      2      1      2      Hamodu    N   Hmd         حمد
...      ...    ...    ...    ...         ...  ...   ...         ...
49963    114      5      2      1  yuwasowisu    V  wsws        وسوس
49964    114      5      4      1     Suduwri    N   Sdr         صدر
49965    114      5      5      2      n~aAsi    N   nws         نوس
49966    114      6      2      2     jin~api    N   jnn         جنن
49967    114      6      3      3      n~aAsi    N   nws         نوس

[49968 rows x 8 columns]

In [20]:
df_word_root_merge = pd.merge(df_word_merge,df_root, how="left", on=["num_1","num_2","num_3"])
df_word_root_merge = df_word_root_merge.iloc[:,[0,1,2,3,4,5,6,7,9,11,12,10]]
df_word_root_merge

,num_1,num_2,num_3,arabic_word_tanzil_clean,buckwalter_word_tanzil_clean,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain,color,form,root,root_arabic,tag
0,1,1,1,بسم,bsm,بِسْمِ,bisomi,1,somi,smw,سمو,N
1,1,1,2,الله,Allh,اللَّهِ,All~ahi,1,{ll~ahi,Alh,اله,PN
2,1,1,3,الرحمن,AlrHmn,الرَّحْمَٰنِ,Alr~aHoma`ni,1,r~aHoma`ni,rHm,رحم,ADJ
3,1,1,4,الرحيم,AlrHym,الرَّحِيمِ,Alr~aHiymi,1,r~aHiymi,rHm,رحم,ADJ
4,1,2,1,الحمد,AlHmd,الْحَمْدُ,AloHamodu,0,Hamodu,Hmd,حمد,N
...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri,0,Suduwri,Sdr,صدر,N
78245,114,5,5,الناس,AlnAs,النَّاسِ,Aln~aAsi,1,n~aAsi,nws,نوس,N
78246,114,6,1,من,mn,مِنَ,mina,1,NaN,NaN,NaN,NaN
78247,114,6,2,الجنة,Aljnp,الْجِنَّةِ,Alojin~api,0,jin~api,jnn,جنن,N
78248,114,6,3,والناس,wAlnAs,وَالنَّاسِ,waAln~aAsi,0,n~aAsi,nws,نوس,N

In [21]:
df_word_root_merge.drop_duplicates(inplace=True)

In [22]:
df_word_root_merge

,num_1,num_2,num_3,arabic_word_tanzil_clean,buckwalter_word_tanzil_clean,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain,color,form,root,root_arabic,tag
0,1,1,1,بسم,bsm,بِسْمِ,bisomi,1,somi,smw,سمو,N
1,1,1,2,الله,Allh,اللَّهِ,All~ahi,1,{ll~ahi,Alh,اله,PN
2,1,1,3,الرحمن,AlrHmn,الرَّحْمَٰنِ,Alr~aHoma`ni,1,r~aHoma`ni,rHm,رحم,ADJ
3,1,1,4,الرحيم,AlrHym,الرَّحِيمِ,Alr~aHiymi,1,r~aHiymi,rHm,رحم,ADJ
4,1,2,1,الحمد,AlHmd,الْحَمْدُ,AloHamodu,0,Hamodu,Hmd,حمد,N
...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri,0,Suduwri,Sdr,صدر,N
78245,114,5,5,الناس,AlnAs,النَّاسِ,Aln~aAsi,1,n~aAsi,nws,نوس,N
78246,114,6,1,من,mn,مِنَ,mina,1,NaN,NaN,NaN,NaN
78247,114,6,2,الجنة,Aljnp,الْجِنَّةِ,Alojin~api,0,jin~api,jnn,جنن,N
78248,114,6,3,والناس,wAlnAs,وَالنَّاسِ,waAln~aAsi,0,n~aAsi,nws,نوس,N

In [23]:
df_word_root_merge.color.sum()

29644

In [24]:
#a = set(df_word_root_merge.iloc[:,6])
#b = set(df_word_merge.iloc[:,6])
#a.difference(b)

In [25]:
#df_word_root_merge.to_excel("Arabic_Buckwalter_Word_Root_Color.xlsx",index=False)

#### Adding Juz Surah Name Word Count And Letter Count

In [26]:
df_verse = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Data/Dataset-Verse-by-Verse.xlsx")
df_verse = df_verse.iloc[:,[4,10,1,5,6,14,15]]
df_verse.rename(columns={"SurahNo":"num_1","AyahNo":"num_2"}, inplace=True)
df_verse

,num_1,num_2,Juz,SurahNameArabic,SurahNameEnglish,ArabicWordCount,ArabicLetterCount
0,1,1,1,الفاتحة,Al-Fatiha,4,19
1,1,2,1,الفاتحة,Al-Fatiha,4,18
2,1,3,1,الفاتحة,Al-Fatiha,2,12
3,1,4,1,الفاتحة,Al-Fatiha,3,12
4,1,5,1,الفاتحة,Al-Fatiha,4,19
...,...,...,...,...,...,...,...
6231,114,2,30,الناس,An-Nas,2,8
6232,114,3,30,الناس,An-Nas,2,8
6233,114,4,30,الناس,An-Nas,4,17
6234,114,5,30,الناس,An-Nas,5,20
6235,114,6,30,الناس,An-Nas,3,13

In [27]:
df_verse.ArabicWordCount.sum()

82176

In [28]:
df_word_root_juz_name_merge = pd.merge(df_word_root_merge, df_verse, how="left", on=["num_1","num_2"])
df_word_root_juz_name_merge

,num_1,num_2,num_3,arabic_word_tanzil_clean,buckwalter_word_tanzil_clean,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain,color,form,root,root_arabic,tag,Juz,SurahNameArabic,SurahNameEnglish,ArabicWordCount,ArabicLetterCount
0,1,1,1,بسم,bsm,بِسْمِ,bisomi,1,somi,smw,سمو,N,1,الفاتحة,Al-Fatiha,4,19
1,1,1,2,الله,Allh,اللَّهِ,All~ahi,1,{ll~ahi,Alh,اله,PN,1,الفاتحة,Al-Fatiha,4,19
2,1,1,3,الرحمن,AlrHmn,الرَّحْمَٰنِ,Alr~aHoma`ni,1,r~aHoma`ni,rHm,رحم,ADJ,1,الفاتحة,Al-Fatiha,4,19
3,1,1,4,الرحيم,AlrHym,الرَّحِيمِ,Alr~aHiymi,1,r~aHiymi,rHm,رحم,ADJ,1,الفاتحة,Al-Fatiha,4,19
4,1,2,1,الحمد,AlHmd,الْحَمْدُ,AloHamodu,0,Hamodu,Hmd,حمد,N,1,الفاتحة,Al-Fatiha,4,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri,0,Suduwri,Sdr,صدر,N,30,الناس,An-Nas,5,20
78245,114,5,5,الناس,AlnAs,النَّاسِ,Aln~aAsi,1,n~aAsi,nws,نوس,N,30,الناس,An-Nas,5,20
78246,114,6,1,من,mn,مِنَ,mina,1,NaN,NaN,NaN,NaN,30,الناس,An-Nas,3,13
78247,114,6,2,الجنة,Aljnp,الْجِنَّةِ,Alojin~api,0,jin~api,jnn,جنن,N,30,الناس,An-Nas,3,13
78248,114,6,3,والناس,wAlnAs,وَالنَّاسِ,waAln~aAsi,0,n~aAsi,nws,نوس,N,30,الناس,An-Nas,3,13

In [29]:
#df_word_root_juz_name_merge.to_excel("Arabic_Buckwalter_Word_Root_Color_Juz_Name.xlsx",index=False)

In [30]:
# # Color Order Func
# for i in range(len(df_word_root_juz_name_merge)):
#     if df_word_root_juz_name_merge.loc[i,"color"] == 1:
#         word = df_word_root_juz_name_merge.loc[i,"arabic_word_tanzil_clean"]
#         freq = df_select_word[df_select_word.buckwalter_word_tanzil_clean.str.contains(fr"(?:\s|^){word}(?:\s|$)", na=True)]["frequency"]
#         if freq >= 2000:
#             df_word_root_juz_name_merge.loc[i,"color"] == 5
#         elif freq >= 1500:
#             df_word_root_juz_name_merge.loc[i,"color"] == 4
#         elif freq >= 1000:
#             df_word_root_juz_name_merge.loc[i,"color"] == 3
#         elif freq >= 500:
#             df_word_root_juz_name_merge.loc[i,"color"] == 2
#         else:
#             df_word_root_juz_name_merge.loc[i,"color"] == 1
#     else:
#         df_word_root_juz_name_merge.loc[i,"color"] == 0

#### Adding Page Number

In [31]:
df_page = pd.read_json("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Data/pages.json")
df_page

,0,1,2
0,"{'surah': 1, 'start': 1, 'end': 7}",None,None
1,"{'surah': 2, 'start': 1, 'end': 5}",None,None
2,"{'surah': 2, 'start': 6, 'end': 16}",None,None
3,"{'surah': 2, 'start': 17, 'end': 24}",None,None
4,"{'surah': 2, 'start': 25, 'end': 29}",None,None
...,...,...,...
599,"{'surah': 100, 'start': 10, 'end': 10}","{'surah': 101, 'start': 1, 'end': 1}","{'surah': 102, 'start': 1, 'end': 1}"
600,"{'surah': 103, 'start': 1, 'end': 1}","{'surah': 104, 'start': 1, 'end': 1}","{'surah': 105, 'start': 1, 'end': 1}"
601,"{'surah': 106, 'start': 1, 'end': 1}","{'surah': 107, 'start': 1, 'end': 1}","{'surah': 108, 'start': 1, 'end': 1}"
602,"{'surah': 109, 'start': 1, 'end': 1}","{'surah': 110, 'start': 1, 'end': 1}","{'surah': 111, 'start': 1, 'end': 1}"
603,"{'surah': 112, 'start': 1, 'end': 1}","{'surah': 113, 'start': 1, 'end': 1}","{'surah': 114, 'start': 1, 'end': 1}"

In [32]:
df_page2 = pd.DataFrame(df_page.iloc[:,0])
df_page2

                                          0
0        {'surah': 1, 'start': 1, 'end': 7}
1        {'surah': 2, 'start': 1, 'end': 5}
2       {'surah': 2, 'start': 6, 'end': 16}
3      {'surah': 2, 'start': 17, 'end': 24}
4      {'surah': 2, 'start': 25, 'end': 29}
..                                      ...
599  {'surah': 100, 'start': 10, 'end': 10}
600    {'surah': 103, 'start': 1, 'end': 1}
601    {'surah': 106, 'start': 1, 'end': 1}
602    {'surah': 109, 'start': 1, 'end': 1}
603    {'surah': 112, 'start': 1, 'end': 1}

[604 rows x 1 columns]

In [33]:
page_list = []
for i in df_page2.iloc[:,0]:
    surah = i["surah"]
    start = i["start"]
    end = i["end"]
    page_list.append((surah,start,end))
#page_list

In [34]:
df_page_new = pd.DataFrame(page_list)
df_page_new.reset_index(inplace=True)
df_page_new.rename(columns={0:"surah",1:"start",2:"end","index":"page"}, inplace=True)
df_page_new = df_page_new.iloc[:,[1,2,3,0]]
df_page_new["page"] = df_page_new["page"].apply(lambda x: x+1)
df_page_new

     surah  start  end  page
0        1      1    7     1
1        2      1    5     2
2        2      6   16     3
3        2     17   24     4
4        2     25   29     5
..     ...    ...  ...   ...
599    100     10   10   600
600    103      1    1   601
601    106      1    1   602
602    109      1    1   603
603    112      1    1   604

[604 rows x 4 columns]

In [35]:
#df_page_new.to_excel("Quran_Page_Num_Loc.xlsx", index=False)

In [36]:
df_word_root_juz_name_merge

,num_1,num_2,num_3,arabic_word_tanzil_clean,buckwalter_word_tanzil_clean,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain,color,form,root,root_arabic,tag,Juz,SurahNameArabic,SurahNameEnglish,ArabicWordCount,ArabicLetterCount
0,1,1,1,بسم,bsm,بِسْمِ,bisomi,1,somi,smw,سمو,N,1,الفاتحة,Al-Fatiha,4,19
1,1,1,2,الله,Allh,اللَّهِ,All~ahi,1,{ll~ahi,Alh,اله,PN,1,الفاتحة,Al-Fatiha,4,19
2,1,1,3,الرحمن,AlrHmn,الرَّحْمَٰنِ,Alr~aHoma`ni,1,r~aHoma`ni,rHm,رحم,ADJ,1,الفاتحة,Al-Fatiha,4,19
3,1,1,4,الرحيم,AlrHym,الرَّحِيمِ,Alr~aHiymi,1,r~aHiymi,rHm,رحم,ADJ,1,الفاتحة,Al-Fatiha,4,19
4,1,2,1,الحمد,AlHmd,الْحَمْدُ,AloHamodu,0,Hamodu,Hmd,حمد,N,1,الفاتحة,Al-Fatiha,4,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri,0,Suduwri,Sdr,صدر,N,30,الناس,An-Nas,5,20
78245,114,5,5,الناس,AlnAs,النَّاسِ,Aln~aAsi,1,n~aAsi,nws,نوس,N,30,الناس,An-Nas,5,20
78246,114,6,1,من,mn,مِنَ,mina,1,NaN,NaN,NaN,NaN,30,الناس,An-Nas,3,13
78247,114,6,2,الجنة,Aljnp,الْجِنَّةِ,Alojin~api,0,jin~api,jnn,جنن,N,30,الناس,An-Nas,3,13
78248,114,6,3,والناس,wAlnAs,وَالنَّاسِ,waAln~aAsi,0,n~aAsi,nws,نوس,N,30,الناس,An-Nas,3,13

In [37]:
for i in range(len(df_page_new)):
    surah = df_page_new.loc[i,"surah"]
    start = df_page_new.loc[i,"start"]
    end = df_page_new.loc[i,"end"]
    page = df_page_new.loc[i,"page"]
    for j in range(len(df_word_root_juz_name_merge)):
        if (df_word_root_juz_name_merge.loc[j,"num_1"] == surah and df_word_root_juz_name_merge.loc[j,"num_2"] >= start and df_word_root_juz_name_merge.loc[j,"num_2"] <= end):
            df_word_root_juz_name_merge.loc[j,"page"] = page
        else:
            pass

In [38]:
df_word_root_juz_name_merge

,num_1,num_2,num_3,arabic_word_tanzil_clean,buckwalter_word_tanzil_clean,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain,color,form,root,root_arabic,tag,Juz,SurahNameArabic,SurahNameEnglish,ArabicWordCount,ArabicLetterCount,page
0,1,1,1,بسم,bsm,بِسْمِ,bisomi,1,somi,smw,سمو,N,1,الفاتحة,Al-Fatiha,4,19,1.0
1,1,1,2,الله,Allh,اللَّهِ,All~ahi,1,{ll~ahi,Alh,اله,PN,1,الفاتحة,Al-Fatiha,4,19,1.0
2,1,1,3,الرحمن,AlrHmn,الرَّحْمَٰنِ,Alr~aHoma`ni,1,r~aHoma`ni,rHm,رحم,ADJ,1,الفاتحة,Al-Fatiha,4,19,1.0
3,1,1,4,الرحيم,AlrHym,الرَّحِيمِ,Alr~aHiymi,1,r~aHiymi,rHm,رحم,ADJ,1,الفاتحة,Al-Fatiha,4,19,1.0
4,1,2,1,الحمد,AlHmd,الْحَمْدُ,AloHamodu,0,Hamodu,Hmd,حمد,N,1,الفاتحة,Al-Fatiha,4,18,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri,0,Suduwri,Sdr,صدر,N,30,الناس,An-Nas,5,20,NaN
78245,114,5,5,الناس,AlnAs,النَّاسِ,Aln~aAsi,1,n~aAsi,nws,نوس,N,30,الناس,An-Nas,5,20,NaN
78246,114,6,1,من,mn,مِنَ,mina,1,NaN,NaN,NaN,NaN,30,الناس,An-Nas,3,13,NaN
78247,114,6,2,الجنة,Aljnp,الْجِنَّةِ,Alojin~api,0,jin~api,jnn,جنن,N,30,الناس,An-Nas,3,13,NaN
78248,114,6,3,والناس,wAlnAs,وَالنَّاسِ,waAln~aAsi,0,n~aAsi,nws,نوس,N,30,الناس,An-Nas,3,13,NaN

In [39]:
df_word_root_juz_name_merge["page"].fillna(method='ffill', inplace=True) # 'ffill'forward filling method as fill with first previous value, 'bfill'backward filling method

In [40]:
df_word_root_juz_name_merge

,num_1,num_2,num_3,arabic_word_tanzil_clean,buckwalter_word_tanzil_clean,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain,color,form,root,root_arabic,tag,Juz,SurahNameArabic,SurahNameEnglish,ArabicWordCount,ArabicLetterCount,page
0,1,1,1,بسم,bsm,بِسْمِ,bisomi,1,somi,smw,سمو,N,1,الفاتحة,Al-Fatiha,4,19,1.0
1,1,1,2,الله,Allh,اللَّهِ,All~ahi,1,{ll~ahi,Alh,اله,PN,1,الفاتحة,Al-Fatiha,4,19,1.0
2,1,1,3,الرحمن,AlrHmn,الرَّحْمَٰنِ,Alr~aHoma`ni,1,r~aHoma`ni,rHm,رحم,ADJ,1,الفاتحة,Al-Fatiha,4,19,1.0
3,1,1,4,الرحيم,AlrHym,الرَّحِيمِ,Alr~aHiymi,1,r~aHiymi,rHm,رحم,ADJ,1,الفاتحة,Al-Fatiha,4,19,1.0
4,1,2,1,الحمد,AlHmd,الْحَمْدُ,AloHamodu,0,Hamodu,Hmd,حمد,N,1,الفاتحة,Al-Fatiha,4,18,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri,0,Suduwri,Sdr,صدر,N,30,الناس,An-Nas,5,20,604.0
78245,114,5,5,الناس,AlnAs,النَّاسِ,Aln~aAsi,1,n~aAsi,nws,نوس,N,30,الناس,An-Nas,5,20,604.0
78246,114,6,1,من,mn,مِنَ,mina,1,NaN,NaN,NaN,NaN,30,الناس,An-Nas,3,13,604.0
78247,114,6,2,الجنة,Aljnp,الْجِنَّةِ,Alojin~api,0,jin~api,jnn,جنن,N,30,الناس,An-Nas,3,13,604.0
78248,114,6,3,والناس,wAlnAs,وَالنَّاسِ,waAln~aAsi,0,n~aAsi,nws,نوس,N,30,الناس,An-Nas,3,13,604.0

In [ ]:
#df_word_root_juz_name_merge.to_excel("Arabic_Buckwalter_Word_Root_Color_Juz_Name_Page.xlsx",index=False)

#### Adding N Gram Flag

In [46]:
n_gram_num = 100
df_ngram = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/4-N Gram/Arabic_Clean_Twogram_Frequency_From_DataFrame_Tanzil.xlsx")
df_ngram = df_ngram.head(n_gram_num)
df_ngram

          twogram buckwalter_twogram  frequency
0         إن الله            <n Allh        205
1     الذين آمنوا        Al*yn |mnwA        184
2        في الأرض           fy Al>rD        176
3         يا أيها            yA >yhA        142
4     الذين كفروا        Al*yn kfrwA        134
..            ...                ...        ...
95       بما كنتم           bmA kntm         29
96       الله كان           Allh kAn         29
97  العزيز الحكيم      AlEzyz AlHkym         29
98   خلق السماوات       xlq AlsmAwAt         29
99          ما لا              mA lA         29

[100 rows x 3 columns]

In [47]:
df_sent = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/5-Tanzil Analysis/Arabic_Buckwalter_Sent_Tanzil_Clean.xlsx")
df_sent

      num_1  num_2  arabic_sent_tanzil_clean buckwalter_sent_tanzil_clean
0         1      1    بسم الله الرحمن الرحيم       bsm Allh AlrHmn AlrHym
1         1      2     الحمد لله رب العالمين        AlHmd llh rb AlEAlmyn
2         1      3             الرحمن الرحيم                AlrHmn AlrHym
3         1      4            مالك يوم الدين               mAlk ywm Aldyn
4         1      5    إياك نعبد وإياك نستعين       <yAk nEbd w<yAk nstEyn
...     ...    ...                       ...                          ...
6231    114      2                 ملك الناس                    mlk AlnAs
6232    114      3                 إله الناس                    <lh AlnAs
6233    114      4      من شر الوسواس الخناس         mn $r AlwswAs AlxnAs
6234    114      5  الذي يوسوس في صدور الناس     Al*y ywsws fy Sdwr AlnAs
6235    114      6           من الجنة والناس              mn Aljnp wAlnAs

[6236 rows x 4 columns]

In [51]:
df_sent_ngram_result = pd.DataFrame()
for i in df_ngram.iloc[:,0]:
    try:
        sent_in_video = df_sent[df_sent.arabic_sent_tanzil_clean.str.contains(fr"(^|\s){i}(\s|$)", regex=True)]
        #sent_in_video = df_sent[df_sent.arabic_sent_tanzil_clean.str.contains(fr"(^|\s){i}(\s|$)")].sample(10)
    except:
        sent_in_video = df_sent[df_sent.arabic_sent_tanzil_clean.str.contains(fr"(^|\s){i}(\s|$)", regex=True)] 
        #sent_in_video = df_sent[df_sent.arabic_sent_tanzil_clean.str.contains(fr"(^|\s){i}(\s|$)")].head(10) 
    sent_in_video.insert(0,"ngram",i)
    df_sent_ngram_result = pd.concat([df_sent_ngram_result,sent_in_video], axis=0)
df_sent_ngram_result.reset_index(drop=True, inplace=True)
df_sent_ngram_result

<ipython-input-51-24b669edac7f>:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  sent_in_video = df_sent[df_sent.arabic_sent_tanzil_clean.str.contains(fr"(^|\s){i}(\s|$)", regex=True)]

,ngram,num_1,num_2,arabic_sent_tanzil_clean,buckwalter_sent_tanzil_clean
0,إن الله,2,20,يكاد البرق يخطف أبصارهم كلما أضاء لهم مشوا فيه...,ykAd Albrq yxTf >bSArhm klmA >DA' lhm m$wA fyh...
1,إن الله,2,26,إن الله لا يستحيي أن يضرب مثلا ما بعوضة فما فو...,<n Allh lA ystHyy >n yDrb mvlA mA bEwDp fmA fw...
2,إن الله,2,67,وإذ قال موسى لقومه إن الله يأمركم أن تذبحوا بق...,w<* qAl mwsY lqwmh <n Allh y>mrkm >n t*bHwA bq...
3,إن الله,2,109,ود كثير من أهل الكتاب لو يردونكم من بعد إيمانك...,wd kvyr mn >hl AlktAb lw yrdwnkm mn bEd <ymAnk...
4,إن الله,2,110,وأقيموا الصلاة وآتوا الزكاة وما تقدموا لأنفسكم...,w>qymwA AlSlAp w|twA AlzkAp wmA tqdmwA l>nfskm...
...,...,...,...,...,...
5432,ما لا,25,55,ويعبدون من دون الله ما لا ينفعهم ولا يضرهم وكا...,wyEbdwn mn dwn Allh mA lA ynfEhm wlA yDrhm wkA...
5433,ما لا,26,226,وأنهم يقولون ما لا يفعلون,w>nhm yqwlwn mA lA yfElwn
5434,ما لا,56,61,على أن نبدل أمثالكم وننشئكم في ما لا تعلمون,ElY >n nbdl >mvAlkm wnn$}km fy mA lA tElmwn
5435,ما لا,61,2,يا أيها الذين آمنوا لم تقولون ما لا تفعلون,yA >yhA Al*yn |mnwA lm tqwlwn mA lA tfElwn
5436,ما لا,61,3,كبر مقتا عند الله أن تقولوا ما لا تفعلون,kbr mqtA End Allh >n tqwlwA mA lA tfElwn

In [62]:
ngram_loc_list = []
for i in range(len(df_sent_ngram_result)):
    num_1 = df_sent_ngram_result.loc[i,"num_1"]
    num_2 = df_sent_ngram_result.loc[i,"num_2"]
    sent = df_sent_ngram_result.loc[i,"arabic_sent_tanzil_clean"]
    ngram = df_sent_ngram_result.loc[i,"ngram"]
    sent_token = word_tokenize(sent)
    ngram_token = word_tokenize(ngram)
    for j in ngram_token:
        for k in range(len(sent_token)):
            if j == sent_token[k]:
                num_3 = k+1
                ngram_loc_list.append((num_1,num_2,num_3,j,sent))
                
df_ngram_loc = pd.DataFrame(ngram_loc_list)
df_ngram_loc.rename(columns={0:"num_1",1:"num_2",2:"num_3",3:"ngram_word",4:"arabic_sent_tanzil_clean"},inplace=True)
df_ngram_loc

,num_1,num_2,num_3,ngram_word,arabic_sent_tanzil_clean
0,2,20,20,إن,يكاد البرق يخطف أبصارهم كلما أضاء لهم مشوا فيه...
1,2,20,16,الله,يكاد البرق يخطف أبصارهم كلما أضاء لهم مشوا فيه...
2,2,20,21,الله,يكاد البرق يخطف أبصارهم كلما أضاء لهم مشوا فيه...
3,2,26,1,إن,إن الله لا يستحيي أن يضرب مثلا ما بعوضة فما فو...
4,2,26,2,الله,إن الله لا يستحيي أن يضرب مثلا ما بعوضة فما فو...
...,...,...,...,...,...
13275,56,61,8,لا,على أن نبدل أمثالكم وننشئكم في ما لا تعلمون
13276,61,2,7,ما,يا أيها الذين آمنوا لم تقولون ما لا تفعلون
13277,61,2,8,لا,يا أيها الذين آمنوا لم تقولون ما لا تفعلون
13278,61,3,7,ما,كبر مقتا عند الله أن تقولوا ما لا تفعلون
13279,61,3,8,لا,كبر مقتا عند الله أن تقولوا ما لا تفعلون

#### Custom Page Unique Words

In [ ]:
df_441 = df_word_root_juz_name_merge[df_word_root_juz_name_merge.page == 441]
df_441

In [ ]:
df_441_count = pd.DataFrame(df_441.groupby("arabic_word_tanzil_clean")["arabic_word_tanzil_clean"].count())
df_441_count.rename(columns={"arabic_word_tanzil_clean":"frequency"}, inplace=True)
df_441_count.reset_index(inplace=True)
df_441_count.sort_values(by="frequency", ascending=False, inplace=True)
df_441_count

In [ ]:
#df_441_count.to_excel("Quran_Page_441_Word_And_Frequency.xlsx",index=False)

#### Read Json

In [ ]:
df_json = pd.read_json("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Speech To Text/Result/abdul-basit-murattal-036.json")
df_json

In [ ]:
df_json.results.values.tolist()

In [ ]:
df_json2 = pd.DataFrame(df_json.results.tolist())["alternatives"]
df_json2

In [ ]:
with open("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Speech To Text/Result/abdul-basit-murattal-036.json", "r", encoding="utf8") as file:
    json_data = json.loads(file.read())

In [ ]:
json_data # json file and like as dict

In [ ]:
result_data = json_data["results"] # results selected from json_data is json file
result_data  # this data is list data

In [ ]:
df_nested_list = pd.json_normalize(result_data,record_path=["alternatives"]) # read list data
df_nested_list

In [ ]:
result_data # data is list

In [ ]:
result_data[0] # data is dict as json file

In [ ]:
result_data[0]["alternatives"] # data is list

In [ ]:
alternatives_data = result_data[0]["alternatives"]
alternatives_data  # data is list

In [ ]:
df_nested_list2 = pd.json_normalize(alternatives_data,record_path=["words"]) # record_path, meta, meta_prefix, record_prefix 
df_nested_list2

In [ ]:
alternatives_data2 = result_data[1]["alternatives"]
alternatives_data2  # data is list

In [ ]:
df_nested_list3 = pd.json_normalize(alternatives_data2,record_path=["words"]) # record_path, meta, meta_prefix, record_prefix 
df_nested_list3

In [ ]:
len(result_data)

In [ ]:
df_word = pd.DataFrame()
for i in range(len(result_data)):
    data = result_data[i]["alternatives"]
    df_data = pd.json_normalize(data,record_path=["words"])
    df_word = pd.concat([df_word,df_data], axis=0) # attention df_word,df_data must be for ascending time 
df_word.reset_index(drop=True, inplace=True)
df_word

In [ ]:
json_object = json.dumps(result_data, indent = 4)
json_object