### Compare Color Flags

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df_all_color_flag = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/7-Deployment/Arabic_Buckwalter_Word_Root_First_100_200_Word_NGram_Root_Color_Flag.xlsx")
df_all_color_flag

,num_1,num_2,num_3,arabic_word_tanzil_clean,buckwalter_word_tanzil_clean,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain,root,root_arabic,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag
0,1,1,1,بسم,bsm,بِسْمِ,bisomi,smw,سمو,0,1,0,1,2,0,2,3,0,3,4
1,1,1,2,الله,Allh,اللَّهِ,All~ahi,Alh,اله,1,1,0,1,2,0,2,3,0,3,4
2,1,1,3,الرحمن,AlrHmn,الرَّحْمَٰنِ,Alr~aHoma`ni,rHm,رحم,2,1,0,1,2,0,2,3,0,3,4
3,1,1,4,الرحيم,AlrHym,الرَّحِيمِ,Alr~aHiymi,rHm,رحم,3,1,0,1,2,0,2,3,0,3,4
4,1,2,1,الحمد,AlHmd,الْحَمْدُ,AloHamodu,Hmd,حمد,4,0,0,0,0,2,2,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri,Sdr,صدر,78244,0,0,0,0,0,0,0,0,0,4
78245,114,5,5,الناس,AlnAs,النَّاسِ,Aln~aAsi,nws,نوس,78245,1,0,1,0,0,0,0,0,0,4
78246,114,6,1,من,mn,مِنَ,mina,NaN,NaN,78246,1,0,1,0,0,0,0,0,0,0
78247,114,6,2,الجنة,Aljnp,الْجِنَّةِ,Alojin~api,jnn,جنن,78247,0,1,1,0,0,0,0,0,0,4
78248,114,6,3,والناس,wAlnAs,وَالنَّاسِ,waAln~aAsi,nws,نوس,78248,0,0,0,0,0,0,0,0,0,4

In [3]:
df_first_100_word = df_all_color_flag[df_all_color_flag.first_100_word == 1]
#df_first_100_word

In [4]:
set_first_100_word = set(df_first_100_word.index)
len(set_first_100_word)

29644

In [5]:
df_100_200_word = df_all_color_flag[df_all_color_flag["100_200_word"] == 1]
#df_100_200_word

In [6]:
set_100_200_word = set(df_100_200_word.index)
len(set_100_200_word)

6876

In [7]:
df_first_200_word = df_all_color_flag[df_all_color_flag["first_200_word"] == 1]
#df_first_200_word

In [8]:
set_first_200_word = set(df_first_200_word.index)
len(set_first_200_word)

36520

In [9]:
df_first_100_twogram = df_all_color_flag[df_all_color_flag["first_100_twogram"] == 2]
#df_first_100_twogram

In [10]:
set_first_100_twogram = set(df_first_100_twogram.index)
len(set_first_100_twogram)

9459

In [11]:
df_100_200_twogram = df_all_color_flag[df_all_color_flag["100_200_twogram"] == 2]
#df_100_200_twogram

In [12]:
set_100_200_twogram = set(df_100_200_twogram.index)
len(set_100_200_twogram)

4359

In [13]:
df_first_200_twogram = df_all_color_flag[df_all_color_flag["first_200_twogram"] == 2]
#df_first_200_twogram

In [14]:
set_first_200_twogram = set(df_first_200_twogram.index)
len(set_first_200_twogram)

13026

In [15]:
df_first_100_threegram = df_all_color_flag[df_all_color_flag["first_100_threegram"] == 3]
#df_first_100_threegram

In [16]:
set_first_100_threegram = set(df_first_100_threegram.index)
len(set_first_100_threegram)

5612

In [17]:
df_100_200_threegram = df_all_color_flag[df_all_color_flag["100_200_threegram"] == 3]
#df_100_200_threegram

In [18]:
set_100_200_threegram = set(df_100_200_threegram.index)
len(set_100_200_threegram)

2633

In [19]:
df_first_200_threegram = df_all_color_flag[df_all_color_flag["first_200_threegram"] == 3]
#df_first_200_threegram

In [20]:
set_first_200_threegram = set(df_first_200_threegram.index)
len(set_first_200_threegram)

7583

In [21]:
df_root = df_all_color_flag[df_all_color_flag["root_flag"] == 4]
#df_root

In [22]:
set_root = set(df_root.index)
len(set_root)

49968

##### Level 1

In [23]:
len(set_first_100_word)

29644

##### Level 2

In [24]:
len(set_100_200_word)

6876

In [25]:
len(set_first_100_word.union(set_100_200_word))

36520

In [26]:
len(set_first_200_word)

36520

In [27]:
len(set_first_100_twogram)

9459

In [28]:
len(set_first_200_word.union(set_first_100_twogram))

37023

##### Level 3

In [29]:
len(set_100_200_twogram)

4359

In [30]:
len(set_first_200_twogram)

13026

In [31]:
len(set_first_200_word.union(set_first_200_twogram))

37777

In [32]:
len(set_first_100_threegram)

5612

In [36]:
len(set_first_200_threegram.union(set_first_200_word.union(set_first_200_twogram)))

38427

#### Level 4

In [37]:
len(set_100_200_threegram)

2633

In [38]:
len(set_first_200_threegram)

7583

In [39]:
len(set_root)

49968

#### Level DataFrame

In [80]:
df_level_all = df_all_color_flag.iloc[:,[0,1,2,9,10,11,12,13,14,15,16,17,18,19]]
df_level_all

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4

In [81]:
df_level_all["level1"] = df_level_all["first_100_word"]
df_level_all

<ipython-input-81-97641e5d69d7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_level_all["level1"] = df_level_all["first_100_word"]

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag,level1
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4,1
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4,1
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4,1
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4,1
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4,0
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4,1
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0,1
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4,0
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4,0

In [82]:
df_level_all["level2"] = df_level_all["first_200_word"]+df_level_all["first_100_twogram"]
df_level_all

<ipython-input-82-1ef98758af83>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_level_all["level2"] = df_level_all["first_200_word"]+df_level_all["first_100_twogram"]

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag,level1,level2
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4,1,3
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4,1,3
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4,1,3
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4,1,3
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4,0,0
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4,1,1
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0,1,1
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4,0,1
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4,0,0

In [83]:
df_level_all["level2"] = df_level_all["level2"].map({0:0,1:1,2:2,3:2})
df_level_all

<ipython-input-83-0e059d207ac6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_level_all["level2"] = df_level_all["level2"].map({0:0,1:1,2:2,3:2})

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag,level1,level2
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4,1,2
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4,1,2
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4,1,2
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4,1,2
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4,0,0
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4,1,1
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0,1,1
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4,0,1
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4,0,0

In [84]:
df_level_all["level3_1"] = df_level_all["first_200_word"]+df_level_all["first_200_twogram"]
df_level_all

<ipython-input-84-2bd6401cfce6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_level_all["level3_1"] = df_level_all["first_200_word"]+df_level_all["first_200_twogram"]

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag,level1,level2,level3_1
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4,1,2,3
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4,1,2,3
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4,1,2,3
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4,1,2,3
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4,0,0,0
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4,1,1,1
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0,1,1,1
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4,0,1,1
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4,0,0,0

In [85]:
df_level_all["level3_1"] = df_level_all["level3_1"].map({0:0,1:1,2:2,3:2})
df_level_all

<ipython-input-85-943806d6bc45>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_level_all["level3_1"] = df_level_all["level3_1"].map({0:0,1:1,2:2,3:2})

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag,level1,level2,level3_1
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4,1,2,2
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4,1,2,2
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4,1,2,2
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4,1,2,2
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4,0,0,0
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4,1,1,1
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0,1,1,1
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4,0,1,1
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4,0,0,0

In [86]:
df_level_all["level3"] = df_level_all["level3_1"]+df_level_all["first_200_threegram"]
df_level_all

<ipython-input-86-4a603dde2920>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_level_all["level3"] = df_level_all["level3_1"]+df_level_all["first_200_threegram"]

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag,level1,level2,level3_1,level3
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4,1,2,2,5
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4,1,2,2,5
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4,1,2,2,5
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4,1,2,2,5
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4,0,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4,0,0,0,0
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4,1,1,1,1
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0,1,1,1,1
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4,0,1,1,1
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4,0,0,0,0

In [87]:
df_level_all["level3"] = df_level_all["level3"].map({0:0,1:1,2:2,3:3,4:3,5:3})
df_level_all

<ipython-input-87-0dacf06ac947>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_level_all["level3"] = df_level_all["level3"].map({0:0,1:1,2:2,3:3,4:3,5:3})

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag,level1,level2,level3_1,level3
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4,1,2,2,3
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4,1,2,2,3
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4,1,2,2,3
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4,1,2,2,3
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4,0,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4,0,0,0,0
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4,1,1,1,1
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0,1,1,1,1
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4,0,1,1,1
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4,0,0,0,0

In [88]:
df_level_all["level4"] = df_level_all["root_flag"]
df_level_all

<ipython-input-88-21a960254944>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_level_all["level4"] = df_level_all["root_flag"]

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag,level1,level2,level3_1,level3,level4
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4,1,2,2,3,4
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4,1,2,2,3,4
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4,1,2,2,3,4
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4,1,2,2,3,4
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4,0,0,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4,0,0,0,0,4
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4,1,1,1,1,4
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0,1,1,1,1,0
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4,0,1,1,1,4
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4,0,0,0,0,4

In [89]:
df_level_all["twogram"] = df_level_all["first_200_twogram"]
df_level_all

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag,level1,level2,level3_1,level3,level4,twogram
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4,1,2,2,3,4,2
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4,1,2,2,3,4,2
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4,1,2,2,3,4,2
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4,1,2,2,3,4,2
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4,0,0,2,2,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4,0,0,0,0,4,0
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4,1,1,1,1,4,0
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0,1,1,1,1,0,0
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4,0,1,1,1,4,0
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4,0,0,0,0,4,0

In [90]:
df_level_all["threegram"] = df_level_all["first_200_threegram"]
df_level_all

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,...,100_200_threegram,first_200_threegram,root_flag,level1,level2,level3_1,level3,level4,twogram,threegram
0,1,1,1,0,1,0,1,2,0,2,...,0,3,4,1,2,2,3,4,2,3
1,1,1,2,1,1,0,1,2,0,2,...,0,3,4,1,2,2,3,4,2,3
2,1,1,3,2,1,0,1,2,0,2,...,0,3,4,1,2,2,3,4,2,3
3,1,1,4,3,1,0,1,2,0,2,...,0,3,4,1,2,2,3,4,2,3
4,1,2,1,4,0,0,0,0,2,2,...,0,0,4,0,0,2,2,4,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,...,0,0,4,0,0,0,0,4,0,0
78245,114,5,5,78245,1,0,1,0,0,0,...,0,0,4,1,1,1,1,4,0,0
78246,114,6,1,78246,1,0,1,0,0,0,...,0,0,0,1,1,1,1,0,0,0
78247,114,6,2,78247,0,1,1,0,0,0,...,0,0,4,0,1,1,1,4,0,0
78248,114,6,3,78248,0,0,0,0,0,0,...,0,0,4,0,0,0,0,4,0,0

In [91]:
df_level_all = df_level_all.iloc[:,[0,1,2,3,14,15,17,18,19,20]]
df_level_all

,num_1,num_2,num_3,index,level1,level2,level3,level4,twogram,threegram
0,1,1,1,0,1,2,3,4,2,3
1,1,1,2,1,1,2,3,4,2,3
2,1,1,3,2,1,2,3,4,2,3
3,1,1,4,3,1,2,3,4,2,3
4,1,2,1,4,0,0,2,4,2,0
...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,4,0,0
78245,114,5,5,78245,1,1,1,4,0,0
78246,114,6,1,78246,1,1,1,0,0,0
78247,114,6,2,78247,0,1,1,4,0,0
78248,114,6,3,78248,0,0,0,4,0,0

In [92]:
df_level_all["level1"].value_counts()

0    48605
1    29644
Name: level1, dtype: int64

In [93]:
df_level_all["level2"].value_counts()

0    41226
1    27564
2     9459
Name: level2, dtype: int64

In [94]:
df_level_all["level3"].value_counts()

0    39822
1    23895
3     7583
2     6949
Name: level3, dtype: int64

In [95]:
df_level_all["level4"].value_counts()

4    49968
0    28281
Name: level4, dtype: int64

In [96]:
df_level_all["twogram"].value_counts()

0    65223
2    13026
Name: twogram, dtype: int64

In [97]:
df_level_all["threegram"].value_counts()

0    70666
3     7583
Name: threegram, dtype: int64

In [ ]:
df_level_all.to_excel("")