### Compare Color Flags

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df_all_color_flag = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/7-Deployment/Arabic_Buckwalter_Word_Root_First_100_200_Word_NGram_Root_Color_Flag.xlsx")
df_all_color_flag

,num_1,num_2,num_3,arabic_word_tanzil_clean,buckwalter_word_tanzil_clean,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain,root,root_arabic,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag
0,1,1,1,بسم,bsm,بِسْمِ,bisomi,smw,سمو,0,1,0,1,2,0,2,3,0,3,4
1,1,1,2,الله,Allh,اللَّهِ,All~ahi,Alh,اله,1,1,0,1,2,0,2,3,0,3,4
2,1,1,3,الرحمن,AlrHmn,الرَّحْمَٰنِ,Alr~aHoma`ni,rHm,رحم,2,1,0,1,2,0,2,3,0,3,4
3,1,1,4,الرحيم,AlrHym,الرَّحِيمِ,Alr~aHiymi,rHm,رحم,3,1,0,1,2,0,2,3,0,3,4
4,1,2,1,الحمد,AlHmd,الْحَمْدُ,AloHamodu,Hmd,حمد,4,0,0,0,0,2,2,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri,Sdr,صدر,78244,0,0,0,0,0,0,0,0,0,4
78245,114,5,5,الناس,AlnAs,النَّاسِ,Aln~aAsi,nws,نوس,78245,1,0,1,0,0,0,0,0,0,4
78246,114,6,1,من,mn,مِنَ,mina,NaN,NaN,78246,1,0,1,0,0,0,0,0,0,0
78247,114,6,2,الجنة,Aljnp,الْجِنَّةِ,Alojin~api,jnn,جنن,78247,0,1,1,0,0,0,0,0,0,4
78248,114,6,3,والناس,wAlnAs,وَالنَّاسِ,waAln~aAsi,nws,نوس,78248,0,0,0,0,0,0,0,0,0,4

In [3]:
df_first_100_word = df_all_color_flag[df_all_color_flag.first_100_word == 1]
#df_first_100_word

In [4]:
set_first_100_word = set(df_first_100_word.index)
len(set_first_100_word)

29644

In [5]:
df_100_200_word = df_all_color_flag[df_all_color_flag["100_200_word"] == 1]
#df_100_200_word

In [6]:
set_100_200_word = set(df_100_200_word.index)
len(set_100_200_word)

6876

In [7]:
df_first_200_word = df_all_color_flag[df_all_color_flag["first_200_word"] == 1]
#df_first_200_word

In [8]:
set_first_200_word = set(df_first_200_word.index)
len(set_first_200_word)

36520

In [9]:
df_first_100_twogram = df_all_color_flag[df_all_color_flag["first_100_twogram"] == 2]
#df_first_100_twogram

In [10]:
set_first_100_twogram = set(df_first_100_twogram.index)
len(set_first_100_twogram)

9459

In [11]:
df_100_200_twogram = df_all_color_flag[df_all_color_flag["100_200_twogram"] == 2]
#df_100_200_twogram

In [12]:
set_100_200_twogram = set(df_100_200_twogram.index)
len(set_100_200_twogram)

4359

In [13]:
df_first_200_twogram = df_all_color_flag[df_all_color_flag["first_200_twogram"] == 2]
#df_first_200_twogram

In [14]:
set_first_200_twogram = set(df_first_200_twogram.index)
len(set_first_200_twogram)

13026

In [15]:
df_first_100_threegram = df_all_color_flag[df_all_color_flag["first_100_threegram"] == 3]
#df_first_100_threegram

In [16]:
set_first_100_threegram = set(df_first_100_threegram.index)
len(set_first_100_threegram)

5612

In [17]:
df_100_200_threegram = df_all_color_flag[df_all_color_flag["100_200_threegram"] == 3]
#df_100_200_threegram

In [18]:
set_100_200_threegram = set(df_100_200_threegram.index)
len(set_100_200_threegram)

2633

In [19]:
df_first_200_threegram = df_all_color_flag[df_all_color_flag["first_200_threegram"] == 3]
#df_first_200_threegram

In [20]:
set_first_200_threegram = set(df_first_200_threegram.index)
len(set_first_200_threegram)

7583

In [21]:
df_root = df_all_color_flag[df_all_color_flag["root_flag"] == 4]
#df_root

In [22]:
set_root = set(df_root.index)
len(set_root)

49968

##### Level 1

In [23]:
len(set_first_100_word)

29644

##### Level 2

In [24]:
len(set_100_200_word)

6876

In [25]:
len(set_first_100_word.union(set_100_200_word))

36520

In [26]:
len(set_first_200_word)

36520

In [27]:
len(set_first_100_twogram)

9459

In [28]:
len(set_first_200_word.union(set_first_100_twogram))

37023

##### Level 3

In [29]:
len(set_100_200_twogram)

4359

In [30]:
len(set_first_200_twogram)

13026

In [31]:
len(set_first_200_word.union(set_first_200_twogram))

37777

In [32]:
len(set_first_100_threegram)

5612

In [33]:
len(set_first_200_threegram.union(set_first_200_word.union(set_first_200_twogram)))

38427

#### Level 4

In [34]:
len(set_100_200_threegram)

2633

In [35]:
len(set_first_200_threegram)

7583

In [36]:
len(set_root)

49968

#### Level DataFrame

In [37]:
df_level_all = df_all_color_flag.iloc[:,[0,1,2,9,10,11,12,13,14,15,16,17,18,19]]
df_level_all

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4

In [38]:
df_level_all["level1"] = df_level_all["first_100_word"]
df_level_all

<ipython-input-38-97641e5d69d7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_level_all["level1"] = df_level_all["first_100_word"]

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag,level1
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4,1
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4,1
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4,1
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4,1
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4,0
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4,1
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0,1
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4,0
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4,0

In [39]:
df_level_all["level2"] = df_level_all["first_200_word"]+df_level_all["first_100_twogram"]
df_level_all

<ipython-input-39-1ef98758af83>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_level_all["level2"] = df_level_all["first_200_word"]+df_level_all["first_100_twogram"]

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag,level1,level2
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4,1,3
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4,1,3
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4,1,3
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4,1,3
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4,0,0
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4,1,1
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0,1,1
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4,0,1
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4,0,0

In [40]:
df_level_all["level2"] = df_level_all["level2"].map({0:0,1:1,2:2,3:2})
df_level_all

<ipython-input-40-0e059d207ac6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_level_all["level2"] = df_level_all["level2"].map({0:0,1:1,2:2,3:2})

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag,level1,level2
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4,1,2
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4,1,2
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4,1,2
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4,1,2
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4,0,0
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4,1,1
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0,1,1
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4,0,1
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4,0,0

In [41]:
df_level_all["level3_1"] = df_level_all["first_200_word"]+df_level_all["first_200_twogram"]
df_level_all

<ipython-input-41-2bd6401cfce6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_level_all["level3_1"] = df_level_all["first_200_word"]+df_level_all["first_200_twogram"]

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag,level1,level2,level3_1
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4,1,2,3
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4,1,2,3
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4,1,2,3
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4,1,2,3
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4,0,0,0
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4,1,1,1
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0,1,1,1
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4,0,1,1
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4,0,0,0

In [42]:
df_level_all["level3_1"] = df_level_all["level3_1"].map({0:0,1:1,2:2,3:2})
df_level_all

<ipython-input-42-943806d6bc45>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_level_all["level3_1"] = df_level_all["level3_1"].map({0:0,1:1,2:2,3:2})

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag,level1,level2,level3_1
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4,1,2,2
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4,1,2,2
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4,1,2,2
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4,1,2,2
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4,0,0,0
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4,1,1,1
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0,1,1,1
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4,0,1,1
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4,0,0,0

In [43]:
df_level_all["level3"] = df_level_all["level3_1"]+df_level_all["first_200_threegram"]
df_level_all

<ipython-input-43-4a603dde2920>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_level_all["level3"] = df_level_all["level3_1"]+df_level_all["first_200_threegram"]

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag,level1,level2,level3_1,level3
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4,1,2,2,5
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4,1,2,2,5
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4,1,2,2,5
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4,1,2,2,5
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4,0,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4,0,0,0,0
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4,1,1,1,1
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0,1,1,1,1
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4,0,1,1,1
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4,0,0,0,0

In [44]:
df_level_all["level3"] = df_level_all["level3"].map({0:0,1:1,2:2,3:3,4:3,5:3})
df_level_all

<ipython-input-44-0dacf06ac947>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_level_all["level3"] = df_level_all["level3"].map({0:0,1:1,2:2,3:3,4:3,5:3})

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag,level1,level2,level3_1,level3
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4,1,2,2,3
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4,1,2,2,3
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4,1,2,2,3
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4,1,2,2,3
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4,0,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4,0,0,0,0
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4,1,1,1,1
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0,1,1,1,1
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4,0,1,1,1
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4,0,0,0,0

In [45]:
df_level_all["level4"] = df_level_all["root_flag"]
df_level_all

<ipython-input-45-21a960254944>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_level_all["level4"] = df_level_all["root_flag"]

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag,level1,level2,level3_1,level3,level4
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4,1,2,2,3,4
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4,1,2,2,3,4
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4,1,2,2,3,4
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4,1,2,2,3,4
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4,0,0,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4,0,0,0,0,4
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4,1,1,1,1,4
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0,1,1,1,1,0
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4,0,1,1,1,4
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4,0,0,0,0,4

In [46]:
df_level_all["twogram"] = df_level_all["first_200_twogram"]
df_level_all

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,first_100_threegram,100_200_threegram,first_200_threegram,root_flag,level1,level2,level3_1,level3,level4,twogram
0,1,1,1,0,1,0,1,2,0,2,3,0,3,4,1,2,2,3,4,2
1,1,1,2,1,1,0,1,2,0,2,3,0,3,4,1,2,2,3,4,2
2,1,1,3,2,1,0,1,2,0,2,3,0,3,4,1,2,2,3,4,2
3,1,1,4,3,1,0,1,2,0,2,3,0,3,4,1,2,2,3,4,2
4,1,2,1,4,0,0,0,0,2,2,0,0,0,4,0,0,2,2,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,0,0,0,4,0,0,0,0,4,0
78245,114,5,5,78245,1,0,1,0,0,0,0,0,0,4,1,1,1,1,4,0
78246,114,6,1,78246,1,0,1,0,0,0,0,0,0,0,1,1,1,1,0,0
78247,114,6,2,78247,0,1,1,0,0,0,0,0,0,4,0,1,1,1,4,0
78248,114,6,3,78248,0,0,0,0,0,0,0,0,0,4,0,0,0,0,4,0

In [47]:
df_level_all["threegram"] = df_level_all["first_200_threegram"]
df_level_all

,num_1,num_2,num_3,index,first_100_word,100_200_word,first_200_word,first_100_twogram,100_200_twogram,first_200_twogram,...,100_200_threegram,first_200_threegram,root_flag,level1,level2,level3_1,level3,level4,twogram,threegram
0,1,1,1,0,1,0,1,2,0,2,...,0,3,4,1,2,2,3,4,2,3
1,1,1,2,1,1,0,1,2,0,2,...,0,3,4,1,2,2,3,4,2,3
2,1,1,3,2,1,0,1,2,0,2,...,0,3,4,1,2,2,3,4,2,3
3,1,1,4,3,1,0,1,2,0,2,...,0,3,4,1,2,2,3,4,2,3
4,1,2,1,4,0,0,0,0,2,2,...,0,0,4,0,0,2,2,4,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,0,0,0,...,0,0,4,0,0,0,0,4,0,0
78245,114,5,5,78245,1,0,1,0,0,0,...,0,0,4,1,1,1,1,4,0,0
78246,114,6,1,78246,1,0,1,0,0,0,...,0,0,0,1,1,1,1,0,0,0
78247,114,6,2,78247,0,1,1,0,0,0,...,0,0,4,0,1,1,1,4,0,0
78248,114,6,3,78248,0,0,0,0,0,0,...,0,0,4,0,0,0,0,4,0,0

In [48]:
df_level_all = df_level_all.iloc[:,[0,1,2,3,14,15,17,18,19,20]]
df_level_all

,num_1,num_2,num_3,index,level1,level2,level3,level4,twogram,threegram
0,1,1,1,0,1,2,3,4,2,3
1,1,1,2,1,1,2,3,4,2,3
2,1,1,3,2,1,2,3,4,2,3
3,1,1,4,3,1,2,3,4,2,3
4,1,2,1,4,0,0,2,4,2,0
...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,4,0,0
78245,114,5,5,78245,1,1,1,4,0,0
78246,114,6,1,78246,1,1,1,0,0,0
78247,114,6,2,78247,0,1,1,4,0,0
78248,114,6,3,78248,0,0,0,4,0,0

In [49]:
df_level_all["level1"].value_counts()

0    48605
1    29644
Name: level1, dtype: int64

In [50]:
df_level_all["level2"].value_counts()

0    41226
1    27564
2     9459
Name: level2, dtype: int64

In [51]:
df_level_all["level3"].value_counts()

0    39822
1    23895
3     7583
2     6949
Name: level3, dtype: int64

In [52]:
df_level_all["level4"].value_counts()

4    49968
0    28281
Name: level4, dtype: int64

In [53]:
df_level_all["twogram"].value_counts()

0    65223
2    13026
Name: twogram, dtype: int64

In [54]:
df_level_all["threegram"].value_counts()

0    70666
3     7583
Name: threegram, dtype: int64

In [55]:
#df_level_all.to_excel("Arabic_Levels_Color_Flags_Loc.xlsx", index=False)

#### Edit Location

In [56]:
df_all_color_flag = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/7-Deployment/Arabic_Buckwalter_Word_Root_First_100_200_Word_NGram_Root_Color_Flag.xlsx")
df_all_color_flag = df_all_color_flag.iloc[:,[0,1,2,3,4,5,6,7,8,9]]
df_all_color_flag

,num_1,num_2,num_3,arabic_word_tanzil_clean,buckwalter_word_tanzil_clean,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain,root,root_arabic,index
0,1,1,1,بسم,bsm,بِسْمِ,bisomi,smw,سمو,0
1,1,1,2,الله,Allh,اللَّهِ,All~ahi,Alh,اله,1
2,1,1,3,الرحمن,AlrHmn,الرَّحْمَٰنِ,Alr~aHoma`ni,rHm,رحم,2
3,1,1,4,الرحيم,AlrHym,الرَّحِيمِ,Alr~aHiymi,rHm,رحم,3
4,1,2,1,الحمد,AlHmd,الْحَمْدُ,AloHamodu,Hmd,حمد,4
...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri,Sdr,صدر,78244
78245,114,5,5,الناس,AlnAs,النَّاسِ,Aln~aAsi,nws,نوس,78245
78246,114,6,1,من,mn,مِنَ,mina,NaN,NaN,78246
78247,114,6,2,الجنة,Aljnp,الْجِنَّةِ,Alojin~api,jnn,جنن,78247
78248,114,6,3,والناس,wAlnAs,وَالنَّاسِ,waAln~aAsi,nws,نوس,78248

In [57]:
df_all_level_flag = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/8-Compare Color Flags/Arabic_Levels_Color_Flags_Loc.xlsx")
df_all_level_flag

,num_1,num_2,num_3,index,level1,level2,level3,level4,twogram,threegram
0,1,1,1,0,1,2,3,4,2,3
1,1,1,2,1,1,2,3,4,2,3
2,1,1,3,2,1,2,3,4,2,3
3,1,1,4,3,1,2,3,4,2,3
4,1,2,1,4,0,0,2,4,2,0
...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,78244,0,0,0,4,0,0
78245,114,5,5,78245,1,1,1,4,0,0
78246,114,6,1,78246,1,1,1,0,0,0
78247,114,6,2,78247,0,1,1,4,0,0
78248,114,6,3,78248,0,0,0,4,0,0

In [58]:
df = pd.merge(df_all_color_flag, df_all_level_flag, how="inner", on=["num_1","num_2","num_3","index"])
df.drop_duplicates(inplace=True)
df

,num_1,num_2,num_3,arabic_word_tanzil_clean,buckwalter_word_tanzil_clean,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain,root,root_arabic,index,level1,level2,level3,level4,twogram,threegram
0,1,1,1,بسم,bsm,بِسْمِ,bisomi,smw,سمو,0,1,2,3,4,2,3
1,1,1,2,الله,Allh,اللَّهِ,All~ahi,Alh,اله,1,1,2,3,4,2,3
2,1,1,3,الرحمن,AlrHmn,الرَّحْمَٰنِ,Alr~aHoma`ni,rHm,رحم,2,1,2,3,4,2,3
3,1,1,4,الرحيم,AlrHym,الرَّحِيمِ,Alr~aHiymi,rHm,رحم,3,1,2,3,4,2,3
4,1,2,1,الحمد,AlHmd,الْحَمْدُ,AloHamodu,Hmd,حمد,4,0,0,2,4,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri,Sdr,صدر,78244,0,0,0,4,0,0
78245,114,5,5,الناس,AlnAs,النَّاسِ,Aln~aAsi,nws,نوس,78245,1,1,1,4,0,0
78246,114,6,1,من,mn,مِنَ,mina,NaN,NaN,78246,1,1,1,0,0,0
78247,114,6,2,الجنة,Aljnp,الْجِنَّةِ,Alojin~api,jnn,جنن,78247,0,1,1,4,0,0
78248,114,6,3,والناس,wAlnAs,وَالنَّاسِ,waAln~aAsi,nws,نوس,78248,0,0,0,4,0,0

In [59]:
# df first column order must be (num_1, num_2, num_3, arabic_word_tanzil_clean, buckwalter_word_tanzil_clean)
for i in range(len(df)):
    num_2 = df.iloc[i,1] # num_2
    num_3 = df.iloc[i,2] # num_3
    buckwalter_word = df.iloc[i,4] # buckwalter_word_tanzil_clean
    if num_2 == 1:
        if (buckwalter_word == "bsm" and df.iloc[i+1,4] == "Allh" and df.iloc[i+2,4] == "AlrHmn")  or (df.iloc[i-1,4] == "bsm" and buckwalter_word == "Allh" and df.iloc[i+1,4] == "AlrHmn") \
            or (df.iloc[i-1,4] == "Allh" and buckwalter_word == "AlrHmn" and df.iloc[i+1,4] == "AlrHym") or (df.iloc[i-2,4] == "Allh" and  df.iloc[i-1,4] == "AlrHmn" and buckwalter_word == "AlrHym"):
            df.iloc[i,1] = 0
        elif num_3 == 1:
            pass
        elif num_3 != 1 and df.iloc[i-1,2] == 4 and df.iloc[i-1,4] == "AlrHym":
            df.iloc[i,2] = 1
        else:
            df.iloc[i,2] = df.iloc[i-1,2]+1
    else:
        pass

In [60]:
# df first column order must be (num_1, num_2, num_3, arabic_word_tanzil_clean, buckwalter_word_tanzil_clean)
def relocation(df):
    for i in range(len(df)):
        num_2 = df.iloc[i,1] # num_2
        num_3 = df.iloc[i,2] # num_3
        buckwalter_word = df.iloc[i,4] # buckwalter_word_tanzil_clean
        if num_2 == 1:
            if (buckwalter_word == "bsm" and df.iloc[i+1,4] == "Allh" and df.iloc[i+2,4] == "AlrHmn")  or (df.iloc[i-1,4] == "bsm" and buckwalter_word == "Allh" and df.iloc[i+1,4] == "AlrHmn") \
                or (df.iloc[i-1,4] == "Allh" and buckwalter_word == "AlrHmn" and df.iloc[i+1,4] == "AlrHym") or (df.iloc[i-2,4] == "Allh" and  df.iloc[i-1,4] == "AlrHmn" and buckwalter_word == "AlrHym"):
                df.iloc[i,1] = 0
            elif num_3 == 1:
                pass
            elif num_3 != 1 and df.iloc[i-1,2] == 4 and df.iloc[i-1,4] == "AlrHym":
                df.iloc[i,2] = 1
            else:
                df.iloc[i,2] = df.iloc[i-1,2]+1
        else:
            pass
    df.rename(columns={"num_1":"surah","num_2":"ayah","num_3":"word rank","arabic_word_tanzil_clean":"tanzil_clean","arabic_word_tanzil_plain":"tanzil_plain"},inplace=True)
    return df

In [61]:
df

,num_1,num_2,num_3,arabic_word_tanzil_clean,buckwalter_word_tanzil_clean,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain,root,root_arabic,index,level1,level2,level3,level4,twogram,threegram
0,1,0,1,بسم,bsm,بِسْمِ,bisomi,smw,سمو,0,1,2,3,4,2,3
1,1,0,2,الله,Allh,اللَّهِ,All~ahi,Alh,اله,1,1,2,3,4,2,3
2,1,0,3,الرحمن,AlrHmn,الرَّحْمَٰنِ,Alr~aHoma`ni,rHm,رحم,2,1,2,3,4,2,3
3,1,0,4,الرحيم,AlrHym,الرَّحِيمِ,Alr~aHiymi,rHm,رحم,3,1,2,3,4,2,3
4,1,2,1,الحمد,AlHmd,الْحَمْدُ,AloHamodu,Hmd,حمد,4,0,0,2,4,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri,Sdr,صدر,78244,0,0,0,4,0,0
78245,114,5,5,الناس,AlnAs,النَّاسِ,Aln~aAsi,nws,نوس,78245,1,1,1,4,0,0
78246,114,6,1,من,mn,مِنَ,mina,NaN,NaN,78246,1,1,1,0,0,0
78247,114,6,2,الجنة,Aljnp,الْجِنَّةِ,Alojin~api,jnn,جنن,78247,0,1,1,4,0,0
78248,114,6,3,والناس,wAlnAs,وَالنَّاسِ,waAln~aAsi,nws,نوس,78248,0,0,0,4,0,0

In [62]:
df.rename(columns={"num_1":"surah","num_2":"ayah","num_3":"word rank","arabic_word_tanzil_clean":"tanzil_clean","arabic_word_tanzil_plain":"tanzil_plain","level1":"level 1","level2":"level 2","level3":"level 3","level4":"level 4","twogram":"2gram","threegram":"3gram"},inplace=True)
df

,surah,ayah,word rank,tanzil_clean,buckwalter_word_tanzil_clean,tanzil_plain,buckwalter_word_tanzil_plain,root,root_arabic,index,level 1,level 2,level 3,level 4,2gram,3gram
0,1,0,1,بسم,bsm,بِسْمِ,bisomi,smw,سمو,0,1,2,3,4,2,3
1,1,0,2,الله,Allh,اللَّهِ,All~ahi,Alh,اله,1,1,2,3,4,2,3
2,1,0,3,الرحمن,AlrHmn,الرَّحْمَٰنِ,Alr~aHoma`ni,rHm,رحم,2,1,2,3,4,2,3
3,1,0,4,الرحيم,AlrHym,الرَّحِيمِ,Alr~aHiymi,rHm,رحم,3,1,2,3,4,2,3
4,1,2,1,الحمد,AlHmd,الْحَمْدُ,AloHamodu,Hmd,حمد,4,0,0,2,4,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri,Sdr,صدر,78244,0,0,0,4,0,0
78245,114,5,5,الناس,AlnAs,النَّاسِ,Aln~aAsi,nws,نوس,78245,1,1,1,4,0,0
78246,114,6,1,من,mn,مِنَ,mina,NaN,NaN,78246,1,1,1,0,0,0
78247,114,6,2,الجنة,Aljnp,الْجِنَّةِ,Alojin~api,jnn,جنن,78247,0,1,1,4,0,0
78248,114,6,3,والناس,wAlnAs,وَالنَّاسِ,waAln~aAsi,nws,نوس,78248,0,0,0,4,0,0

In [63]:
df_page = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/7-Deployment/Arabic_Buckwalter_Word_Root_Color_Juz_Name_Page2.xlsx")
df_page

,num_1,num_2,num_3,arabic_word_tanzil_clean,buckwalter_word_tanzil_clean,arabic_word_tanzil_plain,buckwalter_word_tanzil_plain,color,form,root,root_arabic,tag,Juz,SurahNameArabic,SurahNameEnglish,ArabicWordCount,ArabicLetterCount,page
0,1,1,1,بسم,bsm,بِسْمِ,bisomi,1,somi,smw,سمو,N,1,الفاتحة,Al-Fatiha,4,19,1
1,1,1,2,الله,Allh,اللَّهِ,All~ahi,1,{ll~ahi,Alh,اله,PN,1,الفاتحة,Al-Fatiha,4,19,1
2,1,1,3,الرحمن,AlrHmn,الرَّحْمَٰنِ,Alr~aHoma`ni,1,r~aHoma`ni,rHm,رحم,ADJ,1,الفاتحة,Al-Fatiha,4,19,1
3,1,1,4,الرحيم,AlrHym,الرَّحِيمِ,Alr~aHiymi,1,r~aHiymi,rHm,رحم,ADJ,1,الفاتحة,Al-Fatiha,4,19,1
4,1,2,1,الحمد,AlHmd,الْحَمْدُ,AloHamodu,0,Hamodu,Hmd,حمد,N,1,الفاتحة,Al-Fatiha,4,18,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,صدور,Sdwr,صُدُورِ,Suduwri,0,Suduwri,Sdr,صدر,N,30,الناس,An-Nas,5,20,604
78245,114,5,5,الناس,AlnAs,النَّاسِ,Aln~aAsi,1,n~aAsi,nws,نوس,N,30,الناس,An-Nas,5,20,604
78246,114,6,1,من,mn,مِنَ,mina,1,NaN,NaN,NaN,NaN,30,الناس,An-Nas,3,13,604
78247,114,6,2,الجنة,Aljnp,الْجِنَّةِ,Alojin~api,0,jin~api,jnn,جنن,N,30,الناس,An-Nas,3,13,604
78248,114,6,3,والناس,wAlnAs,وَالنَّاسِ,waAln~aAsi,0,n~aAsi,nws,نوس,N,30,الناس,An-Nas,3,13,604

In [64]:
df_page = relocation(df_page)
df_page = df_page.iloc[:,[0,1,2,11,12,13,14,15,16,17]]
df_page

,surah,ayah,word rank,tag,Juz,SurahNameArabic,SurahNameEnglish,ArabicWordCount,ArabicLetterCount,page
0,1,0,1,N,1,الفاتحة,Al-Fatiha,4,19,1
1,1,0,2,PN,1,الفاتحة,Al-Fatiha,4,19,1
2,1,0,3,ADJ,1,الفاتحة,Al-Fatiha,4,19,1
3,1,0,4,ADJ,1,الفاتحة,Al-Fatiha,4,19,1
4,1,2,1,N,1,الفاتحة,Al-Fatiha,4,18,1
...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,N,30,الناس,An-Nas,5,20,604
78245,114,5,5,N,30,الناس,An-Nas,5,20,604
78246,114,6,1,NaN,30,الناس,An-Nas,3,13,604
78247,114,6,2,N,30,الناس,An-Nas,3,13,604
78248,114,6,3,N,30,الناس,An-Nas,3,13,604

In [65]:
df_merge_page_level = pd.merge(df, df_page, how="inner", on=["surah","ayah","word rank"])
df_merge_page_level.rename(columns={"Juz":"juz","SurahNameArabic":"surah arabic","SurahNameEnglish":"surah latin","ArabicWordCount":"word count ayah","ArabicLetterCount":"letter count ayah"}, inplace=True)
df_merge_page_level = df_merge_page_level.iloc[:,[0,1,2,17,22,18,19,20,21,3,4,5,6,7,8,16,10,11,12,13,14,15,9]]
df_merge_page_level

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,root,root_arabic,tag,level 1,level 2,level 3,level 4,2gram,3gram,index
0,1,0,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,smw,سمو,N,1,2,3,4,2,3,0
1,1,0,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,Alh,اله,PN,1,2,3,4,2,3,1
2,1,0,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,rHm,رحم,ADJ,1,2,3,4,2,3,2
3,1,0,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,rHm,رحم,ADJ,1,2,3,4,2,3,3
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,Hmd,حمد,N,0,0,2,4,2,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78246,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,Sdr,صدر,N,0,0,0,4,0,0,78244
78247,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,nws,نوس,N,1,1,1,4,0,0,78245
78248,114,6,1,30,604,الناس,An-Nas,3,13,من,...,NaN,NaN,NaN,1,1,1,0,0,0,78246
78249,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,jnn,جنن,N,0,1,1,4,0,0,78247
78250,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,nws,نوس,N,0,0,0,4,0,0,78248

In [66]:
df_merge_page_level.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78251 entries, 0 to 78250
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   surah                         78251 non-null  int64
 1   ayah                          78251 non-null  int64
 2   word rank                     78251 non-null  int64
 3   juz                           78251 non-null  int64
 4   page                          78251 non-null  int64
 5   surah arabic                  78251 non-null  object
 6   surah latin                   78251 non-null  object
 7   word count ayah               78251 non-null  int64
 8   letter count ayah             78251 non-null  int64
 9   tanzil_clean                  78251 non-null  object
 10  buckwalter_word_tanzil_clean  78251 non-null  object
 11  tanzil_plain                  78251 non-null  object
 12  buckwalter_word_tanzil_plain  78251 non-null  object
 13  root                          49970 non-null  object
 14  root_arabic                   49970 non-null  object
 15  tag                           49970 non-null  object
 16  level 1                       78251 non-null  int64
 17  level 2                       78251 non-null  int64
 18  level 3                       78251 non-null  int64
 19  level 4                       78251 non-null  int64
 20  2gram                         78251 non-null  int64
 21  3gram                         78251 non-null  int64
 22  index                         78251 non-null  int64
dtypes: int64(14), object(9)
memory usage: 14.3+ MB

In [67]:
df_merge_page_level.insert(22,"start_time",np.nan)
df_merge_page_level.insert(23,"end_time",np.nan)
df_merge_page_level.insert(24,"repeat flag",np.nan)

In [68]:
df_merge_page_level.drop_duplicates(inplace=True)
df_merge_page_level.reset_index(drop=True, inplace=True)
df_merge_page_level.sort_values(by=["surah","ayah","word rank"], inplace=True, ascending=True)
df_merge_page_level

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 1,level 2,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index
0,1,0,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,1,2,3,4,2,3,NaN,NaN,NaN,0
1,1,0,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,1,2,3,4,2,3,NaN,NaN,NaN,1
2,1,0,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,1,2,3,4,2,3,NaN,NaN,NaN,2
3,1,0,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,1,2,3,4,2,3,NaN,NaN,NaN,3
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,0,0,2,4,2,0,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,4,0,0,NaN,NaN,NaN,78244
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,1,1,1,4,0,0,NaN,NaN,NaN,78245
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,1,1,1,0,0,0,NaN,NaN,NaN,78246
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,0,1,1,4,0,0,NaN,NaN,NaN,78247
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,0,4,0,0,NaN,NaN,NaN,78248

In [69]:
df_merge_page_level["level 1"].value_counts()

0    48605
1    29644
Name: level 1, dtype: int64

In [70]:
df_merge_page_level["level 2"].value_counts()

0    41226
1    27564
2     9459
Name: level 2, dtype: int64

In [71]:
df_merge_page_level["level 3"].value_counts()

0    39822
1    23895
3     7583
2     6949
Name: level 3, dtype: int64

In [72]:
df_merge_page_level["level 4"].value_counts()

4    49968
0    28281
Name: level 4, dtype: int64

In [73]:
df_merge_page_level["2gram"].value_counts()

0    65223
2    13026
Name: 2gram, dtype: int64

In [74]:
df_merge_page_level["3gram"].value_counts()

0    70666
3     7583
Name: 3gram, dtype: int64

In [75]:
df_merge_page_level["index"].nunique()

78249

In [76]:
#df_merge_page_level.to_excel("Arabic_Buckwalter_All_Relocation.xlsx", index=False)

In [ ]:
df_relocate = pd.read_excel("Arabic_Buckwalter_All_Relocation.xlsx")

In [ ]:
for i in range(len(df_relocate)):
    ayah = df_relocate.loc[i,"ayah"] 
    buckwalter_word = df_relocate.loc[i,"buckwalter_word_tanzil_clean"] # buckwalter_word_tanzil_clean
    if ayah == 0:
        if (buckwalter_word == "bsm" and df_relocate.loc[i+1,"buckwalter_word_tanzil_clean"] == "Allh" and df_relocate.loc[i+2,"buckwalter_word_tanzil_clean"] == "AlrHmn")  or (df_relocate.loc[i-1,"buckwalter_word_tanzil_clean"] == "bsm" and buckwalter_word == "Allh" and df_relocate.loc[i+1,"buckwalter_word_tanzil_clean"] == "AlrHmn") \
            or (df_relocate.loc[i-1,"buckwalter_word_tanzil_clean"] == "Allh" and buckwalter_word == "AlrHmn" and df_relocate.loc[i+1,"buckwalter_word_tanzil_clean"] == "AlrHym") or (df_relocate.loc[i-2,"buckwalter_word_tanzil_clean"] == "Allh" and  df_relocate.loc[i-1,"buckwalter_word_tanzil_clean"] == "AlrHmn" and buckwalter_word == "AlrHym"):
            df_relocate.loc[i,"word count ayah"] = 4
            df_relocate.loc[i,"letter count ayah"] = 19
    else:
        pass

In [ ]:
#df_relocate.to_excel("Arabic_Buckwalter_All_Relocation_Edit_Word_Letter_Count.xlsx", index=False)