In [2]:
import pandas as pd 
import numpy as np
import math

In [3]:
df = pd.read_csv("time_to_text_converting.csv")

In [4]:
df.head()

   Time in ms Time in Text
0      716865         12 m
1    18006546          5 h
2     4845998     1 h 21 m
3     5360399     1 h 29 m
4      481841          8 m

In [5]:
df["Time in ms"].head()

0      716865
1    18006546
2     4845998
3     5360399
4      481841
Name: Time in ms, dtype: int64

In [16]:
convert = []
for i in df["Time in ms"]:
    s = i/1000
    m = s/60
    if m >60:
        h = math.floor(m/60)
        m = (s/60) - (h*60)
        m = round(m)
        if m == 0:
            convert.append(f"{h} h")
        else:
            convert.append(f"{h} h {m} m")        
    else:
        m = round(m)    
        convert.append(f"{m} m")

In [17]:
convert

['12 m',
 '5 h',
 '1 h 21 m',
 '1 h 29 m',
 '8 m',
 '1 h 55 m',
 '52 m',
 '38 m',
 '1 h 31 m',
 '35 m',
 '5 m',
 '11 m',
 '27 m',
 '29 m',
 '5 m',
 '54 m',
 '32 m',
 '10 m',
 '21 m',
 '36 m',
 '32 m',
 '1 h 10 m',
 '16 m',
 '15 m',
 '17 m',
 '59 m',
 '10 m',
 '3 h 8 m',
 '3 m',
 '30 m',
 '5 h',
 '35 m',
 '1 h 14 m',
 '8 m',
 '18 m',
 '2 h 4 m',
 '21 m',
 '42 m',
 '32 m',
 '1 m',
 '52 m',
 '7 m',
 '36 m',
 '2 m',
 '56 m',
 '1 h 9 m',
 '3 h 47 m',
 '19 m',
 '7 m',
 '8 m',
 '25 m',
 '45 m',
 '51 m',
 '37 m',
 '57 m',
 '2 h 2 m',
 '37 m',
 '1 h 43 m',
 '11 m',
 '2 h 28 m',
 '4 m',
 '1 h 14 m',
 '25 m',
 '1 h 40 m',
 '7 m',
 '1 h 42 m',
 '41 m',
 '1 h 3 m',
 '13 m',
 '22 m',
 '1 h 17 m',
 '6 m',
 '13 m',
 '39 m',
 '8 m',
 '2 m',
 '9 m',
 '37 m',
 '1 h 57 m',
 '6 m',
 '1 h 10 m',
 '18 m',
 '16 m',
 '14 m',
 '29 m',
 '1 h 12 m',
 '14 m',
 '2 h 41 m',
 '1 h 40 m',
 '13 m',
 '6 m',
 '59 m',
 '5 h 1 m',
 '2 h 38 m',
 '54 m',
 '27 m',
 '16 m',
 '11 m',
 '5 m',
 '2 h 1 m',
 '2 m',
 '15 m',
 '1 h 7 m',
 '1 h 50 m',
 '17 m',
 '20 m',
 '49 m',
 '16 m',
 '1 h 5 m',
 '5 h',
 '29 m',
 '1 h 43 m',
 '4 m',
 '51 m',
 '16 m',
 '1 h 17 m',
 '6 m',
 '18 m',
 '8 m',
 '1 h 2 m',
 '20 m',
 '12 m',
 '2 h 8 m',
 '3 m',
 '31 m',
 '3 h 1 m',
 '7 m',
 '23 m',
 '18 m',
 '6 m',
 '38 m',
 '46 m',
 '2 h 34 m',
 '2 m',
 '45 m',
 '1 h 21 m',
 '11 m',
 '57 m',
 '8 m',
 '46 m',
 '20 m',
 '12 m',
 '60 m',
 '2 h 10 m',
 '11 m',
 '1 h 7 m',
 '1 h 1 m',
 '1 h 18 m',
 '8 m',
 '28 m',
 '19 m',
 '24 m',
 '3 m',
 '9 m',
 '1 h 39 m',
 '33 m',
 '4 m',
 '3 m',
 '53 m',
 '51 m',
 '1 h 9 m',
 '6 m',
 '24 m',
 '42 m',
 '11 m',
 '24 m',
 '4 m',
 '1 h 1 m',
 '5 m',
 '1 h 6 m',
 '2 h 53 m',
 '3 m',
 '37 m',
 '5 h',
 '22 m',
 '2 h 7 m',
 '1 h 29 m',
 '34 m',
 '18 m',
 '3 m',
 '13 m',
 '1 h 32 m',
 '1 h 6 m',
 '24 m',
 '44 m',
 '5 m',
 '2 h 42 m',
 '2 h 23 m',
 '1 h 11 m',
 '19 m',
 '1 h 11 m',
 '11 m',
 '16 m',
 '20 m',
 '26 m',
 '32 m',
 '17 m',
 '20 m',
 '57 m',
 '2 m',
 '14 m',
 '22 m',
 '13 m',
 '57 m',
 '9 m',
 '28 m',
 '16 m',
 '21 m',
 '4 m',
 '6 m',
 '17 m',
 '45 m',
 '1 h 18 m',
 '22 m',
 '14 m',
 '12 m',
 '1 h 31 m',
 '18 m',
 '1 h 35 m',
 '12 m',
 '3 h 18 m',
 '38 m',
 '7 m',
 '41 m',
 '1 h 36 m',
 '20 m',
 '17 m',
 '57 m',
 '1 h 6 m',
 '1 h 3 m',
 '0 m',
 '35 m',
 '1 h 43 m',
 '3 h 32 m',
 '2 h',
 '1 h 12 m',
 '2 h 22 m',
 '12 m',
 '1 h 30 m',
 '4 m',
 '15 m',
 '58 m',
 '28 m',
 '45 m',
 '45 m',
 '4 m',
 '1 h 50 m',
 '15 m',
 '18 m',
 '6 m',
 '1 h 50 m',
 '19 m',
 '1 h 39 m',
 '6 m',
 '2 h 8 m']

In [18]:
df["Convert"] = pd.Series(convert)

In [20]:
df.head()

   Time in ms Time in Text   Convert
0      716865         12 m      12 m
1    18006546          5 h       5 h
2     4845998     1 h 21 m  1 h 21 m
3     5360399     1 h 29 m  1 h 29 m
4      481841          8 m       8 m