In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv("bar_data.csv")

In [3]:
df.head()

   Responder_id                          LanguagesWorkedWith
0             1              HTML/CSS;Java;JavaScript;Python
1             2                          C++;HTML/CSS;Python
2             3                                     HTML/CSS
3             4                          C;C++;C#;Python;SQL
4             5  C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA

In [4]:
df.LanguagesWorkedWith.head()

0                HTML/CSS;Java;JavaScript;Python
1                            C++;HTML/CSS;Python
2                                       HTML/CSS
3                            C;C++;C#;Python;SQL
4    C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
Name: LanguagesWorkedWith, dtype: object

In [5]:
df.iloc[0]["LanguagesWorkedWith"]

'HTML/CSS;Java;JavaScript;Python'

In [6]:
df.LanguagesWorkedWith.iloc[0]

'HTML/CSS;Java;JavaScript;Python'

In [7]:
df.LanguagesWorkedWith.iloc[0].split(";")

['HTML/CSS', 'Java', 'JavaScript', 'Python']

In [8]:
single_row = []
for i in df.LanguagesWorkedWith.iloc[0].split(";"): # Selected 1 row
    single_row.append(i)

In [9]:
single_row

['HTML/CSS', 'Java', 'JavaScript', 'Python']

In [41]:
multi_values = []
a = 0
for i in df.LanguagesWorkedWith.iloc[a].split(";"): # Selected all row
    multi_values.append(i)
    a = a + 1
    #for j in i:
        #multi_values.append(j)
        #multi_values.append(j.split(";"))

In [ ]:
multi_values = []
a = 0
for i in df.LanguagesWorkedWith.iloc[a].split(";"): # Selected all row
    multi_values.append(i)
    a = a + 1

In [10]:
len(df.LanguagesWorkedWith)

87569

In [42]:
multi_values

['HTML/CSS', 'Java', 'JavaScript', 'Python']

In [32]:
b.count("Python")

0

In [36]:
df.LanguagesWorkedWith

0                          HTML/CSS;Java;JavaScript;Python
1                                      C++;HTML/CSS;Python
2                                                 HTML/CSS
3                                      C;C++;C#;Python;SQL
4              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
                               ...
87564                             HTML/CSS;Java;JavaScript
87565                           HTML/CSS;JavaScript;Python
87566    Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;W...
87567                        HTML/CSS;JavaScript;Other(s):
87568    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
Name: LanguagesWorkedWith, Length: 87569, dtype: object

In [33]:
a = 0
df.LanguagesWorkedWith.iloc[a].split(";")

['HTML/CSS', 'Java', 'JavaScript', 'Python']