In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("time_to_text_converting.csv")

In [3]:
df

     Time in ms Time in Text
0        716865         12 m
1      18006546          5 h
2       4845998     1 h 21 m
3       5360399     1 h 29 m
4        481841          8 m
..          ...          ...
250     6588941     1 h 50 m
251     1149649         19 m
252     5910142     1 h 39 m
253      378920          6 m
254     7689160      2 h 8 m

[255 rows x 2 columns]

In [5]:
df["Time in ms"]

0        716865
1      18006546
2       4845998
3       5360399
4        481841
         ...
250     6588941
251     1149649
252     5910142
253      378920
254     7689160
Name: Time in ms, Length: 255, dtype: int64

In [17]:
convert = []
for i in df["Time in ms"]:
    s = i/1000
    m = s/60
    if m >60:
        h = round(m/60,0)
        m = (m/60) - (h*60)
        m = round(m)
        convert.append(f"{h} h {m} m")
    else:
        m = round(m)    
        convert.append(f"{m} m")

In [18]:
convert

['12 m',
 '5.0 h -295 m',
 '1.0 h -59 m',
 '1.0 h -59 m',
 '8 m',
 '2.0 h -118 m',
 '52 m',
 '38 m',
 '2.0 h -118 m',
 '35 m',
 '5 m',
 '11 m',
 '27 m',
 '29 m',
 '5 m',
 '54 m',
 '32 m',
 '10 m',
 '21 m',
 '36 m',
 '32 m',
 '1.0 h -59 m',
 '16 m',
 '15 m',
 '17 m',
 '59 m',
 '10 m',
 '3.0 h -177 m',
 '3 m',
 '30 m',
 '5.0 h -295 m',
 '35 m',
 '1.0 h -59 m',
 '8 m',
 '18 m',
 '2.0 h -118 m',
 '21 m',
 '42 m',
 '32 m',
 '1 m',
 '52 m',
 '7 m',
 '36 m',
 '2 m',
 '56 m',
 '1.0 h -59 m',
 '4.0 h -236 m',
 '19 m',
 '7 m',
 '8 m',
 '25 m',
 '45 m',
 '51 m',
 '37 m',
 '57 m',
 '2.0 h -118 m',
 '37 m',
 '2.0 h -118 m',
 '11 m',
 '2.0 h -118 m',
 '4 m',
 '1.0 h -59 m',
 '25 m',
 '2.0 h -118 m',
 '7 m',
 '2.0 h -118 m',
 '41 m',
 '1.0 h -59 m',
 '13 m',
 '22 m',
 '1.0 h -59 m',
 '6 m',
 '13 m',
 '39 m',
 '8 m',
 '2 m',
 '9 m',
 '37 m',
 '2.0 h -118 m',
 '6 m',
 '1.0 h -59 m',
 '18 m',
 '16 m',
 '14 m',
 '29 m',
 '1.0 h -59 m',
 '14 m',
 '3.0 h -177 m',
 '2.0 h -118 m',
 '13 m',
 '6 m',
 '59 m',
 '5.0 h -295 m',
 '3.0 h -177 m',
 '54 m',
 '27 m',
 '16 m',
 '11 m',
 '5 m',
 '2.0 h -118 m',
 '2 m',
 '15 m',
 '1.0 h -59 m',
 '2.0 h -118 m',
 '17 m',
 '20 m',
 '49 m',
 '16 m',
 '1.0 h -59 m',
 '5.0 h -295 m',
 '29 m',
 '2.0 h -118 m',
 '4 m',
 '51 m',
 '16 m',
 '1.0 h -59 m',
 '6 m',
 '18 m',
 '8 m',
 '1.0 h -59 m',
 '20 m',
 '12 m',
 '2.0 h -118 m',
 '3 m',
 '31 m',
 '3.0 h -177 m',
 '7 m',
 '23 m',
 '18 m',
 '6 m',
 '38 m',
 '46 m',
 '3.0 h -177 m',
 '2 m',
 '45 m',
 '1.0 h -59 m',
 '11 m',
 '57 m',
 '8 m',
 '46 m',
 '20 m',
 '12 m',
 '60 m',
 '2.0 h -118 m',
 '11 m',
 '1.0 h -59 m',
 '1.0 h -59 m',
 '1.0 h -59 m',
 '8 m',
 '28 m',
 '19 m',
 '24 m',
 '3 m',
 '9 m',
 '2.0 h -118 m',
 '33 m',
 '4 m',
 '3 m',
 '53 m',
 '51 m',
 '1.0 h -59 m',
 '6 m',
 '24 m',
 '42 m',
 '11 m',
 '24 m',
 '4 m',
 '1.0 h -59 m',
 '5 m',
 '1.0 h -59 m',
 '3.0 h -177 m',
 '3 m',
 '37 m',
 '5.0 h -295 m',
 '22 m',
 '2.0 h -118 m',
 '1.0 h -59 m',
 '34 m',
 '18 m',
 '3 m',
 '13 m',
 '2.0 h -118 m',
 '1.0 h -59 m',
 '24 m',
 '44 m',
 '5 m',
 '3.0 h -177 m',
 '2.0 h -118 m',
 '1.0 h -59 m',
 '19 m',
 '1.0 h -59 m',
 '11 m',
 '16 m',
 '20 m',
 '26 m',
 '32 m',
 '17 m',
 '20 m',
 '57 m',
 '2 m',
 '14 m',
 '22 m',
 '13 m',
 '57 m',
 '9 m',
 '28 m',
 '16 m',
 '21 m',
 '4 m',
 '6 m',
 '17 m',
 '45 m',
 '1.0 h -59 m',
 '22 m',
 '14 m',
 '12 m',
 '2.0 h -118 m',
 '18 m',
 '2.0 h -118 m',
 '12 m',
 '3.0 h -177 m',
 '38 m',
 '7 m',
 '41 m',
 '2.0 h -118 m',
 '20 m',
 '17 m',
 '57 m',
 '1.0 h -59 m',
 '1.0 h -59 m',
 '0 m',
 '35 m',
 '2.0 h -118 m',
 '4.0 h -236 m',
 '2.0 h -118 m',
 '1.0 h -59 m',
 '2.0 h -118 m',
 '12 m',
 '2.0 h -118 m',
 '4 m',
 '15 m',
 '58 m',
 '28 m',
 '45 m',
 '45 m',
 '4 m',
 '2.0 h -118 m',
 '15 m',
 '18 m',
 '6 m',
 '2.0 h -118 m',
 '19 m',
 '2.0 h -118 m',
 '6 m',
 '2.0 h -118 m']