In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df = pd.read_csv("bar_data.csv")

In [4]:
df

       Responder_id                                LanguagesWorkedWith
0                 1                    HTML/CSS;Java;JavaScript;Python
1                 2                                C++;HTML/CSS;Python
2                 3                                           HTML/CSS
3                 4                                C;C++;C#;Python;SQL
4                 5        C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
...             ...                                                ...
87564         88182                           HTML/CSS;Java;JavaScript
87565         88212                         HTML/CSS;JavaScript;Python
87566         88282  Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;W...
87567         88377                      HTML/CSS;JavaScript;Other(s):
87568         88863  Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...

[87569 rows x 2 columns]

In [5]:
df.LanguagesWorkedWith

0                          HTML/CSS;Java;JavaScript;Python
1                                      C++;HTML/CSS;Python
2                                                 HTML/CSS
3                                      C;C++;C#;Python;SQL
4              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
                               ...
87564                             HTML/CSS;Java;JavaScript
87565                           HTML/CSS;JavaScript;Python
87566    Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;W...
87567                        HTML/CSS;JavaScript;Other(s):
87568    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
Name: LanguagesWorkedWith, Length: 87569, dtype: object