In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("time_to_text_converting.csv")

In [3]:
df

     Time in ms Time in Text
0        716865         12 m
1      18006546          5 h
2       4845998     1 h 21 m
3       5360399     1 h 29 m
4        481841          8 m
..          ...          ...
250     6588941     1 h 50 m
251     1149649         19 m
252     5910142     1 h 39 m
253      378920          6 m
254     7689160      2 h 8 m

[255 rows x 2 columns]

In [5]:
df["Time in ms"]

0        716865
1      18006546
2       4845998
3       5360399
4        481841
         ...
250     6588941
251     1149649
252     5910142
253      378920
254     7689160
Name: Time in ms, Length: 255, dtype: int64

In [ ]:
convert = []
for i in df["Time in ms"]:
    s = i/1000