In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv("bar_data.csv")

In [4]:
df.head()

   Responder_id                          LanguagesWorkedWith
0             1              HTML/CSS;Java;JavaScript;Python
1             2                          C++;HTML/CSS;Python
2             3                                     HTML/CSS
3             4                          C;C++;C#;Python;SQL
4             5  C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA

In [5]:
df.LanguagesWorkedWith.head()

0                HTML/CSS;Java;JavaScript;Python
1                            C++;HTML/CSS;Python
2                                       HTML/CSS
3                            C;C++;C#;Python;SQL
4    C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
Name: LanguagesWorkedWith, dtype: object

In [6]:
df.iloc[0]["LanguagesWorkedWith"]

'HTML/CSS;Java;JavaScript;Python'

In [7]:
df.LanguagesWorkedWith.iloc[0]

'HTML/CSS;Java;JavaScript;Python'

In [8]:
df.LanguagesWorkedWith.iloc[0].split(";")

['HTML/CSS', 'Java', 'JavaScript', 'Python']

In [10]:
a = []
for i in df.LanguagesWorkedWith.iloc[0].split(";"):
    a.append(i)

In [11]:
a

['HTML/CSS', 'Java', 'JavaScript', 'Python']

In [ ]:
b = []
for i in df.LanguagesWorkedWith.split(";"):
    a.append(i)