### Etymology Prefix Suffix Analysis

In [22]:
import pandas as pd
import numpy as np
import glob
import re

In [23]:
df_word_plus_nisanyan = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/All/Nisanyan Words Contain Plus.xlsx")
df_word_plus_nisanyan

         term            related_lang related_term
0        +ark               Fransızca       +arque
1       +arşi               Fransızca      +archie
2        +faj  Fransızca ve İngilizce       +phage
3        +gam               Fransızca        +game
4        +gen               Fransızca        +gone
..        ...                     ...          ...
150      tri+  Fransızca ve İngilizce         tri+
151  trop(o)+  Fransızca ve İngilizce       tropo+
152      üni+  Fransızca ve İngilizce         uni+
153   vaz(o)+  Fransızca ve İngilizce        vaso+
154    zo(o)+  Fransızca ve İngilizce         zoo+

[155 rows x 3 columns]

In [24]:
def remove(x):
    try:
        x = x.replace("\n","")
        x = x.replace("\r","")
        x = x.strip()
    except:
        x = x
    return x

In [25]:
df_word_plus_nisanyan["term"] = df_word_plus_nisanyan["term"].apply(lambda x: remove(x))
df_word_plus_nisanyan["related_lang"] = df_word_plus_nisanyan["related_lang"].apply(lambda x: remove(x))
df_word_plus_nisanyan["related_term"] = df_word_plus_nisanyan["related_term"].apply(lambda x: remove(x))
df_word_plus_nisanyan

         term            related_lang related_term
0        +ark               Fransızca       +arque
1       +arşi               Fransızca      +archie
2        +faj  Fransızca ve İngilizce       +phage
3        +gam               Fransızca        +game
4        +gen               Fransızca        +gone
..        ...                     ...          ...
150      tri+  Fransızca ve İngilizce         tri+
151  trop(o)+  Fransızca ve İngilizce       tropo+
152      üni+  Fransızca ve İngilizce         uni+
153   vaz(o)+  Fransızca ve İngilizce        vaso+
154    zo(o)+  Fransızca ve İngilizce         zoo+

[155 rows x 3 columns]

In [26]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Result/Word/Merge/Word_Merge2.xlsx")
#df_word = df_word.head(10000)
df_word

                  word  frequency
0                  bir   18835735
1               fikret   12101580
2                   bu   11062659
3                   ne    8025880
4                   ve    7766036
...                ...        ...
164296    buldugumuzda         43
164297  boşandıklarını         42
164298    endişenlenme         42
164299    uzaylıymışım         42
164300      söylememis         38

[164301 rows x 2 columns]

In [27]:
word_list = df_word_plus_nisanyan.loc[:,"term"].values.tolist()

In [28]:
df_word_result = pd.DataFrame()
for i in word_list:
    if i.startswith("+"):
        j = i.lstrip("+")
        word_in_video = df_word[df_word.word.str.contains(fr"{j}(?:$)", na=True)]  # string+ext=> word
        word_in_video.insert(0,"term",i)
    elif i.endswith("+"):
        j = i.rstrip("+")
        word_in_video = df_word[df_word.word.str.contains(fr"(?:^){j}", na=True)]  # ext+string=> word
        word_in_video.insert(0,"term",i)
    else:
        pass
    #word_in_video.insert(0,"word_ext",i)
    df_word_result = pd.concat([df_word_result,word_in_video], axis=0)
#df_word_result = df_word_result.sort_values(by="frequency", ascending=False)
df_word_result.reset_index(drop=True, inplace=True)
df_word_result

<ipython-input-28-58f65794987f>:9: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  word_in_video = df_word[df_word.word.str.contains(fr"(?:^){j}", na=True)]  # ext+string=> word

         term      word  frequency
0        +ark      fark     202485
1        +ark      park      62057
2        +ark   otopark       2022
3        +ark      dark       1799
4        +ark       ark       1796
...       ...       ...        ...
6527  vaz(o)+  vazoları        110
6528   zo(o)+      zoom       1184
6529   zo(o)+   zooloji        254
6530   zo(o)+       zoo        185
6531   zo(o)+  zoolojik         71

[6532 rows x 3 columns]

In [29]:
df_pre_suff_nis_merge = pd.merge(df_word_result,df_word_plus_nisanyan, how="inner", on="term")
df_pre_suff_nis_merge

         term      word  frequency            related_lang related_term
0        +ark      fark     202485               Fransızca       +arque
1        +ark      park      62057               Fransızca       +arque
2        +ark   otopark       2022               Fransızca       +arque
3        +ark      dark       1799               Fransızca       +arque
4        +ark       ark       1796               Fransızca       +arque
...       ...       ...        ...                     ...          ...
6527  vaz(o)+  vazoları        110  Fransızca ve İngilizce        vaso+
6528   zo(o)+      zoom       1184  Fransızca ve İngilizce         zoo+
6529   zo(o)+   zooloji        254  Fransızca ve İngilizce         zoo+
6530   zo(o)+       zoo        185  Fransızca ve İngilizce         zoo+
6531   zo(o)+  zoolojik         71  Fransızca ve İngilizce         zoo+

[6532 rows x 5 columns]

In [30]:
df_pre_suff_nis_merge.word.nunique()

6275

In [31]:
df_pre_suff_nis_merge.to_excel("Nisanyan_Prefix_Suffix_Term_In_Word.xlsx", index=False)