### Big Query Data

In [3]:
# pip install --upgrade google-cloud-bigquery

In [1]:
from google.cloud import bigquery
from google.oauth2 import service_account

In [2]:
# credentials = service_account.Credentials.from_service_account_file('path/to/file.json')
# 
# project_id = 'my-bq'
# client = bigquery.Client(credentials= credentials,project=project_id)

In [3]:
# # 1 Way
# query_job = client.query("""
#    SELECT *
#    FROM dataset.my_table
#    LIMIT 1000 """)
# 
# results = query_job.result() # Wait for the job to complete.

In [4]:
# # 2 Way
# # legancy_sql
# job_config.use_legacy_sql = True
# query_job = client.query("""
#    SELECT *
#    FROM dataset.my_table
#    LIMIT 1000""", job_config = job_config)
# 
# results = query_job.result() # Wait for the job to complete.

In [5]:
credentials = service_account.Credentials.from_service_account_file(r'C:\Users\Ertuğrul\Downloads\focal-dock-398011-3fccc3365d4c.json')

project_id = 'focal-dock-398011'
client = bigquery.Client(credentials= credentials, project=project_id)

In [6]:
# 1 Way
query_job = client.query("""
   SELECT *
   FROM 'bigquery-public-data.ga4_obfuscated_sample_ecommerce.events_20210131'
   WHERE user_pseudo_id IN (SELECT user_pseudo_id
   FROM
   (SELECT DISTINCT user_pseudo_id, count(distinct event_date) as day_count FROM `bigquery-public-data.ga4_obfuscated_sample_ecommerce.events_*`
   group by user_pseudo_id)
   WHERE day_count > 2) """)

results = query_job.result()

Forbidden: 403 POST https://bigquery.googleapis.com/bigquery/v2/projects/focal-dock-398011/jobs?prettyPrint=false: Access Denied: Project focal-dock-398011: User does not have bigquery.jobs.create permission in project focal-dock-398011.

Location: None
Job ID: f572f318-6852-4b1a-b604-1fd9b18c78bf

In [14]:
# chatgpt code block
from google.cloud import bigquery

# Kimlik doğrulama dosyasının yolunu belirtin
credentials_path = r"C:\Users\Ertuğrul\Downloads\focal-dock-398011-3fccc3365d4c.json"

# BigQuery istemcisini oluşturun
client = bigquery.Client.from_service_account_json(credentials_path)

# Veri setini ve tabloyu belirtin
project_id = "focal-dock-398011"
dataset_id = "bigquery-public-data.ga4_obfuscated_sample_ecommerce"
table_id = "events_20210131"

# Sorguyu hazırlayın
query = f"SELECT * FROM `{project_id}.{dataset_id}.{table_id}`"

# Sorguyu çalıştırın ve sonuçları alın
query_job = client.query(query)
results = query_job.result()

# Sonuçları işleyin
for row in results:
    print(row)

Forbidden: 403 POST https://bigquery.googleapis.com/bigquery/v2/projects/focal-dock-398011/jobs?prettyPrint=false: Access Denied: Project focal-dock-398011: User does not have bigquery.jobs.create permission in project focal-dock-398011.

Location: None
Job ID: b055d321-8926-4e09-a182-7a35a8895b61

In [ ]:
# pip install bq

In [ ]:
import bq

# Project ID ve bölgenizi tanımlayın.
project_id = "focal-dock-398011"
region = "us-central1"

# BigQuery-public-data verilerine erişmek için bir istemci oluşturun.
client = bq.Client(project_id, region=region)

# İndirmek istediğiniz tabloyu seçin.
table_name = "bigquery-public-data.ga4_obfuscated_sample_ecommerce"

# Tabloyu Cloud Storage'a dışa aktarın.
client.extract_table(
    table_name,
    "gs://my-bucket/ga4_obfuscated_sample_ecommerce_events_20210131.csv",
    format="CSV",
    compression="GZIP",
)

#### Local Data Analysis

In [7]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df_sql = pd.read_csv(r"C:\Users\Ertuğrul\Downloads\bq-results-20230905-130030-1693918863077.csv")  # bquxjob_7278a706_18a600fffc3
df_sql

,event_date,event_timestamp,event_name,user_pseudo_id,continent,sub_continent,country
0,20201101,1604238246899973,user_engagement,1.421531e+06,Americas,South America,Chile
1,20201101,1604193615737892,user_engagement,2.067846e+06,Asia,Southern Asia,Bangladesh
2,20201101,1604271841686956,user_engagement,3.336646e+06,Europe,Northern Europe,Denmark
3,20201101,1604271819974657,user_engagement,3.336646e+06,Europe,Northern Europe,Denmark
4,20201101,1604271885683174,user_engagement,3.336646e+06,Europe,Northern Europe,Denmark
...,...,...,...,...,...,...,...
651761,20201208,1607386382955769,view_item,7.877401e+07,Europe,Northern Europe,United Kingdom
651762,20201208,1607386364471813,view_item,7.877401e+07,Europe,Northern Europe,United Kingdom
651763,20201208,1607386419428873,view_item,7.877401e+07,Europe,Northern Europe,United Kingdom
651764,20201208,1607386408611145,view_item,7.877401e+07,Europe,Northern Europe,United Kingdom
651765,20201208,1607440568406633,view_item,8.492889e+07,Europe,Northern Europe,United Kingdom

In [9]:
df_sql.columns

Index(['event_date', 'event_timestamp', 'event_name', 'user_pseudo_id',
       'continent', 'sub_continent', 'country'],
      dtype='object')

In [10]:
df_sql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651766 entries, 0 to 651765
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   event_date       651766 non-null  int64
 1   event_timestamp  651766 non-null  int64
 2   event_name       651766 non-null  object
 3   user_pseudo_id   651766 non-null  float64
 4   continent        651766 non-null  object
 5   sub_continent    651766 non-null  object
 6   country          651766 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 34.8+ MB

In [11]:
df_sql = df_sql.drop(["event_previous_timestamp","event_value_in_usd","event_server_timestamp_offset",
                      "user_id"], axis=1)
df_sql

KeyError: "['event_previous_timestamp' 'event_value_in_usd'\n 'event_server_timestamp_offset' 'user_id'] not found in axis"

In [12]:
df_sql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651766 entries, 0 to 651765
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   event_date       651766 non-null  int64
 1   event_timestamp  651766 non-null  int64
 2   event_name       651766 non-null  object
 3   user_pseudo_id   651766 non-null  float64
 4   continent        651766 non-null  object
 5   sub_continent    651766 non-null  object
 6   country          651766 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 34.8+ MB

In [13]:
df_sql = df_sql.dropna()
df_sql.reset_index(drop=True, inplace=True)

In [14]:
df_sql

,event_date,event_timestamp,event_name,user_pseudo_id,continent,sub_continent,country
0,20201101,1604238246899973,user_engagement,1.421531e+06,Americas,South America,Chile
1,20201101,1604193615737892,user_engagement,2.067846e+06,Asia,Southern Asia,Bangladesh
2,20201101,1604271841686956,user_engagement,3.336646e+06,Europe,Northern Europe,Denmark
3,20201101,1604271819974657,user_engagement,3.336646e+06,Europe,Northern Europe,Denmark
4,20201101,1604271885683174,user_engagement,3.336646e+06,Europe,Northern Europe,Denmark
...,...,...,...,...,...,...,...
651761,20201208,1607386382955769,view_item,7.877401e+07,Europe,Northern Europe,United Kingdom
651762,20201208,1607386364471813,view_item,7.877401e+07,Europe,Northern Europe,United Kingdom
651763,20201208,1607386419428873,view_item,7.877401e+07,Europe,Northern Europe,United Kingdom
651764,20201208,1607386408611145,view_item,7.877401e+07,Europe,Northern Europe,United Kingdom
651765,20201208,1607440568406633,view_item,8.492889e+07,Europe,Northern Europe,United Kingdom

In [15]:
df_sql["event_name"].unique()

array(['user_engagement', 'view_item', 'purchase', 'add_to_cart'],
      dtype=object)

In [16]:
df_sql["user_pseudo_id"].nunique()

27903

In [17]:
condition_list = ["view_item","user_engagement","add_to_cart","purchase"]

In [18]:
df_new = df_sql.groupby(["user_pseudo_id"])["event_name"].unique()
df_new = df_new.reset_index()
df_new

       user_pseudo_id                                         event_name
0        1.001569e+06                                  [user_engagement]
1        1.002027e+06                       [user_engagement, view_item]
2        1.002254e+06                                  [user_engagement]
3        1.002420e+06                                  [user_engagement]
4        1.005037e+06                       [user_engagement, view_item]
...               ...                                                ...
27898    9.789701e+09                       [user_engagement, view_item]
27899    9.928813e+09  [user_engagement, view_item, purchase, add_to_...
27900    9.950140e+09                       [user_engagement, view_item]
27901    9.984229e+09                                  [user_engagement]
27902    9.985207e+09                                  [user_engagement]

[27903 rows x 2 columns]

In [19]:
df_new2 = df_sql.groupby("user_pseudo_id").apply(lambda x: x[x["event_name"].isin(condition_list)]).reset_index(drop=True)
df_new2

,event_date,event_timestamp,event_name,user_pseudo_id,continent,sub_continent,country
0,20201102,1604341115204117,user_engagement,1.001569e+06,Americas,Northern America,United States
1,20201209,1607518650503683,user_engagement,1.002027e+06,Americas,Central America,Guatemala
2,20201208,1607471513010844,user_engagement,1.002027e+06,Americas,Central America,Guatemala
3,20201208,1607471526715526,view_item,1.002027e+06,Americas,Central America,Guatemala
4,20201202,1606913945523218,user_engagement,1.002254e+06,Americas,Northern America,United States
...,...,...,...,...,...,...,...
651761,20210117,1610842734415463,user_engagement,9.984229e+09,Americas,Northern America,United States
651762,20210116,1610828787548368,user_engagement,9.984229e+09,Americas,Northern America,United States
651763,20210113,1610545531006404,user_engagement,9.985207e+09,Americas,Northern America,United States
651764,20201215,1608036308379854,user_engagement,9.985207e+09,Americas,Northern America,United States
651765,20201215,1608036336054938,user_engagement,9.985207e+09,Americas,Northern America,United States

In [20]:
df_new2.groupby("user_pseudo_id")["event_name"].nunique()

user_pseudo_id
1.001569e+06    1
1.002027e+06    2
1.002254e+06    1
1.002420e+06    1
1.005037e+06    2
               ..
9.789701e+09    2
9.928813e+09    4
9.950140e+09    2
9.984229e+09    1
9.985207e+09    1
Name: event_name, Length: 27903, dtype: int64

In [21]:
df_new3 = df_sql.groupby(["user_pseudo_id"])["event_name"].apply(set).reset_index()
df_new3

       user_pseudo_id                                         event_name
0        1.001569e+06                                  {user_engagement}
1        1.002027e+06                       {view_item, user_engagement}
2        1.002254e+06                                  {user_engagement}
3        1.002420e+06                                  {user_engagement}
4        1.005037e+06                       {view_item, user_engagement}
...               ...                                                ...
27898    9.789701e+09                       {view_item, user_engagement}
27899    9.928813e+09  {purchase, add_to_cart, view_item, user_engage...
27900    9.950140e+09                       {view_item, user_engagement}
27901    9.984229e+09                                  {user_engagement}
27902    9.985207e+09                                  {user_engagement}

[27903 rows x 2 columns]

In [22]:
for i in df_new3.iloc[531,1]:
    print(i)

view_item
user_engagement

In [24]:
#condition_list = ["session_start","user_engagement"]
condition_list = ["view_item","user_engagement","add_to_cart","purchase"]

In [25]:
def condition_check(condition_list, set_list):
    if all(condition in set_list for condition in condition_list):
        return 1
    else:
        return 0

In [26]:
df_new3["customer"] = df_new3["event_name"].apply(lambda x: condition_check(condition_list, x))
df_new3

,user_pseudo_id,event_name,customer
0,1.001569e+06,{user_engagement},0
1,1.002027e+06,"{view_item, user_engagement}",0
2,1.002254e+06,{user_engagement},0
3,1.002420e+06,{user_engagement},0
4,1.005037e+06,"{view_item, user_engagement}",0
...,...,...,...
27898,9.789701e+09,"{view_item, user_engagement}",0
27899,9.928813e+09,"{purchase, add_to_cart, view_item, user_engage...",1
27900,9.950140e+09,"{view_item, user_engagement}",0
27901,9.984229e+09,{user_engagement},0
27902,9.985207e+09,{user_engagement},0

In [27]:
df_new3["customer"].value_counts()

0    25944
1     1959
Name: customer, dtype: int64

In [28]:
df_new3["event_name"].max()

{'add_to_cart', 'purchase', 'user_engagement', 'view_item'}