### N Gram Analysis In Sentence Data Frame

In [1]:
import pandas as pd
import numpy as np
import nltk
from nltk import ngrams

In [24]:
df_sent = pd.read_csv("Sentence_Tokenize_Sample.csv")
df_sent

,sentence,frequency,ratio,cumul_ratio
0,evet,353,1.209360,1.209360
1,hayır,227,0.777690,1.987050
2,ne,109,0.373428,2.360478
3,teşekkürler,64,0.219261,2.579739
4,merhaba,59,0.202131,2.781870
...,...,...,...,...
14256,ona her şeyi anlattım,1,0.003426,99.986296
14257,bunun kabalık olduğunu düşünmüyor musun,1,0.003426,99.989722
14258,kimliğini saklamak ve savunmasız olduğu anda r...,1,0.003426,99.993148
14259,çok sinsi ve alçakça,1,0.003426,99.996574
14260,ama başk,1,0.003426,100.000000

In [20]:
# df_sent = df_sent.head(30)

In [26]:
n = 2
n_gram_list = [] 
n_gram_freq_list = []
count_index = 0
for i in df_sent.sentence:
    try:
        n_gram = ngrams(i.split(),n)
        for j in n_gram:
            j = " ".join(j)
            freq = df_sent.iloc[count_index, 1]
            n_gram_list.append(j)
            n_gram_freq_list.append(freq)
    except:
        pass
    count_index += 1

In [27]:
print(len(n_gram_freq_list))

47892

In [28]:
df_result = pd.DataFrame([n_gram_list, n_gram_freq_list]).transpose()
df_result.rename(columns={0:"twogram",1:"frequency"}, inplace=True)
df_result

               twogram frequency
0              öyle mi        49
1             tamam mı        48
2          aman tanrım        42
3              ne oldu        38
4            iyi misin        36
...                ...       ...
47887  röportaj yapmak         1
47888        çok sinsi         1
47889         sinsi ve         1
47890       ve alçakça         1
47891         ama başk         1

[47892 rows x 2 columns]

In [38]:
df_result_sort = df_result.groupby("twogram")["frequency"].sum().sort_values(ascending=False)
df_result_sort

twogram
bir şey           342
değil mi          255
tamam mı          139
ya da             105
ben de            101
                 ...
mı yaşamak          1
mı yaptın           1
mı yaptı            1
dansa giderken      1
şşş tam             1
Name: frequency, Length: 37904, dtype: object

In [33]:
df_two_gram = pd.DataFrame(df_result_sort)
df_two_gram.reset_index(inplace=True)

In [35]:
df_two_gram.to_excel("Two_Gram_From_Sentence.xlsx", sheet_name="Two_Gram", index=False)

In [45]:
def n_gram_sentence(n, n_gram_type):
    n = n
    n_gram_list = [] 
    n_gram_freq_list = []
    count_index = 0
    for i in df_sent.sentence:
        try:
            n_gram = ngrams(i.split(),n)
            for j in n_gram:
                j = " ".join(j)
                freq = df_sent.iloc[count_index, 1]
                n_gram_list.append(j)
                n_gram_freq_list.append(freq)
        except:
            pass
        count_index += 1  

    df_result = pd.DataFrame([n_gram_list, n_gram_freq_list]).transpose()
    df_result.rename(columns={0:f"{n_gram_type.lower()}",1:"frequency"}, inplace=True)

    df_result_sort = df_result.groupby(f"{n_gram_type.lower()}")["frequency"].sum().sort_values(ascending=False)
    df_n_gram = pd.DataFrame(df_result_sort)
    df_n_gram.reset_index(inplace=True)

    df_n_gram.to_excel(f"{n_gram_type.capitalize()}_From_Sentence.xlsx", sheet_name=f'{n_gram_type.capitalize()}', index=False)

In [46]:
n_gram_sentence(3, "Threegram")

In [47]:
n_gram_sentence(4, "Fourgram")

In [ ]:
n_gram_sentence(5, "Fivegram")