### Data Preprocess

#### Word Process

In [1]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk import word_tokenize
from itertools import islice
import glob
import os
from pathlib import Path

In [2]:
# custom character alphabet for word
tr = re.compile(r"[abcçdefgğhıijklmnoöprsştuüvyzqxw]+", re.IGNORECASE|re.UNICODE) # Turkish filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n0123456789'
en = re.compile(r"[abcdefghıijklmnopqrstxuvwyz]+", re.IGNORECASE|re.UNICODE) # English
nl = re.compile(r"[abcdefghıijklmnopqrstxuvwyzāăēĕīĭōŏūŭ]+", re.IGNORECASE|re.UNICODE) # Dutch (Flemenk)
fr = re.compile(r"[abcçdefghıijklmnopqrstxuvwyzàâæèéêëîïôœùûüÿ]+", re.IGNORECASE|re.UNICODE) # French
de = re.compile(r"[abcdefghıijklmnopqrstxuvwyzäöüß]+", re.IGNORECASE|re.UNICODE) # German
es = re.compile(r"[abcdefghıijklmnopqrstxuvwyzñáéíóú]+", re.IGNORECASE|re.UNICODE) # Spanish (¿¡)
pt = re.compile(r"[abcçdefghıijklmnopqrstxuvwyzàáâãéêíóôõú]+", re.IGNORECASE|re.UNICODE) # Portuguese
it = re.compile(r"[abcdefghıijklmnopqrstxuvwyzàéèìòùî]+", re.IGNORECASE|re.UNICODE) # Italian
ar = re.compile(r"[ٿصؼۤڳڲؿڎػڠجڿ٬ٸؽؒؓطۄڀۂؘؔتٚڛےٝڜؖڦ٫ډ۰زۇٖۀ،لۓعٮێڔ۶ؚۧۜڤۏإٞٷؗۖ؈ژۣؕؑٴأۻڸۺگاڴڹۯ؉ْڌ؍ي؟ـٟړۅؐڶُىڽېًۢؠضۚڄٛڏٱۦ٩س٦ڼڂٔۘ٠ښٌٍ۬ٳ۾ٲږذۋٵٜ٘ڞڅںٗهڣۿپڒۥۗڋیؙم؞ثۨٹڵڪظٶۭ١ڭەڨحٕ؎ٺڷٰ۪۫ڻڥۛڑڟټآڡغګ؊ّٯڧڮ؏ۮ؋ؤ٪ؾڗۼق۟دکوِڰڐۃ۽ہفرڇچڝ۴بۈٽڕۡھةٓڃئ؛ڬٙڙڢڱۊَۆۉځ۠ۍۑۙڊنءڈٻشڍ؇۵كخ\ا]+", re.IGNORECASE|re.UNICODE) # Arabic

In [3]:
def clean_text(text, custom_alp):  # def clean_text(text)
    #text_clean = re.findall(custom_alp, text)
    text_clean = re.findall(custom_alp, str(text))
    text_result = "".join(text_clean)
    return text_result

In [4]:
folder_name = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Portuguese, Dutch, Italian
 
if folder_name == "English":
    custom_alp = en
elif folder_name == "Turkish":
    custom_alp = tr
elif folder_name == "German":
    custom_alp = de
elif folder_name == "French":
    custom_alp = fr
elif folder_name == "Spanish":
    custom_alp = es
elif folder_name == "Arabic":
    custom_alp = ar
elif folder_name == "Portuguese":
    custom_alp = pt
elif folder_name == "Dutch":
    custom_alp = nl
elif folder_name == "Italian":
    custom_alp = it
else:
    pass
#custom_alp = tr  # en, tr, de, fr, es, ar, pt, nl, it
print(f"{folder_name}\n{custom_alp}")

Turkish
re.compile('[abcçdefgğhıijklmnoöprsştuüvyzqxw]+', re.IGNORECASE)

In [ ]:
def lower_strip_func(x):
    try:
        var_low = x.lower()
        var_out = var_low.strip()
    except:
        var_out = x
    return var_out

In [5]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name.lower().capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
#df_word = pd.read_csv("")
df_word.drop_duplicates(inplace=True)
df_word

                 word  frequency
0                 bir   18835735
1                  bu   11062659
2              fikret    9285954
3                  ne    8025880
4                  ve    7766036
...               ...        ...
1006293       karnaya          5
1006294   dörtlümüzün          5
1006295  karnavalınız          5
1006296      hurmanın          5
1006297         ~~her          5

[1006255 rows x 2 columns]

In [6]:
df_word.iloc[:,0] = df_word.iloc[:,0].apply(lambda x: clean_text(x, custom_alp))
df_word.dropna(inplace=True)
df_word.drop(df_word[df_word.iloc[:,0] == ""].index, inplace=True)
df_word.drop(df_word[df_word.iloc[:,0] == "fikret"].index, inplace=True) # paris, fikret
df_word["word"] = df_word["word"].apply(lambda x: lower_strip_func(x))
df_word.drop_duplicates(subset="word", inplace=True)
df_word.reset_index(drop=True, inplace=True)
df_word

                word  frequency
0                bir   18835735
1                 bu   11062659
2                 ne    8025880
3                 ve    7766036
4               için    5484109
...              ...        ...
989326     karneleme          5
989327       karnaya          5
989328   dörtlümüzün          5
989329  karnavalınız          5
989330      hurmanın          5

[989331 rows x 2 columns]

In [ ]:
# finding the longest string
lengths = df_word["word"].str.len()
argmax = np.where(lengths == lengths.max())[0]
df_word.iloc[argmax]

In [7]:
Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Data/Word").mkdir(parents=True, exist_ok=True)  # create path

In [8]:
df_word.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx", index=False)  # For Data/Word

#### Etymology Result Pre-Process

In [5]:
lang_folder = "Turkish"  # English, German, French, Spanish, Portuguese, Italian, Arabic ...
lang_pair = "French"  # English, German, French, Spanish, Portuguese, Italian, Arabic ...

In [6]:
def lower_strip_func(x):
    try:
        var_low = x.lower()
        var_out = var_low.strip()
    except:
        var_out = x
    return var_out

In [8]:
df_ety_result = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()} {lang_pair.capitalize()}/{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Vocabulary.xlsx")
df_ety_result

     dict_entry_main french_word
0             abajur   abat-jour
1             abaküs      abacus
2           abandone  abandonner
3              abiye     habillé
4             abluka      blocus
...              ...         ...
1593        yeniçeri  janissaire
1594          yoğurt      yaourt
1595           zebra       zèbre
1596           zombi      zombie
1597          zürafa      girafe

[1598 rows x 2 columns]

In [9]:
df_ety_result["dict_entry_main"] = df_ety_result["dict_entry_main"].apply(lambda x: lower_strip_func(x))
df_ety_result[f"{lang_pair.lower()}_word"] = df_ety_result[f"{lang_pair.lower()}_word"].apply(lambda x: lower_strip_func(x))

In [10]:
df_ety_result.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()} {lang_pair.capitalize()}/{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Vocabulary.xlsx", index=False)

#### Export Adjust Word Cover Result

In [6]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np

In [7]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

In [8]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word

                  word  frequency
0                  bir   18835735
1                   bu   11062659
2                   ne    8025880
3                   ve    7766036
4                 için    5484109
...                ...        ...
164294    buldugumuzda         43
164295  boşandıklarını         42
164296    endişenlenme         42
164297    uzaylıymışım         42
164298      söylememis         38

[164299 rows x 2 columns]

In [55]:
word_num = 206
df_select = df_word.head(word_num)
df_select

        word  frequency
0        bir   18835735
1         bu   11062659
2         ne    8025880
3         ve    7766036
4       için    5484109
..       ...        ...
201    neler     397377
202    ister     396177
203     emin     395177
204      pek     394663
205  gidelim     392369

[206 rows x 2 columns]

In [56]:
word_list = df_select["word"].values.tolist()

In [9]:
data_kind = "sentence" # sentence, twogram, threegram, fourgram, fivegram
spec_folder = "Sentence" # Sentence, N Gram

In [10]:
df = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name.capitalize()}/Result/{spec_folder.capitalize()}/Merge/{data_kind.capitalize()}_Merge.csv") # sentence, n gram dataframe
df

,sentence,frequency,code
0,evet,1948596,G1-L4-F1948596-0
1,fikret,1533918,G1-L6-F1533918-1
2,hayır,1250401,G1-L5-F1250401-2
3,tamam,882921,G1-L5-F882921-3
4,ne,753105,G1-L2-F753105-4
...,...,...,...
2913965,hayır ben bir pikap kamyon alacağım,6,G6-L35-F6-2913965
2913966,eminim uydurmuştur,6,G2-L18-F6-2913966
2913967,hemen bir kement ile onu yakalar ve aşağı çekerim,6,G9-L49-F6-2913967
2913968,tabii gerçek bir profesyonel o,6,G5-L30-F6-2913968
2913969,_ adı fikret,6,G3-L12-F6-2913969

In [59]:
d_list  = df.iloc[:,0].values.tolist()

In [60]:
resultlist = []

In [61]:
#import os
#from multiprocessing import Process, Manager, Pool, Queue
manager = multiprocessing.Manager()
resultlist = manager.list()

def word_in_wordgroup(d_list):
    mergelist = []
    try:
        word = d_list.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist.append(d_list)
                        
if __name__ == '__main__':
    # with Pool(16) as p:
    with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
        p.map(word_in_wordgroup, d_list) # string_word liste

In [62]:
result_list = list(resultlist)
df_result = pd.DataFrame(result_list)
df_result = df_result.rename(columns = {0: f"{data_kind}"})
df_merge = pd.merge(df_result, df, how="left", on=f"{data_kind}")
df_merge_result = df_merge.sort_values(by="frequency", ascending=False)
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

                         sentence  frequency               code
0                            evet    1948596   G1-L4-F1948596-0
1                           hayır    1250401   G1-L5-F1250401-2
2                           tamam     882921    G1-L5-F882921-3
3                              ne     753105    G1-L2-F753105-4
4                     teşekkürler     343527   G1-L11-F343527-5
...                           ...        ...                ...
40176  ama bu ne demek bilmiyorum          6  G5-L26-F6-2897436
40177   gerçekten yine de üzgünüm          6  G4-L25-F6-2830768
40178                  ve biliyor          6  G2-L10-F6-2884052
40179      gerçekten çok iyi para          6  G4-L22-F6-2897481
40180        bir dakika biliyorum          6  G3-L20-F6-2913958

[40181 rows x 3 columns]

In [63]:
data_len = len(df_merge_result)
#data_len

In [64]:
df_merge_result = df_merge_result.head(1000000)

In [65]:
df_merge_result.to_excel(f"{data_kind.capitalize()}_{data_len}_With_{word_num}_Word.xlsx", index=False)

In [23]:
#df_select.to_excel(f"Word_{word_num}.xlsx", sheet_name='Word', index=False)