### Adjust Word Level

In [1]:
#!pip install xlsxwriter

In [2]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np
import glob
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [3]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

#### While Loop

In [4]:
lang_folder = "Italian"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language
lang_pair = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

In [5]:
Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/3-Adjust Word Level/{lang_folder.capitalize()} {lang_pair.capitalize()}").mkdir(parents=True, exist_ok=True)  # create path

In [6]:
df_word_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word_all

                    word  frequency
0                      e   17674355
1                    non   14565060
2                    che   14355207
3                     di   13837236
4                     un    9088369
...                  ...        ...
290541  disonorevolmente          5
290542     disonoreresti          5
290543           saffici          5
290544           benenoi          5
290545     perimparareun          5

[290546 rows x 2 columns]

In [7]:
#df_twogram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/Merge/Twogram_Merge.csv")
df_twogram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/N Gram And Sentence/Two_Gram_And_Sentence.csv")  # ext. sentence and ngram
df_twogram_sent.rename(columns={"two_gram":"twogram"}, inplace=True)  # ext. Not: Two_Gram_And_Sentence.csv convert to Two_Gram_And_Sentence_All.csv
df_twogram_sent

                 twogram  frequency
0                va bene     242649
1                  lo so     131438
2            mi dispiace     112738
3              d accordo      81048
4              stai bene      75091
...                  ...        ...
406721  hardison aiutala          3
406722           ai volm          3
406723   aprire maricela          3
406724        arrow 2x10          3
406725         zia pauly          3

[406726 rows x 2 columns]

In [8]:
lang_pair_list = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_And_{lang_pair.lower().capitalize()}*_All.xlsx")
lang_pair_list

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Turkish (tur)_Etymologeek_Result_All.xlsx']

In [9]:
df_pair_all = pd.read_excel(f"{lang_pair_list[0]}")
df_pair_all

    dict_entry_main turkish_word
0              zero        sıfır
1           cifrare        şifre
2         biglietto        bilet
3            ticket        bilet
4         champagne     şampanya
..              ...          ...
316          tiorba        torba
317        turbante      tülbent
318            vaso         vazo
319            vite         vida
320           zinco        çinko

[321 rows x 2 columns]

In [10]:
disable_list = ["sex","seks","seksi","sexy","sexe","seksüel","sexuell","gey","gay","lezbiyen","lesbienne","eşcinsel","mastürbasyon","masturbation","erotik","érotique", \
"bikini","penis","vagina","vajina","fetish","fetiş","fetishy","erotic","erotik","sexdom","kondom","condom","dildo","fetisj","hétérosexuel","féticher","fétiche","homosexuel"\
"ereksiyon","erectie","erection","érection","homoseksüel","prezervatif","préservatif","ass","fetisch","fetiche"]

In [11]:
words = df_pair_all["dict_entry_main"].values.tolist()

In [12]:
disable_set = set(disable_list)
words_set = set(words)

In [13]:
df_pair = pd.DataFrame(list(words_set.difference(disable_set)), columns=["dict_entry_main"])
df_pair

    dict_entry_main
0         racchetta
1           dozzina
2          turbante
3       ipotecabile
4             pasta
..              ...
310        pezzetta
311      poliziotto
312         pastaio
313          bricco
314    magazziniere

[315 rows x 1 columns]

In [14]:
def remove_repetition(word_group):
    words = word_tokenize(word_group)
    word_unique = set(words)
    if len(word_unique) == 1:
        return "repetitive_word_group"
    else:
        return word_group

In [15]:
def word_count_result(df,column_list): # df is dataframe, bigger_than is integer
    list_all = []
    for i in df.loc[:,[x for x in column_list]].columns:
        var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list)
    df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"word_count"}, inplace=True)
    
    return  df_word_count

In [16]:
def word_count_bool(df, word_thresh_num, column_list): # df is a dataframe, bigger_than is an integer
    list_all = []
    for i in df.loc[:,[x for x in column_list]].columns:
        var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list)
    df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"count"}, inplace=True)
    
    return  df_word_count["count"][df_word_count.loc[:,"count"] > word_thresh_num].any()

#### Condition 1

In [17]:
# while loop code block word and twogram pair
twogram_num = 100  # 2*step_num minimum: for each word takes two twogram
twogram_pair_num = 100  # 2*step_num minimum: for each word takes two twogram pair
word_thresh_num = 2

word_start = 0  # 0
word_end = 7  # 10
step_num = word_end  # 10
word_limit = 28  # 200
part_num = 1
while word_end <= word_limit:
    df_word = df_word_all.iloc[word_start:word_end,]
    df_word.reset_index(drop=True, inplace=True)

    # language pair twogram
    ngram_list = []
    for i in df_pair["dict_entry_main"]:
        for j in word_tokenize(i):
            for k in df_word["word"]:
                twogram_1_2 = f"{j} {k}"
                ngram_list.append(twogram_1_2)
                twogram_2_1 = f"{k} {j}"
                ngram_list.append(twogram_2_1)
    df_pair_ngram = pd.DataFrame(ngram_list)
    df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
    df_pair_ngram.iloc[:,0] = df_pair_ngram.iloc[:,0].apply(lambda x: remove_repetition(x))
    df_pair_ngram.drop_duplicates(inplace=True)
    df_pair_ngram.reset_index(drop=True, inplace=True)
    df_lang_pair_twogram = pd.merge(df_twogram_sent, df_pair_ngram, how="inner", on="twogram")
    df_lang_pair_twogram.rename(columns={"twogram":f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_lang_pair_twogram.drop_duplicates(inplace=True)
    #df_lang_pair_twogram = df_lang_pair_twogram.head(100)

    # output
    df_output_result = pd.concat([df_word, df_lang_pair_twogram], axis=1)

    df_lesson_result = pd.DataFrame(columns=["word","freq_word",f"twogram_pair_{lang_pair.lower()}",f"freq_twogram_pair_{lang_pair.lower()}"])
    a = 0

    for i in range(0,110):
        # Insert words and their count 
        try:
            word = df_output_result.iloc[i,0]  # word 
            freq_word = df_output_result.iloc[i,1]  # word freq
            df_lesson_result.loc[i,"word"] = word
            df_lesson_result.loc[i,"freq_word"] = freq_word
        except:
            pass
         
        # Insert twogram pair
        try:
            var2 = df_output_result.loc[a,f"twogram_pair_{lang_pair.lower()}"]
            freq_var2 = df_output_result.iloc[a,3]  # twogram_pair frequency
            if (len(df_lesson_result[f"twogram_pair_{lang_pair.lower()}"]) < twogram_pair_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                try:
                    while word_count_bool(df_lesson_result, word_thresh_num, [f"twogram_pair_{lang_pair.lower()}"]): # word count result                
                        a += 1
                        var2 = df_output_result.loc[a,f"twogram_pair_{lang_pair.lower()}"]
                        freq_var2 = df_output_result.iloc[a,3]  # twogram_pair frequency
                        df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                        df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = np.nan
                    df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = np.nan
            else:
                pass
        except:
            pass
        a += 1

    df_lesson_word_count = word_count_result(df_lesson_result, [f"twogram_pair_{lang_pair.lower()}"])
    df_lesson_result = pd.merge(df_lesson_result, df_lesson_word_count, how="left", on="word")
    df_lesson_result = df_lesson_result.drop_duplicates()
    df_lesson_result.to_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result{part_num}.xlsx", index=False)

    word_start += step_num
    word_end += step_num
    part_num += 1

#### Condition 2

In [18]:
part_result_file = glob.glob(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result*.xlsx")
part_result_file

['Italian_Turkish_28_Word_Step_7_Result1.xlsx',
 'Italian_Turkish_28_Word_Step_7_Result2.xlsx',
 'Italian_Turkish_28_Word_Step_7_Result3.xlsx',
 'Italian_Turkish_28_Word_Step_7_Result4.xlsx']

In [19]:
# Read previous part result
df_part_all = pd.DataFrame()
for i in part_result_file:
    df_var = pd.read_excel(f"{i}")
    df_part_all = pd.concat([df_part_all,df_var], axis=0)
df_part_twogram_pair = df_part_all.loc[:,[f"twogram_pair_{lang_pair.lower()}"]]
df_part_twogram_pair.reset_index(drop=True, inplace=True)
set_part_twogram_pair = set(df_part_twogram_pair[f"twogram_pair_{lang_pair.lower()}"])

# while loop code block
twogram_num = 100  # 2*step_num minimum: for each word takes two twogram
twogram_pair_num = 100  # 2*step_num minimum: for each word takes two twogram pair
word_thresh_num = 7

word_start = 0  # 0
word_end = 28  # 10
step_num = word_end  # 10
word_limit = 28  # 200
part_num = 1
while word_end <= word_limit:
    df_word = df_word_all.iloc[word_start:word_end,]
    df_word.reset_index(drop=True, inplace=True)

    # language pair twogram
    ngram_list = []
    for i in df_pair["dict_entry_main"]:
        for j in word_tokenize(i):
            for k in df_word["word"]:
                twogram_1_2 = f"{j} {k}"
                ngram_list.append(twogram_1_2)
                twogram_2_1 = f"{k} {j}"
                ngram_list.append(twogram_2_1)
    df_pair_ngram = pd.DataFrame(ngram_list)
    df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
    df_pair_ngram.iloc[:,0] = df_pair_ngram.iloc[:,0].apply(lambda x: remove_repetition(x))
    df_pair_ngram.drop_duplicates(inplace=True)
    df_pair_ngram.reset_index(drop=True, inplace=True)
    df_lang_pair_twogram = pd.merge(df_twogram_sent, df_pair_ngram, how="inner", on="twogram")
    df_lang_pair_twogram.rename(columns={"twogram":f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_lang_pair_twogram.drop_duplicates(inplace=True)
    #df_lang_pair_twogram = df_lang_pair_twogram.head(100)
    set_lang_pair_twogram = set(df_lang_pair_twogram[f"twogram_pair_{lang_pair.lower()}"])
    df_set_result = pd.DataFrame(set_lang_pair_twogram.difference(set_part_twogram_pair))
    df_set_result.rename(columns={0:f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_set_pair_twogram = pd.merge(df_lang_pair_twogram, df_set_result, how="inner", on=f"twogram_pair_{lang_pair.lower()}")

    # twogram
    word_list = df_word["word"].values.tolist()
    data_kind = "twogram"
    twogram_list  = df_twogram_sent.iloc[:,0].values.tolist()
    
    resultlist2 = []

    manager = multiprocessing.Manager()
    resultlist2 = manager.list()
    
    def word_in_wordgroup2(list_var2):
        mergelist = []
        try:
            word = list_var2.split()
        except:
            pass
        var1 = range(len(word))
        for j in var1:
            if word[j] in word_list:
                mergelist.append(word[j])
                if len(mergelist) == len(word):
                        resultlist2.append(list_var2)
                            
    if __name__ == '__main__':
        # with Pool(16) as p:
        with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
            p.map(word_in_wordgroup2, twogram_list) # string_word liste 

    result_list2 = list(resultlist2)
    df_result2 = pd.DataFrame(result_list2)
    df_result2 = df_result2.rename(columns = {0: f"{data_kind}"})
    df_result2.iloc[:,0] = df_result2.iloc[:,0].apply(lambda x: remove_repetition(x)) # **
    df_merge2 = pd.merge(df_result2, df_twogram_sent, how="inner", on=f"{data_kind}")
    df_merge_result2 = df_merge2.sort_values(by="frequency", ascending=False)
    df_merge_result2.drop_duplicates(inplace=True)
    df_merge_result2.reset_index(drop=True, inplace=True)
    df_twogram_result = df_merge_result2
    #df_twogram_result = df_twogram_result.head(100)

    # output
    df_output_result = pd.concat([df_word, df_twogram_result, df_set_pair_twogram], axis=1)

    df_lesson_result = pd.DataFrame(columns=["word","freq_word","twogram","freq_twogram",f"twogram_pair_{lang_pair.lower()}",f"freq_twogram_pair_{lang_pair.lower()}"])
    a = 0
    b = 0

    for i in range(0,110):
        # Insert words and their count 
        try:
            word = df_output_result.iloc[i,0]  # word
            freq_word = df_output_result.iloc[i,1]  # word freq
            df_lesson_result.loc[i,"word"] = word
            df_lesson_result.loc[i,"freq_word"] = freq_word
        except:
            pass
         
        # Insert n grams
        try:
            var1 = df_output_result.iloc[a,2]
            freq_var1 = df_output_result.iloc[a,3]
            if (len(df_lesson_result["twogram"]) < twogram_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,"twogram"] = var1
                df_lesson_result.loc[i,"freq_twogram"] = freq_var1
                try:
                    while word_count_bool(df_lesson_result, (word_thresh_num-5), ["twogram"]): # word count result                
                        a += 1
                        var1 = df_output_result.iloc[a,2]
                        freq_var1 = df_output_result.iloc[a,3]
                        df_lesson_result.loc[i,"twogram"] = var1
                        df_lesson_result.loc[i,"freq_twogram"] = freq_var1
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,"twogram"] = np.nan
                    df_lesson_result.loc[i,"freq_twogram"] = np.nan
            else:
                pass
        except:
            pass
        a += 1

        try:
            var2 = df_output_result.iloc[b,4]
            freq_var2 = df_output_result.iloc[b,5]
            if (len(df_lesson_result[f"twogram_pair_{lang_pair.lower()}"]) < twogram_pair_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                try:
                    while word_count_bool(df_lesson_result, (word_thresh_num-5), [f"twogram_pair_{lang_pair.lower()}"]): # word count result                
                        b += 1
                        var2 = df_output_result.iloc[b,4]
                        freq_var2 = df_output_result.iloc[b,5]
                        df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                        df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = np.nan
                    df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = np.nan
            else:
                pass
        except:
            pass
        b += 1

    df_lesson_word_count = word_count_result(df_lesson_result, ["twogram",f"twogram_pair_{lang_pair.lower()}"])
    df_lesson_result = pd.merge(df_lesson_result, df_lesson_word_count, how="left", on="word")
    df_lesson_result = df_lesson_result.drop_duplicates()
    df_lesson_result.to_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result{part_num}.xlsx", index=False)

    word_start += step_num
    word_end += step_num
    part_num += 1

#### Check Result

In [20]:
df_lesson_result

,word,freq_word,twogram,freq_twogram,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,e,17674355.0,che cosa,37271.0,in inglese,385,4.0
1,non,14565060.0,per cosa,17225.0,la luna,369,4.0
2,che,14355207.0,ma che,7802.0,una macchina,311,4.0
3,di,13837236.0,lo sono,5145.0,che ironia,291,4.0
4,un,9088369.0,ma no,4326.0,la bomba,212,4.0
5,la,9013615.0,lo e,4322.0,si maestro,189,4.0
6,il,8605133.0,non e,2221.0,un biglietto,176,4.0
7,a,8169261.0,no non,1768.0,un telefono,165,4.0
8,per,6758245.0,l ho,706.0,il treno,158,4.0
9,è,5629444.0,di la,648.0,il poliziotto,157,4.0
10,una,5010996.0,a ha,261.0,in cantina,151,4.0
11,in,5003189.0,è un,211.0,una dozzina,132,3.0
12,mi,4673372.0,mi sono,195.0,e cinese,115,2.0
13,sono,4630540.0,ti ho,155.0,e rosa,107,4.0
14,l,4349010.0,l ha,137.0,no inglese,104,4.0
15,ho,4249400.0,è una,125.0,si coach,99,3.0
16,si,3996059.0,a si,117.0,che stile,96,4.0
17,ha,3955847.0,in un,47.0,no agente,66,4.0
18,ma,3908337.0,si la,43.0,da papa,65,4.0
19,lo,3481158.0,con il,38.0,sono rosa,63,4.0
20,cosa,3403356.0,per il,34.0,a papa,60,4.0
21,con,3326583.0,con una,22.0,di cancro,57,4.0
22,no,3322294.0,mi di,22.0,a teatro,56,4.0
23,le,3296722.0,se ti,11.0,l alcol,56,3.0
24,ti,3281056.0,se le,11.0,lo zucchero,55,4.0
25,se,3139180.0,da i,4.0,sono cattolico,53,2.0
26,da,3078033.0,NaN,NaN,l ironia,48,3.0
27,i,3006339.0,NaN,NaN,lo spagnolo,47,3.0
28,NaN,NaN,NaN,NaN,è cinese,24,NaN
29,NaN,NaN,NaN,NaN,ti cronometro,21,NaN
30,NaN,NaN,NaN,NaN,è antico,20,NaN
31,NaN,NaN,NaN,NaN,di politica,17,NaN
32,NaN,NaN,NaN,NaN,i broccoli,11,NaN
33,NaN,NaN,NaN,NaN,per giunta,11,NaN
34,NaN,NaN,NaN,NaN,da poliziotto,8,NaN
35,NaN,NaN,NaN,NaN,ha fortuna,8,NaN
36,NaN,NaN,NaN,NaN,per scuola,8,NaN
37,NaN,NaN,NaN,NaN,ma protesto,8,NaN
38,NaN,NaN,NaN,NaN,ti massaggio,7,NaN
39,NaN,NaN,NaN,NaN,ma coach,7,NaN
40,NaN,NaN,NaN,NaN,non birra,6,NaN
41,NaN,NaN,NaN,NaN,cosa scuola,5,NaN
42,NaN,NaN,NaN,NaN,i maccheroni,5,NaN
43,NaN,NaN,NaN,NaN,le controllo,5,NaN
44,NaN,NaN,NaN,NaN,video cosa,5,NaN
45,NaN,NaN,NaN,NaN,ha pandora,4,NaN
46,NaN,NaN,NaN,NaN,non limonata,4,NaN
47,NaN,NaN,NaN,NaN,ho fortuna,4,NaN
48,NaN,NaN,NaN,NaN,con zucchero,4,NaN
49,NaN,NaN,NaN,NaN,con fotocamera,4,NaN
50,NaN,NaN,NaN,NaN,le treno,3,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#word_count_result(df_lesson_result, ["twogram"])

In [22]:
#word_count_result(df_lesson_result, [f"twogram_pair_{lang_pair.lower()}"])

#### Read Output File And Multi Write

In [23]:
df_part_11 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result1.xlsx")
df_part_11

,word,freq_word,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,e,17674355.0,che fortuna,1317,2.0
1,non,14565060.0,il telefono,803,2.0
2,che,14355207.0,di la,648,2.0
3,di,13837236.0,la macchina,618,2.0
4,un,9088369.0,di che,600,2.0
5,la,9013615.0,un poliziotto,460,2.0
6,il,8605133.0,il bagno,434,2.0
7,NaN,NaN,un caffè,430,NaN
8,NaN,NaN,e papa,386,NaN
9,NaN,NaN,e inglese,165,NaN
10,NaN,NaN,non tema,47,NaN
11,NaN,NaN,papa non,20,NaN

In [24]:
df_part_12 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result2.xlsx")
df_part_12

,word,freq_word,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,a,8169261.0,una birra,747,2.0
1,per,6758245.0,a scuola,687,2.0
2,è,5629444.0,in macchina,574,2.0
3,una,5010996.0,in bagno,556,2.0
4,in,5003189.0,una bomba,555,2.0
5,mi,4673372.0,per fortuna,438,2.0
6,sono,4630540.0,a tavola,201,2.0
7,NaN,NaN,sono papa,159,NaN
8,NaN,NaN,sono inglese,87,NaN
9,NaN,NaN,per telefono,68,NaN
10,NaN,NaN,è inglese,63,NaN
11,NaN,NaN,è giapponese,35,NaN
12,NaN,NaN,mi di,22,NaN
13,NaN,NaN,papa mi,3,NaN

In [25]:
df_part_13 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result3.xlsx")
df_part_13

,word,freq_word,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,l,4349010.0,di cosa,7553,2.0
1,ho,4249400.0,si papa,486,2.0
2,si,3996059.0,si chef,215,2.0
3,ha,3955847.0,ma papa,205,2.0
4,ma,3908337.0,l agente,94,2.0
5,lo,3481158.0,lo champagne,92,2.0
6,cosa,3403356.0,l elicottero,64,2.0
7,NaN,NaN,lo stress,62,NaN
8,NaN,NaN,ha carattere,48,NaN
9,NaN,NaN,ha stile,37,NaN
10,NaN,NaN,ma maestro,12,NaN
11,NaN,NaN,ho sbandato,9,NaN
12,NaN,NaN,cosa coach,6,NaN
13,NaN,NaN,maestro ho,5,NaN

In [26]:
df_part_14 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result4.xlsx")
df_part_14

   word  freq_word twogram_pair_turkish  freq_twogram_pair_turkish  word_count
0   con  3326583.0              no papa                        680         2.0
1    no  3322294.0              papa no                        403         2.0
2    le  3296722.0          ti telefono                         73         2.0
3    ti  3281056.0              da zero                         69         2.0
4    se  3139180.0         ti controllo                         66         NaN
5    da  3078033.0             i tunnel                         46         2.0
6     i  3006339.0            da scuola                         18         2.0
7   NaN        NaN            con stile                         14         NaN
8   NaN        NaN            con bagno                         14         NaN
9   NaN        NaN              i video                         12         NaN
10  NaN        NaN          le telefono                         11         NaN
11  NaN        NaN              le vite                         10         NaN

In [27]:
df_part_21 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_28_Result1.xlsx")
df_part_21

,word,freq_word,twogram,freq_twogram,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,e,17674355.0,che cosa,37271.0,in inglese,385,4.0
1,non,14565060.0,per cosa,17225.0,la luna,369,4.0
2,che,14355207.0,ma che,7802.0,una macchina,311,4.0
3,di,13837236.0,lo sono,5145.0,che ironia,291,4.0
4,un,9088369.0,ma no,4326.0,la bomba,212,4.0
5,la,9013615.0,lo e,4322.0,si maestro,189,4.0
6,il,8605133.0,non e,2221.0,un biglietto,176,4.0
7,a,8169261.0,no non,1768.0,un telefono,165,4.0
8,per,6758245.0,l ho,706.0,il treno,158,4.0
9,è,5629444.0,di la,648.0,il poliziotto,157,4.0
10,una,5010996.0,a ha,261.0,in cantina,151,4.0
11,in,5003189.0,è un,211.0,una dozzina,132,3.0
12,mi,4673372.0,mi sono,195.0,e cinese,115,2.0
13,sono,4630540.0,ti ho,155.0,e rosa,107,4.0
14,l,4349010.0,l ha,137.0,no inglese,104,4.0
15,ho,4249400.0,è una,125.0,si coach,99,3.0
16,si,3996059.0,a si,117.0,che stile,96,4.0
17,ha,3955847.0,in un,47.0,no agente,66,4.0
18,ma,3908337.0,si la,43.0,da papa,65,4.0
19,lo,3481158.0,con il,38.0,sono rosa,63,4.0
20,cosa,3403356.0,per il,34.0,a papa,60,4.0
21,con,3326583.0,con una,22.0,di cancro,57,4.0
22,no,3322294.0,mi di,22.0,a teatro,56,4.0
23,le,3296722.0,se ti,11.0,l alcol,56,3.0
24,ti,3281056.0,se le,11.0,lo zucchero,55,4.0
25,se,3139180.0,da i,4.0,sono cattolico,53,2.0
26,da,3078033.0,NaN,NaN,l ironia,48,3.0
27,i,3006339.0,NaN,NaN,lo spagnolo,47,3.0
28,NaN,NaN,NaN,NaN,è cinese,24,NaN
29,NaN,NaN,NaN,NaN,ti cronometro,21,NaN
30,NaN,NaN,NaN,NaN,è antico,20,NaN
31,NaN,NaN,NaN,NaN,di politica,17,NaN
32,NaN,NaN,NaN,NaN,i broccoli,11,NaN
33,NaN,NaN,NaN,NaN,per giunta,11,NaN
34,NaN,NaN,NaN,NaN,da poliziotto,8,NaN
35,NaN,NaN,NaN,NaN,ha fortuna,8,NaN
36,NaN,NaN,NaN,NaN,per scuola,8,NaN
37,NaN,NaN,NaN,NaN,ma protesto,8,NaN
38,NaN,NaN,NaN,NaN,ti massaggio,7,NaN
39,NaN,NaN,NaN,NaN,ma coach,7,NaN
40,NaN,NaN,NaN,NaN,non birra,6,NaN
41,NaN,NaN,NaN,NaN,cosa scuola,5,NaN
42,NaN,NaN,NaN,NaN,i maccheroni,5,NaN
43,NaN,NaN,NaN,NaN,le controllo,5,NaN
44,NaN,NaN,NaN,NaN,video cosa,5,NaN
45,NaN,NaN,NaN,NaN,ha pandora,4,NaN
46,NaN,NaN,NaN,NaN,non limonata,4,NaN
47,NaN,NaN,NaN,NaN,ho fortuna,4,NaN
48,NaN,NaN,NaN,NaN,con zucchero,4,NaN
49,NaN,NaN,NaN,NaN,con fotocamera,4,NaN
50,NaN,NaN,NaN,NaN,le treno,3,NaN

In [28]:
writer = pd.ExcelWriter(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Result_With_Frequency.xlsx", engine='xlsxwriter')

In [29]:
df_part_11.to_excel(writer, sheet_name='Word_Part11', index=False)
df_part_12.to_excel(writer, sheet_name='Word_Part12', index=False)
df_part_13.to_excel(writer, sheet_name='Word_Part13', index=False)
df_part_14.to_excel(writer, sheet_name='Word_Part14', index=False)
df_part_21.to_excel(writer, sheet_name='Word_Part21', index=False)

In [30]:
writer.save()

#### Output File Word Order

In [31]:
df_part_11

,word,freq_word,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,e,17674355.0,che fortuna,1317,2.0
1,non,14565060.0,il telefono,803,2.0
2,che,14355207.0,di la,648,2.0
3,di,13837236.0,la macchina,618,2.0
4,un,9088369.0,di che,600,2.0
5,la,9013615.0,un poliziotto,460,2.0
6,il,8605133.0,il bagno,434,2.0
7,NaN,NaN,un caffè,430,NaN
8,NaN,NaN,e papa,386,NaN
9,NaN,NaN,e inglese,165,NaN
10,NaN,NaN,non tema,47,NaN
11,NaN,NaN,papa non,20,NaN

In [32]:
def word_in_twogram(df, list_column, target_column):

    '''word_in_twogram(df, "word", "twogram"):
       df is dataframe, list_column and target_column are 
       dataframe column string name. list_column convert list
       values that are in target column.
    '''
    
    df_select = df[[f"{target_column}"]].dropna()
    df_word_result = pd.DataFrame()
    for i in df[f"{list_column}"].dropna():
        try:
            word_in_twogram = df_select[df_select[f"{target_column}"].str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)] 
        except:
            pass        
        word_in_twogram.insert(0,"word",i)
        df_word_result = pd.concat([df_word_result,word_in_twogram], axis=0)
    df_word_result.reset_index(drop=True, inplace=True)

    return df_word_result

In [33]:
word_in_twogram(df_part_11, "word", f"twogram_pair_{lang_pair.lower()}")

   word twogram_pair_turkish
0     e               e papa
1     e            e inglese
2   non             non tema
3   non             papa non
4   che          che fortuna
5   che               di che
6    di                di la
7    di               di che
8    un        un poliziotto
9    un             un caffè
10   la                di la
11   la          la macchina
12   il          il telefono
13   il             il bagno

In [34]:
df_word_order_11 = word_in_twogram(df_part_11, "word", f"twogram_pair_{lang_pair.lower()}")
df_word_order_12 = word_in_twogram(df_part_12, "word", f"twogram_pair_{lang_pair.lower()}") 
df_word_order_13 = word_in_twogram(df_part_13, "word", f"twogram_pair_{lang_pair.lower()}") 
df_word_order_14 = word_in_twogram(df_part_14, "word", f"twogram_pair_{lang_pair.lower()}")
df_word_order_21 = word_in_twogram(df_part_21, "word", f"twogram") 
df_word_order_212 = word_in_twogram(df_part_21, "word", f"twogram_pair_{lang_pair.lower()}")

In [35]:
df_word_order_join_11 = df_word_order_11.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()   # df_word_order_11.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].transform(lambda x: ','.join(x))
df_word_order_join_12 = df_word_order_12.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_13 = df_word_order_13.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_14 = df_word_order_14.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_211 = df_word_order_21.groupby(["word"])["twogram"].apply(", ".join).reset_index()
df_word_order_join_212 = df_word_order_212.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_21 = pd.merge(df_word_order_join_211, df_word_order_join_212, how="outer", on="word")

In [36]:
df_word_order_join_21

    word             twogram          twogram_pair_turkish
0      a          a ha, a si              a papa, a teatro
1    che    che cosa, ma che         che ironia, che stile
2    con     con il, con una  con zucchero, con fotocamera
3   cosa  che cosa, per cosa       cosa scuola, video cosa
4     da                da i        da papa, da poliziotto
5     di        di la, mi di        di cancro, di politica
6      e         lo e, non e              e cinese, e rosa
7     ha          a ha, l ha        ha fortuna, ha pandora
8     ho         l ho, ti ho                    ho fortuna
9      i                da i      i broccoli, i maccheroni
10    il      con il, per il       il treno, il poliziotto
11    in               in un        in inglese, in cantina
12     l          l ho, l ha             l alcol, l ironia
13    la        di la, si la             la luna, la bomba
14    le               se le        le controllo, le treno
15    lo       lo sono, lo e      lo zucchero, lo spagnolo
16    ma       ma che, ma no         ma protesto, ma coach
17    mi      mi sono, mi di                           NaN
18    no       ma no, no non         no inglese, no agente
19   non       non e, no non       non birra, non limonata
20   per    per cosa, per il        per giunta, per scuola
21    se        se ti, se le                           NaN
22    si         a si, si la          si maestro, si coach
23  sono    lo sono, mi sono     sono rosa, sono cattolico
24    ti        ti ho, se ti   ti cronometro, ti massaggio
25    un         è un, in un     un biglietto, un telefono
26   una      è una, con una     una macchina, una dozzina
27     è         è un, è una            è cinese, è antico

In [37]:
writer2 = pd.ExcelWriter(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Join_Result_Without_Frequency.xlsx", engine='xlsxwriter')

In [38]:
df_word_order_join_11.to_excel(writer2, sheet_name='Word_Part11', index=False)
df_word_order_join_12.to_excel(writer2, sheet_name='Word_Part12', index=False)
df_word_order_join_13.to_excel(writer2, sheet_name='Word_Part13', index=False)
df_word_order_join_14.to_excel(writer2, sheet_name='Word_Part14', index=False)
df_word_order_join_21.to_excel(writer2, sheet_name='Word_Part21', index=False)

In [39]:
writer2.save()

#### Copy Move And Delete

In [40]:
output_file = glob.glob(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_{word_limit}_Word_*.xlsx")
output_file

['Italian_Turkish_28_Word_Step_7_Result1.xlsx',
 'Italian_Turkish_28_Word_Step_7_Result2.xlsx',
 'Italian_Turkish_28_Word_Step_7_Result3.xlsx',
 'Italian_Turkish_28_Word_Step_7_Result4.xlsx',
 'Italian_Turkish_28_Word_Step_28_Result1.xlsx',
 'Italian_Turkish_28_Word_Result_With_Frequency.xlsx',
 'Italian_Turkish_28_Word_Join_Result_Without_Frequency.xlsx']

In [41]:
for k in output_file:
    source = k # source directory
    destination = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/3-Adjust Word Level/{lang_folder.capitalize()} {lang_pair.capitalize()}"
    shutil.copy2(source, destination)

In [42]:
for i in output_file:
    try:
        os.remove(i)
    except:
        pass