### Adjust Word Level

In [295]:
#!pip install xlsxwriter

In [296]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np
import glob
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [297]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

#### While Loop

In [298]:
lang_folder = "Portuguese"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language
lang_pair = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

In [299]:
Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/3-Adjust Word Level/{lang_folder.capitalize()} {lang_pair.capitalize()}").mkdir(parents=True, exist_ok=True)  # create path

In [300]:
df_word_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word_all

             word  frequency
0             que   37853284
1              de   37809537
2              no   33043466
3               a   25439588
4              la   24024343
...           ...        ...
446459       bibe          5
446460     dejugo          5
446461      bibbi          5
446462  bibberman          5
446463  rascarías          5

[446464 rows x 2 columns]

In [301]:
#df_twogram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/Merge/Twogram_Merge.csv")
df_twogram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/N Gram And Sentence/Two_Gram_And_Sentence.csv")  # ext. sentence and ngram
df_twogram_sent.rename(columns={"two_gram":"twogram"}, inplace=True)  # ext. Not: Two_Gram_And_Sentence.csv convert to Two_Gram_And_Sentence_All.csv
df_twogram_sent

                   twogram  frequency
0                está bien     506251
1                lo siento     394838
2               de acuerdo     344687
3                  por qué     330492
4                 muy bien     256440
...                    ...        ...
706720        laura elkins          3
706721  estaba cambiándome          3
706722      laura duchenne          3
706723           las viñas          3
706724       vale esfúmate          3

[706725 rows x 2 columns]

In [302]:
lang_pair_list = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_And_{lang_pair.lower().capitalize()}*_All.xlsx")
lang_pair_list

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Spanish/Spanish_And_Turkish (tur)_Etymologeek_Result_All.xlsx']

In [303]:
df_pair_all = pd.read_excel(f"{lang_pair_list[0]}")
df_pair_all

    dict_entry_main turkish_word
0         palabrear      palavra
1       alternativo   alternatif
2           chequeo      kontrol
3            cheque      kontrol
4         controlar      kontrol
..              ...          ...
277         avocado      avokado
278         cigarro       sigara
279            puro         puro
280           tilde        tilde
281          zapato       zabata

[282 rows x 2 columns]

In [304]:
disable_list = ["sex","seks","seksi","sexy","sexe","seksüel","sexuell","gey","gay","lezbiyen","lesbienne","eşcinsel","mastürbasyon","masturbation","erotik","érotique", \
"bikini","penis","vagina","vajina","fetish","fetiş","fetishy","erotic","erotik","sexdom","kondom","condom","dildo","fetisj","hétérosexuel","féticher","fétiche","homosexuel"\
"ereksiyon","erectie","erection","érection","homoseksüel","prezervatif","préservatif","ass","fetisch","fetiche"]

In [305]:
words = df_pair_all["dict_entry_main"].values.tolist()

In [306]:
disable_set = set(disable_list)
words_set = set(words)

In [307]:
df_pair = pd.DataFrame(list(words_set.difference(disable_set)), columns=["dict_entry_main"])
df_pair

    dict_entry_main
0          pistacho
1            lampar
2         hipotecar
3            hachís
4           sorbete
..              ...
272           bravo
273       almuédano
274           jamón
275            sofá
276            poli

[277 rows x 1 columns]

In [308]:
def remove_repetition(word_group):
    words = word_tokenize(word_group)
    word_unique = set(words)
    if len(word_unique) == 1:
        return "repetitive_word_group"
    else:
        return word_group

In [309]:
def word_count_result(df,column_list): # df is dataframe, bigger_than is integer
    list_all = []
    for i in df.loc[:,[x for x in column_list]].columns:
        var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list)
    df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"word_count"}, inplace=True)
    
    return  df_word_count

In [310]:
def word_count_bool(df, word_thresh_num, column_list): # df is a dataframe, bigger_than is an integer
    list_all = []
    for i in df.loc[:,[x for x in column_list]].columns:
        var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list)
    df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"count"}, inplace=True)
    
    return  df_word_count["count"][df_word_count.loc[:,"count"] > word_thresh_num].any()

#### Condition 1

In [311]:
# while loop code block word and twogram pair
twogram_num = 100  # 2*step_num minimum: for each word takes two twogram
twogram_pair_num = 100  # 2*step_num minimum: for each word takes two twogram pair
word_thresh_num = 2

word_start = 0  # 0
word_end = 7  # 10
step_num = word_end  # 10
word_limit = 28  # 200
part_num = 1
while word_end <= word_limit:
    df_word = df_word_all.iloc[word_start:word_end,]
    df_word.reset_index(drop=True, inplace=True)

    # language pair twogram
    ngram_list = []
    for i in df_pair["dict_entry_main"]:
        for j in word_tokenize(i):
            for k in df_word["word"]:
                twogram_1_2 = f"{j} {k}"
                ngram_list.append(twogram_1_2)
                twogram_2_1 = f"{k} {j}"
                ngram_list.append(twogram_2_1)
    df_pair_ngram = pd.DataFrame(ngram_list)
    df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
    df_pair_ngram.iloc[:,0] = df_pair_ngram.iloc[:,0].apply(lambda x: remove_repetition(x))
    df_pair_ngram.drop_duplicates(inplace=True)
    df_pair_ngram.reset_index(drop=True, inplace=True)
    df_lang_pair_twogram = pd.merge(df_twogram_sent, df_pair_ngram, how="inner", on="twogram")
    df_lang_pair_twogram.rename(columns={"twogram":f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_lang_pair_twogram.drop_duplicates(inplace=True)
    #df_lang_pair_twogram = df_lang_pair_twogram.head(100)

    # output
    df_output_result = pd.concat([df_word, df_lang_pair_twogram], axis=1)

    df_lesson_result = pd.DataFrame(columns=["word","freq_word",f"twogram_pair_{lang_pair.lower()}",f"freq_twogram_pair_{lang_pair.lower()}"])
    a = 0

    for i in range(0,110):
        # Insert words and their count 
        try:
            word = df_output_result.iloc[i,0]  # word 
            freq_word = df_output_result.iloc[i,1]  # word freq
            df_lesson_result.loc[i,"word"] = word
            df_lesson_result.loc[i,"freq_word"] = freq_word
        except:
            pass
         
        # Insert twogram pair
        try:
            var2 = df_output_result.loc[a,f"twogram_pair_{lang_pair.lower()}"]
            freq_var2 = df_output_result.iloc[a,3]  # twogram_pair frequency
            if (len(df_lesson_result[f"twogram_pair_{lang_pair.lower()}"]) < twogram_pair_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                try:
                    while word_count_bool(df_lesson_result, word_thresh_num, [f"twogram_pair_{lang_pair.lower()}"]): # word count result                
                        a += 1
                        var2 = df_output_result.loc[a,f"twogram_pair_{lang_pair.lower()}"]
                        freq_var2 = df_output_result.iloc[a,3]  # twogram_pair frequency
                        df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                        df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = np.nan
                    df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = np.nan
            else:
                pass
        except:
            pass
        a += 1

    df_lesson_word_count = word_count_result(df_lesson_result, [f"twogram_pair_{lang_pair.lower()}"])
    df_lesson_result = pd.merge(df_lesson_result, df_lesson_word_count, how="left", on="word")
    df_lesson_result = df_lesson_result.drop_duplicates()
    df_lesson_result.to_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result{part_num}.xlsx", index=False)

    word_start += step_num
    word_end += step_num
    part_num += 1

#### Condition 2

In [312]:
part_result_file = glob.glob(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result*.xlsx")
part_result_file

['Spanish_Turkish_28_Word_Step_7_Result1.xlsx',
 'Spanish_Turkish_28_Word_Step_7_Result2.xlsx',
 'Spanish_Turkish_28_Word_Step_7_Result3.xlsx',
 'Spanish_Turkish_28_Word_Step_7_Result4.xlsx']

In [313]:
# Read previous part result
df_part_all = pd.DataFrame()
for i in part_result_file:
    df_var = pd.read_excel(f"{i}")
    df_part_all = pd.concat([df_part_all,df_var], axis=0)
df_part_twogram_pair = df_part_all.loc[:,[f"twogram_pair_{lang_pair.lower()}"]]
df_part_twogram_pair.reset_index(drop=True, inplace=True)
set_part_twogram_pair = set(df_part_twogram_pair[f"twogram_pair_{lang_pair.lower()}"])

# while loop code block
twogram_num = 100  # 2*step_num minimum: for each word takes two twogram
twogram_pair_num = 100  # 2*step_num minimum: for each word takes two twogram pair
word_thresh_num = 7

word_start = 0  # 0
word_end = 28  # 10
step_num = word_end  # 10
word_limit = 28  # 200
part_num = 1
while word_end <= word_limit:
    df_word = df_word_all.iloc[word_start:word_end,]
    df_word.reset_index(drop=True, inplace=True)

    # language pair twogram
    ngram_list = []
    for i in df_pair["dict_entry_main"]:
        for j in word_tokenize(i):
            for k in df_word["word"]:
                twogram_1_2 = f"{j} {k}"
                ngram_list.append(twogram_1_2)
                twogram_2_1 = f"{k} {j}"
                ngram_list.append(twogram_2_1)
    df_pair_ngram = pd.DataFrame(ngram_list)
    df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
    df_pair_ngram.iloc[:,0] = df_pair_ngram.iloc[:,0].apply(lambda x: remove_repetition(x))
    df_pair_ngram.drop_duplicates(inplace=True)
    df_pair_ngram.reset_index(drop=True, inplace=True)
    df_lang_pair_twogram = pd.merge(df_twogram_sent, df_pair_ngram, how="inner", on="twogram")
    df_lang_pair_twogram.rename(columns={"twogram":f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_lang_pair_twogram.drop_duplicates(inplace=True)
    #df_lang_pair_twogram = df_lang_pair_twogram.head(100)
    set_lang_pair_twogram = set(df_lang_pair_twogram[f"twogram_pair_{lang_pair.lower()}"])
    df_set_result = pd.DataFrame(set_lang_pair_twogram.difference(set_part_twogram_pair))
    df_set_result.rename(columns={0:f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_set_pair_twogram = pd.merge(df_lang_pair_twogram, df_set_result, how="inner", on=f"twogram_pair_{lang_pair.lower()}")

    # twogram
    word_list = df_word["word"].values.tolist()
    data_kind = "twogram"
    twogram_list  = df_twogram_sent.iloc[:,0].values.tolist()
    
    resultlist2 = []

    manager = multiprocessing.Manager()
    resultlist2 = manager.list()
    
    def word_in_wordgroup2(list_var2):
        mergelist = []
        try:
            word = list_var2.split()
        except:
            pass
        var1 = range(len(word))
        for j in var1:
            if word[j] in word_list:
                mergelist.append(word[j])
                if len(mergelist) == len(word):
                        resultlist2.append(list_var2)
                            
    if __name__ == '__main__':
        # with Pool(16) as p:
        with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
            p.map(word_in_wordgroup2, twogram_list) # string_word liste 

    result_list2 = list(resultlist2)
    df_result2 = pd.DataFrame(result_list2)
    df_result2 = df_result2.rename(columns = {0: f"{data_kind}"})
    df_result2.iloc[:,0] = df_result2.iloc[:,0].apply(lambda x: remove_repetition(x)) # **
    df_merge2 = pd.merge(df_result2, df_twogram_sent, how="inner", on=f"{data_kind}")
    df_merge_result2 = df_merge2.sort_values(by="frequency", ascending=False)
    df_merge_result2.drop_duplicates(inplace=True)
    df_merge_result2.reset_index(drop=True, inplace=True)
    df_twogram_result = df_merge_result2
    #df_twogram_result = df_twogram_result.head(100)

    # output
    df_output_result = pd.concat([df_word, df_twogram_result, df_set_pair_twogram], axis=1)

    df_lesson_result = pd.DataFrame(columns=["word","freq_word","twogram","freq_twogram",f"twogram_pair_{lang_pair.lower()}",f"freq_twogram_pair_{lang_pair.lower()}"])
    a = 0
    b = 0

    for i in range(0,110):
        # Insert words and their count 
        try:
            word = df_output_result.iloc[i,0]  # word
            freq_word = df_output_result.iloc[i,1]  # word freq
            df_lesson_result.loc[i,"word"] = word
            df_lesson_result.loc[i,"freq_word"] = freq_word
        except:
            pass
         
        # Insert n grams
        try:
            var1 = df_output_result.iloc[a,2]
            freq_var1 = df_output_result.iloc[a,3]
            if (len(df_lesson_result["twogram"]) < twogram_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,"twogram"] = var1
                df_lesson_result.loc[i,"freq_twogram"] = freq_var1
                try:
                    while word_count_bool(df_lesson_result, (word_thresh_num-5), ["twogram"]): # word count result                
                        a += 1
                        var1 = df_output_result.iloc[a,2]
                        freq_var1 = df_output_result.iloc[a,3]
                        df_lesson_result.loc[i,"twogram"] = var1
                        df_lesson_result.loc[i,"freq_twogram"] = freq_var1
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,"twogram"] = np.nan
                    df_lesson_result.loc[i,"freq_twogram"] = np.nan
            else:
                pass
        except:
            pass
        a += 1

        try:
            var2 = df_output_result.iloc[b,4]
            freq_var2 = df_output_result.iloc[b,5]
            if (len(df_lesson_result[f"twogram_pair_{lang_pair.lower()}"]) < twogram_pair_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                try:
                    while word_count_bool(df_lesson_result, (word_thresh_num-5), [f"twogram_pair_{lang_pair.lower()}"]): # word count result                
                        b += 1
                        var2 = df_output_result.iloc[b,4]
                        freq_var2 = df_output_result.iloc[b,5]
                        df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                        df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = np.nan
                    df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = np.nan
            else:
                pass
        except:
            pass
        b += 1

    df_lesson_word_count = word_count_result(df_lesson_result, ["twogram",f"twogram_pair_{lang_pair.lower()}"])
    df_lesson_result = pd.merge(df_lesson_result, df_lesson_word_count, how="left", on="word")
    df_lesson_result = df_lesson_result.drop_duplicates()
    df_lesson_result.to_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result{part_num}.xlsx", index=False)

    word_start += step_num
    word_end += step_num
    part_num += 1

#### Check Result

In [314]:
df_lesson_result

,word,freq_word,twogram,freq_twogram,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,que,37853284.0,está bien,506251.0,un cigarro,661,4.0
1,de,37809537.0,por qué,330492.0,un abogado,564,4.0
2,no,33043466.0,eso es,87824.0,bien jefe,452,4.0
3,a,25439588.0,qué es,50956.0,sí madame,451,4.0
4,la,24024343.0,y bien,21240.0,el tren,443,4.0
5,el,19975672.0,lo se,11819.0,la cámara,442,4.0
6,es,18510392.0,por que,10039.0,mi jefe,432,4.0
7,y,18426158.0,no se,9715.0,el café,420,4.0
8,en,17819385.0,sí pero,7717.0,la máquina,273,4.0
9,lo,16131539.0,y eso,6114.0,es cáncer,264,2.0
10,un,14913170.0,no está,5904.0,una ballena,248,4.0
11,por,11731790.0,para que,1926.0,es música,228,4.0
12,qué,11253508.0,a mi,1494.0,mi chaqueta,217,4.0
13,me,10419891.0,pero sí,1320.0,una bicicleta,199,2.0
14,una,10098513.0,para mi,1047.0,en tren,142,4.0
15,te,8331693.0,a si,442.0,en autobús,139,2.0
16,los,8262186.0,en el,206.0,qué abogado,133,2.0
17,se,8054027.0,en la,154.0,qué banco,131,2.0
18,con,7893597.0,con el,114.0,sí patrón,118,4.0
19,para,7388513.0,la una,89.0,su chaqueta,94,4.0
20,está,6582050.0,lo de,57.0,su música,87,3.0
21,mi,6371206.0,con un,55.0,no chef,51,4.0
22,si,6213167.0,de una,53.0,de moda,46,4.0
23,sí,6127783.0,si me,46.0,si chef,46,4.0
24,pero,6103773.0,me los,8.0,y alcohol,44,4.0
25,bien,5517192.0,los te,3.0,de café,42,4.0
26,eso,5410179.0,un te,3.0,con alcohol,41,4.0
27,su,5309135.0,NaN,NaN,con mayonesa,41,2.0
28,NaN,NaN,NaN,NaN,y gol,41,NaN
29,NaN,NaN,NaN,NaN,no patrón,23,NaN
30,NaN,NaN,NaN,NaN,bien madame,20,NaN
31,NaN,NaN,NaN,NaN,a máquina,20,NaN
32,NaN,NaN,NaN,NaN,por helicóptero,18,NaN
33,NaN,NaN,NaN,NaN,que escuela,16,NaN
34,NaN,NaN,NaN,NaN,por azar,15,NaN
35,NaN,NaN,NaN,NaN,aria para,13,NaN
36,NaN,NaN,NaN,NaN,tomate eso,12,NaN
37,NaN,NaN,NaN,NaN,que carácter,11,NaN
38,NaN,NaN,NaN,NaN,para archivar,8,NaN
39,NaN,NaN,NaN,NaN,si bravo,6,NaN
40,NaN,NaN,NaN,NaN,grupo a,6,NaN
41,NaN,NaN,NaN,NaN,eso bravo,5,NaN
42,NaN,NaN,NaN,NaN,pero metal,3,NaN
43,NaN,NaN,NaN,NaN,pero chip,3,NaN
44,NaN,NaN,NaN,NaN,está chip,3,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [315]:
#word_count_result(df_lesson_result, ["twogram"])

In [316]:
#word_count_result(df_lesson_result, [f"twogram_pair_{lang_pair.lower()}"])

#### Read Output File And Multi Write

In [317]:
df_part_11 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result1.xlsx")
df_part_11

,word,freq_word,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,que,37853284.0,el jefe,1000,2.0
1,de,37809537.0,el baño,943,2.0
2,no,33043466.0,la música,690,2.0
3,a,25439588.0,no jefe,543,2.0
4,la,24024343.0,la escuela,497,2.0
5,el,19975672.0,es abogado,425,2.0
6,es,18510392.0,es alemán,339,2.0
7,NaN,NaN,no madame,216,NaN
8,NaN,NaN,de cáncer,180,NaN
9,NaN,NaN,de fútbol,65,NaN
10,NaN,NaN,que bárbaro,31,NaN
11,NaN,NaN,cámara a,26,NaN
12,NaN,NaN,plataforma a,25,NaN
13,NaN,NaN,que payaso,23,NaN

In [318]:
df_part_12 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result2.xlsx")
df_part_12

,word,freq_word,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,y,18426158.0,un café,1517,2.0
1,en,17819385.0,un dólar,754,2.0
2,lo,16131539.0,qué bárbaro,257,1.0
3,un,14913170.0,qué carácter,170,2.0
4,por,11731790.0,en español,167,2.0
5,qué,11253508.0,en alemán,147,2.0
6,me,10419891.0,y café,106,1.0
7,NaN,NaN,y música,85,NaN
8,NaN,NaN,por tren,40,NaN
9,NaN,NaN,por alejandro,36,NaN
10,NaN,NaN,me baño,5,NaN
11,NaN,NaN,lo estándar,3,NaN

In [319]:
df_part_13 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result3.xlsx")
df_part_13

,word,freq_word,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,una,10098513.0,una cámara,267,2.0
1,te,8331693.0,una máquina,258,NaN
2,los,8262186.0,con azúcar,83,NaN
3,se,8054027.0,con música,42,1.0
4,con,7893597.0,para chip,23,2.0
5,para,7388513.0,para controlar,21,2.0
6,está,6582050.0,está bárbaro,15,2.0
7,NaN,NaN,está bravo,6,NaN
8,NaN,NaN,se ducha,3,NaN

In [320]:
df_part_14 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result4.xlsx")
df_part_14

,word,freq_word,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,mi,6371206.0,sí jefe,3055,2.0
1,si,6213167.0,sí chef,1386,2.0
2,sí,6127783.0,si jefe,581,2.0
3,pero,6103773.0,mi zapato,284,2.0
4,bien,5517192.0,mi abogado,250,2.0
5,eso,5410179.0,su abogado,202,2.0
6,su,5309135.0,si madame,179,2.0
7,NaN,NaN,su café,128,NaN
8,NaN,NaN,bien bravo,54,NaN
9,NaN,NaN,pero madame,39,NaN
10,NaN,NaN,bien campeón,35,NaN
11,NaN,NaN,etiqueta eso,15,NaN
12,NaN,NaN,eso campeón,13,NaN
13,NaN,NaN,pero heroína,7,NaN

In [321]:
df_part_21 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_28_Result1.xlsx")
df_part_21

,word,freq_word,twogram,freq_twogram,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,que,37853284.0,está bien,506251.0,un cigarro,661,4.0
1,de,37809537.0,por qué,330492.0,un abogado,564,4.0
2,no,33043466.0,eso es,87824.0,bien jefe,452,4.0
3,a,25439588.0,qué es,50956.0,sí madame,451,4.0
4,la,24024343.0,y bien,21240.0,el tren,443,4.0
5,el,19975672.0,lo se,11819.0,la cámara,442,4.0
6,es,18510392.0,por que,10039.0,mi jefe,432,4.0
7,y,18426158.0,no se,9715.0,el café,420,4.0
8,en,17819385.0,sí pero,7717.0,la máquina,273,4.0
9,lo,16131539.0,y eso,6114.0,es cáncer,264,2.0
10,un,14913170.0,no está,5904.0,una ballena,248,4.0
11,por,11731790.0,para que,1926.0,es música,228,4.0
12,qué,11253508.0,a mi,1494.0,mi chaqueta,217,4.0
13,me,10419891.0,pero sí,1320.0,una bicicleta,199,2.0
14,una,10098513.0,para mi,1047.0,en tren,142,4.0
15,te,8331693.0,a si,442.0,en autobús,139,2.0
16,los,8262186.0,en el,206.0,qué abogado,133,2.0
17,se,8054027.0,en la,154.0,qué banco,131,2.0
18,con,7893597.0,con el,114.0,sí patrón,118,4.0
19,para,7388513.0,la una,89.0,su chaqueta,94,4.0
20,está,6582050.0,lo de,57.0,su música,87,3.0
21,mi,6371206.0,con un,55.0,no chef,51,4.0
22,si,6213167.0,de una,53.0,de moda,46,4.0
23,sí,6127783.0,si me,46.0,si chef,46,4.0
24,pero,6103773.0,me los,8.0,y alcohol,44,4.0
25,bien,5517192.0,los te,3.0,de café,42,4.0
26,eso,5410179.0,un te,3.0,con alcohol,41,4.0
27,su,5309135.0,NaN,NaN,con mayonesa,41,2.0
28,NaN,NaN,NaN,NaN,y gol,41,NaN
29,NaN,NaN,NaN,NaN,no patrón,23,NaN
30,NaN,NaN,NaN,NaN,bien madame,20,NaN
31,NaN,NaN,NaN,NaN,a máquina,20,NaN
32,NaN,NaN,NaN,NaN,por helicóptero,18,NaN
33,NaN,NaN,NaN,NaN,que escuela,16,NaN
34,NaN,NaN,NaN,NaN,por azar,15,NaN
35,NaN,NaN,NaN,NaN,aria para,13,NaN
36,NaN,NaN,NaN,NaN,tomate eso,12,NaN
37,NaN,NaN,NaN,NaN,que carácter,11,NaN
38,NaN,NaN,NaN,NaN,para archivar,8,NaN
39,NaN,NaN,NaN,NaN,si bravo,6,NaN
40,NaN,NaN,NaN,NaN,grupo a,6,NaN
41,NaN,NaN,NaN,NaN,eso bravo,5,NaN
42,NaN,NaN,NaN,NaN,pero metal,3,NaN
43,NaN,NaN,NaN,NaN,pero chip,3,NaN
44,NaN,NaN,NaN,NaN,está chip,3,NaN

In [322]:
writer = pd.ExcelWriter(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Result_With_Frequency.xlsx", engine='xlsxwriter')

In [323]:
df_part_11.to_excel(writer, sheet_name='Word_Part11', index=False)
df_part_12.to_excel(writer, sheet_name='Word_Part12', index=False)
df_part_13.to_excel(writer, sheet_name='Word_Part13', index=False)
df_part_14.to_excel(writer, sheet_name='Word_Part14', index=False)
df_part_21.to_excel(writer, sheet_name='Word_Part21', index=False)

In [324]:
writer.save()

#### Output File Word Order

In [325]:
df_part_11

,word,freq_word,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,que,37853284.0,el jefe,1000,2.0
1,de,37809537.0,el baño,943,2.0
2,no,33043466.0,la música,690,2.0
3,a,25439588.0,no jefe,543,2.0
4,la,24024343.0,la escuela,497,2.0
5,el,19975672.0,es abogado,425,2.0
6,es,18510392.0,es alemán,339,2.0
7,NaN,NaN,no madame,216,NaN
8,NaN,NaN,de cáncer,180,NaN
9,NaN,NaN,de fútbol,65,NaN
10,NaN,NaN,que bárbaro,31,NaN
11,NaN,NaN,cámara a,26,NaN
12,NaN,NaN,plataforma a,25,NaN
13,NaN,NaN,que payaso,23,NaN

In [326]:
def word_in_twogram(df, list_column, target_column):

    '''word_in_twogram(df, "word", "twogram"):
       df is dataframe, list_column and target_column are 
       dataframe column string name. list_column convert list
       values that are in target column.
    '''
    
    df_select = df[[f"{target_column}"]].dropna()
    df_word_result = pd.DataFrame()
    for i in df[f"{list_column}"].dropna():
        try:
            word_in_twogram = df_select[df_select[f"{target_column}"].str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)] 
        except:
            pass        
        word_in_twogram.insert(0,"word",i)
        df_word_result = pd.concat([df_word_result,word_in_twogram], axis=0)
    df_word_result.reset_index(drop=True, inplace=True)

    return df_word_result

In [327]:
word_in_twogram(df_part_11, "word", f"twogram_pair_{lang_pair.lower()}")

   word twogram_pair_turkish
0   que          que bárbaro
1   que           que payaso
2    de            de cáncer
3    de            de fútbol
4    no              no jefe
5    no            no madame
6     a             cámara a
7     a         plataforma a
8    la            la música
9    la           la escuela
10   el              el jefe
11   el              el baño
12   es           es abogado
13   es            es alemán

In [328]:
df_word_order_11 = word_in_twogram(df_part_11, "word", f"twogram_pair_{lang_pair.lower()}")
df_word_order_12 = word_in_twogram(df_part_12, "word", f"twogram_pair_{lang_pair.lower()}") 
df_word_order_13 = word_in_twogram(df_part_13, "word", f"twogram_pair_{lang_pair.lower()}") 
df_word_order_14 = word_in_twogram(df_part_14, "word", f"twogram_pair_{lang_pair.lower()}")
df_word_order_21 = word_in_twogram(df_part_21, "word", f"twogram") 
df_word_order_212 = word_in_twogram(df_part_21, "word", f"twogram_pair_{lang_pair.lower()}")

In [329]:
df_word_order_join_11 = df_word_order_11.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()   # df_word_order_11.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].transform(lambda x: ','.join(x))
df_word_order_join_12 = df_word_order_12.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_13 = df_word_order_13.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_14 = df_word_order_14.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_211 = df_word_order_21.groupby(["word"])["twogram"].apply(", ".join).reset_index()
df_word_order_join_212 = df_word_order_212.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_21 = pd.merge(df_word_order_join_211, df_word_order_join_212, how="outer", on="word")

In [330]:
df_word_order_join_21

    word             twogram        twogram_pair_turkish
0      a          a mi, a si          a máquina, grupo a
1   bien   está bien, y bien      bien jefe, bien madame
2    con      con el, con un   con alcohol, con mayonesa
3     de       lo de, de una            de moda, de café
4     el       en el, con el            el tren, el café
5     en        en el, en la         en tren, en autobús
6     es      eso es, qué es        es cáncer, es música
7    eso       eso es, y eso       tomate eso, eso bravo
8   está  está bien, no está                   está chip
9     la       en la, la una       la cámara, la máquina
10    lo        lo se, lo de                         NaN
11   los      me los, los te                         NaN
12    me       si me, me los                         NaN
13    mi       a mi, para mi        mi jefe, mi chaqueta
14    no      no se, no está          no chef, no patrón
15  para   para que, para mi    aria para, para archivar
16  pero    sí pero, pero sí       pero metal, pero chip
17   por    por qué, por que   por helicóptero, por azar
18   que   por que, para que   que escuela, que carácter
19   qué     por qué, qué es      qué abogado, qué banco
20    se        lo se, no se                         NaN
21    si         a si, si me           si chef, si bravo
22    sí    sí pero, pero sí        sí madame, sí patrón
23    te       los te, un te                         NaN
24    un       con un, un te      un cigarro, un abogado
25   una      la una, de una  una ballena, una bicicleta
26     y       y bien, y eso            y alcohol, y gol
27    su                 NaN      su chaqueta, su música

In [331]:
writer2 = pd.ExcelWriter(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Join_Result_Without_Frequency.xlsx", engine='xlsxwriter')

In [332]:
df_word_order_join_11.to_excel(writer2, sheet_name='Word_Part11', index=False)
df_word_order_join_12.to_excel(writer2, sheet_name='Word_Part12', index=False)
df_word_order_join_13.to_excel(writer2, sheet_name='Word_Part13', index=False)
df_word_order_join_14.to_excel(writer2, sheet_name='Word_Part14', index=False)
df_word_order_join_21.to_excel(writer2, sheet_name='Word_Part21', index=False)

In [333]:
writer2.save()

#### Copy Move And Delete

In [334]:
output_file = glob.glob(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_{word_limit}_Word_*.xlsx")
output_file

['Spanish_Turkish_28_Word_Step_7_Result1.xlsx',
 'Spanish_Turkish_28_Word_Step_7_Result2.xlsx',
 'Spanish_Turkish_28_Word_Step_7_Result3.xlsx',
 'Spanish_Turkish_28_Word_Step_7_Result4.xlsx',
 'Spanish_Turkish_28_Word_Step_28_Result1.xlsx',
 'Spanish_Turkish_28_Word_Result_With_Frequency.xlsx',
 'Spanish_Turkish_28_Word_Join_Result_Without_Frequency.xlsx']

In [335]:
for k in output_file:
    source = k # source directory
    destination = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/3-Adjust Word Level/{lang_folder.capitalize()} {lang_pair.capitalize()}"
    shutil.copy2(source, destination)

In [336]:
for i in output_file:
    try:
        os.remove(i)
    except:
        pass