### Adjust Word Level

In [1]:
#!pip install xlsxwriter

In [2]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np
import glob
import nltk
from nltk import word_tokenize

In [3]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

#### While Loop

In [4]:
lang_folder = "Dutch"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language
lang_pair = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

In [5]:
df_word_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word_all

                  word  frequency
0                   ik   22539531
1                   je   20769946
2                  het   15696161
3                   de   15258816
4                  dat   13387137
...                ...        ...
331836     polygamisch          5
331837           shiit          5
331838         ambient          5
331839   zinswendingen          5
331840  bedrijfsadvies          5

[331841 rows x 2 columns]

In [6]:
#df_twogram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/Merge/Twogram_Merge.csv")
df_twogram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/N Gram And Sentence/Two_Gram_And_Sentence.csv")  # ext. sentence and ngram
df_twogram_sent.rename(columns={"two_gram":"twogram"}, inplace=True)  # ext. Not: Two_Gram_And_Sentence.csv convert to Two_Gram_And_Sentence_All.csv
df_twogram_sent

                         twogram  frequency
0                         kom op     184578
1                        dank je     127178
2                         dank u      64014
3                     wacht even      63826
4                      echt waar      59238
...                          ...        ...
328541  zesentwintig horizontaal          3
328542  volledig gedisciplineerd          3
328543   volledig geconcentreerd          3
328544           hero netegengif          3
328545              morgen lloyd          3

[328546 rows x 2 columns]

In [7]:
lang_pair_list = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_And_{lang_pair.lower().capitalize()}*_All.xlsx")
lang_pair_list

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_Turkish (tur)_Etymologeek_Result_All.xlsx']

In [8]:
df_pair = pd.read_excel(f"{lang_pair_list[0]}")
df_pair

    dict_entry_main turkish_word
0           politie        polis
1             agent         ajan
2            school         okul
3           scholen         okul
4            dokter       doktor
..              ...          ...
157      chromosoom     kromozom
158           pasja         paşa
159           these          tez
160      bladmuziek         nota
161         etnisch        etnik

[162 rows x 2 columns]

In [9]:
def remove_repetition(word_group):
    words = word_tokenize(word_group)
    word_unique = set(words)
    if len(word_unique) == 1:
        return "repetitive_word_group"
    else:
        return word_group

In [10]:
def word_count_result(df,column_list): # df is dataframe, bigger_than is integer
    list_all = []
    for i in df.loc[:,[x for x in column_list]].columns:
        var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list)
    df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"word_count"}, inplace=True)
    
    return  df_word_count

In [11]:
def word_count_bool(df, word_thresh_num, column_list): # df is a dataframe, bigger_than is an integer
    list_all = []
    for i in df.loc[:,[x for x in column_list]].columns:
        var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list)
    df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"count"}, inplace=True)
    
    return  df_word_count["count"][df_word_count.loc[:,"count"] > word_thresh_num].any()

#### Condition 1

In [12]:
# while loop code block word and twogram pair
twogram_num = 100  # 2*step_num minimum: for each word takes two twogram
twogram_pair_num = 100  # 2*step_num minimum: for each word takes two twogram pair
word_thresh_num = 2

word_start = 0  # 0
word_end = 7  # 10
step_num = word_end  # 10
word_limit = 28  # 200
part_num = 1
while word_end <= word_limit:
    df_word = df_word_all.iloc[word_start:word_end,]
    df_word.reset_index(drop=True, inplace=True)

    # language pair twogram
    ngram_list = []
    for i in df_pair["dict_entry_main"]:
        for j in word_tokenize(i):
            for k in df_word["word"]:
                twogram_1_2 = f"{j} {k}"
                ngram_list.append(twogram_1_2)
                twogram_2_1 = f"{k} {j}"
                ngram_list.append(twogram_2_1)
    df_pair_ngram = pd.DataFrame(ngram_list)
    df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
    df_pair_ngram.iloc[:,0] = df_pair_ngram.iloc[:,0].apply(lambda x: remove_repetition(x))
    df_pair_ngram.drop_duplicates(inplace=True)
    df_pair_ngram.reset_index(drop=True, inplace=True)
    df_lang_pair_twogram = pd.merge(df_twogram_sent, df_pair_ngram, how="inner", on="twogram")
    df_lang_pair_twogram.rename(columns={"twogram":f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_lang_pair_twogram.drop_duplicates(inplace=True)
    #df_lang_pair_twogram = df_lang_pair_twogram.head(100)

    # output
    df_output_result = pd.concat([df_word, df_lang_pair_twogram], axis=1)

    df_lesson_result = pd.DataFrame(columns=["word","freq_word",f"twogram_pair_{lang_pair.lower()}",f"freq_twogram_pair_{lang_pair.lower()}"])
    a = 0

    for i in range(0,110):
        # Insert words and their count 
        try:
            word = df_output_result.iloc[i,0]  # word 
            freq_word = df_output_result.iloc[i,1]  # word freq
            df_lesson_result.loc[i,"word"] = word
            df_lesson_result.loc[i,"freq_word"] = freq_word
        except:
            pass
         
        # Insert twogram pair
        try:
            var2 = df_output_result.loc[a,f"twogram_pair_{lang_pair.lower()}"]
            freq_var2 = df_output_result.iloc[a,3]  # twogram_pair frequency
            if (len(df_lesson_result[f"twogram_pair_{lang_pair.lower()}"]) < twogram_pair_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                try:
                    while word_count_bool(df_lesson_result, word_thresh_num, [f"twogram_pair_{lang_pair.lower()}"]): # word count result                
                        a += 1
                        var2 = df_output_result.loc[a,f"twogram_pair_{lang_pair.lower()}"]
                        freq_var2 = df_output_result.iloc[a,3]  # twogram_pair frequency
                        df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                        df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = np.nan
                    df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = np.nan
            else:
                pass
        except:
            pass
        a += 1

    df_lesson_word_count = word_count_result(df_lesson_result, [f"twogram_pair_{lang_pair.lower()}"])
    df_lesson_result = pd.merge(df_lesson_result, df_lesson_word_count, how="left", on="word")
    df_lesson_result = df_lesson_result.drop_duplicates()
    df_lesson_result.to_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result{part_num}.xlsx", index=False)

    word_start += step_num
    word_end += step_num
    part_num += 1

#### Condition 2

In [13]:
part_result_file = glob.glob(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result*.xlsx")
part_result_file

['Dutch_Turkish_28_Word_Step_7_Result1.xlsx',
 'Dutch_Turkish_28_Word_Step_7_Result2.xlsx',
 'Dutch_Turkish_28_Word_Step_7_Result3.xlsx',
 'Dutch_Turkish_28_Word_Step_7_Result4.xlsx']

In [14]:
# Read previous part result
df_part_all = pd.DataFrame()
for i in part_result_file:
    df_var = pd.read_excel(f"{i}")
    df_part_all = pd.concat([df_part_all,df_var], axis=0)
df_part_twogram_pair = df_part_all.loc[:,[f"twogram_pair_{lang_pair.lower()}"]]
df_part_twogram_pair.reset_index(drop=True, inplace=True)
set_part_twogram_pair = set(df_part_twogram_pair[f"twogram_pair_{lang_pair.lower()}"])

# while loop code block
twogram_num = 100  # 2*step_num minimum: for each word takes two twogram
twogram_pair_num = 100  # 2*step_num minimum: for each word takes two twogram pair
word_thresh_num = 7

word_start = 0  # 0
word_end = 28  # 10
step_num = word_end  # 10
word_limit = 28  # 200
part_num = 1
while word_end <= word_limit:
    df_word = df_word_all.iloc[word_start:word_end,]
    df_word.reset_index(drop=True, inplace=True)

    # language pair twogram
    ngram_list = []
    for i in df_pair["dict_entry_main"]:
        for j in word_tokenize(i):
            for k in df_word["word"]:
                twogram_1_2 = f"{j} {k}"
                ngram_list.append(twogram_1_2)
                twogram_2_1 = f"{k} {j}"
                ngram_list.append(twogram_2_1)
    df_pair_ngram = pd.DataFrame(ngram_list)
    df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
    df_pair_ngram.iloc[:,0] = df_pair_ngram.iloc[:,0].apply(lambda x: remove_repetition(x))
    df_pair_ngram.drop_duplicates(inplace=True)
    df_pair_ngram.reset_index(drop=True, inplace=True)
    df_lang_pair_twogram = pd.merge(df_twogram_sent, df_pair_ngram, how="inner", on="twogram")
    df_lang_pair_twogram.rename(columns={"twogram":f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_lang_pair_twogram.drop_duplicates(inplace=True)
    #df_lang_pair_twogram = df_lang_pair_twogram.head(100)
    set_lang_pair_twogram = set(df_lang_pair_twogram[f"twogram_pair_{lang_pair.lower()}"])
    df_set_result = pd.DataFrame(set_lang_pair_twogram.difference(set_part_twogram_pair))
    df_set_result.rename(columns={0:f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_set_pair_twogram = pd.merge(df_lang_pair_twogram, df_set_result, how="inner", on=f"twogram_pair_{lang_pair.lower()}")

    # twogram
    word_list = df_word["word"].values.tolist()
    data_kind = "twogram"
    twogram_list  = df_twogram_sent.iloc[:,0].values.tolist()
    
    resultlist2 = []

    manager = multiprocessing.Manager()
    resultlist2 = manager.list()
    
    def word_in_wordgroup2(list_var2):
        mergelist = []
        try:
            word = list_var2.split()
        except:
            pass
        var1 = range(len(word))
        for j in var1:
            if word[j] in word_list:
                mergelist.append(word[j])
                if len(mergelist) == len(word):
                        resultlist2.append(list_var2)
                            
    if __name__ == '__main__':
        # with Pool(16) as p:
        with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
            p.map(word_in_wordgroup2, twogram_list) # string_word liste 

    result_list2 = list(resultlist2)
    df_result2 = pd.DataFrame(result_list2)
    df_result2 = df_result2.rename(columns = {0: f"{data_kind}"})
    df_result2.iloc[:,0] = df_result2.iloc[:,0].apply(lambda x: remove_repetition(x)) # **
    df_merge2 = pd.merge(df_result2, df_twogram_sent, how="inner", on=f"{data_kind}")
    df_merge_result2 = df_merge2.sort_values(by="frequency", ascending=False)
    df_merge_result2.drop_duplicates(inplace=True)
    df_merge_result2.reset_index(drop=True, inplace=True)
    df_twogram_result = df_merge_result2
    #df_twogram_result = df_twogram_result.head(100)

    # output
    df_output_result = pd.concat([df_word, df_twogram_result, df_set_pair_twogram], axis=1)

    df_lesson_result = pd.DataFrame(columns=["word","freq_word","twogram","freq_twogram",f"twogram_pair_{lang_pair.lower()}",f"freq_twogram_pair_{lang_pair.lower()}"])
    a = 0
    b = 0

    for i in range(0,110):
        # Insert words and their count 
        try:
            word = df_output_result.iloc[i,0]  # word
            freq_word = df_output_result.iloc[i,1]  # word freq
            df_lesson_result.loc[i,"word"] = word
            df_lesson_result.loc[i,"freq_word"] = freq_word
        except:
            pass
         
        # Insert n grams
        try:
            var1 = df_output_result.iloc[a,2]
            freq_var1 = df_output_result.iloc[a,3]
            if (len(df_lesson_result["twogram"]) < twogram_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,"twogram"] = var1
                df_lesson_result.loc[i,"freq_twogram"] = freq_var1
                try:
                    while word_count_bool(df_lesson_result, (word_thresh_num-5), ["twogram"]): # word count result                
                        a += 1
                        var1 = df_output_result.iloc[a,2]
                        freq_var1 = df_output_result.iloc[a,3]
                        df_lesson_result.loc[i,"twogram"] = var1
                        df_lesson_result.loc[i,"freq_twogram"] = freq_var1
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,"twogram"] = np.nan
                    df_lesson_result.loc[i,"freq_twogram"] = np.nan
            else:
                pass
        except:
            pass
        a += 1

        try:
            var2 = df_output_result.iloc[b,4]
            freq_var2 = df_output_result.iloc[b,5]
            if (len(df_lesson_result[f"twogram_pair_{lang_pair.lower()}"]) < twogram_pair_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                try:
                    while word_count_bool(df_lesson_result, (word_thresh_num-5), [f"twogram_pair_{lang_pair.lower()}"]): # word count result                
                        b += 1
                        var2 = df_output_result.iloc[b,4]
                        freq_var2 = df_output_result.iloc[b,5]
                        df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                        df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = np.nan
                    df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = np.nan
            else:
                pass
        except:
            pass
        b += 1

    df_lesson_word_count = word_count_result(df_lesson_result, ["twogram",f"twogram_pair_{lang_pair.lower()}"])
    df_lesson_result = pd.merge(df_lesson_result, df_lesson_word_count, how="left", on="word")
    df_lesson_result = df_lesson_result.drop_duplicates()
    df_lesson_result.to_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result{part_num}.xlsx", index=False)

    word_start += step_num
    word_end += step_num
    part_num += 1

#### Check Result

In [15]:
df_lesson_result

,word,freq_word,twogram,freq_twogram,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,ik,22539531.0,ik niet,12142.0,de dokter,432,4.0
1,je,20769946.0,het is,7417.0,een kaart,323,4.0
2,het,15696161.0,dat is,5448.0,een dollar,278,4.0
3,de,15258816.0,en ik,3841.0,de kaart,243,4.0
4,dat,13387137.0,voor wat,3782.0,en koffie,83,4.0
5,is,12813896.0,een wat,3072.0,en dokter,69,2.0
6,een,11124670.0,het was,1888.0,het appartement,62,4.0
7,niet,10747590.0,heb je,1359.0,het theater,47,4.0
8,en,8257870.0,dat niet,1288.0,je koffie,43,4.0
9,van,6532887.0,en hij,1059.0,wat sexy,40,3.0
10,wat,6350504.0,hij was,758.0,je muziek,35,4.0
11,we,6163349.0,we zijn,541.0,met seks,22,2.0
12,in,5792008.0,ze zijn,496.0,die technologie,21,4.0
13,ze,5441513.0,als je,404.0,met muziek,20,2.0
14,hij,5164101.0,maar n,201.0,die groep,20,2.0
15,te,5142599.0,als we,164.0,wat thee,18,2.0
16,zijn,4982797.0,maar ze,155.0,zijn telefoon,18,4.0
17,op,4853245.0,in de,95.0,zijn appartement,17,4.0
18,maar,4722625.0,op n,53.0,op video,16,4.0
19,er,4636424.0,met de,51.0,voor controle,12,2.0
20,die,4165884.0,er in,47.0,maar agent,12,4.0
21,voor,4141060.0,met een,32.0,als groep,11,4.0
22,met,4109041.0,voor me,21.0,als hobby,11,4.0
23,me,4035130.0,er op,9.0,telefoon voor,9,1.0
24,heb,4032477.0,die van,7.0,ik coach,9,2.0
25,als,3780131.0,die heb,3.0,whisky maar,9,4.0
26,n,3296858.0,NaN,NaN,agent ik,8,4.0
27,was,3216022.0,NaN,NaN,in school,8,2.0
28,NaN,NaN,NaN,NaN,te sexy,7,NaN
29,NaN,NaN,NaN,NaN,niet seks,7,NaN
30,NaN,NaN,NaN,NaN,op zalm,7,NaN
31,NaN,NaN,NaN,NaN,technologie n,6,NaN
32,NaN,NaN,NaN,NaN,in mayonaise,5,NaN
33,NaN,NaN,NaN,NaN,te sjiek,5,NaN
34,NaN,NaN,NaN,NaN,n magazijn,5,NaN
35,NaN,NaN,NaN,NaN,van stress,5,NaN
36,NaN,NaN,NaN,NaN,festival van,5,NaN
37,NaN,NaN,NaN,NaN,niet stijlvol,5,NaN
38,NaN,NaN,NaN,NaN,dat rapport,4,NaN
39,NaN,NaN,NaN,NaN,dat etiket,4,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#word_count_result(df_lesson_result, ["twogram"])

In [17]:
#word_count_result(df_lesson_result, [f"twogram_pair_{lang_pair.lower()}"])

#### Read Output File And Multi Write

In [18]:
df_part_11 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result1.xlsx")
df_part_11

,word,freq_word,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,ik,22539531.0,de politie,2267,2.0
1,je,20769946.0,een agent,516,2.0
2,het,15696161.0,een dokter,509,2.0
3,de,15258816.0,de telefoon,442,2.0
4,dat,13387137.0,het toilet,274,2.0
5,is,12813896.0,je telefoon,268,NaN
6,een,11124670.0,het dossier,75,2.0
7,NaN,NaN,je paspoort,73,NaN
8,NaN,NaN,chef ik,19,NaN
9,NaN,NaN,coach ik,11,NaN
10,NaN,NaN,dat dossier,10,NaN
11,NaN,NaN,dat appartement,7,NaN

In [19]:
df_part_12 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result2.xlsx")
df_part_12

,word,freq_word,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,niet,10747590.0,van school,155,2.0
1,en,8257870.0,en sexy,94,2.0
2,van,6532887.0,in principe,86,2.0
3,wat,6350504.0,en seks,84,2.0
4,we,6163349.0,niet sexy,41,2.0
5,in,5792008.0,wat chic,28,2.0
6,ze,5441513.0,wat sjiek,23,2.0
7,NaN,NaN,niet ideaal,12,NaN
8,NaN,NaN,we trainen,10,NaN
9,NaN,NaN,telefoon van,10,NaN
10,NaN,NaN,in controle,8,NaN
11,NaN,NaN,ze trainen,7,NaN
12,NaN,NaN,ze checken,4,NaN
13,NaN,NaN,we checken,4,NaN

In [20]:
df_part_13 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result3.xlsx")
df_part_13

,word,freq_word,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,hij,5164101.0,op school,520,1.0
1,te,5142599.0,die muziek,106,2.0
2,zijn,4982797.0,die agent,77,2.0
3,op,4853245.0,op televisie,53,2.0
4,maar,4722625.0,maar dokter,38,2.0
5,er,4636424.0,zijn dossier,38,NaN
6,die,4165884.0,zijn paspoort,31,2.0
7,NaN,NaN,maar coach,18,NaN
8,NaN,NaN,te chic,11,NaN
9,NaN,NaN,hij kaart,11,NaN
10,NaN,NaN,te etnisch,9,NaN

In [21]:
df_part_14 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result4.xlsx")
df_part_14

,word,freq_word,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,voor,4141060.0,voor seks,73,2.0
1,met,4109041.0,voor school,69,2.0
2,me,4035130.0,met suiker,66,2.0
3,heb,4032477.0,met koffie,24,1.0
4,als,3780131.0,als agent,14,2.0
5,n,3296858.0,groep n,13,2.0
6,was,3216022.0,als dokter,12,1.0
7,NaN,NaN,heb seks,10,NaN
8,NaN,NaN,surprise me,9,NaN
9,NaN,NaN,n koffie,8,NaN
10,NaN,NaN,coach me,6,NaN
11,NaN,NaN,bikini was,4,NaN

In [22]:
df_part_21 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_28_Result1.xlsx")
df_part_21

,word,freq_word,twogram,freq_twogram,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,ik,22539531.0,ik niet,12142.0,de dokter,432,4.0
1,je,20769946.0,het is,7417.0,een kaart,323,4.0
2,het,15696161.0,dat is,5448.0,een dollar,278,4.0
3,de,15258816.0,en ik,3841.0,de kaart,243,4.0
4,dat,13387137.0,voor wat,3782.0,en koffie,83,4.0
5,is,12813896.0,een wat,3072.0,en dokter,69,2.0
6,een,11124670.0,het was,1888.0,het appartement,62,4.0
7,niet,10747590.0,heb je,1359.0,het theater,47,4.0
8,en,8257870.0,dat niet,1288.0,je koffie,43,4.0
9,van,6532887.0,en hij,1059.0,wat sexy,40,3.0
10,wat,6350504.0,hij was,758.0,je muziek,35,4.0
11,we,6163349.0,we zijn,541.0,met seks,22,2.0
12,in,5792008.0,ze zijn,496.0,die technologie,21,4.0
13,ze,5441513.0,als je,404.0,met muziek,20,2.0
14,hij,5164101.0,maar n,201.0,die groep,20,2.0
15,te,5142599.0,als we,164.0,wat thee,18,2.0
16,zijn,4982797.0,maar ze,155.0,zijn telefoon,18,4.0
17,op,4853245.0,in de,95.0,zijn appartement,17,4.0
18,maar,4722625.0,op n,53.0,op video,16,4.0
19,er,4636424.0,met de,51.0,voor controle,12,2.0
20,die,4165884.0,er in,47.0,maar agent,12,4.0
21,voor,4141060.0,met een,32.0,als groep,11,4.0
22,met,4109041.0,voor me,21.0,als hobby,11,4.0
23,me,4035130.0,er op,9.0,telefoon voor,9,1.0
24,heb,4032477.0,die van,7.0,ik coach,9,2.0
25,als,3780131.0,die heb,3.0,whisky maar,9,4.0
26,n,3296858.0,NaN,NaN,agent ik,8,4.0
27,was,3216022.0,NaN,NaN,in school,8,2.0
28,NaN,NaN,NaN,NaN,te sexy,7,NaN
29,NaN,NaN,NaN,NaN,niet seks,7,NaN
30,NaN,NaN,NaN,NaN,op zalm,7,NaN
31,NaN,NaN,NaN,NaN,technologie n,6,NaN
32,NaN,NaN,NaN,NaN,in mayonaise,5,NaN
33,NaN,NaN,NaN,NaN,te sjiek,5,NaN
34,NaN,NaN,NaN,NaN,n magazijn,5,NaN
35,NaN,NaN,NaN,NaN,van stress,5,NaN
36,NaN,NaN,NaN,NaN,festival van,5,NaN
37,NaN,NaN,NaN,NaN,niet stijlvol,5,NaN
38,NaN,NaN,NaN,NaN,dat rapport,4,NaN
39,NaN,NaN,NaN,NaN,dat etiket,4,NaN

In [23]:
writer = pd.ExcelWriter(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Result_With_Frequency.xlsx", engine='xlsxwriter')

In [24]:
df_part_11.to_excel(writer, sheet_name='Word_Part11', index=False)
df_part_12.to_excel(writer, sheet_name='Word_Part12', index=False)
df_part_13.to_excel(writer, sheet_name='Word_Part13', index=False)
df_part_14.to_excel(writer, sheet_name='Word_Part14', index=False)
df_part_21.to_excel(writer, sheet_name='Word_Part21', index=False)

In [25]:
writer.save()

#### Output File Word Order

In [26]:
df_part_11

,word,freq_word,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,ik,22539531.0,de politie,2267,2.0
1,je,20769946.0,een agent,516,2.0
2,het,15696161.0,een dokter,509,2.0
3,de,15258816.0,de telefoon,442,2.0
4,dat,13387137.0,het toilet,274,2.0
5,is,12813896.0,je telefoon,268,NaN
6,een,11124670.0,het dossier,75,2.0
7,NaN,NaN,je paspoort,73,NaN
8,NaN,NaN,chef ik,19,NaN
9,NaN,NaN,coach ik,11,NaN
10,NaN,NaN,dat dossier,10,NaN
11,NaN,NaN,dat appartement,7,NaN

In [27]:
def word_in_twogram(df, list_column, target_column):

    '''word_in_twogram(df, "word", "twogram"):
       df is dataframe, list_column and target_column are 
       dataframe column string name. list_column convert list
       values that are in target column.
    '''
    
    df_select = df[[f"{target_column}"]].dropna()
    df_word_result = pd.DataFrame()
    for i in df[f"{list_column}"].dropna():
        try:
            word_in_twogram = df_select[df_select[f"{target_column}"].str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)] 
        except:
            pass        
        word_in_twogram.insert(0,"word",i)
        df_word_result = pd.concat([df_word_result,word_in_twogram], axis=0)
    df_word_result.reset_index(drop=True, inplace=True)

    return df_word_result

In [28]:
word_in_twogram(df_part_11, "word", f"twogram_pair_{lang_pair.lower()}")

   word twogram_pair_turkish
0    ik              chef ik
1    ik             coach ik
2    je          je telefoon
3    je          je paspoort
4   het           het toilet
5   het          het dossier
6    de           de politie
7    de          de telefoon
8   dat          dat dossier
9   dat      dat appartement
10  een            een agent
11  een           een dokter

In [29]:
df_word_order_11 = word_in_twogram(df_part_11, "word", f"twogram_pair_{lang_pair.lower()}")
df_word_order_12 = word_in_twogram(df_part_12, "word", f"twogram_pair_{lang_pair.lower()}") 
df_word_order_13 = word_in_twogram(df_part_13, "word", f"twogram_pair_{lang_pair.lower()}") 
df_word_order_14 = word_in_twogram(df_part_14, "word", f"twogram_pair_{lang_pair.lower()}")
df_word_order_21 = word_in_twogram(df_part_21, "word", f"twogram") 
df_word_order_212 = word_in_twogram(df_part_21, "word", f"twogram_pair_{lang_pair.lower()}")

In [30]:
df_word_order_join_11 = df_word_order_11.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()   # df_word_order_11.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].transform(lambda x: ','.join(x))
df_word_order_join_12 = df_word_order_12.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_13 = df_word_order_13.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_14 = df_word_order_14.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_211 = df_word_order_21.groupby(["word"])["twogram"].apply(", ".join).reset_index()
df_word_order_join_212 = df_word_order_212.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_21 = pd.merge(df_word_order_join_211, df_word_order_join_212, how="outer", on="word")

In [31]:
df_word_order_join_21

    word            twogram             twogram_pair_turkish
0    als     als je, als we             als groep, als hobby
1    dat   dat is, dat niet          dat rapport, dat etiket
2     de      in de, met de              de dokter, de kaart
3    die   die van, die heb       die technologie, die groep
4    een   een wat, met een            een kaart, een dollar
5     en      en ik, en hij             en koffie, en dokter
6     er       er in, er op                              NaN
7    heb    heb je, die heb                              NaN
8    het    het is, het was     het appartement, het theater
9    hij    en hij, hij was                              NaN
10    ik     ik niet, en ik               ik coach, agent ik
11    in       in de, er in          in school, in mayonaise
12    is     het is, dat is                              NaN
13    je     heb je, als je             je koffie, je muziek
14  maar    maar n, maar ze          maar agent, whisky maar
15    me            voor me                              NaN
16   met    met de, met een             met seks, met muziek
17     n       maar n, op n        technologie n, n magazijn
18  niet  ik niet, dat niet         niet seks, niet stijlvol
19    op        op n, er op                op video, op zalm
20   van            die van         van stress, festival van
21  voor  voor wat, voor me     voor controle, telefoon voor
22   was   het was, hij was                              NaN
23   wat  voor wat, een wat               wat sexy, wat thee
24    we    we zijn, als we                              NaN
25    ze   ze zijn, maar ze                              NaN
26  zijn   we zijn, ze zijn  zijn telefoon, zijn appartement
27    te                NaN                te sexy, te sjiek

In [32]:
writer2 = pd.ExcelWriter(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Join_Result_Without_Frequency.xlsx", engine='xlsxwriter')

In [33]:
df_word_order_join_11.to_excel(writer2, sheet_name='Word_Part11', index=False)
df_word_order_join_12.to_excel(writer2, sheet_name='Word_Part12', index=False)
df_word_order_join_13.to_excel(writer2, sheet_name='Word_Part13', index=False)
df_word_order_join_14.to_excel(writer2, sheet_name='Word_Part14', index=False)
df_word_order_join_21.to_excel(writer2, sheet_name='Word_Part21', index=False)

In [34]:
writer2.save()