### Adjust Word Level

In [127]:
#!pip install xlsxwriter

In [128]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np
import glob
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [129]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

#### While Loop

In [130]:
lang_folder = "French"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language
lang_pair = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

In [131]:
Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/3-Adjust Word Level/{lang_folder.capitalize()} {lang_pair.capitalize()}").mkdir(parents=True, exist_ok=True)  # create path

In [132]:
df_word_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word_all

             word  frequency
0              de   16588988
1              je   16386475
2             pas   11547876
3              le   10592792
4              la    9939090
...           ...        ...
320426  perpetuel          5
320427      fifis          5
320428  fifteenth          5
320429    perouse          5
320430    escuses          5

[320431 rows x 2 columns]

In [133]:
#df_twogram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/Merge/Twogram_Merge.csv")
df_twogram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/N Gram And Sentence/Two_Gram_And_Sentence.csv")  # ext. sentence and ngram
df_twogram_sent.rename(columns={"two_gram":"twogram"}, inplace=True)  # ext. Not: Two_Gram_And_Sentence.csv convert to Two_Gram_And_Sentence_All.csv
df_twogram_sent

                  twogram  frequency
0                bien sûr     132006
1                 je sais     130876
2                   ça va     120098
3               très bien     107245
4               cest vrai      98435
...                   ...        ...
468839      salut chicago          2
468840    salut chickamaw          2
468841        salut ching          2
468842      salut chienpo          2
468843  cette trottinette          2

[468844 rows x 2 columns]

In [134]:
lang_pair_list = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_And_{lang_pair.lower().capitalize()}*_All.xlsx")
lang_pair_list

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/French/French_And_Turkish (tur)_Etymologeek_Result_All.xlsx']

In [135]:
df_pair_all = pd.read_excel(f"{lang_pair_list[0]}")
df_pair_all

    dict_entry_main turkish_word
0          perruque        peruk
1           palabre      palavra
2           parloir        salon
3             salon        salon
4         paraboler      parabol
..              ...          ...
825        équinoxe      ekinoks
826        érotique       erotik
827         éthique         etik
828       étiquette       etiket
829      étymologie    etimoloji

[830 rows x 2 columns]

In [136]:
disable_list = ["sex","seks","seksi","sexy","sexe","seksüel","sexuell","gey","gay","lezbiyen","lesbienne","eşcinsel","mastürbasyon","masturbation","erotik","érotique", \
"bikini","penis","vagina","vajina","fetish","fetiş","fetishy","erotic","erotik","sexdom","kondom","condom","dildo","fetisj","hétérosexuel","féticher","fétiche","homosexuel"\
"ereksiyon","erectie","erection","érection","homoseksüel","prezervatif","préservatif","ass","fetisch","fetiche"]

In [137]:
words = df_pair_all["dict_entry_main"].values.tolist()

In [138]:
disable_set = set(disable_list)
words_set = set(words)

In [139]:
df_pair = pd.DataFrame(list(words_set.difference(disable_set)), columns=["dict_entry_main"])
df_pair

    dict_entry_main
0          virtuose
1            cation
2             salon
3       emmagasiner
4          dualisme
..              ...
805          modèle
806         banquer
807        raquette
808           aorte
809     antioxydant

[810 rows x 1 columns]

In [140]:
def remove_repetition(word_group):
    words = word_tokenize(word_group)
    word_unique = set(words)
    if len(word_unique) == 1:
        return "repetitive_word_group"
    else:
        return word_group

In [141]:
def word_count_result(df,column_list): # df is dataframe, bigger_than is integer
    list_all = []
    for i in df.loc[:,[x for x in column_list]].columns:
        var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list)
    df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"word_count"}, inplace=True)
    
    return  df_word_count

In [142]:
def word_count_bool(df, word_thresh_num, column_list): # df is a dataframe, bigger_than is an integer
    list_all = []
    for i in df.loc[:,[x for x in column_list]].columns:
        var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list)
    df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"count"}, inplace=True)
    
    return  df_word_count["count"][df_word_count.loc[:,"count"] > word_thresh_num].any()

#### Condition 1

In [143]:
# while loop code block word and twogram pair
twogram_num = 100  # 2*step_num minimum: for each word takes two twogram
twogram_pair_num = 100  # 2*step_num minimum: for each word takes two twogram pair
word_thresh_num = 2

word_start = 0  # 0
word_end = 7  # 10
step_num = word_end  # 10
word_limit = 28  # 200
part_num = 1
while word_end <= word_limit:
    df_word = df_word_all.iloc[word_start:word_end,]
    df_word.reset_index(drop=True, inplace=True)

    # language pair twogram
    ngram_list = []
    for i in df_pair["dict_entry_main"]:
        for j in word_tokenize(i):
            for k in df_word["word"]:
                twogram_1_2 = f"{j} {k}"
                ngram_list.append(twogram_1_2)
                twogram_2_1 = f"{k} {j}"
                ngram_list.append(twogram_2_1)
    df_pair_ngram = pd.DataFrame(ngram_list)
    df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
    df_pair_ngram.iloc[:,0] = df_pair_ngram.iloc[:,0].apply(lambda x: remove_repetition(x))
    df_pair_ngram.drop_duplicates(inplace=True)
    df_pair_ngram.reset_index(drop=True, inplace=True)
    df_lang_pair_twogram = pd.merge(df_twogram_sent, df_pair_ngram, how="inner", on="twogram")
    df_lang_pair_twogram.rename(columns={"twogram":f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_lang_pair_twogram.drop_duplicates(inplace=True)
    #df_lang_pair_twogram = df_lang_pair_twogram.head(100)

    # output
    df_output_result = pd.concat([df_word, df_lang_pair_twogram], axis=1)

    df_lesson_result = pd.DataFrame(columns=["word","freq_word",f"twogram_pair_{lang_pair.lower()}",f"freq_twogram_pair_{lang_pair.lower()}"])
    a = 0

    for i in range(0,110):
        # Insert words and their count 
        try:
            word = df_output_result.iloc[i,0]  # word 
            freq_word = df_output_result.iloc[i,1]  # word freq
            df_lesson_result.loc[i,"word"] = word
            df_lesson_result.loc[i,"freq_word"] = freq_word
        except:
            pass
         
        # Insert twogram pair
        try:
            var2 = df_output_result.loc[a,f"twogram_pair_{lang_pair.lower()}"]
            freq_var2 = df_output_result.iloc[a,3]  # twogram_pair frequency
            if (len(df_lesson_result[f"twogram_pair_{lang_pair.lower()}"]) < twogram_pair_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                try:
                    while word_count_bool(df_lesson_result, word_thresh_num, [f"twogram_pair_{lang_pair.lower()}"]): # word count result                
                        a += 1
                        var2 = df_output_result.loc[a,f"twogram_pair_{lang_pair.lower()}"]
                        freq_var2 = df_output_result.iloc[a,3]  # twogram_pair frequency
                        df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                        df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = np.nan
                    df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = np.nan
            else:
                pass
        except:
            pass
        a += 1

    df_lesson_word_count = word_count_result(df_lesson_result, [f"twogram_pair_{lang_pair.lower()}"])
    df_lesson_result = pd.merge(df_lesson_result, df_lesson_word_count, how="left", on="word")
    df_lesson_result = df_lesson_result.drop_duplicates()
    df_lesson_result.to_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result{part_num}.xlsx", index=False)

    word_start += step_num
    word_end += step_num
    part_num += 1

#### Condition 2

In [144]:
part_result_file = glob.glob(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result*.xlsx")
part_result_file

['French_Turkish_28_Word_Step_7_Result1.xlsx',
 'French_Turkish_28_Word_Step_7_Result2.xlsx',
 'French_Turkish_28_Word_Step_7_Result3.xlsx',
 'French_Turkish_28_Word_Step_7_Result4.xlsx']

In [145]:
# Read previous part result
df_part_all = pd.DataFrame()
for i in part_result_file:
    df_var = pd.read_excel(f"{i}")
    df_part_all = pd.concat([df_part_all,df_var], axis=0)
df_part_twogram_pair = df_part_all.loc[:,[f"twogram_pair_{lang_pair.lower()}"]]
df_part_twogram_pair.reset_index(drop=True, inplace=True)
set_part_twogram_pair = set(df_part_twogram_pair[f"twogram_pair_{lang_pair.lower()}"])

# while loop code block
twogram_num = 100  # 2*step_num minimum: for each word takes two twogram
twogram_pair_num = 100  # 2*step_num minimum: for each word takes two twogram pair
word_thresh_num = 7

word_start = 0  # 0
word_end = 28  # 10
step_num = word_end  # 10
word_limit = 28  # 200
part_num = 1
while word_end <= word_limit:
    df_word = df_word_all.iloc[word_start:word_end,]
    df_word.reset_index(drop=True, inplace=True)

    # language pair twogram
    ngram_list = []
    for i in df_pair["dict_entry_main"]:
        for j in word_tokenize(i):
            for k in df_word["word"]:
                twogram_1_2 = f"{j} {k}"
                ngram_list.append(twogram_1_2)
                twogram_2_1 = f"{k} {j}"
                ngram_list.append(twogram_2_1)
    df_pair_ngram = pd.DataFrame(ngram_list)
    df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
    df_pair_ngram.iloc[:,0] = df_pair_ngram.iloc[:,0].apply(lambda x: remove_repetition(x))
    df_pair_ngram.drop_duplicates(inplace=True)
    df_pair_ngram.reset_index(drop=True, inplace=True)
    df_lang_pair_twogram = pd.merge(df_twogram_sent, df_pair_ngram, how="inner", on="twogram")
    df_lang_pair_twogram.rename(columns={"twogram":f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_lang_pair_twogram.drop_duplicates(inplace=True)
    #df_lang_pair_twogram = df_lang_pair_twogram.head(100)
    set_lang_pair_twogram = set(df_lang_pair_twogram[f"twogram_pair_{lang_pair.lower()}"])
    df_set_result = pd.DataFrame(set_lang_pair_twogram.difference(set_part_twogram_pair))
    df_set_result.rename(columns={0:f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_set_pair_twogram = pd.merge(df_lang_pair_twogram, df_set_result, how="inner", on=f"twogram_pair_{lang_pair.lower()}")

    # twogram
    word_list = df_word["word"].values.tolist()
    data_kind = "twogram"
    twogram_list  = df_twogram_sent.iloc[:,0].values.tolist()
    
    resultlist2 = []

    manager = multiprocessing.Manager()
    resultlist2 = manager.list()
    
    def word_in_wordgroup2(list_var2):
        mergelist = []
        try:
            word = list_var2.split()
        except:
            pass
        var1 = range(len(word))
        for j in var1:
            if word[j] in word_list:
                mergelist.append(word[j])
                if len(mergelist) == len(word):
                        resultlist2.append(list_var2)
                            
    if __name__ == '__main__':
        # with Pool(16) as p:
        with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
            p.map(word_in_wordgroup2, twogram_list) # string_word liste 

    result_list2 = list(resultlist2)
    df_result2 = pd.DataFrame(result_list2)
    df_result2 = df_result2.rename(columns = {0: f"{data_kind}"})
    df_result2.iloc[:,0] = df_result2.iloc[:,0].apply(lambda x: remove_repetition(x)) # **
    df_merge2 = pd.merge(df_result2, df_twogram_sent, how="inner", on=f"{data_kind}")
    df_merge_result2 = df_merge2.sort_values(by="frequency", ascending=False)
    df_merge_result2.drop_duplicates(inplace=True)
    df_merge_result2.reset_index(drop=True, inplace=True)
    df_twogram_result = df_merge_result2
    #df_twogram_result = df_twogram_result.head(100)

    # output
    df_output_result = pd.concat([df_word, df_twogram_result, df_set_pair_twogram], axis=1)

    df_lesson_result = pd.DataFrame(columns=["word","freq_word","twogram","freq_twogram",f"twogram_pair_{lang_pair.lower()}",f"freq_twogram_pair_{lang_pair.lower()}"])
    a = 0
    b = 0

    for i in range(0,110):
        # Insert words and their count 
        try:
            word = df_output_result.iloc[i,0]  # word
            freq_word = df_output_result.iloc[i,1]  # word freq
            df_lesson_result.loc[i,"word"] = word
            df_lesson_result.loc[i,"freq_word"] = freq_word
        except:
            pass
         
        # Insert n grams
        try:
            var1 = df_output_result.iloc[a,2]
            freq_var1 = df_output_result.iloc[a,3]
            if (len(df_lesson_result["twogram"]) < twogram_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,"twogram"] = var1
                df_lesson_result.loc[i,"freq_twogram"] = freq_var1
                try:
                    while word_count_bool(df_lesson_result, (word_thresh_num-5), ["twogram"]): # word count result                
                        a += 1
                        var1 = df_output_result.iloc[a,2]
                        freq_var1 = df_output_result.iloc[a,3]
                        df_lesson_result.loc[i,"twogram"] = var1
                        df_lesson_result.loc[i,"freq_twogram"] = freq_var1
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,"twogram"] = np.nan
                    df_lesson_result.loc[i,"freq_twogram"] = np.nan
            else:
                pass
        except:
            pass
        a += 1

        try:
            var2 = df_output_result.iloc[b,4]
            freq_var2 = df_output_result.iloc[b,5]
            if (len(df_lesson_result[f"twogram_pair_{lang_pair.lower()}"]) < twogram_pair_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                try:
                    while word_count_bool(df_lesson_result, (word_thresh_num-5), [f"twogram_pair_{lang_pair.lower()}"]): # word count result                
                        b += 1
                        var2 = df_output_result.iloc[b,4]
                        freq_var2 = df_output_result.iloc[b,5]
                        df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                        df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = np.nan
                    df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = np.nan
            else:
                pass
        except:
            pass
        b += 1

    df_lesson_word_count = word_count_result(df_lesson_result, ["twogram",f"twogram_pair_{lang_pair.lower()}"])
    df_lesson_result = pd.merge(df_lesson_result, df_lesson_word_count, how="left", on="word")
    df_lesson_result = df_lesson_result.drop_duplicates()
    df_lesson_result.to_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result{part_num}.xlsx", index=False)

    word_start += step_num
    word_end += step_num
    part_num += 1

#### Check Result

In [146]:
df_lesson_result

,word,freq_word,twogram,freq_twogram,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,de,16588988.0,cest ça,58819.0,cest intéressant,2580,3.0
1,je,16386475.0,et vous,18817.0,cest personnel,1728,4.0
2,pas,11547876.0,cest qui,11327.0,en partie,695,4.0
3,le,10592792.0,qui ça,9732.0,une surprise,545,4.0
4,la,9939090.0,je ne,5078.0,un whisky,540,4.0
5,que,9858145.0,pas vous,3847.0,un message,508,3.0
6,vous,8980559.0,il est,2312.0,en théorie,507,4.0
7,tu,8776452.0,mais je,2154.0,une carte,417,2.0
8,et,8039570.0,on la,1604.0,la bombe,397,4.0
9,un,7421102.0,tu les,1411.0,le film,382,4.0
10,cest,7378985.0,et nous,1368.0,le garçon,377,4.0
11,ne,6522193.0,pas nous,1227.0,la carte,297,2.0
12,il,6113702.0,on est,495.0,merci je,111,4.0
13,les,6088090.0,il la,390.0,mais madame,103,4.0
14,ça,5453443.0,mais que,368.0,pour noël,77,4.0
15,ce,4975690.0,tu ne,307.0,mais chef,72,4.0
16,une,4859112.0,jai un,192.0,merci de,70,4.0
17,pour,4831957.0,jai une,97.0,madame je,61,4.0
18,est,4749944.0,dans le,71.0,les archives,60,4.0
19,on,4700594.0,ce que,66.0,pas intéressant,58,4.0
20,en,4433573.0,pour le,34.0,on fait,55,3.0
21,des,3795364.0,dans un,25.0,ce symbole,50,2.0
22,qui,3292758.0,de ce,14.0,pour information,47,4.0
23,jai,3239656.0,pour les,12.0,il téléphone,45,4.0
24,mais,3176885.0,en une,10.0,ce message,44,4.0
25,dans,2977115.0,NaN,NaN,de biologie,43,3.0
26,nous,2961551.0,NaN,NaN,ça fond,39,2.0
27,me,2890264.0,NaN,NaN,maître qui,36,NaN
28,NaN,NaN,NaN,NaN,qui enquête,26,NaN
29,NaN,NaN,NaN,NaN,et surprise,26,NaN
30,NaN,NaN,NaN,NaN,pas rouge,22,NaN
31,NaN,NaN,NaN,NaN,des japonais,22,NaN
32,NaN,NaN,NaN,NaN,vous docteur,20,NaN
33,NaN,NaN,NaN,NaN,et noël,19,NaN
34,NaN,NaN,NaN,NaN,fait ça,16,NaN
35,NaN,NaN,NaN,NaN,les lire,14,NaN
36,NaN,NaN,NaN,NaN,des as,13,NaN
37,NaN,NaN,NaN,NaN,on téléphone,12,NaN
38,NaN,NaN,NaN,NaN,docteur jai,12,NaN
39,NaN,NaN,NaN,NaN,vous amiral,10,NaN
40,NaN,NaN,NaN,NaN,est partie,7,NaN
41,NaN,NaN,NaN,NaN,il enquête,7,NaN
42,NaN,NaN,NaN,NaN,gene est,4,NaN
43,NaN,NaN,NaN,NaN,jai sport,3,NaN
44,NaN,NaN,NaN,NaN,patron que,3,NaN
45,NaN,NaN,NaN,NaN,japonais dans,2,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
#word_count_result(df_lesson_result, ["twogram"])

In [148]:
#word_count_result(df_lesson_result, [f"twogram_pair_{lang_pair.lower()}"])

#### Read Output File And Multi Write

In [149]:
df_part_11 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result1.xlsx")
df_part_11

,word,freq_word,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,de,16588988.0,la police,3194,2.0
1,je,16386475.0,le téléphone,978,2.0
2,pas,11547876.0,le docteur,674,2.0
3,le,10592792.0,la musique,589,2.0
4,la,9939090.0,de vous,514,2.0
5,que,9858145.0,je danse,261,2.0
6,vous,8980559.0,pas super,147,2.0
7,NaN,NaN,pas de,140,NaN
8,NaN,NaN,je téléphone,123,NaN
9,NaN,NaN,vous madame,58,NaN
10,NaN,NaN,fait que,33,NaN
11,NaN,NaN,que fait,4,NaN

In [150]:
df_part_12 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result2.xlsx")
df_part_12

,word,freq_word,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,tu,8776452.0,cest super,10475,2.0
1,et,8039570.0,cest fait,9439,2.0
2,un,7421102.0,un café,2171,2.0
3,cest,7378985.0,un garçon,1309,2.0
4,ne,6522193.0,et merci,860,1.0
5,il,6113702.0,tu as,634,2.0
6,les,6088090.0,les chinois,125,2.0
7,NaN,NaN,les japonais,105,NaN
8,NaN,NaN,et madame,103,NaN
9,NaN,NaN,il danse,102,NaN
10,NaN,NaN,il fait,69,NaN
11,NaN,NaN,as tu,33,NaN
12,NaN,NaN,ne point,4,NaN

In [151]:
df_part_13 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result3.xlsx")
df_part_13

,word,freq_word,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,ça,5453443.0,en fait,4479,2.0
1,ce,4975690.0,en position,1435,2.0
2,une,4859112.0,une bombe,758,2.0
3,pour,4831957.0,on danse,732,2.0
4,est,4749944.0,une ambulance,674,2.0
5,on,4700594.0,de ça,357,2.0
6,en,4433573.0,ça fait,307,2.0
7,NaN,NaN,ce garçon,189,NaN
8,NaN,NaN,merci pour,171,NaN
9,NaN,NaN,on enquête,93,NaN
10,NaN,NaN,pour lire,88,NaN
11,NaN,NaN,ce film,78,NaN
12,NaN,NaN,est figurant,10,NaN
13,NaN,NaN,madame est,8,NaN

In [152]:
df_part_14 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result4.xlsx")
df_part_14

,word,freq_word,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,des,3795364.0,de qui,2683,2.0
1,qui,3292758.0,mais merci,1097,2.0
2,jai,3239656.0,de nous,430,2.0
3,mais,3176885.0,merci mais,311,2.0
4,dans,2977115.0,jai fait,284,2.0
5,nous,2961551.0,docteur qui,64,2.0
6,me,2890264.0,des chinois,55,NaN
7,NaN,NaN,des spaghetti,35,NaN
8,NaN,NaN,jai école,16,NaN
9,NaN,NaN,dans chrome,8,NaN
10,NaN,NaN,avantage nous,5,NaN
11,NaN,NaN,dans ascenseur,4,NaN

In [153]:
df_part_21 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_28_Result1.xlsx")
df_part_21

,word,freq_word,twogram,freq_twogram,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,de,16588988.0,cest ça,58819.0,cest intéressant,2580,3.0
1,je,16386475.0,et vous,18817.0,cest personnel,1728,4.0
2,pas,11547876.0,cest qui,11327.0,en partie,695,4.0
3,le,10592792.0,qui ça,9732.0,une surprise,545,4.0
4,la,9939090.0,je ne,5078.0,un whisky,540,4.0
5,que,9858145.0,pas vous,3847.0,un message,508,3.0
6,vous,8980559.0,il est,2312.0,en théorie,507,4.0
7,tu,8776452.0,mais je,2154.0,une carte,417,2.0
8,et,8039570.0,on la,1604.0,la bombe,397,4.0
9,un,7421102.0,tu les,1411.0,le film,382,4.0
10,cest,7378985.0,et nous,1368.0,le garçon,377,4.0
11,ne,6522193.0,pas nous,1227.0,la carte,297,2.0
12,il,6113702.0,on est,495.0,merci je,111,4.0
13,les,6088090.0,il la,390.0,mais madame,103,4.0
14,ça,5453443.0,mais que,368.0,pour noël,77,4.0
15,ce,4975690.0,tu ne,307.0,mais chef,72,4.0
16,une,4859112.0,jai un,192.0,merci de,70,4.0
17,pour,4831957.0,jai une,97.0,madame je,61,4.0
18,est,4749944.0,dans le,71.0,les archives,60,4.0
19,on,4700594.0,ce que,66.0,pas intéressant,58,4.0
20,en,4433573.0,pour le,34.0,on fait,55,3.0
21,des,3795364.0,dans un,25.0,ce symbole,50,2.0
22,qui,3292758.0,de ce,14.0,pour information,47,4.0
23,jai,3239656.0,pour les,12.0,il téléphone,45,4.0
24,mais,3176885.0,en une,10.0,ce message,44,4.0
25,dans,2977115.0,NaN,NaN,de biologie,43,3.0
26,nous,2961551.0,NaN,NaN,ça fond,39,2.0
27,me,2890264.0,NaN,NaN,maître qui,36,NaN
28,NaN,NaN,NaN,NaN,qui enquête,26,NaN
29,NaN,NaN,NaN,NaN,et surprise,26,NaN
30,NaN,NaN,NaN,NaN,pas rouge,22,NaN
31,NaN,NaN,NaN,NaN,des japonais,22,NaN
32,NaN,NaN,NaN,NaN,vous docteur,20,NaN
33,NaN,NaN,NaN,NaN,et noël,19,NaN
34,NaN,NaN,NaN,NaN,fait ça,16,NaN
35,NaN,NaN,NaN,NaN,les lire,14,NaN
36,NaN,NaN,NaN,NaN,des as,13,NaN
37,NaN,NaN,NaN,NaN,on téléphone,12,NaN
38,NaN,NaN,NaN,NaN,docteur jai,12,NaN
39,NaN,NaN,NaN,NaN,vous amiral,10,NaN
40,NaN,NaN,NaN,NaN,est partie,7,NaN
41,NaN,NaN,NaN,NaN,il enquête,7,NaN
42,NaN,NaN,NaN,NaN,gene est,4,NaN
43,NaN,NaN,NaN,NaN,jai sport,3,NaN
44,NaN,NaN,NaN,NaN,patron que,3,NaN
45,NaN,NaN,NaN,NaN,japonais dans,2,NaN

In [154]:
writer = pd.ExcelWriter(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Result_With_Frequency.xlsx", engine='xlsxwriter')

In [155]:
df_part_11.to_excel(writer, sheet_name='Word_Part11', index=False)
df_part_12.to_excel(writer, sheet_name='Word_Part12', index=False)
df_part_13.to_excel(writer, sheet_name='Word_Part13', index=False)
df_part_14.to_excel(writer, sheet_name='Word_Part14', index=False)
df_part_21.to_excel(writer, sheet_name='Word_Part21', index=False)

In [156]:
writer.save()

#### Output File Word Order

In [157]:
df_part_11

,word,freq_word,twogram_pair_turkish,freq_twogram_pair_turkish,word_count
0,de,16588988.0,la police,3194,2.0
1,je,16386475.0,le téléphone,978,2.0
2,pas,11547876.0,le docteur,674,2.0
3,le,10592792.0,la musique,589,2.0
4,la,9939090.0,de vous,514,2.0
5,que,9858145.0,je danse,261,2.0
6,vous,8980559.0,pas super,147,2.0
7,NaN,NaN,pas de,140,NaN
8,NaN,NaN,je téléphone,123,NaN
9,NaN,NaN,vous madame,58,NaN
10,NaN,NaN,fait que,33,NaN
11,NaN,NaN,que fait,4,NaN

In [158]:
def word_in_twogram(df, list_column, target_column):

    '''word_in_twogram(df, "word", "twogram"):
       df is dataframe, list_column and target_column are 
       dataframe column string name. list_column convert list
       values that are in target column.
    '''
    
    df_select = df[[f"{target_column}"]].dropna()
    df_word_result = pd.DataFrame()
    for i in df[f"{list_column}"].dropna():
        try:
            word_in_twogram = df_select[df_select[f"{target_column}"].str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)] 
        except:
            pass        
        word_in_twogram.insert(0,"word",i)
        df_word_result = pd.concat([df_word_result,word_in_twogram], axis=0)
    df_word_result.reset_index(drop=True, inplace=True)

    return df_word_result

In [159]:
word_in_twogram(df_part_11, "word", f"twogram_pair_{lang_pair.lower()}")

    word twogram_pair_turkish
0     de              de vous
1     de               pas de
2     je             je danse
3     je         je téléphone
4    pas            pas super
5    pas               pas de
6     le         le téléphone
7     le           le docteur
8     la            la police
9     la           la musique
10   que             fait que
11   que             que fait
12  vous              de vous
13  vous          vous madame

In [160]:
df_word_order_11 = word_in_twogram(df_part_11, "word", f"twogram_pair_{lang_pair.lower()}")
df_word_order_12 = word_in_twogram(df_part_12, "word", f"twogram_pair_{lang_pair.lower()}") 
df_word_order_13 = word_in_twogram(df_part_13, "word", f"twogram_pair_{lang_pair.lower()}") 
df_word_order_14 = word_in_twogram(df_part_14, "word", f"twogram_pair_{lang_pair.lower()}")
df_word_order_21 = word_in_twogram(df_part_21, "word", f"twogram") 
df_word_order_212 = word_in_twogram(df_part_21, "word", f"twogram_pair_{lang_pair.lower()}")

In [161]:
df_word_order_join_11 = df_word_order_11.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()   # df_word_order_11.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].transform(lambda x: ','.join(x))
df_word_order_join_12 = df_word_order_12.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_13 = df_word_order_13.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_14 = df_word_order_14.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_211 = df_word_order_21.groupby(["word"])["twogram"].apply(", ".join).reset_index()
df_word_order_join_212 = df_word_order_212.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_21 = pd.merge(df_word_order_join_211, df_word_order_join_212, how="outer", on="word")

In [162]:
df_word_order_join_21

    word             twogram              twogram_pair_turkish
0     ce       ce que, de ce            ce symbole, ce message
1   cest   cest ça, cest qui  cest intéressant, cest personnel
2   dans    dans le, dans un                     japonais dans
3     de               de ce             merci de, de biologie
4     en              en une             en partie, en théorie
5    est      il est, on est              est partie, gene est
6     et    et vous, et nous              et surprise, et noël
7     il       il est, il la          il téléphone, il enquête
8    jai     jai un, jai une            docteur jai, jai sport
9     je      je ne, mais je               merci je, madame je
10    la        on la, il la                la bombe, la carte
11    le    dans le, pour le                le film, le garçon
12   les    tu les, pour les            les archives, les lire
13  mais   mais je, mais que            mais madame, mais chef
14    ne        je ne, tu ne                               NaN
15  nous   et nous, pas nous                               NaN
16    on       on la, on est             on fait, on téléphone
17   pas  pas vous, pas nous        pas intéressant, pas rouge
18  pour   pour le, pour les       pour noël, pour information
19   que    mais que, ce que                        patron que
20   qui    cest qui, qui ça           maître qui, qui enquête
21    tu       tu les, tu ne                               NaN
22    un     jai un, dans un             un whisky, un message
23   une     jai une, en une           une surprise, une carte
24  vous   et vous, pas vous         vous docteur, vous amiral
25    ça     cest ça, qui ça                  ça fond, fait ça
26   des                 NaN              des japonais, des as

In [163]:
writer2 = pd.ExcelWriter(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Join_Result_Without_Frequency.xlsx", engine='xlsxwriter')

In [164]:
df_word_order_join_11.to_excel(writer2, sheet_name='Word_Part11', index=False)
df_word_order_join_12.to_excel(writer2, sheet_name='Word_Part12', index=False)
df_word_order_join_13.to_excel(writer2, sheet_name='Word_Part13', index=False)
df_word_order_join_14.to_excel(writer2, sheet_name='Word_Part14', index=False)
df_word_order_join_21.to_excel(writer2, sheet_name='Word_Part21', index=False)

In [165]:
writer2.save()

#### Copy Move And Delete

In [166]:
output_file = glob.glob(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_{word_limit}_Word_*.xlsx")
output_file

['French_Turkish_28_Word_Step_7_Result1.xlsx',
 'French_Turkish_28_Word_Step_7_Result2.xlsx',
 'French_Turkish_28_Word_Step_7_Result3.xlsx',
 'French_Turkish_28_Word_Step_7_Result4.xlsx',
 'French_Turkish_28_Word_Step_28_Result1.xlsx',
 'French_Turkish_28_Word_Result_With_Frequency.xlsx',
 'French_Turkish_28_Word_Join_Result_Without_Frequency.xlsx']

In [167]:
for k in output_file:
    source = k # source directory
    destination = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/3-Adjust Word Level/{lang_folder.capitalize()} {lang_pair.capitalize()}"
    shutil.copy2(source, destination)

In [168]:
for i in output_file:
    try:
        os.remove(i)
    except:
        pass