### Adjust Word Level

In [379]:
#!pip install xlsxwriter

In [380]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np
import glob
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [381]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

#### While Loop

In [382]:
lang_folder = "German"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language
lang_pair = "Portuguese"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

In [383]:
Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/3-Adjust Word Level/{lang_folder.capitalize()} {lang_pair.capitalize()}").mkdir(parents=True, exist_ok=True)  # create path

In [384]:
df_word_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word_all

                word  frequency
0                ich    8138198
1                sie    5307295
2                das    4314201
3                ist    4200394
4                 du    4093352
...              ...        ...
274527  galapremiere          5
274528      gemurkse          5
274529        granet          5
274530   bürgernahen          5
274531      schinell          5

[274532 rows x 2 columns]

In [385]:
#df_twogram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/Merge/Twogram_Merge.csv")
df_twogram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/N Gram And Sentence/Two_Gram_And_Sentence.csv")  # ext. sentence and ngram
df_twogram_sent.rename(columns={"two_gram":"twogram"}, inplace=True)  # ext. Not: Two_Gram_And_Sentence.csv convert to Two_Gram_And_Sentence_All.csv
df_twogram_sent

                twogram  frequency
0              ich weiß      38274
1            komm schon      34485
2            alles klar      24441
3               oh gott      23763
4            in ordnung      23303
...                 ...        ...
270119         mr haden          2
270120         mayo ist          2
270121   gleich umlegen          2
270122       nur andrea          2
270123  welche kühnheit          2

[270124 rows x 2 columns]

In [386]:
lang_pair_list = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_And_{lang_pair.lower().capitalize()}*_All.xlsx")
lang_pair_list

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/German/German_And_Portuguese (por)_Etymologeek_Result_All.xlsx']

In [387]:
df_pair_all = pd.read_excel(f"{lang_pair_list[0]}")
#df_pair_all

In [388]:
disable_list = ["sex","seks","seksi","sexy","sexe","seksüel","sexuell","gey","gay","lezbiyen","lesbienne","eşcinsel","mastürbasyon","masturbation","erotik","érotique","bikini"]

In [389]:
words = df_pair_all["dict_entry_main"].values.tolist()

In [390]:
disable_set = set(disable_list)
words_set = set(words)

In [391]:
df_pair = pd.DataFrame(list(words_set.difference(disable_set)), columns=["dict_entry_main"])
df_pair

    dict_entry_main
0        historisch
1         interview
2             mönch
3           klassik
4             samba
..              ...
293        schreibe
294           engel
295           bande
296         laktose
297             fan

[298 rows x 1 columns]

In [392]:
def remove_repetition(word_group):
    words = word_tokenize(word_group)
    word_unique = set(words)
    if len(word_unique) == 1:
        return "repetitive_word_group"
    else:
        return word_group

In [393]:
def word_count_result(df,column_list): # df is dataframe, bigger_than is integer
    list_all = []
    for i in df.loc[:,[x for x in column_list]].columns:
        var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list)
    df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"word_count"}, inplace=True)
    
    return  df_word_count

In [394]:
def word_count_bool(df, word_thresh_num, column_list): # df is a dataframe, bigger_than is an integer
    list_all = []
    for i in df.loc[:,[x for x in column_list]].columns:
        var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list)
    df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"count"}, inplace=True)
    
    return  df_word_count["count"][df_word_count.loc[:,"count"] > word_thresh_num].any()

#### Condition 1

In [395]:
# while loop code block word and twogram pair
twogram_num = 100  # 2*step_num minimum: for each word takes two twogram
twogram_pair_num = 100  # 2*step_num minimum: for each word takes two twogram pair
word_thresh_num = 2

word_start = 0  # 0
word_end = 7  # 10
step_num = word_end  # 10
word_limit = 28  # 200
part_num = 1
while word_end <= word_limit:
    df_word = df_word_all.iloc[word_start:word_end,]
    df_word.reset_index(drop=True, inplace=True)

    # language pair twogram
    ngram_list = []
    for i in df_pair["dict_entry_main"]:
        for j in word_tokenize(i):
            for k in df_word["word"]:
                twogram_1_2 = f"{j} {k}"
                ngram_list.append(twogram_1_2)
                twogram_2_1 = f"{k} {j}"
                ngram_list.append(twogram_2_1)
    df_pair_ngram = pd.DataFrame(ngram_list)
    df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
    df_pair_ngram.iloc[:,0] = df_pair_ngram.iloc[:,0].apply(lambda x: remove_repetition(x))
    df_pair_ngram.drop_duplicates(inplace=True)
    df_pair_ngram.reset_index(drop=True, inplace=True)
    df_lang_pair_twogram = pd.merge(df_twogram_sent, df_pair_ngram, how="inner", on="twogram")
    df_lang_pair_twogram.rename(columns={"twogram":f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_lang_pair_twogram.drop_duplicates(inplace=True)
    #df_lang_pair_twogram = df_lang_pair_twogram.head(100)

    # output
    df_output_result = pd.concat([df_word, df_lang_pair_twogram], axis=1)

    df_lesson_result = pd.DataFrame(columns=["word","freq_word",f"twogram_pair_{lang_pair.lower()}",f"freq_twogram_pair_{lang_pair.lower()}"])
    a = 0

    for i in range(0,110):
        # Insert words and their count 
        try:
            word = df_output_result.iloc[i,0]  # word 
            freq_word = df_output_result.iloc[i,1]  # word freq
            df_lesson_result.loc[i,"word"] = word
            df_lesson_result.loc[i,"freq_word"] = freq_word
        except:
            pass
         
        # Insert twogram pair
        try:
            var2 = df_output_result.loc[a,f"twogram_pair_{lang_pair.lower()}"]
            freq_var2 = df_output_result.iloc[a,3]  # twogram_pair frequency
            if (len(df_lesson_result[f"twogram_pair_{lang_pair.lower()}"]) < twogram_pair_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                try:
                    while word_count_bool(df_lesson_result, word_thresh_num, [f"twogram_pair_{lang_pair.lower()}"]): # word count result                
                        a += 1
                        var2 = df_output_result.loc[a,f"twogram_pair_{lang_pair.lower()}"]
                        freq_var2 = df_output_result.iloc[a,3]  # twogram_pair frequency
                        df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                        df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = np.nan
                    df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = np.nan
            else:
                pass
        except:
            pass
        a += 1

    df_lesson_word_count = word_count_result(df_lesson_result, [f"twogram_pair_{lang_pair.lower()}"])
    df_lesson_result = pd.merge(df_lesson_result, df_lesson_word_count, how="left", on="word")
    df_lesson_result = df_lesson_result.drop_duplicates()
    df_lesson_result.to_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result{part_num}.xlsx", index=False)

    word_start += step_num
    word_end += step_num
    part_num += 1

#### Condition 2

In [396]:
part_result_file = glob.glob(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result*.xlsx")
part_result_file

['German_Portuguese_28_Word_Step_7_Result1.xlsx',
 'German_Portuguese_28_Word_Step_7_Result2.xlsx',
 'German_Portuguese_28_Word_Step_7_Result3.xlsx',
 'German_Portuguese_28_Word_Step_7_Result4.xlsx']

In [397]:
# Read previous part result
df_part_all = pd.DataFrame()
for i in part_result_file:
    df_var = pd.read_excel(f"{i}")
    df_part_all = pd.concat([df_part_all,df_var], axis=0)
df_part_twogram_pair = df_part_all.loc[:,[f"twogram_pair_{lang_pair.lower()}"]]
df_part_twogram_pair.reset_index(drop=True, inplace=True)
set_part_twogram_pair = set(df_part_twogram_pair[f"twogram_pair_{lang_pair.lower()}"])

# while loop code block
twogram_num = 100  # 2*step_num minimum: for each word takes two twogram
twogram_pair_num = 100  # 2*step_num minimum: for each word takes two twogram pair
word_thresh_num = 7

word_start = 0  # 0
word_end = 28  # 10
step_num = word_end  # 10
word_limit = 28  # 200
part_num = 1
while word_end <= word_limit:
    df_word = df_word_all.iloc[word_start:word_end,]
    df_word.reset_index(drop=True, inplace=True)

    # language pair twogram
    ngram_list = []
    for i in df_pair["dict_entry_main"]:
        for j in word_tokenize(i):
            for k in df_word["word"]:
                twogram_1_2 = f"{j} {k}"
                ngram_list.append(twogram_1_2)
                twogram_2_1 = f"{k} {j}"
                ngram_list.append(twogram_2_1)
    df_pair_ngram = pd.DataFrame(ngram_list)
    df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
    df_pair_ngram.iloc[:,0] = df_pair_ngram.iloc[:,0].apply(lambda x: remove_repetition(x))
    df_pair_ngram.drop_duplicates(inplace=True)
    df_pair_ngram.reset_index(drop=True, inplace=True)
    df_lang_pair_twogram = pd.merge(df_twogram_sent, df_pair_ngram, how="inner", on="twogram")
    df_lang_pair_twogram.rename(columns={"twogram":f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_lang_pair_twogram.drop_duplicates(inplace=True)
    #df_lang_pair_twogram = df_lang_pair_twogram.head(100)
    set_lang_pair_twogram = set(df_lang_pair_twogram[f"twogram_pair_{lang_pair.lower()}"])
    df_set_result = pd.DataFrame(set_lang_pair_twogram.difference(set_part_twogram_pair))
    df_set_result.rename(columns={0:f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_set_pair_twogram = pd.merge(df_lang_pair_twogram, df_set_result, how="inner", on=f"twogram_pair_{lang_pair.lower()}")

    # twogram
    word_list = df_word["word"].values.tolist()
    data_kind = "twogram"
    twogram_list  = df_twogram_sent.iloc[:,0].values.tolist()
    
    resultlist2 = []

    manager = multiprocessing.Manager()
    resultlist2 = manager.list()
    
    def word_in_wordgroup2(list_var2):
        mergelist = []
        try:
            word = list_var2.split()
        except:
            pass
        var1 = range(len(word))
        for j in var1:
            if word[j] in word_list:
                mergelist.append(word[j])
                if len(mergelist) == len(word):
                        resultlist2.append(list_var2)
                            
    if __name__ == '__main__':
        # with Pool(16) as p:
        with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
            p.map(word_in_wordgroup2, twogram_list) # string_word liste 

    result_list2 = list(resultlist2)
    df_result2 = pd.DataFrame(result_list2)
    df_result2 = df_result2.rename(columns = {0: f"{data_kind}"})
    df_result2.iloc[:,0] = df_result2.iloc[:,0].apply(lambda x: remove_repetition(x)) # **
    df_merge2 = pd.merge(df_result2, df_twogram_sent, how="inner", on=f"{data_kind}")
    df_merge_result2 = df_merge2.sort_values(by="frequency", ascending=False)
    df_merge_result2.drop_duplicates(inplace=True)
    df_merge_result2.reset_index(drop=True, inplace=True)
    df_twogram_result = df_merge_result2
    #df_twogram_result = df_twogram_result.head(100)

    # output
    df_output_result = pd.concat([df_word, df_twogram_result, df_set_pair_twogram], axis=1)

    df_lesson_result = pd.DataFrame(columns=["word","freq_word","twogram","freq_twogram",f"twogram_pair_{lang_pair.lower()}",f"freq_twogram_pair_{lang_pair.lower()}"])
    a = 0
    b = 0

    for i in range(0,110):
        # Insert words and their count 
        try:
            word = df_output_result.iloc[i,0]  # word
            freq_word = df_output_result.iloc[i,1]  # word freq
            df_lesson_result.loc[i,"word"] = word
            df_lesson_result.loc[i,"freq_word"] = freq_word
        except:
            pass
         
        # Insert n grams
        try:
            var1 = df_output_result.iloc[a,2]
            freq_var1 = df_output_result.iloc[a,3]
            if (len(df_lesson_result["twogram"]) < twogram_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,"twogram"] = var1
                df_lesson_result.loc[i,"freq_twogram"] = freq_var1
                try:
                    while word_count_bool(df_lesson_result, (word_thresh_num-5), ["twogram"]): # word count result                
                        a += 1
                        var1 = df_output_result.iloc[a,2]
                        freq_var1 = df_output_result.iloc[a,3]
                        df_lesson_result.loc[i,"twogram"] = var1
                        df_lesson_result.loc[i,"freq_twogram"] = freq_var1
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,"twogram"] = np.nan
                    df_lesson_result.loc[i,"freq_twogram"] = np.nan
            else:
                pass
        except:
            pass
        a += 1

        try:
            var2 = df_output_result.iloc[b,4]
            freq_var2 = df_output_result.iloc[b,5]
            if (len(df_lesson_result[f"twogram_pair_{lang_pair.lower()}"]) < twogram_pair_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                try:
                    while word_count_bool(df_lesson_result, (word_thresh_num-5), [f"twogram_pair_{lang_pair.lower()}"]): # word count result                
                        b += 1
                        var2 = df_output_result.iloc[b,4]
                        freq_var2 = df_output_result.iloc[b,5]
                        df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                        df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = np.nan
                    df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = np.nan
            else:
                pass
        except:
            pass
        b += 1

    df_lesson_word_count = word_count_result(df_lesson_result, ["twogram",f"twogram_pair_{lang_pair.lower()}"])
    df_lesson_result = pd.merge(df_lesson_result, df_lesson_word_count, how="left", on="word")
    df_lesson_result = df_lesson_result.drop_duplicates()
    df_lesson_result.to_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result{part_num}.xlsx", index=False)

    word_start += step_num
    word_end += step_num
    part_num += 1

#### Check Result

In [398]:
df_lesson_result

,word,freq_word,twogram,freq_twogram,twogram_pair_portuguese,freq_twogram_pair_portuguese,word_count
0,ich,8138198.0,was ist,18490.0,ja tschüss,84,4.0
1,sie,5307295.0,und du,7111.0,die liste,82,4.0
2,das,4314201.0,das ist,3750.0,ein genie,79,4.0
3,ist,4200394.0,und sie,3730.0,ein dollar,71,4.0
4,du,4093352.0,ich nicht,3357.0,der meister,70,4.0
5,nicht,3820673.0,ja aber,1997.0,die kamera,67,4.0
6,die,3473088.0,aber ich,1976.0,der chef,66,4.0
7,und,3173268.0,du nicht,1251.0,teufel ja,47,4.0
8,es,3167627.0,wie das,1198.0,eine pause,47,1.0
9,der,2415780.0,mit mir,758.0,eine bar,46,4.0
10,wir,2388689.0,ein was,606.0,in texas,30,4.0
11,was,2367438.0,hat er,529.0,in china,25,4.0
12,zu,1972239.0,zu mir,428.0,und kaffee,21,4.0
13,er,1896855.0,ja so,424.0,das papier,21,2.0
14,ein,1836303.0,hat sie,299.0,mit zucker,20,4.0
15,in,1725081.0,auf mich,284.0,sie schreiben,19,4.0
16,ja,1434365.0,wie wir,113.0,sie teufel,18,4.0
17,mir,1417361.0,dass wir,41.0,das sofa,16,2.0
18,mit,1402220.0,so ein,39.0,du sack,16,4.0
19,wie,1298200.0,dass er,35.0,und rose,13,4.0
20,den,1294573.0,in mich,30.0,den test,11,4.0
21,mich,1242839.0,in der,28.0,aber logo,11,3.0
22,auf,1224575.0,der eine,27.0,auf linda,10,4.0
23,dass,1184691.0,die eine,25.0,den meister,10,2.0
24,aber,1162874.0,auf die,24.0,nicht nervös,9,4.0
25,eine,1155369.0,mit den,6.0,nicht china,8,4.0
26,so,1124492.0,zu den,2.0,mit alkohol,8,4.0
27,hat,1094043.0,NaN,NaN,du punk,8,2.0
28,NaN,NaN,NaN,NaN,was klären,8,NaN
29,NaN,NaN,NaN,NaN,auf kredit,7,NaN
30,NaN,NaN,NaN,NaN,wie galant,7,NaN
31,NaN,NaN,NaN,NaN,wie schick,7,NaN
32,NaN,NaN,NaN,NaN,aber kurz,5,NaN
33,NaN,NaN,NaN,NaN,bar was,5,NaN
34,NaN,NaN,NaN,NaN,so brillant,5,NaN
35,NaN,NaN,NaN,NaN,so nervös,5,NaN
36,NaN,NaN,NaN,NaN,wir protestieren,4,NaN
37,NaN,NaN,NaN,NaN,chef ich,4,NaN
38,NaN,NaN,NaN,NaN,rose ich,3,NaN
39,NaN,NaN,NaN,NaN,schreiben ist,3,NaN
40,NaN,NaN,NaN,NaN,zu orange,3,NaN
41,NaN,NaN,NaN,NaN,spion ist,3,NaN
42,NaN,NaN,NaN,NaN,zu liberal,3,NaN
43,NaN,NaN,NaN,NaN,schick mich,2,NaN
44,NaN,NaN,NaN,NaN,wir unterschreiben,2,NaN
45,NaN,NaN,NaN,NaN,test es,2,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [399]:
#word_count_result(df_lesson_result, ["twogram"])

In [400]:
#word_count_result(df_lesson_result, [f"twogram_pair_{lang_pair.lower()}"])

#### Read Output File And Multi Write

In [401]:
df_part_11 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result1.xlsx")
df_part_11

,word,freq_word,twogram_pair_portuguese,freq_twogram_pair_portuguese,word_count
0,ich,8138198.0,unterschreiben sie,195,2.0
1,sie,5307295.0,schreiben sie,188,2.0
2,das,4314201.0,die tasche,179,2.0
3,ist,4200394.0,ich schreibe,126,2.0
4,du,4093352.0,die bombe,97,2.0
5,nicht,3820673.0,du teufel,73,2.0
6,die,3473088.0,nicht fair,65,2.0
7,NaN,NaN,das signal,56,NaN
8,NaN,NaN,das gas,38,NaN
9,NaN,NaN,du genie,27,NaN
10,NaN,NaN,ist logisch,11,NaN
11,NaN,NaN,nicht unterschreiben,10,NaN
12,NaN,NaN,meister ich,8,NaN
13,NaN,NaN,kevin ist,5,NaN

In [402]:
df_part_12 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result2.xlsx")
df_part_12

,word,freq_word,twogram_pair_portuguese,freq_twogram_pair_portuguese,word_count
0,und,3173268.0,und tschüss,196,2.0
1,es,3167627.0,der teufel,162,2.0
2,der,2415780.0,der typ,138,2.0
3,wir,2388689.0,zu kurz,48,2.0
4,was,2367438.0,und rein,39,2.0
5,zu,1972239.0,schick was,13,2.0
6,er,1896855.0,wir schreiben,9,NaN
7,NaN,NaN,texas was,8,NaN
8,NaN,NaN,wir garantieren,5,NaN
9,NaN,NaN,zu schreiben,4,NaN
10,NaN,NaN,es klären,3,NaN
11,NaN,NaN,schick es,2,NaN

In [403]:
df_part_13 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result3.xlsx")
df_part_13

,word,freq_word,twogram_pair_portuguese,freq_twogram_pair_portuguese,word_count
0,ein,1836303.0,ja meister,480,2.0
1,in,1725081.0,ja chef,334,2.0
2,ja,1434365.0,in sicherheit,281,2.0
3,mir,1417361.0,mit sicherheit,247,NaN
4,mit,1402220.0,in bar,166,2.0
5,wie,1298200.0,ein brief,130,2.0
6,den,1294573.0,ein engel,86,2.0
7,NaN,NaN,den ball,34,NaN
8,NaN,NaN,den brief,30,NaN
9,NaN,NaN,wie kurz,25,NaN
10,NaN,NaN,mit zunge,21,NaN
11,NaN,NaN,wie plastik,9,NaN

In [404]:
df_part_14 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result4.xlsx")
df_part_14

,word,freq_word,twogram_pair_portuguese,freq_twogram_pair_portuguese,word_count
0,mich,1242839.0,eine bombe,255,2.0
1,auf,1224575.0,eine kamera,73,2.0
2,dass,1184691.0,aber meister,30,NaN
3,aber,1162874.0,aber chef,30,2.0
4,eine,1155369.0,auf patrouille,19,2.0
5,so,1124492.0,auf papier,14,2.0
6,hat,1094043.0,so kurz,13,NaN
7,NaN,NaN,so rein,13,NaN
8,NaN,NaN,mich testen,3,NaN
9,NaN,NaN,schock mich,2,NaN

In [405]:
df_part_21 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_28_Result1.xlsx")
df_part_21

,word,freq_word,twogram,freq_twogram,twogram_pair_portuguese,freq_twogram_pair_portuguese,word_count
0,ich,8138198.0,was ist,18490.0,ja tschüss,84,4.0
1,sie,5307295.0,und du,7111.0,die liste,82,4.0
2,das,4314201.0,das ist,3750.0,ein genie,79,4.0
3,ist,4200394.0,und sie,3730.0,ein dollar,71,4.0
4,du,4093352.0,ich nicht,3357.0,der meister,70,4.0
5,nicht,3820673.0,ja aber,1997.0,die kamera,67,4.0
6,die,3473088.0,aber ich,1976.0,der chef,66,4.0
7,und,3173268.0,du nicht,1251.0,teufel ja,47,4.0
8,es,3167627.0,wie das,1198.0,eine pause,47,1.0
9,der,2415780.0,mit mir,758.0,eine bar,46,4.0
10,wir,2388689.0,ein was,606.0,in texas,30,4.0
11,was,2367438.0,hat er,529.0,in china,25,4.0
12,zu,1972239.0,zu mir,428.0,und kaffee,21,4.0
13,er,1896855.0,ja so,424.0,das papier,21,2.0
14,ein,1836303.0,hat sie,299.0,mit zucker,20,4.0
15,in,1725081.0,auf mich,284.0,sie schreiben,19,4.0
16,ja,1434365.0,wie wir,113.0,sie teufel,18,4.0
17,mir,1417361.0,dass wir,41.0,das sofa,16,2.0
18,mit,1402220.0,so ein,39.0,du sack,16,4.0
19,wie,1298200.0,dass er,35.0,und rose,13,4.0
20,den,1294573.0,in mich,30.0,den test,11,4.0
21,mich,1242839.0,in der,28.0,aber logo,11,3.0
22,auf,1224575.0,der eine,27.0,auf linda,10,4.0
23,dass,1184691.0,die eine,25.0,den meister,10,2.0
24,aber,1162874.0,auf die,24.0,nicht nervös,9,4.0
25,eine,1155369.0,mit den,6.0,nicht china,8,4.0
26,so,1124492.0,zu den,2.0,mit alkohol,8,4.0
27,hat,1094043.0,NaN,NaN,du punk,8,2.0
28,NaN,NaN,NaN,NaN,was klären,8,NaN
29,NaN,NaN,NaN,NaN,auf kredit,7,NaN
30,NaN,NaN,NaN,NaN,wie galant,7,NaN
31,NaN,NaN,NaN,NaN,wie schick,7,NaN
32,NaN,NaN,NaN,NaN,aber kurz,5,NaN
33,NaN,NaN,NaN,NaN,bar was,5,NaN
34,NaN,NaN,NaN,NaN,so brillant,5,NaN
35,NaN,NaN,NaN,NaN,so nervös,5,NaN
36,NaN,NaN,NaN,NaN,wir protestieren,4,NaN
37,NaN,NaN,NaN,NaN,chef ich,4,NaN
38,NaN,NaN,NaN,NaN,rose ich,3,NaN
39,NaN,NaN,NaN,NaN,schreiben ist,3,NaN
40,NaN,NaN,NaN,NaN,zu orange,3,NaN
41,NaN,NaN,NaN,NaN,spion ist,3,NaN
42,NaN,NaN,NaN,NaN,zu liberal,3,NaN
43,NaN,NaN,NaN,NaN,schick mich,2,NaN
44,NaN,NaN,NaN,NaN,wir unterschreiben,2,NaN
45,NaN,NaN,NaN,NaN,test es,2,NaN

In [406]:
writer = pd.ExcelWriter(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Result_With_Frequency.xlsx", engine='xlsxwriter')

In [407]:
df_part_11.to_excel(writer, sheet_name='Word_Part11', index=False)
df_part_12.to_excel(writer, sheet_name='Word_Part12', index=False)
df_part_13.to_excel(writer, sheet_name='Word_Part13', index=False)
df_part_14.to_excel(writer, sheet_name='Word_Part14', index=False)
df_part_21.to_excel(writer, sheet_name='Word_Part21', index=False)

In [408]:
writer.save()

#### Output File Word Order

In [409]:
df_part_11

,word,freq_word,twogram_pair_portuguese,freq_twogram_pair_portuguese,word_count
0,ich,8138198.0,unterschreiben sie,195,2.0
1,sie,5307295.0,schreiben sie,188,2.0
2,das,4314201.0,die tasche,179,2.0
3,ist,4200394.0,ich schreibe,126,2.0
4,du,4093352.0,die bombe,97,2.0
5,nicht,3820673.0,du teufel,73,2.0
6,die,3473088.0,nicht fair,65,2.0
7,NaN,NaN,das signal,56,NaN
8,NaN,NaN,das gas,38,NaN
9,NaN,NaN,du genie,27,NaN
10,NaN,NaN,ist logisch,11,NaN
11,NaN,NaN,nicht unterschreiben,10,NaN
12,NaN,NaN,meister ich,8,NaN
13,NaN,NaN,kevin ist,5,NaN

In [410]:
def word_in_twogram(df, list_column, target_column):

    '''word_in_twogram(df, "word", "twogram"):
       df is dataframe, list_column and target_column are 
       dataframe column string name. list_column convert list
       values that are in target column.
    '''
    
    df_select = df[[f"{target_column}"]].dropna()
    df_word_result = pd.DataFrame()
    for i in df[f"{list_column}"].dropna():
        try:
            word_in_twogram = df_select[df_select[f"{target_column}"].str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)] 
        except:
            pass        
        word_in_twogram.insert(0,"word",i)
        df_word_result = pd.concat([df_word_result,word_in_twogram], axis=0)
    df_word_result.reset_index(drop=True, inplace=True)

    return df_word_result

In [411]:
word_in_twogram(df_part_11, "word", f"twogram_pair_{lang_pair.lower()}")

     word twogram_pair_portuguese
0     ich            ich schreibe
1     ich             meister ich
2     sie      unterschreiben sie
3     sie           schreiben sie
4     das              das signal
5     das                 das gas
6     ist             ist logisch
7     ist               kevin ist
8      du               du teufel
9      du                du genie
10  nicht              nicht fair
11  nicht    nicht unterschreiben
12    die              die tasche
13    die               die bombe

In [412]:
df_word_order_11 = word_in_twogram(df_part_11, "word", f"twogram_pair_{lang_pair.lower()}")
df_word_order_12 = word_in_twogram(df_part_12, "word", f"twogram_pair_{lang_pair.lower()}") 
df_word_order_13 = word_in_twogram(df_part_13, "word", f"twogram_pair_{lang_pair.lower()}") 
df_word_order_14 = word_in_twogram(df_part_14, "word", f"twogram_pair_{lang_pair.lower()}")
df_word_order_21 = word_in_twogram(df_part_21, "word", f"twogram") 
df_word_order_212 = word_in_twogram(df_part_21, "word", f"twogram_pair_{lang_pair.lower()}")

In [413]:
df_word_order_join_11 = df_word_order_11.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()   # df_word_order_11.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].transform(lambda x: ','.join(x))
df_word_order_join_12 = df_word_order_12.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_13 = df_word_order_13.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_14 = df_word_order_14.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_211 = df_word_order_21.groupby(["word"])["twogram"].apply(", ".join).reset_index()
df_word_order_join_212 = df_word_order_212.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_21 = pd.merge(df_word_order_join_211, df_word_order_join_212, how="outer", on="word")

In [414]:
df_word_order_join_21

     word              twogram               twogram_pair_portuguese
0    aber    ja aber, aber ich                  aber logo, aber kurz
1     auf    auf mich, auf die                 auf linda, auf kredit
2     das     das ist, wie das                  das papier, das sofa
3    dass    dass wir, dass er                                   NaN
4     den      mit den, zu den                 den test, den meister
5     der     in der, der eine                 der meister, der chef
6     die    die eine, auf die                 die liste, die kamera
7      du     und du, du nicht                      du sack, du punk
8     ein      ein was, so ein                 ein genie, ein dollar
9    eine   der eine, die eine                  eine pause, eine bar
10     er      hat er, dass er                                   NaN
11    hat      hat er, hat sie                                   NaN
12    ich  ich nicht, aber ich                    chef ich, rose ich
13     in      in mich, in der                    in texas, in china
14    ist     was ist, das ist              schreiben ist, spion ist
15     ja       ja aber, ja so                 ja tschüss, teufel ja
16   mich    auf mich, in mich                           schick mich
17    mir      mit mir, zu mir                                   NaN
18    mit     mit mir, mit den               mit zucker, mit alkohol
19  nicht  ich nicht, du nicht             nicht nervös, nicht china
20    sie     und sie, hat sie             sie schreiben, sie teufel
21     so        ja so, so ein                so brillant, so nervös
22    und      und du, und sie                  und kaffee, und rose
23    was     was ist, ein was                   was klären, bar was
24    wie     wie das, wie wir                wie galant, wie schick
25    wir    wie wir, dass wir  wir protestieren, wir unterschreiben
26     zu       zu mir, zu den                 zu orange, zu liberal
27     es                  NaN                               test es

In [415]:
writer2 = pd.ExcelWriter(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Join_Result_Without_Frequency.xlsx", engine='xlsxwriter')

In [416]:
df_word_order_join_11.to_excel(writer2, sheet_name='Word_Part11', index=False)
df_word_order_join_12.to_excel(writer2, sheet_name='Word_Part12', index=False)
df_word_order_join_13.to_excel(writer2, sheet_name='Word_Part13', index=False)
df_word_order_join_14.to_excel(writer2, sheet_name='Word_Part14', index=False)
df_word_order_join_21.to_excel(writer2, sheet_name='Word_Part21', index=False)

In [417]:
writer2.save()

#### Copy Move And Delete

In [418]:
output_file = glob.glob(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_*.xlsx")
output_file

['German_Portuguese_28_Word_Step_7_Result1.xlsx',
 'German_Portuguese_28_Word_Step_7_Result2.xlsx',
 'German_Portuguese_28_Word_Step_7_Result3.xlsx',
 'German_Portuguese_28_Word_Step_7_Result4.xlsx',
 'German_Portuguese_28_Word_Step_28_Result1.xlsx',
 'German_Portuguese_28_Word_Result_With_Frequency.xlsx',
 'German_Portuguese_28_Word_Join_Result_Without_Frequency.xlsx']

In [419]:
for k in output_file:
    source = k # source directory
    destination = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/3-Adjust Word Level/{lang_folder.capitalize()} {lang_pair.capitalize()}"
    shutil.copy2(source, destination)

In [420]:
for i in output_file:
    try:
        os.remove(i)
    except:
        pass