### Adjust Word Level

In [66]:
#!pip install xlsxwriter

In [67]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np
import glob
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [68]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

#### While Loop

In [69]:
lang_folder = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language
lang_pair = "English"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

In [70]:
Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/3-Adjust Word Level/{lang_folder.capitalize()} {lang_pair.capitalize()}").mkdir(parents=True, exist_ok=True)  # create path

In [71]:
df_word_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word_all

                 word  frequency
0                 bir   18835735
1                  bu   11062659
2                  ne    8025880
3                  ve    7766036
4                için    5484109
...               ...        ...
1005970       karnaya          5
1005971   dörtlümüzün          5
1005972  karnavalınız          5
1005973      hurmanın          5
1005974           her          5

[1005975 rows x 2 columns]

In [72]:
#df_twogram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/Merge/Twogram_Merge.csv")
df_twogram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/N Gram And Sentence/Two_Gram_And_Sentence.csv")  # ext. sentence and ngram
df_twogram_sent.rename(columns={"two_gram":"twogram"}, inplace=True)  # ext. Not: Two_Gram_And_Sentence.csv convert to Two_Gram_And_Sentence_All.csv
df_twogram_sent

                      twogram  frequency
0             teşekkür ederim     244149
1                     öyle mi     209900
2                     ne oldu     195799
3                 aman tanrım     189521
4                özür dilerim     153784
...                       ...        ...
1036515         güzeldi tommy          3
1036516  durumu tuhaflaştırma          3
1036517         güzeldi canım          3
1036518        güzeldi daniel          3
1036519      güzelce vurdular          3

[1036520 rows x 2 columns]

In [73]:
#lang_pair_list = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_And_{lang_pair.lower().capitalize()}*_All.xlsx")
#lang_pair_list

In [74]:
#df_pair_all = pd.read_excel(f"{lang_pair_list[0]}")
df_pair_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_{lang_pair.lower().capitalize()}_Shared_Vocabulary.xlsx")
df_pair_all

     dict_entry_main   english_word
0             abaküs         abacus
1           abandone        abandon
2             abanoz          ebony
3             abdest       ablution
4         abdesthane  ablution room
...              ...            ...
2132          zodyak         zodiac
2133           zombi         zombie
2134         zooloji        zoology
2135        zoolojik     zoological
2136             zum           zoom

[2137 rows x 2 columns]

In [75]:
disable_list = ["sex","seks","seksi","sexy","sexe","seksüel","sexuell","gey","gay","lezbiyen","lesbienne","eşcinsel","mastürbasyon","masturbation","erotik","érotique", \
"bikini","penis","vagina","vajina","fetish","fetiş","fetishy","erotic","erotik","sexdom","kondom","condom","dildo","fetisj","hétérosexuel","féticher","fétiche","homosexuel"\
"ereksiyon","erectie","erection","érection","homoseksüel","prezervatif","préservatif","ass","fetisch","fetiche"]

In [76]:
words = df_pair_all["dict_entry_main"].values.tolist()

In [77]:
disable_set = set(disable_list)
words_set = set(words)

In [78]:
df_pair = pd.DataFrame(list(words_set.difference(disable_set)), columns=["dict_entry_main"])
df_pair

     dict_entry_main
0           dramatik
1         sanatoryum
2            volatil
3             detone
4           direktif
...              ...
2124       lokomotif
2125          kampüs
2126            apne
2127            asit
2128           raket

[2129 rows x 1 columns]

In [79]:
def remove_repetition(word_group):
    words = word_tokenize(word_group)
    word_unique = set(words)
    if len(word_unique) == 1:
        return "repetitive_word_group"
    else:
        return word_group

In [80]:
def word_count_result(df,column_list): # df is dataframe, bigger_than is integer
    list_all = []
    for i in df.loc[:,[x for x in column_list]].columns:
        var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list)
    df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"word_count"}, inplace=True)
    
    return  df_word_count

In [81]:
def word_count_bool(df, word_thresh_num, column_list): # df is a dataframe, bigger_than is an integer
    list_all = []
    for i in df.loc[:,[x for x in column_list]].columns:
        var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list)
    df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"count"}, inplace=True)
    
    return  df_word_count["count"][df_word_count.loc[:,"count"] > word_thresh_num].any()

#### Condition 1

In [82]:
# while loop code block word and twogram pair
word_thresh_num = 10
word_start = 0  # 0
word_end = 7  # 10
step_num = word_end  # 10
word_limit = 28  # 200
part_num = 1

twogram_num = word_thresh_num * step_num  # word_thresh_num*step_num minimum: for each word takes two twogram
twogram_pair_num = word_thresh_num * step_num  # word_thresh_num*step_num minimum: for each word takes two twogram pair

while word_end <= word_limit:
    df_word = df_word_all.iloc[word_start:word_end,]  # must be include word and frequency column
    df_word.reset_index(drop=True, inplace=True)

    # language pair twogram
    ngram_list = []
    for i in df_pair["dict_entry_main"]:
        for j in word_tokenize(i):
            for k in df_word["word"]:
                twogram_1_2 = f"{j} {k}"
                ngram_list.append(twogram_1_2)
                twogram_2_1 = f"{k} {j}"
                ngram_list.append(twogram_2_1)
    df_pair_ngram = pd.DataFrame(ngram_list)
    df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
    df_pair_ngram.iloc[:,0] = df_pair_ngram.iloc[:,0].apply(lambda x: remove_repetition(x))
    df_pair_ngram.drop_duplicates(inplace=True)
    df_pair_ngram.reset_index(drop=True, inplace=True)
    df_lang_pair_twogram = pd.merge(df_twogram_sent, df_pair_ngram, how="inner", on="twogram")
    df_lang_pair_twogram.rename(columns={"twogram":f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_lang_pair_twogram.drop_duplicates(inplace=True)
    #df_lang_pair_twogram = df_lang_pair_twogram.head(100)

    # output
    df_output_result = pd.concat([df_word, df_lang_pair_twogram], axis=1)

    df_lesson_result = pd.DataFrame(columns=["word","freq_word",f"twogram_pair_{lang_pair.lower()}",f"freq_twogram_pair_{lang_pair.lower()}"])
    a = 0

    for i in range(0,110):
        # Insert words and their count 
        try:
            word = df_output_result.iloc[i,0]  # word 
            freq_word = df_output_result.iloc[i,1]  # word freq
            df_lesson_result.loc[i,"word"] = word
            df_lesson_result.loc[i,"freq_word"] = freq_word
        except:
            pass
         
        # Insert twogram pair
        try:
            var2 = df_output_result.loc[a,f"twogram_pair_{lang_pair.lower()}"]
            freq_var2 = df_output_result.iloc[a,3]  # twogram_pair frequency
            if (len(df_lesson_result[f"twogram_pair_{lang_pair.lower()}"]) < twogram_pair_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                try:
                    while word_count_bool(df_lesson_result, word_thresh_num, [f"twogram_pair_{lang_pair.lower()}"]): # word count result                
                        a += 1
                        var2 = df_output_result.loc[a,f"twogram_pair_{lang_pair.lower()}"]
                        freq_var2 = df_output_result.iloc[a,3]  # twogram_pair frequency
                        df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                        df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = np.nan
                    df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = np.nan
            else:
                pass
        except:
            pass
        a += 1

    df_lesson_word_count = word_count_result(df_lesson_result, [f"twogram_pair_{lang_pair.lower()}"])
    df_lesson_result = pd.merge(df_lesson_result, df_lesson_word_count, how="left", on="word")
    df_lesson_result = df_lesson_result.drop_duplicates()
    df_lesson_result.to_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result{part_num}.xlsx", index=False)

    word_start += step_num
    word_end += step_num
    part_num += 1

#### Condition 2

In [83]:
part_result_file = glob.glob(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result*.xlsx")
part_result_file

['Turkish_English_28_Word_Step_7_Result1.xlsx',
 'Turkish_English_28_Word_Step_7_Result2.xlsx',
 'Turkish_English_28_Word_Step_7_Result3.xlsx',
 'Turkish_English_28_Word_Step_7_Result4.xlsx']

In [105]:
# Read previous part result
df_part_all = pd.DataFrame()
for i in part_result_file:
    df_var = pd.read_excel(f"{i}")
    df_part_all = pd.concat([df_part_all,df_var], axis=0)
df_part_twogram_pair = df_part_all.loc[:,[f"twogram_pair_{lang_pair.lower()}"]]
df_part_twogram_pair.reset_index(drop=True, inplace=True)
set_part_twogram_pair = set(df_part_twogram_pair[f"twogram_pair_{lang_pair.lower()}"])
# set_part_twogram_pair = set([])  # option for skip Condition 1

# while loop code block

word_thresh_num = 10
twogram_thresh_minus = 0  # for optional twogram thresh number 
twogram_pair_thresh_minus = 0  # for optinal twogram pair thresh number.

word_start = 0  # 0
word_end = 28  # 10
step_num = word_end  # 10
word_limit = 28  # 200
part_num = 1

twogram_num = word_thresh_num * step_num   # word_thresh_num*step_num minimum: for each word takes two twogram
twogram_pair_num = word_thresh_num * step_num  # word_thresh_num*step_num minimum: for each word takes two twogram pair

while word_end <= word_limit:
    df_word = df_word_all.iloc[word_start:word_end,]
    df_word.reset_index(drop=True, inplace=True)

    # language pair twogram
    ngram_list = []
    for i in df_pair["dict_entry_main"]:
        for j in word_tokenize(i):
            for k in df_word["word"]:
                twogram_1_2 = f"{j} {k}"
                ngram_list.append(twogram_1_2)
                twogram_2_1 = f"{k} {j}"
                ngram_list.append(twogram_2_1)
    df_pair_ngram = pd.DataFrame(ngram_list)
    df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
    df_pair_ngram.iloc[:,0] = df_pair_ngram.iloc[:,0].apply(lambda x: remove_repetition(x))
    df_pair_ngram.drop_duplicates(inplace=True)
    df_pair_ngram.reset_index(drop=True, inplace=True)
    df_lang_pair_twogram = pd.merge(df_twogram_sent, df_pair_ngram, how="inner", on="twogram")
    df_lang_pair_twogram.rename(columns={"twogram":f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_lang_pair_twogram.drop_duplicates(inplace=True)
    #df_lang_pair_twogram = df_lang_pair_twogram.head(100)
    set_lang_pair_twogram = set(df_lang_pair_twogram[f"twogram_pair_{lang_pair.lower()}"])
    df_set_result = pd.DataFrame(set_lang_pair_twogram.difference(set_part_twogram_pair))
    df_set_result.rename(columns={0:f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_set_pair_twogram = pd.merge(df_lang_pair_twogram, df_set_result, how="inner", on=f"twogram_pair_{lang_pair.lower()}")

    # twogram
    word_list = df_word["word"].values.tolist()
    data_kind = "twogram"
    twogram_list  = df_twogram_sent.iloc[:,0].values.tolist()
    
    resultlist2 = []

    manager = multiprocessing.Manager()
    resultlist2 = manager.list()
    
    def word_in_wordgroup2(list_var2):
        mergelist = []
        try:
            word = list_var2.split()
        except:
            pass
        var1 = range(len(word))
        for j in var1:
            if word[j] in word_list:
                mergelist.append(word[j])
                if len(mergelist) == len(word):
                        resultlist2.append(list_var2)
                            
    if __name__ == '__main__':
        # with Pool(16) as p:
        with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
            p.map(word_in_wordgroup2, twogram_list) # string_word liste 

    result_list2 = list(resultlist2)
    df_result2 = pd.DataFrame(result_list2)
    df_result2 = df_result2.rename(columns = {0: f"{data_kind}"})
    df_result2.iloc[:,0] = df_result2.iloc[:,0].apply(lambda x: remove_repetition(x)) # **
    df_merge2 = pd.merge(df_result2, df_twogram_sent, how="inner", on=f"{data_kind}")
    df_merge_result2 = df_merge2.sort_values(by="frequency", ascending=False)
    df_merge_result2.drop_duplicates(inplace=True)
    df_merge_result2.reset_index(drop=True, inplace=True)
    df_twogram_result = df_merge_result2
    #df_twogram_result = df_twogram_result.head(100)

    # output
    df_output_result = pd.concat([df_word, df_twogram_result, df_set_pair_twogram], axis=1)

    df_lesson_result = pd.DataFrame(columns=["word","freq_word","twogram","freq_twogram",f"twogram_pair_{lang_pair.lower()}",f"freq_twogram_pair_{lang_pair.lower()}"])
    a = 0
    b = 0

    for i in range(0,110):
        # Insert words and their count 
        try:
            word = df_output_result.iloc[i,0]  # word
            freq_word = df_output_result.iloc[i,1]  # word freq
            df_lesson_result.loc[i,"word"] = word
            df_lesson_result.loc[i,"freq_word"] = freq_word
        except:
            pass
         
        # Insert n grams
        try:
            var1 = df_output_result.iloc[a,2]
            freq_var1 = df_output_result.iloc[a,3]
            if (len(df_lesson_result["twogram"]) < twogram_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,"twogram"] = var1
                df_lesson_result.loc[i,"freq_twogram"] = freq_var1
                try:
                    while word_count_bool(df_lesson_result, (word_thresh_num - twogram_thresh_minus), ["twogram"]): # word count result                
                        a += 1
                        var1 = df_output_result.iloc[a,2]
                        freq_var1 = df_output_result.iloc[a,3]
                        df_lesson_result.loc[i,"twogram"] = var1
                        df_lesson_result.loc[i,"freq_twogram"] = freq_var1
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,"twogram"] = np.nan
                    df_lesson_result.loc[i,"freq_twogram"] = np.nan
            else:
                pass
        except:
            pass
        a += 1

        try:
            var2 = df_output_result.iloc[b,4]
            freq_var2 = df_output_result.iloc[b,5]
            if (len(df_lesson_result[f"twogram_pair_{lang_pair.lower()}"]) < twogram_pair_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                try:
                    while word_count_bool(df_lesson_result, (word_thresh_num - twogram_pair_thresh_minus), [f"twogram_pair_{lang_pair.lower()}"]): # word count result                
                        b += 1
                        var2 = df_output_result.iloc[b,4]
                        freq_var2 = df_output_result.iloc[b,5]
                        df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                        df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = np.nan
                    df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = np.nan
            else:
                pass
        except:
            pass
        b += 1

    df_lesson_word_count = word_count_result(df_lesson_result, ["twogram",f"twogram_pair_{lang_pair.lower()}"])
    df_lesson_result = pd.merge(df_lesson_result, df_lesson_word_count, how="left", on="word")
    df_lesson_result = df_lesson_result.drop_duplicates()
    df_lesson_result.to_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result{part_num}.xlsx", index=False)

    word_start += step_num
    word_end += step_num
    part_num += 1

#### Check Result

In [106]:
df_lesson_result

,word,freq_word,twogram,freq_twogram,twogram_pair_english,freq_twogram_pair_english,word_count
0,bir,18835735.0,ne var,62532.0,çok komik,13097,20.0
1,bu,11062659.0,ben de,59972.0,polis mi,2526,17.0
2,ne,8025880.0,değil mi,58386.0,komik değil,1785,20.0
3,ve,7766036.0,ben mi,33652.0,problem değil,1678,13.0
4,için,5484109.0,ne için,31857.0,evet patron,1476,7.0
...,...,...,...,...,...,...,...
105,NaN,NaN,yok daha,24.0,problem bu,110,NaN
106,NaN,NaN,yok da,21.0,okul için,107,NaN
107,NaN,NaN,bunu bana,19.0,kanser değil,106,NaN
108,NaN,NaN,bunu gibi,18.0,pardon ama,103,NaN
109,NaN,NaN,bana var,17.0,bu doktor,103,NaN

In [86]:
#word_count_result(df_lesson_result, ["twogram"])

In [87]:
#word_count_result(df_lesson_result, [f"twogram_pair_{lang_pair.lower()}"])

#### Read Output File And Multi Write

In [88]:
df_part_11 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result1.xlsx")
df_part_11

,word,freq_word,twogram_pair_english,freq_twogram_pair_english,word_count
0,bir,18835735.0,polis mi,2526,10.0
1,bu,11062659.0,bir numara,1272,10.0
2,ne,8025880.0,bu komik,994,10.0
3,ve,7766036.0,bebek mi,861,10.0
4,için,5484109.0,bu normal,828,9.0
...,...,...,...,...,...
64,NaN,NaN,ve şeker,44,NaN
65,NaN,NaN,üniversite için,38,NaN
66,NaN,NaN,ve telefon,37,NaN
67,NaN,NaN,taksi için,36,NaN
68,NaN,NaN,ve doktor,36,NaN

In [89]:
df_part_12 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result2.xlsx")
df_part_12

   word  freq_word twogram_pair_english  freq_twogram_pair_english  word_count
0   ben  4908913.0            çok komik                      13097        10.0
1    de  4880315.0          evet patron                       1476         9.0
2   çok  4852169.0            çok şeker                       1319        10.0
3   ama  4661966.0          evet kaptan                       1284        10.0
4   var  4389551.0          evet doktor                       1185        10.0
..  ...        ...                  ...                        ...         ...
64  NaN        NaN             polis de                         11         NaN
65  NaN        NaN             şeker de                          9         NaN
66  NaN        NaN       antibiyotik de                          9         NaN
67  NaN        NaN          şampiyon de                          7         NaN
68  NaN        NaN               şef de                          6         NaN

[69 rows x 5 columns]

In [90]:
df_part_13 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result3.xlsx")
df_part_13

,word,freq_word,twogram_pair_english,freq_twogram_pair_english,word_count
0,değil,3883885.0,komik değil,1785,10.0
1,da,3610161.0,problem değil,1678,10.0
2,şey,3602024.0,hayır doktor,481,10.0
3,hayır,3406992.0,hayır madam,361,10.0
4,daha,3317577.0,normal değil,239,10.0
...,...,...,...,...,...
58,NaN,NaN,ahtapot kadar,6,NaN
59,NaN,NaN,da bütçe,6,NaN
60,NaN,NaN,bira da,5,NaN
61,NaN,NaN,karavan kadar,4,NaN
62,NaN,NaN,avokado kadar,4,NaN

In [91]:
df_part_14 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result4.xlsx")
df_part_14

,word,freq_word,twogram_pair_english,freq_twogram_pair_english,word_count
0,bana,2659182.0,problem yok,746,10.0
1,yok,2491685.0,sinyal yok,742,10.0
2,onu,2486889.0,çek onu,465,3.0
3,seni,2454988.0,telefon yok,405,10.0
4,beni,2446696.0,polis yok,323,2.0
5,bunu,2445337.0,çek beni,316,2.0
6,gibi,2427957.0,panik yok,280,10.0
7,NaN,NaN,seni manyak,279,NaN
8,NaN,NaN,elektrik yok,242,NaN
9,NaN,NaN,bomba gibi,236,NaN
10,NaN,NaN,numara yok,220,NaN
11,NaN,NaN,bebek gibi,175,NaN
12,NaN,NaN,müzik yok,168,NaN
13,NaN,NaN,mesaj yok,158,NaN
14,NaN,NaN,alkol yok,134,NaN
15,NaN,NaN,seni çakal,89,NaN
16,NaN,NaN,kanser gibi,82,NaN
17,NaN,NaN,makine gibi,76,NaN
18,NaN,NaN,bunu çek,72,NaN
19,NaN,NaN,seni moron,71,NaN
20,NaN,NaN,elektrik gibi,68,NaN
21,NaN,NaN,şeker gibi,67,NaN
22,NaN,NaN,seni embesil,63,NaN
23,NaN,NaN,beni çek,58,NaN
24,NaN,NaN,film gibi,51,NaN
25,NaN,NaN,onu çek,48,NaN
26,NaN,NaN,müzik gibi,44,NaN
27,NaN,NaN,eroin gibi,36,NaN
28,NaN,NaN,kale gibi,34,NaN
29,NaN,NaN,as onu,32,NaN
30,NaN,NaN,seni amatör,30,NaN
31,NaN,NaN,telefon bana,28,NaN
32,NaN,NaN,seni psikopat,26,NaN
33,NaN,NaN,çek bunu,26,NaN
34,NaN,NaN,seni barbar,23,NaN
35,NaN,NaN,bebek seni,15,NaN
36,NaN,NaN,vay bana,12,NaN
37,NaN,NaN,embesil seni,12,NaN
38,NaN,NaN,bana kahve,10,NaN
39,NaN,NaN,seni bebek,9,NaN
40,NaN,NaN,bana bira,9,NaN
41,NaN,NaN,bravo bana,9,NaN
42,NaN,NaN,şeker bana,8,NaN
43,NaN,NaN,santral bana,7,NaN
44,NaN,NaN,direkt bana,7,NaN
45,NaN,NaN,bana spesiyal,6,NaN
46,NaN,NaN,bana espresso,6,NaN

In [92]:
df_part_21 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_28_Result1.xlsx")
df_part_21

,word,freq_word,twogram,freq_twogram,twogram_pair_english,freq_twogram_pair_english,word_count
0,bir,18835735.0,ne var,62532,kokain mi,317,20.0
1,bu,11062659.0,ben de,59972,müzik mi,316,20.0
2,ne,8025880.0,değil mi,58386,prenses mi,310,20.0
3,ve,7766036.0,ben mi,33652,test mi,277,12.0
4,için,5484109.0,ne için,31857,otel mi,262,4.0
...,...,...,...,...,...,...,...
105,NaN,NaN,yok daha,24,labirent gibi,31,NaN
106,NaN,NaN,yok da,21,mesaj var,31,NaN
107,NaN,NaN,bunu bana,19,ray ben,31,NaN
108,NaN,NaN,bunu gibi,18,robot değil,31,NaN
109,NaN,NaN,bana var,17,profesyonel gibi,30,NaN

In [93]:
writer = pd.ExcelWriter(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Result_With_Frequency.xlsx", engine='xlsxwriter')

In [94]:
df_part_11.to_excel(writer, sheet_name='Word_Part11', index=False)
df_part_12.to_excel(writer, sheet_name='Word_Part12', index=False)
df_part_13.to_excel(writer, sheet_name='Word_Part13', index=False)
df_part_14.to_excel(writer, sheet_name='Word_Part14', index=False)
df_part_21.to_excel(writer, sheet_name='Word_Part21', index=False)

In [95]:
writer.save()

#### Output File Word Order

In [96]:
df_part_11

,word,freq_word,twogram_pair_english,freq_twogram_pair_english,word_count
0,bir,18835735.0,polis mi,2526,10.0
1,bu,11062659.0,bir numara,1272,10.0
2,ne,8025880.0,bu komik,994,10.0
3,ve,7766036.0,bebek mi,861,10.0
4,için,5484109.0,bu normal,828,9.0
...,...,...,...,...,...
64,NaN,NaN,ve şeker,44,NaN
65,NaN,NaN,üniversite için,38,NaN
66,NaN,NaN,ve telefon,37,NaN
67,NaN,NaN,taksi için,36,NaN
68,NaN,NaN,ve doktor,36,NaN

In [97]:
def word_in_twogram(df, list_column, target_column):

    '''word_in_twogram(df, "word", "twogram"):
       df is dataframe, list_column and target_column are 
       dataframe column string name. list_column convert list
       values that are in target column.
    '''
    
    df_select = df[[f"{target_column}"]].dropna()
    df_word_result = pd.DataFrame()
    for i in df[f"{list_column}"].dropna():
        try:
            word_in_twogram = df_select[df_select[f"{target_column}"].str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)] 
        except:
            pass        
        word_in_twogram.insert(0,"word",i)
        df_word_result = pd.concat([df_word_result,word_in_twogram], axis=0)
    df_word_result.reset_index(drop=True, inplace=True)

    return df_word_result

In [98]:
word_in_twogram(df_part_11, "word", f"twogram_pair_{lang_pair.lower()}")

   word twogram_pair_english
0   bir           bir numara
1   bir            bir polis
2   bir           bir milyon
3   bir            bir bebek
4   bir             bir bira
..  ...                  ...
64    o            o fransız
65    o             o normal
66    o              o bebek
67    o             o kanser
68    o              lider o

[69 rows x 2 columns]

In [99]:
df_word_order_11 = word_in_twogram(df_part_11, "word", f"twogram_pair_{lang_pair.lower()}")
df_word_order_12 = word_in_twogram(df_part_12, "word", f"twogram_pair_{lang_pair.lower()}") 
df_word_order_13 = word_in_twogram(df_part_13, "word", f"twogram_pair_{lang_pair.lower()}") 
df_word_order_14 = word_in_twogram(df_part_14, "word", f"twogram_pair_{lang_pair.lower()}")
df_word_order_21 = word_in_twogram(df_part_21, "word", f"twogram") 
df_word_order_212 = word_in_twogram(df_part_21, "word", f"twogram_pair_{lang_pair.lower()}")

In [100]:
df_word_order_join_11 = df_word_order_11.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()   # df_word_order_11.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].transform(lambda x: ','.join(x))
df_word_order_join_12 = df_word_order_12.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_13 = df_word_order_13.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_14 = df_word_order_14.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_211 = df_word_order_21.groupby(["word"])["twogram"].apply(", ".join).reset_index()
df_word_order_join_212 = df_word_order_212.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_21 = pd.merge(df_word_order_join_211, df_word_order_join_212, how="outer", on="word")

In [101]:
df_word_order_join_21

,word,twogram,twogram_pair_english
0,ama,"evet ama, ama ben, ama ne, ama bu, ama sen, ha...",NaN
1,bana,"bana mı, bana da, bana değil, ve bana, bana bi...",NaN
2,ben,"ben de, ben mi, hayır ben, ama ben, ben değil,...","ben tank, doktor ben, şef ben, general ben, ra..."
3,beni,"beni mi, beni de, beni değil, ve beni, beni çok",NaN
4,bir,"bir daha, bu bir, bir şey, bir de, bir mi, ben...","bir vampir, bir sürpriz, bir düzine, bir kahve..."
5,bu,"bu ne, bu o, bu kadar, ne bu, ama bu, bu da, b...","bu bebek, bu tren, bu gaz, polis bu, bu fantas..."
6,bunu,"bunu da, ve bunu, bunu için, bunu bana, bunu gibi",NaN
7,da,"bu da, bana da, o da, bunu da, onu da, daha da...",NaN
8,daha,"daha değil, bir daha, daha çok, daha var, daha...",NaN
9,de,"ben de, sen de, seni de, bir de, evet de, beni...",NaN
10,değil,"değil mi, hayır değil, daha değil, ben değil, ...","doktor değil, bebek değil, tümör değil, aktif ..."
11,evet,"evet var, evet ama, evet o, evet mi, evet ben,...","alo evet, evet süper, evet profesör, evet komi..."
12,gibi,"ne gibi, şey gibi, gibi mi, yok gibi, var gibi...","labirent gibi, profesyonel gibi"
13,hayır,"hayır değil, hayır mı, hayır yok, hayır ben, y...","ray hayır, hayır prenses, hayır birader, hayır..."
14,için,"ne için, şey için, bunu için",dans için
15,kadar,"ne kadar, bu kadar, o kadar",NaN
16,mi,"değil mi, ben mi, sen mi, evet mi, beni mi, bi...","kokain mi, müzik mi, prenses mi, test mi, otel..."
17,mı,"hayır mı, bana mı, var mı, daha mı","fotoğraf mı, pasta mı, çikolata mı, şampanya m..."
18,ne,"ne var, ne için, bu ne, ne kadar, ne gibi, o n...","numara ne, skor ne, mesaj ne, ne trajedi, ne m..."
19,o,"bu o, o ne, o kadar, evet o, ne o, o değil, am...","doktor o, o profesyonel, o psikopat, o maske"
20,onu,"onu da, ve onu, onu bana",NaN
21,sen,"sen de, sen mi, ve sen, evet sen, sen ne, sen ...",NaN
22,seni,"seni de, seni mi, ve seni",NaN
23,var,"ne var, evet var, var mı, hayır var, çok var, ...","maç var, sinyal var, elektrik var, mesaj var"
24,ve,"ve sen, ve ben, ve bu, ve bunu, ve bir, ve de,...","ve bira, ve nakavt"
25,yok,"hayır yok, yok hayır, ama yok, daha yok, çok y...","bando yok, alarm yok, fotoğraf yok, plan yok, ..."
26,çok,"bu çok, çok değil, daha çok, sen çok, çok şey,...","çok tipik, çok net, çok dramatik, çok popüler,..."
27,şey,"şey ben, şey evet, evet şey, ben şey, bir şey,...",NaN

In [102]:
writer2 = pd.ExcelWriter(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Join_Result_Without_Frequency.xlsx", engine='xlsxwriter')

In [103]:
df_word_order_join_11.to_excel(writer2, sheet_name='Word_Part11', index=False)
df_word_order_join_12.to_excel(writer2, sheet_name='Word_Part12', index=False)
df_word_order_join_13.to_excel(writer2, sheet_name='Word_Part13', index=False)
df_word_order_join_14.to_excel(writer2, sheet_name='Word_Part14', index=False)
df_word_order_join_21.to_excel(writer2, sheet_name='Word_Part21', index=False)

In [104]:
writer2.save()

#### Copy Move And Delete

In [40]:
output_file = glob.glob(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_{word_limit}_Word_*.xlsx")
output_file

['Turkish_English_28_Word_Step_7_Result1.xlsx',
 'Turkish_English_28_Word_Step_7_Result2.xlsx',
 'Turkish_English_28_Word_Step_7_Result3.xlsx',
 'Turkish_English_28_Word_Step_7_Result4.xlsx',
 'Turkish_English_28_Word_Step_28_Result1.xlsx',
 'Turkish_English_28_Word_Result_With_Frequency.xlsx',
 'Turkish_English_28_Word_Join_Result_Without_Frequency.xlsx']

In [41]:
for k in output_file:
    source = k # source directory
    destination = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/3-Adjust Word Level/{lang_folder.capitalize()} {lang_pair.capitalize()}"
    shutil.copy2(source, destination)

In [42]:
for i in output_file:
    try:
        os.remove(i)
    except:
        pass