### Shared Word

In [175]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np
import glob
import nltk
from nltk import word_tokenize
from functools import reduce
from pathlib import Path
import shutil

In [176]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

In [177]:
lang_folder = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language
lang_pair = "Italian"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

In [178]:
Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/4-Shared Word/{lang_folder.capitalize()} {lang_pair.capitalize()}").mkdir(parents=True, exist_ok=True)

In [179]:
def remove_repetition(word_group):
    words = word_tokenize(word_group)
    word_unique = set(words)
    if len(word_unique) == 1:
        return "repetitive_word_group"
    else:
        return word_group

In [180]:
lang_pair_list = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_And_{lang_pair.lower().capitalize()}*_All.xlsx")
lang_pair_list

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Italian (ita)_Etymologeek_Result_All.xlsx']

In [181]:
df_pair = pd.read_excel(f"{lang_pair_list[0]}")
df_pair

    dict_entry_main italian_word
0           parabol     parabola
1               çek    controllo
2           kontrol    controllo
3         sıfırıncı         zero
4             bilet    biglietto
..              ...          ...
308           tavla       tavola
309           torba       tiorba
310         tülbent     turbante
311        yeniçeri   gianizzero
312        çikolata   cioccolata

[313 rows x 2 columns]

In [182]:
disable_list = ["sex","seks","seksi","sexy","sexe","seksüel","sexuell","gey","gay","lezbiyen","lesbienne","eşcinsel","mastürbasyon","masturbation","erotik","érotique","bikini","penis"]

In [183]:
words = df_pair["dict_entry_main"].values.tolist()

In [184]:
disable_set = set(disable_list)
words_set = set(words)

In [185]:
word_list = list(words_set.difference(disable_set))

In [186]:
# 2 way  Not: 1 way is long and in Shared Word ReDe part 
data_kind_list = ["Two", "Three", "Four", "Five", "Sentence"]
for i in data_kind_list:
    sent_ngram_file = f"{i}" # Two, Three, Four, Five, Sentence
 
    if sent_ngram_file.lower() != "sentence":
        data_kind = f"{sent_ngram_file}gram"  # Twogram, Threegram, Fourgram, Fivegram
        folder_path = "N Gram"
    else:
        data_kind = "sentence"
        folder_path = "Sentence"

    df = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/{folder_path.capitalize()}/Merge/{data_kind.capitalize()}_Merge.csv")
    d_list  = df.iloc[:,0].values.tolist()

    resultlist = []
    manager = multiprocessing.Manager()
    resultlist = manager.list()
    
    def word_in_wordgroup(d_list):
        mergelist = []
        try:
            word = d_list.split()
        except:
            word = []
            #pass  disabled for non split value
        var1 = range(len(word))
        for j in var1:
            if word[j] in word_list:
                mergelist.append(word[j])
                if len(mergelist) == len(word):
                        resultlist.append(d_list)
                            
    if __name__ == '__main__':
        # with Pool(16) as p:
        with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
            p.map(word_in_wordgroup, d_list) # string_word liste

    result_list = list(resultlist)
    df_result = pd.DataFrame(result_list, columns=[0])  # add columns parameter for empty result
    df_result = df_result.rename(columns = {0: f"{data_kind.lower()}"})
    df_merge = pd.merge(df_result, df, how="left", on=f"{data_kind.lower()}")
    df_merge_result = df_merge.sort_values(by="frequency", ascending=False)
    df_merge_result.drop_duplicates(inplace=True)
    df_merge_result[f"{data_kind.lower()}"] = df_merge_result[f"{data_kind.lower()}"].apply(lambda x: remove_repetition(x))  # added remove_repetition 
    df_merge_result = df_merge_result[df_merge_result[f"{data_kind.lower()}"] != "repetitive_word_group"]  # remove_repetition part
    df_merge_result.reset_index(drop=True, inplace=True)

    df_merge_result.to_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_{data_kind.capitalize()}.xlsx", index=False)

#### Concat Result

In [187]:
df_word = pd.DataFrame(word_list, columns=["word"])
df_word

           word
0    çikolatalı
1       kadavra
2       brokoli
3       kolonya
4          şato
..          ...
298    abandone
299      antika
300      durian
301    izbandut
302    kapuçino

[303 rows x 1 columns]

In [188]:
df_shared_twogram = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Twogram.xlsx")
df_shared_twogram = df_shared_twogram.loc[:,["twogram","frequency"]]
df_shared_twogram.rename(columns={"frequency":"freq_twogram"}, inplace=True)
df_shared_twogram

             twogram  freq_twogram
0       video kamera           128
1     trafik kontrol           104
2          kasa bira            83
3      kremalı pasta            81
4     kaptan kanguru            51
..               ...           ...
158    bomba şırınga             6
159   kontrol kamera             6
160      kart antika             6
161  efendi i̇ngiliz             6
162    telefon lamba             6

[163 rows x 2 columns]

In [189]:
df_shared_threegram = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Threegram.xlsx")
df_shared_threegram = df_shared_threegram.loc[:,["threegram","frequency"]]
df_shared_threegram.rename(columns={"frequency":"freq_threegram"}, inplace=True)
df_shared_threegram

Empty DataFrame
Columns: [threegram, freq_threegram]
Index: []

In [190]:
df_shared_fourgram = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Fourgram.xlsx")
df_shared_fourgram = df_shared_fourgram.loc[:,["fourgram","frequency"]]
df_shared_fourgram.rename(columns={"frequency":"freq_fourgram"}, inplace=True)
df_shared_fourgram

Empty DataFrame
Columns: [fourgram, freq_fourgram]
Index: []

In [191]:
df_shared_fivegram = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Fivegram.xlsx")
df_shared_fivegram = df_shared_fivegram.loc[:,["fivegram","frequency"]]
df_shared_fivegram.rename(columns={"frequency":"freq_fivegram"}, inplace=True)
df_shared_fivegram

Empty DataFrame
Columns: [fivegram, freq_fivegram]
Index: []

In [192]:
df_shared_sentence = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Sentence.xlsx")
df_shared_sentence = df_shared_sentence.loc[:,["sentence","frequency"]]
df_shared_sentence.rename(columns={"frequency":"freq_sentence"}, inplace=True)
df_shared_sentence

                sentence  freq_sentence
0       çikolatalı pasta             78
1          müzik maestro             45
2          bilet kontrol             41
3           kaptan kanca             34
4     çikolatalı sandviç             32
5               kart çek             29
6           video kamera             28
7          kremalı pasta             27
8           bravo kaptan             18
9          kaptan korsan             18
10      çikolatalı krema             16
11         kopya kontrol             14
12         kontrol dümen             14
13        pembe şampanya             14
14    çikolatalı bisküvi             12
15           krema şeker             11
16             mesaj çek             11
17           müzik gitar             10
18         bravo maestro             10
19  politika sinema moda             10
20          kaptan salam             10
21         kahve sandviç              9
22      kremalı çikolata              9
23             pembe gül              9
24        pembe limonata              8
25         bravo kontrol              8
26        kamera kontrol              8
27         senaryo müzik              8
28      çince i̇ngilizce              7
29         tuvalet banyo              7
30         pembe telefon              7
31         korsan kaptan              7
32           kahve şeker              7
33      makarna spagetti              7

In [193]:
df_shared_all = pd.concat([df_word, df_shared_twogram, df_shared_threegram, df_shared_fourgram, df_shared_fivegram, df_shared_sentence], axis=1)
df_shared_all

,word,twogram,freq_twogram,threegram,freq_threegram,fourgram,freq_fourgram,fivegram,freq_fivegram,sentence,freq_sentence
0,çikolatalı,video kamera,128.0,NaN,NaN,NaN,NaN,NaN,NaN,çikolatalı pasta,78.0
1,kadavra,trafik kontrol,104.0,NaN,NaN,NaN,NaN,NaN,NaN,müzik maestro,45.0
2,brokoli,kasa bira,83.0,NaN,NaN,NaN,NaN,NaN,NaN,bilet kontrol,41.0
3,kolonya,kremalı pasta,81.0,NaN,NaN,NaN,NaN,NaN,NaN,kaptan kanca,34.0
4,şato,kaptan kanguru,51.0,NaN,NaN,NaN,NaN,NaN,NaN,çikolatalı sandviç,32.0
...,...,...,...,...,...,...,...,...,...,...,...
298,abandone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,antika,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,durian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,izbandut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,kapuçino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [194]:
df_shared_all.to_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Result_With_Frequency.xlsx", index=False)

In [195]:
def word_in_twogram(df, list_column, target_column):

    '''word_in_twogram(df, "word", "twogram"):
       df is dataframe, list_column and target_column are 
       dataframe column string name. list_column convert list
       values that are in target column.
    '''
    
    df_select = df[[f"{target_column}"]].dropna()
    df_word_result = pd.DataFrame()
    for i in df[f"{list_column}"].dropna():
        try:
            word_in_twogram = df_select[df_select[f"{target_column}"].str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)] 
        except:
            pass        
        word_in_twogram.insert(0,"word",i)
        df_word_result = pd.concat([df_word_result,word_in_twogram], axis=0)
    df_word_result.reset_index(drop=True, inplace=True)

    return df_word_result

In [196]:
df_word_order_twogram = word_in_twogram(df_shared_all, "word", "twogram")
df_word_order_threegram = word_in_twogram(df_shared_all, "word", "threegram") 
df_word_order_fourgram = word_in_twogram(df_shared_all, "word", "fourgram") 
df_word_order_fivegram = word_in_twogram(df_shared_all, "word", "fivegram")
df_word_order_sentence = word_in_twogram(df_shared_all, "word", "sentence")

In [197]:
df_word_order_join_twogram = df_word_order_twogram.groupby(["word"])["twogram"].apply(", ".join).reset_index()   # df_word_order_11.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].transform(lambda x: ','.join(x))
df_word_order_join_threegram = df_word_order_threegram.groupby(["word"])["threegram"].apply(", ".join).reset_index()
df_word_order_join_fourgram = df_word_order_fourgram.groupby(["word"])["fourgram"].apply(", ".join).reset_index()
df_word_order_join_fivegram = df_word_order_fivegram.groupby(["word"])["fivegram"].apply(", ".join).reset_index()
df_word_order_join_sentence = df_word_order_sentence.groupby(["word"])["sentence"].apply(", ".join).reset_index()

In [198]:
dfs = [df_word_order_join_twogram,df_word_order_join_threegram,df_word_order_join_fourgram,df_word_order_join_fivegram,df_word_order_join_sentence]

In [199]:
df_word_order_join_all = reduce(lambda  left,right: pd.merge(left,right, on=['word'], how='outer'), dfs)  # left,right make left to right merge
#df_word_order_join_all = reduce(lambda  right,left: pd.merge(left,right, on=['word'], how='outer'), dfs)  # right,left make right to left merge
df_word_order_join_all

,word,twogram,threegram,fourgram,fivegram,sentence
0,ajan,"şef ajan, i̇ngiliz ajan, ajan gül, çakal ajan",NaN,NaN,NaN,NaN
1,alkol,"alkol sigara, sigara alkol",NaN,NaN,NaN,NaN
2,ananas,krema ananas,NaN,NaN,NaN,NaN
3,antika,kart antika,NaN,NaN,NaN,NaN
4,apartman,apartman karantina,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
122,şırınga,bomba şırınga,NaN,NaN,NaN,NaN
123,gitar,NaN,NaN,NaN,NaN,müzik gitar
124,makarna,NaN,NaN,NaN,NaN,makarna spagetti
125,senaryo,NaN,NaN,NaN,NaN,senaryo müzik
126,çince,NaN,NaN,NaN,NaN,çince i̇ngilizce

In [200]:
df_word_order_join_all.to_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Join_Result_Without_Frequency.xlsx", index=False)

#### Copy Move And Delete

In [201]:
output_file = glob.glob(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared*.xlsx")
output_file

['Turkish_Italian_Shared_Twogram.xlsx',
 'Turkish_Italian_Shared_Threegram.xlsx',
 'Turkish_Italian_Shared_Fourgram.xlsx',
 'Turkish_Italian_Shared_Fivegram.xlsx',
 'Turkish_Italian_Shared_Sentence.xlsx',
 'Turkish_Italian_Shared_Result_With_Frequency.xlsx',
 'Turkish_Italian_Shared_Join_Result_Without_Frequency.xlsx']

In [202]:
for k in output_file:
    source = k # source directory
    destination = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/4-Shared Word/{lang_folder.capitalize()} {lang_pair.capitalize()}"
    shutil.copy2(source, destination)

In [203]:
for i in output_file:
    try:
        os.remove(i)
    except:
        pass