### Shared Word

In [1]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np
import glob
import nltk
from nltk import word_tokenize
from functools import reduce
from pathlib import Path
import shutil

In [2]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

In [3]:
lang_folder = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language
lang_pair = "English"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language
word_start = 0  # 0
word_end = 28  # 28

In [4]:
Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/4-Shared Word/{lang_folder.capitalize()} {lang_pair.capitalize()}").mkdir(parents=True, exist_ok=True)

In [5]:
def remove_repetition(word_group):
    words = word_tokenize(word_group)
    word_unique = set(words)
    if len(word_unique) == 1:
        return "repetitive_word_group"
    else:
        return word_group

In [6]:
df_word_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word_all

                  word  frequency
0                  bir   18835735
1                   bu   11062659
2                   ne    8025880
3                   ve    7766036
4                 için    5484109
...                ...        ...
164294    buldugumuzda         43
164295  boşandıklarını         42
164296    endişenlenme         42
164297    uzaylıymışım         42
164298      söylememis         38

[164299 rows x 2 columns]

In [7]:
df_word = df_word_all.iloc[word_start:word_end,]
df_word

     word  frequency
0     bir   18835735
1      bu   11062659
2      ne    8025880
3      ve    7766036
4    için    5484109
5      mi    5362714
6     ben    4908913
7      de    4880315
8     çok    4852169
9     ama    4661966
10    var    4389551
11   evet    4324786
12     mı    4001316
13  değil    3883885
14     da    3610161
15    şey    3602024
16  hayır    3406992
17   daha    3317577
18    sen    3283654
19  kadar    2697900
20   bana    2659182
21    yok    2491685
22    onu    2486889
23   seni    2454988
24   beni    2446696
25   bunu    2445337
26   gibi    2427957
27    iyi    2383224

In [8]:
#lang_pair_list = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_And_{lang_pair.lower().capitalize()}*_All.xlsx")
#lang_pair_list

In [9]:
#df_pair = pd.read_excel(f"{lang_pair_list[0]}")
df_pair = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_{lang_pair.lower().capitalize()}_Shared_Vocabulary.xlsx")
df_pair

     dict_entry_main   english_word
0             abaküs         abacus
1           abandone        abandon
2             abanoz          ebony
3             abdest       ablution
4         abdesthane  ablution room
...              ...            ...
2132          zodyak         zodiac
2133           zombi         zombie
2134         zooloji        zoology
2135        zoolojik     zoological
2136             zum           zoom

[2137 rows x 2 columns]

In [10]:
disable_list = ["sex","seks","seksi","sexy","sexe","seksüel","sexuell","gey","gay","lezbiyen","lesbienne","eşcinsel","mastürbasyon","masturbation","erotik","érotique", \
"bikini","penis","vagina","vajina","fetish","fetiş","fetishy","erotic","erotik","sexdom","kondom","condom","dildo","fetisj","hétérosexuel","féticher","fétiche","homosexuel"\
"ereksiyon","erectie","erection","érection","homoseksüel","prezervatif","préservatif","ass","fetisch","fetiche"]

In [11]:
word_select = df_word["word"].values.tolist()

In [12]:
words = df_pair["dict_entry_main"].values.tolist()

In [13]:
word_select_set = set(word_select)
disable_word_set = set(disable_list)
words_set = set(words)

In [14]:
word_list = list(word_select_set.union(words_set.difference(disable_word_set)))

In [15]:
# 2 way  Not: 1 way is long and in Shared Word ReDe part 
data_kind_list = ["Two", "Three", "Four", "Five", "Sentence"]
for i in data_kind_list:
    sent_ngram_file = f"{i}" # Two, Three, Four, Five, Sentence
 
    if sent_ngram_file.lower() != "sentence":
        data_kind = f"{sent_ngram_file}gram"  # Twogram, Threegram, Fourgram, Fivegram
        folder_path = "N Gram"
    else:
        data_kind = "sentence"
        folder_path = "Sentence"

    df = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/{folder_path.capitalize()}/Merge/{data_kind.capitalize()}_Merge.csv")
    d_list  = df.iloc[:,0].values.tolist()

    resultlist = []
    manager = multiprocessing.Manager()
    resultlist = manager.list()
    
    def word_in_wordgroup(d_list):
        mergelist = []
        try:
            word = d_list.split()
        except:
            word = []
            #pass  disabled for non split value
        var1 = range(len(word))
        for j in var1:
            if word[j] in word_list:
                mergelist.append(word[j])
                if len(mergelist) == len(word):
                        resultlist.append(d_list)
                            
    if __name__ == '__main__':
        # with Pool(16) as p:
        with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
            p.map(word_in_wordgroup, d_list) # string_word liste

    result_list = list(resultlist)
    df_result = pd.DataFrame(result_list, columns=[0])  # add columns parameter for empty result
    df_result = df_result.rename(columns = {0: f"{data_kind.lower()}"})
    df_merge = pd.merge(df_result, df, how="left", on=f"{data_kind.lower()}")
    df_merge_result = df_merge.sort_values(by="frequency", ascending=False)
    df_merge_result.drop_duplicates(inplace=True)
    df_merge_result[f"{data_kind.lower()}"] = df_merge_result[f"{data_kind.lower()}"].apply(lambda x: remove_repetition(x))  # added remove_repetition 
    df_merge_result = df_merge_result[df_merge_result[f"{data_kind.lower()}"] != "repetitive_word_group"]  # remove_repetition part
    df_merge_result.reset_index(drop=True, inplace=True)

    df_merge_result.to_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_{data_kind.capitalize()}.xlsx", index=False)

#### Concat Result

In [16]:
df_word = pd.DataFrame(word_list, columns=["word"])
df_word

           word
0      şampanya
1       otostop
2     modernizm
3         arena
4        anonim
...         ...
2153  oditoryum
2154      tünel
2155   zoolojik
2156   wireless
2157    Pasifik

[2158 rows x 1 columns]

In [17]:
df_shared_twogram = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Twogram.xlsx")
df_shared_twogram = df_shared_twogram.loc[:,["twogram","frequency"]]
df_shared_twogram.rename(columns={"frequency":"freq_twogram"}, inplace=True)
df_shared_twogram

            twogram  freq_twogram
0           bir şey        859944
1          değil mi        585879
2            ben de        377765
3            var mı        281902
4          ne kadar        237876
...             ...           ...
17141  ben kampanya             6
17142    kopya için             6
17143       şey şok             6
17144     şey şifre             6
17145     teknik de             6

[17146 rows x 2 columns]

In [18]:
df_shared_threegram = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Threegram.xlsx")
df_shared_threegram = df_shared_threegram.loc[:,["threegram","frequency"]]
df_shared_threegram.rename(columns={"frequency":"freq_threegram"}, inplace=True)
df_shared_threegram

           threegram  freq_threegram
0        bir şey yok          113165
1        bir şey var          110455
2           bu da ne           89463
3      bir şey değil           68498
4         bir şey mi           64933
...              ...             ...
12706    bir de grup              10
12707   bir de donut              10
12708      bir de mi              10
12709  bir de master              10
12710  estetik ve bu              10

[12711 rows x 2 columns]

In [19]:
df_shared_fourgram = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Fourgram.xlsx")
df_shared_fourgram = df_shared_fourgram.loc[:,["fourgram","frequency"]]
df_shared_fourgram.rename(columns={"frequency":"freq_fourgram"}, inplace=True)
df_shared_fourgram

                     fourgram  freq_fourgram
0              bir şey var mı          41773
1            bir şey daha var          12185
2              bir şey mi var          11834
3               ne var ne yok           9276
4              bu iyi bir şey           5753
...                       ...            ...
5269      bir anomali gibi mi              7
5270  sismik bir anomali gibi              7
5271    santral ben bir polis              7
5272          ne avans ne bir              7
5273        ben de parti için              7

[5274 rows x 2 columns]

In [20]:
df_shared_fivegram = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Fivegram.xlsx")
df_shared_fivegram = df_shared_fivegram.loc[:,["fivegram","frequency"]]
df_shared_fivegram.rename(columns={"frequency":"freq_fivegram"}, inplace=True)
df_shared_fivegram

                   fivegram  freq_fivegram
0      bu iyi bir şey değil           1423
1         bu iyi bir şey mi           1357
2      iyi bir şey değil mi           1057
3      komik bir şey mi var            901
4      bir şey yok değil mi            893
..                      ...            ...
720    bir şey için beni bu             10
721        ben ve bu da sen             10
722     ama bu çok daha iyi             10
723  iyi bir plan bebek iyi             10
724   ve bir doktor ve daha             10

[725 rows x 2 columns]

In [21]:
df_shared_sentence = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Sentence.xlsx")
df_shared_sentence = df_shared_sentence.loc[:,["sentence","frequency"]]
df_shared_sentence.rename(columns={"frequency":"freq_sentence"}, inplace=True)
df_shared_sentence

                  sentence  freq_sentence
0                   ne var          62532
1                   ben de          59972
2                 değil mi          58386
3                 bu da ne          50098
4                   ben mi          33652
...                    ...            ...
5973           kanser için              6
5974        kanser için mi              6
5975       hayır bir virüs              6
5976               mart ne              6
5977  hayır daha değil ama              6

[5978 rows x 2 columns]

In [22]:
df_shared_all = pd.concat([df_word, df_shared_twogram, df_shared_threegram, df_shared_fourgram, df_shared_fivegram, df_shared_sentence], axis=1)
df_shared_all

,word,twogram,freq_twogram,threegram,freq_threegram,fourgram,freq_fourgram,fivegram,freq_fivegram,sentence,freq_sentence
0,şampanya,bir şey,859944,bir şey yok,113165.0,bir şey var mı,41773.0,bu iyi bir şey değil,1423.0,ne var,62532.0
1,otostop,değil mi,585879,bir şey var,110455.0,bir şey daha var,12185.0,bu iyi bir şey mi,1357.0,ben de,59972.0
2,modernizm,ben de,377765,bu da ne,89463.0,bir şey mi var,11834.0,iyi bir şey değil mi,1057.0,değil mi,58386.0
3,arena,var mı,281902,bir şey değil,68498.0,ne var ne yok,9276.0,komik bir şey mi var,901.0,bu da ne,50098.0
4,anonim,ne kadar,237876,bir şey mi,64933.0,bu iyi bir şey,5753.0,bir şey yok değil mi,893.0,ben mi,33652.0
...,...,...,...,...,...,...,...,...,...,...,...
17141,NaN,ben kampanya,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17142,NaN,kopya için,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17143,NaN,şey şok,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17144,NaN,şey şifre,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17145,NaN,teknik de,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df_shared_all.to_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Result_With_Frequency.xlsx", index=False)

In [24]:
def word_in_twogram(df, list_column, target_column):

    '''word_in_twogram(df, "word", "twogram"):
       df is dataframe, list_column and target_column are 
       dataframe column string name. list_column convert list
       values that are in target column.
    '''
    
    df_select = df[[f"{target_column}"]].dropna()
    df_word_result = pd.DataFrame()
    for i in df[f"{list_column}"].dropna():
        try:
            word_in_twogram = df_select[df_select[f"{target_column}"].str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)] 
        except:
            pass        
        word_in_twogram.insert(0,"word",i)
        df_word_result = pd.concat([df_word_result,word_in_twogram], axis=0)
    df_word_result.reset_index(drop=True, inplace=True)

    return df_word_result

In [25]:
df_word_order_twogram = word_in_twogram(df_shared_all, "word", "twogram")
df_word_order_threegram = word_in_twogram(df_shared_all, "word", "threegram") 
df_word_order_fourgram = word_in_twogram(df_shared_all, "word", "fourgram") 
df_word_order_fivegram = word_in_twogram(df_shared_all, "word", "fivegram")
df_word_order_sentence = word_in_twogram(df_shared_all, "word", "sentence")

In [26]:
df_word_order_join_twogram = df_word_order_twogram.groupby(["word"])["twogram"].apply(", ".join).reset_index()   # df_word_order_11.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].transform(lambda x: ','.join(x))
df_word_order_join_threegram = df_word_order_threegram.groupby(["word"])["threegram"].apply(", ".join).reset_index()
df_word_order_join_fourgram = df_word_order_fourgram.groupby(["word"])["fourgram"].apply(", ".join).reset_index()
df_word_order_join_fivegram = df_word_order_fivegram.groupby(["word"])["fivegram"].apply(", ".join).reset_index()
df_word_order_join_sentence = df_word_order_sentence.groupby(["word"])["sentence"].apply(", ".join).reset_index()

In [27]:
dfs = [df_word_order_join_twogram,df_word_order_join_threegram,df_word_order_join_fourgram,df_word_order_join_fivegram,df_word_order_join_sentence]

In [28]:
df_word_order_join_all = reduce(lambda  left,right: pd.merge(left,right, on=['word'], how='outer'), dfs)  # left,right make left to right merge
#df_word_order_join_all = reduce(lambda  right,left: pd.merge(left,right, on=['word'], how='outer'), dfs)  # right,left make right to left merge
df_word_order_join_all

,word,twogram,threegram,fourgram,fivegram,sentence
0,abaküs,bir abaküs,NaN,NaN,NaN,bu bir abaküs
1,abanoz,"abanoz bunu, için abanoz, bu abanoz, stres abanoz",NaN,NaN,NaN,doktor bu abanoz
2,abiye,"abiye bir, abiye çok, abiye beni",NaN,NaN,NaN,NaN
3,abluka,bir abluka,NaN,NaN,NaN,"bu bir abluka, abluka mı"
4,abrakadabra,"abrakadabra de, abrakadabra ve",NaN,NaN,NaN,ve abrakadabra
...,...,...,...,...,...,...
1660,pik,NaN,NaN,NaN,NaN,bir pik
1661,rulet,NaN,NaN,NaN,NaN,"rulet mi, rulet gibi"
1662,tekniker,NaN,NaN,NaN,NaN,bir tekniker
1663,tork,NaN,NaN,NaN,NaN,tork var
1664,varyete,NaN,NaN,NaN,NaN,evet varyete

In [29]:
df_word_order_join_all.to_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Join_Result_Without_Frequency.xlsx", index=False)

#### Copy Move And Delete

In [30]:
output_file = glob.glob(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared*.xlsx")
output_file

['Turkish_English_Shared_Twogram.xlsx',
 'Turkish_English_Shared_Threegram.xlsx',
 'Turkish_English_Shared_Fourgram.xlsx',
 'Turkish_English_Shared_Fivegram.xlsx',
 'Turkish_English_Shared_Sentence.xlsx',
 'Turkish_English_Shared_Result_With_Frequency.xlsx',
 'Turkish_English_Shared_Join_Result_Without_Frequency.xlsx']

In [31]:
for k in output_file:
    source = k # source directory
    destination = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/4-Shared Word/{lang_folder.capitalize()} {lang_pair.capitalize()}"
    shutil.copy2(source, destination)

In [32]:
for i in output_file:
    try:
        os.remove(i)
    except:
        pass