### Language Pair N Gram

In [1]:
import pandas as pd
import numpy as np
import os
import nltk
from nltk import word_tokenize
#import multiprocessing
##import multiprocessing as mp
#from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import glob

In [2]:
lang_folder = "Turkish"
lang_pair = "Arabic"
ngram_type = "Twogram"

In [3]:
word_num = 300
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
#df_word = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Result/Word/Merge/Word_Merge2.csv")
df_word = df_word.head(word_num)
df_word

       word  frequency
0       bir   18835735
1    fikret   12101580
2        bu   11062659
3        ne    8025880
4        ve    7766036
..      ...        ...
295   ondan     252864
296  eminim     252546
297   insan     252056
298  gördüm     251150
299    bazı     249261

[300 rows x 2 columns]

In [4]:
df_ngram = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/Merge/{ngram_type.capitalize()}_Merge.csv")
df_ngram

                      twogram  frequency
0                     bir şey     859944
1                    değil mi     585879
2                      ben de     377765
3             teşekkür ederim     370619
4                     ne oldu     322758
...                       ...        ...
4457029         fikret cibran          3
4457030         romalı fikret          3
4457031        fikret ciooney          3
4457032          fikret cisco          3
4457033  seyretmeliyim fikret          3

[4457034 rows x 2 columns]

In [5]:
lang_pair_list = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_And_{lang_pair.lower().capitalize()}*.xlsx")
lang_pair_list

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Arabic (ara)_Etymologeek_Result.xlsx']

In [6]:
df_pair = pd.read_excel(f"{lang_pair_list[0]}")
df_pair

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,mı,mıknatıs,Turkish,(Noun) Magnet.Magnet.,مِغْنَاطِيس,Arabic (ara),NaN
1,mı,mısdak,Turkish,(Noun) (obsolete) criterion.(obsolete) criterion.,مِصْدَاق,Arabic (ara),NaN
2,şey,şey,Turkish,(Noun Interjection) (slang) genital organ. Thi...,شَيْئاً,Arabic (ara),NaN
3,şey,şeytan,Turkish,(Noun) Devil.Devil.,شَيَّطَ,Arabic (ara),NaN
4,şey,şeytanî,Turkish,(Adjective) Devilish.Devilish.,شَيْطَانِيّ,Arabic (ara),NaN
...,...,...,...,...,...,...,...
334,cumhuriyet,cumhuriyet,Turkish,(Noun) Republic.Republic.,جمهور,Arabic (ara),"Multitude, crowd, throng. Public, general public."
335,barut,barut,Turkish,(Noun) Gunpowder.Gunpowder.,بَارُود,Arabic (ara),NaN
336,emlak,emlak,Turkish,"(Noun) Estate, property.Estate, property.",أملاك,Arabic (ara),NaN
337,ebeveyn,ebeveyn,Turkish,(Noun) Parent (person from whom one is descend...,أَبَوَيْن,Arabic (ara),NaN
338,şah,şahıs,Turkish,(Noun) Person.Person.,شخص,Arabic (ara),"Figure, character. Person, individual. Someone..."

In [7]:
ngram_list = []
for i in df_pair["dict_entry_main"]:
    for j in word_tokenize(i):
        for k in df_word["word"]:
            twogram_1_2 = f"{j} {k}"
            ngram_list.append(twogram_1_2)
            twogram_2_1 = f"{k} {j}"
            ngram_list.append(twogram_2_1)
df_pair_ngram = pd.DataFrame(ngram_list)
df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
df_pair_ngram.drop_duplicates(inplace=True)
df_pair_ngram

                twogram
0          mıknatıs bir
1          bir mıknatıs
2       mıknatıs fikret
3       fikret mıknatıs
4           mıknatıs bu
...                 ...
206395      insan şahıs
206396     şahıs gördüm
206397     gördüm şahıs
206398       şahıs bazı
206399       bazı şahıs

[203375 rows x 1 columns]

In [8]:
df_lang_pair_ngram = pd.merge(df_ngram, df_pair_ngram, how="inner", on="twogram")
df_lang_pair_ngram.drop_duplicates(inplace=True)
df_lang_pair_ngram

                twogram  frequency
0               bir şey     859944
1           hayır hayır     266457
2              tamam mı     264540
3          özür dilerim     260661
4              ne kadar     237876
...                 ...        ...
38273     kısmen fikret          5
38274      fikret nadir          4
38275     hassas fikret          4
38276   fikret sandalye          4
38277  fevkalade fikret          3

[38278 rows x 2 columns]

In [9]:
df_lang_pair_ngram.to_excel(f"{lang_folder.capitalize()}_And_{lang_pair.capitalize()}_Word_Pair_{ngram_type.capitalize()}.xlsx", index=False)

In [14]:
df_word.to_excel(f"{lang_folder.capitalize()}_{word_num}_Words.xlsx", index=False)

In [15]:
df_pair[["dict_entry_main"]].to_excel(f"{lang_pair.capitalize()}_To_{lang_folder.capitalize()}_Words.xlsx", index=False)