### Etymology Cross Check

In [2]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize

In [41]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian
lang_2 = "Arabic (ara)"  # English (eng), Turkish (tur), German (deu), French (fra), Spanish (spa), Arabic (ara), Russian (rus), 
                          # Portuguese (por), Dutch (nld), Italian (ita)

In [42]:
lang_1_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/*/{lang_1.capitalize()}_And_*_Etymologeek_Result_All.xlsx")
lang_1_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Dutch (nld)_Etymologeek_Result_All.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Arabic (ara)_Etymologeek_Result_All.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_English (eng)_Etymologeek_Result_All.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_French (fra)_Etymologeek_Result_All.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Italian (ita)_Etymologeek_Result_All.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Portuguese (por)_Etymologeek_Result_All.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Spanish (spa)_Etymologeek_Result_All.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_German (deu)_Etymologeek_Result_All.xlsx']

In [43]:
df_lang_1 = pd.DataFrame()
for i in lang_1_file:
    df_var = pd.read_excel(f"{i}")
    df_lang_1 = pd.concat([df_lang_1,df_var], axis=0)
    df_lang_1.reset_index(drop=True, inplace=True)
df_lang_1

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,şans,şans,Turkish,(Noun) Fortune. Luck.Fortune. Luck.,dice,Dutch (nld),NaN
1,loca,loca,Turkish,(Noun) (masonic) lodge. Box (in theaters).(mas...,laubja,Dutch (nld),NaN
2,mı,mıknatıs,Turkish,(Noun) Magnet.Magnet.,مِغْنَاطِيس,Arabic (ara),NaN
3,mı,mısdak,Turkish,(Noun) (obsolete) criterion.(obsolete) criterion.,مِصْدَاق,Arabic (ara),NaN
4,şey,şey,Turkish,(Noun Interjection) (slang) genital organ. Thi...,شَيْئاً,Arabic (ara),NaN
...,...,...,...,...,...,...,...
732,vermut,vermut,Turkish,(Noun),wermut,German (deu),"Vermouth is an aromatized fortified wine, flav..."
733,panzer,panzer,Turkish,(Noun),panzer,German (deu),A tank is an armoured fighting vehicle intende...
734,tonymayster,tonymayster,Turkish,(Noun),tonmeister,German (deu),Tonmeister
735,filinta,filinta,Turkish,(Noun),flinte,German (deu),Flinte
736,kuvars,kuvars,Turkish,(Noun),quarz,German (deu),"Quartz is a hard, crystalline mineral composed..."

In [44]:
lang_2_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/*/*_And_{lang_2.capitalize()}_Etymologeek_Result_All.xlsx")
lang_2_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Arabic (ara)_Etymologeek_Result_All.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/English/English_And_Arabic (ara)_Etymologeek_Result_All.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/German/German_And_Arabic (ara)_Etymologeek_Result_All.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/French/French_And_Arabic (ara)_Etymologeek_Result_All.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Spanish/Spanish_And_Arabic (ara)_Etymologeek_Result_All.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Russian/Russian_And_Arabic (ara)_Etymologeek_Result_All.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Portuguese/Portuguese_And_Arabic (ara)_Etymologeek_Result_All.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_Arabic (ara)_Etymologeek_Result_All.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Arabic (ara)_Etymologeek_Result_All.xlsx']

In [45]:
df_lang_2 = pd.DataFrame()
for i in lang_2_file:
    df_var2 = pd.read_excel(f"{i}")
    df_lang_2 = pd.concat([df_lang_2,df_var2], axis=0)
    df_lang_2.reset_index(drop=True, inplace=True)
df_lang_2

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,mı,mıknatıs,Turkish,(Noun) Magnet.Magnet.,مِغْنَاطِيس,Arabic (ara),NaN
1,mı,mısdak,Turkish,(Noun) (obsolete) criterion.(obsolete) criterion.,مِصْدَاق,Arabic (ara),NaN
2,şey,şey,Turkish,(Noun Interjection) (slang) genital organ. Thi...,شَيْئاً,Arabic (ara),NaN
3,şey,şeytan,Turkish,(Noun) Devil.Devil.,شَيَّطَ,Arabic (ara),NaN
4,şey,şeytanî,Turkish,(Adjective) Devilish.Devilish.,شَيْطَانِيّ,Arabic (ara),NaN
...,...,...,...,...,...,...,...
787,materasso,materasso,Italian,(Noun) Mattress.Mattress.,طَرَحَ,Arabic (ara),NaN
788,mosche,moschea,Italian,(Noun) Mosque.Mosque.,سَجَدَ,Arabic (ara),NaN
789,scia,sciabecco,Italian,(Noun) (nautical) xebec.(nautical) xebec.,شَبَّاك,Arabic (ara),NaN
790,scia,sciabica,Italian,(Verb Noun) A kind of trawl or dragnet.A kind ...,شَبَكَة,Arabic (ara),NaN
791,sciroppo,sciroppo,Italian,(Noun Verb) Syrup.Syrup.,شَرَبَ,Arabic (ara),NaN

In [46]:
set_lang_1 = set(df_lang_1["dict_entry_main"])

In [47]:
set_lang_2 = set(df_lang_2["dict_entry_main"])

In [48]:
df_cross = pd.DataFrame(set_lang_1.intersection(set_lang_2), columns=["dict_entry_main"])
df_cross

    dict_entry_main
0           ihtiyaç
1           seyahat
2        cumhuriyet
3             velet
4          mıknatıs
..              ...
362          cennet
363            reis
364          ressam
365          meclis
366            كتاب

[367 rows x 1 columns]

In [ ]:
#df_cross.to_excel(f"{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result_All.xlsx")

#### Test Data

In [49]:
df = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/All/etymology.csv")
df

,term_id,lang,term,reltype,related_term_id,related_lang,related_term,position,group_tag,parent_tag,parent_position
0,8_rYLlLyVOKJlGFPZIvpVA,English,thesaurus,group_derived_root,NaN,NaN,NaN,0,0IIU6TlkSA2D7dg1PfxGOw,NaN,NaN
1,8_rYLlLyVOKJlGFPZIvpVA,English,thesaurus,borrowed_from,fhl-sdgwXaWvYD8CgaKXpQ,Latin,thēsaurus,0,NaN,0IIU6TlkSA2D7dg1PfxGOw,0.0
2,8_rYLlLyVOKJlGFPZIvpVA,English,thesaurus,derived_from,7Rf1835bWYmlH9VnyYVbpg,Ancient Greek,θησαυρός,0,NaN,0IIU6TlkSA2D7dg1PfxGOw,1.0
3,8_rYLlLyVOKJlGFPZIvpVA,English,thesaurus,doublet_with,sqiifJX3XIOQ0vZ0trzRaA,English,treasure,0,NaN,NaN,NaN
4,iwDzanYmWxaUKbOlUy2yyQ,Latin,thesaurus,derived_from,7Rf1835bWYmlH9VnyYVbpg,Ancient Greek,θησαυρός,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3884332,ttDtihHdV4aL8aDWZpIgnQ,English,Boell,borrowed_from,AUIYyyL0V_2rTzbDwWeVig,Danish,Bøll,0,NaN,VfBh8FOWR_muVFpFl7EOvw,0.0
3884333,ttDtihHdV4aL8aDWZpIgnQ,English,Boell,borrowed_from,_zZUp3xTUyyi8TrPVMfOUw,German,Böll,0,NaN,VfBh8FOWR_muVFpFl7EOvw,1.0
3884334,s0ANGE2hXn6nen8AFLynOg,South Levantine Arabic,بالمية,has_affix,QLqQUWCoUu6hQGr40QVQyw,South Levantine Arabic,بـ,0,NaN,NaN,NaN
3884335,s0ANGE2hXn6nen8AFLynOg,South Levantine Arabic,بالمية,has_affix,sVDOI8DxUwq2DD03Y3HGdw,South Levantine Arabic,الميّة,1,NaN,NaN,NaN
3884336,VtU3fy8KXDSUJkNvfVFxgQ,English,Cooler,derived_from,0cIktMSLVpKfszbcNudv4w,German,Kühler,0,NaN,NaN,NaN

In [51]:
df[(df.lang == "English") & (df.related_lang == "Portuguese")]

,term_id,lang,term,reltype,related_term_id,related_lang,related_term,position,group_tag,parent_tag,parent_position
161,Hwq0PRMgW6qyHkoNUIaqBA,English,cat,cognate_of,0fQgUY6TVp60Re0rmTnZeQ,Portuguese,gato,0,NaN,pGN0Jpw6RHaUmJ1jOrKfcg,9.0
1985,-tan3ztNVRylENiBlHiRZw,English,abada,borrowed_from,ATpkd7vPU4CjQWgtlEiR9Q,Portuguese,abada,0,NaN,HgcLzS4ySu6J244wzTpXBA,0.0
2163,n_jCbAaHUjyF8lELsCvmmg,English,abacus,cognate_of,_jRZOdp7XvmMHAF-o58F9w,Portuguese,ábaco,0,NaN,zbq_2ocnS02j5vSVPPk5aQ,1.0
5447,Kft_7-1xXESIPHkBug3Oig,English,acajou,derived_from,xrAgo5FxWRWpNsd5bKbBEw,Portuguese,acaju,0,NaN,x7lIrlWzRG6Bd-ToaYGvug,1.0
7507,cxE9xVdwXHWBYOlTUck_vw,English,star,cognate_of,wmd-z6JAWmKOfP9-w3Rohg,Portuguese,estrela,0,NaN,YgFLXIbVTMS8d1TggXy7OQ,15.0
...,...,...,...,...,...,...,...,...,...,...,...
3794806,sulo5hJ3W_SOHh7EzLojWQ,English,Cantara,borrowed_from,s1Wpa2q7XhqKqYZm0mhibg,Portuguese,Cantara,0,NaN,NaN,NaN
3795571,Dnwh8BbDUxmMIfMqVI3l0Q,English,Galvao,borrowed_from,4FAQ2RDbUX6Br1aY5lhVqA,Portuguese,Galvão,0,NaN,NaN,NaN
3801681,zntGXzwzW6GMoo4atw0lDg,English,tallapoi,derived_from,l8J2F2SMXjG7m3A8AvLxaQ,Portuguese,talapão,0,NaN,DyDfZI5kTlaNo-acbHD-bw,1.0
3844658,niSy3gLOU4mVT-6qcEHiXQ,English,Quiterio,borrowed_from,kMJU-O-TWtCJN8QOvxy2yA,Portuguese,Quitério,0,NaN,NaN,NaN
3863593,jUi7aX-oVFCSKSBEjUoQkQ,English,Ramo,borrowed_from,J3CsDNddW4O_FVLvKM6ttQ,Portuguese,Ramo,0,NaN,NaN,NaN

In [52]:
df[(df.lang == "Turkish") & (df.related_lang == "English")]

,term_id,lang,term,reltype,related_term_id,related_lang,related_term,position,group_tag,parent_tag,parent_position
3177,jBwnCmLZUeGQq698u7tnPA,Turkish,abide,etymologically_related_to,8AMN4YdeW-KrfSCEgc--AQ,English,monument,0,NaN,NaN,NaN
9379,WrmjvMe_XsKG56ZkabPmBg,Turkish,bit,borrowed_from,XkDGCZgmXaKwpJN1WcAwKw,English,bit,0,NaN,NaN,NaN
9380,WrmjvMe_XsKG56ZkabPmBg,Turkish,bit,etymologically_related_to,uS1RzS05UjSzbgfhibNSiw,English,binary digit,0,NaN,NaN,NaN
10456,KMoSa6bHVcCO4eR3UjcCWA,Turkish,port,borrowed_from,1IBIa_veWwOXT25zkB55Ag,English,port,0,NaN,NaN,NaN
11831,W6VP6tayWCa13YOtBD9LuQ,Turkish,DVD,derived_from,uR9C346xUA2Qx4guNxlK4g,English,DVD,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3841743,o4jAj92HUXiJ9sFQ4ZhY9A,Turkish,sayko,derived_from,-NNare9ZVSSGzr6-hQDVeA,English,psycho,0,NaN,NaN,NaN
3841753,myarAy9HUVWjsYk4ld6-ZA,Turkish,laparoskopi,derived_from,Bh0Jy6xlV5uIoaC5VMI3Iw,English,laparoscopy,0,NaN,NaN,NaN
3844652,nDNkTSX2VmanV0vlk8vNxQ,Turkish,intörn,borrowed_from,a06hLBO2UwasJ_EvCCNJdw,English,intern,0,NaN,NaN,NaN
3862215,IfdNuxMaXPGPw0ZcF1g0rg,Turkish,Filiz,cognate_of,VTz93kTpVJ2o3BeRO26ctg,English,Phyllis,0,NaN,NaN,NaN
3869990,KnTkWmF1XOKYEyzQHTg8lw,Turkish,metelik,cognate_of,_Pa5VFsoVh6KEMEiUGRBCw,English,metallic,0,NaN,NaN,NaN

In [66]:
df_select = df.loc[:,["lang","term","reltype","related_lang","related_term"]]
df_select

,lang,term,reltype,related_lang,related_term
0,English,thesaurus,group_derived_root,NaN,NaN
1,English,thesaurus,borrowed_from,Latin,thēsaurus
2,English,thesaurus,derived_from,Ancient Greek,θησαυρός
3,English,thesaurus,doublet_with,English,treasure
4,Latin,thesaurus,derived_from,Ancient Greek,θησαυρός
...,...,...,...,...,...
3884332,English,Boell,borrowed_from,Danish,Bøll
3884333,English,Boell,borrowed_from,German,Böll
3884334,South Levantine Arabic,بالمية,has_affix,South Levantine Arabic,بـ
3884335,South Levantine Arabic,بالمية,has_affix,South Levantine Arabic,الميّة
3884336,English,Cooler,derived_from,German,Kühler

In [64]:
df_select.isnull().sum()

lang                 0
term                53
reltype              0
related_lang    381344
related_term    381412
dtype: int64

In [69]:
df_select.drop_duplicates(inplace=True)
df_select.dropna(inplace=True)
df_select.reset_index(drop=True, inplace=True)
df_select

,lang,term,reltype,related_lang,related_term
0,English,thesaurus,borrowed_from,Latin,thēsaurus
1,English,thesaurus,derived_from,Ancient Greek,θησαυρός
2,English,thesaurus,doublet_with,English,treasure
3,Latin,thesaurus,derived_from,Ancient Greek,θησαυρός
4,English,portmanteau,has_root,Proto-Indo-European,*per- (fare)
...,...,...,...,...,...
3484911,English,Boell,borrowed_from,Danish,Bøll
3484912,English,Boell,borrowed_from,German,Böll
3484913,South Levantine Arabic,بالمية,has_affix,South Levantine Arabic,بـ
3484914,South Levantine Arabic,بالمية,has_affix,South Levantine Arabic,الميّة
3484915,English,Cooler,derived_from,German,Kühler

In [71]:
#df_select.to_csv("etymology_clean.csv", index=False)

In [74]:
df_clean = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/All/etymology_clean.csv")
df_clean

,lang,term,reltype,related_lang,related_term
0,English,thesaurus,borrowed_from,Latin,thēsaurus
1,English,thesaurus,derived_from,Ancient Greek,θησαυρός
2,English,thesaurus,doublet_with,English,treasure
3,Latin,thesaurus,derived_from,Ancient Greek,θησαυρός
4,English,portmanteau,has_root,Proto-Indo-European,*per- (fare)
...,...,...,...,...,...
3484911,English,Boell,borrowed_from,Danish,Bøll
3484912,English,Boell,borrowed_from,German,Böll
3484913,South Levantine Arabic,بالمية,has_affix,South Levantine Arabic,بـ
3484914,South Levantine Arabic,بالمية,has_affix,South Levantine Arabic,الميّة
3484915,English,Cooler,derived_from,German,Kühler