### Etymology Cross Check

In [8]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize

#### Etymologeek Result

In [29]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Portuguese"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian
lang_3 = "Portuguese (por)"  # English (eng), Turkish (tur), German (deu), French (fra), Spanish (spa), Arabic (ara), Russian (rus), 
                          # Portuguese (por), Dutch (nld), Italian (ita)

In [10]:
lang_1_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/*/{lang_1.capitalize()}_And_*_Etymologeek_Result1.xlsx")
lang_1_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Dutch (nld)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Arabic (ara)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_English (eng)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_French (fra)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Portuguese (por)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Spanish (spa)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_German (deu)_Etymologeek_Result1.xlsx']

In [11]:
df_lang_1 = pd.DataFrame()
for i in lang_1_file:
    df_var = pd.read_excel(f"{i}")
    df_lang_1 = pd.concat([df_lang_1,df_var], axis=0)
    df_lang_1.reset_index(drop=True, inplace=True)
df_lang_1

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,şans,şans,Turkish,(Noun) Fortune. Luck.Fortune. Luck.,dice,Dutch (nld),NaN
1,loca,loca,Turkish,(Noun) (masonic) lodge. Box (in theaters).(mas...,laubja,Dutch (nld),NaN
2,mı,mıknatıs,Turkish,(Noun) Magnet.Magnet.,مِغْنَاطِيس,Arabic (ara),NaN
3,mı,mısdak,Turkish,(Noun) (obsolete) criterion.(obsolete) criterion.,مِصْدَاق,Arabic (ara),NaN
4,şey,şey,Turkish,(Noun Interjection) (slang) genital organ. Thi...,شَيْئاً,Arabic (ara),NaN
...,...,...,...,...,...,...,...
732,vermut,vermut,Turkish,(Noun),wermut,German (deu),"Vermouth is an aromatized fortified wine, flav..."
733,panzer,panzer,Turkish,(Noun),panzer,German (deu),A tank is an armoured fighting vehicle intende...
734,tonymayster,tonymayster,Turkish,(Noun),tonmeister,German (deu),Tonmeister
735,filinta,filinta,Turkish,(Noun),flinte,German (deu),Flinte
736,kuvars,kuvars,Turkish,(Noun),quarz,German (deu),"Quartz is a hard, crystalline mineral composed..."

In [12]:
lang_2_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/*/{lang_2.capitalize()}_And_*_Etymologeek_Result1.xlsx")
lang_2_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Portuguese/Portuguese_And_Arabic (ara)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Portuguese/Portuguese_And_Dutch (nld)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Portuguese/Portuguese_And_English (eng)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Portuguese/Portuguese_And_French (fra)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Portuguese/Portuguese_And_German (deu)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Portuguese/Portuguese_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Portuguese/Portuguese_And_Russian (rus)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Portuguese/Portuguese_And_Spanish (spa)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Portuguese/Portuguese_And_Turkish (tur)_Etymologeek_Result1.xlsx']

In [13]:
df_lang_2 = pd.DataFrame()
for i in lang_2_file:
    df_var2 = pd.read_excel(f"{i}")
    df_lang_2 = pd.concat([df_lang_2,df_var2], axis=0)
    df_lang_2.reset_index(drop=True, inplace=True)
df_lang_2

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,aç,açacalar,Portuguese,(Verb) To polish; to burnish.To polish; to bur...,صَقَلَ,Arabic (ara),NaN
1,aç,açafrão,Portuguese,(Noun) Saffron.Saffron.,زَعْفَرَان,Arabic (ara),NaN
2,emir,emir,Portuguese,(Noun) Emir (Islamic prince or leader).Emir (I...,أَمِير الْبَحْر,Arabic (ara),NaN
3,saf,safado,Portuguese,(Noun Adjective) (colloquial) rogue; trickster...,أَزَاحَ,Arabic (ara),NaN
4,saf,safar,Portuguese,(Verb) (colloquial) to save. (pronominal) to a...,أَزَاحَ,Arabic (ara),NaN
...,...,...,...,...,...,...,...
1057,solito,solito,Portuguese,(Adjective) (Rio Grande do Sul) alone; unaccom...,solo,Spanish (spa),"Alone, by oneself. Lonely, lonesome. Sole, onl..."
1058,birra,birra,Portuguese,(Verb Noun) (uncountable) obstinacy (state of ...,birria,Spanish (spa),"Garbage, junk."
1059,cani,canibal,Portuguese,(Adjective) Cannibal.Cannibal.,canibal,Spanish (spa),NaN
1060,ladri,ladrilho,Portuguese,(Noun) Brick. Tile.Brick. Tile.,ladrillo,Spanish (spa),Brick.
1061,caviar,caviar,Portuguese,(Noun) Caviar.Caviar.,havyar,Turkish (tur),Caviar.

In [14]:
set_lang_11 = set(df_lang_1["dict_entry"])

In [15]:
set_lang_12 = set(df_lang_2["dict_entry"])

In [16]:
df_cross = pd.DataFrame(set_lang_11.intersection(set_lang_12), columns=["dict_entry"])
df_cross

   dict_entry
0    surprise
1       toile
2       shoot
3      ballon
4        lord
..        ...
70     cancer
71  populaire
72     douche
73       Bank
74        cou

[75 rows x 1 columns]

In [17]:
df_lang_1_lang_2_cross = pd.merge(df_cross,df_lang_1,how="inner", on="dict_entry")
df_lang_1_lang_2_cross

,dict_entry,search_word,dict_entry_main,language_main,definition_main,language,definition
0,surprise,sürpriz,sürpriz,Turkish,(Noun) Surprise.Surprise.,French (fra),Surprise (something unexpected).
1,toile,tuvalet,tuvalet,Turkish,"(Noun) Evening dress (ladies' long, festive dr...",French (fra),"(spider's) web. Fabric, cloth; canvas. Paintin..."
2,shoot,şu,şut,Turkish,(Noun) (football) shoot.(football) shoot.,English (eng),(mining) A vein of ore running in the same gen...
3,ballon,balon,balon,Turkish,(Noun) Balloon.Balloon.,French (fra),(chemistry) round-bottom flask. (inflatable) b...
4,lord,lord,lord,Turkish,(Noun) Lord.Lord.,English (eng),"(intransitive, and, transitive) Domineer or ac..."
...,...,...,...,...,...,...,...
77,cancer,kanser,kanser,Turkish,(Noun) Cancer (disease of uncontrolled cellula...,French (fra),Cancer.
78,populaire,popüler,popüler,Turkish,(Adjective) Popular.Popular.,French (fra),"People's, as in People's Republic of China (in..."
79,douche,duş,duş,Turkish,NaN,French (fra),(juggling) shower. Shower.
80,Bank,banka,banka,Turkish,(Noun) Bank.Bank.,German (deu),A facility for storage of a particular thing:....
81,cou,kolye,kolye,Turkish,(Noun) Necklace.Necklace.,French (fra),Neck.

In [18]:
df_cross_1 = df_lang_1_lang_2_cross[["dict_entry_main"]].drop_duplicates()
df_cross_1

   dict_entry_main
0          sürpriz
1          tuvalet
2              şut
3            balon
4             lord
..             ...
76           madam
77          kanser
78         popüler
79             duş
81           kolye

[70 rows x 1 columns]

In [19]:
#df_lang_2_lang_1_cross = pd.merge(df_cross,df_lang_2,how="inner", on="dict_entry")  # for second language (pair)
#df_lang_2_lang_1_cross

In [20]:
lang_3_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/*/*_And_{lang_3.capitalize()}_Etymologeek_Result1.xlsx")
lang_3_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Portuguese (por)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/English/English_And_Portuguese (por)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/German/German_And_Portuguese (por)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/French/French_And_Portuguese (por)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Spanish/Spanish_And_Portuguese (por)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Arabic/Arabic_And_Portuguese (por)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Russian/Russian_And_Portuguese (por)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_Portuguese (por)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Portuguese (por)_Etymologeek_Result1.xlsx']

In [21]:
df_lang_3 = pd.DataFrame()
for i in lang_3_file:
    df_var3 = pd.read_excel(f"{i}")
    df_lang_3 = pd.concat([df_lang_3,df_var3], axis=0)
    df_lang_3.reset_index(drop=True, inplace=True)
df_lang_3

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,sandviç,sandviç,Turkish,(Noun) Sandwich.Sandwich.,Kent,Portuguese (por),NaN
1,harita,harita,Turkish,(Noun) Map (visual representation of an area)....,χαράσσω,Portuguese (por),NaN
2,köri,köri,Turkish,NaN,kari,Portuguese (por),A type of spice
3,mango,mango,Turkish,NaN,manga,Portuguese (por),A fruit
4,aç,açai,English,"(Noun) Any of several South American palms, of...",açaí,Portuguese (por),"Açai, the fruit of the açaizeiro."
...,...,...,...,...,...,...,...
187,fallire,fallire,Italian,(Verb) (intransitive) to fail. (intransitive) ...,fallo,Portuguese (por),NaN
188,falli,fallibile,Italian,(Adjective) Fallible.Fallible.,fallo,Portuguese (por),NaN
189,secca,seccare,Italian,(Verb) (transitive) To annoy or bother. (trans...,siccus,Portuguese (por),NaN
190,secca,seccato,Italian,"(Verb Adjective) Bothered, annoyed. Fed up. Wi...",siccus,Portuguese (por),NaN
191,cocco,cocco,Italian,(Noun) Coconut (fruit). Coconut palm.Coconut (...,coco,Portuguese (por),Coconut (fruit of coco palm).

In [22]:
set_lang_21 = set(df_lang_1["dict_entry_main"])

In [23]:
set_lang_23 = set(df_lang_3["dict_entry_main"])

In [24]:
df_cross_2 = pd.DataFrame(set_lang_21.intersection(set_lang_23), columns=["dict_entry_main"])
df_cross_2

  dict_entry_main
0            köri
1             ani
2           mango
3            vals
4         sandviç
5          harita

In [25]:
df_cross_12_word = pd.concat([df_cross_1,df_cross_2], axis=0)
df_cross_12_word.drop_duplicates(inplace=True)
df_cross_12_word

   dict_entry_main
0          sürpriz
1          tuvalet
2              şut
3            balon
4             lord
..             ...
0             köri
1              ani
2            mango
3             vals
5           harita

[75 rows x 1 columns]

#### Github Data Result

##### Part 1

In [49]:
df_github_cross_result = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_github_cross_result

,term_id,lang,term,reltype,related_term_id,related_lang,related_term
0,yglj90QEWaGcUI2-FXe41Q,Turkish,palavra,derived_from,JHVmHqAPXEq-YaIbd0B5Jg,Ancient greek,παραβολή
1,QDVQAg50WQymOq6pxRgCYw,Turkish,parabol,derived_from,JHVmHqAPXEq-YaIbd0B5Jg,Ancient greek,παραβολή
2,laDFbv6BUfiKYXbUNUtIUg,Turkish,alternatif,derived_from,ZSxxztTSVm6V_6rNEGaKhQ,Latin,alter
3,_7Bj6HMdWbCjvChOa6fHnA,Turkish,baz,derived_from,tJZMlh3FXjinpfCxRDoq6Q,Latin,basis
4,7uaTXsE8Xf2lN_stc4ygFg,Turkish,çek,derived_from,7SrzrJtdV2yhdkdGZ8hfyQ,Old french,eschek
...,...,...,...,...,...,...,...
356,FfZo89O-W463MMjEwKps2A,Turkish,anormallik,derived_from,PwziQVTKXWeL5YMlK6sl4g,Latin,anōrmalus
357,nkTw-yb0UcOdHIY-_80CuQ,Turkish,marangoz,derived_from,WAc5Rd_fU7Gti7MxzD7Hgw,Latin,mergus
358,qbQrvqVHV5mcnnDStzwm6A,Turkish,dildo,derived_from,eYo-R3WFU6u4qX9mmJrBWw,Italian,diletto
359,2_7BX2vhX0OdFfWOvGY3aQ,Turkish,i̇stanbullu,derived_from,LVvnOSxFUyyGr0rTBrB73w,Byzantine greek,τὴν Πόλιν
360,DUwz2C9HVk2LmqHaBZSpXQ,Turkish,atel,derived_from,FXDBUkWvWPO_IojhYr24sw,Latin,assula

In [50]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"term"}, inplace=True)
df_word

               term
0               bir
1            fikret
2                bu
3                ne
4                ve
...             ...
39995    ekipmanlar
39996     şanslılar
39997     aksanıyla
39998  yargılanacak
39999     tepkisini

[40000 rows x 1 columns]

In [51]:
df_github_cross_result = pd.merge(df_github_cross_result,df_word,how="inner",on="term")
df_github_cross_result

,term_id,lang,term,reltype,related_term_id,related_lang,related_term
0,yglj90QEWaGcUI2-FXe41Q,Turkish,palavra,derived_from,JHVmHqAPXEq-YaIbd0B5Jg,Ancient greek,παραβολή
1,laDFbv6BUfiKYXbUNUtIUg,Turkish,alternatif,derived_from,ZSxxztTSVm6V_6rNEGaKhQ,Latin,alter
2,_7Bj6HMdWbCjvChOa6fHnA,Turkish,baz,derived_from,tJZMlh3FXjinpfCxRDoq6Q,Latin,basis
3,7uaTXsE8Xf2lN_stc4ygFg,Turkish,çek,derived_from,7SrzrJtdV2yhdkdGZ8hfyQ,Old french,eschek
4,6ApISjwlWqeRbhRl_r5DKQ,Turkish,sıfır,derived_from,PzMZaVy3UqWmKxAtjw_gLg,Arabic,صِفْر
...,...,...,...,...,...,...,...
211,Le0BIO_0VsW9tHJk8RKcoA,Turkish,nonoş,derived_from,_TuKtJdIWwa0c66mZt_4sg,Late latin,nonnus
212,0EE5O8uEWbS-_xARL-vJaw,Turkish,silindir,derived_from,EuWYJQS3XUmwMvKT5rPZdw,Ancient greek,κύλινδρος
213,Pl-mdsxKXui516-CQOUd7A,Turkish,komiser,derived_from,4s2VoPaFU2GF1DtlkarP2g,Latin,commissio
214,FfZo89O-W463MMjEwKps2A,Turkish,anormallik,derived_from,PwziQVTKXWeL5YMlK6sl4g,Latin,anōrmalus
215,nkTw-yb0UcOdHIY-_80CuQ,Turkish,marangoz,derived_from,WAc5Rd_fU7Gti7MxzD7Hgw,Latin,mergus

In [53]:
#df_github_cross_result.to_excel("Turkish_And_Portuguese_Etymologeek_Result.xlsx", index=False)

In [54]:
df_github_cross_term = df_github_cross_result[["term"]]
df_github_cross_term["term"] = df_github_cross_term["term"].apply(lambda x: x.lower()) 
df_github_cross_term.rename(columns={"term":"dict_entry_main"}, inplace=True)
df_github_cross_term

<ipython-input-54-9d4c3a2109ce>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_github_cross_term["term"] = df_github_cross_term["term"].apply(lambda x: x.lower())
/home/kurubal/anaconda3/envs/py39/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

    dict_entry_main
0           palavra
1        alternatif
2               baz
3               çek
4             sıfır
..              ...
211           nonoş
212        silindir
213         komiser
214      anormallik
215        marangoz

[216 rows x 1 columns]

In [55]:
df_12_cross = pd.concat([df_cross_12_word,df_github_cross_term],axis=0)
df_12_cross.drop_duplicates(inplace=True)
df_12_cross.reset_index(drop=True,inplace=True)
df_12_cross

    dict_entry_main
0           sürpriz
1           tuvalet
2               şut
3             balon
4              lord
..              ...
263           nonoş
264        silindir
265         komiser
266      anormallik
267        marangoz

[268 rows x 1 columns]

##### Part 2

In [56]:
df_github_clean_result = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_github_clean_result

      lang      term        reltype related_lang related_term
0  Turkish     kobra  borrowed_from   Portuguese        cobra
1  Turkish    ananas   derived_from   Portuguese       ananás
2  Turkish     japon   derived_from   Portuguese        Japão
3  Turkish  kapibara   derived_from   Portuguese     capivara

In [57]:
df_github_clean = df_github_clean_result.loc[:,["term"]]
df_github_clean.rename(columns={"term":"dict_entry_main"}, inplace=True)
df_github_clean

  dict_entry_main
0           kobra
1          ananas
2           japon
3        kapibara

In [58]:
df_12_cross_clean = pd.concat([df_12_cross,df_github_clean],axis=0)
df_12_cross_clean.drop_duplicates(inplace=True)
df_12_cross_clean.reset_index(drop=True,inplace=True)
df_12_cross_clean

    dict_entry_main
0           sürpriz
1           tuvalet
2               şut
3             balon
4              lord
..              ...
266      anormallik
267        marangoz
268           kobra
269          ananas
270        kapibara

[271 rows x 1 columns]

In [59]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"dict_entry_main"}, inplace=True)
df_word

      dict_entry_main
0                 bir
1              fikret
2                  bu
3                  ne
4                  ve
...               ...
39995      ekipmanlar
39996       şanslılar
39997       aksanıyla
39998    yargılanacak
39999       tepkisini

[40000 rows x 1 columns]

In [60]:
df_cross_result = pd.merge(df_12_cross_clean,df_word,how="inner",on="dict_entry_main")
df_cross_result

    dict_entry_main
0           sürpriz
1           tuvalet
2               şut
3             balon
4              lord
..              ...
261         komiser
262      anormallik
263        marangoz
264           kobra
265          ananas

[266 rows x 1 columns]

In [ ]:
#df_cross_result.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx")