### Etymology Cross Check

In [967]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize

#### Etymologeek Result

In [968]:
lang_1 = "Italian"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Dutch"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass
#lang_3 = "English (eng)"  # English (eng), Turkish (tur), German (deu), French (fra), Spanish (spa), Arabic (ara), Russian (rus), 
                          # Portuguese (por), Dutch (nld), Italian (ita)
print(f"{lang_1}\n{lang_2}\n{lang_3}")

Italian
Dutch
Dutch (nld)

In [969]:
#Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}").mkdir(parents=True, exist_ok=True)

In [970]:
lang_1_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/*/{lang_1.capitalize()}_And_*_Etymologeek_Result1.xlsx")
lang_1_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Arabic (ara)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Dutch (nld)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_English (eng)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_French (fra)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_German (deu)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Portuguese (por)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Russian (rus)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Spanish (spa)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Turkish (tur)_Etymologeek_Result1.xlsx']

In [971]:
df_lang_1 = pd.DataFrame()
for i in lang_1_file:
    df_var = pd.read_excel(f"{i}")
    df_lang_1 = pd.concat([df_lang_1,df_var], axis=0)
    df_lang_1.reset_index(drop=True, inplace=True)
df_lang_1

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,tarif,tariffa,Italian,"(Noun Verb) Rate, tariff, price, charge, fare ...",تَعْرِفَة,Arabic (ara),NaN
1,nadir,nadir,Italian,(Noun) (astronomy) nadir.(astronomy) nadir.,نَظِير السَّمْت,Arabic (ara),NaN
2,atan,atanor,Italian,(Noun) Athanor.Athanor.,تنور,Arabic (ara),"Illumination, enlightenment Cook stove. Oven, ..."
3,tuz,tuzia,Italian,(Noun) Tutty.Tutty.,تُوتِيَاء,Arabic (ara),NaN
4,burnu,burnus,Italian,(Noun) Burnoose.Burnoose.,بُرْنُس,Arabic (ara),NaN
...,...,...,...,...,...,...,...
794,ulan,ulano,Italian,"(Noun) Ulan, uhlan.Ulan, uhlan.",oğlan,Turkish (tur),"(slang) catamite. Boy, male child."
795,cia,ciabatta,Italian,(Noun) (cooking) ciabatta (flat bread). Power ...,zabata,Turkish (tur),NaN
796,curb,curbascio,Italian,(Noun) Whip.Whip.,kırbaç,Turkish (tur),"Whip, lash."
797,yogurt,yogurt,Italian,(Noun) Yogurt.Yogurt.,yoğurt,Turkish (tur),Yogurt.
798,scia,sciacallo,Italian,(Noun) Jackal. Looter. Profiteer.Jackal. Loote...,çakal,Turkish (tur),"(pejorative, derogatory) A detestable person, ..."

In [972]:
lang_2_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/*/{lang_2.capitalize()}_And_*_Etymologeek_Result1.xlsx")
lang_2_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_Arabic (ara)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_English (eng)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_French (fra)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_German (deu)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_Portuguese (por)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_Russian (rus)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_Spanish (spa)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_Turkish (tur)_Etymologeek_Result1.xlsx']

In [973]:
df_lang_2 = pd.DataFrame()
for i in lang_2_file:
    df_var2 = pd.read_excel(f"{i}")
    df_lang_2 = pd.concat([df_lang_2,df_var2], axis=0)
    df_lang_2.reset_index(drop=True, inplace=True)
df_lang_2

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,emir,emir,Dutch,(Noun) Emir (Islamic prince or leader).Emir (I...,أَمِير الْبَحْر,Arabic (ara),NaN
1,fakir,fakir,Dutch,"(Noun) (Islam, Hinduism) fakir.(Islam, Hinduis...",فَقِير,Arabic (ara),NaN
2,koffie,koffie,Dutch,(Noun) Coffee.Coffee.,قهوة,Arabic (ara),"(colloquial) coffee shop, café (colloquial use..."
3,genie,genie,Dutch,(Noun Noun) Genius Military engineers (unit).G...,جِنّ,Arabic (ara),NaN
4,suiker,suiker,Dutch,(Noun) Sugar.Sugar.,سُكَّر,Arabic (ara),NaN
...,...,...,...,...,...,...,...
897,prise,prise,Dutch,(Noun) (Belgium) electrical plug.(Belgium) ele...,prehensus,Spanish (spa),NaN
898,pape,papegaai,Dutch,(Noun) Parrot.Parrot.,papagayo,Spanish (spa),"Any wrasse, (Labridae). Elephant ear (Caladium..."
899,beg,beg,Dutch,(Noun) (historical) .(historical) .,beg,Turkish (tur),NaN
900,sultan,sultan,Dutch,"(Noun) A certain pastry. Sultan, a Muslim rule...",sultan,Turkish (tur),"A breed of chicken originating in Turkey, kept..."
901,bei,bei,Dutch,"(Noun) (historical) bey, beg (historical Turki...",bey,Turkish (tur),"Gentleman, mister. Husband. Lord, master."

In [974]:
set_lang_11 = set(df_lang_1["dict_entry"])

In [975]:
set_lang_12 = set(df_lang_2["dict_entry"])

In [976]:
df_cross = pd.DataFrame(set_lang_11.intersection(set_lang_12), columns=["dict_entry"])
df_cross

     dict_entry
0          -ism
1    artillerie
2         clair
3        rouler
4       أَصْفَر
..          ...
145     Reklame
146    revolver
147      mother
148        chat
149   bouteille

[150 rows x 1 columns]

In [977]:
df_lang_1_cross = pd.merge(df_cross,df_lang_1,how="inner", on="dict_entry")
df_lang_1_cross.drop_duplicates(inplace=True)
df_lang_1_cross = df_lang_1_cross[["language_main","dict_entry_main","dict_entry"]]
df_lang_1_cross.rename(columns={"language_main":"lang_master","dict_entry_main":"term_master"}, inplace=True)
df_lang_1_cross

    lang_master   term_master  dict_entry
0       Italian    annobilire        -ism
1       Italian        nobile        -ism
2       Italian   artiglieria  artillerie
3       Italian        chiaro       clair
4       Italian      roulette      rouler
..          ...           ...         ...
192     Italian       reclame     Reklame
193     Italian      revolver    revolver
194     Italian  scheda madre      mother
195     Italian          chat        chat
196     Italian     bottiglia   bouteille

[197 rows x 3 columns]

In [978]:
df_lang_2_cross = pd.merge(df_cross,df_lang_2,how="inner", on="dict_entry")
df_lang_2_cross.drop_duplicates(inplace=True)
df_lang_2_cross = df_lang_2_cross[["language_main","dict_entry_main","dict_entry"]]
df_lang_2_cross.rename(columns={"language_main":"lang_sleeve","dict_entry_main":"term_sleeve"}, inplace=True)
df_lang_2_cross

    lang_sleeve term_sleeve  dict_entry
0         Dutch       nobel        -ism
1         Dutch  artillerie  artillerie
2         Dutch       klaar       clair
3         Dutch     rollade      rouler
4         Dutch      cijfer     أَصْفَر
..          ...         ...         ...
172       Dutch    revolver    revolver
173       Dutch  moederbord      mother
174       Dutch        chat        chat
175       Dutch     chatten        chat
176       Dutch   bouteille   bouteille

[177 rows x 3 columns]

In [979]:
df_lang_1_lang_2_cross = pd.merge(df_lang_1_cross,df_lang_2_cross, how="inner", on="dict_entry")
df_lang_1_lang_2_cross.drop_duplicates(inplace=True)
df_lang_1_lang_2_cross = df_lang_1_lang_2_cross[["lang_master","term_master","lang_sleeve","term_sleeve"]]
df_lang_1_lang_2_cross

    lang_master   term_master lang_sleeve term_sleeve
0       Italian    annobilire       Dutch       nobel
1       Italian        nobile       Dutch       nobel
2       Italian   artiglieria       Dutch  artillerie
3       Italian        chiaro       Dutch       klaar
4       Italian      roulette       Dutch     rollade
..          ...           ...         ...         ...
257     Italian      revolver       Dutch    revolver
258     Italian  scheda madre       Dutch  moederbord
259     Italian          chat       Dutch        chat
260     Italian          chat       Dutch     chatten
261     Italian     bottiglia       Dutch   bouteille

[254 rows x 4 columns]

In [980]:
lang_3_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/*/*_And_{lang_3.capitalize()}_Etymologeek_Result1.xlsx")
lang_3_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Dutch (nld)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/English/English_And_Dutch (nld)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/German/German_And_Dutch (nld)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/French/French_And_Dutch (nld)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Spanish/Spanish_And_Dutch (nld)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Arabic/Arabic_And_Dutch (nld)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Russian/Russian_And_Dutch (nld)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Portuguese/Portuguese_And_Dutch (nld)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Dutch (nld)_Etymologeek_Result1.xlsx']

In [981]:
df_lang_3 = pd.DataFrame()
for i in lang_3_file:
    df_var3 = pd.read_excel(f"{i}")
    df_lang_3 = pd.concat([df_lang_3,df_var3], axis=0)
    df_lang_3.reset_index(drop=True, inplace=True)
df_lang_3

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,şans,şans,Turkish,(Noun) Fortune. Luck.Fortune. Luck.,dice,Dutch (nld),NaN
1,loca,loca,Turkish,(Noun) (masonic) lodge. Box (in theaters).(mas...,laubja,Dutch (nld),NaN
2,porno,pornoaction,English,"(Noun) (Indonesia, legal) Any actions, behavio...",spiegelstraf,Dutch (nld),NaN
3,kast,kast,English,(Noun) A type of traditional cupboard produced...,kast,Dutch (nld),"Cupboard, closet."
4,toen,toenadering,English,(Noun) (South Africa) A rapprochement.(South A...,toenadering,Dutch (nld),Approach; the process of coming closer.
...,...,...,...,...,...,...,...
272,capra,capra,Italian,(Noun) Goat (mammal). Nanny goat. Trestle.Goat...,bok,Dutch (nld),(gymnastics) vaulting horse. (pejorative) chur...
273,capra,caprareccia,Italian,(Noun) A shed used to keep goats indoors durin...,bok,Dutch (nld),(gymnastics) vaulting horse. (pejorative) chur...
274,alloggi,alloggiare,Italian,(Verb) (intransitive) To stay or lodge (at). (...,laubja,Dutch (nld),NaN
275,sigillo,sigillo,Italian,(Noun Verb) Seal (that seals something).Seal (...,sein,Dutch (nld),Signal.
276,cogliere,cogliere,Italian,"(Verb) (transitive) to grasp, seize, take. (tr...",legere,Dutch (nld),NaN

In [982]:
set_lang_21 = set(df_lang_1["dict_entry_main"])

In [983]:
set_lang_23 = set(df_lang_3["dict_entry_main"])

In [984]:
df_cross_2 = pd.DataFrame(set_lang_21.intersection(set_lang_23), columns=["dict_entry_main"])
df_cross_2

   dict_entry_main
0         bilandro
1          segnale
2          sigillo
3           salada
4           chance
5         tragedia
6               tè
7            droga
8         cadavere
9         cogliere
10           capra
11     significare
12     caprareccia
13       insegnare
14      alloggiare
15           colta
16          cadere
17           scusa
18        pompelmo
19            boma
20       collegare
21      correttore
22           segno
23          caduta
24            boss
25           yacht
26           pacco
27            boom
28          sketch
29          colore
30         tangone
31          caduto
32        politico

In [985]:
df_lang_1_lang_3_cross = pd.merge(df_cross_2,df_lang_3,how="inner", on="dict_entry_main")
df_lang_1_lang_3_cross.drop_duplicates(inplace=True)
df_lang_1_lang_3_cross = df_lang_1_lang_3_cross[["language_main","dict_entry_main","language","dict_entry"]]
df_lang_1_lang_3_cross.rename(columns={"language_main":"lang_master","dict_entry_main":"term_master","language":"lang_sleeve","dict_entry":"term_sleeve"}, inplace=True)
df_lang_1_lang_3_cross

   lang_master  term_master  lang_sleeve term_sleeve
0      Italian     bilandro  Dutch (nld)   bijlander
1      Italian      segnale  Dutch (nld)        sein
2      Italian      sigillo  Dutch (nld)        sein
3   Portuguese       salada  Dutch (nld)      salade
4       French       chance  Dutch (nld)        dice
5      Spanish       chance  Dutch (nld)        dice
6   Portuguese       chance  Dutch (nld)        dice
7      Italian       chance  Dutch (nld)        dice
8      Italian     tragedia  Dutch (nld)     Dorians
9      Italian           tè  Dutch (nld)        thee
10     Italian        droga  Dutch (nld)       droog
11     Italian     cadavere  Dutch (nld)        dice
12     Italian     cogliere  Dutch (nld)      legere
13     Italian        capra  Dutch (nld)         bok
14     Italian  significare  Dutch (nld)        sein
15     Italian  caprareccia  Dutch (nld)         bok
16     Italian    insegnare  Dutch (nld)        sein
17     Italian   alloggiare  Dutch (nld)      laubja
18     Italian        colta  Dutch (nld)      legere
19     Italian       cadere  Dutch (nld)        dice
20     Italian        scusa  Dutch (nld)     excuser
21     Italian     pompelmo  Dutch (nld)  pompelmoes
22     Italian         boma  Dutch (nld)        boom
23     Italian    collegare  Dutch (nld)      legere
24     Italian   correttore  Dutch (nld)   corrigere
25     English        segno  Dutch (nld)        sein
26     Italian        segno  Dutch (nld)        sein
27     Italian       caduta  Dutch (nld)        dice
28      French         boss  Dutch (nld)        baas
29     Italian         boss  Dutch (nld)        baas
30     English        yacht  Dutch (nld)  jaghtschip
31      French        yacht  Dutch (nld)   jageschip
32     Italian        yacht  Dutch (nld)   jageschip
33     Italian        pacco  Dutch (nld)         pak
34      French         boom  Dutch (nld)        boom
35     Spanish         boom  Dutch (nld)        boom
36  Portuguese         boom  Dutch (nld)        boom
37     Italian         boom  Dutch (nld)        boom
38     English       sketch  Dutch (nld)      schets
39      French       sketch  Dutch (nld)      schets
40     Italian       sketch  Dutch (nld)      schets
41     Italian       colore  Dutch (nld)       kleur
42     Italian      tangone  Dutch (nld)       tange
43     Italian       caduto  Dutch (nld)        dice
44     Italian     politico  Dutch (nld)    politiek

In [986]:
df_lang_1_lang_2_lang_3 = pd.concat([df_lang_1_lang_2_cross,df_lang_1_lang_3_cross], axis=0)
df_lang_1_lang_2_lang_3.reset_index(drop=True, inplace=True)
df_lang_1_lang_2_lang_3["term_master"] = df_lang_1_lang_2_lang_3["term_master"].apply(lambda x: x.lower())
df_lang_1_lang_2_lang_3["term_sleeve"] = df_lang_1_lang_2_lang_3["term_sleeve"].apply(lambda x: x.lower())
df_lang_1_lang_2_lang_3

    lang_master  term_master  lang_sleeve term_sleeve
0       Italian   annobilire        Dutch       nobel
1       Italian       nobile        Dutch       nobel
2       Italian  artiglieria        Dutch  artillerie
3       Italian       chiaro        Dutch       klaar
4       Italian     roulette        Dutch     rollade
..          ...          ...          ...         ...
294     Italian       sketch  Dutch (nld)      schets
295     Italian       colore  Dutch (nld)       kleur
296     Italian      tangone  Dutch (nld)       tange
297     Italian       caduto  Dutch (nld)        dice
298     Italian     politico  Dutch (nld)    politiek

[299 rows x 4 columns]

In [987]:
#df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_2.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
#df_word = df_word.head(40000)
#df_word = df_word.loc[:,["word"]]
#df_word.rename(columns={"word":"term_sleeve"}, inplace=True)
#df_word

In [988]:
#df_lang_1_lang_2_lang_3 = pd.merge(df_lang_1_lang_2_lang_3,df_word, how="inner", on="term_sleeve")
#df_lang_1_lang_2_lang_3

In [989]:
df_lang_1_lang_2_lang_3.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx", index=False)