### Etymology Cross Check

In [241]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize

#### Etymologeek Result

In [242]:
lang_1 = "Dutch"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "English"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian
if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass
#lang_3 = "English (eng)"  # English (eng), Turkish (tur), German (deu), French (fra), Spanish (spa), Arabic (ara), Russian (rus), 
                          # Portuguese (por), Dutch (nld), Italian (ita)
print(f"{lang_2}\n{lang_3}")

English
English (eng)

In [213]:
lang_1_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/*/{lang_1.capitalize()}_And_*_Etymologeek_Result1.xlsx")
lang_1_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Dutch (nld)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Arabic (ara)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_English (eng)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_French (fra)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Portuguese (por)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Spanish (spa)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_German (deu)_Etymologeek_Result1.xlsx']

In [214]:
df_lang_1 = pd.DataFrame()
for i in lang_1_file:
    df_var = pd.read_excel(f"{i}")
    df_lang_1 = pd.concat([df_lang_1,df_var], axis=0)
    df_lang_1.reset_index(drop=True, inplace=True)
df_lang_1

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,şans,şans,Turkish,(Noun) Fortune. Luck.Fortune. Luck.,dice,Dutch (nld),NaN
1,loca,loca,Turkish,(Noun) (masonic) lodge. Box (in theaters).(mas...,laubja,Dutch (nld),NaN
2,mı,mıknatıs,Turkish,(Noun) Magnet.Magnet.,مِغْنَاطِيس,Arabic (ara),NaN
3,mı,mısdak,Turkish,(Noun) (obsolete) criterion.(obsolete) criterion.,مِصْدَاق,Arabic (ara),NaN
4,şey,şey,Turkish,(Noun Interjection) (slang) genital organ. Thi...,شَيْئاً,Arabic (ara),NaN
...,...,...,...,...,...,...,...
732,vermut,vermut,Turkish,(Noun),wermut,German (deu),"Vermouth is an aromatized fortified wine, flav..."
733,panzer,panzer,Turkish,(Noun),panzer,German (deu),A tank is an armoured fighting vehicle intende...
734,tonymayster,tonymayster,Turkish,(Noun),tonmeister,German (deu),Tonmeister
735,filinta,filinta,Turkish,(Noun),flinte,German (deu),Flinte
736,kuvars,kuvars,Turkish,(Noun),quarz,German (deu),"Quartz is a hard, crystalline mineral composed..."

In [215]:
lang_2_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/*/{lang_2.capitalize()}_And_*_Etymologeek_Result1.xlsx")
lang_2_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Arabic (ara)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Dutch (nld)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_English (eng)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_French (fra)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_German (deu)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Portuguese (por)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Russian (rus)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Spanish (spa)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Turkish (tur)_Etymologeek_Result1.xlsx']

In [216]:
df_lang_2 = pd.DataFrame()
for i in lang_2_file:
    df_var2 = pd.read_excel(f"{i}")
    df_lang_2 = pd.concat([df_lang_2,df_var2], axis=0)
    df_lang_2.reset_index(drop=True, inplace=True)
df_lang_2

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,tarif,tariffa,Italian,"(Noun Verb) Rate, tariff, price, charge, fare ...",تَعْرِفَة,Arabic (ara),NaN
1,nadir,nadir,Italian,(Noun) (astronomy) nadir.(astronomy) nadir.,نَظِير السَّمْت,Arabic (ara),NaN
2,atan,atanor,Italian,(Noun) Athanor.Athanor.,تنور,Arabic (ara),"Illumination, enlightenment Cook stove. Oven, ..."
3,tuz,tuzia,Italian,(Noun) Tutty.Tutty.,تُوتِيَاء,Arabic (ara),NaN
4,burnu,burnus,Italian,(Noun) Burnoose.Burnoose.,بُرْنُس,Arabic (ara),NaN
...,...,...,...,...,...,...,...
794,ulan,ulano,Italian,"(Noun) Ulan, uhlan.Ulan, uhlan.",oğlan,Turkish (tur),"(slang) catamite. Boy, male child."
795,cia,ciabatta,Italian,(Noun) (cooking) ciabatta (flat bread). Power ...,zabata,Turkish (tur),NaN
796,curb,curbascio,Italian,(Noun) Whip.Whip.,kırbaç,Turkish (tur),"Whip, lash."
797,yogurt,yogurt,Italian,(Noun) Yogurt.Yogurt.,yoğurt,Turkish (tur),Yogurt.
798,scia,sciacallo,Italian,(Noun) Jackal. Looter. Profiteer.Jackal. Loote...,çakal,Turkish (tur),"(pejorative, derogatory) A detestable person, ..."

In [217]:
set_lang_11 = set(df_lang_1["dict_entry"])

In [218]:
set_lang_12 = set(df_lang_2["dict_entry"])

In [219]:
df_cross = pd.DataFrame(set_lang_11.intersection(set_lang_12), columns=["dict_entry"])
df_cross

   dict_entry
0         cou
1     pajamas
2        goal
3     campaña
4        Bank
..        ...
57     pijama
58      poser
59     laubja
60       chef
61  chocolate

[62 rows x 1 columns]

In [220]:
df_lang_1_lang_2_cross = pd.merge(df_cross,df_lang_1,how="inner", on="dict_entry")
df_lang_1_lang_2_cross

,dict_entry,search_word,dict_entry_main,language_main,definition_main,language,definition
0,cou,kolye,kolye,Turkish,(Noun) Necklace.Necklace.,French (fra),Neck.
1,pajamas,pijama,pijama,Turkish,(Noun) Pyjama.Pyjama.,English (eng),"Clothes for wearing to bed and sleeping in, us..."
2,goal,gül,gül,Turkish,(Noun) Rose.Rose.,English (eng),"(Gaelic football, Australian rules) To score a..."
3,campaña,şampanya,şampanya,Turkish,(Noun) Champagne.Champagne.,Spanish (spa),(heraldiccharge) base. Campaign. Countryside.
4,Bank,banka,banka,Turkish,(Noun) Bank.Bank.,German (deu),A facility for storage of a particular thing:....
...,...,...,...,...,...,...,...
62,pijama,pijama,pijama,Turkish,(Noun) Pyjama.Pyjama.,French (fra),NaN
63,poser,depo,depo,Turkish,(Noun) Depot.Depot.,French (fra),(transitive) to ask (a question). (transitive)...
64,laubja,loca,loca,Turkish,(Noun) (masonic) lodge. Box (in theaters).(mas...,Dutch (nld),NaN
65,chef,şef,şef,Turkish,(Noun) Boss.Boss.,French (fra),(heraldiccharge) chief; top third of a coat of...
66,chocolate,çikolata,çikolata,Turkish,(Noun) Chocolate.Chocolate.,Spanish (spa),(slang) hashish (the leaves of the Indian hemp...

In [221]:
df_cross_1 = df_lang_1_lang_2_cross[["dict_entry_main"]].drop_duplicates()
df_cross_1

   dict_entry_main
0            kolye
1           pijama
2              gül
3         şampanya
4            banka
5              maç
6             şans
7            sıfır
8           harita
9             site
10             şok
11             şov
12         sandviç
13          sinema
14    sinematograf
16         oksijen
17          kültür
18         beyzbol
19        röportaj
20            lord
21          amatör
22            boks
23           masaj
24            tren
26          metres
28           sosis
29           dosya
30            bira
31       konferans
32        referans
33        pantolon
34        pozisyon
35          fatura
36           şeker
37           şükür
38             sos
39           alkol
40          kanser
41          makyaj
42           gitar
43           kalıp
44          biftek
45       biftekkek
46         tuvalet
47          reklam
49           lider
50          kravat
51            puro
53            test
54           seksi
56           viski
57           mesaj
58            jüri
60      helikopter
61           şarap
63            depo
64            loca
65             şef
66        çikolata

In [222]:
#df_lang_2_lang_1_cross = pd.merge(df_cross,df_lang_2,how="inner", on="dict_entry")  # for second language (pair)
#df_lang_2_lang_1_cross

In [223]:
lang_3_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/*/*_And_{lang_3.capitalize()}_Etymologeek_Result1.xlsx")
lang_3_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/English/English_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/German/German_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/French/French_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Spanish/Spanish_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Arabic/Arabic_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Russian/Russian_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Portuguese/Portuguese_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_Italian (ita)_Etymologeek_Result1.xlsx']

In [224]:
df_lang_3 = pd.DataFrame()
for i in lang_3_file:
    df_var3 = pd.read_excel(f"{i}")
    df_lang_3 = pd.concat([df_lang_3,df_var3], axis=0)
    df_lang_3.reset_index(drop=True, inplace=True)
df_lang_3

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,polis,polis,Turkish,(Noun) Police (an organisation that enforces t...,polizia,Italian (ita),Police.
1,kaptan,kaptan,Turkish,(Noun) Captain.Captain.,capitan,Italian (ita),NaN
2,bira,bira,Turkish,(Noun) Beer.Beer.,birra,Italian (ita),"Beer. Beer, glass of beer."
3,grup,grup,Turkish,"(Noun) (mathematics, music) grup. Group.(mathe...",groppo,Italian (ita),Tangle.
4,banka,banka,Turkish,(Noun) Bank.Bank.,banca,Italian (ita),Bank (financial institution).
...,...,...,...,...,...,...,...
1163,sopra,sopraan,Dutch,"(Noun) (music) The soprano, the highest of the...",sopra,Italian (ita),"Above. On top. Up Above. More than. On, onto. ..."
1164,frega,fregat,Dutch,"(Noun) A frigate, type of (once sailing, small...",fregata,Italian (ita),"Frigate Rip-off. Rub, polish."
1165,provi,proviand,Dutch,"(Noun) Food supplies, edible provision, in par...",provianda,Italian (ita),NaN
1166,libretto,libretto,Dutch,(Noun) (music) libretto.(music) libretto.,libro,Italian (ita),(botany) phloem. Book. Omasum.
1167,lotto,lotto,Dutch,NaN,lotto,Italian (ita),Lot. Lottery. Plot (of land).

In [225]:
set_lang_21 = set(df_lang_1["dict_entry_main"])

In [226]:
set_lang_23 = set(df_lang_3["dict_entry_main"])

In [227]:
df_cross_2 = pd.DataFrame(set_lang_21.intersection(set_lang_23), columns=["dict_entry_main"])
df_cross_2

   dict_entry_main
0             kare
1          entrika
2          senaryo
3            polis
4            bilet
5            conta
6           balina
7         çikolata
8            mafya
9           konser
10          korsan
11            grup
12            loca
13           balon
14         madalya
15          düzine
16          kaptan
17           amigo
18          salata
19         makarna
20          makine
21         fabrika
22         palyaço
23          makina
24          fatura
25            bira
26          kabine
27         tiyatro
28        protesto
29           çinko
30            kasa
31         fırtına
32           banka
33          gazete
34           firma
35            mayo
36           banyo
37    mafya babası
38        pantolon
39            onur
40            moda
41         kariyer
42             duş
43          antika
44        politika
45           salon
46           roket
47            vals
48         sigorta
49           tarif
50        kamuflaj
51           borda

In [228]:
df_cross_12_word = pd.concat([df_cross_1,df_cross_2], axis=0)
df_cross_12_word.drop_duplicates(inplace=True)
df_cross_12_word

   dict_entry_main
0            kolye
1           pijama
2              gül
3         şampanya
4            banka
..             ...
47            vals
48         sigorta
49           tarif
50        kamuflaj
51           borda

[105 rows x 1 columns]

#### Github Data Result

##### Part 1

In [229]:
df_github_cross_result = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_github_cross_result

,term_id,lang,term,reltype,related_term_id,related_lang,related_term
0,yglj90QEWaGcUI2-FXe41Q,Turkish,palavra,derived_from,JHVmHqAPXEq-YaIbd0B5Jg,Ancient greek,παραβολή
1,QDVQAg50WQymOq6pxRgCYw,Turkish,parabol,derived_from,JHVmHqAPXEq-YaIbd0B5Jg,Ancient greek,παραβολή
2,laDFbv6BUfiKYXbUNUtIUg,Turkish,alternatif,derived_from,ZSxxztTSVm6V_6rNEGaKhQ,Latin,alter
3,7uaTXsE8Xf2lN_stc4ygFg,Turkish,çek,derived_from,crVVT9teU8aDKQjnHlsDQw,Middle persian,𐭬𐭫𐭪𐭠
4,39IkQpAPXAeUoZmFGvCn8A,Turkish,broş,derived_from,EdLnt58rWpWxL_UbjnY8aw,Vulgar latin,brocca
...,...,...,...,...,...,...,...
351,TPQ8YvZGW5GpGsdOllqp-A,Turkish,pijama,derived_from,ksheUv1HXryKq1kAYr6yMQ,Urdu,پاجامہ
352,EVF-44MSXtC55zfAMX96ug,Turkish,traktör,derived_from,gdUU9jUWV3-ZVOGB-hnD7A,Latin,tract
353,3ja7SQy3Vqq61C3tfK36fQ,Turkish,sigortacı,derived_from,AsCOIxVkWxuDILpsZwg1ug,Latin,securitas
354,PqHIEiZsViOekwMHtLqHwA,Turkish,afyonkarahisar,derived_from,GtqsFdsRXcqWOmtsk8k7RA,Ancient greek,ὄπιον
355,PqXxLHqgWIuM95niN1tVtQ,Turkish,bikini,derived_from,oqwJif0MXBegenMOx5b9bw,Marshallese,Pikinni

In [230]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"term"}, inplace=True)
df_word

               term
0               bir
1            fikret
2                bu
3                ne
4                ve
...             ...
39995    ekipmanlar
39996     şanslılar
39997     aksanıyla
39998  yargılanacak
39999     tepkisini

[40000 rows x 1 columns]

In [231]:
df_github_cross_result = pd.merge(df_github_cross_result,df_word,how="inner",on="term")
df_github_cross_result

,term_id,lang,term,reltype,related_term_id,related_lang,related_term
0,yglj90QEWaGcUI2-FXe41Q,Turkish,palavra,derived_from,JHVmHqAPXEq-YaIbd0B5Jg,Ancient greek,παραβολή
1,laDFbv6BUfiKYXbUNUtIUg,Turkish,alternatif,derived_from,ZSxxztTSVm6V_6rNEGaKhQ,Latin,alter
2,7uaTXsE8Xf2lN_stc4ygFg,Turkish,çek,derived_from,crVVT9teU8aDKQjnHlsDQw,Middle persian,𐭬𐭫𐭪𐭠
3,6ApISjwlWqeRbhRl_r5DKQ,Turkish,sıfır,derived_from,PzMZaVy3UqWmKxAtjw_gLg,Arabic,صِفْر
4,y1VMnygUUSKKi3xRfeVniQ,Turkish,sıfırdan,derived_from,PzMZaVy3UqWmKxAtjw_gLg,Arabic,صِفْر
...,...,...,...,...,...,...,...
198,oFSmpK3BUnOqxUls2_hqQg,Turkish,petrol,derived_from,vJmB5QOcW-Ct7m4ehI3uGw,Latin,petroleum
199,0EE5O8uEWbS-_xARL-vJaw,Turkish,silindir,derived_from,EuWYJQS3XUmwMvKT5rPZdw,Ancient greek,κύλινδρος
200,TPQ8YvZGW5GpGsdOllqp-A,Turkish,pijama,derived_from,ksheUv1HXryKq1kAYr6yMQ,Urdu,پاجامہ
201,EVF-44MSXtC55zfAMX96ug,Turkish,traktör,derived_from,gdUU9jUWV3-ZVOGB-hnD7A,Latin,tract
202,PqXxLHqgWIuM95niN1tVtQ,Turkish,bikini,derived_from,oqwJif0MXBegenMOx5b9bw,Marshallese,Pikinni

In [232]:
#df_github_cross_result.to_excel("Turkish_And_Portuguese_Etymologeek_Result.xlsx", index=False)

In [233]:
df_github_cross_term = df_github_cross_result[["term"]]
df_github_cross_term["term"] = df_github_cross_term["term"].apply(lambda x: x.lower()) 
df_github_cross_term.rename(columns={"term":"dict_entry_main"}, inplace=True)
df_github_cross_term

<ipython-input-233-9d4c3a2109ce>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_github_cross_term["term"] = df_github_cross_term["term"].apply(lambda x: x.lower())
/home/kurubal/anaconda3/envs/py39/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

    dict_entry_main
0           palavra
1        alternatif
2               çek
3             sıfır
4          sıfırdan
..              ...
198          petrol
199        silindir
200          pijama
201         traktör
202          bikini

[203 rows x 1 columns]

In [234]:
df_12_cross = pd.concat([df_cross_12_word,df_github_cross_term],axis=0)
df_12_cross.drop_duplicates(inplace=True)
df_12_cross.reset_index(drop=True,inplace=True)
df_12_cross

    dict_entry_main
0             kolye
1            pijama
2               gül
3          şampanya
4             banka
..              ...
269           ironi
270          petrol
271        silindir
272         traktör
273          bikini

[274 rows x 1 columns]

##### Part 2

In [235]:
df_github_clean_result = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_github_clean_result

        lang     term        reltype related_lang related_term
0    Turkish    zebra  borrowed_from      Italian        zebra
1    Turkish     papa  borrowed_from      Italian         papa
2    Turkish     lira   derived_from      Italian         lira
3    Turkish   napoli  borrowed_from      Italian       Napoli
4    Turkish     tema  borrowed_from      Italian         tema
..       ...      ...            ...          ...          ...
161  Turkish   sinyor   derived_from      Italian       signor
162  Turkish  kasadar   derived_from      Italian        cassa
163  Turkish  kasiyer   derived_from      Italian     cassiere
164  Turkish  bilanço   derived_from      Italian     bilancio
165  Turkish    balya   derived_from      Italian        balla

[166 rows x 5 columns]

In [236]:
df_github_clean = df_github_clean_result.loc[:,["term"]]
df_github_clean.rename(columns={"term":"dict_entry_main"}, inplace=True)
df_github_clean

    dict_entry_main
0             zebra
1              papa
2              lira
3            napoli
4              tema
..              ...
161          sinyor
162         kasadar
163         kasiyer
164         bilanço
165           balya

[166 rows x 1 columns]

In [237]:
df_12_cross_clean = pd.concat([df_12_cross,df_github_clean],axis=0)
df_12_cross_clean.drop_duplicates(inplace=True)
df_12_cross_clean.reset_index(drop=True,inplace=True)
df_12_cross_clean

    dict_entry_main
0             kolye
1            pijama
2               gül
3          şampanya
4             banka
..              ...
377          sinyor
378         kasadar
379         kasiyer
380         bilanço
381           balya

[382 rows x 1 columns]

In [238]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"dict_entry_main"}, inplace=True)
df_word

      dict_entry_main
0                 bir
1              fikret
2                  bu
3                  ne
4                  ve
...               ...
39995      ekipmanlar
39996       şanslılar
39997       aksanıyla
39998    yargılanacak
39999       tepkisini

[40000 rows x 1 columns]

In [239]:
df_cross_result = pd.merge(df_12_cross_clean,df_word,how="inner",on="dict_entry_main")
df_cross_result

    dict_entry_main
0             kolye
1            pijama
2               gül
3          şampanya
4             banka
..              ...
303           plaka
304           kopya
305        kampanya
306       mekanizma
307          sinyor

[308 rows x 1 columns]

In [240]:
df_cross_result.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx")