### Etymology Cross Check

In [393]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize

#### Etymologeek Result

In [394]:
lang_1 = "German"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "English"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian
if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass
#lang_3 = "English (eng)"  # English (eng), Turkish (tur), German (deu), French (fra), Spanish (spa), Arabic (ara), Russian (rus), 
                          # Portuguese (por), Dutch (nld), Italian (ita)
print(f"{lang_1}\n{lang_2}\n{lang_3}")

English
Italian
Italian (ita)

In [395]:
lang_1_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/*/{lang_1.capitalize()}_And_*_Etymologeek_Result1.xlsx")
lang_1_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/English/English_And_Arabic (ara)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/English/English_And_Dutch (nld)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/English/English_And_French (fra)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/English/English_And_German (deu)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/English/English_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/English/English_And_Portuguese (por)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/English/English_And_Russian (rus)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/English/English_And_Spanish (spa)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/English/English_And_Turkish (tur)_Etymologeek_Result1.xlsx']

In [396]:
df_lang_1 = pd.DataFrame()
for i in lang_1_file:
    df_var = pd.read_excel(f"{i}")
    df_lang_1 = pd.concat([df_lang_1,df_var], axis=0)
    df_lang_1.reset_index(drop=True, inplace=True)
df_lang_1

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,aman,amanaty,English,(Noun) (historical) Native American hostages t...,أَمَانَة,Arabic (ara),NaN
1,sakin,sakina,English,(Noun) (Islam) the divine tranquility obtained...,سَكِينَة,Arabic (ara),NaN
2,cevap,cevapi,English,(Noun) A Balkan food dish of minced meat.A Bal...,كَبَاب,Arabic (ara),NaN
3,hale,haleem,English,(Noun) A stew-like dish traditionally consisti...,حَلِيم,Arabic (ara),NaN
4,dua,dua,English,(Noun) (Islam) An Islamic invocation.(Islam) A...,دَعَا,Arabic (ara),NaN
...,...,...,...,...,...,...,...
3033,marta,martagon,English,(Noun) A Eurasian lily.A Eurasian lily.,martagan,Turkish (tur),NaN
3034,lahm,lahmacun,English,(Noun) A dish of Arab origin consisting of a r...,lahmacun,Turkish (tur),Lahmacun.
3035,caza,caza,English,(Noun) A Turkish provincial subdivision.A Turk...,kaza,Turkish (tur),Accident.
3036,chagrin,chagrin,English,(Verb Noun) (intransitive) To be vexed or anno...,sağrı,Turkish (tur),The chubby and round part of a mammal's body b...
3037,gilet,gilet,English,(Noun) A sleeveless jacket similar to a waistc...,yelek,Turkish (tur),"Jelick. Waistcoat, vest."

In [397]:
lang_2_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/*/{lang_2.capitalize()}_And_*_Etymologeek_Result1.xlsx")
lang_2_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Arabic (ara)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Dutch (nld)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_English (eng)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_French (fra)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_German (deu)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Portuguese (por)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Russian (rus)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Spanish (spa)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Turkish (tur)_Etymologeek_Result1.xlsx']

In [398]:
df_lang_2 = pd.DataFrame()
for i in lang_2_file:
    df_var2 = pd.read_excel(f"{i}")
    df_lang_2 = pd.concat([df_lang_2,df_var2], axis=0)
    df_lang_2.reset_index(drop=True, inplace=True)
df_lang_2

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,tarif,tariffa,Italian,"(Noun Verb) Rate, tariff, price, charge, fare ...",تَعْرِفَة,Arabic (ara),NaN
1,nadir,nadir,Italian,(Noun) (astronomy) nadir.(astronomy) nadir.,نَظِير السَّمْت,Arabic (ara),NaN
2,atan,atanor,Italian,(Noun) Athanor.Athanor.,تنور,Arabic (ara),"Illumination, enlightenment Cook stove. Oven, ..."
3,tuz,tuzia,Italian,(Noun) Tutty.Tutty.,تُوتِيَاء,Arabic (ara),NaN
4,burnu,burnus,Italian,(Noun) Burnoose.Burnoose.,بُرْنُس,Arabic (ara),NaN
...,...,...,...,...,...,...,...
794,ulan,ulano,Italian,"(Noun) Ulan, uhlan.Ulan, uhlan.",oğlan,Turkish (tur),"(slang) catamite. Boy, male child."
795,cia,ciabatta,Italian,(Noun) (cooking) ciabatta (flat bread). Power ...,zabata,Turkish (tur),NaN
796,curb,curbascio,Italian,(Noun) Whip.Whip.,kırbaç,Turkish (tur),"Whip, lash."
797,yogurt,yogurt,Italian,(Noun) Yogurt.Yogurt.,yoğurt,Turkish (tur),Yogurt.
798,scia,sciacallo,Italian,(Noun) Jackal. Looter. Profiteer.Jackal. Loote...,çakal,Turkish (tur),"(pejorative, derogatory) A detestable person, ..."

In [399]:
set_lang_11 = set(df_lang_1["dict_entry"])

In [400]:
set_lang_12 = set(df_lang_2["dict_entry"])

In [401]:
df_cross = pd.DataFrame(set_lang_11.intersection(set_lang_12), columns=["dict_entry"])
df_cross

      dict_entry
0    reconqueste
1       boutique
2           sumo
3           fuck
4        سُمَّاق
..           ...
203          طبل
204          pur
205    prehensus
206      émotion
207         -oso

[208 rows x 1 columns]

In [402]:
df_lang_1_cross = pd.merge(df_cross,df_lang_1,how="inner", on="dict_entry")
df_lang_1_cross.drop_duplicates(inplace=True)
df_lang_1_cross = df_lang_1_cross[["language_main","dict_entry_main","dict_entry"]]
df_lang_1_cross.rename(columns={"language_main":"lang_master","dict_entry_main":"term_master"}, inplace=True)
df_lang_1_cross

    lang_master    term_master   dict_entry
0       English       relevant  reconqueste
1       English  ramollescence  reconqueste
2       English     retirement  reconqueste
3       English        relieve  reconqueste
4       English         regret  reconqueste
..          ...            ...          ...
340     English           pure          pur
341     English           puro          pur
342     English          price    prehensus
343     English        emotion      émotion
344     English        vicious         -oso

[345 rows x 3 columns]

In [403]:
df_lang_2_cross = pd.merge(df_cross,df_lang_2,how="inner", on="dict_entry")
df_lang_2_cross.drop_duplicates(inplace=True)
df_lang_2_cross = df_lang_2_cross[["language_main","dict_entry_main","dict_entry"]]
df_lang_2_cross.rename(columns={"language_main":"lang_sleeve","dict_entry_main":"term_sleeve"}, inplace=True)
df_lang_2_cross

    lang_sleeve term_sleeve   dict_entry
0       Italian   rilevante  reconqueste
1       Italian    boutique     boutique
2       Italian    assumere         sumo
3       Italian     fottiti         fuck
4       Italian    sommacco      سُمَّاق
..          ...         ...          ...
293     Italian        pure          pur
294     Italian        puro          pur
295     Italian       preso    prehensus
296     Italian    emozione      émotion
297     Italian    foglioso         -oso

[298 rows x 3 columns]

In [404]:
df_lang_1_lang_2_cross = pd.merge(df_lang_1_cross,df_lang_2_cross, how="inner", on="dict_entry")
df_lang_1_lang_2_cross.drop_duplicates(inplace=True)
df_lang_1_lang_2_cross = df_lang_1_lang_2_cross[["lang_master","term_master","lang_sleeve","term_sleeve"]]
df_lang_1_lang_2_cross

    lang_master    term_master lang_sleeve term_sleeve
0       English       relevant     Italian   rilevante
1       English  ramollescence     Italian   rilevante
2       English     retirement     Italian   rilevante
3       English        relieve     Italian   rilevante
4       English         regret     Italian   rilevante
..          ...            ...         ...         ...
671     English           puro     Italian        pure
672     English           puro     Italian        puro
673     English          price     Italian       preso
674     English        emotion     Italian    emozione
675     English        vicious     Italian    foglioso

[654 rows x 4 columns]

In [405]:
lang_3_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/*/*_And_{lang_3.capitalize()}_Etymologeek_Result1.xlsx")
lang_3_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/English/English_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/German/German_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/French/French_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Spanish/Spanish_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Arabic/Arabic_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Russian/Russian_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Portuguese/Portuguese_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_Italian (ita)_Etymologeek_Result1.xlsx']

In [406]:
df_lang_3 = pd.DataFrame()
for i in lang_3_file:
    df_var3 = pd.read_excel(f"{i}")
    df_lang_3 = pd.concat([df_lang_3,df_var3], axis=0)
    df_lang_3.reset_index(drop=True, inplace=True)
df_lang_3

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,polis,polis,Turkish,(Noun) Police (an organisation that enforces t...,polizia,Italian (ita),Police.
1,kaptan,kaptan,Turkish,(Noun) Captain.Captain.,capitan,Italian (ita),NaN
2,bira,bira,Turkish,(Noun) Beer.Beer.,birra,Italian (ita),"Beer. Beer, glass of beer."
3,grup,grup,Turkish,"(Noun) (mathematics, music) grup. Group.(mathe...",groppo,Italian (ita),Tangle.
4,banka,banka,Turkish,(Noun) Bank.Bank.,banca,Italian (ita),Bank (financial institution).
...,...,...,...,...,...,...,...
1163,sopra,sopraan,Dutch,"(Noun) (music) The soprano, the highest of the...",sopra,Italian (ita),"Above. On top. Up Above. More than. On, onto. ..."
1164,frega,fregat,Dutch,"(Noun) A frigate, type of (once sailing, small...",fregata,Italian (ita),"Frigate Rip-off. Rub, polish."
1165,provi,proviand,Dutch,"(Noun) Food supplies, edible provision, in par...",provianda,Italian (ita),NaN
1166,libretto,libretto,Dutch,(Noun) (music) libretto.(music) libretto.,libro,Italian (ita),(botany) phloem. Book. Omasum.
1167,lotto,lotto,Dutch,NaN,lotto,Italian (ita),Lot. Lottery. Plot (of land).

In [407]:
set_lang_21 = set(df_lang_1["dict_entry_main"])

In [408]:
set_lang_23 = set(df_lang_3["dict_entry_main"])

In [409]:
df_cross_2 = pd.DataFrame(set_lang_21.intersection(set_lang_23), columns=["dict_entry_main"])
df_cross_2

    dict_entry_main
0          campaign
1             brave
2          remember
3                oz
4          milliard
..              ...
480      catenaccio
481          accord
482            vain
483          ultimo
484         brigade

[485 rows x 1 columns]

In [410]:
df_lang_1_lang_3_cross = pd.merge(df_cross_2,df_lang_3,how="inner", on="dict_entry_main")
df_lang_1_lang_3_cross.drop_duplicates(inplace=True)
df_lang_1_lang_3_cross = df_lang_1_lang_3_cross[["language_main","dict_entry_main","language","dict_entry"]]
df_lang_1_lang_3_cross.rename(columns={"language_main":"lang_master","dict_entry_main":"term_master","language":"lang_sleeve","dict_entry":"term_sleeve"}, inplace=True)
df_lang_1_lang_3_cross

    lang_master term_master    lang_sleeve term_sleeve
0       English    campaign  Italian (ita)    campagna
1       English       brave  Italian (ita)       bravo
2        French       brave  Italian (ita)       bravo
3       English    remember  Italian (ita)   rememoror
4       English          oz  Italian (ita)        onza
..          ...         ...            ...         ...
611     English        vain  Italian (ita)        vano
612      French        vain  Italian (ita)        vano
613     English      ultimo  Italian (ita)      ultimo
614     English     brigade  Italian (ita)       briga
615      French     brigade  Italian (ita)       briga

[616 rows x 4 columns]

In [411]:
df_lang_1_lang_2_lang_3 = pd.concat([df_lang_1_lang_2_cross,df_lang_1_lang_3_cross], axis=0)
df_lang_1_lang_2_lang_3.reset_index(drop=True, inplace=True)
df_lang_1_lang_2_lang_3["term_master"] = df_lang_1_lang_2_lang_3["term_master"].apply(lambda x: x.lower())
df_lang_1_lang_2_lang_3["term_sleeve"] = df_lang_1_lang_2_lang_3["term_sleeve"].apply(lambda x: x.lower())
df_lang_1_lang_2_lang_3

     lang_master    term_master    lang_sleeve term_sleeve
0        English       relevant        Italian   rilevante
1        English  ramollescence        Italian   rilevante
2        English     retirement        Italian   rilevante
3        English        relieve        Italian   rilevante
4        English         regret        Italian   rilevante
...          ...            ...            ...         ...
1265     English           vain  Italian (ita)        vano
1266      French           vain  Italian (ita)        vano
1267     English         ultimo  Italian (ita)      ultimo
1268     English        brigade  Italian (ita)       briga
1269      French        brigade  Italian (ita)       briga

[1270 rows x 4 columns]

In [412]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_2.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"term_sleeve"}, inplace=True)
df_word

         term_sleeve
0                  e
1                non
2                che
3                 di
4                 un
...              ...
39995  interminabili
39996       vendesse
39997      guaritori
39998          lives
39999       facetime

[40000 rows x 1 columns]

In [413]:
df_lang_1_lang_2_lang_3 = pd.merge(df_lang_1_lang_2_lang_3,df_word, how="inner", on="term_sleeve")
df_lang_1_lang_2_lang_3

    lang_master    term_master    lang_sleeve term_sleeve
0       English       relevant        Italian   rilevante
1       English  ramollescence        Italian   rilevante
2       English     retirement        Italian   rilevante
3       English        relieve        Italian   rilevante
4       English         regret        Italian   rilevante
..          ...            ...            ...         ...
962     English       corridor  Italian (ita)   corridore
963      French       corridor  Italian (ita)   corridore
964     English          fango  Italian (ita)       fango
965     English       contessa  Italian (ita)    contessa
966     English          bocca  Italian (ita)       bocca

[967 rows x 4 columns]

In [414]:
df_lang_1_lang_2_lang_3.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx", index=False)