### Etymology Cross Check

In [453]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize

#### Etymologeek Result

In [454]:
lang_1 = "English"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian
if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass
#lang_3 = "English (eng)"  # English (eng), Turkish (tur), German (deu), French (fra), Spanish (spa), Arabic (ara), Russian (rus), 
                          # Portuguese (por), Dutch (nld), Italian (ita)
print(f"{lang_1}\n{lang_2}\n{lang_3}")

Italian
Italian (ita)

In [455]:
lang_1_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/*/{lang_1.capitalize()}_And_*_Etymologeek_Result1.xlsx")
lang_1_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_Arabic (ara)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_English (eng)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_French (fra)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_German (deu)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_Portuguese (por)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_Russian (rus)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_Spanish (spa)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_Turkish (tur)_Etymologeek_Result1.xlsx']

In [456]:
df_lang_1 = pd.DataFrame()
for i in lang_1_file:
    df_var = pd.read_excel(f"{i}")
    df_lang_1 = pd.concat([df_lang_1,df_var], axis=0)
    df_lang_1.reset_index(drop=True, inplace=True)
df_lang_1

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,emir,emir,Dutch,(Noun) Emir (Islamic prince or leader).Emir (I...,أَمِير الْبَحْر,Arabic (ara),NaN
1,fakir,fakir,Dutch,"(Noun) (Islam, Hinduism) fakir.(Islam, Hinduis...",فَقِير,Arabic (ara),NaN
2,koffie,koffie,Dutch,(Noun) Coffee.Coffee.,قهوة,Arabic (ara),"(colloquial) coffee shop, café (colloquial use..."
3,genie,genie,Dutch,(Noun Noun) Genius Military engineers (unit).G...,جِنّ,Arabic (ara),NaN
4,suiker,suiker,Dutch,(Noun) Sugar.Sugar.,سُكَّر,Arabic (ara),NaN
...,...,...,...,...,...,...,...
897,prise,prise,Dutch,(Noun) (Belgium) electrical plug.(Belgium) ele...,prehensus,Spanish (spa),NaN
898,pape,papegaai,Dutch,(Noun) Parrot.Parrot.,papagayo,Spanish (spa),"Any wrasse, (Labridae). Elephant ear (Caladium..."
899,beg,beg,Dutch,(Noun) (historical) .(historical) .,beg,Turkish (tur),NaN
900,sultan,sultan,Dutch,"(Noun) A certain pastry. Sultan, a Muslim rule...",sultan,Turkish (tur),"A breed of chicken originating in Turkey, kept..."
901,bei,bei,Dutch,"(Noun) (historical) bey, beg (historical Turki...",bey,Turkish (tur),"Gentleman, mister. Husband. Lord, master."

In [457]:
lang_2_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/*/{lang_2.capitalize()}_And_*_Etymologeek_Result1.xlsx")
lang_2_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Arabic (ara)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Dutch (nld)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_English (eng)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_French (fra)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_German (deu)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Portuguese (por)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Russian (rus)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Spanish (spa)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Italian/Italian_And_Turkish (tur)_Etymologeek_Result1.xlsx']

In [458]:
df_lang_2 = pd.DataFrame()
for i in lang_2_file:
    df_var2 = pd.read_excel(f"{i}")
    df_lang_2 = pd.concat([df_lang_2,df_var2], axis=0)
    df_lang_2.reset_index(drop=True, inplace=True)
df_lang_2

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,tarif,tariffa,Italian,"(Noun Verb) Rate, tariff, price, charge, fare ...",تَعْرِفَة,Arabic (ara),NaN
1,nadir,nadir,Italian,(Noun) (astronomy) nadir.(astronomy) nadir.,نَظِير السَّمْت,Arabic (ara),NaN
2,atan,atanor,Italian,(Noun) Athanor.Athanor.,تنور,Arabic (ara),"Illumination, enlightenment Cook stove. Oven, ..."
3,tuz,tuzia,Italian,(Noun) Tutty.Tutty.,تُوتِيَاء,Arabic (ara),NaN
4,burnu,burnus,Italian,(Noun) Burnoose.Burnoose.,بُرْنُس,Arabic (ara),NaN
...,...,...,...,...,...,...,...
794,ulan,ulano,Italian,"(Noun) Ulan, uhlan.Ulan, uhlan.",oğlan,Turkish (tur),"(slang) catamite. Boy, male child."
795,cia,ciabatta,Italian,(Noun) (cooking) ciabatta (flat bread). Power ...,zabata,Turkish (tur),NaN
796,curb,curbascio,Italian,(Noun) Whip.Whip.,kırbaç,Turkish (tur),"Whip, lash."
797,yogurt,yogurt,Italian,(Noun) Yogurt.Yogurt.,yoğurt,Turkish (tur),Yogurt.
798,scia,sciacallo,Italian,(Noun) Jackal. Looter. Profiteer.Jackal. Loote...,çakal,Turkish (tur),"(pejorative, derogatory) A detestable person, ..."

In [459]:
set_lang_11 = set(df_lang_1["dict_entry"])

In [460]:
set_lang_12 = set(df_lang_2["dict_entry"])

In [461]:
df_cross = pd.DataFrame(set_lang_11.intersection(set_lang_12), columns=["dict_entry"])
df_cross

    dict_entry
0         line
1         shop
2         load
3       détail
4         jazz
..         ...
145       link
146  arranchar
147     stress
148     ranger
149     excuse

[150 rows x 1 columns]

In [462]:
df_lang_1_lang_2_cross = pd.merge(df_cross,df_lang_1,how="inner", on="dict_entry")
df_lang_1_lang_2_cross

,dict_entry,search_word,dict_entry_main,language_main,definition_main,language,definition
0,line,deadline,deadline,Dutch,(Noun) Deadline.Deadline.,English (eng),"(intransitive, baseball) To hit a line drive; ..."
1,shop,shop,shop,Dutch,(Noun) Shop.Shop.,English (eng),"(figurative, uncountable) Discussion of busine..."
2,load,download,download,Dutch,(Verb Noun) Download.Download.,English (eng),(intransitive) To be placed into storage or co...
3,load,download,downloaden,Dutch,(Verb) (Internet) to download.(Internet) to do...,English (eng),(intransitive) To be placed into storage or co...
4,détail,detail,detail,Dutch,(Noun) Detail.Detail.,French (fra),Detail (something small enough to escape casua...
...,...,...,...,...,...,...,...
172,arranchar,ranch,ranch,Dutch,"(Noun) Ranch, notably livestock breeding farm,...",Spanish (spa),(nautical) to skirt (the coast). (reflexive) t...
173,stress,stres,stress,Dutch,(Noun) Stress.Stress.,English (eng),"(Scotland, legal) distress; the act of distrai..."
174,stress,gestrest,gestrest,Dutch,(Adjective) Stressed (mentally/emotionally).St...,English (eng),"(Scotland, legal) distress; the act of distrai..."
175,ranger,ranch,ranch,Dutch,"(Noun) Ranch, notably livestock breeding farm,...",French (fra),"A ranger, one who looks after a region (reflex..."
176,excuse,excuus,excuus,Dutch,"(Noun) An excuse, apology, explanation to avoi...",French (fra),Excuse.

In [463]:
df_cross_1 = df_lang_1_lang_2_cross[["dict_entry_main"]].drop_duplicates()
df_cross_1

    dict_entry_main
0          deadline
1              shop
2          download
3        downloaden
4            detail
..              ...
170            vorm
171            link
173          stress
174        gestrest
176          excuus

[164 rows x 1 columns]

In [464]:
#df_lang_2_lang_1_cross = pd.merge(df_cross,df_lang_2,how="inner", on="dict_entry")  # for second language (pair)
#df_lang_2_lang_1_cross

In [465]:
lang_3_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/*/*_And_{lang_3.capitalize()}_Etymologeek_Result1.xlsx")
lang_3_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/English/English_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/German/German_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/French/French_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Spanish/Spanish_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Arabic/Arabic_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Russian/Russian_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Portuguese/Portuguese_And_Italian (ita)_Etymologeek_Result1.xlsx',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_Italian (ita)_Etymologeek_Result1.xlsx']

In [466]:
df_lang_3 = pd.DataFrame()
for i in lang_3_file:
    df_var3 = pd.read_excel(f"{i}")
    df_lang_3 = pd.concat([df_lang_3,df_var3], axis=0)
    df_lang_3.reset_index(drop=True, inplace=True)
df_lang_3

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,polis,polis,Turkish,(Noun) Police (an organisation that enforces t...,polizia,Italian (ita),Police.
1,kaptan,kaptan,Turkish,(Noun) Captain.Captain.,capitan,Italian (ita),NaN
2,bira,bira,Turkish,(Noun) Beer.Beer.,birra,Italian (ita),"Beer. Beer, glass of beer."
3,grup,grup,Turkish,"(Noun) (mathematics, music) grup. Group.(mathe...",groppo,Italian (ita),Tangle.
4,banka,banka,Turkish,(Noun) Bank.Bank.,banca,Italian (ita),Bank (financial institution).
...,...,...,...,...,...,...,...
1163,sopra,sopraan,Dutch,"(Noun) (music) The soprano, the highest of the...",sopra,Italian (ita),"Above. On top. Up Above. More than. On, onto. ..."
1164,frega,fregat,Dutch,"(Noun) A frigate, type of (once sailing, small...",fregata,Italian (ita),"Frigate Rip-off. Rub, polish."
1165,provi,proviand,Dutch,"(Noun) Food supplies, edible provision, in par...",provianda,Italian (ita),NaN
1166,libretto,libretto,Dutch,(Noun) (music) libretto.(music) libretto.,libro,Italian (ita),(botany) phloem. Book. Omasum.
1167,lotto,lotto,Dutch,NaN,lotto,Italian (ita),Lot. Lottery. Plot (of land).

In [467]:
set_lang_21 = set(df_lang_1["dict_entry_main"])

In [468]:
set_lang_23 = set(df_lang_3["dict_entry_main"])

In [469]:
df_cross_2 = pd.DataFrame(set_lang_21.intersection(set_lang_23), columns=["dict_entry_main"])
df_cross_2

   dict_entry_main
0         magazijn
1            salvo
2            opera
3          inferno
4          couvert
..             ...
66         miljoen
67          fresco
68         kantoor
69            race
70         luister

[71 rows x 1 columns]

In [470]:
df_cross_12_word = pd.concat([df_cross_1,df_cross_2], axis=0)
df_cross_12_word.drop_duplicates(inplace=True)
df_cross_12_word

   dict_entry_main
0         deadline
1             shop
2         download
3       downloaden
4           detail
..             ...
64           piste
66         miljoen
67          fresco
69            race
70         luister

[220 rows x 1 columns]

#### Github Data Result

##### Part 1

In [471]:
df_github_cross_result = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_github_cross_result

,term_id,lang,term,reltype,related_term_id,related_lang,related_term
0,T3g1ZUQeXwya2bciVSAgeQ,Dutch,parool,derived_from,JHVmHqAPXEq-YaIbd0B5Jg,Ancient greek,παραβολή
1,PV6rtHsbWPKIUFReZ4R2AA,Dutch,parabolisch,derived_from,JHVmHqAPXEq-YaIbd0B5Jg,Ancient greek,παραβολή
2,ijAPeSquUO-hQRpsUvLI4w,Dutch,paraboolduin,derived_from,JHVmHqAPXEq-YaIbd0B5Jg,Ancient greek,παραβολή
3,zRUt7jjZWbKr0qHXTXfOTg,Dutch,code,derived_from,oOWJdf11U3K8pH5UyI3jSA,Latin,cōdex
4,lbj4SwQwVkCgYJNpMebUig,Dutch,postcode,derived_from,oOWJdf11U3K8pH5UyI3jSA,Latin,cōdex
...,...,...,...,...,...,...,...
5559,rzZ5UCrOXauXMt73GkzUHw,Dutch,sjaal,derived_from,qjCy2LVjUtaypWLk89IbCw,Hindi,शाल
5560,C2wNyinlXYKg9FbtLFmhWg,Dutch,david,derived_from,w2gtVqYuX4Oq_F0CmLLMQQ,Hebrew,דָּוִד
5561,wjOsXz8DU3CLImBjO8YCYg,Dutch,afhankelijk,derived_from,1yf5tfcdWp-omrtbiBGPwA,Latin,dēpendeō
5562,_mz_b6ZHXTOrvPmFaVpZ5A,Dutch,bikini,derived_from,oqwJif0MXBegenMOx5b9bw,Marshallese,Pikinni
5563,oNTNWVCiUT2AJUR7gRkomg,Dutch,icarusblauwtje,derived_from,5dUlh6V5V8aV43POtpelXQ,Ancient greek,Ἴκαρος

In [472]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"term"}, inplace=True)
df_word

                     term
0                      ik
1                      je
2                     het
3                      de
4                     dat
...                   ...
39995                bois
39996                 ood
39997            melaatse
39998                poll
39999  vredesbesprekingen

[40000 rows x 1 columns]

In [473]:
df_github_cross_result = pd.merge(df_github_cross_result,df_word,how="inner",on="term")
df_github_cross_result

,term_id,lang,term,reltype,related_term_id,related_lang,related_term
0,T3g1ZUQeXwya2bciVSAgeQ,Dutch,parool,derived_from,JHVmHqAPXEq-YaIbd0B5Jg,Ancient greek,παραβολή
1,zRUt7jjZWbKr0qHXTXfOTg,Dutch,code,derived_from,oOWJdf11U3K8pH5UyI3jSA,Latin,cōdex
2,lbj4SwQwVkCgYJNpMebUig,Dutch,postcode,derived_from,oOWJdf11U3K8pH5UyI3jSA,Latin,cōdex
3,gz64TIW3UNSSd38KffWKNg,Dutch,codewoord,derived_from,oOWJdf11U3K8pH5UyI3jSA,Latin,cōdex
4,_SfrMEmaXnmaWtbpij7bnQ,Dutch,broncode,derived_from,oOWJdf11U3K8pH5UyI3jSA,Latin,cōdex
...,...,...,...,...,...,...,...
1648,GSUh4mx6XI6SCE2UoppgJw,Dutch,bongo,derived_from,vsCYtRzFVVynOqsupTfNVA,Ekele,boungu
1649,rzZ5UCrOXauXMt73GkzUHw,Dutch,sjaal,derived_from,qjCy2LVjUtaypWLk89IbCw,Hindi,शाल
1650,C2wNyinlXYKg9FbtLFmhWg,Dutch,david,derived_from,w2gtVqYuX4Oq_F0CmLLMQQ,Hebrew,דָּוִד
1651,wjOsXz8DU3CLImBjO8YCYg,Dutch,afhankelijk,derived_from,1yf5tfcdWp-omrtbiBGPwA,Latin,dēpendeō
1652,_mz_b6ZHXTOrvPmFaVpZ5A,Dutch,bikini,derived_from,oqwJif0MXBegenMOx5b9bw,Marshallese,Pikinni

In [474]:
#df_github_cross_result.to_excel("Turkish_And_Portuguese_Etymologeek_Result.xlsx", index=False)

In [475]:
df_github_cross_term = df_github_cross_result[["term"]]
df_github_cross_term["term"] = df_github_cross_term["term"].apply(lambda x: x.lower()) 
df_github_cross_term.rename(columns={"term":"dict_entry_main"}, inplace=True)
df_github_cross_term

<ipython-input-475-9d4c3a2109ce>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_github_cross_term["term"] = df_github_cross_term["term"].apply(lambda x: x.lower())
/home/kurubal/anaconda3/envs/py39/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

     dict_entry_main
0             parool
1               code
2           postcode
3          codewoord
4           broncode
...              ...
1648           bongo
1649           sjaal
1650           david
1651     afhankelijk
1652          bikini

[1653 rows x 1 columns]

In [476]:
df_12_cross = pd.concat([df_cross_12_word,df_github_cross_term],axis=0)
df_12_cross.drop_duplicates(inplace=True)
df_12_cross.reset_index(drop=True,inplace=True)
df_12_cross

     dict_entry_main
0           deadline
1               shop
2           download
3         downloaden
4             detail
...              ...
1806           bongo
1807           sjaal
1808           david
1809     afhankelijk
1810          bikini

[1811 rows x 1 columns]

##### Part 2

In [477]:
df_github_clean_result = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_github_clean_result

      lang       term                    reltype related_lang related_term
0    Dutch     libero              borrowed_from      Italian       libero
1    Dutch       bank               derived_from      Italian        banco
2    Dutch  venezuela               derived_from      Italian    Veneziola
3    Dutch      tempo              borrowed_from      Italian        tempo
4    Dutch     finale              borrowed_from      Italian       finale
..     ...        ...                        ...          ...          ...
322  Dutch    gireren              borrowed_from      Italian       girare
323  Dutch    pavijen  etymologically_related_to      Italian        Pavia
324  Dutch    brokaat               derived_from      Italian     broccato
325  Dutch    kwintet              borrowed_from      Italian    quintetto
326  Dutch      piëta              borrowed_from      Italian        pietà

[327 rows x 5 columns]

In [478]:
df_github_clean = df_github_clean_result.loc[:,["term"]]
df_github_clean.rename(columns={"term":"dict_entry_main"}, inplace=True)
df_github_clean

    dict_entry_main
0            libero
1              bank
2         venezuela
3             tempo
4            finale
..              ...
322         gireren
323         pavijen
324         brokaat
325         kwintet
326           piëta

[327 rows x 1 columns]

In [479]:
df_12_cross_clean = pd.concat([df_12_cross,df_github_clean],axis=0)
df_12_cross_clean.drop_duplicates(inplace=True)
df_12_cross_clean.reset_index(drop=True,inplace=True)
df_12_cross_clean

     dict_entry_main
0           deadline
1               shop
2           download
3         downloaden
4             detail
...              ...
2023         gireren
2024         pavijen
2025         brokaat
2026         kwintet
2027           piëta

[2028 rows x 1 columns]

In [480]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"dict_entry_main"}, inplace=True)
df_word

          dict_entry_main
0                      ik
1                      je
2                     het
3                      de
4                     dat
...                   ...
39995                bois
39996                 ood
39997            melaatse
39998                poll
39999  vredesbesprekingen

[40000 rows x 1 columns]

In [481]:
df_cross_result = pd.merge(df_12_cross_clean,df_word,how="inner",on="dict_entry_main")
df_cross_result

     dict_entry_main
0           deadline
1               shop
2           download
3         downloaden
4             detail
...              ...
1863           bello
1864         kantine
1865       karbonade
1866          averij
1867          turijn

[1868 rows x 1 columns]

In [482]:
df_cross_result.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx")