#### Language Pair Word Equality

In [ ]:
#!pip uninstall googletrans
#import googletrans
#from googletrans import Translator

In [79]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [80]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "German"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
German
German (deu)

In [81]:
#Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}").mkdir(parents=True, exist_ok=True)

In [82]:
def low_func(x):
    try:
        var_out = x.lower()
    except:
        var_out = x
    return var_out

In [83]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx")
df_lang11

   lang_master term_master   lang_sleeve    term_sleeve
0      Turkish       süper        German          super
1      Turkish   enteresan        German    interessant
2      Turkish   enteresan        German  interessieren
3      Turkish        boks        German          boxen
4      Turkish       komik        German        komisch
..         ...         ...           ...            ...
59     Turkish     general  German (deu)        general
60     Turkish     filinta  German (deu)         flinte
61     Turkish    laborant  German (deu)       laborant
62     Turkish    şinitzel  German (deu)      schnitzel
63     Turkish       banka  German (deu)           bank

[64 rows x 4 columns]

In [84]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: low_func(x))
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: low_func(x))
df_lang13

   lang_master   term_master lang_sleeve    term_sleeve
0      Turkish       şibidak      German    schiebedach
1      Turkish       hamburg      German        hamburg
2      Turkish       element      German        element
3      Turkish     hamburger      German      hamburger
4      Turkish       volfram      German        wolfram
5      Turkish        bizmut      German         wismut
6      Turkish        şablon      German      schablone
7      Turkish         kuruş      German       groschen
8      Turkish        kuvars      German          quarz
9      Turkish         enzim      German          enzym
10     Turkish   lihtenştayn      German  liechtenstein
11     Turkish         revir      German         revier
12     Turkish    hinterlant      German     hinterland
13     Turkish     haymatlos      German      heimatlos
14     Turkish   sözdizimsel      German      sözdizimi
15     Turkish        dilmaç      German    dolmetscher
16     Turkish         dübel      German          dübel
17     Turkish  dağ türkleri      German     bergtürken
18     Turkish        şalter      German       schalter
19     Turkish        doçent      German         dozent
20     Turkish         şilep      German       schleppe

In [85]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: low_func(x))
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: low_func(x))
df_lang14

   lang_master  term_master lang_sleeve   term_sleeve
0      Turkish          net      German          netz
1      Turkish          hol      German         halle
2      Turkish        start      German       stürzen
3      Turkish        start      German         sterz
4      Turkish          koç      German       kutsche
..         ...          ...         ...           ...
92     Turkish  laparoskopi      German  laparoskopie
93     Turkish        sprey      German       sprühen
94     Turkish    protestan      German    protestant
95     Turkish       kartuş      German     kartusche
96     Turkish    trambolin      German      trampeln

[97 rows x 4 columns]

In [86]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12 = df_lang12.loc[:,["lang","term","related_term_id"]]
df_lang12["term"] = df_lang12["term"].apply(lambda x: low_func(x))
df_lang12

        lang        term         related_term_id
0    Turkish  alternatif  ZSxxztTSVm6V_6rNEGaKhQ
1    Turkish         baz  tJZMlh3FXjinpfCxRDoq6Q
2    Turkish         baz  MVK-ls9fW8uS2jBlvBiLgA
3    Turkish         çek  7SrzrJtdV2yhdkdGZ8hfyQ
4    Turkish         çek  r8phIOT2Wf-bL3ckREEOHw
..       ...         ...                     ...
659  Turkish      rodyum  gwveq1OzXqyZAEeTGUEjqg
660  Turkish   agorafobi  lh8IXc1GUgagHzhZ7vCBaw
661  Turkish     emirlik  CqDLymaVW2CtA9_1cTbfcQ
662  Turkish    emretmek  CqDLymaVW2CtA9_1cTbfcQ
663  Turkish     bariton  v1T5IAAcVEaBDt4h3GSrRA

[664 rows x 3 columns]

In [87]:
df_lang22 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_2.capitalize()}/{lang_2.capitalize()}_And_{lang_1.capitalize()}_Etymologeek_Result2.xlsx")
df_lang22 = df_lang22.loc[:,["lang","term","related_term_id"]]
df_lang22["term"] = df_lang22["term"].apply(lambda x: low_func(x))
df_lang22

        lang                term         related_term_id
0     German               union  H-2YVn9qXryY0R5E5yibQw
1     German           münzunion  H-2YVn9qXryY0R5E5yibQw
2     German       währungsunion  H-2YVn9qXryY0R5E5yibQw
3     German           zollunion  H-2YVn9qXryY0R5E5yibQw
4     German       personalunion  H-2YVn9qXryY0R5E5yibQw
...      ...                 ...                     ...
3033  German  rhodiumbeschichtet  gwveq1OzXqyZAEeTGUEjqg
3034  German          berberaffe  RRoIWlVGUoaiVznqndrvEg
3035  German         agoraphobie  lh8IXc1GUgagHzhZ7vCBaw
3036  German              emirat  CqDLymaVW2CtA9_1cTbfcQ
3037  German             baryton  v1T5IAAcVEaBDt4h3GSrRA

[3038 rows x 3 columns]

In [88]:
df_same_ety = pd.merge(df_lang12,df_lang22, how="inner", on="related_term_id", suffixes=["_master","_sleeve"])
df_same_ety = df_same_ety[["lang_master","term_master","lang_sleeve","term_sleeve"]]
df_same_ety.drop_duplicates(inplace=True)
df_same_ety

     lang_master term_master lang_sleeve         term_sleeve
0        Turkish         baz      German             basecap
1        Turkish         baz      German                bass
3        Turkish         çek      German             checken
4        Turkish         çek      German               check
7        Turkish         çek      German              schach
...          ...         ...         ...                 ...
2625     Turkish      rodyum      German         rhodiumoxid
2626     Turkish      rodyum      German   rhodiumverbindung
2627     Turkish      rodyum      German  rhodiumbeschichtet
2629     Turkish     emirlik      German              emirat
2630     Turkish    emretmek      German              emirat

[2011 rows x 4 columns]

In [89]:
df_ety_concat = pd.concat([df_same_ety,df_lang11,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

     lang_master  term_master lang_sleeve   term_sleeve
0        Turkish          baz      German       basecap
1        Turkish          baz      German          bass
2        Turkish          çek      German       checken
3        Turkish          çek      German         check
4        Turkish          çek      German        schach
...          ...          ...         ...           ...
2162     Turkish     baldıran      German      baldrian
2163     Turkish  laparoskopi      German  laparoskopie
2164     Turkish        sprey      German       sprühen
2165     Turkish    protestan      German    protestant
2166     Turkish    trambolin      German      trampeln

[2167 rows x 4 columns]

In [90]:
df_ety_concat.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [91]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

            term
0            baz
1            çek
2     parasızlık
3           broş
4           soba
..           ...
448        slayt
449     baldıran
450  laparoskopi
451    protestan
452    trambolin

[453 rows x 1 columns]

In [92]:
df_master_unique.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [ ]:
#df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
#df_word = df_word.head(40000)
##df_word = df_word.loc[:,["word"]]
#df_word.rename(columns={"word":"term"}, inplace=True)
#df_word

In [ ]:
#df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
#df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
#df_master_unique_word_merge.reset_index(drop=True, inplace=True)
#df_master_unique_word_merge

In [ ]:
#df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
#df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
#df_master_unique_word_merge

In [ ]:
#df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [93]:
df_pair_translate = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate

    turkish_word   german_word
0            baz          Base
1            çek    Überprüfen
2     parasızlık         Armut
3           broş       Brosche
4           soba          Herd
..           ...           ...
448        slayt       gleiten
449     baldıran      gebildet
450  laparoskopi  Laparoskopie
451    protestan   evangelisch
452    trambolin     Trampolin

[453 rows x 2 columns]

In [94]:
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_pair_translate

    turkish_word   german_word
0            baz          base
1            çek    überprüfen
2     parasızlık         armut
3           broş       brosche
4           soba          herd
..           ...           ...
448        slayt       gleiten
449     baldıran      gebildet
450  laparoskopi  laparoskopie
451    protestan   evangelisch
452    trambolin     trampolin

[453 rows x 2 columns]

In [95]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

       german_word
0          basecap
1             bass
2          checken
3            check
4           schach
...            ...
1600      baldrian
1601  laparoskopie
1602       sprühen
1603    protestant
1604      trampeln

[1605 rows x 1 columns]

In [96]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"}, inplace=True)
df_translate_sleeve_merge

    dict_entry_main   german_word
0              broş       brosche
1               net          netz
2             bilet     fahrkarte
3            etiket     fahrkarte
4              kupa         tasse
..              ...           ...
171        kromozom     chromosom
172           yarın        morgen
173          sürücü       treiber
174     homoseksüel   homosexuell
175     laparoskopi  laparoskopie

[176 rows x 2 columns]

In [97]:
df_translate_sleeve_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx", index=False)

In [ ]:
#df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)