#### Language Pair Word Equality

In [65]:
#!pip uninstall googletrans

In [66]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
#import googletrans
#from googletrans import Translator

In [67]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Spanish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
French
French (fra)

In [68]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result1.xlsx")
df_lang11 = df_lang11.loc[:,["language_main","dict_entry_main","language","dict_entry"]]
df_lang11.rename(columns={"language_main":"lang_master","dict_entry_main":"term_master","language":"lang_sleeve","dict_entry":"term_sleeve"}, inplace=True)
df_lang11["term_master"] = df_lang11["term_master"].apply(lambda x: x.lower())
df_lang11["term_sleeve"] = df_lang11["term_sleeve"].apply(lambda x: x.lower())
df_lang11

    lang_master term_master   lang_sleeve term_sleeve
0       Turkish       polis  French (fra)      police
1       Turkish       dünit  French (fra)      dunite
2       Turkish         alo  French (fra)        allo
3       Turkish       komik  French (fra)     comique
4       Turkish     telefon  French (fra)  téléphoner
..          ...         ...           ...         ...
203     Turkish      papyon  French (fra)    papillon
204     Turkish      jambon  French (fra)       jambe
205     Turkish     entrika  French (fra)   intriguer
206     Turkish     motorin  French (fra)    motorine
207     Turkish       muson  French (fra)     mousson

[208 rows x 4 columns]

In [69]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: x.lower())
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: x.lower())
df_lang13

     lang_master  term_master lang_sleeve      term_sleeve
0        Turkish        robot      French            robot
1        Turkish       planet      French          planète
2        Turkish         bank      French             banc
3        Turkish          sol      French              sol
4        Turkish           as      French               as
...          ...          ...         ...              ...
1050     Turkish  diskalifiye      French      disqualifié
1051     Turkish    dispanser      French      dispensaire
1052     Turkish   developman      French    développement
1053     Turkish     tretuvar      French         trottoir
1054     Turkish  otomatikman      French  automatiquement

[1055 rows x 4 columns]

In [70]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: x.lower())
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: x.lower())
df_lang14

    lang_master  term_master lang_sleeve   term_sleeve
0       Turkish       beygir      French           bar
1       Turkish       jargon      French         jambe
2       Turkish         büro      French        bourre
3       Turkish     bürokrat      French  bureaucratie
4       Turkish       kambur      French       changer
..          ...          ...         ...           ...
321     Turkish     damacana      French        jeanne
322     Turkish        bazlı      French          base
323     Turkish  devalüasyon      French      dévaluer
324     Turkish   korelasyon      French      relation
325     Turkish         buji      French        bougie

[326 rows x 4 columns]

In [71]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12 = df_lang12.loc[:,["lang","term","related_term_id"]]
df_lang12["term"] = df_lang12["term"].apply(lambda x: x.lower())
df_lang12

        lang        term         related_term_id
0    Turkish     palavra  JHVmHqAPXEq-YaIbd0B5Jg
1    Turkish     parabol  JHVmHqAPXEq-YaIbd0B5Jg
2    Turkish  alternatif  ZSxxztTSVm6V_6rNEGaKhQ
3    Turkish         baz  1So0kFpyWh-G9xute2SNTg
4    Turkish         baz  tJZMlh3FXjinpfCxRDoq6Q
..       ...         ...                     ...
641  Turkish    silindir  eeXZtbMdW7mljBkb0xpdyg
642  Turkish        müge  y3UF-qw-VL-o1WTtN66fLw
643  Turkish        müge  y3UF-qw-VL-o1WTtN66fLw
644  Turkish        müge  _LxiMeGTXkqA1i86EjySLw
645  Turkish        müge  _LxiMeGTXkqA1i86EjySLw

[646 rows x 3 columns]

In [72]:
df_lang22 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_2.capitalize()}/{lang_2.capitalize()}_And_{lang_1.capitalize()}_Etymologeek_Result2.xlsx")
df_lang22 = df_lang22.loc[:,["lang","term","related_term_id"]]
df_lang22["term"] = df_lang22["term"].apply(lambda x: x.lower())
df_lang22

        lang            term         related_term_id
0     French          parole  uXGtk5g-W8G_TlTxSHImpg
1     French        perruque  uXGtk5g-W8G_TlTxSHImpg
2     French        palabrer  uXGtk5g-W8G_TlTxSHImpg
3     French          parole  JHVmHqAPXEq-YaIbd0B5Jg
4     French          parole  JHVmHqAPXEq-YaIbd0B5Jg
...      ...             ...                     ...
1697  French    infectologie  fMpox7ncWhmjymyaDSsuqA
1698  French  surréservation  7HZVkuTAUSO1BDhS0M97aw
1699  French            résa  7HZVkuTAUSO1BDhS0M97aw
1700  French  surréservation  KAz1YJD2U5uarbKRKR7ydg
1701  French            résa  KAz1YJD2U5uarbKRKR7ydg

[1702 rows x 3 columns]

In [73]:
df_same_ety = pd.merge(df_lang12,df_lang22, how="inner", on="related_term_id", suffixes=["_master","_sleeve"])
df_same_ety.drop_duplicates(inplace=True)
df_same_ety = df_same_ety[["lang_master","term_master","lang_sleeve","term_sleeve"]]
df_same_ety

     lang_master  term_master lang_sleeve    term_sleeve
0        Turkish      palavra      French         parole
2        Turkish      palavra      French         parler
3        Turkish      palavra      French       perruque
4        Turkish      palavra      French            mot
5        Turkish      palavra      French   porte-parole
...          ...          ...         ...            ...
1317     Turkish  kombinasyon      French     combishort
1318     Turkish        astım      French    asthmatique
1319     Turkish        astım      French  asthmatiforme
1320     Turkish       bikini      French         bikini
1322     Turkish       bikini      French         bikini

[1303 rows x 4 columns]

In [74]:
df_ety_concat = pd.concat([df_same_ety,df_lang11,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

     lang_master  term_master lang_sleeve   term_sleeve
0        Turkish      palavra      French        parole
1        Turkish      palavra      French        parler
2        Turkish      palavra      French      perruque
3        Turkish      palavra      French           mot
4        Turkish      palavra      French  porte-parole
...          ...          ...         ...           ...
2444     Turkish     damacana      French          jane
2445     Turkish     damacana      French        jeanne
2446     Turkish        bazlı      French          base
2447     Turkish  devalüasyon      French      dévaluer
2448     Turkish   korelasyon      French      relation

[2449 rows x 4 columns]

In [75]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

                    term
0                palavra
1                parabol
2             alternatif
3                    baz
4                    çek
...                  ...
1336             komutan
1337           halletmek
1338            antrikot
1339  trafik sıkışıklığı
1340               bazlı

[1341 rows x 1 columns]

In [76]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
#df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"term"}, inplace=True)
df_word

               term  frequency
0               bir   18835735
1            fikret   12101580
2                bu   11062659
3                ne    8025880
4                ve    7766036
...             ...        ...
39995    ekipmanlar        974
39996     şanslılar        974
39997     aksanıyla        974
39998  yargılanacak        974
39999     tepkisini        974

[40000 rows x 2 columns]

In [77]:
df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
df_master_unique_word_merge.reset_index(drop=True, inplace=True)
df_master_unique_word_merge

         term  frequency
0     kontrol     272328
1      doktor     266714
2       polis     247969
3       dolar     199343
4         vay     162887
..        ...        ...
719    turizm        984
720  kapasite        984
721  versiyon        984
722    klavye        982
723     masör        980

[724 rows x 2 columns]

In [78]:
df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
df_master_unique_word_merge

    turkish_word
0        kontrol
1         doktor
2          polis
3          dolar
4            vay
..           ...
719       turizm
720     kapasite
721     versiyon
722       klavye
723        masör

[724 rows x 1 columns]

In [79]:
df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [80]:
df_pair_translate = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: x.lower())
df_pair_translate

    turkish_word french_word
0        kontrol   contrôler
1         doktor     médecin
2          polis      police
3          dolar      dollar
4            vay        ouah
..           ...         ...
719       turizm    tourisme
720     kapasite    capacité
721     versiyon     version
722       klavye     clavier
723        masör     masseur

[724 rows x 2 columns]

In [81]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: x.lower())
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

       french_word
0           parole
1           parler
2         perruque
3              mot
4     porte-parole
...            ...
1850          côte
1851         chaos
1852          jane
1853        jeanne
1854      relation

[1855 rows x 1 columns]

In [82]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"})

    dict_entry_main french_word
0             polis      police
1             dolar      dollar
2           telefon  téléphoner
3               tel  téléphoner
4             bebek        bébé
..              ...         ...
508          turizm    tourisme
509        kapasite    capacité
510        versiyon     version
511          klavye     clavier
512           masör     masseur

[513 rows x 2 columns]

In [83]:
df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)

In [ ]:
from googletrans import Translator

In [ ]:
translator = Translator()

In [ ]:
result = translator.translate('Mitä sinä teet')

In [ ]:
print(googletrans.LANGUAGES)