#### Language Pair Word Equality

In [316]:
#!pip uninstall googletrans
#import googletrans
#from googletrans import Translator

In [317]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize

In [318]:
lang_1 = "Arabic"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Italian"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Arabic
Italian
Italian (ita)

In [319]:
def low_func(x):
    try:
        var_out = x.lower()
    except:
        var_out = x
    return var_out

In [320]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx")
df_lang11

   lang_master term_master    lang_sleeve  term_sleeve
0       Arabic         سجل        Italian  significare
1       Arabic       سجلاط        Italian  significare
2       Arabic         سجل        Italian        segno
3       Arabic       سجلاط        Italian        segno
4       Arabic         سجل        Italian      segnale
5       Arabic       سجلاط        Italian      segnale
6       Arabic         سجل        Italian    insegnare
7       Arabic       سجلاط        Italian    insegnare
8       Arabic         سجل        Italian      sigillo
9       Arabic       سجلاط        Italian      sigillo
10      Arabic    ساندويتش        Italian     sandwich
11      Arabic    ساندويتش        Italian     sandwich
12      Arabic       بوليس        Italian      polizia
13      Arabic       بوليس  Italian (ita)      polizia
14      Arabic      إنترنت        Italian     internet
15      Arabic        بيرة        Italian        birra
16      Arabic        بيرة  Italian (ita)        birra
17      Arabic       فيديو        Italian        vista
18      Arabic       فيديو        Italian     visitare
19      Arabic       فيديو        Italian     avvisare
20      Arabic     كمبيوتر        Italian     computer
21      Arabic       روبوت        Italian        robot
22      Arabic      فاتورة        Italian         fare
23      Arabic      فاتورة        Italian       facile
24      Arabic      فاتورة        Italian      fattone
25      Arabic      فاتورة        Italian      fattore
26      Arabic      فاتورة        Italian       faccia
27      Arabic      فاتورة        Italian     facciata
28      Arabic      فاتورة        Italian     faccenda
29      Arabic      فاتورة        Italian      azienda
30      Arabic      فاتورة        Italian   soddisfare
31      Arabic        صلصة        Italian    salsiccia
32      Arabic        صالة  Italian (ita)         sala
33      Arabic      إنجليز  Italian (ita)      inglese
34      Arabic      إنكليز  Italian (ita)      inglese
35      Arabic     إنجليزي  Italian (ita)      inglese
36      Arabic     إنكليزي  Italian (ita)      inglese
37      Arabic       باليه  Italian (ita)        ballo
38      Arabic     إيطاليا  Italian (ita)       italia
39      Arabic     إستوديو  Italian (ita)       studio
40      Arabic      إستديو  Italian (ita)       studio
41      Arabic     إسبانيا  Italian (ita)       spagna
42      Arabic        صلصة  Italian (ita)        salsa
43      Arabic        ليرة  Italian (ita)         lira
44      Arabic        قمرة  Italian (ita)       camera
45      Arabic     إنجلترا  Italian (ita)  inghilterra
46      Arabic       جنرال  Italian (ita)     generale
47      Arabic       طاولة  Italian (ita)       tavola
48      Arabic      فاتورة  Italian (ita)      fattura
49      Arabic      ميلانو  Italian (ita)       milano

In [321]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: low_func(x))
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: low_func(x))
df_lang13

   lang_master term_master lang_sleeve  term_sleeve
0       Arabic     إنجليزي     Italian      inglese
1       Arabic      إنجليز     Italian      inglese
2       Arabic     إيطالية     Italian       italia
3       Arabic     إيطاليا     Italian       italia
4       Arabic        مارس     Italian       marcia
5       Arabic        مارس     Italian       marcio
6       Arabic       طاولة     Italian       tavola
7       Arabic      بندورة     Italian     pomodoro
8       Arabic     إنجلترا     Italian  inghilterra
9       Arabic        بيرة     Italian        birra
10      Arabic  إستراتيجية     Italian    strategia
11      Arabic     كوميديا     Italian     commedia
12      Arabic       فرملة     Italian      fermare
13      Arabic       فرملة     Italian    fermaglio
14      Arabic        بستو     Italian        pesto
15      Arabic      سويسرا     Italian     svizzera
16      Arabic         جير     Italian       girare
17      Arabic      فراولة     Italian      fragola
18      Arabic      فاتورة     Italian      fattura
19      Arabic        ليرة     Italian         lira
20      Arabic        صلصة     Italian        salsa
21      Arabic        صالة     Italian         sala
22      Arabic      ميلانو     Italian       milano
23      Arabic       قمبري     Italian      gamberi
24      Arabic       قمبري     Italian      gambero
25      Arabic      بازلاء     Italian      piselli
26      Arabic        قمرة     Italian       camera
27      Arabic      جيلاتو     Italian       gelato
28      Arabic      جيلاتو     Italian       gelati
29      Arabic       طرمبة     Italian       tromba
30      Arabic       طلمبة     Italian       tromba
31      Arabic      فرقاطة     Italian      fregata
32      Arabic       بوصلة     Italian      bussola
33      Arabic    ست الحسن     Italian   belladonna
34      Arabic     بلادونا     Italian   belladonna
35      Arabic        بلية     Italian       biglia
36      Arabic      باروكة     Italian     parrucca
37      Arabic       مغازة     Italian    magazzino
38      Arabic       دزينة     Italian      dozzina
39      Arabic    كافتيريا     Italian  caffetteria
40      Arabic       باستا     Italian        pasta

In [322]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: low_func(x))
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: low_func(x))
df_lang14

   lang_master    term_master lang_sleeve term_sleeve
0       Arabic            دوش     Italian      doccia
1       Arabic          بولاق     Italian        lago
2       Arabic         كافيار     Italian     caviale
3       Arabic   الرأس الأخضر     Italian       verde
4       Arabic            جون     Italian      laguna
5       Arabic           كوسا     Italian       zucca
6       Arabic         بنطلون     Italian   pantalone
7       Arabic         فراولة     Italian     fragola
8       Arabic           بستو     Italian     pestare
9       Arabic            بنك     Italian       banca
10      Arabic         إستديو     Italian      studio
11      Arabic        إستوديو     Italian      studio
12      Arabic  الدار البيضاء     Italian      bianco
13      Arabic          باليه     Italian    balletto
14      Arabic          صالون     Italian      salone
15      Arabic          صالون     Italian        sala
16      Arabic         إنجليز     Italian     inglese
17      Arabic        برجوازي     Italian    borghese
18      Arabic          بوليس     Italian     polizza
19      Arabic         باروكة     Italian     parlare
20      Arabic         مرصبان     Italian        pane
21      Arabic          قيطون     Italian      cotone
22      Arabic          خرطوش     Italian   cartuccia
23      Arabic          خرطوش     Italian       carta
24      Arabic        شمبانيا     Italian    campagna
25      Arabic          أوبرا     Italian       opera
26      Arabic          طلمبة     Italian      tromba
27      Arabic         فرقاطة     Italian     fregare
28      Arabic            بوط     Italian       botta
29      Arabic           بلية     Italian      biglia
30      Arabic          اسكتش     Italian     schizzo
31      Arabic          دزينة     Italian      dodici

In [323]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12 = df_lang12.loc[:,["lang","term","related_term_id"]]
df_lang12["term"] = df_lang12["term"].apply(lambda x: low_func(x))
df_lang12

       lang       term         related_term_id
0    Arabic       سفود  rbP28JLEXQ2oIHJ16jGjGQ
1    Arabic      السبت  r2Df00SYXBy2SObdW9fLQQ
2    Arabic        بنك  3fdTi6pQU2SrkIdDDcIpqg
3    Arabic      صابون  pJcF6yFLWjKzwkSh2o8C9A
4    Arabic    مانيكير  ok8NhZpzWOCvYSr1g18P4w
..      ...        ...                     ...
212  Arabic       بلوط  Eomdnd4MXPa2rUn1hCnTPg
213  Arabic        قسط  OXbatKsDXcqnyTWDimYKZQ
214  Arabic  أوكلاهوما  ffnyv08lXFK-WjF4FSqp2A
215  Arabic      إنجيل  4GWvbWSOU12R_7onnqYCFw
216  Arabic      دزينة  XmO25xwYV_-ClZwkEkE-0A

[217 rows x 3 columns]

In [324]:
df_lang22 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_2.capitalize()}/{lang_2.capitalize()}_And_{lang_1.capitalize()}_Etymologeek_Result2.xlsx")
df_lang22 = df_lang22.loc[:,["lang","term","related_term_id"]]
df_lang22["term"] = df_lang22["term"].apply(lambda x: low_func(x))
df_lang22

        lang          term         related_term_id
0    Italian         banca  3fdTi6pQU2SrkIdDDcIpqg
1    Italian      degenere  j3FcdR3FWS6SHKFUlQFeWA
2    Italian      generico  j3FcdR3FWS6SHKFUlQFeWA
3    Italian    ambigenere  j3FcdR3FWS6SHKFUlQFeWA
4    Italian   sottogenere  j3FcdR3FWS6SHKFUlQFeWA
..       ...           ...                     ...
816  Italian    poliziotto  YKTmIqr8XNmRcktJhj5nxw
817  Italian  psicopolizia  YKTmIqr8XNmRcktJhj5nxw
818  Italian      oklahoma  ffnyv08lXFK-WjF4FSqp2A
819  Italian        alasca  j3K22lK3Xo6aT2DePjgvyA
820  Italian     dozzinale  XmO25xwYV_-ClZwkEkE-0A

[821 rows x 3 columns]

In [325]:
df_same_ety = pd.merge(df_lang12,df_lang22, how="inner", on="related_term_id", suffixes=["_master","_sleeve"])
df_same_ety.drop_duplicates(inplace=True)
df_same_ety = df_same_ety[["lang_master","term_master","lang_sleeve","term_sleeve"]]
df_same_ety

    lang_master term_master lang_sleeve  term_sleeve
0        Arabic         بنك     Italian        banca
1        Arabic     شمبانيا     Italian    champagne
2        Arabic     شمبانيا     Italian     campagna
3        Arabic     شمبانيا     Italian  campionessa
4        Arabic     شمبانيا     Italian   campionare
..          ...         ...         ...          ...
412      Arabic       جنرال     Italian  generalismo
413      Arabic         قسط     Italian        costo
414      Arabic         قسط     Italian   sottocosto
415      Arabic   أوكلاهوما     Italian     oklahoma
416      Arabic       دزينة     Italian    dozzinale

[416 rows x 4 columns]

In [326]:
df_ety_concat = pd.concat([df_same_ety,df_lang11,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

    lang_master term_master lang_sleeve  term_sleeve
0        Arabic         بنك     Italian        banca
1        Arabic     شمبانيا     Italian    champagne
2        Arabic     شمبانيا     Italian     campagna
3        Arabic     شمبانيا     Italian  campionessa
4        Arabic     شمبانيا     Italian   campionare
..          ...         ...         ...          ...
481      Arabic       أوبرا     Italian        opera
482      Arabic      فرقاطة     Italian      fregare
483      Arabic         بوط     Italian        botta
484      Arabic       اسكتش     Italian      schizzo
485      Arabic       دزينة     Italian       dodici

[486 rows x 4 columns]

In [327]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

        term
0        بنك
1    شمبانيا
2       ريال
3     عسقلان
4      قرصان
..       ...
109  برجوازي
110   مرصبان
111    قيطون
112      بوط
113    اسكتش

[114 rows x 1 columns]

In [328]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
#df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"term"}, inplace=True)
df_word

         term  frequency
0          لا    5782309
1          من    5493373
2          أن    4348055
3          في    4324498
4         هذا    4155278
...       ...        ...
39995  فعليكم        464
39996     يطل        464
39997   يوماَ        464
39998  طعامًا        464
39999  الخفاش        464

[40000 rows x 2 columns]

In [329]:
df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
df_master_unique_word_merge.reset_index(drop=True, inplace=True)
df_master_unique_word_merge

      term  frequency
0      جون      47720
1    مايكل      24718
2      جين      19838
3     لندن      14979
4      سجل      10598
..     ...        ...
62  فراولة        530
63   بوليس        513
64     كرز        475
65  أكسجين        473
66    ريال        470

[67 rows x 2 columns]

In [330]:
df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
df_master_unique_word_merge

   arabic_word
0          جون
1        مايكل
2          جين
3         لندن
4          سجل
..         ...
62      فراولة
63       بوليس
64         كرز
65      أكسجين
66        ريال

[67 rows x 1 columns]

In [331]:
df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [332]:
df_pair_translate = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate

   arabic_word italian_word
0          جون         John
1        مايكل      Michael
2          جين         Gene
3         لندن       Londra
4          سجل   Registrati
..         ...          ...
62      فراولة      Fragola
63       بوليس      Polizia
64         كرز     ciliegia
65      أكسجين     ossigeno
66        ريال         Rial

[67 rows x 2 columns]

In [333]:
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_pair_translate

   arabic_word italian_word
0          جون         john
1        مايكل      michael
2          جين         gene
3         لندن       londra
4          سجل   registrati
..         ...          ...
62      فراولة      fragola
63       بوليس      polizia
64         كرز     ciliegia
65      أكسجين     ossigeno
66        ريال         rial

[67 rows x 2 columns]

In [334]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

    italian_word
0          banca
1      champagne
2       campagna
3    campionessa
4     campionare
..           ...
333        opera
334      fregare
335        botta
336      schizzo
337       dodici

[338 rows x 1 columns]

In [335]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"}, inplace=True)
df_translate_sleeve_merge

   dict_entry_main italian_word
0              جون         john
1            مايكل      michael
2              جين         gene
3             لندن       londra
4            فيديو        video
5           كاميرا   telecamera
6          اليابان     giappone
7             بيرة        birra
8              بنك        banca
9             صالة         sala
10         إنجلترا  inghilterra
11            صلصة        salsa
12          فاتورة      fattura
13         إيطاليا       italia
14            ليرة         lira
15          سويسرا     svizzera
16             لتر        litro
17           صالون       salone
18         إسبانيا       spagna
19           دزينة      dozzina
20           روبوت        robot
21            جينز        jeans
22           باليه     balletto
23             يخت        yacht
24         ألاباما      alabama
25      إستراتيجية    strategia
26           بوصلة      bussola
27         إيطالية     italiano
28        ساندويتش     sandwich
29          إنترنت     internet
30       أوكلاهوما     oklahoma
31          فراولة      fragola
32           بوليس      polizia
33             كرز     ciliegia
34          أكسجين     ossigeno

In [336]:
df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)