#### Language Pair Word Equality

In [132]:
#!pip uninstall googletrans

In [133]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
#import googletrans
#from googletrans import Translator

In [134]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Spanish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
English
English (eng)

In [135]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result1.xlsx")
df_lang11 = df_lang11.loc[:,["language_main","dict_entry_main","language","dict_entry"]]
df_lang11.rename(columns={"language_main":"lang_master","dict_entry_main":"term_master","language":"lang_sleeve","dict_entry":"term_sleeve"}, inplace=True)
df_lang11["term_master"] = df_lang11["term_master"].apply(lambda x: x.lower())
df_lang11["term_sleeve"] = df_lang11["term_sleeve"].apply(lambda x: x.lower())
df_lang11

   lang_master             term_master    lang_sleeve           term_sleeve
0      Turkish                     şut  English (eng)                 shoot
1      Turkish                     alo  English (eng)                heaven
2      Turkish                  türban  English (eng)                turban
3      Turkish                     çek  English (eng)                cheque
4      Turkish                    film  English (eng)                  film
5      Turkish                    test  English (eng)                  test
6      Turkish                   seksi  English (eng)                   sex
7      Turkish                    lord  English (eng)                  lord
8      Turkish                   taksi  English (eng)             taximeter
9      Turkish                  futbol  English (eng)                  foot
10     Turkish                romantik  English (eng)                   -ic
11     Turkish                     maç  English (eng)                   set
12     Turkish                   viski  English (eng)               whiskey
13     Turkish                   radyo  English (eng)                 radio
14     Turkish                 sandviç  English (eng)              sandwich
15     Turkish                    jüri  English (eng)                  jury
16     Turkish                   lider  English (eng)                  lead
17     Turkish                     kek  English (eng)              nokehike
18     Turkish  bağımlılık enjeksiyonu  English (eng)  dependency injection
19     Turkish                     şov  English (eng)                  show
20     Turkish                     gül  English (eng)                  goal
21     Turkish                  kovboy  English (eng)                   cow
22     Turkish                 beyzbol  English (eng)                  base
23     Turkish                  biftek  English (eng)                  beef
24     Turkish               biftekkek  English (eng)                  beef
25     Turkish               basketbol  English (eng)                basket
26     Turkish                    boks  English (eng)             box seats
27     Turkish                   tenis  English (eng)                tennis
28     Turkish                   sosis  English (eng)             salt mine
29     Turkish                     gey  English (eng)                gender
30     Turkish                 dijital  English (eng)                 digit
31     Turkish                striptiz  English (eng)                 strip
32     Turkish               fransiyum  English (eng)                france
33     Turkish                     kok  English (eng)               cocaine
34     Turkish                    site  English (eng)                 civis
35     Turkish                     dok  English (eng)                  dock
36     Turkish                  bikini  English (eng)                bikini
37     Turkish                  pijama  English (eng)               pajamas
38     Turkish                  basket  English (eng)                basket
39     Turkish               destroyer  English (eng)               destroy
40     Turkish                     sos  English (eng)                  mine

In [136]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12 = df_lang12.loc[:,["lang","term","related_term_id"]]
df_lang12["term"] = df_lang12["term"].apply(lambda x: x.lower())
df_lang12

        lang        term         related_term_id
0    Turkish     palavra  JHVmHqAPXEq-YaIbd0B5Jg
1    Turkish     parabol  JHVmHqAPXEq-YaIbd0B5Jg
2    Turkish  alternatif  ZSxxztTSVm6V_6rNEGaKhQ
3    Turkish         baz  1So0kFpyWh-G9xute2SNTg
4    Turkish         çek  7SrzrJtdV2yhdkdGZ8hfyQ
..       ...         ...                     ...
637  Turkish      bikini  oqwJif0MXBegenMOx5b9bw
638  Turkish       fresk  ij2wysF-X56RY0qD-Iqs3Q
639  Turkish     ekinoks  Qg-0yYIRX-yU-b82u-1_ww
640  Turkish     ayşegül  6BvmwZSpVvOAnjnquLt24A
641  Turkish       murat  VEf1-icTV76JmPtq2evNDw

[642 rows x 3 columns]

In [137]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: x.lower())
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: x.lower())
df_lang13

,lang_master,term_master,reltype,lang_sleeve,term_sleeve
0,Turkish,abide,etymologically_related_to,English,monument
1,Turkish,bit,borrowed_from,English,bit
2,Turkish,bit,etymologically_related_to,English,binary digit
3,Turkish,port,borrowed_from,English,port
4,Turkish,dvd,derived_from,English,dvd
...,...,...,...,...,...
230,Turkish,sayko,derived_from,English,psycho
231,Turkish,laparoskopi,derived_from,English,laparoscopy
232,Turkish,intörn,borrowed_from,English,intern
233,Turkish,filiz,cognate_of,English,phyllis
234,Turkish,metelik,cognate_of,English,metallic

In [138]:
df_lang22 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_2.capitalize()}/{lang_2.capitalize()}_And_{lang_1.capitalize()}_Etymologeek_Result2.xlsx")
df_lang22 = df_lang22.loc[:,["lang","term","related_term_id"]]
df_lang22["term"] = df_lang22["term"].apply(lambda x: x.lower())
df_lang22

          lang       term         related_term_id
0      English     polari  uXGtk5g-W8G_TlTxSHImpg
1      English   parleyer  uXGtk5g-W8G_TlTxSHImpg
2      English  parlyaree  uXGtk5g-W8G_TlTxSHImpg
3      English      parle  JHVmHqAPXEq-YaIbd0B5Jg
4      English     parlay  JHVmHqAPXEq-YaIbd0B5Jg
...        ...        ...                     ...
25427  English      murat  VEf1-icTV76JmPtq2evNDw
25428  English     majlis  S-hywYilXpmBNkVMSHQuqg
25429  English       boza  O4TUaXztVomL4vM3VsqNvA
25430  English      huzun  c41uYacuVSuuaZ3JZRApgQ
25431  English      zarph  zLybclkNVU-7cPSiOTeY1w

[25432 rows x 3 columns]

In [139]:
df_same_ety = pd.merge(df_lang12,df_lang22, how="inner", on="related_term_id", suffixes=["_master","_sleeve"])
df_same_ety.drop_duplicates(inplace=True)
df_same_ety

,lang_master,term_master,related_term_id,lang_sleeve,term_sleeve
0,Turkish,palavra,JHVmHqAPXEq-YaIbd0B5Jg,English,parle
1,Turkish,palavra,JHVmHqAPXEq-YaIbd0B5Jg,English,parlay
2,Turkish,palavra,JHVmHqAPXEq-YaIbd0B5Jg,English,parlor
3,Turkish,palavra,JHVmHqAPXEq-YaIbd0B5Jg,English,parabola
4,Turkish,palavra,JHVmHqAPXEq-YaIbd0B5Jg,English,parable
...,...,...,...,...,...
14333,Turkish,bikini,oqwJif0MXBegenMOx5b9bw,English,bikini jeans
14334,Turkish,bikini,oqwJif0MXBegenMOx5b9bw,English,minikini
14335,Turkish,bikini,oqwJif0MXBegenMOx5b9bw,English,stringkini
14336,Turkish,bikini,oqwJif0MXBegenMOx5b9bw,English,slingkini
14337,Turkish,murat,VEf1-icTV76JmPtq2evNDw,English,murat

In [140]:
df_ety_concat = pd.concat([df_same_ety,df_lang11,df_lang13], axis=0)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

,lang_master,term_master,related_term_id,lang_sleeve,term_sleeve,reltype
0,Turkish,palavra,JHVmHqAPXEq-YaIbd0B5Jg,English,parle,NaN
1,Turkish,palavra,JHVmHqAPXEq-YaIbd0B5Jg,English,parlay,NaN
2,Turkish,palavra,JHVmHqAPXEq-YaIbd0B5Jg,English,parlor,NaN
3,Turkish,palavra,JHVmHqAPXEq-YaIbd0B5Jg,English,parabola,NaN
4,Turkish,palavra,JHVmHqAPXEq-YaIbd0B5Jg,English,parable,NaN
...,...,...,...,...,...,...
14609,Turkish,sayko,NaN,English,psycho,derived_from
14610,Turkish,laparoskopi,NaN,English,laparoscopy,derived_from
14611,Turkish,intörn,NaN,English,intern,borrowed_from
14612,Turkish,filiz,NaN,English,phyllis,cognate_of
14613,Turkish,metelik,NaN,English,metallic,cognate_of

In [141]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

            term
0        palavra
1        parabol
2     alternatif
3            baz
4            çek
..           ...
495   transistör
496        sayko
497  laparoskopi
498       intörn
499        filiz

[500 rows x 1 columns]

In [142]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
#df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"term"}, inplace=True)
df_word

               term  frequency
0               bir   18835735
1            fikret   12101580
2                bu   11062659
3                ne    8025880
4                ve    7766036
...             ...        ...
39995    ekipmanlar        974
39996     şanslılar        974
39997     aksanıyla        974
39998  yargılanacak        974
39999     tepkisini        974

[40000 rows x 2 columns]

In [143]:
df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
df_master_unique_word_merge.reset_index(drop=True, inplace=True)
df_master_unique_word_merge

         term  frequency
0         bay     875933
1       yarın     286640
2     kontrol     272328
3      doktor     266714
4       polis     247969
..        ...        ...
352    smiley       1002
353  kapasite        984
354  versiyon        984
355    klavye        982
356    boykot        976

[357 rows x 2 columns]

In [144]:
df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
df_master_unique_word_merge

    turkish_word
0            bay
1          yarın
2        kontrol
3         doktor
4          polis
..           ...
352       smiley
353     kapasite
354     versiyon
355       klavye
356       boykot

[357 rows x 1 columns]

In [145]:
df_master_unique_word_merge.to_excel(f"{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [146]:
df_pair_translate = pd.read_excel(f"{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: x.lower())
df_pair_translate

    turkish_word english_word
0            bay           mr
1          yarın     tomorrow
2        kontrol      control
3         doktor       doctor
4          polis       police
..           ...          ...
352       smiley       smiley
353     kapasite     capacity
354     versiyon      version
355       klavye     keyboard
356       boykot      boycott

[357 rows x 2 columns]

In [147]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: x.lower())
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

      english_word
0            parle
1           parlay
2           parlor
3         parabola
4          parable
...            ...
11378       psycho
11379  laparoscopy
11380       intern
11381      phyllis
11382     metallic

[11383 rows x 1 columns]

In [148]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge

    turkish_word english_word
0          polis       police
1          dolar       dollar
2        telefon        phone
3            çek        check
4           seks          sex
..           ...          ...
198        divan        divan
199     patlıcan    aubergine
200       smiley       smiley
201     kapasite     capacity
202       boykot      boycott

[203 rows x 2 columns]

In [149]:
df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_{lang_2.capitalize()}_Etymology_Translate_Result.xlsx", index=False)

In [30]:
from googletrans import Translator

In [24]:
translator = Translator()

In [25]:
result = translator.translate('Mitä sinä teet')

AttributeError: 'NoneType' object has no attribute 'group'

In [22]:
print(googletrans.LANGUAGES)

{'af': 'afrikaans', 'sq': 'albanian', 'am': 'amharic', 'ar': 'arabic', 'hy': 'armenian', 'az': 'azerbaijani', 'eu': 'basque', 'be': 'belarusian', 'bn': 'bengali', 'bs': 'bosnian', 'bg': 'bulgarian', 'ca': 'catalan', 'ceb': 'cebuano', 'ny': 'chichewa', 'zh-cn': 'chinese (simplified)', 'zh-tw': 'chinese (traditional)', 'co': 'corsican', 'hr': 'croatian', 'cs': 'czech', 'da': 'danish', 'nl': 'dutch', 'en': 'english', 'eo': 'esperanto', 'et': 'estonian', 'tl': 'filipino', 'fi': 'finnish', 'fr': 'french', 'fy': 'frisian', 'gl': 'galician', 'ka': 'georgian', 'de': 'german', 'el': 'greek', 'gu': 'gujarati', 'ht': 'haitian creole', 'ha': 'hausa', 'haw': 'hawaiian', 'iw': 'hebrew', 'he': 'hebrew', 'hi': 'hindi', 'hmn': 'hmong', 'hu': 'hungarian', 'is': 'icelandic', 'ig': 'igbo', 'id': 'indonesian', 'ga': 'irish', 'it': 'italian', 'ja': 'japanese', 'jw': 'javanese', 'kn': 'kannada', 'kk': 'kazakh', 'km': 'khmer', 'ko': 'korean', 'ku': 'kurdish (kurmanji)', 'ky': 'kyrgyz', 'lo': 'lao', 'la': 'latin', 'lv': 'latvian', 'lt': 'lithuanian', 'lb': 'luxembourgish', 'mk': 'macedonian', 'mg': 'malagasy', 'ms': 'malay', 'ml': 'malayalam', 'mt': 'maltese', 'mi': 'maori', 'mr': 'marathi', 'mn': 'mongolian', 'my': 'myanmar (burmese)', 'ne': 'nepali', 'no': 'norwegian', 'or': 'odia', 'ps': 'pashto', 'fa': 'persian', 'pl': 'polish', 'pt': 'portuguese', 'pa': 'punjabi', 'ro': 'romanian', 'ru': 'russian', 'sm': 'samoan', 'gd': 'scots gaelic', 'sr': 'serbian', 'st': 'sesotho', 'sn': 'shona', 'sd': 'sindhi', 'si': 'sinhala', 'sk': 'slovak', 'sl': 'slovenian', 'so': 'somali', 'es': 'spanish', 'su': 'sundanese', 'sw': 'swahili', 'sv': 'swedish', 'tg': 'tajik', 'ta': 'tamil', 'te': 'telugu', 'th': 'thai', 'tr': 'turkish', 'uk': 'ukrainian', 'ur': 'urdu', 'ug': 'uyghur', 'uz': 'uzbek', 'vi': 'vietnamese', 'cy': 'welsh', 'xh': 'xhosa', 'yi': 'yiddish', 'yo': 'yoruba', 'zu': 'zulu'}