#### Language Pair Word Equality

In [185]:
#!pip uninstall googletrans

In [186]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
#import googletrans
#from googletrans import Translator

In [187]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Dutch"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
Dutch
Dutch (nld)

In [188]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx")
df_lang11

   lang_master term_master  lang_sleeve term_sleeve
0      Turkish       salon        Dutch       salon
1      Turkish       salon        Dutch       salon
2      Turkish       roman        Dutch       roman
3      Turkish   milyarder        Dutch  miljardair
4      Turkish         çek        Dutch     checken
..         ...         ...          ...         ...
79     Turkish   hamburger        Dutch      burger
80     Turkish      kondom        Dutch     condoom
81     Turkish         şef        Dutch        chef
82     Turkish       dosya        Dutch     dossier
83     Turkish        şans  Dutch (nld)        dice

[84 rows x 4 columns]

In [189]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: x.lower())
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: x.lower())
df_lang13

  lang_master term_master lang_sleeve term_sleeve
0     Turkish       japon       Dutch       japan

In [190]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: x.lower())
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: x.lower())
df_lang14

   lang_master   term_master lang_sleeve term_sleeve
0      Turkish           net       Dutch         net
1      Turkish           hol       Dutch         hal
2      Turkish         start       Dutch     storten
3      Turkish         start       Dutch      staart
4      Turkish          boks       Dutch         bos
5      Turkish          boks       Dutch         bus
6      Turkish          boks       Dutch      beuken
7      Turkish        korvet       Dutch        korf
8      Turkish           bit       Dutch         bit
9      Turkish         lider       Dutch      leider
10     Turkish          film       Dutch         vel
11     Turkish         trend       Dutch       trent
12     Turkish          fare       Dutch        muis
13     Turkish        spiker       Dutch     spreker
14     Turkish       birader       Dutch     broeder
15     Turkish          pisi       Dutch        poes
16     Turkish        karpuz       Dutch      herfst
17     Turkish         japon       Dutch       japan
18     Turkish       japonca       Dutch       japan
19     Turkish  japon balığı       Dutch       japan
20     Turkish           gaz       Dutch         gas
21     Turkish         paket       Dutch         pak
22     Turkish           gri       Dutch       grijs
23     Turkish           dok       Dutch         dok
24     Turkish           dok       Dutch         dok
25     Turkish           dok       Dutch         dok
26     Turkish           gey       Dutch        gauw
27     Turkish           çek       Dutch      schaak
28     Turkish          çene       Dutch         kin
29     Turkish         yarın       Dutch      morgen
30     Turkish         tröst       Dutch      troost
31     Turkish        sürücü       Dutch     drijver
32     Turkish           çip       Dutch         kip
33     Turkish           çip       Dutch        keep
34     Turkish           çip       Dutch      kippen
35     Turkish         revir       Dutch      rivier
36     Turkish         klişe       Dutch     klikken
37     Turkish           yat       Dutch       jacht
38     Turkish           yat       Dutch       jacht
39     Turkish           yat       Dutch       schip
40     Turkish           şut       Dutch    schieten
41     Turkish          burç       Dutch      burcht
42     Turkish          tayt       Dutch       dicht
43     Turkish       sipariş       Dutch    spreiden
44     Turkish       sipariş       Dutch      sparen
45     Turkish           vay       Dutch         wee
46     Turkish         mayın       Dutch        mijn
47     Turkish        isteka       Dutch      steken
48     Turkish          staj       Dutch       stage
49     Turkish          tüyo       Dutch        tuit
50     Turkish           şık       Dutch    schikken
51     Turkish         sprey       Dutch    sproeien

In [191]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12 = df_lang12.loc[:,["lang","term","related_term_id"]]
df_lang12["term"] = df_lang12["term"].apply(lambda x: x.lower())
df_lang12

        lang           term         related_term_id
0    Turkish        palavra  JHVmHqAPXEq-YaIbd0B5Jg
1    Turkish        parabol  JHVmHqAPXEq-YaIbd0B5Jg
2    Turkish            baz  1So0kFpyWh-G9xute2SNTg
3    Turkish            baz  tJZMlh3FXjinpfCxRDoq6Q
4    Turkish            baz  MVK-ls9fW8uS2jBlvBiLgA
..       ...            ...                     ...
570  Turkish        komando  4fEwn0tDVj-q6bZYV0j6Hw
571  Turkish         bikini  oqwJif0MXBegenMOx5b9bw
572  Turkish         bikini  GNTJbzNsW_CAUT05gGD_7g
573  Turkish      beyzbolcu  tax-N0vEUdihpfdLbAjmow
574  Turkish  konfederasyon  f04UyjpBVpyyJJsvWY-cMw

[575 rows x 3 columns]

In [192]:
df_lang22 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_2.capitalize()}/{lang_2.capitalize()}_And_{lang_1.capitalize()}_Etymologeek_Result2.xlsx")
df_lang22 = df_lang22.loc[:,["lang","term","related_term_id"]]
df_lang22["term"] = df_lang22["term"].apply(lambda x: x.lower())
df_lang22

       lang             term         related_term_id
0     Dutch           parool  JHVmHqAPXEq-YaIbd0B5Jg
1     Dutch      parabolisch  JHVmHqAPXEq-YaIbd0B5Jg
2     Dutch     paraboolduin  JHVmHqAPXEq-YaIbd0B5Jg
3     Dutch        altruïsme  ZSxxztTSVm6V_6rNEGaKhQ
4     Dutch             base  1So0kFpyWh-G9xute2SNTg
...     ...              ...                     ...
3101  Dutch  commandocentrum  4fEwn0tDVj-q6bZYV0j6Hw
3102  Dutch           bikini  oqwJif0MXBegenMOx5b9bw
3103  Dutch           bikini  n-sd6BzEVw29E9FFc1J0Kg
3104  Dutch           bikini  GNTJbzNsW_CAUT05gGD_7g
3105  Dutch            hamam  nNYwEWSNV9GpqKN9spDaVg

[3106 rows x 3 columns]

In [193]:
df_same_ety = pd.merge(df_lang12,df_lang22, how="inner", on="related_term_id", suffixes=["_master","_sleeve"])
df_same_ety.drop_duplicates(inplace=True)
df_same_ety = df_same_ety[["lang_master","term_master","lang_sleeve","term_sleeve"]]
df_same_ety

     lang_master term_master lang_sleeve       term_sleeve
0        Turkish     palavra       Dutch            parool
1        Turkish     palavra       Dutch       parabolisch
2        Turkish     palavra       Dutch      paraboolduin
3        Turkish     parabol       Dutch            parool
4        Turkish     parabol       Dutch       parabolisch
...          ...         ...         ...               ...
2679     Turkish     komando       Dutch          commando
2680     Turkish     komando       Dutch  commandocentrale
2681     Turkish     komando       Dutch   commandocentrum
2682     Turkish      bikini       Dutch            bikini
2683     Turkish      bikini       Dutch            bikini

[2683 rows x 4 columns]

In [194]:
df_ety_concat = pd.concat([df_same_ety,df_lang11,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

     lang_master term_master lang_sleeve   term_sleeve
0        Turkish     palavra       Dutch        parool
1        Turkish     palavra       Dutch   parabolisch
2        Turkish     palavra       Dutch  paraboolduin
3        Turkish     parabol       Dutch        parool
4        Turkish     parabol       Dutch   parabolisch
...          ...         ...         ...           ...
2056     Turkish         vay       Dutch           wee
2057     Turkish       mayın       Dutch          mijn
2058     Turkish      isteka       Dutch        steken
2059     Turkish        tüyo       Dutch          tuit
2060     Turkish       sprey       Dutch      sproeien

[2061 rows x 4 columns]

In [195]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

           term
0       palavra
1       parabol
2           baz
3           çek
4    parasızlık
..          ...
306        tayt
307     sipariş
308         vay
309      isteka
310        tüyo

[311 rows x 1 columns]

In [196]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
#df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"term"}, inplace=True)
df_word

               term  frequency
0               bir   18835735
1            fikret   12101580
2                bu   11062659
3                ne    8025880
4                ve    7766036
...             ...        ...
39995    ekipmanlar        974
39996     şanslılar        974
39997     aksanıyla        974
39998  yargılanacak        974
39999     tepkisini        974

[40000 rows x 2 columns]

In [197]:
df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
df_master_unique_word_merge.reset_index(drop=True, inplace=True)
df_master_unique_word_merge

         term  frequency
0         bay     875933
1       yarın     286640
2     kontrol     272328
3      doktor     266714
4       polis     247969
..        ...        ...
258   stadyum       1078
259     korse       1026
260  patlıcan       1016
261    migren       1016
262  versiyon        984

[263 rows x 2 columns]

In [198]:
df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
df_master_unique_word_merge

    turkish_word
0            bay
1          yarın
2        kontrol
3         doktor
4          polis
..           ...
258      stadyum
259        korse
260     patlıcan
261       migren
262     versiyon

[263 rows x 1 columns]

In [199]:
df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [241]:
df_pair_translate = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: x.lower())
df_pair_translate

    turkish_word dutch_word
0            bay        dhr
1          yarın     morgen
2        kontrol   controle
3         doktor       arts
4          polis    politie
..           ...        ...
258      stadyum    stadion
259        korse     korset
260     patlıcan  aubergine
261       migren   migraine
262     versiyon     versie

[263 rows x 2 columns]

In [242]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: x.lower())
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

        dutch_word
0           parool
1      parabolisch
2     paraboolduin
3             base
4            komst
...            ...
1354           wee
1355          mijn
1356        steken
1357          tuit
1358      sproeien

[1359 rows x 1 columns]

In [243]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"}, inplace=True)
df_translate_sleeve_merge

    dict_entry_main dutch_word
0             yarın     morgen
1           kontrol   controle
2             polis    politie
3             dolar     dollar
4           telefon   telefoon
..              ...        ...
123         karamel    karamel
124           korse     korset
125        patlıcan  aubergine
126          migren   migraine
127        versiyon     versie

[128 rows x 2 columns]

In [244]:
df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)

In [245]:
from googletrans import Translator

In [246]:
translator = Translator()

In [247]:
result = translator.translate('Mitä sinä teet')

AttributeError: 'NoneType' object has no attribute 'group'

In [ ]:
print(googletrans.LANGUAGES)