#### Language Pair Word Equality

In [500]:
#!pip uninstall googletrans
#import googletrans
#from googletrans import Translator

In [1]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [2]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "English"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
English
English (eng)

In [3]:
#Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}").mkdir(parents=True, exist_ok=True)

In [4]:
def low_func(x):
    try:
        var_out = x.lower()
    except:
        var_out = x
    return var_out

In [5]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result5.xlsx")
df_lang11

    lang_master term_master    lang_sleeve term_sleeve
0       Turkish        sirk        English      cirque
1       Turkish        reis        English        reis
2       Turkish       espri        English      esprit
3       Turkish     oksijen        English      oxygen
4       Turkish        kaza        English        caza
..          ...         ...            ...         ...
246     Turkish         alo  English (eng)      heaven
247     Turkish         gül  English (eng)        goal
248     Spanish       model  English (eng)        mode
249     Turkish      biftek  English (eng)        beef
250     Turkish   basketbol  English (eng)      basket

[251 rows x 4 columns]

In [6]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13 = df_lang13[["lang","term","related_lang","related_term"]]
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13["term_master"] = df_lang13["term_master"].apply(lambda x: low_func(x))
df_lang13["term_sleeve"] = df_lang13["term_sleeve"].apply(lambda x: low_func(x))
df_lang13

    lang_master  term_master lang_sleeve   term_sleeve
0       Turkish        abide     English      monument
1       Turkish          bit     English           bit
2       Turkish          bit     English  binary digit
3       Turkish         port     English          port
4       Turkish          dvd     English           dvd
..          ...          ...         ...           ...
230     Turkish        sayko     English        psycho
231     Turkish  laparoskopi     English   laparoscopy
232     Turkish       intörn     English        intern
233     Turkish        filiz     English       phyllis
234     Turkish      metelik     English      metallic

[235 rows x 4 columns]

In [7]:
df_lang14 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result4.xlsx")
df_lang14 = df_lang14[["lang","term","related_lang","related_term"]]
df_lang14.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang14["term_master"] = df_lang14["term_master"].apply(lambda x: low_func(x))
df_lang14["term_sleeve"] = df_lang14["term_sleeve"].apply(lambda x: low_func(x))
df_lang14

    lang_master    term_master lang_sleeve  term_sleeve
0       Turkish            net     English        nitid
1       Turkish            net     English         neat
2       Turkish         beygir     English          bar
3       Turkish           spor     English        sport
4       Turkish           blok     English         balk
..          ...            ...         ...          ...
347     Turkish          poşet     English       pocket
348     Turkish    materyalizm     English  materialism
349     Turkish  haber spikeri     English      speaker
350     Turkish  radyo spikeri     English        radio
351     Turkish  radyo spikeri     English      speaker

[352 rows x 4 columns]

In [8]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12 = df_lang12.loc[:,["lang","term","related_term_id"]]
df_lang12["term"] = df_lang12["term"].apply(lambda x: low_func(x))
df_lang12

         lang         term         related_term_id
0     Turkish      palavra  JHVmHqAPXEq-YaIbd0B5Jg
1     Turkish      parabol  JHVmHqAPXEq-YaIbd0B5Jg
2     Turkish   alternatif  ZSxxztTSVm6V_6rNEGaKhQ
3     Turkish          baz  1So0kFpyWh-G9xute2SNTg
4     Turkish          baz  tJZMlh3FXjinpfCxRDoq6Q
...       ...          ...                     ...
1355  Turkish       mersin  P-beaZonUeSWwjYemH9rNg
1356  Turkish     zarfında  zLybclkNVU-7cPSiOTeY1w
1357  Turkish  laparoskopi  sHhPG2-iXSKPC4suaNlwKg
1358  Turkish      tersane  8sAvMylPV06vp_knMpEaQA
1359  Turkish      tersane  uunt-HERUyi9KbO__wGPZg

[1360 rows x 3 columns]

In [9]:
df_lang22 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_2.capitalize()}/{lang_2.capitalize()}_And_{lang_1.capitalize()}_Etymologeek_Result2.xlsx")
df_lang22 = df_lang22.loc[:,["lang","term","related_term_id"]]
df_lang22["term"] = df_lang22["term"].apply(lambda x: low_func(x))
df_lang22

          lang       term         related_term_id
0      English     polari  uXGtk5g-W8G_TlTxSHImpg
1      English     polari  uXGtk5g-W8G_TlTxSHImpg
2      English   parleyer  uXGtk5g-W8G_TlTxSHImpg
3      English  parlyaree  uXGtk5g-W8G_TlTxSHImpg
4      English      parle  JHVmHqAPXEq-YaIbd0B5Jg
...        ...        ...                     ...
34940  English     majlis  S-hywYilXpmBNkVMSHQuqg
34941  English     majlis  7wU4Pb5tWHiEvP_EpzON3g
34942  English       boza  O4TUaXztVomL4vM3VsqNvA
34943  English      huzun  c41uYacuVSuuaZ3JZRApgQ
34944  English      zarph  zLybclkNVU-7cPSiOTeY1w

[34945 rows x 3 columns]

In [10]:
df_same_ety = pd.merge(df_lang12,df_lang22, how="inner", on="related_term_id", suffixes=["_master","_sleeve"])
df_same_ety = df_same_ety[["lang_master","term_master","lang_sleeve","term_sleeve"]]
df_same_ety.drop_duplicates(inplace=True)
df_same_ety

      lang_master term_master lang_sleeve term_sleeve
0         Turkish     palavra     English       parle
1         Turkish     palavra     English      parlay
2         Turkish     palavra     English      parlor
3         Turkish     palavra     English    parabola
4         Turkish     palavra     English     parable
...           ...         ...         ...         ...
24435     Turkish      süvari     English    sowarree
24436     Turkish       murat     English       murat
24437     Turkish         üye     English      majlis
24439     Turkish     hüzünlü     English       huzun
24440     Turkish    zarfında     English       zarph

[17833 rows x 4 columns]

In [11]:
df_ety_concat = pd.concat([df_same_ety,df_lang11,df_lang13,df_lang14], axis=0)
df_ety_concat.drop_duplicates(inplace=True)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

      lang_master    term_master lang_sleeve term_sleeve
0         Turkish        palavra     English       parle
1         Turkish        palavra     English      parlay
2         Turkish        palavra     English      parlor
3         Turkish        palavra     English    parabola
4         Turkish        palavra     English     parable
...           ...            ...         ...         ...
18503     Turkish         angaje     English         wed
18504     Turkish     levitasyon     English   gravitate
18505     Turkish  haber spikeri     English     speaker
18506     Turkish  radyo spikeri     English       radio
18507     Turkish  radyo spikeri     English     speaker

[18508 rows x 4 columns]

In [12]:
df_ety_concat.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [13]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

              term
0          palavra
1          parabol
2       alternatif
3              baz
4              çek
..             ...
810       hemfikir
811     regülasyon
812         angaje
813  haber spikeri
814  radyo spikeri

[815 rows x 1 columns]

In [14]:
df_master_unique.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

In [15]:
#df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
#df_word = df_word.head(40000)
##df_word = df_word.loc[:,["word"]]
#df_word.rename(columns={"word":"term"}, inplace=True)
#df_word

In [16]:
#df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
#df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
#df_master_unique_word_merge.reset_index(drop=True, inplace=True)
#df_master_unique_word_merge

In [17]:
#df_master_unique_word_merge = df_master_unique_word_merge.loc[:,["term"]]
#df_master_unique_word_merge.rename(columns={"term":f"{lang_1.lower()}_word"}, inplace=True)
#df_master_unique_word_merge

In [515]:
#df_master_unique_word_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_Unique_Word_From_{lang_2.capitalize()}_Etymology.xlsx", index=False)

#### Read Translate File

In [23]:
df_pair_translate = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()} {lang_2.capitalize()} Language Pair Translate.xlsx")
df_pair_translate

      turkish_word     english_word
0          palavra         bragging
1          parabol         parabola
2       alternatif      alternative
3              baz             base
4              çek            Check
..             ...              ...
809       hemfikir           agreed
810     regülasyon       regulation
811         angaje           engage
812  haber spikeri       newsreader
813  radyo spikeri  radio announcer

[814 rows x 2 columns]

In [24]:
df_pair_translate[f"{lang_2.lower()}_word"] = df_pair_translate[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_pair_translate

      turkish_word     english_word
0          palavra         bragging
1          parabol         parabola
2       alternatif      alternative
3              baz             base
4              çek            check
..             ...              ...
809       hemfikir           agreed
810     regülasyon       regulation
811         angaje           engage
812  haber spikeri       newsreader
813  radyo spikeri  radio announcer

[814 rows x 2 columns]

In [25]:
df_sleeve_unique = pd.DataFrame()
df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
df_sleeve_unique.rename(columns={"term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_sleeve_unique[f"{lang_2.lower()}_word"] = df_sleeve_unique[f"{lang_2.lower()}_word"].apply(lambda x: low_func(x))
df_sleeve_unique.drop_duplicates(inplace=True)
df_sleeve_unique.reset_index(drop=True, inplace=True)
df_sleeve_unique

      english_word
0            parle
1           parlay
2           parlor
3         parabola
4          parable
...            ...
13544      balance
13545   regulation
13546     genocide
13547          wed
13548    gravitate

[13549 rows x 1 columns]

In [26]:
df_translate_sleeve_merge = pd.merge(df_pair_translate,df_sleeve_unique,how="inner",on=f"{lang_2.lower()}_word")
df_translate_sleeve_merge.rename(columns={f"{lang_1.lower()}_word":"dict_entry_main"}, inplace=True)
df_translate_sleeve_merge

    dict_entry_main english_word
0           parabol     parabola
1               baz         base
2               çek        check
3         sıfırıncı         zero
4              soba        stove
..              ...          ...
377     prehistorik  prehistoric
378      performans  performance
379           dübel        dowel
380         bilanço      balance
381      regülasyon   regulation

[382 rows x 2 columns]

In [27]:
df_translate_sleeve_merge.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx", index=False)

In [ ]:
#df_translate_sleeve_merge.to_excel(f"{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)