#### Language Pair Word Equality

In [ ]:
#!pip uninstall googletrans

In [3]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
#import googletrans
#from googletrans import Translator

In [4]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Dutch"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
Dutch
Dutch (nld)

In [5]:
df_lang11 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result1.xlsx")
df_lang11 = df_lang11.loc[:,["language_main","dict_entry_main","language","dict_entry"]]
df_lang11.rename(columns={"language_main":"lang_master","dict_entry_main":"term_master","language":"lang_sleeve","dict_entry":"term_sleeve"}, inplace=True)
df_lang11

  lang_master term_master  lang_sleeve term_sleeve
0     Turkish        şans  Dutch (nld)        dice
1     Turkish        loca  Dutch (nld)      laubja

In [6]:
df_lang12 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_lang12 = df_lang12.loc[:,["lang","term","related_term_id"]]
df_lang12

        lang           term         related_term_id
0    Turkish        palavra  JHVmHqAPXEq-YaIbd0B5Jg
1    Turkish        parabol  JHVmHqAPXEq-YaIbd0B5Jg
2    Turkish            baz  1So0kFpyWh-G9xute2SNTg
3    Turkish            çek  7SrzrJtdV2yhdkdGZ8hfyQ
4    Turkish     parasızlık  GZt9Azt2Xjehbp6BzQhxRQ
..       ...            ...                     ...
372  Turkish    i̇stanbullu  LVvnOSxFUyyGr0rTBrB73w
373  Turkish       primitif  G9hPkRAwXHSC1cV7AWd9Xg
374  Turkish         bikini  oqwJif0MXBegenMOx5b9bw
375  Turkish      beyzbolcu  tax-N0vEUdihpfdLbAjmow
376  Turkish  konfederasyon  f04UyjpBVpyyJJsvWY-cMw

[377 rows x 3 columns]

In [7]:
df_lang13 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result3.xlsx")
df_lang13.rename(columns={"lang":"lang_master","term":"term_master","related_lang":"lang_sleeve","related_term":"term_sleeve"}, inplace=True)
df_lang13

  lang_master term_master       reltype lang_sleeve term_sleeve
0     Turkish       japon  derived_from       Dutch       Japan
1     Turkish      manken  derived_from       Dutch    manneken

In [8]:
df_lang22 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_2.capitalize()}/{lang_2.capitalize()}_And_{lang_1.capitalize()}_Etymologeek_Result2.xlsx")
df_lang22 = df_lang22.loc[:,["lang","term","related_term_id"]]
df_lang22

       lang              term         related_term_id
0     Dutch            parool  JHVmHqAPXEq-YaIbd0B5Jg
1     Dutch       parabolisch  JHVmHqAPXEq-YaIbd0B5Jg
2     Dutch      paraboolduin  JHVmHqAPXEq-YaIbd0B5Jg
3     Dutch         altruïsme  ZSxxztTSVm6V_6rNEGaKhQ
4     Dutch              base  1So0kFpyWh-G9xute2SNTg
...     ...               ...                     ...
2148  Dutch            paraaf  M3eg5_OCWDSYAlc1w5iARA
2149  Dutch  commandocentrale  GCLldHElW8KIEIKI10kKiQ
2150  Dutch   commandocentrum  GCLldHElW8KIEIKI10kKiQ
2151  Dutch            bikini  oqwJif0MXBegenMOx5b9bw
2152  Dutch             hamam  nNYwEWSNV9GpqKN9spDaVg

[2153 rows x 3 columns]

In [9]:
df_same_ety = pd.merge(df_lang12,df_lang22, how="inner", on="related_term_id", suffixes=["_master","_sleeve"])
df_same_ety.drop_duplicates(inplace=True)
df_same_ety

     lang_master term_master         related_term_id lang_sleeve   term_sleeve
0        Turkish     palavra  JHVmHqAPXEq-YaIbd0B5Jg       Dutch        parool
1        Turkish     palavra  JHVmHqAPXEq-YaIbd0B5Jg       Dutch   parabolisch
2        Turkish     palavra  JHVmHqAPXEq-YaIbd0B5Jg       Dutch  paraboolduin
3        Turkish     parabol  JHVmHqAPXEq-YaIbd0B5Jg       Dutch        parool
4        Turkish     parabol  JHVmHqAPXEq-YaIbd0B5Jg       Dutch   parabolisch
...          ...         ...                     ...         ...           ...
1238     Turkish    silindir  EuWYJQS3XUmwMvKT5rPZdw       Dutch  cilinderhoed
1239     Turkish    silindir  EuWYJQS3XUmwMvKT5rPZdw       Dutch      kalander
1240     Turkish    silindir  EuWYJQS3XUmwMvKT5rPZdw       Dutch  cilinderdeur
1241     Turkish      pijama  ksheUv1HXryKq1kAYr6yMQ       Dutch        pyjama
1242     Turkish      bikini  oqwJif0MXBegenMOx5b9bw       Dutch        bikini

[1243 rows x 5 columns]

In [10]:
df_ety_concat = pd.concat([df_same_ety,df_lang11,df_lang13], axis=0)
df_ety_concat.reset_index(drop=True, inplace=True)
df_ety_concat

,lang_master,term_master,related_term_id,lang_sleeve,term_sleeve,reltype
0,Turkish,palavra,JHVmHqAPXEq-YaIbd0B5Jg,Dutch,parool,NaN
1,Turkish,palavra,JHVmHqAPXEq-YaIbd0B5Jg,Dutch,parabolisch,NaN
2,Turkish,palavra,JHVmHqAPXEq-YaIbd0B5Jg,Dutch,paraboolduin,NaN
3,Turkish,parabol,JHVmHqAPXEq-YaIbd0B5Jg,Dutch,parool,NaN
4,Turkish,parabol,JHVmHqAPXEq-YaIbd0B5Jg,Dutch,parabolisch,NaN
...,...,...,...,...,...,...
1242,Turkish,bikini,oqwJif0MXBegenMOx5b9bw,Dutch,bikini,NaN
1243,Turkish,şans,NaN,Dutch (nld),dice,NaN
1244,Turkish,loca,NaN,Dutch (nld),laubja,NaN
1245,Turkish,japon,NaN,Dutch,Japan,derived_from
1246,Turkish,manken,NaN,Dutch,manneken,derived_from

In [11]:
df_master_unique = pd.DataFrame()
df_master_unique["term_master"] = df_ety_concat["term_master"].unique()
df_master_unique.rename(columns={"term_master":"term"}, inplace=True)
df_master_unique

           term
0       palavra
1       parabol
2           baz
3           çek
4    parasızlık
..          ...
219      pijama
220      bikini
221        şans
222        loca
223      manken

[224 rows x 1 columns]

In [12]:
#df_sleeve_unique = pd.DataFrame()
#df_sleeve_unique["term_sleeve"] = df_ety_concat["term_sleeve"].unique()
#df_sleeve_unique.rename(columns={"term_sleeve":"term"}, inplace=True)
#df_sleeve_unique

In [13]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_1.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
#df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"term"}, inplace=True)
df_word

               term  frequency
0               bir   18835735
1            fikret   12101580
2                bu   11062659
3                ne    8025880
4                ve    7766036
...             ...        ...
39995    ekipmanlar        974
39996     şanslılar        974
39997     aksanıyla        974
39998  yargılanacak        974
39999     tepkisini        974

[40000 rows x 2 columns]

In [16]:
df_master_unique_word_merge = pd.merge(df_word,df_master_unique, how="inner", on="term")
df_master_unique_word_merge.sort_values(by="frequency", inplace=True, ascending=False)
df_master_unique_word_merge.reset_index(drop=True, inplace=True)
df_master_unique_word_merge

         term  frequency
0         bay     875933
1     kontrol     272328
2      doktor     266714
3       polis     247969
4       dolar     199343
..        ...        ...
187   stadyum       1078
188     korse       1026
189  patlıcan       1016
190    migren       1016
191  versiyon        984

[192 rows x 2 columns]

In [23]:
from googletrans import Translator

In [24]:
translator = Translator()

In [25]:
result = translator.translate('Mitä sinä teet')

AttributeError: 'NoneType' object has no attribute 'group'

In [22]:
print(googletrans.LANGUAGES)

{'af': 'afrikaans', 'sq': 'albanian', 'am': 'amharic', 'ar': 'arabic', 'hy': 'armenian', 'az': 'azerbaijani', 'eu': 'basque', 'be': 'belarusian', 'bn': 'bengali', 'bs': 'bosnian', 'bg': 'bulgarian', 'ca': 'catalan', 'ceb': 'cebuano', 'ny': 'chichewa', 'zh-cn': 'chinese (simplified)', 'zh-tw': 'chinese (traditional)', 'co': 'corsican', 'hr': 'croatian', 'cs': 'czech', 'da': 'danish', 'nl': 'dutch', 'en': 'english', 'eo': 'esperanto', 'et': 'estonian', 'tl': 'filipino', 'fi': 'finnish', 'fr': 'french', 'fy': 'frisian', 'gl': 'galician', 'ka': 'georgian', 'de': 'german', 'el': 'greek', 'gu': 'gujarati', 'ht': 'haitian creole', 'ha': 'hausa', 'haw': 'hawaiian', 'iw': 'hebrew', 'he': 'hebrew', 'hi': 'hindi', 'hmn': 'hmong', 'hu': 'hungarian', 'is': 'icelandic', 'ig': 'igbo', 'id': 'indonesian', 'ga': 'irish', 'it': 'italian', 'ja': 'japanese', 'jw': 'javanese', 'kn': 'kannada', 'kk': 'kazakh', 'km': 'khmer', 'ko': 'korean', 'ku': 'kurdish (kurmanji)', 'ky': 'kyrgyz', 'lo': 'lao', 'la': 'latin', 'lv': 'latvian', 'lt': 'lithuanian', 'lb': 'luxembourgish', 'mk': 'macedonian', 'mg': 'malagasy', 'ms': 'malay', 'ml': 'malayalam', 'mt': 'maltese', 'mi': 'maori', 'mr': 'marathi', 'mn': 'mongolian', 'my': 'myanmar (burmese)', 'ne': 'nepali', 'no': 'norwegian', 'or': 'odia', 'ps': 'pashto', 'fa': 'persian', 'pl': 'polish', 'pt': 'portuguese', 'pa': 'punjabi', 'ro': 'romanian', 'ru': 'russian', 'sm': 'samoan', 'gd': 'scots gaelic', 'sr': 'serbian', 'st': 'sesotho', 'sn': 'shona', 'sd': 'sindhi', 'si': 'sinhala', 'sk': 'slovak', 'sl': 'slovenian', 'so': 'somali', 'es': 'spanish', 'su': 'sundanese', 'sw': 'swahili', 'sv': 'swedish', 'tg': 'tajik', 'ta': 'tamil', 'te': 'telugu', 'th': 'thai', 'tr': 'turkish', 'uk': 'ukrainian', 'ur': 'urdu', 'ug': 'uyghur', 'uz': 'uzbek', 'vi': 'vietnamese', 'cy': 'welsh', 'xh': 'xhosa', 'yi': 'yiddish', 'yo': 'yoruba', 'zu': 'zulu'}