### Etymology TVS File

In [1]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize

#### Read TVS And Convert

In [2]:
df_tvs = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/All/etymwn.tsv", sep="\t")
df_tvs.rename(columns={"aaq: Pawanobskewi":"column_1","rel:etymological_origin_of":"column_2","eng: Penobscot":"column_3"}, inplace=True)
df_tvs

              column_1                    column_2            column_3
0          aaq: senabe  rel:etymological_origin_of         eng: sannup
1        abe: waniigan  rel:etymological_origin_of         eng: wangan
2        abe: waniigan  rel:etymological_origin_of       eng: wannigan
3            abs: beta  rel:etymological_origin_of           zsm: beta
4            adt: yuru  rel:etymological_origin_of           eng: euro
...                ...                         ...                 ...
6031425       zul: ya-  rel:etymological_origin_of  zul: inhlamvu yeso
6031426       zul: ya-  rel:etymological_origin_of  zul: inja yasendle
6031427       zul: zi-         rel:is_derived_from           zul: izi-
6031428      zul: zim-         rel:is_derived_from          zul: izim-
6031429      zul: zin-         rel:is_derived_from          zul: izin-

[6031430 rows x 3 columns]

In [3]:
def low_func(x):
    try:
        var_out = x.lower()
    except:
        var_out = x
    return var_out

In [4]:
def strip_func(x):
    try:
        var_out = x.strip()
    except:
        var_out = x
    return var_out

In [5]:
df_col_1 = df_tvs["column_1"].str.split(":", n=-1, expand=True)
df_col_1 = df_col_1.iloc[:,[0,1]]
df_col_1.rename(columns={0:"lang",1:"term"}, inplace=True)
df_col_2 = df_tvs["column_2"].str.split(":", n=-1, expand=True)
df_col_2 = df_col_2.iloc[:,[1]]
df_col_2.rename(columns={1:"reltype"}, inplace=True)
df_col_3 = df_tvs["column_3"].str.split(":", n=-1, expand=True)
df_col_3 = df_col_3.iloc[:,[0,1]]
df_col_3.rename(columns={0:"related_lang",1:"related_term"}, inplace=True)

In [6]:
df_tvs_expand =  pd.concat([df_col_1,df_col_2,df_col_3], axis=1)
df_tvs_expand

        lang       term                 reltype related_lang    related_term
0        aaq     senabe  etymological_origin_of          eng          sannup
1        abe   waniigan  etymological_origin_of          eng          wangan
2        abe   waniigan  etymological_origin_of          eng        wannigan
3        abs       beta  etymological_origin_of          zsm            beta
4        adt       yuru  etymological_origin_of          eng            euro
...      ...        ...                     ...          ...             ...
6031425  zul        ya-  etymological_origin_of          zul   inhlamvu yeso
6031426  zul        ya-  etymological_origin_of          zul   inja yasendle
6031427  zul        zi-         is_derived_from          zul            izi-
6031428  zul       zim-         is_derived_from          zul           izim-
6031429  zul       zin-         is_derived_from          zul           izin-

[6031430 rows x 5 columns]

In [7]:
df_tvs_expand["lang"] = df_tvs_expand["lang"].apply(lambda x: low_func(x))
df_tvs_expand["lang"] = df_tvs_expand["lang"].apply(lambda x: strip_func(x))
df_tvs_expand["term"] = df_tvs_expand["term"].apply(lambda x: low_func(x))
df_tvs_expand["term"] = df_tvs_expand["term"].apply(lambda x: strip_func(x))
df_tvs_expand["reltype"] = df_tvs_expand["reltype"].apply(lambda x: low_func(x))
df_tvs_expand["reltype"] = df_tvs_expand["reltype"].apply(lambda x: strip_func(x))
df_tvs_expand["related_lang"] = df_tvs_expand["related_lang"].apply(lambda x: low_func(x))
df_tvs_expand["related_lang"] = df_tvs_expand["related_lang"].apply(lambda x: strip_func(x))
df_tvs_expand["related_term"] = df_tvs_expand["related_term"].apply(lambda x: low_func(x))
df_tvs_expand["related_term"] = df_tvs_expand["related_term"].apply(lambda x: strip_func(x))

In [8]:
#df_tvs_expand.to_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/All/etymwn.csv", index=False)

#### Read CSV File

##### Part 1

In [46]:
df_etymology = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/All/etymwn.csv")
df_etymology

        lang      term                 reltype related_lang   related_term
0        aaq    senabe  etymological_origin_of          eng         sannup
1        abe  waniigan  etymological_origin_of          eng         wangan
2        abe  waniigan  etymological_origin_of          eng       wannigan
3        abs      beta  etymological_origin_of          zsm           beta
4        adt      yuru  etymological_origin_of          eng           euro
...      ...       ...                     ...          ...            ...
6031425  zul       ya-  etymological_origin_of          zul  inhlamvu yeso
6031426  zul       ya-  etymological_origin_of          zul  inja yasendle
6031427  zul       zi-         is_derived_from          zul           izi-
6031428  zul      zim-         is_derived_from          zul          izim-
6031429  zul      zin-         is_derived_from          zul          izin-

[6031430 rows x 5 columns]

In [88]:
lang_1 = "tur"  # tur, eng, fra, deu, prt, esp, ita, nld, ??arb, rus
lang_2 = "arb"  # tur, eng, fra, deu, prt, esp, ita, nld, ??arb, rus

if lang_1 == "tur":
    lang_3 = "Turkish"
elif lang_1 == "eng":
    lang_3 = "English"
elif lang_1 == "fra":
    lang_3 = "French"
elif lang_1 == "deu":
    lang_3 = "German"
elif lang_1 == "prt":
    lang_3 = "Portuguese"
elif lang_1 == "esp":
    lang_3 = "Spanish"
elif lang_1 == "ita":
    lang_3 = "Italian"
elif lang_1 == "nld":
    lang_3 = "Dutch"
elif lang_1 == "arb":
    lang_3 = "Arabic"
elif lang_1 == "rus":
    lang_3 = "Russian"
else:
    pass

if lang_2 == "tur":
    lang_4 = "Turkish"
elif lang_2 == "eng":
    lang_4 = "English"
elif lang_2 == "fra":
    lang_4 = "French"
elif lang_2 == "deu":
    lang_4 = "German"
elif lang_2 == "prt":
    lang_4 = "Portuguese"
elif lang_2 == "esp":
    lang_4 = "Spanish"
elif lang_2 == "ita":
    lang_4 = "Italian"
elif lang_2 == "nld":
    lang_4 = "Dutch"
elif lang_2 == "arb":
    lang_4 = "Arabic"
elif lang_2 == "rus":
    lang_4 = "Russian"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}\n{lang_4}")

tur
arb
Turkish
Arabic

In [89]:
df_lang1 = df_etymology[df_etymology.lang == f"{lang_1.lower()}"]
df_lang1.reset_index(drop=True, inplace=True)
df_lang1

      lang    term                 reltype related_lang related_term
0      tur     -ca  etymological_origin_of          tur      almanca
1      tur     -ca  etymological_origin_of          tur   amerikanca
2      tur     -ca  etymological_origin_of          tur     boole'ca
3      tur     -ca  etymological_origin_of          tur     bulgarca
4      tur     -ca  etymological_origin_of          tur        danca
...    ...     ...                     ...          ...          ...
22642  tur    نجار  etymological_origin_of          hye     նաջարյան
22643  tur    نجار  etymological_origin_of          hye        նաջար
22644  tur  ‏پاشا‎  etymological_origin_of          hun         pasa
22645  tur    ﮔﺎﻭﺭ  etymological_origin_of          hun        gyaur
22646  tur    ﮔﺎﻭﺭ               etymology          fas          گبر

[22647 rows x 5 columns]

In [90]:
df_lang2 = df_etymology[df_etymology.lang == f"{lang_2.lower()}"]
df_lang2.reset_index(drop=True, inplace=True)
df_lang2

Empty DataFrame
Columns: [lang, term, reltype, related_lang, related_term]
Index: []

In [80]:
df_lang1_lang2 = pd.merge(df_lang1,df_lang2,how="inner",on=["related_lang","related_term"])
df_lang1_lang2.drop_duplicates(inplace=True)
df_lang1_lang2.reset_index(drop=True, inplace=True)
df_lang1_lang2

Empty DataFrame
Columns: [lang_x, term_x, reltype_x, related_lang, related_term, lang_y, term_y, reltype_y]
Index: []

In [81]:
df_lang1_lang2_result = df_lang1_lang2[df_lang1_lang2["related_lang"] == f"{lang_2.lower()}"]
df_lang1_lang2_result

Empty DataFrame
Columns: [lang_x, term_x, reltype_x, related_lang, related_term, lang_y, term_y, reltype_y]
Index: []

In [82]:
df_lang1_lang2_result.drop_duplicates(subset="term_x", inplace=True)
df_lang1_lang2_result.reset_index(drop=True, inplace=True)
df_lang1_lang2_result

Empty DataFrame
Columns: [lang_x, term_x, reltype_x, related_lang, related_term, lang_y, term_y, reltype_y]
Index: []

In [83]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_3.capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
df_word = df_word.head(40000)
df_word = df_word.loc[:,["word"]]
df_word.rename(columns={"word":"term_x"}, inplace=True)
df_word

             term_x
0               bir
1            fikret
2                bu
3                ne
4                ve
...             ...
39995    ekipmanlar
39996     şanslılar
39997     aksanıyla
39998  yargılanacak
39999     tepkisini

[40000 rows x 1 columns]

In [84]:
df_lang1_lang2_word_check = pd.merge(df_lang1_lang2_result, df_word, how="inner", on="term_x")
df_lang1_lang2_word_check = df_lang1_lang2_word_check.loc[:,["term_x","related_term"]]
df_lang1_lang2_word_check.rename(columns={"term_x":"dict_entry_main","related_term":f"{lang_4.lower()}_word"}, inplace=True)
df_lang1_lang2_word_check

Empty DataFrame
Columns: [dict_entry_main, arabic_word]
Index: []

##### Part 2

In [85]:
df_lang1_lang2_result2 = df_etymology[(df_etymology["lang"] == f"{lang_1.lower()}") & (df_etymology["related_lang"] == f"{lang_2.lower()}")]
df_lang1_lang2_result2

Empty DataFrame
Columns: [lang, term, reltype, related_lang, related_term]
Index: []

In [86]:
df_word

             term_x
0               bir
1            fikret
2                bu
3                ne
4                ve
...             ...
39995    ekipmanlar
39996     şanslılar
39997     aksanıyla
39998  yargılanacak
39999     tepkisini

[40000 rows x 1 columns]

In [87]:
df_lang1_lang2_word_check2 = pd.merge(df_lang1_lang2_result2, df_word, how="inner", left_on="term", right_on="term_x")
df_lang1_lang2_word_check2 = df_lang1_lang2_word_check2.loc[:,["term","related_term"]]
df_lang1_lang2_word_check2.rename(columns={"term":"dict_entry_main","related_term":f"{lang_4.lower()}_word"}, inplace=True)
df_lang1_lang2_word_check2

Empty DataFrame
Columns: [dict_entry_main, arabic_word]
Index: []

##### Concat Part 1 And Part 2

In [73]:
df_part1_part2_concat = pd.concat([df_lang1_lang2_word_check,df_lang1_lang2_word_check2], axis=0)
df_part1_part2_concat.drop_duplicates(inplace=True)
df_part1_part2_concat

  dict_entry_main turkish_word
0         tulband      tülbent
1            tulp      tülbent
2          vizier        vezir

In [74]:
file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_3.capitalize()}/{lang_3.capitalize()}_And_{lang_4.capitalize()}*_Etymologeek_Result_All.xlsx")
file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Dutch/Dutch_And_Turkish (tur)_Etymologeek_Result_All.xlsx']

In [75]:
df_test = pd.read_excel(f"{file[0]}")
df_test

    dict_entry_main turkish_word
0           politie        polis
1             agent         ajan
2            school         okul
3           scholen         okul
4            dokter       doktor
..              ...          ...
157      chromosoom     kromozom
158           pasja         paşa
159           these          tez
160      bladmuziek         nota
161         etnisch        etnik

[162 rows x 2 columns]

In [76]:
df_part1_part2_concat2 = pd.concat([df_part1_part2_concat,df_test], axis=0)
df_part1_part2_concat2.drop_duplicates(inplace=True)
df_part1_part2_concat2

    dict_entry_main turkish_word
0           tulband      tülbent
1              tulp      tülbent
2            vizier        vezir
0           politie        polis
1             agent         ajan
..              ...          ...
157      chromosoom     kromozom
158           pasja         paşa
159           these          tez
160      bladmuziek         nota
161         etnisch        etnik

[165 rows x 2 columns]