### Etymology TVS File

In [1]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

#### Read TVS And Convert

In [ ]:
#df_tvs = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/All/etymwn.tsv", sep="\t")
#df_tvs.rename(columns={"aaq: Pawanobskewi":"column_1","rel:etymological_origin_of":"column_2","eng: Penobscot":"column_3"}, inplace=True)
#df_tvs

In [ ]:
#def low_func(x):
#    try:
#        var_out = x.lower()
#    except:
#        var_out = x
#    return var_out

In [ ]:
#def strip_func(x):
#    try:
#        var_out = x.strip()
#    except:
#        var_out = x
#    return var_out

In [ ]:
#df_col_1 = df_tvs["column_1"].str.split(":", n=-1, expand=True)
#df_col_1 = df_col_1.iloc[:,[0,1]]
#df_col_1.rename(columns={0:"lang",1:"term"}, inplace=True)
#df_col_2 = df_tvs["column_2"].str.split(":", n=-1, expand=True)
#df_col_2 = df_col_2.iloc[:,[1]]
#df_col_2.rename(columns={1:"reltype"}, inplace=True)
#df_col_3 = df_tvs["column_3"].str.split(":", n=-1, expand=True)
#df_col_3 = df_col_3.iloc[:,[0,1]]
#df_col_3.rename(columns={0:"related_lang",1:"related_term"}, inplace=True)

In [ ]:
#df_tvs_expand =  pd.concat([df_col_1,df_col_2,df_col_3], axis=1)
#df_tvs_expand

In [ ]:
#df_tvs_expand["lang"] = df_tvs_expand["lang"].apply(lambda x: low_func(x))
#df_tvs_expand["lang"] = df_tvs_expand["lang"].apply(lambda x: strip_func(x))
#df_tvs_expand["term"] = df_tvs_expand["term"].apply(lambda x: low_func(x))
#df_tvs_expand["term"] = df_tvs_expand["term"].apply(lambda x: strip_func(x))
#df_tvs_expand["reltype"] = df_tvs_expand["reltype"].apply(lambda x: low_func(x))
#df_tvs_expand["reltype"] = df_tvs_expand["reltype"].apply(lambda x: strip_func(x))
#df_tvs_expand["related_lang"] = df_tvs_expand["related_lang"].apply(lambda x: low_func(x))
#df_tvs_expand["related_lang"] = df_tvs_expand["related_lang"].apply(lambda x: strip_func(x))
#df_tvs_expand["related_term"] = df_tvs_expand["related_term"].apply(lambda x: low_func(x))
#df_tvs_expand["related_term"] = df_tvs_expand["related_term"].apply(lambda x: strip_func(x))

In [ ]:
#df_tvs_expand.to_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/All/etymwn.csv", index=False)

#### Read CSV File

##### Part 1

In [2]:
df_etymology = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/All/etymwn.csv")
df_etymology

        lang      term                 reltype related_lang   related_term
0        aaq    senabe  etymological_origin_of          eng         sannup
1        abe  waniigan  etymological_origin_of          eng         wangan
2        abe  waniigan  etymological_origin_of          eng       wannigan
3        abs      beta  etymological_origin_of          zsm           beta
4        adt      yuru  etymological_origin_of          eng           euro
...      ...       ...                     ...          ...            ...
6031425  zul       ya-  etymological_origin_of          zul  inhlamvu yeso
6031426  zul       ya-  etymological_origin_of          zul  inja yasendle
6031427  zul       zi-         is_derived_from          zul           izi-
6031428  zul      zim-         is_derived_from          zul          izim-
6031429  zul      zin-         is_derived_from          zul          izin-

[6031430 rows x 5 columns]

In [3]:
lang_1 = "tur"  # tur, eng, fra, deu, por, spa, ita, nld, ara, rus
lang_2 = "eng"  # tur, eng, fra, deu, por, spa, ita, nld, ara, rus

if lang_1 == "tur":
    lang_3 = "Turkish"
elif lang_1 == "eng":
    lang_3 = "English"
elif lang_1 == "fra":
    lang_3 = "French"
elif lang_1 == "deu":
    lang_3 = "German"
elif lang_1 == "por":
    lang_3 = "Portuguese"
elif lang_1 == "spa":
    lang_3 = "Spanish"
elif lang_1 == "ita":
    lang_3 = "Italian"
elif lang_1 == "nld":
    lang_3 = "Dutch"
elif lang_1 == "ara":
    lang_3 = "Arabic"
elif lang_1 == "rus":
    lang_3 = "Russian"
else:
    pass

if lang_2 == "tur":
    lang_4 = "Turkish"
elif lang_2 == "eng":
    lang_4 = "English"
elif lang_2 == "fra":
    lang_4 = "French"
elif lang_2 == "deu":
    lang_4 = "German"
elif lang_2 == "por":
    lang_4 = "Portuguese"
elif lang_2 == "spa":
    lang_4 = "Spanish"
elif lang_2 == "ita":
    lang_4 = "Italian"
elif lang_2 == "nld":
    lang_4 = "Dutch"
elif lang_2 == "ara":
    lang_4 = "Arabic"
elif lang_2 == "rus":
    lang_4 = "Russian"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}\n{lang_4}")

tur
eng
Turkish
English

In [4]:
#Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_3.capitalize()}").mkdir(parents=True, exist_ok=True)

In [5]:
df_lang1 = df_etymology[df_etymology.lang == f"{lang_1.lower()}"]
df_lang1.reset_index(drop=True, inplace=True)
df_lang1 = df_lang1[~(df_lang1["related_lang"] == f"{lang_1.lower()}")]
df_lang1 = df_lang1[~(df_lang1["related_lang"] == f"{lang_2.lower()}")]
df_lang1

      lang    term                 reltype related_lang related_term
118    tur     -cı  etymological_origin_of          lad         -djí
457    tur    -luk  etymological_origin_of          hbs         -luk
996    tur     -çi  etymological_origin_of          hye          -չի
1066   tur   allah  etymological_origin_of          rus        аллах
1067   tur   allah               etymology          ara         الله
...    ...     ...                     ...          ...          ...
22642  tur    نجار  etymological_origin_of          hye     նաջարյան
22643  tur    نجار  etymological_origin_of          hye        նաջար
22644  tur  ‏پاشا‎  etymological_origin_of          hun         pasa
22645  tur    ﮔﺎﻭﺭ  etymological_origin_of          hun        gyaur
22646  tur    ﮔﺎﻭﺭ               etymology          fas          گبر

[2268 rows x 5 columns]

In [6]:
df_lang2 = df_etymology[df_etymology.lang == f"{lang_2.lower()}"]
df_lang2.reset_index(drop=True, inplace=True)
df_lang2 = df_lang2[~(df_lang2["related_lang"] == f"{lang_1.lower()}")]
df_lang2 = df_lang2[~(df_lang2["related_lang"] == f"{lang_2.lower()}")]
df_lang2

,lang,term,reltype,related_lang,related_term
12,eng,''[[belly]] [[hot]]'',etymological_origin_of,tpi,belhat
13,eng,''[[body]] [[check]]'',etymological_origin_of,jpn,bodīchekku
14,eng,''[[body]] [[check]]'',etymological_origin_of,jpn,ボディーチェック
15,eng,''[[cane]] [[top]]'',etymological_origin_of,hif,kantaap
16,eng,''[[come]] [[up]]'',etymological_origin_of,tpi,kamap
...,...,...,...,...,...
990944,eng,œnotrus,etymology,grc,οἴνωτρος
990945,eng,œnoë,etymology,grc,οἰνόη
990999,eng,œcumene,etymology,lat,oecumenicus
991146,eng,стриптиз,etymological_origin_of,hye,ստրիպտիզ
991149,eng,ḍamma,etymology,ara,ضمة

In [7]:
df_lang1_lang2 = pd.merge(df_lang1,df_lang2,how="inner",on=["related_lang","related_term"])
df_lang1_lang2.drop_duplicates(inplace=True)
df_lang1_lang2.reset_index(drop=True, inplace=True)
df_lang1_lang2

,lang_x,term_x,reltype_x,related_lang,related_term,lang_y,term_y,reltype_y
0,tur,allah,etymology,ara,الله,eng,allah,etymology
1,tur,aristo,etymology,grc,ἀριστοτέλης,eng,aristotle,etymology
2,tur,emir,etymology,ara,أَمِير,eng,emir,etymology
3,tur,karagöz,etymological_origin_of,ell,καραγκιόζης,eng,karagiozis,etymology
4,tur,kur'an,etymology,ara,القرآن,eng,qur'an,etymology
...,...,...,...,...,...,...,...,...
233,tur,şarap,etymology,ara,شراب,eng,shrub,etymology
234,tur,şayka,etymological_origin_of,fra,saïque,eng,saic,etymology
235,tur,şeytan,etymology,ara,شيطان,eng,shaitan,etymology
236,tur,şişe,etymological_origin_of,arz,شيشة,eng,shisha,etymology
237,tur,şişlik,etymological_origin_of,rus,шашлык,eng,shashlik,etymology

In [8]:
df_lang1_lang2_result1 = df_lang1_lang2.loc[:,["term_x","term_y"]]
df_lang1_lang2_result1.rename(columns={"term_x":"dict_entry_main","term_y":f"{lang_4.lower()}_word"}, inplace=True)
df_lang1_lang2_result1.reset_index(drop=True, inplace=True)
df_lang1_lang2_result1

    dict_entry_main english_word
0             allah        allah
1            aristo    aristotle
2              emir         emir
3           karagöz   karagiozis
4            kur'an       qur'an
..              ...          ...
233           şarap        shrub
234           şayka         saic
235          şeytan      shaitan
236            şişe       shisha
237          şişlik     shashlik

[238 rows x 2 columns]

##### Part 2

In [9]:
df_lang1_lang2_result2 = df_etymology[(df_etymology["lang"] == f"{lang_1.lower()}") & (df_etymology["related_lang"] == f"{lang_2.lower()}")]
df_lang1_lang2_result2

,lang,term,reltype,related_lang,related_term
5896194,tur,afyonkarahisar,etymological_origin_of,eng,afyonkarahisar
5896254,tur,aras,etymological_origin_of,eng,aras
5896393,tur,can,etymology,eng,john
5896420,tur,dvd,etymology,eng,dvd
5896476,tur,erdoğan,etymological_origin_of,eng,erdoğan
...,...,...,...,...,...
5917610,tur,şerif,etymology,eng,sheriff
5917679,tur,şiş,etymological_origin_of,eng,shish
5917684,tur,şiş kebap,etymological_origin_of,eng,shishkabob
5917708,tur,şov,etymology,eng,show
5917766,tur,ایالت,etymological_origin_of,eng,eyalet

In [10]:
df_lang1_lang2_result2 = df_lang1_lang2_result2.loc[:,["term","related_term"]]
df_lang1_lang2_result2.rename(columns={"term":"dict_entry_main","related_term":f"{lang_4.lower()}_word"}, inplace=True)
df_lang1_lang2_result2.reset_index(drop=True, inplace=True)
df_lang1_lang2_result2

    dict_entry_main    english_word
0    afyonkarahisar  afyonkarahisar
1              aras            aras
2               can            john
3               dvd             dvd
4           erdoğan         erdoğan
..              ...             ...
161           şerif         sheriff
162             şiş           shish
163       şiş kebap      shishkabob
164             şov            show
165           ایالت          eyalet

[166 rows x 2 columns]

##### Concat Part 1 And Part 2

In [11]:
#df_part1_part2_concat = pd.concat([df_lang1_lang2_word_check,df_lang1_lang2_word_check2], axis=0)
df_part1_part2_concat = pd.concat([df_lang1_lang2_result1,df_lang1_lang2_result2], axis=0)
df_part1_part2_concat.drop_duplicates(inplace=True)
df_part1_part2_concat.reset_index(drop=True, inplace=True)
df_part1_part2_concat

    dict_entry_main english_word
0             allah        allah
1            aristo    aristotle
2              emir         emir
3           karagöz   karagiozis
4            kur'an       qur'an
..              ...          ...
396           şerif      sheriff
397             şiş        shish
398       şiş kebap   shishkabob
399             şov         show
400           ایالت       eyalet

[401 rows x 2 columns]

In [ ]:
df_part1_part2_concat.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_3.capitalize()}/{lang_3.capitalize()}_And_{lang_4.capitalize()}_Etymologeek_Concat_Result2.xlsx", index=False)