### Etymology Concat Result Merge

In [85]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [86]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "German"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
German
German (deu)

In [87]:
df_concat1 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx")
df_concat1

    dict_entry_main   german_word
0              broş       brosche
1               net          netz
2             bilet     fahrkarte
3            etiket     fahrkarte
4              kupa         tasse
..              ...           ...
171        kromozom     chromosom
172           yarın        morgen
173          sürücü       treiber
174     homoseksüel   homosexuell
175     laparoskopi  laparoskopie

[176 rows x 2 columns]

In [88]:
df_concat2 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result2.xlsx")
df_concat2

   dict_entry_main  german_word
0           aristo  aristoteles
1          pandora      pandora
2            adres      adresse
3             akor       akkord
4            ambi-        ambi-
..             ...          ...
88          kuvars        quarz
89         tülbent       turban
90         volfram      wolfram
91           çakal      schakal
92          şablon    schablone

[93 rows x 2 columns]

In [89]:
df_merge_result = pd.concat([df_concat1,df_concat2], axis=0)
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

    dict_entry_main german_word
0              broş     brosche
1               net        netz
2             bilet   fahrkarte
3            etiket   fahrkarte
4              kupa       tasse
..              ...         ...
244       haymatlos   heimatlos
245           helde      heiden
246           kuruş    groschen
247         tülbent      turban
248           çakal     schakal

[249 rows x 2 columns]

In [90]:
df_merge_result.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)

#### Compare All Cross Word With Result

In [91]:
df_all_cross = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx")
df_all_cross

     lang_master  term_master lang_sleeve   term_sleeve
0        Turkish          baz      German       basecap
1        Turkish          baz      German          bass
2        Turkish          çek      German       checken
3        Turkish          çek      German         check
4        Turkish          çek      German        schach
...          ...          ...         ...           ...
2162     Turkish     baldıran      German      baldrian
2163     Turkish  laparoskopi      German  laparoskopie
2164     Turkish        sprey      German       sprühen
2165     Turkish    protestan      German    protestant
2166     Turkish    trambolin      German      trampeln

[2167 rows x 4 columns]

In [92]:
df_all_cross.rename(columns={"term_master":"dict_entry_main", "term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_all_cross

     lang_master dict_entry_main lang_sleeve   german_word
0        Turkish             baz      German       basecap
1        Turkish             baz      German          bass
2        Turkish             çek      German       checken
3        Turkish             çek      German         check
4        Turkish             çek      German        schach
...          ...             ...         ...           ...
2162     Turkish        baldıran      German      baldrian
2163     Turkish     laparoskopi      German  laparoskopie
2164     Turkish           sprey      German       sprühen
2165     Turkish       protestan      German    protestant
2166     Turkish       trambolin      German      trampeln

[2167 rows x 4 columns]

In [93]:
df_merge_result

    dict_entry_main german_word
0              broş     brosche
1               net        netz
2             bilet   fahrkarte
3            etiket   fahrkarte
4              kupa       tasse
..              ...         ...
244       haymatlos   heimatlos
245           helde      heiden
246           kuruş    groschen
247         tülbent      turban
248           çakal     schakal

[249 rows x 2 columns]

In [94]:
df_collective = pd.merge(df_all_cross,df_merge_result, how="inner", on="dict_entry_main")
df_collective = df_collective.loc[:,["lang_master","dict_entry_main","lang_sleeve",f"{lang_2.lower()}_word_x"]]
df_collective.rename(columns={f"{lang_2.lower()}_word_x":f"{lang_2.lower()}_word"}, inplace=True)
df_collective

    lang_master dict_entry_main lang_sleeve   german_word
0       Turkish            broş      German       brosche
1       Turkish            broş      German      broccoli
2       Turkish             net      German          nett
3       Turkish             net      German          netz
4       Turkish           bilet      German         bowle
..          ...             ...         ...           ...
981     Turkish           yarın      German        morgen
982     Turkish          sürücü      German       treiber
983     Turkish     homoseksüel      German   homosexuell
984     Turkish       hamburglu      German       hamburg
985     Turkish     laparoskopi      German  laparoskopie

[986 rows x 4 columns]

In [95]:
df_not_collective = pd.concat([df_all_cross,df_collective]).drop_duplicates(keep=False)
df_not_collective.reset_index(drop=True, inplace=True)
df_not_collective

     lang_master dict_entry_main lang_sleeve german_word
0        Turkish             baz      German     basecap
1        Turkish             baz      German        bass
2        Turkish             çek      German     checken
3        Turkish             çek      German       check
4        Turkish             çek      German      schach
...          ...             ...         ...         ...
1182     Turkish          derhal      German         tür
1183     Turkish           slayt      German  schlittern
1184     Turkish        baldıran      German    baldrian
1185     Turkish       protestan      German  protestant
1186     Turkish       trambolin      German    trampeln

[1187 rows x 4 columns]

In [96]:
df_not_collective.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web \
Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Additional_Result.xlsx", index=False)