### Etymology Concat Result Merge

In [38]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [39]:
lang_1 = "Portuguese"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Portuguese
Turkish
Turkish (tur)

In [40]:
df_concat1 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx")
df_concat1

    dict_entry_main turkish_word
0            checar      kontrol
1            cheque      kontrol
2          controlo      kontrol
3           control      kontrol
4             xeque      kontrol
..              ...          ...
199        narguilé      nargile
200           ayran        ayran
201         trabzon      trabzon
202          muezim      müezzin
203         cânhamo      kenevir

[204 rows x 2 columns]

In [41]:
df_concat2 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result2.xlsx")
df_concat2

   dict_entry_main turkish_word
0      aristóteles       aristo
1          pandora      pandora
2           abajur       abajur
3           agosto      ağustos
4          aliança       alyans
5            ambi-        ambi-
6           ananás       ananas
7           bainha       vajina
8            vagem       vajina
9           vagina       vajina
10     basquetebol    basketbol
11         biberão      biberon
12       bicicleta     bisiklet
13           bomba        bomba
14          casaca        kazak
15         cigarro       sigara
16          cinema       sinema
17         corveta       korvet
18           durio       durian
19          durião       durian
20            ecrã        ekran
21         feitiço        fetiş
22         fetiche        fetiş
23         futebol       futbol
24           galão        galon
25          garçom       garson
26        gelatina      jelatin
27             gol          gol
28            golo          gol
29         gravata       kravat
30     helicóptero   helikopter
31         iogurte       yoğurt
32          jargão       jargon
33        maionese      mayonez
34       marmelada     marmelat
35         medalha      madalya
36            mesa         masa
37          monção       mevsim
38      plataforma     platform
39       sanduíche      sandviç
40        saxofone     saksafon
41      sociologia    sosyoloji
42        surpresa      sürpriz
43        turbante      tülbent
44        voleibol     voleybol
45           âmbar        amber
46         caracal    karakulak

In [42]:
df_merge_result = pd.concat([df_concat1,df_concat2], axis=0)
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

    dict_entry_main turkish_word
0            checar      kontrol
1            cheque      kontrol
2          controlo      kontrol
3           control      kontrol
4             xeque      kontrol
..              ...          ...
233      sociologia    sosyoloji
234        turbante      tülbent
235        voleibol     voleybol
236           âmbar        amber
237         caracal    karakulak

[238 rows x 2 columns]

In [43]:
df_merge_result.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)

#### Compare All Cross Word With Result

In [44]:
df_all_cross = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx")
df_all_cross

     lang_master  term_master lang_sleeve term_sleeve
0     Portuguese      palavra     Turkish     palavra
1     Portuguese      palavra     Turkish     parabol
2     Portuguese     parábola     Turkish     palavra
3     Portuguese     parábola     Turkish     parabol
4     Portuguese  parlamentar     Turkish     palavra
...          ...          ...         ...         ...
1320  Portuguese      uzbeque     Turkish          öz
1321  Portuguese      uzbeque     Turkish         beg
1322  Portuguese      uzbeque     Turkish         bey
1323  Portuguese       gaitar     Turkish       gayda
1324  Portuguese      gaitaço     Turkish       gayda

[1325 rows x 4 columns]

In [45]:
df_all_cross.rename(columns={"term_master":"dict_entry_main", "term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_all_cross

     lang_master dict_entry_main lang_sleeve turkish_word
0     Portuguese         palavra     Turkish      palavra
1     Portuguese         palavra     Turkish      parabol
2     Portuguese        parábola     Turkish      palavra
3     Portuguese        parábola     Turkish      parabol
4     Portuguese     parlamentar     Turkish      palavra
...          ...             ...         ...          ...
1320  Portuguese         uzbeque     Turkish           öz
1321  Portuguese         uzbeque     Turkish          beg
1322  Portuguese         uzbeque     Turkish          bey
1323  Portuguese          gaitar     Turkish        gayda
1324  Portuguese         gaitaço     Turkish        gayda

[1325 rows x 4 columns]

In [46]:
df_merge_result

    dict_entry_main turkish_word
0            checar      kontrol
1            cheque      kontrol
2          controlo      kontrol
3           control      kontrol
4             xeque      kontrol
..              ...          ...
233      sociologia    sosyoloji
234        turbante      tülbent
235        voleibol     voleybol
236           âmbar        amber
237         caracal    karakulak

[238 rows x 2 columns]

In [47]:
df_collective = pd.merge(df_all_cross,df_merge_result, how="inner", on="dict_entry_main")
df_collective = df_collective.loc[:,["lang_master","dict_entry_main","lang_sleeve",f"{lang_2.lower()}_word_x"]]
df_collective.rename(columns={f"{lang_2.lower()}_word_x":f"{lang_2.lower()}_word"}, inplace=True)
df_collective

    lang_master dict_entry_main lang_sleeve turkish_word
0    Portuguese          checar     Turkish          çek
1    Portuguese          cheque     Turkish          çek
2    Portuguese          broche     Turkish         broş
3    Portuguese            zero     Turkish        sıfır
4    Portuguese            zero     Turkish    sıfırıncı
..          ...             ...         ...          ...
278  Portuguese          candil     Turkish       kandil
279  Portuguese          muezim     Turkish      müezzin
280  Portuguese            sofá     Turkish         sofa
281  Portuguese         cânhamo     Turkish      kenevir
282  Portuguese         cânhamo     Turkish       kendir

[283 rows x 4 columns]

In [48]:
df_not_collective = pd.concat([df_all_cross,df_collective]).drop_duplicates(keep=False)
df_not_collective.reset_index(drop=True, inplace=True)
df_not_collective

     lang_master dict_entry_main lang_sleeve turkish_word
0     Portuguese         palavra     Turkish      palavra
1     Portuguese         palavra     Turkish      parabol
2     Portuguese        parábola     Turkish      palavra
3     Portuguese        parábola     Turkish      parabol
4     Portuguese     parlamentar     Turkish      palavra
...          ...             ...         ...          ...
1039  Portuguese         uzbeque     Turkish           öz
1040  Portuguese         uzbeque     Turkish          beg
1041  Portuguese         uzbeque     Turkish          bey
1042  Portuguese          gaitar     Turkish        gayda
1043  Portuguese         gaitaço     Turkish        gayda

[1044 rows x 4 columns]

In [49]:
df_not_collective.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web \
Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Additional_Result.xlsx", index=False)