### Etymology Concat Result Merge

In [25]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [26]:
lang_1 = "German"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

French
Turkish
Turkish (tur)

In [27]:
df_concat1 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx")
df_concat1

    dict_entry_main turkish_word
0          perruque        peruk
1           palabre      palavra
2           parloir        salon
3             salon        salon
4         paraboler      parabol
..              ...          ...
251        yaourter       yoğurt
252        pastrami     pastırma
253           ekrem        ekrem
254         erdogan      erdoğan
255         chanvre      kenevir

[256 rows x 2 columns]

In [28]:
df_concat2 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result2.xlsx")
df_concat2

    dict_entry_main turkish_word
0          aristote       aristo
1             ambi-        ambi-
2              août      ağustos
3             bagne        banyo
4            banque        banka
..              ...          ...
616        équinoxe      ekinoks
617        érotique       erotik
618         éthique         etik
619       étiquette       etiket
620      étymologie    etimoloji

[621 rows x 2 columns]

In [29]:
df_merge_result = pd.concat([df_concat1,df_concat2], axis=0)
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

    dict_entry_main turkish_word
0          perruque        peruk
1           palabre      palavra
2           parloir        salon
3             salon        salon
4         paraboler      parabol
..              ...          ...
825        équinoxe      ekinoks
826        érotique       erotik
827         éthique         etik
828       étiquette       etiket
829      étymologie    etimoloji

[830 rows x 2 columns]

In [30]:
df_merge_result.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)

#### Compare All Cross Word With Result

In [31]:
df_all_cross = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx")
df_all_cross

     lang_master term_master lang_sleeve term_sleeve
0         French      parole     Turkish     palavra
1         French      parole     Turkish     parabol
2         French      parler     Turkish     palavra
3         French      parler     Turkish     parabol
4         French    perruque     Turkish     palavra
...          ...         ...         ...         ...
1688      French      cahoua     Turkish       kahve
1689      French      kahoua     Turkish       kahve
1690      French      cafiot     Turkish       kahve
1691      French       eqrem     Turkish       ekrem
1692      French     chichon     Turkish        şişe

[1693 rows x 4 columns]

In [32]:
df_all_cross.rename(columns={"term_master":"dict_entry_main", "term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_all_cross

     lang_master dict_entry_main lang_sleeve turkish_word
0         French          parole     Turkish      palavra
1         French          parole     Turkish      parabol
2         French          parler     Turkish      palavra
3         French          parler     Turkish      parabol
4         French        perruque     Turkish      palavra
...          ...             ...         ...          ...
1688      French          cahoua     Turkish        kahve
1689      French          kahoua     Turkish        kahve
1690      French          cafiot     Turkish        kahve
1691      French           eqrem     Turkish        ekrem
1692      French         chichon     Turkish         şişe

[1693 rows x 4 columns]

In [33]:
df_merge_result

    dict_entry_main turkish_word
0          perruque        peruk
1           palabre      palavra
2           parloir        salon
3             salon        salon
4         paraboler      parabol
..              ...          ...
825        équinoxe      ekinoks
826        érotique       erotik
827         éthique         etik
828       étiquette       etiket
829      étymologie    etimoloji

[830 rows x 2 columns]

In [34]:
df_collective = pd.merge(df_all_cross,df_merge_result, how="inner", on="dict_entry_main")
df_collective = df_collective.loc[:,["lang_master","dict_entry_main","lang_sleeve",f"{lang_2.lower()}_word_x"]]
df_collective.rename(columns={f"{lang_2.lower()}_word_x":f"{lang_2.lower()}_word"}, inplace=True)
df_collective

    lang_master dict_entry_main lang_sleeve turkish_word
0        French        perruque     Turkish      palavra
1        French        perruque     Turkish      parabol
2        French        parabole     Turkish      palavra
3        French        parabole     Turkish      parabol
4        French         palabre     Turkish      palavra
..          ...             ...         ...          ...
411      French         erdogan     Turkish      erdoğan
412      French         chanvre     Turkish      kenevir
413      French         chanvre     Turkish       kendir
414      French         archine     Turkish        arşın
415      French        yaourter     Turkish       yoğurt

[416 rows x 4 columns]

In [35]:
df_not_collective = pd.concat([df_all_cross,df_collective]).drop_duplicates(keep=False)
df_not_collective.reset_index(drop=True, inplace=True)
df_not_collective

     lang_master dict_entry_main lang_sleeve turkish_word
0         French          parole     Turkish      palavra
1         French          parole     Turkish      parabol
2         French          parler     Turkish      palavra
3         French          parler     Turkish      parabol
4         French             mot     Turkish      palavra
...          ...             ...         ...          ...
1279      French          cahoua     Turkish        kahve
1280      French          kahoua     Turkish        kahve
1281      French          cafiot     Turkish        kahve
1282      French           eqrem     Turkish        ekrem
1283      French         chichon     Turkish         şişe

[1284 rows x 4 columns]

In [36]:
df_not_collective.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web \
Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Additional_Result.xlsx", index=False)