### Etymology Concat Result Merge

In [1]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [2]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "English"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
English
English (eng)

In [4]:
df_concat1 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx")
df_concat1

    dict_entry_main english_word
0           parabol     parabola
1               baz         base
2               çek        check
3         sıfırıncı         zero
4              soba        stove
..              ...          ...
377     prehistorik  prehistoric
378      performans  performance
379           dübel        dowel
380         bilanço      balance
381      regülasyon   regulation

[382 rows x 2 columns]

In [5]:
df_concat2 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result2.xlsx")
df_concat2

    dict_entry_main english_word
0             allah        allah
1            aristo    aristotle
2              emir         emir
3           karagöz   karagiozis
4            kur'an       qur'an
..              ...          ...
396           şerif      sheriff
397             şiş        shish
398       şiş kebap   shishkabob
399             şov         show
400           ایالت       eyalet

[401 rows x 2 columns]

In [7]:
df_merge_result = pd.concat([df_concat1,df_concat2], axis=0)
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

    dict_entry_main english_word
0           parabol     parabola
1               baz         base
2               çek        check
3         sıfırıncı         zero
4              soba        stove
..              ...          ...
699           çubuk      chibouk
700          şerbet      sherbet
701             şiş        shish
702       şiş kebap   shishkabob
703           ایالت       eyalet

[704 rows x 2 columns]

In [8]:
df_merge_result.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)