### Etymology Concat Result Merge

In [14]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [15]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Dutch"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

Turkish
English
English (eng)

In [16]:
df_concat1 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx")
df_concat1

    dict_entry_main english_word
0           parabol     parabola
1               baz         base
2               çek        check
3              broş       brooch
4         sıfırıncı         zero
..              ...          ...
480     prehistorik  prehistoric
481      performans  performance
482            avlu    courtyard
483         bilanço      balance
484      regülasyon   regulation

[485 rows x 2 columns]

In [17]:
df_concat2 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result2.xlsx")
df_concat2

    dict_entry_main english_word
0             allah        allah
1            aristo    aristotle
2              emir         emir
3           karagöz   karagiozis
4            kur'an       qur'an
..              ...          ...
396           şerif      sheriff
397             şiş        shish
398       şiş kebap   shishkabob
399             şov         show
400           ایالت       eyalet

[401 rows x 2 columns]

In [18]:
df_merge_result = pd.concat([df_concat1,df_concat2], axis=0)
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

    dict_entry_main english_word
0           parabol     parabola
1               baz         base
2               çek        check
3              broş       brooch
4         sıfırıncı         zero
..              ...          ...
790            çita      cheetah
791           çubuk      chibouk
792             şiş        shish
793       şiş kebap   shishkabob
794           ایالت       eyalet

[795 rows x 2 columns]

In [19]:
df_merge_result.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)

#### Compare All Cross Word With Result

In [20]:
df_all_cross = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx")
df_all_cross

      lang_master    term_master lang_sleeve term_sleeve
0         Turkish        palavra     English       parle
1         Turkish        palavra     English      parlay
2         Turkish        palavra     English      parlor
3         Turkish        palavra     English    parabola
4         Turkish        palavra     English     parable
...           ...            ...         ...         ...
23323     Turkish     regülasyon     English  regulation
23324     Turkish     levitasyon     English   gravitate
23325     Turkish  haber spikeri     English     speaker
23326     Turkish  radyo spikeri     English       radio
23327     Turkish  radyo spikeri     English     speaker

[23328 rows x 4 columns]

In [21]:
df_all_cross.rename(columns={"term_master":"dict_entry_main", "term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_all_cross

      lang_master dict_entry_main lang_sleeve english_word
0         Turkish         palavra     English        parle
1         Turkish         palavra     English       parlay
2         Turkish         palavra     English       parlor
3         Turkish         palavra     English     parabola
4         Turkish         palavra     English      parable
...           ...             ...         ...          ...
23323     Turkish      regülasyon     English   regulation
23324     Turkish      levitasyon     English    gravitate
23325     Turkish   haber spikeri     English      speaker
23326     Turkish   radyo spikeri     English        radio
23327     Turkish   radyo spikeri     English      speaker

[23328 rows x 4 columns]

In [22]:
df_merge_result

    dict_entry_main english_word
0           parabol     parabola
1               baz         base
2               çek        check
3              broş       brooch
4         sıfırıncı         zero
..              ...          ...
790            çita      cheetah
791           çubuk      chibouk
792             şiş        shish
793       şiş kebap   shishkabob
794           ایالت       eyalet

[795 rows x 2 columns]

In [23]:
df_collective = pd.merge(df_all_cross,df_merge_result, how="inner", on="dict_entry_main")
df_collective = df_collective.loc[:,["lang_master","dict_entry_main","lang_sleeve",f"{lang_2.lower()}_word_x"]]
df_collective.rename(columns={f"{lang_2.lower()}_word_x":f"{lang_2.lower()}_word"}, inplace=True)
df_collective

      lang_master dict_entry_main lang_sleeve   english_word
0         Turkish         parabol     English          parle
1         Turkish         parabol     English         parlay
2         Turkish         parabol     English         parlor
3         Turkish         parabol     English       parabola
4         Turkish         parabol     English        parable
...           ...             ...         ...            ...
13252     Turkish     prehistorik     English    prehistoric
13253     Turkish      performans     English    performance
13254     Turkish            avlu     English  schwebeablaut
13255     Turkish         bilanço     English        balance
13256     Turkish      regülasyon     English     regulation

[13257 rows x 4 columns]

In [24]:
df_not_collective = pd.concat([df_all_cross,df_collective]).drop_duplicates(keep=False)
df_not_collective.reset_index(drop=True, inplace=True)
df_not_collective

      lang_master dict_entry_main lang_sleeve english_word
0         Turkish         palavra     English        parle
1         Turkish         palavra     English       parlay
2         Turkish         palavra     English       parlor
3         Turkish         palavra     English     parabola
4         Turkish         palavra     English      parable
...           ...             ...         ...          ...
10303     Turkish             suş     English        stock
10304     Turkish        hemfikir     English         same
10305     Turkish   haber spikeri     English      speaker
10306     Turkish   radyo spikeri     English        radio
10307     Turkish   radyo spikeri     English      speaker

[10308 rows x 4 columns]

In [25]:
df_not_collective.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web \
Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Additional_Result.xlsx", index=False)