### Etymology Concat Result Merge

In [13]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [14]:
lang_1 = "English"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian 
lang_2 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

if lang_2 == "English":
    lang_3 = "English (eng)"
elif lang_2 == "Turkish":
    lang_3 = "Turkish (tur)"
elif lang_2 == "German":
    lang_3 = "German (deu)"
elif lang_2 == "French":
    lang_3 = "French (fra)"
elif lang_2 == "Spanish":
    lang_3 = "Spanish (spa)"
elif lang_2 == "Arabic":
    lang_3 = "Arabic (ara)"
elif lang_2 == "Russian":
    lang_3 = "Russian (rus)"
elif lang_2 == "Portuguese":
    lang_3 = "Portuguese (por)"
elif lang_2 == "Dutch":
    lang_3 = "Dutch (nld)"
elif lang_2 == "Italian":
    lang_3 = "Italian (ita)"
else:
    pass

print(f"{lang_1}\n{lang_2}\n{lang_3}")

English
Turkish
Turkish (tur)

In [15]:
df_concat1 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result1.xlsx")
df_concat1

     dict_entry_main turkish_word
0             parlor        salon
1              salon        salon
2             saloon        salon
3      saloonkeeping        salon
4              salep        salon
...              ...          ...
1043          sanjak       sancak
1044         persian       farsça
1045            orda         ordu
1046           yasak        yasak
1047           taraf        taraf

[1048 rows x 2 columns]

In [16]:
df_concat2 = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Concat_Result2.xlsx")
df_concat2

    dict_entry_main turkish_word
0        al jazeera       cezire
1           algiedi        ciddi
2             allah        allah
3         aristotle       aristo
4          augustus      ağustos
..              ...          ...
396           yuruk        yürük
397            zarf         zarf
398          ziamet       zeamet
399            zill          zil
400           zurna        zurna

[401 rows x 2 columns]

In [17]:
df_merge_result = pd.concat([df_concat1,df_concat2], axis=0)
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

     dict_entry_main turkish_word
0             parlor        salon
1              salon        salon
2             saloon        salon
3      saloonkeeping        salon
4              salep        salon
...              ...          ...
1348         yardang      yardang
1349         yashmak       yaşmak
1350           yuruk        yürük
1351            zarf         zarf
1352          ziamet       zeamet

[1353 rows x 2 columns]

In [18]:
df_merge_result.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_3.capitalize()}_Etymologeek_Result_All.xlsx", index=False)

#### Compare All Cross Word With Result

In [19]:
df_all_cross = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/{lang_1.capitalize()}/{lang_1.capitalize()}_All_Word_From_{lang_2.capitalize()}_Etymology.xlsx")
df_all_cross

      lang_master   term_master lang_sleeve term_sleeve
0         English         parle     Turkish     palavra
1         English         parle     Turkish     parabol
2         English        parlay     Turkish     palavra
3         English        parlay     Turkish     parabol
4         English        parlor     Turkish     palavra
...           ...           ...         ...         ...
23578     English  balkanistics     Turkish      balkan
23579     English     demirjian     Turkish     demirci
23580     English   jackalberry     Turkish       çakal
23581     English       alikhan     Turkish       kağan
23582     English      elchibey     Turkish         bey

[23583 rows x 4 columns]

In [20]:
df_all_cross.rename(columns={"term_master":"dict_entry_main", "term_sleeve":f"{lang_2.lower()}_word"}, inplace=True)
df_all_cross

      lang_master dict_entry_main lang_sleeve turkish_word
0         English           parle     Turkish      palavra
1         English           parle     Turkish      parabol
2         English          parlay     Turkish      palavra
3         English          parlay     Turkish      parabol
4         English          parlor     Turkish      palavra
...           ...             ...         ...          ...
23578     English    balkanistics     Turkish       balkan
23579     English       demirjian     Turkish      demirci
23580     English     jackalberry     Turkish        çakal
23581     English         alikhan     Turkish        kağan
23582     English        elchibey     Turkish          bey

[23583 rows x 4 columns]

In [21]:
df_merge_result

     dict_entry_main turkish_word
0             parlor        salon
1              salon        salon
2             saloon        salon
3      saloonkeeping        salon
4              salep        salon
...              ...          ...
1348         yardang      yardang
1349         yashmak       yaşmak
1350           yuruk        yürük
1351            zarf         zarf
1352          ziamet       zeamet

[1353 rows x 2 columns]

In [22]:
df_collective = pd.merge(df_all_cross,df_merge_result, how="inner", on="dict_entry_main")
df_collective = df_collective.loc[:,["lang_master","dict_entry_main","lang_sleeve",f"{lang_2.lower()}_word_x"]]
df_collective.rename(columns={f"{lang_2.lower()}_word_x":f"{lang_2.lower()}_word"}, inplace=True)
df_collective

     lang_master dict_entry_main lang_sleeve turkish_word
0        English          parlor     Turkish      palavra
1        English          parlor     Turkish      parabol
2        English        parabola     Turkish      palavra
3        English        parabola     Turkish      parabol
4        English         palaver     Turkish      palavra
...          ...             ...         ...          ...
1565     English           taraf     Turkish        taraf
1566     English        pashadom     Turkish         paşa
1567     English        balkano-     Turkish       balkan
1568     English     pistachioed     Turkish       fıstık
1569     English      haremesque     Turkish        harem

[1570 rows x 4 columns]

In [23]:
df_not_collective = pd.concat([df_all_cross,df_collective]).drop_duplicates(keep=False)
df_not_collective.reset_index(drop=True, inplace=True)
df_not_collective

      lang_master dict_entry_main lang_sleeve turkish_word
0         English           parle     Turkish      palavra
1         English           parle     Turkish      parabol
2         English          parlay     Turkish      palavra
3         English          parlay     Turkish      parabol
4         English         parable     Turkish      palavra
...           ...             ...         ...          ...
22025     English    balkanistics     Turkish       balkan
22026     English       demirjian     Turkish      demirci
22027     English     jackalberry     Turkish        çakal
22028     English         alikhan     Turkish        kağan
22029     English        elchibey     Turkish          bey

[22030 rows x 4 columns]

In [24]:
df_not_collective.to_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web \
Scrapping/Result/{lang_1.capitalize()}/{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Additional_Result.xlsx", index=False)