In [1]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize

In [24]:
df_clean = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/All/etymology_clean.csv")
#df_clean = df_clean.head(150000)
df_clean

,lang,term,reltype,related_lang,related_term
0,English,thesaurus,borrowed_from,Latin,thēsaurus
1,English,thesaurus,derived_from,Ancient Greek,θησαυρός
2,English,thesaurus,doublet_with,English,treasure
3,Latin,thesaurus,derived_from,Ancient Greek,θησαυρός
4,English,portmanteau,has_root,Proto-Indo-European,*per- (fare)
...,...,...,...,...,...
3484911,English,Boell,borrowed_from,Danish,Bøll
3484912,English,Boell,borrowed_from,German,Böll
3484913,South Levantine Arabic,بالمية,has_affix,South Levantine Arabic,بـ
3484914,South Levantine Arabic,بالمية,has_affix,South Levantine Arabic,الميّة
3484915,English,Cooler,derived_from,German,Kühler

In [25]:
df_clean["lang"] = df_clean["lang"].apply(lambda x: x.capitalize())
df_clean["lang"] = df_clean["lang"].apply(lambda x: x.strip())
df_clean["term"] = df_clean["term"].apply(lambda x: x.lower())
df_clean["term"] = df_clean["term"].apply(lambda x: x.strip())
df_clean["related_lang"] = df_clean["related_lang"].apply(lambda x: x.capitalize())
df_clean["related_lang"] = df_clean["related_lang"].apply(lambda x: x.strip())
df_clean["related_term"] = df_clean["related_term"].apply(lambda x: x.lower())
df_clean["related_term"] = df_clean["related_term"].apply(lambda x: x.strip())

In [26]:
lang_1 = "Turkish"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian
lang_2 = "Portuguese"  # English, Turkish, German, French, Spanish, Arabic, Russian, Portuguese, Dutch, Italian

In [27]:
df_lang_pair = df_clean[(df_clean["lang"] == f"{lang_1.capitalize()}") & (df_clean["related_lang"] == f"{lang_2.capitalize()}")]
df_lang_pair

            lang      term        reltype related_lang related_term
154597   Turkish     kobra  borrowed_from   Portuguese        cobra
224989   Turkish    ananas   derived_from   Portuguese       ananás
259603   Turkish     japon   derived_from   Portuguese        japão
1174281  Turkish  kapibara   derived_from   Portuguese     capivara

In [28]:
df_lang_pair = df_lang_pair.drop_duplicates(subset="term")
df_lang_pair.reset_index(drop=True, inplace=True)
df_lang_pair

      lang      term        reltype related_lang related_term
0  Turkish     kobra  borrowed_from   Portuguese        cobra
1  Turkish    ananas   derived_from   Portuguese       ananás
2  Turkish     japon   derived_from   Portuguese        japão
3  Turkish  kapibara   derived_from   Portuguese     capivara

In [29]:
df_lang_pair.to_excel(f"{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result_Test.xlsx", index=False)

#### Compare Result

In [30]:
df_github_cross_result = pd.read_excel(f"{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result2.xlsx")
df_github_cross_result

       lang          term related_lang related_term
0   Turkish        kambur   Portuguese      cambiar
1   Turkish      portakal   Portuguese     portugal
2   Turkish         piyon   Portuguese         peão
3   Turkish        ananas   Portuguese       ananás
4   Turkish          port   Portuguese        porto
5   Turkish         japon   Portuguese        japão
6   Turkish       japonca   Portuguese        japão
7   Turkish       bisküvi   Portuguese     biscoito
8   Turkish       almanya   Portuguese     alemanha
9   Turkish      şampanya   Portuguese     campanha
10  Turkish          plaj   Portuguese        praia
11  Turkish         banka   Portuguese        banco
12  Turkish         tente   Portuguese        tenda
13  Turkish         fetiş   Portuguese      feitiço
14  Turkish        tayfun   Portuguese        tufão
15  Turkish         yarın   Portuguese        manhã
16  Turkish       kaşalot   Portuguese    cachalote
17  Turkish  japon balığı   Portuguese        japão
18  Turkish     mandalina   Portuguese     mandarim
19  Turkish      karamela   Portuguese     caramelo
20  Turkish       karamel   Portuguese     caramelo
21  Turkish      marmelat   Portuguese    marmelada
22  Turkish          şato   Portuguese      castelo
23  Turkish          jöle   Portuguese        geada
24  Turkish  akselerasyon   Portuguese   aceleração
25  Turkish     i̇spanyol   Portuguese     espanhol
26  Turkish       komando   Portuguese      comando
27  Turkish      kampanya   Portuguese     campanha
28  Turkish          staj   Portuguese      estágio
29  Turkish        peyzaj   Portuguese     paisagem
30  Turkish     bocalamak   Portuguese        pojar
31  Turkish       bandıra   Portuguese     bandeira

In [31]:
df_github_clean_result = pd.read_excel(f"{lang_1.capitalize()}_And_{lang_2.capitalize()}_Etymologeek_Result_Test.xlsx")
df_github_clean_result

      lang      term        reltype related_lang related_term
0  Turkish     kobra  borrowed_from   Portuguese        cobra
1  Turkish    ananas   derived_from   Portuguese       ananás
2  Turkish     japon   derived_from   Portuguese        japão
3  Turkish  kapibara   derived_from   Portuguese     capivara

In [32]:
set_github_cross = set(df_github_cross_result["term"])

In [33]:
set_github_clean = set(df_github_clean_result["term"])

In [34]:
len(set_github_cross.difference(set_github_clean))

30

In [35]:
len(set_github_clean.difference(set_github_cross))

2

In [36]:
len(set_github_clean.union(set_github_cross))

34

In [37]:
pd.DataFrame(set_github_clean.union(set_github_cross), columns=["term"])

            term
0          kobra
1       karamela
2           plaj
3      bocalamak
4        komando
5       şampanya
6       kapibara
7        japonca
8        kaşalot
9        almanya
10       bisküvi
11         banka
12         yarın
13          port
14        tayfun
15      portakal
16          jöle
17  japon balığı
18  akselerasyon
19      marmelat
20         japon
21         fetiş
22       karamel
23      kampanya
24          staj
25        kambur
26       bandıra
27         piyon
28          şato
29     mandalina
30        ananas
31        peyzaj
32     i̇spanyol
33         tente

In [82]:
df_var = df_clean[(df_clean["term"] == "chat") & ((df_clean["lang"] == "Dutch"))]
df_var

        lang  term        reltype related_lang related_term
32722  Dutch  chat  borrowed_from      English         chat

In [74]:
df_var = df_clean[(df_clean["term"] == "chatter")]
df_var

Empty DataFrame
Columns: [lang, term, reltype, related_lang, related_term]
Index: []

In [73]:
df_var = df_clean[(df_clean["related_term"] == "chat")]
df_var

,lang,term,reltype,related_lang,related_term
128,English,cat,cognate_of,French,chat
167,Norman,cat,inherited_from,Old French,chat
32721,Antillean Creole,chat,derived_from,French,chat
32722,Dutch,chat,borrowed_from,English,chat
32723,French,chat,inherited_from,Middle French,chat
32724,French,chat,inherited_from,Old French,chat
32726,French,chat,borrowed_from,English,chat
32728,Italian,chat,borrowed_from,English,chat
32729,Middle French,chat,inherited_from,Old French,chat
32731,Norwegian Nynorsk,chat,borrowed_from,English,chat
32733,Portuguese,chat,borrowed_from,English,chat
32734,Spanish,chat,borrowed_from,English,chat
32735,Tagalog,chat,borrowed_from,English,chat
43831,Mauritian Creole,sat,derived_from,French,chat
43847,Seychellois Creole,sat,derived_from,French,chat
107112,English,kitten,etymologically_related_to,Old French,chat
135860,Spanish,gato,cognate_of,French,chat

In [83]:
df_var = df_clean[(df_clean["term"] == "chat") & (df_clean["lang"] == "English")]
df_var

          lang  term                    reltype related_lang related_term
32718  English  chat  etymologically_related_to      English      chatter
32719  English  chat  etymologically_related_to      English         chit
32720  English  chat  etymologically_related_to      English         chad

In [84]:
df_var = df_clean[(df_clean["related_term"] == "chat") & (df_clean["lang"] == "English")]
df_var

           lang    term                    reltype related_lang related_term
128     English     cat                 cognate_of       French         chat
107112  English  kitten  etymologically_related_to   Old French         chat