In [1]:
import pandas as pd
import numpy as np
import glob
import re
import nltk
from nltk import word_tokenize

In [8]:
df_clean = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Data/All/etymology_clean.csv")
df_clean = df_clean.head(150000)
df_clean

,lang,term,reltype,related_lang,related_term
0,English,thesaurus,borrowed_from,Latin,thēsaurus
1,English,thesaurus,derived_from,Ancient Greek,θησαυρός
2,English,thesaurus,doublet_with,English,treasure
3,Latin,thesaurus,derived_from,Ancient Greek,θησαυρός
4,English,portmanteau,has_root,Proto-Indo-European,*per- (fare)
...,...,...,...,...,...
149995,English,architect,etymologically_related_to,Ancient Greek,ἀρχι-
149996,English,architect,etymologically_related_to,Ancient Greek,τέκτων
149997,Dutch,architect,borrowed_from,Middle French,architecte
149998,Dutch,architect,derived_from,Latin,architectus
149999,Dutch,architect,derived_from,Ancient Greek,ἀρχιτέκτων

In [3]:
result_list = []
for i in range(len(df_clean)):
    lang_11 = df_clean.loc[i,"lang"]
    term_11 = df_clean.loc[i,"term"]
    reltype_11	= df_clean.loc[i,"reltype"]
    lang_12 = df_clean.loc[i,"related_lang"]
    term_12 = df_clean.loc[i,"related_term"]
    
    try:
        df_var = df_clean[(df_clean["term"] == f"{term_12}")]
        df_var.reset_index(drop=True, inplace=True)
        j = 0
        while j < len(df_var):                    
            lang_21 = df_var.loc[j,"lang"]
            term_21 = df_var.loc[j,"term"]
            #reltype_21	= df_var.loc[j,"reltype"]
            lang_22 = df_var.loc[j,"related_lang"]
            term_22 = df_var.loc[j,"related_term"]
            if ((f"{lang_21}" == f"{lang_12}") & (f"{term_21}" == f"{term_12}")):
                #lang_12 = lang_22
                #term_12 = term_22
                #result_list.append([lang_11,term_11,reltype_11,lang_12,term_12])
                result_list.append([lang_11,term_11,reltype_11,lang_22,term_22])
            else:
                #lang_12 = lang_12
                #term_12 = term_12
                result_list.append([lang_11,term_11,reltype_11,lang_12,term_12])
            
            j+=1
    except:
        result_list.append([lang_11,term_11,reltype_11,lang_12,term_12])

In [4]:
df_result = pd.DataFrame(result_list, columns=["lang","term","reltype","related_lang","related_term"])
df_result.drop_duplicates(inplace=True)
df_result.reset_index(drop=True,inplace=True)
df_result

           lang       term       reltype       related_lang related_term
0       English  thesaurus  doublet_with     Middle English      tresour
1       English  thesaurus  doublet_with         Old French       tresor
2       English  thesaurus  doublet_with              Latin    thēsaurus
3       English  thesaurus  doublet_with      Ancient Greek     θησαυρός
4       English  thesaurus  doublet_with     Middle English        schat
...         ...        ...           ...                ...          ...
234736  English   wordbook    cognate_of   Norwegian Bokmål       ordbok
234737  English   wordbook    cognate_of  Norwegian Nynorsk       ordbok
234738  English   wordbook    cognate_of            Volapük      vödabuk
234739  English   wordbook    cognate_of             Danish          ord
234740  English   wordbook    cognate_of             Danish          bog

[234741 rows x 5 columns]

In [81]:
df_var2 = df_result[(df_result["term"] == "chat") & (df_result["lang"] == "Dutch")]
df_var2

        lang  term        reltype related_lang related_term
52513  Dutch  chat  borrowed_from      English      chatter
52514  Dutch  chat  borrowed_from      English         chit
52515  Dutch  chat  borrowed_from      English         chad
52516  Dutch  chat  borrowed_from      English         chat

In [77]:
df_var2 = df_result[(df_result["related_term"] == "chat")]
df_var2

             lang  term                    reltype related_lang related_term
1020      English   cat                 cognate_of       French         chat
1021      English   cat                 cognate_of       French         chat
1022      English   cat                 cognate_of       French         chat
1023      English   cat                 cognate_of       French         chat
1024      English   cat                 cognate_of       French         chat
...           ...   ...                        ...          ...          ...
1050129   Spanish  gato                 cognate_of       French         chat
1050130   Spanish  gato                 cognate_of       French         chat
1050182   Spanish  gato  etymologically_related_to       French         chat
1050264  Venetian  gato  etymologically_related_to       French         chat
1063386   English   kit  etymologically_related_to   Old French         chat

[287 rows x 5 columns]

In [82]:
df_var = df_clean[(df_clean["term"] == "chat") & ((df_clean["lang"] == "Dutch"))]
df_var

        lang  term        reltype related_lang related_term
32722  Dutch  chat  borrowed_from      English         chat

In [74]:
df_var = df_clean[(df_clean["term"] == "chatter")]
df_var

Empty DataFrame
Columns: [lang, term, reltype, related_lang, related_term]
Index: []

In [73]:
df_var = df_clean[(df_clean["related_term"] == "chat")]
df_var

,lang,term,reltype,related_lang,related_term
128,English,cat,cognate_of,French,chat
167,Norman,cat,inherited_from,Old French,chat
32721,Antillean Creole,chat,derived_from,French,chat
32722,Dutch,chat,borrowed_from,English,chat
32723,French,chat,inherited_from,Middle French,chat
32724,French,chat,inherited_from,Old French,chat
32726,French,chat,borrowed_from,English,chat
32728,Italian,chat,borrowed_from,English,chat
32729,Middle French,chat,inherited_from,Old French,chat
32731,Norwegian Nynorsk,chat,borrowed_from,English,chat
32733,Portuguese,chat,borrowed_from,English,chat
32734,Spanish,chat,borrowed_from,English,chat
32735,Tagalog,chat,borrowed_from,English,chat
43831,Mauritian Creole,sat,derived_from,French,chat
43847,Seychellois Creole,sat,derived_from,French,chat
107112,English,kitten,etymologically_related_to,Old French,chat
135860,Spanish,gato,cognate_of,French,chat

In [83]:
df_var = df_clean[(df_clean["term"] == "chat") & (df_clean["lang"] == "English")]
df_var

          lang  term                    reltype related_lang related_term
32718  English  chat  etymologically_related_to      English      chatter
32719  English  chat  etymologically_related_to      English         chit
32720  English  chat  etymologically_related_to      English         chad

In [84]:
df_var = df_clean[(df_clean["related_term"] == "chat") & (df_clean["lang"] == "English")]
df_var

           lang    term                    reltype related_lang related_term
128     English     cat                 cognate_of       French         chat
107112  English  kitten  etymologically_related_to   Old French         chat