### Clean Merge Result

In [ ]:
# !pip install modin[ray]

In [1]:
import ray  # ayrı olarak çalıştırılmalı
ray.init()

2021-12-10 17:24:39,953	INFO services.py:1338 -- View the Ray dashboard at http://127.0.0.1:8265

{'node_ip_address': '192.168.1.37',
 'raylet_ip_address': '192.168.1.37',
 'redis_address': '192.168.1.37:6379',
 'object_store_address': '/tmp/ray/session_2021-12-10_17-24-38_040811_45826/sockets/plasma_store',
 'raylet_socket_name': '/tmp/ray/session_2021-12-10_17-24-38_040811_45826/sockets/raylet',
 'webui_url': '127.0.0.1:8265',
 'session_dir': '/tmp/ray/session_2021-12-10_17-24-38_040811_45826',
 'metrics_export_port': 59427,
 'node_id': 'ef6bceabde8f883d7ef2616af056b2789a2c548b894a3c35536b172f'}

In [1]:
import pandas as pd

In [5]:
#import modin.pandas as pd
import re

In [63]:
pd.set_option('display.max_rows', 500)

In [2]:
df_sent = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Sentence/Spark Turkish Sentence Merge/Clean_Spark_Sentence_Merge_Result.csv")
df_sent

                                    sentence  frequency     ratio  cumul_ratio
0                                       evet    1948596  1.348816     1.348816
1                                      hayır    1250401  0.865526     2.214343
2                                      tamam     882921  0.611157     2.825500
3                                         ne     753105  0.521299     3.346799
4                                teşekkürler     343527  0.237789     3.584588
...                                      ...        ...       ...          ...
20975605      omalley bize buzsuz scotch ver          2  0.000001    99.999994
20975606                 omalley bu acele ne          2  0.000001    99.999996
20975607              omalley bu milton wing          2  0.000001    99.999997
20975608  omalley buna cevap verecek zamanım          2  0.000001    99.999999
20975609       avukat ile görüşmek istiyorum          2  0.000001   100.000000

[20975610 rows x 4 columns]

In [56]:
df_sent2 = df_sent.head(10000)
df_sent2

            sentence  frequency     ratio  cumul_ratio
0               evet    1948596  1.348816     1.348816
1              hayır    1250401  0.865526     2.214343
2              tamam     882921  0.611157     2.825500
3                 ne     753105  0.521299     3.346799
4        teşekkürler     343527  0.237789     3.584588
...              ...        ...       ...          ...
9995   tekrar tekrar        603  0.000417    27.637583
9996           alkış        603  0.000417    27.638001
9997             ayı        603  0.000417    27.638418
9998  gözüne ne oldu        603  0.000417    27.638835
9999          i̇ttir        603  0.000417    27.639253

[10000 rows x 4 columns]

In [7]:
text = "05ceviri ahmet bad"

In [8]:
text2 = "2a"

In [9]:
text3 = "ali? 15 april"

In [51]:
text4 = "5"

In [41]:
text_list = re.findall("\w+", text4)
text_list

['i']

In [42]:
len(text_list)

1

In [43]:
len(text_list[0])

1

In [3]:
def clean_num(var):
    var_list = re.findall("\w+", var)
    if var_list[0][0].isdigit() or (len(var_list) <= 1 and len(var_list[0]) <= 1):
        return "digit or one character"
    else:
        return var

In [53]:
# def clean_num(var):
#     var_list = re.findall("\w+", var)
#     if var_list[0].isdigit():
#         return "digit"
#     elif var_list[0][0].isdigit():
#         return "digit"

In [66]:
clean_num(text4)

'digit or one character'

In [6]:
df_sent.sentence = df_sent.sentence.apply(lambda x : clean_num(x))
df_sent

                                    sentence  frequency     ratio  cumul_ratio
0                                       evet    1948596  1.348816     1.348816
1                                      hayır    1250401  0.865526     2.214343
2                                      tamam     882921  0.611157     2.825500
3                                         ne     753105  0.521299     3.346799
4                                teşekkürler     343527  0.237789     3.584588
...                                      ...        ...       ...          ...
20975605      omalley bize buzsuz scotch ver          2  0.000001    99.999994
20975606                 omalley bu acele ne          2  0.000001    99.999996
20975607              omalley bu milton wing          2  0.000001    99.999997
20975608  omalley buna cevap verecek zamanım          2  0.000001    99.999999
20975609       avukat ile görüşmek istiyorum          2  0.000001   100.000000

[20975610 rows x 4 columns]

In [7]:
df_sent[df_sent.sentence == "digit or one character"]

                        sentence  frequency     ratio  cumul_ratio
175       digit or one character      27460  0.019008    12.365605
1008      digit or one character       5365  0.003714    18.440429
1079      digit or one character       5066  0.003507    18.696996
1150      digit or one character       4782  0.003310    18.939219
1286      digit or one character       4331  0.002998    19.368504
...                          ...        ...       ...          ...
16111676  digit or one character          2  0.000001    93.266380
16111842  digit or one character          2  0.000001    93.266609
16111866  digit or one character          2  0.000001    93.266643
16111951  digit or one character          2  0.000001    93.266760
16111967  digit or one character          2  0.000001    93.266782

[197634 rows x 4 columns]

In [9]:
df_sent.drop(df_sent[df_sent.sentence == "digit or one character"].index, inplace=True)
df_sent.reset_index(drop=True, inplace=True)
df_sent

                                    sentence  frequency     ratio  cumul_ratio
0                                       evet    1948596  1.348816     1.348816
1                                      hayır    1250401  0.865526     2.214343
2                                      tamam     882921  0.611157     2.825500
3                                         ne     753105  0.521299     3.346799
4                                teşekkürler     343527  0.237789     3.584588
...                                      ...        ...       ...          ...
20777971      omalley bize buzsuz scotch ver          2  0.000001    99.999994
20777972                 omalley bu acele ne          2  0.000001    99.999996
20777973              omalley bu milton wing          2  0.000001    99.999997
20777974  omalley buna cevap verecek zamanım          2  0.000001    99.999999
20777975       avukat ile görüşmek istiyorum          2  0.000001   100.000000

[20777976 rows x 4 columns]

In [12]:
df_sent.to_csv("Clean_Spark_Sentence_Merge_Result_Clean_Digit_One_Char.csv", index=False)