### Clean Merge Result

In [ ]:
# !pip install modin[ray]

In [1]:
import ray  # ayrı olarak çalıştırılmalı
ray.init()

2021-12-11 11:32:40,886	INFO services.py:1338 -- View the Ray dashboard at http://127.0.0.1:8265

{'node_ip_address': '192.168.1.37',
 'raylet_ip_address': '192.168.1.37',
 'redis_address': '192.168.1.37:6379',
 'object_store_address': '/tmp/ray/session_2021-12-11_11-32-38_839294_7706/sockets/plasma_store',
 'raylet_socket_name': '/tmp/ray/session_2021-12-11_11-32-38_839294_7706/sockets/raylet',
 'webui_url': '127.0.0.1:8265',
 'session_dir': '/tmp/ray/session_2021-12-11_11-32-38_839294_7706',
 'metrics_export_port': 42211,
 'node_id': 'f36517064852537d0f59c7f3db00a6c7734bfafe049d4b15a00c99e8'}

In [1]:
# import pandas as pd

In [2]:
import modin.pandas as pd
import re
pd.set_option('display.max_rows', 500)

#### Clean One Character And Digit

In [3]:
df_sent = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Sentence/Spark Turkish Sentence Merge/Clean_Spark_Sentence_Merge_Result.csv")
df_sent

                                    sentence  frequency     ratio  cumul_ratio
0                                       evet    1948596  1.348816     1.348816
1                                      hayır    1250401  0.865526     2.214343
2                                      tamam     882921  0.611157     2.825500
3                                         ne     753105  0.521299     3.346799
4                                teşekkürler     343527  0.237789     3.584588
...                                      ...        ...       ...          ...
20975605      omalley bize buzsuz scotch ver          2  0.000001    99.999994
20975606                 omalley bu acele ne          2  0.000001    99.999996
20975607              omalley bu milton wing          2  0.000001    99.999997
20975608  omalley buna cevap verecek zamanım          2  0.000001    99.999999
20975609       avukat ile görüşmek istiyorum          2  0.000001   100.000000

[20975610 rows x 4 columns]

In [4]:
# df_sent2 = df_sent.head(10000)
# df_sent2

In [23]:
text = "05ceviri ahmet bad"

In [49]:
text2 = "("

In [50]:
text3 = "ali? 15 april"

In [51]:
text4 = "5a ali"

In [52]:
text_list = re.findall("\D", text2)
text_list

['(']

In [53]:
len(text_list)

1

In [54]:
len(text_list[0])

1

In [55]:
def clean_num_test(var):
    var_list = re.findall("\w+", var)
    if var_list[0][0].isdigit() or (len(var_list) <= 1 and len(var_list[0]) <= 1):
        return "digit or one character"
    else:
        return var

In [56]:
def clean_num(var):
    var_list = re.findall("\w+", var)
    try:
        if var_list[0][0].isdigit() or (len(var_list) <= 1 and len(var_list[0]) <= 1):
            return "digit or one character"
        else:
            return var
    except:
        return "not digit or character"

In [58]:
clean_num_test(text2)

IndexError: list index out of range

In [59]:
clean_num(text2)

'not digit or character'

In [60]:
df_sent.sentence = df_sent.sentence.apply(lambda x : clean_num(x))
df_sent

                                    sentence  frequency     ratio  cumul_ratio
0                                       evet    1948596  1.348816     1.348816
1                                      hayır    1250401  0.865526     2.214343
2                                      tamam     882921  0.611157     2.825500
3                                         ne     753105  0.521299     3.346799
4                                teşekkürler     343527  0.237789     3.584588
...                                      ...        ...       ...          ...
20975605      omalley bize buzsuz scotch ver          2  0.000001    99.999994
20975606                 omalley bu acele ne          2  0.000001    99.999996
20975607              omalley bu milton wing          2  0.000001    99.999997
20975608  omalley buna cevap verecek zamanım          2  0.000001    99.999999
20975609       avukat ile görüşmek istiyorum          2  0.000001   100.000000

[20975610 rows x 4 columns]

In [61]:
df_sent[df_sent.sentence == "digit or one character"]

                        sentence  frequency     ratio  cumul_ratio
175       digit or one character      27460  0.019008    12.365605
1008      digit or one character       5365  0.003714    18.440429
1079      digit or one character       5066  0.003507    18.696996
1150      digit or one character       4782  0.003310    18.939219
1286      digit or one character       4331  0.002998    19.368504
...                          ...        ...       ...          ...
16111676  digit or one character          2  0.000001    93.266380
16111842  digit or one character          2  0.000001    93.266609
16111866  digit or one character          2  0.000001    93.266643
16111951  digit or one character          2  0.000001    93.266760
16111967  digit or one character          2  0.000001    93.266782

[197634 rows x 4 columns]

In [62]:
df_sent[df_sent.sentence == "not digit or character"]

Empty DataFrame
Columns: [sentence, frequency, ratio, cumul_ratio]
Index: []

In [9]:
df_sent.drop(df_sent[df_sent.sentence == "digit or one character"].index, inplace=True)
df_sent.reset_index(drop=True, inplace=True)
df_sent

                                    sentence  frequency     ratio  cumul_ratio
0                                       evet    1948596  1.348816     1.348816
1                                      hayır    1250401  0.865526     2.214343
2                                      tamam     882921  0.611157     2.825500
3                                         ne     753105  0.521299     3.346799
4                                teşekkürler     343527  0.237789     3.584588
...                                      ...        ...       ...          ...
20777971      omalley bize buzsuz scotch ver          2  0.000001    99.999994
20777972                 omalley bu acele ne          2  0.000001    99.999996
20777973              omalley bu milton wing          2  0.000001    99.999997
20777974  omalley buna cevap verecek zamanım          2  0.000001    99.999999
20777975       avukat ile görüşmek istiyorum          2  0.000001   100.000000

[20777976 rows x 4 columns]

In [12]:
df_sent.to_csv("Clean_Spark_Sentence_Merge_Result_Clean_Digit_One_Char.csv", index=False)

#### Read Clean Digit And Character Sentence

In [69]:
df_sent_no_digit = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Sentence/Spark Turkish Sentence Merge/Clean_Spark_Sentence_Merge_Result_Clean_Digit_One_Char.csv")
df_sent_no_digit = df_sent_no_digit.head(2000)
df_sent_no_digit

                 sentence  frequency     ratio  cumul_ratio
0                    evet    1948596  1.348816     1.348816
1                   hayır    1250401  0.865526     2.214343
2                   tamam     882921  0.611157     2.825500
3                      ne     753105  0.521299     3.346799
4             teşekkürler     343527  0.237789     3.584588
...                   ...        ...       ...          ...
1995            böyle iyi       2825  0.001955    21.095662
1996               ağabey       2822  0.001953    21.097615
1997   sana yardım edeyim       2822  0.001953    21.099568
1998            acıyor mu       2822  0.001953    21.101522
1999  beni dinliyor musun       2822  0.001953    21.103475

[2000 rows x 4 columns]

In [70]:
df_ne = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Name Entity/Special_Name_Unique.xlsx")
df_ne

     spec_name
0        aaron
1        abbas
2        abbey
3         abby
4          abe
...        ...
3008       joy
3009   faramir
3010      rich
3011     dutch
3012      rach

[3013 rows x 1 columns]

In [71]:
ne_list = [x.lower() for x in df_ne.spec_name]

In [72]:
df_ne_result = pd.DataFrame()
for i in ne_list:
    #word_in_video = df_sent[df_sent.sentence.str.contains(fr"(?:\s|^){i}", na=True)]
    word_in_video = df_sent_no_digit[df_sent_no_digit.sentence.str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)] # exact match
    #word_in_video.insert(0,"name_ent",i)
    df_ne_result = pd.concat([df_ne_result,word_in_video], axis=0)

KeyboardInterrupt: