### Clean Merge Result

In [ ]:
# !pip install modin[ray]

In [1]:
import ray  # ayrı olarak çalıştırılmalı
ray.init()

2021-12-10 17:24:39,953	INFO services.py:1338 -- View the Ray dashboard at http://127.0.0.1:8265

{'node_ip_address': '192.168.1.37',
 'raylet_ip_address': '192.168.1.37',
 'redis_address': '192.168.1.37:6379',
 'object_store_address': '/tmp/ray/session_2021-12-10_17-24-38_040811_45826/sockets/plasma_store',
 'raylet_socket_name': '/tmp/ray/session_2021-12-10_17-24-38_040811_45826/sockets/raylet',
 'webui_url': '127.0.0.1:8265',
 'session_dir': '/tmp/ray/session_2021-12-10_17-24-38_040811_45826',
 'metrics_export_port': 59427,
 'node_id': 'ef6bceabde8f883d7ef2616af056b2789a2c548b894a3c35536b172f'}

In [1]:
# import pandas as pd

In [2]:
import modin.pandas as pd
import re

In [5]:
pd.set_option('display.max_rows', 500)

In [55]:
df_sent = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Sentence/Spark Turkish Sentence Merge/Clean_Spark_Sentence_Merge_Result.csv")
df_sent

                                    sentence  frequency     ratio  cumul_ratio
0                                       evet    1948596  1.348816     1.348816
1                                      hayır    1250401  0.865526     2.214343
2                                      tamam     882921  0.611157     2.825500
3                                         ne     753105  0.521299     3.346799
4                                teşekkürler     343527  0.237789     3.584588
...                                      ...        ...       ...          ...
20975605      omalley bize buzsuz scotch ver          2  0.000001    99.999994
20975606                 omalley bu acele ne          2  0.000001    99.999996
20975607              omalley bu milton wing          2  0.000001    99.999997
20975608  omalley buna cevap verecek zamanım          2  0.000001    99.999999
20975609       avukat ile görüşmek istiyorum          2  0.000001   100.000000

[20975610 rows x 4 columns]

In [56]:
df_sent2 = df_sent.head(10000)
df_sent2

            sentence  frequency     ratio  cumul_ratio
0               evet    1948596  1.348816     1.348816
1              hayır    1250401  0.865526     2.214343
2              tamam     882921  0.611157     2.825500
3                 ne     753105  0.521299     3.346799
4        teşekkürler     343527  0.237789     3.584588
...              ...        ...       ...          ...
9995   tekrar tekrar        603  0.000417    27.637583
9996           alkış        603  0.000417    27.638001
9997             ayı        603  0.000417    27.638418
9998  gözüne ne oldu        603  0.000417    27.638835
9999          i̇ttir        603  0.000417    27.639253

[10000 rows x 4 columns]

In [7]:
text = "05ceviri ahmet bad"

In [8]:
text2 = "2a"

In [9]:
text3 = "ali? 15 april"

In [51]:
text4 = "5"

In [41]:
text_list = re.findall("\w+", text4)
text_list

['i']

In [42]:
len(text_list)

1

In [43]:
len(text_list[0])

1

In [52]:
def clean_num(var):
    var_list = re.findall("\w+", var)
    if var_list[0][0].isdigit() or (len(var_list) <= 1 and len(var_list[0]) <= 1):
        return "digit or one character"
    else:
        return var

In [53]:
# def clean_num(var):
#     var_list = re.findall("\w+", var)
#     if var_list[0].isdigit():
#         return "digit"
#     elif var_list[0][0].isdigit():
#         return "digit"

In [54]:
clean_num(text4)

'digit or one character'

In [57]:
df_sent2.sentence = df_sent2.sentence.apply(lambda x : clean_num(x))
df_sent2

            sentence  frequency     ratio  cumul_ratio
0               evet    1948596  1.348816     1.348816
1              hayır    1250401  0.865526     2.214343
2              tamam     882921  0.611157     2.825500
3                 ne     753105  0.521299     3.346799
4        teşekkürler     343527  0.237789     3.584588
...              ...        ...       ...          ...
9995   tekrar tekrar        603  0.000417    27.637583
9996           alkış        603  0.000417    27.638001
9997             ayı        603  0.000417    27.638418
9998  gözüne ne oldu        603  0.000417    27.638835
9999          i̇ttir        603  0.000417    27.639253

[10000 rows x 4 columns]

In [59]:
df_sent2[df_sent2.sentence == "digit or one character"]

                    sentence  frequency     ratio  cumul_ratio
175   digit or one character      27460  0.019008    12.365605
1008  digit or one character       5365  0.003714    18.440429
1079  digit or one character       5066  0.003507    18.696996
1150  digit or one character       4782  0.003310    18.939219
1286  digit or one character       4331  0.002998    19.368504
1721  digit or one character       3274  0.002266    20.498420
1834  digit or one character       3078  0.002131    20.746844
1974  digit or one character       2862  0.001981    21.034614
1985  digit or one character       2853  0.001975    21.056369
2002  digit or one character       2830  0.001959    21.089791
2270  digit or one character       2526  0.001748    21.583509
2395  digit or one character       2425  0.001679    21.797594
2432  digit or one character       2393  0.001656    21.859275
2469  digit or one character       2356  0.001631    21.920014
2613  digit or one character       2225  0.001540    22.147777
2627  digit or one character       2208  0.001528    22.169269
2755  digit or one character       2112  0.001462    22.360251
3080  digit or one character       1886  0.001305    22.809384
3088  digit or one character       1883  0.001303    22.819820
3089  digit or one character       1883  0.001303    22.821123
3097  digit or one character       1877  0.001299    22.831534
3102  digit or one character       1874  0.001297    22.838025
3253  digit or one character       1791  0.001240    23.029616
3520  digit or one character       1662  0.001150    23.347799
3533  digit or one character       1655  0.001146    23.362725
3687  digit or one character       1587  0.001099    23.535491
3739  digit or one character       1564  0.001083    23.592153
3793  digit or one character       1540  0.001066    23.650173
3797  digit or one character       1538  0.001065    23.654433
3913  digit or one character       1486  0.001029    23.775950
4066  digit or one character       1436  0.000994    23.930757
4068  digit or one character       1433  0.000992    23.932742
4169  digit or one character       1401  0.000970    24.031914
4211  digit or one character       1388  0.000961    24.072450
4286  digit or one character       1364  0.000944    24.143826
4484  digit or one character       1312  0.000908    24.326954
4630  digit or one character       1272  0.000880    24.457642
4683  digit or one character       1256  0.000869    24.504053
4712  digit or one character       1250  0.000865    24.529198
4778  digit or one character       1233  0.000853    24.585861
4936  digit or one character       1192  0.000825    24.718661
5009  digit or one character       1177  0.000815    24.778531
5040  digit or one character       1170  0.000810    24.803696
5433  digit or one character       1094  0.000757    25.111519
5605  digit or one character       1059  0.000733    25.239717
5708  digit or one character       1041  0.000721    25.314530
5946  digit or one character       1004  0.000695    25.482860
5982  digit or one character        998  0.000691    25.507801
6158  digit or one character        968  0.000670    25.627424
6199  digit or one character        961  0.000665    25.654784
6306  digit or one character        947  0.000656    25.725356
6374  digit or one character        937  0.000649    25.769693
6385  digit or one character        937  0.000649    25.776828
6428  digit or one character        930  0.000644    25.804618
6960  digit or one character        859  0.000595    26.132882
7010  digit or one character        852  0.000590    26.162487
7129  digit or one character        838  0.000580    26.232107
7274  digit or one character        823  0.000570    26.315475
7451  digit or one character        805  0.000557    26.415164
8072  digit or one character        741  0.000513    26.747044
8089  digit or one character        740  0.000512    26.755760
8188  digit or one character        732  0.000507    26.806184
8386  digit or one character        717  0.000496    26.905454
8409  digit or one character        715  0.000495    26.916847
8701  digit or one character        692  0.000479    27.058979
8750  digit or one character        688  0.000476    27.082371
8794  digit or one character        685  0.000474    27.103275
9071  digit or one character        665  0.000460    27.232681
9126  digit or one character        662  0.000458    27.257941
9298  digit or one character        650  0.000450    27.336041
9495  digit or one character        635  0.000440    27.423555
9573  digit or one character        630  0.000436    27.457699
9711  digit or one character        621  0.000430    27.517361
9750  digit or one character        618  0.000428    27.534077
9819  digit or one character        613  0.000424    27.563469
9897  digit or one character        610  0.000422    27.596471