### Clean Merge Result

In [ ]:
# !pip install modin[ray]

In [1]:
import ray  # ayrı olarak çalıştırılmalı
ray.init()

2021-12-10 16:54:30,660	INFO services.py:1338 -- View the Ray dashboard at http://127.0.0.1:8265

{'node_ip_address': '192.168.1.37',
 'raylet_ip_address': '192.168.1.37',
 'redis_address': '192.168.1.37:6379',
 'object_store_address': '/tmp/ray/session_2021-12-10_16-54-28_748047_40109/sockets/plasma_store',
 'raylet_socket_name': '/tmp/ray/session_2021-12-10_16-54-28_748047_40109/sockets/raylet',
 'webui_url': '127.0.0.1:8265',
 'session_dir': '/tmp/ray/session_2021-12-10_16-54-28_748047_40109',
 'metrics_export_port': 49458,
 'node_id': 'f9ad4c121765176a4ab7b9c14e6ceda712255e54cedb02d2f3d0447e'}

In [1]:
# import pandas as pd

In [7]:
import modin.pandas as pd
import re

In [3]:
df_sent = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Sentence/Spark Turkish Sentence Merge/Clean_Spark_Sentence_Merge_Result.csv")
df_sent

                                    sentence  frequency     ratio  cumul_ratio
0                                       evet    1948596  1.348816     1.348816
1                                      hayır    1250401  0.865526     2.214343
2                                      tamam     882921  0.611157     2.825500
3                                         ne     753105  0.521299     3.346799
4                                teşekkürler     343527  0.237789     3.584588
...                                      ...        ...       ...          ...
20975605      omalley bize buzsuz scotch ver          2  0.000001    99.999994
20975606                 omalley bu acele ne          2  0.000001    99.999996
20975607              omalley bu milton wing          2  0.000001    99.999997
20975608  omalley buna cevap verecek zamanım          2  0.000001    99.999999
20975609       avukat ile görüşmek istiyorum          2  0.000001   100.000000

[20975610 rows x 4 columns]

In [4]:
df_sent = df_sent.head(10000)
df_sent

            sentence  frequency     ratio  cumul_ratio
0               evet    1948596  1.348816     1.348816
1              hayır    1250401  0.865526     2.214343
2              tamam     882921  0.611157     2.825500
3                 ne     753105  0.521299     3.346799
4        teşekkürler     343527  0.237789     3.584588
...              ...        ...       ...          ...
9995   tekrar tekrar        603  0.000417    27.637583
9996           alkış        603  0.000417    27.638001
9997             ayı        603  0.000417    27.638418
9998  gözüne ne oldu        603  0.000417    27.638835
9999          i̇ttir        603  0.000417    27.639253

[10000 rows x 4 columns]

In [11]:
text = "05ceviri ahmet bad"

In [28]:
text2 = "2a"

In [38]:
text3 = "ali? 15 april"

In [40]:
text_list = re.findall("\w+.", text3)
text_list

['ali?', '15 ', 'april']

In [36]:
def clean_num(var):
    var_list = re.findall("\w+", var)
    if var_list[0][0].isdigit():
        return "digit"
    else:
        return var

In [15]:
# def clean_num(var):
#     var_list = re.findall("\w+", var)
#     if var_list[0].isdigit():
#         return "digit"
#     elif var_list[0][0].isdigit():
#         return "digit"

In [37]:
clean_num(text3)

'ali 15 april'