### Sentence Unique Code

In [1]:
import pandas as pd
import numpy as np
import nltk
from nltk import word_tokenize
import re

In [2]:
df_sent = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Sentence/Spark Turkish Sentence Merge/Clean_Spark_Sentence_Merge_Result.csv")
df_sent = df_sent.head(500)
df_sent

          sentence  frequency     ratio  cumul_ratio
0             evet    1948596  1.348816     1.348816
1            hayır    1250401  0.865526     2.214343
2            tamam     882921  0.611157     2.825500
3               ne     753105  0.521299     3.346799
4      teşekkürler     343527  0.237789     3.584588
..             ...        ...       ...          ...
495  hatırladın mı      10114  0.007001    15.900016
496    ne hakkında      10109  0.006997    15.907014
497      hassiktir      10101  0.006992    15.914006
498         sen de      10089  0.006984    15.920989
499    beğendin mi      10056  0.006961    15.927950

[500 rows x 4 columns]

In [3]:
count_index = 0
code_list = []
for i in df_sent.sentence:
    g = len(re.findall("\w+", i))
    l = len(i)
    f = df_sent.iloc[count_index].frequency
    unique_code = f"G{g}-L{l}-F{f}-{count_index}"
    code_list.append(unique_code)
    df_sent["code"] = pd.DataFrame(code_list)
    count_index += 1

In [4]:
# pd.DataFrame(code_list)

                     0
0     G1-L4-F1948596-0
1     G1-L5-F1250401-1
2      G1-L5-F882921-2
3      G1-L2-F753105-3
4     G1-L11-F343527-4
..                 ...
495  G2-L13-F10114-495
496  G2-L11-F10109-496
497   G1-L9-F10101-497
498   G2-L6-F10089-498
499  G2-L11-F10056-499

[500 rows x 1 columns]

In [31]:
# df_sent["code"] = pd.DataFrame(code_list)
# df_sent

          sentence  frequency     ratio  cumul_ratio               code
0             evet    1948596  1.348816     1.348816   G1-L4-F1948596-0
1            hayır    1250401  0.865526     2.214343   G1-L5-F1250401-1
2            tamam     882921  0.611157     2.825500    G1-L5-F882921-2
3               ne     753105  0.521299     3.346799    G1-L2-F753105-3
4      teşekkürler     343527  0.237789     3.584588   G1-L11-F343527-4
..             ...        ...       ...          ...                ...
495  hatırladın mı      10114  0.007001    15.900016  G2-L13-F10114-495
496    ne hakkında      10109  0.006997    15.907014  G2-L11-F10109-496
497      hassiktir      10101  0.006992    15.914006   G1-L9-F10101-497
498         sen de      10089  0.006984    15.920989   G2-L6-F10089-498
499    beğendin mi      10056  0.006961    15.927950  G2-L11-F10056-499

[500 rows x 5 columns]

In [39]:
df_sent.iloc[33]

sentence                    alo
frequency                130385
ratio                  0.090252
cumul_ratio            7.328353
code           G1-L3-F130385-33
Name: 33, dtype: object

In [24]:
df_sent

          sentence  frequency     ratio  cumul_ratio
0             evet    1948596  1.348816     1.348816
1            hayır    1250401  0.865526     2.214343
2            tamam     882921  0.611157     2.825500
3               ne     753105  0.521299     3.346799
4      teşekkürler     343527  0.237789     3.584588
..             ...        ...       ...          ...
495  hatırladın mı      10114  0.007001    15.900016
496    ne hakkında      10109  0.006997    15.907014
497      hassiktir      10101  0.006992    15.914006
498         sen de      10089  0.006984    15.920989
499    beğendin mi      10056  0.006961    15.927950

[500 rows x 4 columns]

In [20]:
df_sent.iloc[2].frequency

882921

In [16]:
i = "20 ali ata bak 15"

In [17]:
re.findall("\w+", i)

['20', 'ali', 'ata', 'bak', '15']

In [18]:
len(re.findall("\w+", i))

5

In [19]:
len(i)

17