### N Gram Analysis In Data Frame

In [1]:
import pandas as pd
import numpy as np
import nltk
from nltk import ngrams

In [24]:
df_sent = pd.read_csv("Sentence_Tokenize_Sample.csv")
df_sent

,sentence,frequency,ratio,cumul_ratio
0,evet,353,1.209360,1.209360
1,hayır,227,0.777690,1.987050
2,ne,109,0.373428,2.360478
3,teşekkürler,64,0.219261,2.579739
4,merhaba,59,0.202131,2.781870
...,...,...,...,...
14256,ona her şeyi anlattım,1,0.003426,99.986296
14257,bunun kabalık olduğunu düşünmüyor musun,1,0.003426,99.989722
14258,kimliğini saklamak ve savunmasız olduğu anda r...,1,0.003426,99.993148
14259,çok sinsi ve alçakça,1,0.003426,99.996574
14260,ama başk,1,0.003426,100.000000

In [20]:
# df_sent = df_sent.head(30)

In [25]:
df_sent.iloc[2, 1]

109

In [22]:
# 1 Way
n = 2
n_gram_dict = {}
count_index = 0
for i in df_sent.sentence:
    try:
        n_gram = ngrams(i.split(),n)
        for j in n_gram:
            #j = " ".join(j) # wrong usage new key changes old value
            n_gram_dict[j] = df_sent.iloc[count_index, 1] # 1 equal to frequency
    except:
        pass
    count_index += 1
#print(n_gram_dict)

In [23]:
pd.DataFrame(data=[n_gram_dict.keys(),n_gram_dict.values()]).transpose()

                        0  1
0              (öyle, mi)  1
1             (tamam, mı)  1
2          (aman, tanrım)  1
3              (ne, oldu)  1
4            (iyi, misin)  1
...                   ... ..
37899  (röportaj, yapmak)  1
37900        (çok, sinsi)  1
37901         (sinsi, ve)  1
37902       (ve, alçakça)  1
37903         (ama, başk)  1

[37904 rows x 2 columns]

In [8]:
# 2 Way
n = 2
n_gram_dict2 = {}
count_index = 0
for i in df_sent.sentence:
    try:
        n_gram = ngrams(i.split(),n)
        for j in n_gram:
            j = " ".join(j)
            dict_var = {j:df_sent.iloc[count_index, 1]}
            n_gram_dict2.update(dict_var)
    except:
        pass
    count_index += 1
#print(n_gram_dict2)

In [9]:
pd.DataFrame(data=[n_gram_dict2.keys(),n_gram_dict2.values()]).transpose()

                     0  1
0              öyle mi  1
1             tamam mı  1
2          aman tanrım  1
3              ne oldu  1
4            iyi misin  1
...                ... ..
37899  röportaj yapmak  1
37900        çok sinsi  1
37901         sinsi ve  1
37902       ve alçakça  1
37903         ama başk  1

[37904 rows x 2 columns]

In [26]:
# 3 Way
n = 2
n_gram_list = [] 
n_gram_freq_list = []
count_index = 0
for i in df_sent.sentence:
    try:
        n_gram = ngrams(i.split(),n)
        for j in n_gram:
            j = " ".join(j)
            freq = df_sent.iloc[count_index, 1]
            n_gram_list.append(j)
            n_gram_freq_list.append(freq)
    except:
        pass
    count_index += 1

In [27]:
print(len(n_gram_freq_list))

47892

In [12]:
#print(n_gram_list)

In [28]:
df_result = pd.DataFrame([n_gram_list, n_gram_freq_list]).transpose()
df_result.rename(columns={0:"twogram",1:"frequency"}, inplace=True)
df_result

               twogram frequency
0              öyle mi        49
1             tamam mı        48
2          aman tanrım        42
3              ne oldu        38
4            iyi misin        36
...                ...       ...
47887  röportaj yapmak         1
47888        çok sinsi         1
47889         sinsi ve         1
47890       ve alçakça         1
47891         ama başk         1

[47892 rows x 2 columns]

In [38]:
df_result_sort = df_result.groupby("twogram")["frequency"].sum().sort_values(ascending=False)
df_result_sort

twogram
bir şey           342
değil mi          255
tamam mı          139
ya da             105
ben de            101
                 ...
mı yaşamak          1
mı yaptın           1
mı yaptı            1
dansa giderken      1
şşş tam             1
Name: frequency, Length: 37904, dtype: object

In [33]:
df_two_gram = pd.DataFrame(df_result_sort)
df_two_gram.reset_index(inplace=True)

In [35]:
df_two_gram.to_excel("Two_Gram_From_Sentence.xlsx", sheet_name="Two_Gram", index=False)

In [45]:
def n_gram_sentence(n, n_gram_type):
    n = n
    n_gram_list = [] 
    n_gram_freq_list = []
    count_index = 0
    for i in df_sent.sentence:
        try:
            n_gram = ngrams(i.split(),n)
            for j in n_gram:
                j = " ".join(j)
                freq = df_sent.iloc[count_index, 1]
                n_gram_list.append(j)
                n_gram_freq_list.append(freq)
        except:
            pass
        count_index += 1  

    df_result = pd.DataFrame([n_gram_list, n_gram_freq_list]).transpose()
    df_result.rename(columns={0:f"{n_gram_type.lower()}",1:"frequency"}, inplace=True)

    df_result_sort = df_result.groupby(f"{n_gram_type.lower()}")["frequency"].sum().sort_values(ascending=False)
    df_n_gram = pd.DataFrame(df_result_sort)
    df_n_gram.reset_index(inplace=True)

    df_n_gram.to_excel(f"{n_gram_type.capitalize()}_From_Sentence.xlsx", sheet_name=f'{n_gram_type.capitalize()}', index=False)

In [46]:
n_gram_sentence(3, "Threegram")

In [47]:
n_gram_sentence(4, "Fourgram")

In [17]:
n = 3
n_gram_list = [] 
n_gram_freq_list = []
count_index = 0
for i in df_sent.sentence:
    try:
        n_gram = ngrams(i.split(),n)
        for j in n_gram:
            j = " ".join(j)
            freq = df_sent.iloc[count_index, 1]
            n_gram_list.append(j)
            n_gram_freq_list.append(freq)
    except:
        pass
    count_index += 1

In [52]:
pd.DataFrame([n_gram_list, n_gram_freq_list]).transpose()

                            0   1
0             her şey yolunda  20
1              şey yolunda mı  20
2          lilayı sam öldürdü  16
3                   oh ri jin  13
4            kan suyun içinde  12
...                       ...  ..
34395  savunmasız olduğu anda   1
34396    olduğu anda röportaj   1
34397    anda röportaj yapmak   1
34398            çok sinsi ve   1
34399        sinsi ve alçakça   1

[34400 rows x 2 columns]

In [53]:
n = 4
n_gram_list = [] 
n_gram_freq_list = []
count_index = 0
for i in df_sent.sentence:
    try:
        n_gram = ngrams(i.split(),n)
        for j in n_gram:
            j = " ".join(j)
            freq = df_sent.iloc[count_index, 1]
            n_gram_list.append(j)
            n_gram_freq_list.append(freq)
    except:
        pass
    count_index += 1

In [54]:
pd.DataFrame([n_gram_list, n_gram_freq_list]).transpose()

                                           0   1
0                         her şey yolunda mı  20
1             wayward pines şerif departmanı  12
2      boisedeki cerrahla konuşmak istiyorum  12
3               efendim mahkûmdan uzak durun   9
4                  daha kötüsü de olabilirdi   7
...                                      ...  ..
23287          saklamak ve savunmasız olduğu   1
23288              ve savunmasız olduğu anda   1
23289        savunmasız olduğu anda röportaj   1
23290            olduğu anda röportaj yapmak   1
23291                   çok sinsi ve alçakça   1

[23292 rows x 2 columns]

In [55]:
n = 5
n_gram_list = [] 
n_gram_freq_list = []
count_index = 0
for i in df_sent.sentence:
    try:
        n_gram = ngrams(i.split(),n)
        for j in n_gram:
            j = " ".join(j)
            freq = df_sent.iloc[count_index, 1]
            n_gram_list.append(j)
            n_gram_freq_list.append(freq)
    except:
        pass
    count_index += 1

In [56]:
pd.DataFrame([n_gram_list, n_gram_freq_list]).transpose()

                                             0  1
0               belki de ethan burkele değildi  6
1                  şu küçük siyah tuşu görüyor  6
2             küçük siyah tuşu görüyor musunuz  6
3                   peki ama neden arabada bir  6
4                    ama neden arabada bir tek  6
...                                        ... ..
15032  bunun kabalık olduğunu düşünmüyor musun  1
15033  kimliğini saklamak ve savunmasız olduğu  1
15034       saklamak ve savunmasız olduğu anda  1
15035       ve savunmasız olduğu anda röportaj  1
15036   savunmasız olduğu anda röportaj yapmak  1

[15037 rows x 2 columns]

In [57]:
n = 6
n_gram_list = [] 
n_gram_freq_list = []
count_index = 0
for i in df_sent.sentence:
    try:
        n_gram = ngrams(i.split(),n)
        for j in n_gram:
            j = " ".join(j)
            freq = df_sent.iloc[count_index, 1]
            n_gram_list.append(j)
            n_gram_freq_list.append(freq)
    except:
        pass
    count_index += 1

In [58]:
pd.DataFrame([n_gram_list, n_gram_freq_list]).transpose()

                                                      0  1
0                   şu küçük siyah tuşu görüyor musunuz  6
1                        peki ama neden arabada bir tek  6
2                           ama neden arabada bir tek o  6
3                        neden arabada bir tek o varmış  6
4     arabadan ne kaldıysa buraya getirilmesini isti...  6
...                                                 ... ..
9211           para kazanacak biri olarak mı görüyorsun  1
9212           kazanacak biri olarak mı görüyorsun beni  1
9213       kimliğini saklamak ve savunmasız olduğu anda  1
9214        saklamak ve savunmasız olduğu anda röportaj  1
9215          ve savunmasız olduğu anda röportaj yapmak  1

[9216 rows x 2 columns]