### Adjust Word Level

In [38]:
#!pip install xlsxwriter

In [39]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np
import glob
import nltk
from nltk import word_tokenize
from pathlib import Path
import shutil

In [40]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

#### While Loop

In [41]:
lang_folder = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language
lang_pair = "English"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

In [42]:
Path(f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/3-Adjust Word Level/{lang_folder.capitalize()} {lang_pair.capitalize()}").mkdir(parents=True, exist_ok=True)  # create path

In [43]:
df_word_all = pd.read_excel(f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word_all

                 word  frequency
0                 bir   18835735
1                  bu   11062659
2                  ne    8025880
3                  ve    7766036
4                için    5484109
...               ...        ...
1005970       karnaya          5
1005971   dörtlümüzün          5
1005972  karnavalınız          5
1005973      hurmanın          5
1005974           her          5

[1005975 rows x 2 columns]

In [44]:
#df_twogram_sent = pd.read_csv(f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/Merge/Twogram_Merge.csv")
df_twogram_sent = pd.read_csv(f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/N Gram And Sentence/Two_Gram_And_Sentence.csv")  # ext. sentence and ngram
df_twogram_sent.rename(columns={"two_gram":"twogram"}, inplace=True)  # ext. Not: Two_Gram_And_Sentence.csv convert to Two_Gram_And_Sentence_All.csv
df_twogram_sent

                      twogram  frequency
0             teşekkür ederim     244149
1                     öyle mi     209900
2                     ne oldu     195799
3                 aman tanrım     189521
4                özür dilerim     153784
...                       ...        ...
1036515         güzeldi tommy          3
1036516  durumu tuhaflaştırma          3
1036517         güzeldi canım          3
1036518        güzeldi daniel          3
1036519      güzelce vurdular          3

[1036520 rows x 2 columns]

In [45]:
#lang_pair_list = glob.glob(f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_And_{lang_pair.lower().capitalize()}*_All.xlsx")
#lang_pair_list

In [46]:
#df_pair_all = pd.read_excel(f"{lang_pair_list[0]}")
df_pair_all = pd.read_excel(f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_{lang_pair.lower().capitalize()}_Shared_Vocabulary.xlsx")
df_pair_all

     dict_entry_main   english_word
0             abaküs         abacus
1           abandone        abandon
2             abanoz          ebony
3             abdest       ablution
4         abdesthane  ablution room
...              ...            ...
2132          zodyak         zodiac
2133           zombi         zombie
2134         zooloji        zoology
2135        zoolojik     zoological
2136             zum           zoom

[2137 rows x 2 columns]

In [47]:
disable_list = ["sex","seks","seksi","sexy","sexe","seksüel","sexuell","gey","gay","lezbiyen","lesbienne","eşcinsel","mastürbasyon","masturbation","erotik","érotique", \
"bikini","penis","vagina","vajina","fetish","fetiş","fetishy","erotic","erotik","sexdom","kondom","condom","dildo","fetisj","hétérosexuel","féticher","fétiche","homosexuel"\
"ereksiyon","erectie","erection","érection","homoseksüel","prezervatif","préservatif","ass","fetisch","fetiche"]

In [48]:
words = df_pair_all["dict_entry_main"].values.tolist()

In [49]:
disable_set = set(disable_list)
words_set = set(words)

In [50]:
df_pair = pd.DataFrame(list(words_set.difference(disable_set)), columns=["dict_entry_main"])
df_pair

     dict_entry_main
0            ekspres
1            elimine
2          enteresan
3             detone
4             manüel
...              ...
2124          leopar
2125        maksimum
2126      stratosfer
2127       ombudsman
2128         greyder

[2129 rows x 1 columns]

In [51]:
def remove_repetition(word_group):
    words = word_tokenize(word_group)
    word_unique = set(words)
    if len(word_unique) == 1:
        return "repetitive_word_group"
    else:
        return word_group

In [52]:
def word_count_result(df,column_list): # df is dataframe, column_list is list value
    list_all = []
    for i in df.loc[:,[x for x in column_list]].columns:
        var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list)
    df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"word_count"}, inplace=True)
    
    return  df_word_count

In [53]:
def word_count_bool(df, word_thresh_num, column_list): # df is a dataframe, word_thresh_num is an integer, column_list is list value
    list_all = []
    for i in df.loc[:,[x for x in column_list]].columns:
        var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list)
    df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"count"}, inplace=True)
    
    return  df_word_count["count"][df_word_count.loc[:,"count"] > word_thresh_num].any()

#### Condition 1

In [54]:
# while loop code block word and twogram pair
word_thresh_num = 2  # want how many word sample 
word_start = 0  # 0
word_end = 7  # 10
step_num = word_end  # 10
word_limit = 28  # 200
part_num = 1  # first output file extention

twogram_num = word_thresh_num * step_num  # word_thresh_num*step_num minimum: for each word takes two twogram
twogram_pair_num = word_thresh_num * step_num  # word_thresh_num*step_num minimum: for each word takes two twogram pair

while word_end <= word_limit:
    df_word = df_word_all.iloc[word_start:word_end,]  # must be include word and frequency column
    df_word.reset_index(drop=True, inplace=True)

    # language pair twogram
    ngram_list = []
    for i in df_pair["dict_entry_main"]:
        for j in word_tokenize(i):
            for k in df_word["word"]:
                twogram_1_2 = f"{j} {k}"
                ngram_list.append(twogram_1_2)
                twogram_2_1 = f"{k} {j}"
                ngram_list.append(twogram_2_1)
    df_pair_ngram = pd.DataFrame(ngram_list)
    df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
    df_pair_ngram.iloc[:,0] = df_pair_ngram.iloc[:,0].apply(lambda x: remove_repetition(x))
    df_pair_ngram.drop_duplicates(inplace=True)
    df_pair_ngram.reset_index(drop=True, inplace=True)
    df_lang_pair_twogram = pd.merge(df_twogram_sent, df_pair_ngram, how="inner", on="twogram")
    df_lang_pair_twogram.rename(columns={"twogram":f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_lang_pair_twogram.drop_duplicates(inplace=True)
    #df_lang_pair_twogram = df_lang_pair_twogram.head(100)

    # output
    df_output_result = pd.concat([df_word, df_lang_pair_twogram], axis=1)

    df_lesson_result = pd.DataFrame(columns=["word","freq_word",f"twogram_pair_{lang_pair.lower()}",f"freq_twogram_pair_{lang_pair.lower()}"])
    a = 0

    for i in range(0,110):
        # Insert words and their count 
        try:
            word = df_output_result.iloc[i,0]  # word 
            freq_word = df_output_result.iloc[i,1]  # word freq
            df_lesson_result.loc[i,"word"] = word
            df_lesson_result.loc[i,"freq_word"] = freq_word
        except:
            pass
         
        # Insert twogram pair
        try:
            var2 = df_output_result.loc[a,f"twogram_pair_{lang_pair.lower()}"]
            freq_var2 = df_output_result.iloc[a,3]  # twogram_pair frequency
            if (len(df_lesson_result[f"twogram_pair_{lang_pair.lower()}"]) < twogram_pair_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                try:
                    while word_count_bool(df_lesson_result, word_thresh_num, [f"twogram_pair_{lang_pair.lower()}"]): # word count result                
                        a += 1
                        var2 = df_output_result.loc[a,f"twogram_pair_{lang_pair.lower()}"]
                        freq_var2 = df_output_result.iloc[a,3]  # twogram_pair frequency
                        df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                        df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = np.nan
                    df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = np.nan
            else:
                pass
        except:
            pass
        a += 1

    df_lesson_word_count = word_count_result(df_lesson_result, [f"twogram_pair_{lang_pair.lower()}"])
    df_lesson_result = pd.merge(df_lesson_result, df_lesson_word_count, how="left", on="word")
    df_lesson_result = df_lesson_result.drop_duplicates()
    df_lesson_result.to_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result{part_num}.xlsx", index=False)

    word_start += step_num
    word_end += step_num
    part_num += 1

#### Condition 2

In [55]:
part_result_file = glob.glob(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result*.xlsx")
part_result_file

['Turkish_English_28_Word_Step_7_Result1.xlsx',
 'Turkish_English_28_Word_Step_7_Result2.xlsx',
 'Turkish_English_28_Word_Step_7_Result3.xlsx',
 'Turkish_English_28_Word_Step_7_Result4.xlsx']

In [56]:
# Read previous part result
df_part_all = pd.DataFrame()
for i in part_result_file:
    df_var = pd.read_excel(f"{i}")
    df_part_all = pd.concat([df_part_all,df_var], axis=0)
df_part_twogram_pair = df_part_all.loc[:,[f"twogram_pair_{lang_pair.lower()}"]]
df_part_twogram_pair.reset_index(drop=True, inplace=True)
set_part_twogram_pair = set(df_part_twogram_pair[f"twogram_pair_{lang_pair.lower()}"])
# set_part_twogram_pair = set([])  # option for skip Condition 1

# while loop code block

word_thresh_num = 2
twogram_thresh_minus = 0  # for optional twogram thresh number 
twogram_pair_thresh_minus = 0  # for optinal twogram pair thresh number.

word_start = 0  # 0
word_end = 28  # 10
step_num = word_end  # 10
word_limit = 28  # 200
part_num = 1

twogram_num = word_thresh_num * step_num   # word_thresh_num*step_num minimum: for each word takes two twogram
twogram_pair_num = word_thresh_num * step_num  # word_thresh_num*step_num minimum: for each word takes two twogram pair

while word_end <= word_limit:
    df_word = df_word_all.iloc[word_start:word_end,]
    df_word.reset_index(drop=True, inplace=True)

    # language pair twogram
    ngram_list = []
    for i in df_pair["dict_entry_main"]:
        for j in word_tokenize(i):
            for k in df_word["word"]:
                twogram_1_2 = f"{j} {k}"
                ngram_list.append(twogram_1_2)
                twogram_2_1 = f"{k} {j}"
                ngram_list.append(twogram_2_1)
    df_pair_ngram = pd.DataFrame(ngram_list)
    df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
    df_pair_ngram.iloc[:,0] = df_pair_ngram.iloc[:,0].apply(lambda x: remove_repetition(x))
    df_pair_ngram.drop_duplicates(inplace=True)
    df_pair_ngram.reset_index(drop=True, inplace=True)
    df_lang_pair_twogram = pd.merge(df_twogram_sent, df_pair_ngram, how="inner", on="twogram")
    df_lang_pair_twogram.rename(columns={"twogram":f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_lang_pair_twogram.drop_duplicates(inplace=True)
    #df_lang_pair_twogram = df_lang_pair_twogram.head(100)
    set_lang_pair_twogram = set(df_lang_pair_twogram[f"twogram_pair_{lang_pair.lower()}"])
    df_set_result = pd.DataFrame(set_lang_pair_twogram.difference(set_part_twogram_pair))
    df_set_result.rename(columns={0:f"twogram_pair_{lang_pair.lower()}"}, inplace=True)
    df_set_pair_twogram = pd.merge(df_lang_pair_twogram, df_set_result, how="inner", on=f"twogram_pair_{lang_pair.lower()}")

    # twogram
    word_list = df_word["word"].values.tolist()
    data_kind = "twogram"
    twogram_list  = df_twogram_sent.iloc[:,0].values.tolist()
    
    resultlist2 = []

    manager = multiprocessing.Manager()
    resultlist2 = manager.list()
    
    def word_in_wordgroup2(list_var2):
        mergelist = []
        try:
            word = list_var2.split()
        except:
            pass
        var1 = range(len(word))
        for j in var1:
            if word[j] in word_list:
                mergelist.append(word[j])
                if len(mergelist) == len(word):
                        resultlist2.append(list_var2)
                            
    if __name__ == '__main__':
        # with Pool(16) as p:
        with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
            p.map(word_in_wordgroup2, twogram_list) # string_word liste 

    result_list2 = list(resultlist2)
    df_result2 = pd.DataFrame(result_list2)
    df_result2 = df_result2.rename(columns = {0: f"{data_kind}"})
    df_result2.iloc[:,0] = df_result2.iloc[:,0].apply(lambda x: remove_repetition(x)) # **
    df_merge2 = pd.merge(df_result2, df_twogram_sent, how="inner", on=f"{data_kind}")
    df_merge_result2 = df_merge2.sort_values(by="frequency", ascending=False)
    df_merge_result2.drop_duplicates(inplace=True)
    df_merge_result2.reset_index(drop=True, inplace=True)
    df_twogram_result = df_merge_result2
    #df_twogram_result = df_twogram_result.head(100)

    # output
    df_output_result = pd.concat([df_word, df_twogram_result, df_set_pair_twogram], axis=1)

    df_lesson_result = pd.DataFrame(columns=["word","freq_word","twogram","freq_twogram",f"twogram_pair_{lang_pair.lower()}",f"freq_twogram_pair_{lang_pair.lower()}"])
    a = 0
    b = 0

    for i in range(0,110):
        # Insert words and their count 
        try:
            word = df_output_result.iloc[i,0]  # word
            freq_word = df_output_result.iloc[i,1]  # word freq
            df_lesson_result.loc[i,"word"] = word
            df_lesson_result.loc[i,"freq_word"] = freq_word
        except:
            pass
         
        # Insert n grams
        try:
            var1 = df_output_result.iloc[a,2]
            freq_var1 = df_output_result.iloc[a,3]
            if (len(df_lesson_result["twogram"]) < twogram_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,"twogram"] = var1
                df_lesson_result.loc[i,"freq_twogram"] = freq_var1
                try:
                    while word_count_bool(df_lesson_result, (word_thresh_num - twogram_thresh_minus), ["twogram"]): # word count result                
                        a += 1
                        var1 = df_output_result.iloc[a,2]
                        freq_var1 = df_output_result.iloc[a,3]
                        df_lesson_result.loc[i,"twogram"] = var1
                        df_lesson_result.loc[i,"freq_twogram"] = freq_var1
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,"twogram"] = np.nan
                    df_lesson_result.loc[i,"freq_twogram"] = np.nan
            else:
                pass
        except:
            pass
        a += 1

        try:
            var2 = df_output_result.iloc[b,4]
            freq_var2 = df_output_result.iloc[b,5]
            if (len(df_lesson_result[f"twogram_pair_{lang_pair.lower()}"]) < twogram_pair_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
                df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                try:
                    while word_count_bool(df_lesson_result, (word_thresh_num - twogram_pair_thresh_minus), [f"twogram_pair_{lang_pair.lower()}"]): # word count result                
                        b += 1
                        var2 = df_output_result.iloc[b,4]
                        freq_var2 = df_output_result.iloc[b,5]
                        df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = var2
                        df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = freq_var2
                    else:
                        pass
                except:
                    df_lesson_result.loc[i,f"twogram_pair_{lang_pair.lower()}"] = np.nan
                    df_lesson_result.loc[i,f"freq_twogram_pair_{lang_pair.lower()}"] = np.nan
            else:
                pass
        except:
            pass
        b += 1

    df_lesson_word_count = word_count_result(df_lesson_result, ["twogram",f"twogram_pair_{lang_pair.lower()}"])
    df_lesson_result = pd.merge(df_lesson_result, df_lesson_word_count, how="left", on="word")
    df_lesson_result = df_lesson_result.drop_duplicates()
    df_lesson_result.to_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result{part_num}.xlsx", index=False)

    word_start += step_num
    word_end += step_num
    part_num += 1

#### Check Result

In [57]:
df_lesson_result

,word,freq_word,twogram,freq_twogram,twogram_pair_english,freq_twogram_pair_english,word_count
0,bir,18835735.0,ne var,62532.0,evet doktor,1185,4.0
1,bu,11062659.0,ben de,59972.0,evet madam,1043,4.0
2,ne,8025880.0,değil mi,58386.0,çok romantik,980,4.0
3,ve,7766036.0,ben mi,33652.0,komik mi,822,4.0
4,için,5484109.0,ne için,31857.0,parti mi,751,3.0
5,mi,5362714.0,hayır değil,18740.0,bir milyon,565,4.0
6,o,5013838.0,bu o,17682.0,dans mı,523,4.0
7,ben,4908913.0,hayır mı,15769.0,şans mı,510,4.0
8,de,4880315.0,bu kadar,15745.0,bir bebek,509,4.0
9,çok,4852169.0,evet var,11138.0,problem ne,497,4.0
10,ama,4661966.0,sen de,10089.0,şifre ne,494,4.0
11,var,4389551.0,o kadar,7040.0,plan bu,413,4.0
12,evet,4324786.0,evet ama,6846.0,telefon yok,405,4.0
13,mı,4001316.0,bir daha,5168.0,çok enteresan,405,4.0
14,değil,3883885.0,ve sen,4648.0,bu süper,360,4.0
15,da,3610161.0,bana mı,3593.0,polis yok,323,4.0
16,şey,3602024.0,bir şey,1611.0,normal değil,239,4.0
17,hayır,3406992.0,bana da,1498.0,hayır patron,238,4.0
18,daha,3317577.0,şey gibi,1314.0,hayır kaptan,211,4.0
19,sen,3283654.0,daha çok,1129.0,polis değil,174,4.0
20,kadar,2697900.0,ama yok,927.0,ve çek,169,4.0
21,bana,2659182.0,bunu da,717.0,parti için,114,4.0
22,yok,2491685.0,ve bunu,492.0,ben kaptan,113,4.0
23,onu,2486889.0,çok yok,93.0,okul için,107,NaN
24,seni,2454988.0,seni beni,7.0,ben doktor,98,4.0
25,beni,2446696.0,beni seni,4.0,ama şef,91,2.0
26,bunu,2445337.0,NaN,NaN,ama patron,91,3.0
27,gibi,2427957.0,NaN,NaN,kanser gibi,82,3.0
28,NaN,NaN,NaN,NaN,bebek var,76,NaN
29,NaN,NaN,NaN,NaN,makine gibi,76,NaN
30,NaN,NaN,NaN,NaN,bunu çek,72,NaN
31,NaN,NaN,NaN,NaN,seni moron,71,NaN
32,NaN,NaN,NaN,NaN,milyonlarca var,68,NaN
33,NaN,NaN,NaN,NaN,o amerikalı,65,NaN
34,NaN,NaN,NaN,NaN,ve müzik,64,NaN
35,NaN,NaN,NaN,NaN,seni embesil,63,NaN
36,NaN,NaN,NaN,NaN,o fransız,60,NaN
37,NaN,NaN,NaN,NaN,şey pardon,30,NaN
38,NaN,NaN,NaN,NaN,şey general,29,NaN
39,NaN,NaN,NaN,NaN,komik de,20,NaN
40,NaN,NaN,NaN,NaN,tipik sen,20,NaN
41,NaN,NaN,NaN,NaN,sen amerikalı,18,NaN
42,NaN,NaN,NaN,NaN,alo de,16,NaN
43,NaN,NaN,NaN,NaN,pantolon da,14,NaN
44,NaN,NaN,NaN,NaN,daha romantik,14,NaN
45,NaN,NaN,NaN,NaN,telefon da,13,NaN
46,NaN,NaN,NaN,NaN,daha şampanya,13,NaN
47,NaN,NaN,NaN,NaN,bana kahve,10,NaN
48,NaN,NaN,NaN,NaN,bana bira,9,NaN
49,NaN,NaN,NaN,NaN,karavan kadar,4,NaN
50,NaN,NaN,NaN,NaN,avokado kadar,4,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
#word_count_result(df_lesson_result, ["twogram"])

In [59]:
#word_count_result(df_lesson_result, [f"twogram_pair_{lang_pair.lower()}"])

#### Read Output File And Multi Write

In [60]:
df_part_11 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result1.xlsx")
df_part_11

,word,freq_word,twogram_pair_english,freq_twogram_pair_english,word_count
0,bir,18835735.0,polis mi,2526,2.0
1,bu,11062659.0,bir numara,1272,2.0
2,ne,8025880.0,bu komik,994,2.0
3,ve,7766036.0,bebek mi,861,2.0
4,için,5484109.0,bu normal,828,2.0
5,mi,5362714.0,ve motor,776,2.0
6,o,5013838.0,ne komik,685,1.0
7,NaN,NaN,plan ne,587,NaN
8,NaN,NaN,bir polis,574,NaN
9,NaN,NaN,şans için,305,NaN
10,NaN,NaN,patron o,251,NaN
11,NaN,NaN,ve gol,203,NaN
12,NaN,NaN,bebek için,173,NaN

In [61]:
df_part_12 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result2.xlsx")
df_part_12

,word,freq_word,twogram_pair_english,freq_twogram_pair_english,word_count
0,ben,4908913.0,çok komik,13097,2.0
1,de,4880315.0,evet patron,1476,1.0
2,çok,4852169.0,çok şeker,1319,2.0
3,ama,4661966.0,evet kaptan,1284,2.0
4,var,4389551.0,plan mı,556,2.0
5,evet,4324786.0,bomba mı,541,2.0
6,mı,4001316.0,bomba var,326,2.0
7,NaN,NaN,pardon ben,200,NaN
8,NaN,NaN,telefon var,187,NaN
9,NaN,NaN,ben ray,139,NaN
10,NaN,NaN,pardon ama,103,NaN
11,NaN,NaN,ama doktor,94,NaN
12,NaN,NaN,bebek de,30,NaN

In [62]:
df_part_13 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result3.xlsx")
df_part_13

,word,freq_word,twogram_pair_english,freq_twogram_pair_english,word_count
0,değil,3883885.0,komik değil,1785,2.0
1,da,3610161.0,problem değil,1678,2.0
2,şey,3602024.0,hayır doktor,481,2.0
3,hayır,3406992.0,hayır madam,361,2.0
4,daha,3317577.0,sen çek,97,2.0
5,sen,3283654.0,komik şey,76,2.0
6,kadar,2697900.0,şeker şey,70,1.0
7,NaN,NaN,daha bebek,44,NaN
8,NaN,NaN,pardon da,43,NaN
9,NaN,NaN,roma da,36,NaN
10,NaN,NaN,pardon sen,21,NaN
11,NaN,NaN,daha dramatik,15,NaN
12,NaN,NaN,ahtapot kadar,6,NaN

In [63]:
df_part_14 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_7_Result4.xlsx")
df_part_14

,word,freq_word,twogram_pair_english,freq_twogram_pair_english,word_count
0,bana,2659182.0,problem yok,746,2.0
1,yok,2491685.0,sinyal yok,742,2.0
2,onu,2486889.0,çek onu,465,2.0
3,seni,2454988.0,çek beni,316,2.0
4,beni,2446696.0,seni manyak,279,1.0
5,bunu,2445337.0,bomba gibi,236,NaN
6,gibi,2427957.0,bebek gibi,175,2.0
7,NaN,NaN,seni çakal,89,NaN
8,NaN,NaN,as onu,32,NaN
9,NaN,NaN,telefon bana,28,NaN
10,NaN,NaN,vay bana,12,NaN

In [64]:
df_part_21 = pd.read_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_28_Result1.xlsx")
df_part_21

,word,freq_word,twogram,freq_twogram,twogram_pair_english,freq_twogram_pair_english,word_count
0,bir,18835735.0,ne var,62532.0,evet doktor,1185,4.0
1,bu,11062659.0,ben de,59972.0,evet madam,1043,4.0
2,ne,8025880.0,değil mi,58386.0,çok romantik,980,4.0
3,ve,7766036.0,ben mi,33652.0,komik mi,822,4.0
4,için,5484109.0,ne için,31857.0,parti mi,751,3.0
5,mi,5362714.0,hayır değil,18740.0,bir milyon,565,4.0
6,o,5013838.0,bu o,17682.0,dans mı,523,4.0
7,ben,4908913.0,hayır mı,15769.0,şans mı,510,4.0
8,de,4880315.0,bu kadar,15745.0,bir bebek,509,4.0
9,çok,4852169.0,evet var,11138.0,problem ne,497,4.0
10,ama,4661966.0,sen de,10089.0,şifre ne,494,4.0
11,var,4389551.0,o kadar,7040.0,plan bu,413,4.0
12,evet,4324786.0,evet ama,6846.0,telefon yok,405,4.0
13,mı,4001316.0,bir daha,5168.0,çok enteresan,405,4.0
14,değil,3883885.0,ve sen,4648.0,bu süper,360,4.0
15,da,3610161.0,bana mı,3593.0,polis yok,323,4.0
16,şey,3602024.0,bir şey,1611.0,normal değil,239,4.0
17,hayır,3406992.0,bana da,1498.0,hayır patron,238,4.0
18,daha,3317577.0,şey gibi,1314.0,hayır kaptan,211,4.0
19,sen,3283654.0,daha çok,1129.0,polis değil,174,4.0
20,kadar,2697900.0,ama yok,927.0,ve çek,169,4.0
21,bana,2659182.0,bunu da,717.0,parti için,114,4.0
22,yok,2491685.0,ve bunu,492.0,ben kaptan,113,4.0
23,onu,2486889.0,çok yok,93.0,okul için,107,NaN
24,seni,2454988.0,seni beni,7.0,ben doktor,98,4.0
25,beni,2446696.0,beni seni,4.0,ama şef,91,2.0
26,bunu,2445337.0,NaN,NaN,ama patron,91,3.0
27,gibi,2427957.0,NaN,NaN,kanser gibi,82,3.0
28,NaN,NaN,NaN,NaN,bebek var,76,NaN
29,NaN,NaN,NaN,NaN,makine gibi,76,NaN
30,NaN,NaN,NaN,NaN,bunu çek,72,NaN
31,NaN,NaN,NaN,NaN,seni moron,71,NaN
32,NaN,NaN,NaN,NaN,milyonlarca var,68,NaN
33,NaN,NaN,NaN,NaN,o amerikalı,65,NaN
34,NaN,NaN,NaN,NaN,ve müzik,64,NaN
35,NaN,NaN,NaN,NaN,seni embesil,63,NaN
36,NaN,NaN,NaN,NaN,o fransız,60,NaN
37,NaN,NaN,NaN,NaN,şey pardon,30,NaN
38,NaN,NaN,NaN,NaN,şey general,29,NaN
39,NaN,NaN,NaN,NaN,komik de,20,NaN
40,NaN,NaN,NaN,NaN,tipik sen,20,NaN
41,NaN,NaN,NaN,NaN,sen amerikalı,18,NaN
42,NaN,NaN,NaN,NaN,alo de,16,NaN
43,NaN,NaN,NaN,NaN,pantolon da,14,NaN
44,NaN,NaN,NaN,NaN,daha romantik,14,NaN
45,NaN,NaN,NaN,NaN,telefon da,13,NaN
46,NaN,NaN,NaN,NaN,daha şampanya,13,NaN
47,NaN,NaN,NaN,NaN,bana kahve,10,NaN
48,NaN,NaN,NaN,NaN,bana bira,9,NaN
49,NaN,NaN,NaN,NaN,karavan kadar,4,NaN
50,NaN,NaN,NaN,NaN,avokado kadar,4,NaN

In [65]:
writer = pd.ExcelWriter(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Result_With_Frequency.xlsx", engine='xlsxwriter')

In [66]:
df_part_11.to_excel(writer, sheet_name='Word_Part11', index=False)
df_part_12.to_excel(writer, sheet_name='Word_Part12', index=False)
df_part_13.to_excel(writer, sheet_name='Word_Part13', index=False)
df_part_14.to_excel(writer, sheet_name='Word_Part14', index=False)
df_part_21.to_excel(writer, sheet_name='Word_Part21', index=False)

In [67]:
writer.save()

#### Output File Word Order

In [68]:
df_part_11

,word,freq_word,twogram_pair_english,freq_twogram_pair_english,word_count
0,bir,18835735.0,polis mi,2526,2.0
1,bu,11062659.0,bir numara,1272,2.0
2,ne,8025880.0,bu komik,994,2.0
3,ve,7766036.0,bebek mi,861,2.0
4,için,5484109.0,bu normal,828,2.0
5,mi,5362714.0,ve motor,776,2.0
6,o,5013838.0,ne komik,685,1.0
7,NaN,NaN,plan ne,587,NaN
8,NaN,NaN,bir polis,574,NaN
9,NaN,NaN,şans için,305,NaN
10,NaN,NaN,patron o,251,NaN
11,NaN,NaN,ve gol,203,NaN
12,NaN,NaN,bebek için,173,NaN

In [69]:
def word_in_twogram(df, list_column, target_column):

    '''word_in_twogram(df, "word", "twogram"):
       df is dataframe, list_column and target_column are 
       dataframe column string name. list_column convert list
       values that are in target column.
    '''
    
    df_select = df[[f"{target_column}"]].dropna()
    df_word_result = pd.DataFrame()
    for i in df[f"{list_column}"].dropna():
        try:
            word_in_twogram = df_select[df_select[f"{target_column}"].str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)] 
        except:
            pass        
        word_in_twogram.insert(0,"word",i)
        df_word_result = pd.concat([df_word_result,word_in_twogram], axis=0)
    df_word_result.reset_index(drop=True, inplace=True)

    return df_word_result

In [70]:
word_in_twogram(df_part_11, "word", f"twogram_pair_{lang_pair.lower()}")

    word twogram_pair_english
0    bir           bir numara
1    bir            bir polis
2     bu             bu komik
3     bu            bu normal
4     ne             ne komik
5     ne              plan ne
6     ve             ve motor
7     ve               ve gol
8   için            şans için
9   için           bebek için
10    mi             polis mi
11    mi             bebek mi
12     o             patron o

In [71]:
df_word_order_11 = word_in_twogram(df_part_11, "word", f"twogram_pair_{lang_pair.lower()}")
df_word_order_12 = word_in_twogram(df_part_12, "word", f"twogram_pair_{lang_pair.lower()}") 
df_word_order_13 = word_in_twogram(df_part_13, "word", f"twogram_pair_{lang_pair.lower()}") 
df_word_order_14 = word_in_twogram(df_part_14, "word", f"twogram_pair_{lang_pair.lower()}")
df_word_order_21 = word_in_twogram(df_part_21, "word", f"twogram") 
df_word_order_212 = word_in_twogram(df_part_21, "word", f"twogram_pair_{lang_pair.lower()}")

In [72]:
df_word_order_join_11 = df_word_order_11.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()   # df_word_order_11.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].transform(lambda x: ','.join(x))
df_word_order_join_12 = df_word_order_12.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_13 = df_word_order_13.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_14 = df_word_order_14.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_211 = df_word_order_21.groupby(["word"])["twogram"].apply(", ".join).reset_index()
df_word_order_join_212 = df_word_order_212.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].apply(", ".join).reset_index()
df_word_order_join_21 = pd.merge(df_word_order_join_211, df_word_order_join_212, how="outer", on="word")

In [73]:
df_word_order_join_21

     word                twogram          twogram_pair_english
0     ama      evet ama, ama yok           ama şef, ama patron
1    bana       bana mı, bana da         bana kahve, bana bira
2     ben         ben de, ben mi        ben kaptan, ben doktor
3    beni   seni beni, beni seni                           NaN
4     bir      bir daha, bir şey         bir milyon, bir bebek
5      bu         bu o, bu kadar             plan bu, bu süper
6    bunu       bunu da, ve bunu                      bunu çek
7      da       bana da, bunu da       pantolon da, telefon da
8    daha     bir daha, daha çok  daha romantik, daha şampanya
9      de         ben de, sen de              komik de, alo de
10  değil  değil mi, hayır değil     normal değil, polis değil
11   evet     evet var, evet ama       evet doktor, evet madam
12   gibi               şey gibi      kanser gibi, makine gibi
13  hayır  hayır değil, hayır mı    hayır patron, hayır kaptan
14   için                ne için         parti için, okul için
15  kadar      bu kadar, o kadar  karavan kadar, avokado kadar
16     mi       değil mi, ben mi            komik mi, parti mi
17     mı      hayır mı, bana mı              dans mı, şans mı
18     ne        ne var, ne için          problem ne, şifre ne
19      o          bu o, o kadar        o amerikalı, o fransız
20    sen         sen de, ve sen      tipik sen, sen amerikalı
21   seni   seni beni, beni seni      seni moron, seni embesil
22    var       ne var, evet var    bebek var, milyonlarca var
23     ve        ve sen, ve bunu              ve çek, ve müzik
24    yok       ama yok, çok yok        telefon yok, polis yok
25    çok      daha çok, çok yok   çok romantik, çok enteresan
26    şey      bir şey, şey gibi       şey pardon, şey general

In [74]:
writer2 = pd.ExcelWriter(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Join_Result_Without_Frequency.xlsx", engine='xlsxwriter')

In [75]:
df_word_order_join_11.to_excel(writer2, sheet_name='Word_Part11', index=False)
df_word_order_join_12.to_excel(writer2, sheet_name='Word_Part12', index=False)
df_word_order_join_13.to_excel(writer2, sheet_name='Word_Part13', index=False)
df_word_order_join_14.to_excel(writer2, sheet_name='Word_Part14', index=False)
df_word_order_join_21.to_excel(writer2, sheet_name='Word_Part21', index=False)

In [76]:
writer2.save()

#### Copy Move And Delete

In [40]:
output_file = glob.glob(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_{word_limit}_Word_*.xlsx")
output_file

['Turkish_English_28_Word_Step_7_Result1.xlsx',
 'Turkish_English_28_Word_Step_7_Result2.xlsx',
 'Turkish_English_28_Word_Step_7_Result3.xlsx',
 'Turkish_English_28_Word_Step_7_Result4.xlsx',
 'Turkish_English_28_Word_Step_28_Result1.xlsx',
 'Turkish_English_28_Word_Result_With_Frequency.xlsx',
 'Turkish_English_28_Word_Join_Result_Without_Frequency.xlsx']

In [41]:
for k in output_file:
    source = k # source directory
    destination = f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/3-Adjust Word Level/{lang_folder.capitalize()} {lang_pair.capitalize()}"
    shutil.copy2(source, destination)

In [42]:
for i in output_file:
    try:
        os.remove(i)
    except:
        pass