### Levels

In [1]:
import pandas as pd
import numpy as np
import re
import glob

In [2]:
folder_name = "Turkish"
level = "Level 2"  # Level 1, Level 2 ...

In [3]:
word_file = glob.glob(f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/{level.lower().capitalize()}/1-Data Preprocess/Word*")
word_file

['/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 2/1-Data Preprocess/Word_206.xlsx']

In [4]:
df_word_level = pd.read_excel(f"{word_file[0]}")
df_word_level

        word  frequency
0        bir   18835735
1         bu   11062659
2         ne    8025880
3         ve    7766036
4       için    5484109
..       ...        ...
201    neler     397377
202    ister     396177
203     emin     395177
204      pek     394663
205  gidelim     392369

[206 rows x 2 columns]

In [5]:
sent_file = glob.glob(f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/{level.lower().capitalize()}/1-Data Preprocess/Sentence*")
sent_file

['/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 2/1-Data Preprocess/Sentence_40181_With_206_Word.xlsx']

In [6]:
df_sent_level = pd.read_excel(f"{sent_file[0]}")
df_sent_level

                         sentence  frequency               code
0                            evet    1948596   G1-L4-F1948596-0
1                           hayır    1250401   G1-L5-F1250401-2
2                           tamam     882921    G1-L5-F882921-3
3                              ne     753105    G1-L2-F753105-4
4                     teşekkürler     343527   G1-L11-F343527-5
...                           ...        ...                ...
40176  ama bu ne demek bilmiyorum          6  G5-L26-F6-2897436
40177   gerçekten yine de üzgünüm          6  G4-L25-F6-2830768
40178                  ve biliyor          6  G2-L10-F6-2884052
40179      gerçekten çok iyi para          6  G4-L22-F6-2897481
40180        bir dakika biliyorum          6  G3-L20-F6-2913958

[40181 rows x 3 columns]

In [7]:
twogram_file = glob.glob(f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/{level.lower().capitalize()}/1-Data Preprocess/Twogram*")
twogram_file

['/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 2/1-Data Preprocess/Twogram_26592_With_206_Word.xlsx']

In [8]:
df_twogram_level = pd.read_excel(f"{twogram_file[0]}")
df_twogram_level

                twogram  frequency
0               bir şey     859944
1              değil mi     585879
2                ben de     377765
3       teşekkür ederim     370619
4               ne oldu     322758
...                 ...        ...
26587    onları benimle          6
26588  artık istiyorsun          6
26589       yani şeyler          6
26590     harika onları          6
26591          iki size          6

[26592 rows x 2 columns]

In [9]:
threegram_file = glob.glob(f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/{level.lower().capitalize()}/1-Data Preprocess/Threegram*")
threegram_file

['/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 2/1-Data Preprocess/Threegram_106715_With_206_Word.xlsx']

In [10]:
df_threegram_level = pd.read_excel(f"{threegram_file[0]}")
df_threegram_level

                   threegram  frequency
0                bir şey yok     113165
1                bir şey var     110455
2                   bu da ne      89463
3              başka bir şey      75193
4          hayır hayır hayır      69443
...                      ...        ...
106710   olarak buraya nasıl         10
106711           var ki sizi         10
106712         gece tam sana         10
106713        var işte böyle         10
106714  tamam neden olduğunu         10

[106715 rows x 2 columns]

In [11]:
fourgram_file = glob.glob(f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/{level.lower().capitalize()}/1-Data Preprocess/Fourgram*")
fourgram_file

['/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 2/1-Data Preprocess/Fourgram_74129_With_206_Word.xlsx']

In [12]:
df_fourgram_level = pd.read_excel(f"{fourgram_file[0]}")
df_fourgram_level

                        fourgram  frequency
0                 bir şey var mı      41773
1               bir sorun mu var      21423
2                 bu da ne demek      16884
3                en son ne zaman      15141
4              başka bir şey var      12619
...                          ...        ...
74124        pekala belki sen de          7
74125   pekala benim sadece daha          7
74126   birkaç dakika içinde onu          7
74127    pekala biliyor musun ne          7
74128  biliyor olabilir tamam mı          7

[74129 rows x 2 columns]

In [13]:
fivegram_file = glob.glob(f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/{level.lower().capitalize()}/1-Data Preprocess/Fivegram*")
fivegram_file

['/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 2/1-Data Preprocess/Fivegram_14845_With_206_Word.xlsx']

In [14]:
df_fivegram_level = pd.read_excel(f"{fivegram_file[0]}")
df_fivegram_level

                              fivegram  frequency
0                 başka bir şey var mı      14104
1                bu da ne demek oluyor      10205
2                 bu da ne demek şimdi       4791
3        hayır hayır hayır hayır hayır       4380
4      bunun ne olduğunu biliyor musun       4019
...                                ...        ...
14840       sadece nasıl oldu da bütün         10
14841             de belki bir gün onu         10
14842       ben sana yardım ederim sen         10
14843           ama bunu hiç bir zaman         10
14844       burada bir şey yok efendim         10

[14845 rows x 2 columns]

##### Select N Gram And Sentence For Lessons

In [15]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np

In [16]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

In [17]:
word_num = 206
df_select = df_word_level.iloc[0:word_num,]
df_select

        word  frequency
0        bir   18835735
1         bu   11062659
2         ne    8025880
3         ve    7766036
4       için    5484109
..       ...        ...
201    neler     397377
202    ister     396177
203     emin     395177
204      pek     394663
205  gidelim     392369

[206 rows x 2 columns]

In [18]:
word_list = df_select["word"].values.tolist()

In [58]:
# Select N Gram Type
sent_ngram_file = "Five" # Two, Three, Four, Five
data_kind = f"{sent_ngram_file}gram" # Twogram, Threegram, Fourgram, Fivegram

In [59]:
df_file = glob.glob(f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/{level.lower().capitalize()}/Opus/{data_kind.lower().capitalize()}*")
df_file

['/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 2/Opus/Fivegram_14845_With_206_Word.xlsx']

In [60]:
df = pd.read_excel(f"{df_file[0]}")
df

                              fivegram  frequency
0                 başka bir şey var mı      14104
1                bu da ne demek oluyor      10205
2                 bu da ne demek şimdi       4791
3        hayır hayır hayır hayır hayır       4380
4      bunun ne olduğunu biliyor musun       4019
...                                ...        ...
14840       sadece nasıl oldu da bütün         10
14841             de belki bir gün onu         10
14842       ben sana yardım ederim sen         10
14843           ama bunu hiç bir zaman         10
14844       burada bir şey yok efendim         10

[14845 rows x 2 columns]

In [61]:
d_list  = df.iloc[:,0].values.tolist()

In [62]:
resultlist = []

In [63]:
#import os
#from multiprocessing import Process, Manager, Pool, Queue
manager = multiprocessing.Manager()
resultlist = manager.list()

def word_in_wordgroup(d_list):
    mergelist = []
    try:
        word = d_list.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist.append(d_list)
                        
if __name__ == '__main__':
    # with Pool(16) as p:
    with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
        p.map(word_in_wordgroup, d_list) # string_word liste

In [64]:
result_list = list(resultlist)
df_result = pd.DataFrame(result_list)
df_result = df_result.rename(columns = {0: f"{data_kind.lower()}"})
df_merge = pd.merge(df_result, df, how="left", on=f"{data_kind.lower()}")
df_merge_result = df_merge.sort_values(by="frequency", ascending=False)
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

                              fivegram  frequency
0                 başka bir şey var mı      14104
1                bu da ne demek oluyor      10205
2                 bu da ne demek şimdi       4791
3        hayır hayır hayır hayır hayır       4380
4      bunun ne olduğunu biliyor musun       4019
...                                ...        ...
14840         olan bir şey var sanırım         10
14841               yani bu da bir şey         10
14842              bir şey yok hiç bir         10
14843           senin de böyle bir şey         10
14844       burada bir şey yok efendim         10

[14845 rows x 2 columns]

In [65]:
df_sent_ngram_file = glob.glob(f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/{folder_name}/Result/N Gram/N Gram And Sentence/{sent_ngram_file}*")
df_sent_ngram_file

['/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/Turkish/Result/N Gram/N Gram And Sentence/Five_Gram_And_Sentence.csv']

In [66]:
df_sent_ngram = pd.read_csv(f"{df_sent_ngram_file[0]}")
df_sent_ngram.rename(columns={df_sent_ngram.columns[0]:f"{data_kind.lower()}"}, inplace=True)
df_sent_ngram = df_sent_ngram[[f"{data_kind.lower()}"]]
df_sent_ngram

                                       fivegram
0                         bu da ne demek oluyor
1                          başka bir şey var mı
2                  sana bir şey sorabilir miyim
3              sana bir şey göstermek istiyorum
4                          bu da ne demek şimdi
...                                         ...
79916               bana bir galip getir fikret
79917                 bana bir yön gerek fikret
79918       seninle çalışmak çok güzeldi fikret
79919   fikret bana kimseye anlatmamamı söyledi
79920  fikret kütüphane dosyalarına bakar mısın

[79921 rows x 1 columns]

In [67]:
df_sent_ngram_merge = pd.merge(df_sent_ngram, df_merge_result, how="inner", on=f"{data_kind.lower()}")
df_sent_ngram_merge.sort_values(by="frequency", ascending=False, inplace=True)
df_sent_ngram_merge.reset_index(drop=True, inplace=True)
df_sent_ngram_merge

                            fivegram  frequency
0               başka bir şey var mı      14104
1              bu da ne demek oluyor      10205
2               bu da ne demek şimdi       4791
3      hayır hayır hayır hayır hayır       4380
4    bunun ne olduğunu biliyor musun       4019
..                               ...        ...
586               peki ne var ne yok         60
587             ne oldu sorun mu var         60
588       çok mu fazla şey istiyorum         60
589            bütün bu şeyler de ne         60
590           peki ya bize ne olacak         60

[591 rows x 2 columns]

In [68]:
data_len = len(df_sent_ngram_merge)
#data_len

In [69]:
df_sent_ngram_merge = df_sent_ngram_merge.head(1000000)

In [70]:
df_sent_ngram_merge.to_excel(f"{data_kind.lower().capitalize()}_And_Sentence_{data_len}_With_{word_num}_Word.xlsx", index=False)

##### Different Language Word In Each Other

In [71]:
word_num = 206
df_select = df_word_level.iloc[0:word_num,]
df_select

        word  frequency
0        bir   18835735
1         bu   11062659
2         ne    8025880
3         ve    7766036
4       için    5484109
..       ...        ...
201    neler     397377
202    ister     396177
203     emin     395177
204      pek     394663
205  gidelim     392369

[206 rows x 2 columns]

In [72]:
word_list = df_select["word"].values.tolist()

In [73]:
data_kind = "twogram"

In [74]:
df_ngram_arabic = pd.read_csv(f"/media/kurubal/SSD1/Data Scientist/Work/Modern Ways/Project/{folder_name}/Result/Other/Arabic/{data_kind.lower().capitalize()}_Include_Arabic_Word.csv")
df_ngram_arabic

         word          twogram  frequency
0         aba   aba sayılardan         14
1         aba         aba için          7
2         aba         önce aba          7
3         abd    abd donanması        196
4         abd       fikret abd        185
...       ...              ...        ...
552771  ebedi       için ebedi          6
552772  ebedi       onun ebedi          6
552773  ebedi  doğaötesi ebedi          6
552774  ebedi       izin ebedi          6
552775  ebedi      dikip ebedi          6

[552776 rows x 3 columns]

In [75]:
data_list = df_ngram_arabic.iloc[:,1].values.tolist()

In [76]:
resultlist2 = []

In [77]:
#import os
#from multiprocessing import Process, Manager, Pool, Queue
manager = multiprocessing.Manager()
resultlist2 = manager.list()

def word_in_wordgroup(data_list):
    mergelist = []
    try:
        word = data_list.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist2.append(data_list)
                        
if __name__ == '__main__':
    # with Pool(16) as p:
    with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
        p.map(word_in_wordgroup, data_list) # string_word liste

In [78]:
result_list2 = list(resultlist2)
df_result2 = pd.DataFrame(result_list2)
df_result2 = df_result2.rename(columns = {0: f"{data_kind.lower()}"})
df_merge2 = pd.merge(df_result2, df_ngram_arabic, how="left", on=f"{data_kind.lower()}")
df_merge_result2 = df_merge2.sort_values(by="frequency", ascending=False)
df_merge_result2.drop_duplicates(inplace=True)
df_merge_result2.reset_index(drop=True, inplace=True)
df_merge_result2

               twogram      word  frequency
0              bir şey       şey     859944
1      teşekkür ederim  teşekkür     370619
2             tamam mı     tamam     264540
3             ne kadar     kadar     237876
4             bu kadar     kadar     215204
...                ...       ...        ...
6752        güzel izin      izin          6
6753        hemen izin      izin          6
6754        kimse izin      izin          6
6755       diye harika    harika          6
6756  istiyorsun zaten     zaten          6

[6757 rows x 3 columns]

In [79]:
data_len2 = len(df_merge_result2)
#data_len

In [80]:
df_merge_result2.to_excel(f"{data_kind.lower().capitalize()}_{data_len2}_Include_Arabic_With_{word_num}_Word.xlsx", index=False)