### Level Results

This notebook is used to evaluate lesson level results.

In [1]:
import pandas as pd
import numpy as np
import re
import glob
import nltk
from nltk import word_tokenize

In [2]:
folder_name = "Turkish"
word_num = 206
level = "Level 2"

In [3]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name.lower().capitalize()}/Deployment/Result/{level.lower().capitalize()}/1-Data Preprocess/Word_{word_num}.xlsx")
df_word = pd.DataFrame(df_word.iloc[:,0])
df_word

        word
0        bir
1         bu
2         ne
3         ve
4       için
..       ...
201    neler
202    ister
203     emin
204      pek
205  gidelim

[206 rows x 1 columns]

In [4]:
twogram_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name.lower().capitalize()}/Deployment/Result/{level.lower().capitalize()}/2-Lesson Level N Gram Sentence/Twogram_And*")
twogram_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 2/2-Lesson Level N Gram Sentence/Twogram_And_Sentence_1302_With_206_Word.xlsx']

In [5]:
df_twogram = pd.read_excel(f"{twogram_file[0]}")
df_twogram.sort_values(by="frequency", ascending=True, inplace=True)
df_twogram.reset_index(drop=True, inplace=True)
df_twogram = pd.DataFrame(df_twogram.iloc[:,0])
df_twogram

              twogram
0         pekala evet
1          sanırım mı
2         peki dostum
3             ne şeyi
4         anne nerede
...               ...
1297          ne oldu
1298  teşekkür ederim
1299           ben de
1300         değil mi
1301          bir şey

[1302 rows x 1 columns]

In [6]:
threegram_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name.lower().capitalize()}/Deployment/Result/{level.lower().capitalize()}/2-Lesson Level N Gram Sentence/Threegram_And*")
threegram_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 2/2-Lesson Level N Gram Sentence/Threegram_And_Sentence_1412_With_206_Word.xlsx']

In [7]:
df_threegram = pd.read_excel(f"{threegram_file[0]}")
df_threegram.sort_values(by="frequency", ascending=True, inplace=True)
df_threegram.reset_index(drop=True, inplace=True)
df_threegram = pd.DataFrame(df_threegram.iloc[:,0])
df_threegram

              threegram
0      evet öyle olacak
1     sanırım öyle evet
2        hey işte orada
3      evet sorun olmaz
4         sorun ne anne
...                 ...
1407  hayır hayır hayır
1408      başka bir şey
1409           bu da ne
1410        bir şey var
1411        bir şey yok

[1412 rows x 1 columns]

In [8]:
fourgram_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name.lower().capitalize()}/Deployment/Result/{level.lower().capitalize()}/2-Lesson Level N Gram Sentence/Fourgram_And*")
fourgram_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 2/2-Lesson Level N Gram Sentence/Fourgram_And_Sentence_1078_With_206_Word.xlsx']

In [9]:
df_fourgram = pd.read_excel(f"{fourgram_file[0]}")
df_fourgram.sort_values(by="frequency", ascending=True, inplace=True)
df_fourgram.reset_index(drop=True, inplace=True)
df_fourgram = pd.DataFrame(df_fourgram.iloc[:,0])
df_fourgram

                   fourgram
0          bu ne demek peki
1          evet her şey iyi
2     evet ben de biliyorum
3         evet tabii ki var
4          peki ne oldu ona
...                     ...
1073      başka bir şey var
1074        en son ne zaman
1075         bu da ne demek
1076       bir sorun mu var
1077         bir şey var mı

[1078 rows x 1 columns]

In [10]:
fivegram_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name.lower().capitalize()}/Deployment/Result/{level.lower().capitalize()}/2-Lesson Level N Gram Sentence/Fivegram_And*")
fivegram_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 2/2-Lesson Level N Gram Sentence/Fivegram_And_Sentence_591_With_206_Word.xlsx']

In [11]:
df_fivegram = pd.read_excel(f"{fivegram_file[0]}")
df_fivegram.sort_values(by="frequency", ascending=True, inplace=True)
df_fivegram.reset_index(drop=True, inplace=True)
df_fivegram = pd.DataFrame(df_fivegram.iloc[:,0])
df_fivegram

                            fivegram
0             peki ya bize ne olacak
1           al bakalım bu senin için
2                 peki ne var ne yok
3              bütün bu şeyler de ne
4         çok mu fazla şey istiyorum
..                               ...
586  bunun ne olduğunu biliyor musun
587    hayır hayır hayır hayır hayır
588             bu da ne demek şimdi
589            bu da ne demek oluyor
590             başka bir şey var mı

[591 rows x 1 columns]

In [12]:
twogram_other_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name.lower().capitalize()}/Deployment/Result/{level.lower().capitalize()}/2-Lesson Level N Gram Sentence/Twogram_*_Include*")
twogram_other_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 2/2-Lesson Level N Gram Sentence/Twogram_6757_Include_Arabic_With_206_Word.xlsx']

In [13]:
df_twogram_other = pd.read_excel(f"{twogram_other_file[0]}")
df_twogram_other.sort_values(by="frequency", ascending=True, inplace=True)
df_twogram_other.reset_index(drop=True, inplace=True)
df_twogram_other = pd.DataFrame(df_twogram_other.iloc[:,0])
df_twogram_other

               twogram
0     istiyorsun zaten
1             onu emin
2            fazla son
3           orada emin
4          içinde emin
...                ...
6752          bu kadar
6753          ne kadar
6754          tamam mı
6755   teşekkür ederim
6756           bir şey

[6757 rows x 1 columns]

In [14]:
def word_count(df, bigger_than): # df is a dataframe, bigger_than is an integer
    list_all = []
    for i in df.columns:
        var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list)
    df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"count"}, inplace=True)
    
    return  df_word_count["count"][df_word_count.loc[:,"count"] > bigger_than].any()

In [15]:
twogram_num = 200
threegram_num = 200
fourgram_num = 200
fivegram_num = 200
twogram_other_num = 200

In [16]:
df_lesson_result = pd.DataFrame(columns=["word","twogram","twogram_other","threegram","fourgram","fivegram"])
word_thresh_num = 12
a = 0
b = 0
c = 0
d = 0
e = 0
for i in range(len(df_word)):
    # Insert words and their count 
    try:
        word = df_word.iloc[i,0]
        df_lesson_result.loc[i,"word"] = word
    except:
        pass
    
    # Insert n grams
    try:
        var1 = df_twogram.iloc[a,0]
        if (len(df_lesson_result["twogram"]) < twogram_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
            df_lesson_result.loc[i,"twogram"] = var1
            try:
                while word_count(df_lesson_result, word_thresh_num): # word count result                
                    a += 1
                    var1 = df_twogram.iloc[a,0]
                    df_lesson_result.loc[i,"twogram"] = var1
                else:
                    pass
            except:
                df_lesson_result.loc[i,"twogram"] = np.nan
        else:
            pass
    except:
        pass
    a += 1

    try:
        var2 = df_twogram_other.iloc[b,0]
        if (len(df_lesson_result["twogram_other"]) < twogram_other_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
            df_lesson_result.loc[i,"twogram_other"] = var2
            try:
                while word_count(df_lesson_result, word_thresh_num): # word count result                
                    b += 1
                    var2 = df_twogram_other.iloc[b,0]
                    df_lesson_result.loc[i,"twogram_other"] = var2
                else:
                    pass
            except:
                df_lesson_result.loc[i,"twogram_other"] = np.nan
        else:
            pass
    except:
        pass
    b += 1

    try:
        var3 = df_threegram.iloc[c,0]
        if (len(df_lesson_result["threegram"]) < threegram_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
            df_lesson_result.loc[i,"threegram"] = var3
            try:
                while word_count(df_lesson_result, word_thresh_num): # word count result                
                    c += 1
                    var3 = df_threegram.iloc[c,0]
                    df_lesson_result.loc[i,"threegram"] = var3
                else:
                    pass
            except:
                df_lesson_result.loc[i,"threegram"] = np.nan
        else:
            pass
    except:
        pass
    c += 1

    try:
        var4 = df_fourgram.iloc[d,0]
        if (len(df_lesson_result["fourgram"]) < fourgram_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
            df_lesson_result.loc[i,"fourgram"] = var4
            try:
                while word_count(df_lesson_result, word_thresh_num): # word count result                
                    d += 1
                    var4 = df_fourgram.iloc[d,0]
                    df_lesson_result.loc[i,"fourgram"] = var4
                else:
                    pass
            except:
                df_lesson_result.loc[i,"fourgram"] = np.nan
        else:
            pass
    except:
        pass
    d += 1

    try:
        var5 = df_fivegram.iloc[e,0]
        if (len(df_lesson_result["fivegram"]) < fivegram_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
            df_lesson_result.loc[i,"fivegram"] = var5
            try:
                while word_count(df_lesson_result, word_thresh_num):                
                    e += 1
                    var5 = df_fivegram.iloc[e,0]
                    df_lesson_result.loc[i,"fivegram"] = var5
                else:
                    pass
            except:
                df_lesson_result.loc[i,"fivegram"] = np.nan
        else:
            pass
    except:
        pass
    e += 1

In [17]:
print(f'twogram: {a} \ntwogram_other: {b} \nthreegram_other: {c} \nfourgram_other: {d} \nfivegram_other: {e}')

twogram: 1443
twogram_other: 6898
threegram_other: 1553
fourgram_other: 1219
fivegram_other: 735

In [18]:
df_lesson_result

,word,twogram,twogram_other,threegram,fourgram,fivegram
0,bir,pekala evet,istiyorsun zaten,evet öyle olacak,bu ne demek peki,peki ya bize ne olacak
1,bu,sanırım mı,onu emin,sanırım öyle evet,evet her şey iyi,al bakalım bu senin için
2,ne,peki dostum,fazla son,hey işte orada,evet ben de biliyorum,peki ne var ne yok
3,ve,ne şeyi,orada emin,evet sorun olmaz,evet tabii ki var,bütün bu şeyler de ne
4,için,anne nerede,içinde emin,sorun ne anne,peki ne oldu ona,çok mu fazla şey istiyorum
...,...,...,...,...,...,...
201,neler,NaN,NaN,NaN,NaN,NaN
202,ister,NaN,NaN,NaN,NaN,NaN
203,emin,NaN,NaN,NaN,NaN,NaN
204,pek,NaN,NaN,NaN,NaN,NaN
205,gidelim,NaN,NaN,NaN,NaN,NaN

In [19]:
def word_count_result(df): # df is dataframe, bigger_than is integer
    list_all = []
    for i in df.columns:
        var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list)
    df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"count"}, inplace=True)
    
    return  df_word_count

In [20]:
df_word_count_result = word_count_result(df_lesson_result)
df_word_count_result

           word  count
0    bilmiyorum     13
1          emin     13
2         selam     13
3          peki     13
4         haydi     13
..          ...    ...
201       vardı      1
202        size      1
203         tüm      1
204        gece      1
205      olarak      1

[206 rows x 2 columns]

In [21]:
df_lesson_word_count = pd.merge(df_lesson_result, df_word_count_result, how="inner", on="word")
df_lesson_word_count = df_lesson_word_count[["word","count","twogram","twogram_other","threegram","fourgram","fivegram"]]
df_lesson_word_count

,word,count,twogram,twogram_other,threegram,fourgram,fivegram
0,bir,12,pekala evet,istiyorsun zaten,evet öyle olacak,bu ne demek peki,peki ya bize ne olacak
1,bu,12,sanırım mı,onu emin,sanırım öyle evet,evet her şey iyi,al bakalım bu senin için
2,ne,12,peki dostum,fazla son,hey işte orada,evet ben de biliyorum,peki ne var ne yok
3,ve,6,ne şeyi,orada emin,evet sorun olmaz,evet tabii ki var,bütün bu şeyler de ne
4,için,12,anne nerede,içinde emin,sorun ne anne,peki ne oldu ona,çok mu fazla şey istiyorum
...,...,...,...,...,...,...,...
201,neler,9,NaN,NaN,NaN,NaN,NaN
202,ister,1,NaN,NaN,NaN,NaN,NaN
203,emin,13,NaN,NaN,NaN,NaN,NaN
204,pek,2,NaN,NaN,NaN,NaN,NaN
205,gidelim,10,NaN,NaN,NaN,NaN,NaN

In [22]:
#df_lesson_result["word"] = df_word_count_result["word"]
#df_lesson_result["count"] = df_word_count_result["count"]

In [23]:
#df_lesson_result

In [24]:
#df_lesson_word_count.to_excel(f"Lesson_{level.lower().capitalize()}_Word_Thresh_{word_thresh_num}_Result_{word_num}_Words.xlsx", index=False)

In [25]:
df_lesson_word_count.twogram.nunique()

65

In [26]:
df_lesson_result.twogram.nunique()

65

#### Detect Low Count Word For Support

In [27]:
df_word_count_low = df_word_count_result[df_word_count_result["count"] < 7]
df_word_count_low.reset_index(drop=True, inplace=True)
df_word_count_low

       word  count
0    yardım      6
1        ve      6
2        oh      6
3       ona      6
4      bize      6
..      ...    ...
116   vardı      1
117    size      1
118     tüm      1
119    gece      1
120  olarak      1

[121 rows x 2 columns]

In [28]:
#df_word_count_low.to_excel(f"Lesson_{level.lower().capitalize()}_Low_Count_Words.xlsx", index=False)

In [29]:
word_count_result(df_twogram)

       word  count
0      evet     94
1     hayır     67
2        ne     64
3       ben     61
4        bu     60
..      ...    ...
193  onları      1
194     ile      1
195  yüzden      1
196      en      1
197    sizi      1

[198 rows x 2 columns]

In [30]:
word_count_result(df_twogram_other)

      word  count
0       ve    422
1      ama    407
2    zaman    394
3     adam    380
4      şey    370
..     ...    ...
201  musun     15
202  misin     14
203     mü     14
204  mısın     12
205  neler     12

[206 rows x 2 columns]

In [31]:
word_count_result(df_threegram)

        word  count
0         ne    224
1         bu    179
2      değil    130
3        bir    112
4       evet     90
..       ...    ...
191  seninle      1
192    selam      1
193      ilk      1
194   onunla      1
195    bütün      1

[196 rows x 2 columns]

In [32]:
word_count_result(df_fourgram)

      word  count
0      bir    247
1       ne    219
2       bu    218
3      şey    177
4    değil    148
..     ...    ...
184  hemen      1
185   beni      1
186  yoksa      1
187    siz      1
188   şunu      1

[189 rows x 2 columns]

In [33]:
word_count_result(df_fivegram)

        word  count
0        bir    234
1        şey    183
2         bu    154
3         ne    127
4      değil    126
..       ...    ...
175    selam      1
176  geliyor      1
177     emin      1
178       mü      1
179    mısın      1

[180 rows x 2 columns]