### Find Word Images And Copy

In [111]:
import os
import sys
import pandas as pd
import numpy as np
import re
import glob
from pathlib import Path
import shutil
from os.path import isfile, join

In [112]:
# language pair
lang_folder = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language for learner
#lang_pair = "English"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

select_image_num = 300
take_image_sample_num = 50

In [113]:
word_lemma_data_path = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/\
Lemma Stem POS/Result/3-2-Word In Visual Genome Merge"

path = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/\
Lemma Stem POS/Result/3-3-Find Word Images And Copy"

Path(path).mkdir(parents=True, exist_ok=True)

In [114]:
def word_group_dataframe(df, search_list, target_column, sample_num):
    '''
    word_group_dataframe(df_youtube_sentence, search_list, "sentence", 6)\n
    df_youtube_sentence is dataframe and "sentence" is its column for external searching_list
    ''' 
    df_search_result = pd.DataFrame()
    for j in search_list:
        df_select = df[df[f"{target_column}"].str.contains(fr"(?:\s|^){j}(?:\s|$)", na=False, regex=True)]
        #df_select.sort_values(f"{target_column}",key=lambda x:x.str.len(), inplace=True).head(sample_num)
        df_select = df_select.sort_values(f"{target_column}",key=lambda x:x.str.len()).head(sample_num)               
        df_select.insert(0,"search_string",j)
        df_search_result = pd.concat([df_search_result,df_select], axis=0)
    df_search_result.reset_index(inplace=True, drop=True)
    
    return df_search_result

In [115]:
def word_group_dataframe_all(df, search_list, target_column):
    '''
    word_group_dataframe(df_youtube_sentence, search_list, "sentence", 6)\n
    df_youtube_sentence is dataframe and "sentence" is its column for external searching_list
    ''' 
    df_search_result = pd.DataFrame()
    for j in search_list:
        df_select = df[df[f"{target_column}"].str.contains(fr"(?:\s|^){j}(?:\s|$)", na=False, regex=True)]
        #df_select.sort_values(f"{target_column}",key=lambda x:x.str.len(), inplace=True)
        df_select = df_select.sort_values(f"{target_column}",key=lambda x:x.str.len())
        df_select.insert(0,"search_string",j)
        df_search_result = pd.concat([df_search_result,df_select], axis=0)        
    df_search_result.reset_index(inplace=True, drop=True)
    
    return df_search_result

In [116]:
def take_dataframe_word_sample_from_sorting(df_source, word_list, word_source_column, sort_target_column, sort_ascending=True, sample_num=50):
    '''take_dataframe_word_sample_from_sorting(df_source, word_list, word_source_column, sort_target_column, sort_ascending=True, sample_num=50)\n
    df_source is a dataframe and word_list is equal in word_source_column. Then sort_target_column is sorting according to sort_ascending condition.\n
    Finally, taking sample_num each word_list values.\n 
    ex.\n
    take_dataframe_word_sample_from_sorting(df_genome_word_lemma_concat, word_list, "word", "search_text", sort_ascending=True, sample_num=50)
    '''
    df_search_result = pd.DataFrame()
    for word in word_list:
        df_select = df_source[df_source[f"{word_source_column}"] == word]
        df_select = df_select.sort_values(f"{sort_target_column}",key=lambda x:x.str.len(), ascending=sort_ascending).head(sample_num)
        df_search_result = pd.concat([df_search_result,df_select], axis=0)
    
    df_search_result.reset_index(inplace=True, drop=True)
    
    return df_search_result

In [117]:
def create_word_folder_and_copy_image(df_source, word_list, word_source_column, image_id_column, image_folder_path, output_path_folder):
    '''create_word_folder_and_copy_image(df_source, word_list, word_source_column, image_id_column, image_folder_path, output_path_folder)\n
    df_source is a dataframe and word_list is equal in word_source_column. Then word image id search in image_id_column and image copy to\n
    output_path_folder from image_folder_path.\n
    ex.\n
    image_path = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Lemma Stem POS/Data/Visual Genome/images"\n
    output_path_folder = "/home/kurubal/Downloads/temp folder"\n
    create_word_folder_and_copy_image(df_sample_result, word_list, "word", "image_id", image_path, output_path_folder)
    '''
    df_search_result = pd.DataFrame()
    for word in word_list:
        path = f"{output_path_folder}/{word}"
        Path(path).mkdir(parents=True, exist_ok=True)        
        df_select = df_source[df_source[f"{word_source_column}"] == word]
        for image_id in df_select[f"{image_id_column}"]:
            image_file = glob.glob(f"{image_folder_path}/*/{image_id}.jpg")
            for l in image_file:
                source = l # source directory
                destination = path
                shutil.copy2(source, destination)

In [118]:
image_path = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Lemma Stem POS/Data/Visual Genome/images"

In [119]:
image_folder_list = glob.glob(f"{image_path}/*")
image_folder_list

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Lemma Stem POS/Data/Visual Genome/images/VG_100K',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Lemma Stem POS/Data/Visual Genome/images/VG_100K_2']

In [120]:
output_path_folder = "/home/kurubal/Downloads/temp folder"

#### Visual Genome Word Lemma Translate Data

In [121]:
df_genome_word_lemma_concat = pd.read_csv(f"{word_lemma_data_path}/Visual_Genome_Word_Lemma_Search_Result.csv")
df_genome_word_lemma_concat

,POS1,POS2,word,lemma.spacy,stem,word_en_translate,lemma_en_translate,frequency,search_text,image_id
0,NUM,NaN,bir,bir,bir,a,a,18835735,a,2390994
1,NUM,NaN,bir,bir,bir,a,a,18835735,a,2348965
2,NUM,NaN,bir,bir,bir,a,a,18835735,a,2349861
3,NUM,NaN,bir,bir,bir,a,a,18835735,a,2349866
4,NUM,NaN,bir,bir,bir,a,a,18835735,a,2349935
...,...,...,...,...,...,...,...,...,...,...
176316,VERB,NaN,çekilin,çek,çek,withdraw,check,69201,airport check in kiosks,2317616
176317,VERB,NaN,çekilin,çek,çek,withdraw,check,69201,red check of tablecloth,2400604
176318,VERB,NaN,çekilin,çek,çek,withdraw,check,69201,a check is on the table,2386272
176319,VERB,NaN,çekilin,çek,çek,withdraw,check,69201,cleats with white check,2371210
176320,VERB,NaN,çekilin,çek,çek,withdraw,check,69201,check number on receipt,2404231

In [122]:
df_genome_word_lemma_concat_select = df_genome_word_lemma_concat.groupby("word")["image_id"].apply(lambda x: x.count()>select_image_num).reset_index()
df_genome_word_lemma_concat_select

        word  image_id
0      acaba     False
1      acele     False
2        acı     False
3       adam     False
4      adama      True
..       ...       ...
978  şimdiye     False
979       şu     False
980     şuna      True
981     şunu      True
982    şöyle     False

[983 rows x 2 columns]

In [123]:
word_select_list = df_genome_word_lemma_concat_select[df_genome_word_lemma_concat_select["image_id"] == True]["word"].to_list()
#word_select_list

In [124]:
df_genome_word_lemma_concat_select_result = df_genome_word_lemma_concat[df_genome_word_lemma_concat["word"].isin(word_select_list)]
df_genome_word_lemma_concat_select_result

,POS1,POS2,word,lemma.spacy,stem,word_en_translate,lemma_en_translate,frequency,search_text,image_id
3291,VERB,NaN,etti,et,et,he,meat,245330,he,497941
3292,VERB,NaN,etti,et,et,he,meat,245330,he,2339215
3293,VERB,NaN,etti,et,et,he,meat,245330,he,2339314
3294,VERB,NaN,etti,et,et,he,meat,245330,he,2339938
3295,VERB,NaN,etti,et,et,he,meat,245330,he,2340077
...,...,...,...,...,...,...,...,...,...,...
176165,NOUN,NaN,sırada,sıra,sıra,in line,desk,69586,desk lamp,2354353
176166,NOUN,NaN,sırada,sıra,sıra,in line,desk,69586,white desk,2389995
176167,NOUN,NaN,sırada,sıra,sıra,in line,desk,69586,glass desk,2389540
176168,NOUN,NaN,sırada,sıra,sıra,in line,desk,69586,small desk,2348802
176169,NOUN,NaN,sırada,sıra,sıra,in line,desk,69586,a red desk,2382757

In [125]:
df_genome_word_lemma_concat_select_result["word"].nunique()

108

In [126]:
word_list = list(set(df_genome_word_lemma_concat_select_result["word"]))

In [127]:
df_genome_sample_result = take_dataframe_word_sample_from_sorting(df_genome_word_lemma_concat_select_result, word_list, "word", 
                                                                    "search_text", sort_ascending=True, sample_num=take_image_sample_num)
df_genome_sample_result

,POS1,POS2,word,lemma.spacy,stem,word_en_translate,lemma_en_translate,frequency,search_text,image_id
0,NOUN,NaN,kapıyı,kapı,kapı,the door,door,142202,door,2354444
1,NOUN,NaN,kapıyı,kapı,kapı,the door,door,142202,door,2319949
2,NOUN,NaN,kapıyı,kapı,kapı,the door,door,142202,door,2395317
3,NOUN,NaN,kapıyı,kapı,kapı,the door,door,142202,door,2319799
4,NOUN,NaN,kapıyı,kapı,kapı,the door,door,142202,door,2398217
...,...,...,...,...,...,...,...,...,...,...
5395,VERB,NaN,aldı,al,al,took,get,125149,to get food,2364873
5396,VERB,NaN,aldı,al,al,took,get,125149,to get gift,2389421
5397,VERB,NaN,aldı,al,al,took,get,125149,to get pizza,2351588
5398,VERB,NaN,aldı,al,al,took,get,125149,to get water,2345284
5399,VERB,NaN,aldı,al,al,took,get,125149,to get clean,2411156

In [106]:
create_word_folder_and_copy_image(df_genome_sample_result, word_list, "word", "image_id", image_path, output_path_folder)

#### Copy Move And Delete

In [46]:
output_file = glob.glob(f"")
output_file

['Visual_Genome_Question_Answers_Word_Result2.csv',
 'Visual_Genome_Question_Answers_Lemma_Result2.csv']

In [47]:
for l in output_file:
    source = l # source directory
    destination = path
    shutil.copy2(source, destination)

In [48]:
for j in output_file:
    try:
        os.remove(j)
    except:
        pass