### Selected Word Group In Youtube Sentence

In [44]:
import os
import re
import pandas as pd
import numpy as np
import glob
from functools import reduce
from pathlib import Path
import shutil
from itertools import islice

In [45]:
# language pair
lang_folder = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language for learner
#lang_pair = "Arabic"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

# native word select for Part 2 
word_start = 0  # 0  # native word start index
word_end = 200 # 28  # native word end index

# source path
source_path = "/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment2/Result/1-Twogram With Different Word List Pair/Turkish"

# parameter
file = "Turkish_200_Word_Twogram_With_28_And_172_Word_Pair_Selected"  # without xlsx extention
sheets = "Sheet1"  # 2 gram target, 2 gram hybrid
file_ext = "Twogram_With_28_And_172_Word_Pair_Selected"
first_column = 0  # start column location number
end_column = 1
time_shift = 0.6  # 0.6
sample_num = 6  # 6

# youtube sentence condition
sent_time_start = False  # True, False for activating start time condition
sent_start_time = 700  # sn
random_sample = True  # True, False

In [46]:
path = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/\
Deployment2/Result/7-Selected Word Group In Youtube Sentence/{lang_folder.capitalize()}"

Path(path).mkdir(parents=True, exist_ok=True)

In [47]:
def word_group_youtube(df, search_list, target_column, sample_num):
    '''
    word_group_youtube(df_youtube_sentence, search_list, "sentence", 6)
    ''' 
    df_search_result = pd.DataFrame()
    for j in search_list:
        try:
            df_select = df[df[f"{target_column}"].str.contains(fr"(?:\s|^){j}(?:\s|$)", na=True)].sample(sample_num)
        except:
            df_select = df[df[f"{target_column}"].str.contains(fr"(?:\s|^){j}(?:\s|$)", na=True)].head(sample_num)
        #df_result = df[df[f"{target_column}"].str.contains(fr"(?:\s|^){j}(?:\s|$)", na=True)]  # sentence length part
        #df_result.sort_values(f"{target_column}",key=lambda x:x.str.len(), inplace=True)
        #df_select = df_result.head(sample_num)
        df_select.insert(0,"search_string",j)
        df_search_result = pd.concat([df_search_result,df_select], axis=0)
    df_search_result.reset_index(inplace=True, drop=True)
    
    return df_search_result

In [48]:
def word_group_time_loc(df, search, start_sent, end_sent, sent, sent_video_id):
    '''
    word_group_time_loc(df_search_result, "search_string", "start_time", "end_time", "sentence", "video_id")
    '''
    df.reset_index(drop=True, inplace=True)
    word_time_loc_list = []
    for i in range(len(df)):
        word = df.loc[i,f"{search}"]
        start_time = df.loc[i,f"{start_sent}"]
        end_time = df.loc[i,f"{end_sent}"]
        sentence = df.loc[i,f"{sent}"]
        video_id = df.loc[i,f"{sent_video_id}"]
        time_length = end_time-start_time
        sentence_length = len(sentence)
        time_length_ratio = time_length/sentence_length
        loc_list = []
        for j in re.finditer(fr"(?:\s|^){word}(?:\s|$)", sentence, re.IGNORECASE|re.UNICODE):
            loc_list.append(j)
            start = loc_list[0].start()
            end = loc_list[0].end()
            start_loc = start_time+(start*time_length_ratio)
            end_loc = start_time+(end*time_length_ratio)
        word_time_loc_list.append([word,start_loc,end_loc,sentence,video_id])
    df_word_time_loc = pd.DataFrame(word_time_loc_list, columns=[f"{search}",f"{start_sent}",f"{end_sent}",f"{sent}",f"{sent_video_id}"])

    return df_word_time_loc

In [49]:
def word_count_result(df, column_list, set_condition=False): # df is dataframe, column_list is list value
    '''
    word_count_bool(df, column_list): df columns word count for word frequency\n
    df is dataframe, column_list is list value\n
    word_count_bool(df, ["word","twogram"]):
    '''
    list_all = []
    for i in df.loc[:,[x for x in column_list]].columns:
        if set_condition:
            var_list = set(df[f"{i}"].dropna().tolist())
        else:
            var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list, columns=["word"])
    #df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"word_count"}, inplace=True)
    df_word_count.sort_values("word_count", ascending=False, inplace=True)
    df_word_count.reset_index(inplace=True, drop=True)
    
    return  df_word_count

In [50]:
df_word_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word_all

                word  frequency
0                bir   18835735
1                 bu   11062659
2                 ne    8025880
3                 ve    7766036
4               için    5484109
...              ...        ...
987924     karneleme          5
987925       karnaya          5
987926   dörtlümüzün          5
987927  karnavalınız          5
987928      hurmanın          5

[987929 rows x 2 columns]

In [51]:
df_word_select = df_word_all.iloc[word_start:word_end,]
df_word_select

           word  frequency
0           bir   18835735
1            bu   11062659
2            ne    8025880
3            ve    7766036
4          için    5484109
..          ...        ...
195        saat     399989
196      onunla     399330
197  yapıyorsun     398274
198       neler     397377
199       ister     396177

[200 rows x 2 columns]

In [52]:
df_youtube_sentence = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Youtube/Result/{lang_folder.capitalize()}/Sentence Clean Merge/Clean_Youtube_Sentence_Merge_Result.csv")
df_youtube_sentence

,start_time,end_time,sentence,video_id
0,00:00:00.294,00:00:03.294,bu dizinin betimlemesi staff fi lm tarafından,fI1BI4d5KFU
1,00:00:03.375,00:00:06.375,sesli betimleme derneğine yaptırılmıştır,fI1BI4d5KFU
2,00:00:06.462,00:00:09.462,wwwsebederorg,fI1BI4d5KFU
3,00:00:10.267,00:00:11.394,mumu,fI1BI4d5KFU
4,00:00:11.835,00:00:14.061,bak şu an sinir katsayım hat safhada,fI1BI4d5KFU
...,...,...,...,...
3934202,00:10:00.240,00:10:07.818,videoyu bitirmeden şunu da söylemek isterim ki...,dRssR_apbR0
3934203,00:10:07.994,00:10:13.534,bu nedenle ulaşımda insanların yarısına yakını...,dRssR_apbR0
3934204,00:10:14.745,00:10:17.924,danimarkayla alakalı şimdilik söyleyeceklerim ...,dRssR_apbR0
3934205,00:10:18.047,00:10:22.398,video hoşunuza gittiyse beğenmeyi ve kanalıma ...,dRssR_apbR0
3934206,00:10:22.734,00:10:23.633,hoşçakalın,dRssR_apbR0

In [53]:
df_youtube_sentence['start_time'] = pd.to_timedelta(df_youtube_sentence['start_time']) # data type converted timedelta for second 
df_youtube_sentence['end_time'] = pd.to_timedelta(df_youtube_sentence['end_time'])

In [54]:
df_youtube_sentence['start_time'] = df_youtube_sentence['start_time'].apply(lambda x: x.total_seconds()) # convert seconds
df_youtube_sentence['end_time'] = df_youtube_sentence['end_time'].apply(lambda x: x.total_seconds())
df_youtube_sentence

,start_time,end_time,sentence,video_id
0,0.294,3.294,bu dizinin betimlemesi staff fi lm tarafından,fI1BI4d5KFU
1,3.375,6.375,sesli betimleme derneğine yaptırılmıştır,fI1BI4d5KFU
2,6.462,9.462,wwwsebederorg,fI1BI4d5KFU
3,10.267,11.394,mumu,fI1BI4d5KFU
4,11.835,14.061,bak şu an sinir katsayım hat safhada,fI1BI4d5KFU
...,...,...,...,...
3934202,600.240,607.818,videoyu bitirmeden şunu da söylemek isterim ki...,dRssR_apbR0
3934203,607.994,613.534,bu nedenle ulaşımda insanların yarısına yakını...,dRssR_apbR0
3934204,614.745,617.924,danimarkayla alakalı şimdilik söyleyeceklerim ...,dRssR_apbR0
3934205,618.047,622.398,video hoşunuza gittiyse beğenmeyi ve kanalıma ...,dRssR_apbR0
3934206,622.734,623.633,hoşçakalın,dRssR_apbR0

In [55]:
if sent_time_start:
    df_youtube_select = df_youtube_sentence[df_youtube_sentence["start_time"] <= sent_start_time]
    df_youtube_select.reset_index(drop=True, inplace=True)
else:
    df_youtube_select = df_youtube_sentence

if random_sample:
    df_youtube_select = df_youtube_select.sample(len(df_youtube_select))
    df_youtube_select.reset_index(drop=True, inplace=True)
else:
    pass

df_youtube_select

,start_time,end_time,sentence,video_id
0,3161.350,3165.599,yok dayımlar hocam doğru söyledi atasözleri ve...,iSrsHDQASVs
1,2905.200,2907.300,i yi hoş bir kız herhalde,5n_ZSdhY20k
2,843.600,844.480,i stiyorum,Sk7iMq8LhVs
3,5337.375,5338.375,deme,329uDNTb33g
4,3815.960,3818.080,otursana kudret gel gel,0bXZlTcsWrQ
...,...,...,...,...
3934202,1063.751,1065.511,bizim beynimizde yaşadık,LAegzV76Aa0
3934203,6626.865,6628.976,hoş buldukhoş bulduk,ZJ_KUlTY7nM
3934204,171.008,177.152,sosa tuzunu ve bir çay kaşığı kadar da karabib...,rJ5eYU8H9dU
3934205,5849.320,5852.120,hatta gösteri bittikten sonra bana dedi ki,agAUR7SzzH0
3934206,5768.545,5770.495,sevdayla birlikte olmanızı isterim,rcPGxL2zLqI

In [56]:
df_word_group_select = pd.read_excel(f"{source_path}/{file}.xlsx", sheet_name= f"{sheets}")
df_word_group_select

           twogram  frequency
0    ne yapıyorsun     236176
1       hiçbir şey     209701
2         ne demek     188846
3     gerçekten mi     141653
4         ne zaman     131571
..             ...        ...
103    beni burada       6045
104   kadar önemli       5913
105       seni hiç       5715
106   gibi geliyor       5188
107     bizim gibi       4964

[108 rows x 2 columns]

In [ ]:
# Option 
# Skip if it doesn't need
df_remove = pd.read_excel(f"")
df_remove

In [ ]:
remove_videoid_list = list(set(df_remove["video_id"]))
#remove_videoid_list

In [ ]:
len(remove_videoid_list)

In [ ]:
# Option
df_youtube_select = df_youtube_select[~df_youtube_select["video_id"].isin(remove_videoid_list)]
df_youtube_select

In [57]:
search_list = []
for i in range(len(df_word_group_select)):
    for j in df_word_group_select.columns[first_column:end_column]:
        string = df_word_group_select.loc[i,j]
        
        if pd.isnull(string) == False and string != 'nan':
            search_list.append(string.strip())
            search_list = list(set(search_list))  # for unique value
        else:
            pass

In [58]:
len(search_list)

108

In [59]:
df_search_result = word_group_youtube(df_youtube_select, search_list, "sentence", sample_num)
df_search_result

,search_string,start_time,end_time,sentence,video_id
0,mu var,1579.520,1581.800,aramızda benim bilmediğim bir sorun mu var,W0wawEKN78g
1,mu var,1087.320,1089.080,bir de lobu mu var yok burada,kXuruorDTu8
2,mu var,2897.321,2898.398,bir sorun mu var,iVtaHvUDLC4
3,mu var,6015.698,6016.682,bir sorun mu var,udNdqhGlkSA
4,mu var,2385.421,2388.294,babama atölyeye gidiyorum bir sorun mu var,5R3gWy6I51w
...,...,...,...,...,...
640,hayır efendim,2044.127,2046.194,hayır efendim hiç de yakışmadı çıkar çabuk onları,uB0TeB35l94
641,hayır efendim,1209.140,1210.560,hayır efendim ondaydı,2ucszep1w4A
642,hayır efendim,5484.720,5486.040,yok hayır efendim,aZmtVidm4Tw
643,hayır efendim,5436.160,5437.440,hayır efendim hiç gelmedi,QIIxhOx7kKs
644,hayır efendim,4121.660,4124.940,hayır efendim kullanacaksın aynı çatı altında ...,4UhIXjsL79Y

In [60]:
df_word_group_time_loc_result = word_group_time_loc(df_search_result, "search_string", "start_time", "end_time", "sentence", "video_id")
df_word_group_time_loc_result

,search_string,start_time,end_time,sentence,video_id
0,mu var,1581.420000,1581.800000,aramızda benim bilmediğim bir sorun mu var,W0wawEKN78g
1,mu var,1087.987586,1088.473103,bir de lobu mu var yok burada,kXuruorDTu8
2,mu var,2897.926812,2898.398000,bir sorun mu var,iVtaHvUDLC4
3,mu var,6016.251500,6016.682000,bir sorun mu var,udNdqhGlkSA
4,mu var,2387.815167,2388.294000,babama atölyeye gidiyorum bir sorun mu var,5R3gWy6I51w
...,...,...,...,...,...
640,hayır efendim,2044.127000,2044.717571,hayır efendim hiç de yakışmadı çıkar çabuk onları,uB0TeB35l94
641,hayır efendim,1209.140000,1210.086667,hayır efendim ondaydı,2ucszep1w4A
642,hayır efendim,5484.952941,5486.040000,yok hayır efendim,aZmtVidm4Tw
643,hayır efendim,5436.160000,5436.876800,hayır efendim hiç gelmedi,QIIxhOx7kKs
644,hayır efendim,4121.660000,4122.438305,hayır efendim kullanacaksın aynı çatı altında ...,4UhIXjsL79Y

In [61]:
df_word_group_time_loc_result.start_time = df_word_group_time_loc_result.start_time.apply(lambda x: (x-time_shift))
df_word_group_time_loc_result.end_time = df_word_group_time_loc_result.end_time.apply(lambda x: (x+time_shift))
df_word_group_time_loc_result

,search_string,start_time,end_time,sentence,video_id
0,mu var,1580.820000,1582.400000,aramızda benim bilmediğim bir sorun mu var,W0wawEKN78g
1,mu var,1087.387586,1089.073103,bir de lobu mu var yok burada,kXuruorDTu8
2,mu var,2897.326812,2898.998000,bir sorun mu var,iVtaHvUDLC4
3,mu var,6015.651500,6017.282000,bir sorun mu var,udNdqhGlkSA
4,mu var,2387.215167,2388.894000,babama atölyeye gidiyorum bir sorun mu var,5R3gWy6I51w
...,...,...,...,...,...
640,hayır efendim,2043.527000,2045.317571,hayır efendim hiç de yakışmadı çıkar çabuk onları,uB0TeB35l94
641,hayır efendim,1208.540000,1210.686667,hayır efendim ondaydı,2ucszep1w4A
642,hayır efendim,5484.352941,5486.640000,yok hayır efendim,aZmtVidm4Tw
643,hayır efendim,5435.560000,5437.476800,hayır efendim hiç gelmedi,QIIxhOx7kKs
644,hayır efendim,4121.060000,4123.038305,hayır efendim kullanacaksın aynı çatı altında ...,4UhIXjsL79Y

In [62]:
df_word_group_time_loc_result.start_time = df_word_group_time_loc_result.start_time.apply(lambda x: round(x))
df_word_group_time_loc_result.end_time = df_word_group_time_loc_result.end_time.apply(lambda x: round(x))
df_word_group_time_loc_result

,search_string,start_time,end_time,sentence,video_id
0,mu var,1581,1582,aramızda benim bilmediğim bir sorun mu var,W0wawEKN78g
1,mu var,1087,1089,bir de lobu mu var yok burada,kXuruorDTu8
2,mu var,2897,2899,bir sorun mu var,iVtaHvUDLC4
3,mu var,6016,6017,bir sorun mu var,udNdqhGlkSA
4,mu var,2387,2389,babama atölyeye gidiyorum bir sorun mu var,5R3gWy6I51w
...,...,...,...,...,...
640,hayır efendim,2044,2045,hayır efendim hiç de yakışmadı çıkar çabuk onları,uB0TeB35l94
641,hayır efendim,1209,1211,hayır efendim ondaydı,2ucszep1w4A
642,hayır efendim,5484,5487,yok hayır efendim,aZmtVidm4Tw
643,hayır efendim,5436,5437,hayır efendim hiç gelmedi,QIIxhOx7kKs
644,hayır efendim,4121,4123,hayır efendim kullanacaksın aynı çatı altında ...,4UhIXjsL79Y

In [63]:
df_word_group_time_loc_result["video_url"] = "https://www.youtube.com/watch?v="+df_word_group_time_loc_result['video_id'].map(str)+"&t="+df_word_group_time_loc_result['start_time'].map(str)+"s"
df_word_group_time_loc_result

,search_string,start_time,end_time,sentence,video_id,video_url
0,mu var,1581,1582,aramızda benim bilmediğim bir sorun mu var,W0wawEKN78g,https://www.youtube.com/watch?v=W0wawEKN78g&t=...
1,mu var,1087,1089,bir de lobu mu var yok burada,kXuruorDTu8,https://www.youtube.com/watch?v=kXuruorDTu8&t=...
2,mu var,2897,2899,bir sorun mu var,iVtaHvUDLC4,https://www.youtube.com/watch?v=iVtaHvUDLC4&t=...
3,mu var,6016,6017,bir sorun mu var,udNdqhGlkSA,https://www.youtube.com/watch?v=udNdqhGlkSA&t=...
4,mu var,2387,2389,babama atölyeye gidiyorum bir sorun mu var,5R3gWy6I51w,https://www.youtube.com/watch?v=5R3gWy6I51w&t=...
...,...,...,...,...,...,...
640,hayır efendim,2044,2045,hayır efendim hiç de yakışmadı çıkar çabuk onları,uB0TeB35l94,https://www.youtube.com/watch?v=uB0TeB35l94&t=...
641,hayır efendim,1209,1211,hayır efendim ondaydı,2ucszep1w4A,https://www.youtube.com/watch?v=2ucszep1w4A&t=...
642,hayır efendim,5484,5487,yok hayır efendim,aZmtVidm4Tw,https://www.youtube.com/watch?v=aZmtVidm4Tw&t=...
643,hayır efendim,5436,5437,hayır efendim hiç gelmedi,QIIxhOx7kKs,https://www.youtube.com/watch?v=QIIxhOx7kKs&t=...
644,hayır efendim,4121,4123,hayır efendim kullanacaksın aynı çatı altında ...,4UhIXjsL79Y,https://www.youtube.com/watch?v=4UhIXjsL79Y&t=...

In [64]:
search_result_num = df_word_group_time_loc_result["search_string"].nunique()
search_result_num

108

In [65]:
search_result_set = set(df_word_group_time_loc_result["search_string"])
search_all_set = set(search_list)

In [66]:
search_all_set.difference(search_result_set)

set()

In [67]:
df_result_word_manuel_count = word_count_result(df_word_group_time_loc_result, df_word_group_time_loc_result.columns[0:1], set_condition=True)
df_result_word_manuel_count

      word  word_count
0    kadar           5
1    hayır           5
2      sen           5
3     beni           5
4      ben           5
..     ...         ...
89   belki           1
90   başka           1
91  şeyler           1
92     tek           1
93      al           1

[94 rows x 2 columns]

In [68]:
# # Option merge
# df_word_count_merge = pd.merge(df_result_word_manuel_count, df_word_select[["word"]], how="inner", on="word")
# df_word_count_merge.drop_duplicates(inplace=True)
# df_word_count_merge.sort_values(by="word_count", ascending=False, inplace=True)
# df_word_count_merge.reset_index(drop=True, inplace=True)
# df_word_count_merge

In [69]:
set_word = set(df_word_select["word"])
#set_count = set(df_word_count_merge["word"])  # Option merge
set_count = set(df_result_word_manuel_count["word"])

In [70]:
set_word.difference(set_count)

{'adam',
 'anne',
 'asla',
 'aslında',
 'baba',
 'bak',
 'bakalım',
 'bence',
 'benimle',
 'bile',
 'biliyor',
 'bilmiyorum',
 'biri',
 'birkaç',
 'birlikte',
 'bize',
 'bizi',
 'bugün',
 'buna',
 'bütün',
 'büyük',
 'dakika',
 'devam',
 'diye',
 'dostum',
 'dur',
 'ederim',
 'en',
 'et',
 'eğer',
 'gel',
 'geldi',
 'gerek',
 'geri',
 'gerçek',
 'göre',
 'gün',
 'hadi',
 'hakkında',
 'hala',
 'harika',
 'hemen',
 'herkes',
 'hey',
 'iki',
 'ile',
 'ilk',
 'ister',
 'istiyorum',
 'izin',
 'içinde',
 'iş',
 'işte',
 'kendi',
 'kız',
 'lazım',
 'merhaba',
 'musun',
 'mü',
 'mısın',
 'neler',
 'ol',
 'olabilir',
 'olacak',
 'olan',
 'olarak',
 'oldu',
 'olduğunu',
 'olmak',
 'olsun',
 'olur',
 'oluyor',
 'ona',
 'onları',
 'onun',
 'onunla',
 'orada',
 'para',
 'pekala',
 'peki',
 'saat',
 'sanırım',
 'selam',
 'seninle',
 'siz',
 'size',
 'sizi',
 'son',
 'tam',
 'tamam',
 'teşekkür',
 'tüm',
 'vardı',
 'yani',
 'yardım',
 'yeni',
 'yoksa',
 'zaten',
 'çünkü',
 'önce',
 'özür',
 'üç',
 'şekilde',
 'şeyi',
 'şu',
 'şunu'}

In [71]:
df_word_group_time_loc_result.to_excel(f"{lang_folder.capitalize()}_{search_result_num}_{file_ext}_\
{sample_num}_Youtube_{time_shift}s_Timeshift_Result.xlsx", index=False)

In [72]:
# df_result_word_manuel_count.to_excel(f"{lang_folder.capitalize()}_{search_result_num}_{file_ext}_\
# {sample_num}_Youtube_{time_shift}s_Timeshift_Result_Word_Count.xlsx", index=False)

#### Copy Move And Delete

In [73]:
output_file = glob.glob(f"{lang_folder.capitalize()}_*_{sample_num}_Youtube_{time_shift}s_Timeshift_Result*.xlsx")
output_file

['Turkish_108_Twogram_With_28_And_172_Word_Pair_Selected_6_Youtube_0.6s_Timeshift_Result.xlsx']

In [74]:
for y in output_file:
    source = y # source directory
    destination = path
    shutil.copy2(source, destination)

In [75]:
for z in output_file:
    try:
        os.remove(z)
    except:
        pass

#### Temp

In [ ]:
set_result = set(df_word_group_time_loc_result["search_string"].unique())
set_selected = set(search_list)

In [ ]:
df_not_in_result = pd.DataFrame(set_selected.difference(set_result), columns=["not_in_youtube_result"])
df_not_in_result

In [ ]:
not_in_result_num = len(df_not_in_result)
not_in_result_num

In [ ]:
#df_not_in_result.to_excel(f"{lang_folder.capitalize()}_{not_in_result_num}_{file_ext}_\
#Not_In_{sample_num}_Youtube_{time_shift}s_Timeshift_Result.xlsx", index=False)

In [ ]:
search_list2 = df_not_in_result["not_in_youtube_result"].to_list()

In [ ]:
df_search_result2 = word_group_youtube(df_youtube_sentence, search_list2, "sentence", sample_num)
df_search_result2

In [ ]:
search_result2_num = df_search_result2["search_string"].nunique()
search_result2_num

In [ ]:
df_word_group_time_loc_result2 = word_group_time_loc(df_search_result2, "search_string", "start_time", "end_time", "sentence", "video_id")
df_word_group_time_loc_result2

In [ ]:
df_word_group_time_loc_result2.start_time = df_word_group_time_loc_result2.start_time.apply(lambda x: (x-time_shift))
df_word_group_time_loc_result2.end_time = df_word_group_time_loc_result2.end_time.apply(lambda x: (x+time_shift))
df_word_group_time_loc_result2

In [ ]:
df_word_group_time_loc_result2["video_url"] = "https://www.youtube.com/watch?v="+df_word_group_time_loc_result2['video_id'].map(str)+"&t="+df_word_group_time_loc_result2['start_time'].map(str)+"s"
df_word_group_time_loc_result2

In [ ]:
search_result_num2 = df_word_group_time_loc_result2["search_string"].nunique()
search_result_num2

In [ ]:
df_word_group_time_loc_result2.to_excel(f"{lang_folder.capitalize()}_{search_result_num2}_{file_ext}_\
{sample_num}_Youtube_{time_shift}s_Timeshift_Result2.xlsx", index=False)