In [1]:
import pandas as pd
import numpy as np

In [2]:
df_youtube_sentence = pd.read_csv("YoutubeDL_Sentence_DF.csv")
df_youtube_sentence

,start_time,end_time,sentence,video_id
0,00:00:01.056,00:00:04.244,bu videoda darıca ve adalar arasında dalış,WdX1_wNUj0E
1,00:00:04.534,00:00:06.420,küçük balıkların değişimi,WdX1_wNUj0E
2,00:00:06.808,00:00:08.780,ilk defa göreceğiniz detaylar,WdX1_wNUj0E
3,00:00:10.388,00:00:12.388,ve balık avı izleyeceksiniz,WdX1_wNUj0E
4,00:00:17.600,00:00:18.682,darıca,WdX1_wNUj0E
...,...,...,...,...
468,00:03:54.800,00:03:59.300,"hani her şeyindim, bensiz sen yoktun.",c1QvY3X64qM
469,00:03:59.300,00:04:01.940,ayrılamazdık ya.,c1QvY3X64qM
470,00:04:02.840,00:04:07.560,"gül dudaklım, sihir gözlüm.",c1QvY3X64qM
471,00:04:07.560,00:04:08.960,dön.,c1QvY3X64qM
472,00:04:10.320,00:04:22.780,bugünüm sensiz geçti.,c1QvY3X64qM

In [ ]:
#df_youtube_sentence.sentence.filter()

In [31]:
df_youtube_sentence[df_youtube_sentence.sentence.str.contains("geç", na=True)].sample(5, random_state=1) # replace=True

,start_time,end_time,sentence,video_id
83,00:13:30.709,00:13:32.903,diğer yengeçler ısırmaya çalışır,WdX1_wNUj0E
91,00:14:21.197,00:14:24.785,pendik' te ağladığımız balıklardan pişirmek...,WdX1_wNUj0E
289,00:11:01.910,00:11:03.910,"hadi geçmiş olsun, güle güle.",4CxHodWJCAc
461,00:03:26.120,00:03:29.200,"umutlar gelip, geçer.",c1QvY3X64qM
53,00:07:09.449,00:07:13.562,tekrar saklanarak bekliyorum bu kez kefal...,WdX1_wNUj0E

In [22]:
df_youtube_sentence[df_youtube_sentence.sentence.str.match("geçti.", na=False)]

Empty DataFrame
Columns: [start_time, end_time, sentence, video_id]
Index: []

In [ ]:
df_youtube_sentence.filter("sentence")