In [1]:
import pandas as pd
import numpy as np

In [2]:
df_youtube_sentence = pd.read_csv("YoutubeDL_Sentence_DF.csv")
df_youtube_sentence

,start_time,end_time,sentence,video_id
0,00:00:01.056,00:00:04.244,bu videoda darıca ve adalar arasında dalış,WdX1_wNUj0E
1,00:00:04.534,00:00:06.420,küçük balıkların değişimi,WdX1_wNUj0E
2,00:00:06.808,00:00:08.780,ilk defa göreceğiniz detaylar,WdX1_wNUj0E
3,00:00:10.388,00:00:12.388,ve balık avı izleyeceksiniz,WdX1_wNUj0E
4,00:00:17.600,00:00:18.682,darıca,WdX1_wNUj0E
...,...,...,...,...
468,00:03:54.800,00:03:59.300,"hani her şeyindim, bensiz sen yoktun.",c1QvY3X64qM
469,00:03:59.300,00:04:01.940,ayrılamazdık ya.,c1QvY3X64qM
470,00:04:02.840,00:04:07.560,"gül dudaklım, sihir gözlüm.",c1QvY3X64qM
471,00:04:07.560,00:04:08.960,dön.,c1QvY3X64qM
472,00:04:10.320,00:04:22.780,bugünüm sensiz geçti.,c1QvY3X64qM

In [ ]:
#df_youtube_sentence.sentence.filter()

In [54]:
df_youtube_sentence[df_youtube_sentence.sentence.str.contains("geç", na=True)].head(5) # .sample(5, random_state=1) # replace=True

,start_time,end_time,sentence,video_id
27,00:03:15.640,00:03:18.320,farklılık birçok tür için geçerli,WdX1_wNUj0E
53,00:07:09.449,00:07:13.562,tekrar saklanarak bekliyorum bu kez kefal...,WdX1_wNUj0E
83,00:13:30.709,00:13:32.903,diğer yengeçler ısırmaya çalışır,WdX1_wNUj0E
91,00:14:21.197,00:14:24.785,pendik' te ağladığımız balıklardan pişirmek...,WdX1_wNUj0E
289,00:11:01.910,00:11:03.910,"hadi geçmiş olsun, güle güle.",4CxHodWJCAc

In [70]:
df_youtube_sentence[df_youtube_sentence.sentence.str.contains(r'(?:\s|^)geçmiş(?:\s|$)', na=True)].head(5) # Exact match

,start_time,end_time,sentence,video_id
289,00:11:01.910,00:11:03.910,"hadi geçmiş olsun, güle güle.",4CxHodWJCAc
423,00:09:32.389,00:09:37.304,evet bu harika muayene bitti sona erdi. ...,gOq59m1pUi4
433,00:11:04.126,00:11:08.533,"evet, çok geçmiş olsun. çok teşekkür ederiz.",gOq59m1pUi4

In [74]:
df_youtube_sentence[df_youtube_sentence.sentence == r'(?:\s|^)geçmiş olsun(?:\s|$)'].head(5)

Empty DataFrame
Columns: [start_time, end_time, sentence, video_id]
Index: []

In [124]:
word_list = ['geç'] #, "küçük", "yengeç"

In [125]:
for i in word_list:
    word_in_video = df_youtube_sentence[df_youtube_sentence.sentence.str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)].head(5)
    print(i)

geç

In [126]:
word_in_video

Empty DataFrame
Columns: [start_time, end_time, sentence, video_id]
Index: []

In [109]:
sample_df = pd.DataFrame()
for i in word_list:
    word_in_video = df_youtube_sentence[df_youtube_sentence.sentence.str.contains(r"(?:\s|^)i(?:\s|$)", na=True)].head(5)
    out_df = pd.concat([sample_df,word_in_video], axis=0)
    out_df.insert(0,"word",i)

In [110]:
out_df

,word,start_time,end_time,sentence,video_id
75,yengeç,00:11:52.560,00:11:56.460,bu beroe ovata ikinci minemiopsis' i yiyor,WdX1_wNUj0E

In [92]:
test = pd.DataFrame(sample_dict).transpose()

ValueError: If using all scalar values, you must pass an index

In [89]:
test.to_excel("sample.xlsx")

In [ ]:
df_youtube_sentence.filter("sentence")