### Merge Word Sentence And N Gram

In [1]:
import pandas as pd
import numpy as np
import re
import glob
import nltk
from nltk import word_tokenize

#### Cancat Axis 1

In [ ]:
df1 = pd.read_csv("Clean_Spark_Sentence_Tokenize1.csv")
df1.head()

In [ ]:
frequency_sum1 = df1.frequency.sum()
frequency_sum1

In [ ]:
cumul_ratio_last1 = df1.iloc[-1].cumul_ratio
cumul_ratio_last1

In [ ]:
total_frequency1 = ((100*frequency_sum1))/cumul_ratio_last1
total_frequency1

In [ ]:
df1 = df1[["sentence","frequency"]]

In [ ]:
df1 = df1.rename(columns={"frequency":"frequency1"})

In [ ]:
df1 = df1.drop_duplicates(subset=['sentence'])
df1.reset_index(drop=True, inplace=True)

In [ ]:
df2 = pd.read_csv("Clean_Spark_Sentence_Tokenize2.csv")
df2.head()

In [ ]:
frequency_sum2 = df2.frequency.sum()
frequency_sum2

In [ ]:
cumul_ratio_last2 = df2.iloc[-1].cumul_ratio
cumul_ratio_last2

In [ ]:
total_frequency2 = ((100*frequency_sum2))/cumul_ratio_last2
total_frequency2

In [ ]:
df2 = df2[["sentence","frequency"]]

In [ ]:
df2 = df2.rename(columns={"frequency":"frequency2"})

In [ ]:
df2 = df2.drop_duplicates(subset=['sentence'])
df2.reset_index(drop=True, inplace=True)

In [ ]:
df_12 = pd.merge(df1, df2, how ='inner', on =['sentence', 'sentence'])
df_12

In [ ]:
df_12.reset_index(drop=True, inplace=True)

In [ ]:
df3 = pd.read_csv("Clean_Spark_Sentence_Tokenize3.csv")
df3.head()

In [ ]:
frequency_sum3 = df3.frequency.sum()
frequency_sum3

In [ ]:
cumul_ratio_last3 = df3.iloc[-1].cumul_ratio
cumul_ratio_last3

In [ ]:
total_frequency3 = ((100*frequency_sum3))/cumul_ratio_last3
total_frequency3

In [ ]:
df3 = df3[["sentence","frequency"]]

In [ ]:
df3 = df3.rename(columns={"frequency":"frequency3"})

In [ ]:
df3 = df3.drop_duplicates(subset=['sentence'])
df3.reset_index(drop=True, inplace=True)

In [ ]:
df_123 = pd.merge(df_12, df3, how="inner", on="sentence")
df_123

In [ ]:
df_123.reset_index(drop=True, inplace=True)

In [ ]:
df4 = pd.read_csv("Clean_Spark_Sentence_Tokenize4.csv")
df4.head()

In [ ]:
frequency_sum4 = df4.frequency.sum()
frequency_sum4

In [ ]:
cumul_ratio_last4 = df4.iloc[-1].cumul_ratio
cumul_ratio_last4

In [ ]:
total_frequency4 = ((100*frequency_sum4))/cumul_ratio_last4
total_frequency4

In [ ]:
df4 = df4[["sentence","frequency"]]

In [ ]:
df4 = df4.rename(columns={"frequency":"frequency4"})

In [ ]:
df4 = df4.drop_duplicates(subset=['sentence'])
df4.reset_index(drop=True, inplace=True)

In [ ]:
df_1234 = pd.merge(df_123, df4,how="inner", on="sentence")
df_1234

In [ ]:
df_1234.reset_index(drop=True, inplace=True)

In [ ]:
df5 = pd.read_csv("Clean_Spark_Sentence_Tokenize5.csv")
df5.head()

In [ ]:
frequency_sum5 = df5.frequency.sum()
frequency_sum5

In [ ]:
cumul_ratio_last5 = df5.iloc[-1].cumul_ratio
cumul_ratio_last5

In [ ]:
total_frequency5 = ((100*frequency_sum5))/cumul_ratio_last5
total_frequency5

In [ ]:
df5 = df5[["sentence","frequency"]]

In [ ]:
df5 = df5.rename(columns={"frequency":"frequency5"})

In [ ]:
df5 = df5.drop_duplicates(subset=['sentence'])
df5.reset_index(drop=True, inplace=True)

In [ ]:
df_12345= pd.merge(df_1234, df5, how="inner", on="sentence")
df_12345

In [ ]:
df_12345.reset_index(drop=True, inplace=True)

In [ ]:
df6 = pd.read_csv("Clean_Spark_Sentence_Tokenize6.csv")
df6.head()

In [ ]:
frequency_sum6 = df6.frequency.sum()
frequency_sum6

In [ ]:
cumul_ratio_last6 = df6.iloc[-1].cumul_ratio
cumul_ratio_last6

In [ ]:
total_frequency6 = ((100*frequency_sum6))/cumul_ratio_last6
total_frequency6

In [ ]:
df6 = df6[["sentence","frequency"]]

In [ ]:
df6 = df6.rename(columns={"frequency":"frequency6"})

In [ ]:
df6 = df6.drop_duplicates(subset=['sentence'])
df6.reset_index(drop=True, inplace=True)

In [ ]:
df_123456= pd.merge(df_12345, df6, how="inner", on="sentence")
df_123456

In [ ]:
df_123456.reset_index(drop=True, inplace=True)

In [ ]:
df7 = pd.read_csv("Clean_Spark_Sentence_Tokenize7.csv")
df7.head()

In [ ]:
frequency_sum7 = df7.frequency.sum()
frequency_sum7

In [ ]:
cumul_ratio_last7 = df7.iloc[-1].cumul_ratio
cumul_ratio_last7

In [ ]:
total_frequency7 = ((100*frequency_sum7))/cumul_ratio_last7
total_frequency7

In [ ]:
df7 = df7[["sentence","frequency"]]

In [ ]:
df7 = df7.rename(columns={"frequency":"frequency7"})

In [ ]:
df7 = df7.drop_duplicates(subset=['sentence'])
df7.reset_index(drop=True, inplace=True)

In [ ]:
df_1234567= pd.merge(df_123456, df7, how="inner", on="sentence")
df_1234567

In [ ]:
df_1234567 = df_1234567.drop_duplicates(subset=['sentence'])
df_1234567.reset_index(drop=True, inplace=True)

In [ ]:
df_1234567["frequency"] = df_1234567.frequency1 + df_1234567.frequency2 + df_1234567.frequency3 + df_1234567.frequency4 + df_1234567.frequency5 + df_1234567.frequency6 + df_1234567.frequency7
df_1234567.drop(["frequency1","frequency2","frequency3","frequency4","frequency5","frequency6","frequency7"], axis=1, inplace=True)
df_1234567

In [ ]:
df_1234567 = df_1234567.sort_values(by=['frequency'],ascending=False)
df_1234567

In [ ]:
df_1234567.iloc[26]

In [ ]:
df_1234567.to_excel("Spark_Turkish_Sentence_Result_Merge.xlsx", sheet_name='Sentence', index=False)

In [ ]:
total_frequency = total_frequency1 + total_frequency2 + total_frequency3 + total_frequency4 + total_frequency5 + total_frequency6 + total_frequency7
total_frequency

#### Concat Axis 0

In [ ]:
df1 = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Dutch/NLTK/Word/Data/Not_Apply_Lower_Word1.csv")
df1

In [ ]:
df2 = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Dutch/NLTK/Word/Data/Not_Apply_Lower_Word2.csv")
df2

In [ ]:
df3 = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Dutch/NLTK/Word/Data/Not_Apply_Lower_Word3.csv")
df3

In [2]:
folder_name = "Italian"

In [3]:
tokenize_list = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Result/Word/Data/Not_Apply_Lower_Word*.csv")
tokenize_list

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Italian/Result/Word/Data/Not_Apply_Lower_Word3.csv',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Italian/Result/Word/Data/Not_Apply_Lower_Word2.csv',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Italian/Result/Word/Data/Not_Apply_Lower_Word1.csv']

In [4]:
# Read all data
data_kind = "word"
df_all_result = pd.DataFrame()
for i in tokenize_list:
#for i in range(1,8):
    df_var = pd.read_csv(f'{i}')
    #df_var = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Clean_Spark_Sentence_Tokenize{i}.csv")
    df_all_result = pd.concat([df_var, df_all_result], axis=0)
    df_all_result.dropna(inplace=True)
    df_all_result.reset_index(drop=True, inplace=True)
df_all_result = df_all_result[[f"{data_kind}", "frequency"]]
df_all_result

              word  frequency
0               di    4447194
1              che    4211852
2                e    4020670
3               un    2807140
4              non    2680239
...            ...        ...
1804593    Allowed          1
1804594  Attitudes          1
1804595  butternut          1
1804596  Lepricano          1
1804597    epitaio          1

[1804598 rows x 2 columns]

In [5]:
df_all_group = df_all_result.groupby([f"{data_kind}"])["frequency"].sum().sort_values(ascending=False)
df_all_group = df_all_group.reset_index()
df_all_group.dropna(inplace=True)
df_all_group.reset_index(drop=True, inplace=True)
df_all_group

                word  frequency
0                 di   13440299
1                che   12844913
2                  e   11832597
3                 un    8356940
4                non    8106108
...              ...        ...
1133968     Strmberg          1
1133969  Strmpellone          1
1133970    kathairei          1
1133971      katelli          1
1133972           ır          1

[1133973 rows x 2 columns]

In [6]:
df_all_group = df_all_group[df_all_group.frequency > 1]

In [7]:
#total_frequency = df_all_group.frequency.sum()

In [8]:
#df_all_group["ratio"] = (df_all_group.frequency/total_frequency)*100

In [9]:
#df_all_group["cumul_ratio"] = np.cumsum(df_all_group["ratio"])

In [10]:
df_all_group.to_csv(f"{data_kind.capitalize()}_Merge.csv", index=False)