### Merge Word And Not Lower Word

This notebook uses for part of plain text data word tokenize result

In [1]:
import pandas as pd
import numpy as np
import re
import glob
import nltk
from nltk import word_tokenize

#### Word Tokenize Merge

In [2]:
folder_name = "Turkish"

In [4]:
tokenize_list = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Result/Word/Data/Word_Tokenize*.csv")
tokenize_list

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Result/Word/Data/Word_Tokenize_TR7.csv',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Result/Word/Data/Word_Tokenize_TR6.csv',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Result/Word/Data/Word_Tokenize_TR5.csv',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Result/Word/Data/Word_Tokenize_TR4.csv',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Result/Word/Data/Word_Tokenize_TR3.csv',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Result/Word/Data/Word_Tokenize_TR2.csv',
 '/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Result/Word/Data/Word_Tokenize_TR1.csv']

In [5]:
# Read all data
data_kind = "word"
df_all_result = pd.DataFrame()
for i in tokenize_list:
#for i in range(1,8):
    df_var = pd.read_csv(f'{i}')
    #df_var = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Clean_Spark_Sentence_Tokenize{i}.csv")
    df_all_result = pd.concat([df_var, df_all_result], axis=0)
    df_all_result.dropna(inplace=True)
    df_all_result.reset_index(drop=True, inplace=True)
df_all_result = df_all_result[[f"{data_kind}", "frequency"]]
df_all_result

                  word  frequency
0                  bir    2920945
1                   bu    1739294
2                   ne    1253588
3                   ve    1220435
4                   mi     821977
...                ...        ...
2835604     eziyetleri          5
2835605     bölmelisin          5
2835606     çelişmeyen          5
2835607  edilmeyecekti          5
2835608   kuşatacaksın          5

[2835609 rows x 2 columns]

In [6]:
df_all_group = df_all_result.groupby([f"{data_kind}"])["frequency"].sum().sort_values(ascending=False)
df_all_group = df_all_group.reset_index()
df_all_group.dropna(inplace=True)
df_all_group.reset_index(drop=True, inplace=True)
df_all_group

                     word  frequency
0                     bir   18835735
1                      bu   11062659
2                      ne    8025880
3                      ve    7766036
4                    için    5484109
...                   ...        ...
1007418        olmazsaniz          5
1007419         göçmenini          5
1007420  yapıştırılabilir          5
1007421    yapıştırıcıyım          5
1007422          harbourı          5

[1007423 rows x 2 columns]

In [7]:
df_all_group = df_all_group[df_all_group.frequency >=5]

In [8]:
#total_frequency = df_all_group.frequency.sum()

In [9]:
#df_all_group["ratio"] = (df_all_group.frequency/total_frequency)*100

In [10]:
#df_all_group["cumul_ratio"] = np.cumsum(df_all_group["ratio"])

In [11]:
df_all_group.to_csv(f"{data_kind.capitalize()}_Merge.csv", index=False)

#### Not Apply Lower Word Tokenize

In [ ]:
not_lower_tokenize_list = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/NLTK/Word/Data/Not_Apply_Lower_Word*.csv")
not_lower_tokenize_list

In [ ]:
# Read all data
data_kind = "word"
df_not_lower_all_result = pd.DataFrame()
for i in not_lower_tokenize_list:
#for i in range(1,8):
    df_var = pd.read_csv(f'{i}')
    #df_var = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Clean_Spark_Sentence_Tokenize{i}.csv")
    df_not_lower_all_result = pd.concat([df_var, df_not_lower_all_result], axis=0)
    df_not_lower_all_result.dropna(inplace=True)
    df_not_lower_all_result.reset_index(drop=True, inplace=True)
df_not_lower_all_result = df_not_lower_all_result[[f"{data_kind}", "frequency"]]
df_not_lower_all_result

In [ ]:
df_not_lower_all_group = df_not_lower_all_result.groupby([f"{data_kind}"])["frequency"].sum().sort_values(ascending=False)
df_not_lower_all_group = df_not_lower_all_group.reset_index()
df_not_lower_all_group.dropna(inplace=True)
df_not_lower_all_group.reset_index(drop=True, inplace=True)
df_not_lower_all_group

In [ ]:
df_not_lower_all_group.to_csv(f"Not_Apply_Lower_Word_Merge.csv", index=False)