### Shared Word

In [1]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np
import glob
import nltk
from nltk import word_tokenize
from functools import reduce
from pathlib import Path
import shutil

In [2]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

In [3]:
# language pair
lang_folder = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language for learner
lang_pair = "English"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

# adding native word to shared word
word_start = 0  # 0  # native word start index
word_end = 0  # 28  # native word end index

# sentence check
twogram_sentence_check = False  # True, False
threegram_sentence_check = False
fourgram_sentence_check = False
fivegram_sentence_check = False

# shared word frequency
shared_word_frequency = True  # True, False

In [4]:
Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/4-Shared Word/{lang_folder.capitalize()} {lang_pair.capitalize()}").mkdir(parents=True, exist_ok=True)

In [5]:
def remove_repetition(word_group):
    '''
    remove_repetition(word_group): detect word repetion in word group 
    '''
    words = word_tokenize(word_group)
    word_unique = set(words)
    if len(word_unique) == 1:
        return "repetitive_word_group"
    else:
        return word_group

In [6]:
df_word_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word_all

                 word  frequency
0                 bir   18835735
1                  bu   11062659
2                  ne    8025880
3                  ve    7766036
4                için    5484109
...               ...        ...
1005970       karnaya          5
1005971   dörtlümüzün          5
1005972  karnavalınız          5
1005973      hurmanın          5
1005974           her          5

[1005975 rows x 2 columns]

In [7]:
df_word = df_word_all.iloc[word_start:word_end,]
df_word

Empty DataFrame
Columns: [word, frequency]
Index: []

In [8]:
#lang_pair_list = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_And_{lang_pair.lower().capitalize()}*_All.xlsx")
#lang_pair_list

In [9]:
#df_pair = pd.read_excel(f"{lang_pair_list[0]}")
df_pair = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_{lang_pair.lower().capitalize()}_Shared_Vocabulary.xlsx")
#df_pair = df_pair.head()
df_pair

     dict_entry_main english_word
0             abaküs       abacus
1           abandone      abandon
2             abanoz        ebony
3            abdomen      abdomen
4             abluka     blockade
...              ...          ...
2068          zodyak       zodiac
2069           zombi       zombie
2070         zooloji      zoology
2071        zoolojik   zoological
2072             zum         zoom

[2073 rows x 2 columns]

In [10]:
disable_list = ["sex","seks","seksi","sexy","sexe","seksüel","sexuell","gey","gay","lezbiyen","lesbienne","eşcinsel","mastürbasyon","masturbation","erotik","érotique", \
"bikini","penis","vagina","vajina","fetish","fetiş","fetishy","erotic","erotik","sexdom","kondom","condom","dildo","fetisj","hétérosexuel","féticher","fétiche","homosexuel"\
"ereksiyon","erectie","erection","érection","homoseksüel","prezervatif","préservatif","ass","fetisch","fetiche"]

In [11]:
word_select = df_word["word"].values.tolist()
words = df_pair["dict_entry_main"].values.tolist()
word_select_set = set(word_select)
disable_word_set = set(disable_list)
words_set = set(words)

In [12]:
word_list = list(word_select_set.union(words_set.difference(disable_word_set)))

In [13]:
# 2 way  Not: 1 way is long and in Shared Word ReDe part 
data_kind_list = ["Two", "Three", "Four", "Five", "Sentence"]
for i in data_kind_list:
    sent_ngram_file = f"{i}" # Two, Three, Four, Five, Sentence
 
    if sent_ngram_file.lower() != "sentence":
        data_kind = f"{sent_ngram_file}gram"  # Twogram, Threegram, Fourgram, Fivegram
        folder_path = "N Gram"
    else:
        data_kind = "sentence"
        folder_path = "Sentence"

    df = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/{folder_path.capitalize()}/Merge/{data_kind.capitalize()}_Merge.csv")
    d_list  = df.iloc[:,0].values.tolist()

    resultlist = []
    manager = multiprocessing.Manager()
    resultlist = manager.list()
    
    def word_in_wordgroup(d_list):
        mergelist = []
        try:
            word = d_list.split()
        except:
            word = []
            #pass  disabled for non split value
        var1 = range(len(word))
        for j in var1:
            if word[j] in word_list:
                mergelist.append(word[j])
                if len(mergelist) == len(word):
                        resultlist.append(d_list)
                            
    if __name__ == '__main__':
        # with Pool(16) as p:
        with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
            p.map(word_in_wordgroup, d_list) # string_word liste

    result_list = list(resultlist)
    df_result = pd.DataFrame(result_list, columns=[0])  # add columns parameter for empty result
    df_result = df_result.rename(columns = {0: f"{data_kind.lower()}"})
    df_merge = pd.merge(df_result, df, how="left", on=f"{data_kind.lower()}")
    df_merge_result = df_merge.sort_values(by="frequency", ascending=False)
    df_merge_result.drop_duplicates(inplace=True)
    df_merge_result[f"{data_kind.lower()}"] = df_merge_result[f"{data_kind.lower()}"].apply(lambda x: remove_repetition(x))  # added remove_repetition 
    df_merge_result = df_merge_result[df_merge_result[f"{data_kind.lower()}"] != "repetitive_word_group"]  # remove_repetition part
    df_merge_result.reset_index(drop=True, inplace=True)

    df_merge_result.to_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_{data_kind.capitalize()}.xlsx", index=False)

#### Concat Result

In [14]:
df_word = pd.DataFrame(word_list, columns=["word"])
df_word

           word
0          efor
1      apartman
2       karavan
3          asya
4         raket
...         ...
2060    otostop
2061     sembol
2062     italik
2063   pozisyon
2064  oditoryum

[2065 rows x 1 columns]

In [15]:
# Option For Frequency
if shared_word_frequency:
    df_word_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
    df_word = pd.merge(df_word,df_word_all, how="inner", on="word")
    df_word.drop_duplicates(inplace=True)
    df_word.reset_index(drop=True, inplace=True)
else:
    pass

df_word

           word  frequency
0          efor        863
1      apartman       4843
2       karavan       4267
3          asya       4217
4         raket        582
...         ...        ...
2049    otostop       2469
2050     sembol       4700
2051     italik         10
2052   pozisyon       7191
2053  oditoryum         33

[2054 rows x 2 columns]

In [16]:
df_shared_twogram = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Twogram.xlsx")
df_shared_twogram = df_shared_twogram.loc[:,["twogram","frequency"]]
df_shared_twogram.rename(columns={"frequency":"freq_twogram"}, inplace=True)
df_shared_twogram

                twogram  freq_twogram
0          milyon dolar          6377
1         nükleer bomba           460
2            panik atak           451
3        otomatik pilot           389
4     milyonlarca dolar           317
...                 ...           ...
1959        ton politik             6
1960          ton bomba             6
1961           ton form             6
1962         doktor gaz             6
1963   pasifik standart             6

[1964 rows x 2 columns]

In [17]:
# Option For Twogram Sentence
if twogram_sentence_check:
    df_twogram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/N Gram And Sentence/Two_Gram_And_Sentence.csv")  # ext. sentence and ngram
    df_twogram_sent.rename(columns={"two_gram":"twogram"}, inplace=True)  # ext. Not: Two_Gram_And_Sentence.csv convert to Two_Gram_And_Sentence_All.csv
    df_twogram_sent = df_twogram_sent.loc[:,["twogram"]]
    df_shared_twogram = pd.merge(df_shared_twogram, df_twogram_sent, how="inner", on="twogram")
    df_shared_twogram.drop_duplicates(inplace=True)
    df_shared_twogram.reset_index(drop=True, inplace=True)
else:
    pass

df_shared_twogram

                twogram  freq_twogram
0          milyon dolar          6377
1         nükleer bomba           460
2            panik atak           451
3        otomatik pilot           389
4     milyonlarca dolar           317
...                 ...           ...
1959        ton politik             6
1960          ton bomba             6
1961           ton form             6
1962         doktor gaz             6
1963   pasifik standart             6

[1964 rows x 2 columns]

In [18]:
df_shared_threegram = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Threegram.xlsx")
df_shared_threegram = df_shared_threegram.loc[:,["threegram","frequency"]]
df_shared_threegram.rename(columns={"frequency":"freq_threegram"}, inplace=True)
df_shared_threegram

                    threegram  freq_threegram
0           bravo tango delta              33
1          grup zebra transit              26
2            bebek süper star              24
3       çinli japon amerikalı              23
4          safari motor motel              22
5             alfa tango alfa              22
6       kaliteli normal banka              20
7           fiber optik kablo              18
8     kronik psikolojik stres              18
9             alfa alfa bravo              17
10      rutin kopya mikrofilm              17
11           milyon ton bomba              17
12          polis robot polis              17
13    patates domates patates              15
14        avrupa asya amerika              15
15    domates patates domates              15
16  amerika milyonlarca dolar              15
17    duble hamburger patates              14
18     pozitif enerji pozitif              14
19      pardon pardon pozitif              14
20       komünist parti genel              13
21   teknoloji kuantum kripto              13
22      okyanus termal enerji              13
23            kilo kilo tango              13
24     milyon latin amerikalı              13
25       duble çikolatalı kek              13
26             alfa bravo eko              13
27           alfa tango delta              12
28      milyon dolar transfer              12
29            bale müzik dans              12
30    otomatik pilot otomatik              12
31       süpersonik jet turbo              12
32         jet turbo sistemli              12
33       pilot otomatik pilot              12
34     ambulans avukat doktor              11
35          bar restoran otel              11
36    amerikalı delege kongre              11
37           fiber optik lens              10
38         marka gri otomobil              10
39   radyo televizyon telefon              10
40         genel sekreter çin              10

In [19]:
# Option For Threegram Sentence
if threegram_sentence_check:
    df_threegram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/N Gram And Sentence/Three_Gram_And_Sentence.csv")  # ext. sentence and ngram
    df_threegram_sent.rename(columns={"three_gram":"threegram"}, inplace=True)  # ext. Not: Two_Gram_And_Sentence.csv convert to Two_Gram_And_Sentence_All.csv
    df_threegram_sent = df_twogram_sent.loc[:,["threegram"]]
    df_shared_threegram = pd.merge(df_shared_threegram, df_threegram_sent, how="inner", on="threegram")
    df_shared_threegram.drop_duplicates(inplace=True)
    df_shared_threegram.reset_index(drop=True, inplace=True)
else:
    pass

df_shared_threegram

                    threegram  freq_threegram
0           bravo tango delta              33
1          grup zebra transit              26
2            bebek süper star              24
3       çinli japon amerikalı              23
4          safari motor motel              22
5             alfa tango alfa              22
6       kaliteli normal banka              20
7           fiber optik kablo              18
8     kronik psikolojik stres              18
9             alfa alfa bravo              17
10      rutin kopya mikrofilm              17
11           milyon ton bomba              17
12          polis robot polis              17
13    patates domates patates              15
14        avrupa asya amerika              15
15    domates patates domates              15
16  amerika milyonlarca dolar              15
17    duble hamburger patates              14
18     pozitif enerji pozitif              14
19      pardon pardon pozitif              14
20       komünist parti genel              13
21   teknoloji kuantum kripto              13
22      okyanus termal enerji              13
23            kilo kilo tango              13
24     milyon latin amerikalı              13
25       duble çikolatalı kek              13
26             alfa bravo eko              13
27           alfa tango delta              12
28      milyon dolar transfer              12
29            bale müzik dans              12
30    otomatik pilot otomatik              12
31       süpersonik jet turbo              12
32         jet turbo sistemli              12
33       pilot otomatik pilot              12
34     ambulans avukat doktor              11
35          bar restoran otel              11
36    amerikalı delege kongre              11
37           fiber optik lens              10
38         marka gri otomobil              10
39   radyo televizyon telefon              10
40         genel sekreter çin              10

In [20]:
df_shared_fourgram = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Fourgram.xlsx")
df_shared_fourgram = df_shared_fourgram.loc[:,["fourgram","frequency"]]
df_shared_fourgram.rename(columns={"frequency":"freq_fourgram"}, inplace=True)
df_shared_fourgram

                        fourgram  freq_fourgram
0            alfa alfa bravo eko             13
1  süpersonik jet turbo sistemli             12
2   radyo televizyon telefon bar             10
3    cd radyo televizyon telefon             10
4   televizyon telefon bar video             10

In [21]:
# Option For Fourgram Sentence
if fourgram_sentence_check:
    df_fourgram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/N Gram And Sentence/Four_Gram_And_Sentence.csv")  # ext. sentence and ngram
    df_fourgram_sent.rename(columns={"four_gram":"fourgram"}, inplace=True)  # ext. Not: Two_Gram_And_Sentence.csv convert to Two_Gram_And_Sentence_All.csv
    df_fourgram_sent = df_twogram_sent.loc[:,["fourgram"]]
    df_shared_fourgram = pd.merge(df_shared_fourgram, df_fourgram_sent, how="inner", on="fourgram")
    df_shared_fourgram.drop_duplicates(inplace=True)
    df_shared_fourgram.reset_index(drop=True, inplace=True)
else:
    pass

df_shared_fourgram

                        fourgram  freq_fourgram
0            alfa alfa bravo eko             13
1  süpersonik jet turbo sistemli             12
2   radyo televizyon telefon bar             10
3    cd radyo televizyon telefon             10
4   televizyon telefon bar video             10

In [22]:
df_shared_fivegram = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Fivegram.xlsx")
df_shared_fivegram = df_shared_fivegram.loc[:,["fivegram","frequency"]]
df_shared_fivegram.rename(columns={"frequency":"freq_fivegram"}, inplace=True)
df_shared_fivegram

                             fivegram  freq_fivegram
0     cd radyo televizyon telefon bar             10
1  radyo televizyon telefon bar video             10

In [23]:
# Option For Fivegram Sentence
if fivegram_sentence_check:
    df_fivegram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/N Gram And Sentence/Five_Gram_And_Sentence.csv")  # ext. sentence and ngram
    df_fivegram_sent.rename(columns={"five_gram":"fivegram"}, inplace=True)  # ext. Not: Two_Gram_And_Sentence.csv convert to Two_Gram_And_Sentence_All.csv
    df_fivegram_sent = df_twogram_sent.loc[:,["fivegram"]]
    df_shared_fivegram = pd.merge(df_shared_fivegram, df_fivegram_sent, how="inner", on="fivegram")
    df_shared_fivegram.drop_duplicates(inplace=True)
    df_shared_fivegram.reset_index(drop=True, inplace=True)
else:
    pass

df_shared_fivegram

                             fivegram  freq_fivegram
0     cd radyo televizyon telefon bar             10
1  radyo televizyon telefon bar video             10

In [24]:
df_shared_sentence = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Sentence.xlsx")
df_shared_sentence = df_shared_sentence.loc[:,["sentence","frequency"]]
df_shared_sentence.rename(columns={"frequency":"freq_sentence"}, inplace=True)
df_shared_sentence

              sentence  freq_sentence
0    standart prosedür            192
1          alo santral            149
2         fotoğraf çek            145
3          genel alarm            139
4       kaptan amerika            138
..                 ...            ...
298       kalite somon              6
299   nitrojen oksijen              6
300      nükleer alarm              6
301         vay doktor              6
302       fizik terapi              6

[303 rows x 2 columns]

In [25]:
df_shared_all = pd.concat([df_word, df_shared_twogram, df_shared_threegram, df_shared_fourgram, df_shared_fivegram, df_shared_sentence], axis=1)
df_shared_all

,word,frequency,twogram,freq_twogram,threegram,freq_threegram,fourgram,freq_fourgram,fivegram,freq_fivegram,sentence,freq_sentence
0,efor,863,milyon dolar,6377.0,bravo tango delta,33.0,alfa alfa bravo eko,13.0,cd radyo televizyon telefon bar,10.0,standart prosedür,192.0
1,apartman,4843,nükleer bomba,460.0,grup zebra transit,26.0,süpersonik jet turbo sistemli,12.0,radyo televizyon telefon bar video,10.0,alo santral,149.0
2,karavan,4267,panik atak,451.0,bebek süper star,24.0,radyo televizyon telefon bar,10.0,NaN,NaN,fotoğraf çek,145.0
3,asya,4217,otomatik pilot,389.0,çinli japon amerikalı,23.0,cd radyo televizyon telefon,10.0,NaN,NaN,genel alarm,139.0
4,raket,582,milyonlarca dolar,317.0,safari motor motel,22.0,televizyon telefon bar video,10.0,NaN,NaN,kaptan amerika,138.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2049,otostop,2469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2050,sembol,4700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2051,italik,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2052,pozisyon,7191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2053,oditoryum,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df_shared_all.to_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Result_With_Frequency.xlsx", index=False)

##### Concat Result With Comma

In [27]:
def word_in_wordgroup(df, list_column, target_column):

    '''word_in_wordgroup(df, "word", "twogram"):
       df is dataframe, list_column and target_column are 
       dataframe column string name. list_column convert list
       values that are in target column.
    '''
    
    df_select = df[[f"{target_column}"]].dropna()
    df_word_result = pd.DataFrame()
    for i in df[f"{list_column}"].dropna():
        try:
            #word_in_twogram = df_select[df_select[f"{target_column}"].str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)].head(10)  # Option
            word_in_word_cluster = df_select[df_select[f"{target_column}"].str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)] 
        except:
            pass        
        word_in_word_cluster.insert(0,f"{list_column}",i)
        df_word_result = pd.concat([df_word_result,word_in_word_cluster], axis=0)
    df_word_result.reset_index(drop=True, inplace=True)

    return df_word_result

In [28]:
df_word_order_twogram = word_in_wordgroup(df_shared_all, "word", "twogram")
df_word_order_threegram = word_in_wordgroup(df_shared_all, "word", "threegram") 
df_word_order_fourgram = word_in_wordgroup(df_shared_all, "word", "fourgram") 
df_word_order_fivegram = word_in_wordgroup(df_shared_all, "word", "fivegram")
df_word_order_sentence = word_in_wordgroup(df_shared_all, "word", "sentence")

In [29]:
df_word_order_join_twogram = df_word_order_twogram.groupby(["word"])["twogram"].apply(", ".join).reset_index()   # df_word_order_11.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].transform(lambda x: ','.join(x))
df_word_order_join_threegram = df_word_order_threegram.groupby(["word"])["threegram"].apply(", ".join).reset_index()
df_word_order_join_fourgram = df_word_order_fourgram.groupby(["word"])["fourgram"].apply(", ".join).reset_index()
df_word_order_join_fivegram = df_word_order_fivegram.groupby(["word"])["fivegram"].apply(", ".join).reset_index()
df_word_order_join_sentence = df_word_order_sentence.groupby(["word"])["sentence"].apply(", ".join).reset_index()

In [30]:
dfs = [df_word_order_join_twogram,df_word_order_join_threegram,df_word_order_join_fourgram,df_word_order_join_fivegram,df_word_order_join_sentence]

In [31]:
df_word_order_join_all = reduce(lambda  left,right: pd.merge(left,right, on=['word'], how='outer'), dfs)  # left,right make left to right merge
#df_word_order_join_all = reduce(lambda  right,left: pd.merge(left,right, on=['word'], how='outer'), dfs)  # right,left make right to left merge
df_word_order_join_all

,word,twogram,threegram,fourgram,fivegram,sentence
0,abanoz,stres abanoz,NaN,NaN,NaN,NaN
1,adrenalin,"doz adrenalin, adrenalin fiziksel, adrenalin s...",NaN,NaN,NaN,NaN
2,adres,"adres telefon, form adres",NaN,NaN,NaN,NaN
3,aerobik,bale aerobik,NaN,NaN,NaN,NaN
4,aerodinamik,aerodinamik iskelet,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
949,sedan,NaN,NaN,NaN,NaN,gri sedan
950,senatör,NaN,NaN,NaN,NaN,telefon senatör
951,tansiyon,NaN,NaN,NaN,NaN,tansiyon normal
952,termometre,NaN,NaN,NaN,NaN,diferansiyel termometre
953,şansölye,NaN,NaN,NaN,NaN,lord şansölye

In [32]:
# Option For Word Frequency
if shared_word_frequency:
    df_word_order_join_all = pd.merge(df_word_order_join_all,df_word_all, how="inner", on="word")
    df_word_order_join_all.drop_duplicates(inplace=True)
    df_word_order_join_all = df_word_order_join_all.loc[:,["word","frequency","twogram","threegram","fourgram","fivegram","sentence"]]
    df_word_order_join_all.sort_values(by="frequency", inplace=True, ascending=False)
    df_word_order_join_all.reset_index(drop=True, inplace=True)
else:
    pass

df_word_order_join_all

,word,frequency,twogram,threegram,fourgram,fivegram,sentence
0,kontrol,272328,"trafik kontrol, robot kontrol, rutin kontrol, ...",NaN,NaN,NaN,"rutin kontrol, manuel kontrol, mikrofon kontro..."
1,doktor,266714,"doktor avukat, doktor dans, şans doktor, şerif...",ambulans avukat doktor,NaN,NaN,"pardon doktor, doktor park, bravo doktor, alo ..."
2,polis,247969,"sivil polis, alo polis, profesör polis, metro ...",polis robot polis,NaN,NaN,"alo polis, sivil polis, süper polis, polis mad..."
3,dolar,199343,"milyon dolar, milyonlarca dolar, dolar avans, ...","amerika milyonlarca dolar, milyon dolar transf...",NaN,NaN,"milyonlarca dolar, milyon dolar, milyonlarca d..."
4,vay,162887,"vay termostat, vay rekor, vay süper, vay polis...",NaN,NaN,NaN,"vay süper, vay çakal, vay doktor, vay süper, v..."
...,...,...,...,...,...,...,...
1010,star,5,"süper star, pop star, jet star, star profesyon...","bebek süper star, bebek süper star",NaN,NaN,"süper star, star lord, süper star, star lord"
1011,türk,5,"türk general, türk polis, türk eroin, türk gen...",NaN,NaN,NaN,NaN
1012,teori,5,"orijinal teori, orijinal teori",NaN,NaN,NaN,"enteresan teori, enteresan teori"
1013,bas,5,"bas gitar, bas çek, bas doktor, bas kovboy, ba...",NaN,NaN,NaN,bas gitar
1014,vay,5,"vay termostat, vay rekor, vay süper, vay polis...",NaN,NaN,NaN,"vay süper, vay çakal, vay doktor, vay süper, v..."

In [33]:
df_word_order_join_all.to_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Join_Result_Without_Frequency.xlsx", index=False)

#### Copy Move And Delete

In [34]:
output_file = glob.glob(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared*.xlsx")
output_file

['Turkish_English_Shared_Result_With_Frequency2.xlsx',
 'Turkish_English_Shared_Join_Result_Without_Frequency2.xlsx',
 'Turkish_English_Shared_Twogram.xlsx',
 'Turkish_English_Shared_Threegram.xlsx',
 'Turkish_English_Shared_Fourgram.xlsx',
 'Turkish_English_Shared_Fivegram.xlsx',
 'Turkish_English_Shared_Sentence.xlsx',
 'Turkish_English_Shared_Result_With_Frequency.xlsx',
 'Turkish_English_Shared_Join_Result_Without_Frequency.xlsx']

In [35]:
for k in output_file:
    source = k # source directory
    destination = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/4-Shared Word/{lang_folder.capitalize()} {lang_pair.capitalize()}"
    shutil.copy2(source, destination)

In [36]:
for i in output_file:
    try:
        os.remove(i)
    except:
        pass