### Adjust Word Level

In [11]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk import word_tokenize
from itertools import islice
import glob

In [12]:
lang_folder = "Turkish"
lang_pair = "Arabic"

In [13]:
word_start = 0
word_end = 10
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word = df_word.iloc[word_start:word_end,]
df_word.reset_index(drop=True, inplace=True)
df_word

   word  frequency
0   bir   18835735
1    bu   11062659
2    ne    8025880
3    ve    7766036
4  için    5484109
5    mi    5362714
6   ben    4908913
7    de    4880315
8   çok    4852169
9   ama    4661966

In [14]:
df_twogram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/N Gram And Sentence/Two_Gram_And_Sentence_All.csv")  # ext. sentence and ngram
df_twogram_sent.rename(columns={"two_gram":"twogram"}, inplace=True)  # ext.
df_twogram_sent

                      twogram  frequency
0             teşekkür ederim     244149
1                     öyle mi     209900
2                     ne oldu     195799
3                 aman tanrım     189521
4                özür dilerim     153784
...                       ...        ...
1036515         güzeldi tommy          3
1036516  durumu tuhaflaştırma          3
1036517         güzeldi canım          3
1036518        güzeldi daniel          3
1036519      güzelce vurdular          3

[1036520 rows x 2 columns]

In [15]:
df_threegram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/N Gram And Sentence/Three_Gram_And_Sentence_All.csv")  # ext. sentence and ngram
df_threegram_sent.rename(columns={"three_gram":"threegram"}, inplace=True)  # ext.
df_threegram_sent

                       threegram  frequency
0            ne demek istiyorsun      55905
1                       bu da ne      50098
2              hayır hayır hayır      41386
3                  sen iyi misin      32965
4            çok teşekkür ederim      27663
...                          ...        ...
1039403       kapıyı kapat aaron          5
1039404     kardeşime bir hediye          5
1039405       sonra da rachampsı          5
1039406       usta lee neredesin          5
1039407  helen bunu istemiyorsun          5

[1039408 rows x 2 columns]

In [16]:
lang_pair_list = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_And_{lang_pair.lower().capitalize()}*_All.xlsx")
lang_pair_list

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Arabic (ara)_Etymologeek_Result_All.xlsx']

In [17]:
df_pair = pd.read_excel(f"{lang_pair_list[0]}")
df_pair

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,mı,mıknatıs,Turkish,(Noun) Magnet.Magnet.,مِغْنَاطِيس,Arabic (ara),NaN
1,mı,mısdak,Turkish,(Noun) (obsolete) criterion.(obsolete) criterion.,مِصْدَاق,Arabic (ara),NaN
2,şey,şey,Turkish,(Noun Interjection) (slang) genital organ. Thi...,شَيْئاً,Arabic (ara),NaN
3,şey,şeytan,Turkish,(Noun) Devil.Devil.,شَيَّطَ,Arabic (ara),NaN
4,şey,şeytanî,Turkish,(Adjective) Devilish.Devilish.,شَيْطَانِيّ,Arabic (ara),NaN
...,...,...,...,...,...,...,...
362,avra,avrat,Turkish,(Noun) Wife.Wife.,عَوِرَ,Arabic (ara),NaN
363,molla,molla,Turkish,NaN,مَوْلًى,Arabic (ara),NaN
364,ruba,rubai,Turkish,"(Noun) Rubai; quatrain in classical Arabic, Pe...",رباع,Arabic (ara),"Four at a time, in a group of four, in fours."
365,كتاب,كتاب,Turkish,NaN,كتاب,Arabic (ara),"(obsolete). Book. Letter, note, paper, piece o..."
366,حاضر,حاضر,Turkish,NaN,حَضَرَ,Arabic (ara),NaN

In [18]:
def remove_repetition(word_group):
    words = word_tokenize(word_group)
    word_unique = set(words)
    if len(word_unique) == 1:
        return "repetitive_word_group"
    else:
        return word_group

In [19]:
ngram_list = []
for i in df_pair["dict_entry_main"]:
    for j in word_tokenize(i):
        for k in df_word["word"]:
            twogram_1_2 = f"{j} {k}"
            ngram_list.append(twogram_1_2)
            twogram_2_1 = f"{k} {j}"
            ngram_list.append(twogram_2_1)
df_pair_ngram = pd.DataFrame(ngram_list)
df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
df_pair_ngram.iloc[:,0] = df_pair_ngram.iloc[:,0].apply(lambda x: remove_repetition(x))
df_pair_ngram.drop_duplicates(inplace=True)
df_pair_ngram.reset_index(drop=True, inplace=True)
df_pair_ngram

           twogram
0     mıknatıs bir
1     bir mıknatıs
2      mıknatıs bu
3      bu mıknatıs
4      mıknatıs ne
...            ...
7355       de حاضر
7356      حاضر çok
7357      çok حاضر
7358      حاضر ama
7359      ama حاضر

[7360 rows x 1 columns]

In [20]:
df_lang_pair_ngram = pd.merge(df_twogram_sent, df_pair_ngram, how="inner", on="twogram")
df_lang_pair_ngram.rename(columns={"twogram":"twogram_pair"}, inplace=True)
df_lang_pair_ngram.drop_duplicates(inplace=True)
df_lang_pair_ngram

     twogram_pair  frequency
0      bir dakika      51838
1      bir saniye      26472
2        ne kadar      17952
3        bu kadar      15745
4       hayır ben       7726
...           ...        ...
1205     selam mi          3
1206    sebep bir          3
1207    silah ben          3
1208     resim de          3
1209    bu hazine          3

[1210 rows x 2 columns]

In [21]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np

In [22]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

In [23]:
word_list = df_word["word"].values.tolist()

In [24]:
data_kind = "twogram"

In [25]:
d_list  = df_twogram_sent.iloc[:,0].values.tolist()

In [26]:
resultlist = []

In [27]:
#import os
#from multiprocessing import Process, Manager, Pool, Queue
manager = multiprocessing.Manager()
resultlist = manager.list()

def word_in_wordgroup(d_list):
    mergelist = []
    try:
        word = d_list.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist.append(d_list)
                        
if __name__ == '__main__':
    # with Pool(16) as p:
    with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
        p.map(word_in_wordgroup, d_list) # string_word liste

In [28]:
result_list = list(resultlist)
df_result = pd.DataFrame(result_list)
df_result = df_result.rename(columns = {0: f"{data_kind}"})
df_result.iloc[:,0] = df_result.iloc[:,0].apply(lambda x: remove_repetition(x)) # **
df_merge = pd.merge(df_result, df_twogram_sent, how="inner", on=f"{data_kind}")
df_merge_result = df_merge.sort_values(by="frequency", ascending=False)
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_twogram_result = df_merge_result
df_twogram_result

     twogram  frequency
0     ben de      59972
1     ben mi      33652
2    ne için      31857
3      bu ne      30165
4      ne bu       7506
5    ama ben       5258
6     ama ne       3353
7     ve ben       2970
8     ama bu       2929
9     bu çok       2220
10     ve bu       1963
11    bir ne       1718
12    bu bir       1633
13     ne mi       1400
14    bir de       1392
15     ve ne       1035
16    ben ne        786
17    bir mi        525
18   ben bir        499
19   ben çok        480
20    ve bir        306
21     ve de        247
22    bu ben        184
23    ben bu        117
24    çok ne        114
25    ben ve         94
26    ne ben         84
27   bir çok         68
28     ne de         53
29   ama çok         53
30    ne ama         48
31     bu ve         40
32  ben için         36
33    ve çok         34
34     ve mi         32
35    bir ve         25
36    ne çok         25
37     de mi         22
38   ama bir         22
39   ben ama         21
40   çok ama         11
41     bu mi         10
42   bir ben          7
43    bu ama          7
44    bir bu          5
45    çok de          5
46   çok ben          4
47   için mi          4

In [29]:
data_kind = "threegram"

In [30]:
d_list  = df_threegram_sent.iloc[:,0].values.tolist()

In [31]:
resultlist = []

In [32]:
#import os
#from multiprocessing import Process, Manager, Pool, Queue
manager = multiprocessing.Manager()
resultlist = manager.list()

def word_in_wordgroup(d_list):
    mergelist = []
    try:
        word = d_list.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist.append(d_list)
                        
if __name__ == '__main__':
    # with Pool(16) as p:
    with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
        p.map(word_in_wordgroup, d_list) # string_word liste

In [33]:
result_list = list(resultlist)
df_result = pd.DataFrame(result_list)
df_result = df_result.rename(columns = {0: f"{data_kind}"})
df_result.iloc[:,0] = df_result.iloc[:,0].apply(lambda x: remove_repetition(x))
df_merge = pd.merge(df_result, df_threegram_sent, how="inner", on=f"{data_kind}")
df_merge_result = df_merge.sort_values(by="frequency", ascending=False)
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_threegram_result = df_merge_result
df_threegram_result

     threegram  frequency
0   bu ne için       1841
1    ben de mi        564
2    ve ben de        426
3   ne için bu        348
4    ve bir de        290
..         ...        ...
62  ama ben ne          6
63    ne de ne          6
64   ve ama ne          6
65  ama bir de          5
66  ve çok çok          5

[67 rows x 2 columns]

In [34]:
pd.concat([df_word, df_lang_pair_ngram, df_twogram_result, df_threegram_result], axis=1)

,word,frequency,twogram_pair,frequency,twogram,frequency,threegram,frequency
0,bir,18835735.0,bir dakika,51838,ben de,59972.0,bu ne için,1841.0
1,bu,11062659.0,bir saniye,26472,ben mi,33652.0,ben de mi,564.0
2,ne,8025880.0,ne kadar,17952,ne için,31857.0,ve ben de,426.0
3,ve,7766036.0,bu kadar,15745,bu ne,30165.0,ne için bu,348.0
4,için,5484109.0,hayır ben,7726,ne bu,7506.0,ve bir de,290.0
...,...,...,...,...,...,...,...,...
1205,NaN,NaN,selam mi,3,NaN,NaN,NaN,NaN
1206,NaN,NaN,sebep bir,3,NaN,NaN,NaN,NaN
1207,NaN,NaN,silah ben,3,NaN,NaN,NaN,NaN
1208,NaN,NaN,resim de,3,NaN,NaN,NaN,NaN
1209,NaN,NaN,bu hazine,3,NaN,NaN,NaN,NaN

#### While Loop

In [1]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np
import glob
import nltk
from nltk import word_tokenize

In [2]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

In [3]:
lang_folder = "Turkish"
lang_pair = "Arabic"

In [4]:
df_word_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word_all

                  word  frequency
0                  bir   18835735
1                   bu   11062659
2                   ne    8025880
3                   ve    7766036
4                 için    5484109
...                ...        ...
164294    buldugumuzda         43
164295  boşandıklarını         42
164296    endişenlenme         42
164297    uzaylıymışım         42
164298      söylememis         38

[164299 rows x 2 columns]

In [5]:
df_twogram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/N Gram And Sentence/Two_Gram_And_Sentence_All.csv")  # ext. sentence and ngram
df_twogram_sent.rename(columns={"two_gram":"twogram"}, inplace=True)  # ext.
df_twogram_sent

                      twogram  frequency
0             teşekkür ederim     244149
1                     öyle mi     209900
2                     ne oldu     195799
3                 aman tanrım     189521
4                özür dilerim     153784
...                       ...        ...
1036515         güzeldi tommy          3
1036516  durumu tuhaflaştırma          3
1036517         güzeldi canım          3
1036518        güzeldi daniel          3
1036519      güzelce vurdular          3

[1036520 rows x 2 columns]

In [6]:
df_threegram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/N Gram And Sentence/Three_Gram_And_Sentence_All.csv")  # ext. sentence and ngram
df_threegram_sent.rename(columns={"three_gram":"threegram"}, inplace=True)  # ext.
df_threegram_sent

                       threegram  frequency
0            ne demek istiyorsun      55905
1                       bu da ne      50098
2              hayır hayır hayır      41386
3                  sen iyi misin      32965
4            çok teşekkür ederim      27663
...                          ...        ...
1039403       kapıyı kapat aaron          5
1039404     kardeşime bir hediye          5
1039405       sonra da rachampsı          5
1039406       usta lee neredesin          5
1039407  helen bunu istemiyorsun          5

[1039408 rows x 2 columns]

In [7]:
lang_pair_list = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_And_{lang_pair.lower().capitalize()}*_All.xlsx")

In [8]:
df_pair = pd.read_excel(f"{lang_pair_list[0]}")
df_pair

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,mı,mıknatıs,Turkish,(Noun) Magnet.Magnet.,مِغْنَاطِيس,Arabic (ara),NaN
1,mı,mısdak,Turkish,(Noun) (obsolete) criterion.(obsolete) criterion.,مِصْدَاق,Arabic (ara),NaN
2,şey,şey,Turkish,(Noun Interjection) (slang) genital organ. Thi...,شَيْئاً,Arabic (ara),NaN
3,şey,şeytan,Turkish,(Noun) Devil.Devil.,شَيَّطَ,Arabic (ara),NaN
4,şey,şeytanî,Turkish,(Adjective) Devilish.Devilish.,شَيْطَانِيّ,Arabic (ara),NaN
...,...,...,...,...,...,...,...
362,avra,avrat,Turkish,(Noun) Wife.Wife.,عَوِرَ,Arabic (ara),NaN
363,molla,molla,Turkish,NaN,مَوْلًى,Arabic (ara),NaN
364,ruba,rubai,Turkish,"(Noun) Rubai; quatrain in classical Arabic, Pe...",رباع,Arabic (ara),"Four at a time, in a group of four, in fours."
365,كتاب,كتاب,Turkish,NaN,كتاب,Arabic (ara),"(obsolete). Book. Letter, note, paper, piece o..."
366,حاضر,حاضر,Turkish,NaN,حَضَرَ,Arabic (ara),NaN

In [9]:
def remove_repetition(word_group):
    words = word_tokenize(word_group)
    word_unique = set(words)
    if len(word_unique) == 1:
        return "repetitive_word_group"
    else:
        return word_group

In [37]:
# while loop code block
word_start = 0
word_end = 10
step_num = 10
word_limit = 20
part_num = 1
while word_end <= word_limit:
    df_word = df_word_all.iloc[word_start:word_end,]
    df_word.reset_index(drop=True, inplace=True)

    # language pair twogram
    ngram_list = []
    for i in df_pair["dict_entry_main"]:
        for j in word_tokenize(i):
            for k in df_word["word"]:
                twogram_1_2 = f"{j} {k}"
                ngram_list.append(twogram_1_2)
                twogram_2_1 = f"{k} {j}"
                ngram_list.append(twogram_2_1)
    df_pair_ngram = pd.DataFrame(ngram_list)
    df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
    df_pair_ngram.iloc[:,0] = df_pair_ngram.iloc[:,0].apply(lambda x: remove_repetition(x))
    df_pair_ngram.drop_duplicates(inplace=True)
    df_pair_ngram.reset_index(drop=True, inplace=True)
    df_lang_pair_ngram = pd.merge(df_twogram_sent, df_pair_ngram, how="inner", on="twogram")
    df_lang_pair_ngram.rename(columns={"twogram":"twogram_pair"}, inplace=True)
    df_lang_pair_ngram.drop_duplicates(inplace=True)

    # twogram
    word_list = df_word["word"].values.tolist()
    data_kind = "twogram"
    twogram_list  = df_twogram_sent.iloc[:,0].values.tolist()
    
    resultlist2 = []

    manager = multiprocessing.Manager()
    resultlist2 = manager.list()
    
    def word_in_wordgroup2(list_var2):
        mergelist = []
        try:
            word = list_var2.split()
        except:
            pass
        var1 = range(len(word))
        for j in var1:
            if word[j] in word_list:
                mergelist.append(word[j])
                if len(mergelist) == len(word):
                        resultlist2.append(list_var2)
                            
    if __name__ == '__main__':
        # with Pool(16) as p:
        with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
            p.map(word_in_wordgroup2, twogram_list) # string_word liste 

    result_list2 = list(resultlist2)
    df_result2 = pd.DataFrame(result_list2)
    df_result2 = df_result2.rename(columns = {0: f"{data_kind}"})
    df_result2.iloc[:,0] = df_result2.iloc[:,0].apply(lambda x: remove_repetition(x)) # **
    df_merge2 = pd.merge(df_result2, df_twogram_sent, how="inner", on=f"{data_kind}")
    df_merge_result2 = df_merge2.sort_values(by="frequency", ascending=False)
    df_merge_result2.drop_duplicates(inplace=True)
    df_merge_result2.reset_index(drop=True, inplace=True)
    df_twogram_result = df_merge_result2
    
    # threegram
    data_kind = "threegram"
    threegram_list  = df_threegram_sent.iloc[:,0].values.tolist()

    resultlist3 = []

    manager = multiprocessing.Manager()
    resultlist3 = manager.list()
    
    def word_in_wordgroup3(list_var3):
        mergelist = []
        try:
            word = list_var3.split()
        except:
            pass
        var1 = range(len(word))
        for j in var1:
            if word[j] in word_list:
                mergelist.append(word[j])
                if len(mergelist) == len(word):
                        resultlist3.append(list_var3)
                            
    if __name__ == '__main__':
        # with Pool(16) as p:
        with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
            p.map(word_in_wordgroup3, threegram_list) # string_word liste

    result_list3 = list(resultlist3)
    df_result3 = pd.DataFrame(result_list3)
    df_result3 = df_result3.rename(columns = {0: f"{data_kind}"})
    df_result3.iloc[:,0] = df_result3.iloc[:,0].apply(lambda x: remove_repetition(x))
    df_merge3 = pd.merge(df_result3, df_threegram_sent, how="inner", on=f"{data_kind}")
    df_merge_result3 = df_merge3.sort_values(by="frequency", ascending=False)
    df_merge_result3.drop_duplicates(inplace=True)
    df_merge_result3.reset_index(drop=True, inplace=True)
    df_threegram_result = df_merge_result3

    df_output_result = pd.concat([df_word, df_lang_pair_ngram, df_twogram_result, df_threegram_result], axis=1)
    df_output_result.to_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result{part_num}.xlsx", index=False)

    word_start += step_num
    word_end += step_num
    part_num += 1