### Adjust Word Level

In [1]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk import word_tokenize
from itertools import islice
import glob

In [2]:
lang_folder = "Turkish"
lang_pair = "Arabic"

In [3]:
word_start = 0
word_end = 20
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word = df_word.iloc[word_start:word_end,]
df_word.reset_index(drop=True, inplace=True)
df_word

     word  frequency
0     bir   18835735
1      bu   11062659
2      ne    8025880
3      ve    7766036
4    için    5484109
5      mi    5362714
6     ben    4908913
7      de    4880315
8     çok    4852169
9     ama    4661966
10    var    4389551
11   evet    4324786
12     mı    4001316
13  değil    3883885
14     da    3610161
15    şey    3602024
16  hayır    3406992
17   daha    3317577
18    sen    3283654
19  kadar    2697900

In [4]:
df_twogram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/N Gram And Sentence/Two_Gram_And_Sentence_All.csv")  # ext. sentence and ngram
df_twogram_sent.rename(columns={"two_gram":"twogram"}, inplace=True)  # ext.
df_twogram_sent

                      twogram  frequency
0             teşekkür ederim     244149
1                     öyle mi     209900
2                     ne oldu     195799
3                 aman tanrım     189521
4                özür dilerim     153784
...                       ...        ...
1036515         güzeldi tommy          3
1036516  durumu tuhaflaştırma          3
1036517         güzeldi canım          3
1036518        güzeldi daniel          3
1036519      güzelce vurdular          3

[1036520 rows x 2 columns]

In [5]:
#df_threegram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/Merge/Threegram_Merge.csv")  # ext. sentence and ngram
df_threegram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/N Gram And Sentence/Three_Gram_And_Sentence_All.csv")
df_threegram_sent.rename(columns={"three_gram":"threegram"}, inplace=True)  # ext.
df_threegram_sent

                       threegram  frequency
0            ne demek istiyorsun      55905
1                       bu da ne      50098
2              hayır hayır hayır      41386
3                  sen iyi misin      32965
4            çok teşekkür ederim      27663
...                          ...        ...
1039403       kapıyı kapat aaron          5
1039404     kardeşime bir hediye          5
1039405       sonra da rachampsı          5
1039406       usta lee neredesin          5
1039407  helen bunu istemiyorsun          5

[1039408 rows x 2 columns]

In [6]:
lang_pair_list = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_And_{lang_pair.lower().capitalize()}*_All.xlsx")
lang_pair_list

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Arabic (ara)_Etymologeek_Result_All.xlsx']

In [7]:
df_pair = pd.read_excel(f"{lang_pair_list[0]}")
df_pair

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,mı,mıknatıs,Turkish,(Noun) Magnet.Magnet.,مِغْنَاطِيس,Arabic (ara),NaN
1,mı,mısdak,Turkish,(Noun) (obsolete) criterion.(obsolete) criterion.,مِصْدَاق,Arabic (ara),NaN
2,şey,şey,Turkish,(Noun Interjection) (slang) genital organ. Thi...,شَيْئاً,Arabic (ara),NaN
3,şey,şeytan,Turkish,(Noun) Devil.Devil.,شَيَّطَ,Arabic (ara),NaN
4,şey,şeytanî,Turkish,(Adjective) Devilish.Devilish.,شَيْطَانِيّ,Arabic (ara),NaN
...,...,...,...,...,...,...,...
362,avra,avrat,Turkish,(Noun) Wife.Wife.,عَوِرَ,Arabic (ara),NaN
363,molla,molla,Turkish,NaN,مَوْلًى,Arabic (ara),NaN
364,ruba,rubai,Turkish,"(Noun) Rubai; quatrain in classical Arabic, Pe...",رباع,Arabic (ara),"Four at a time, in a group of four, in fours."
365,كتاب,كتاب,Turkish,NaN,كتاب,Arabic (ara),"(obsolete). Book. Letter, note, paper, piece o..."
366,حاضر,حاضر,Turkish,NaN,حَضَرَ,Arabic (ara),NaN

In [8]:
def remove_repetition(word_group):
    words = word_tokenize(word_group)
    word_unique = set(words)
    if len(word_unique) == 1:
        return "repetitive_word_group"
    else:
        return word_group

In [9]:
ngram_list = []
for i in df_pair["dict_entry_main"]:
    for j in word_tokenize(i):
        for k in df_word["word"]:
            twogram_1_2 = f"{j} {k}"
            ngram_list.append(twogram_1_2)
            twogram_2_1 = f"{k} {j}"
            ngram_list.append(twogram_2_1)
df_pair_ngram = pd.DataFrame(ngram_list)
df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
df_pair_ngram.iloc[:,0] = df_pair_ngram.iloc[:,0].apply(lambda x: remove_repetition(x))
df_pair_ngram.drop_duplicates(inplace=True)
df_pair_ngram.reset_index(drop=True, inplace=True)
df_pair_ngram

            twogram
0      mıknatıs bir
1      bir mıknatıs
2       mıknatıs bu
3       bu mıknatıs
4       mıknatıs ne
...             ...
14704     daha حاضر
14705      حاضر sen
14706      sen حاضر
14707    حاضر kadar
14708    kadar حاضر

[14709 rows x 1 columns]

In [10]:
df_lang_pair_ngram = pd.merge(df_twogram_sent, df_pair_ngram, how="inner", on="twogram")
df_lang_pair_ngram.rename(columns={"twogram":"twogram_pair"}, inplace=True)
df_lang_pair_ngram.drop_duplicates(inplace=True)
df_lang_pair_ngram = df_lang_pair_ngram.head(100)
df_lang_pair_ngram

   twogram_pair  frequency
0      tamam mı     134129
1    bir dakika      51838
2    bir saniye      26472
3   hayır değil      18740
4      ne kadar      17952
..          ...        ...
95     kahve mi        566
96     hayat bu        563
97      asla mı        558
98   evet ahbap        554
99      çok şey        552

[100 rows x 2 columns]

In [11]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np

In [12]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

In [13]:
word_list = df_word["word"].values.tolist()

In [14]:
data_kind = "twogram"

In [15]:
d_list  = df_twogram_sent.iloc[:,0].values.tolist()

In [16]:
resultlist = []

In [17]:
#import os
#from multiprocessing import Process, Manager, Pool, Queue
manager = multiprocessing.Manager()
resultlist = manager.list()

def word_in_wordgroup(d_list):
    mergelist = []
    try:
        word = d_list.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist.append(d_list)
                        
if __name__ == '__main__':
    # with Pool(16) as p:
    with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
        p.map(word_in_wordgroup, d_list) # string_word liste

In [18]:
result_list = list(resultlist)
df_result = pd.DataFrame(result_list)
df_result = df_result.rename(columns = {0: f"{data_kind}"})
df_result.iloc[:,0] = df_result.iloc[:,0].apply(lambda x: remove_repetition(x)) # **
df_merge = pd.merge(df_result, df_twogram_sent, how="inner", on=f"{data_kind}")
df_merge_result = df_merge.sort_values(by="frequency", ascending=False)
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_twogram_result = df_merge_result
df_twogram_result

       twogram  frequency
0       ne var      62532
1       ben de      59972
2     değil mi      58386
3       ben mi      33652
4      ne için      31857
..         ...        ...
187    çok ben          4
188  evet için          4
189    için mi          4
190      bu mı          3
191  değil bir          3

[192 rows x 2 columns]

In [19]:
data_kind = "threegram"

In [20]:
d_list  = df_threegram_sent.iloc[:,0].values.tolist()

In [21]:
resultlist = []

In [22]:
#import os
#from multiprocessing import Process, Manager, Pool, Queue
manager = multiprocessing.Manager()
resultlist = manager.list()

def word_in_wordgroup(d_list):
    mergelist = []
    try:
        word = d_list.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist.append(d_list)
                        
if __name__ == '__main__':
    # with Pool(16) as p:
    with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
        p.map(word_in_wordgroup, d_list) # string_word liste

In [23]:
result_list = list(resultlist)
df_result = pd.DataFrame(result_list)
df_result = df_result.rename(columns = {0: f"{data_kind}"})
df_result.iloc[:,0] = df_result.iloc[:,0].apply(lambda x: remove_repetition(x))
df_merge = pd.merge(df_result, df_threegram_sent, how="inner", on=f"{data_kind}")
df_merge_result = df_merge.sort_values(by="frequency", ascending=False)
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_threegram_result = df_merge_result
df_threegram_result

           threegram  frequency
0           bu da ne      50098
1      bir şey değil      17585
2        bu kadar mı      11350
3        evet ben de       6050
4         sen ve ben       5443
..               ...        ...
446     hayır sen mi          5
447        ve sen mi          5
448      ne için var          5
449       ama bir de          5
450  hayır bir değil          5

[451 rows x 2 columns]

In [24]:
df_output = pd.concat([df_word, df_lang_pair_ngram, df_twogram_result, df_threegram_result], axis=1)
df_output

,word,frequency,twogram_pair,frequency,twogram,frequency,threegram,frequency
0,bir,18835735.0,tamam mı,134129.0,ne var,62532.0,bu da ne,50098
1,bu,11062659.0,bir dakika,51838.0,ben de,59972.0,bir şey değil,17585
2,ne,8025880.0,bir saniye,26472.0,değil mi,58386.0,bu kadar mı,11350
3,ve,7766036.0,hayır değil,18740.0,ben mi,33652.0,evet ben de,6050
4,için,5484109.0,ne kadar,17952.0,ne için,31857.0,sen ve ben,5443
...,...,...,...,...,...,...,...,...
446,NaN,NaN,NaN,NaN,NaN,NaN,hayır sen mi,5
447,NaN,NaN,NaN,NaN,NaN,NaN,ve sen mi,5
448,NaN,NaN,NaN,NaN,NaN,NaN,ne için var,5
449,NaN,NaN,NaN,NaN,NaN,NaN,ama bir de,5
450,NaN,NaN,NaN,NaN,NaN,NaN,hayır bir değil,5

In [25]:
len(df_output.twogram.unique())

193

In [320]:
#df_output.to_excel(f"{lang_folder}_{lang_pair}_Word_Step_10_Result.xlsx", index=False)

#### While Loop

In [1]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np
import glob
import nltk
from nltk import word_tokenize

In [2]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

In [3]:
lang_folder = "Turkish"
lang_pair = "Arabic"

In [4]:
df_word_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word_all

                  word  frequency
0                  bir   18835735
1                   bu   11062659
2                   ne    8025880
3                   ve    7766036
4                 için    5484109
...                ...        ...
164294    buldugumuzda         43
164295  boşandıklarını         42
164296    endişenlenme         42
164297    uzaylıymışım         42
164298      söylememis         38

[164299 rows x 2 columns]

In [5]:
df_twogram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/N Gram And Sentence/Two_Gram_And_Sentence_All.csv")  # ext. sentence and ngram
df_twogram_sent.rename(columns={"two_gram":"twogram"}, inplace=True)  # ext.
df_twogram_sent

                      twogram  frequency
0             teşekkür ederim     244149
1                     öyle mi     209900
2                     ne oldu     195799
3                 aman tanrım     189521
4                özür dilerim     153784
...                       ...        ...
1036515         güzeldi tommy          3
1036516  durumu tuhaflaştırma          3
1036517         güzeldi canım          3
1036518        güzeldi daniel          3
1036519      güzelce vurdular          3

[1036520 rows x 2 columns]

In [32]:
#df_threegram_sent = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/N Gram And Sentence/Three_Gram_And_Sentence_All.csv")  # ext. sentence and ngram
#df_threegram_sent.rename(columns={"three_gram":"threegram"}, inplace=True)  # ext.
#df_threegram_sent

In [6]:
lang_pair_list = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_And_{lang_pair.lower().capitalize()}*_All.xlsx")
lang_pair_list

In [7]:
df_pair = pd.read_excel(f"{lang_pair_list[0]}")
df_pair

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,mı,mıknatıs,Turkish,(Noun) Magnet.Magnet.,مِغْنَاطِيس,Arabic (ara),NaN
1,mı,mısdak,Turkish,(Noun) (obsolete) criterion.(obsolete) criterion.,مِصْدَاق,Arabic (ara),NaN
2,şey,şey,Turkish,(Noun Interjection) (slang) genital organ. Thi...,شَيْئاً,Arabic (ara),NaN
3,şey,şeytan,Turkish,(Noun) Devil.Devil.,شَيَّطَ,Arabic (ara),NaN
4,şey,şeytanî,Turkish,(Adjective) Devilish.Devilish.,شَيْطَانِيّ,Arabic (ara),NaN
...,...,...,...,...,...,...,...
362,avra,avrat,Turkish,(Noun) Wife.Wife.,عَوِرَ,Arabic (ara),NaN
363,molla,molla,Turkish,NaN,مَوْلًى,Arabic (ara),NaN
364,ruba,rubai,Turkish,"(Noun) Rubai; quatrain in classical Arabic, Pe...",رباع,Arabic (ara),"Four at a time, in a group of four, in fours."
365,كتاب,كتاب,Turkish,NaN,كتاب,Arabic (ara),"(obsolete). Book. Letter, note, paper, piece o..."
366,حاضر,حاضر,Turkish,NaN,حَضَرَ,Arabic (ara),NaN

In [8]:
def remove_repetition(word_group):
    words = word_tokenize(word_group)
    word_unique = set(words)
    if len(word_unique) == 1:
        return "repetitive_word_group"
    else:
        return word_group

In [36]:
# while loop code block
word_start = 0
word_end = 20
step_num = 20
word_limit = 200
part_num = 1
while word_end <= word_limit:
    df_word = df_word_all.iloc[word_start:word_end,]
    df_word.reset_index(drop=True, inplace=True)

    # language pair twogram
    ngram_list = []
    for i in df_pair["dict_entry_main"]:
        for j in word_tokenize(i):
            for k in df_word["word"]:
                twogram_1_2 = f"{j} {k}"
                ngram_list.append(twogram_1_2)
                twogram_2_1 = f"{k} {j}"
                ngram_list.append(twogram_2_1)
    df_pair_ngram = pd.DataFrame(ngram_list)
    df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
    df_pair_ngram.iloc[:,0] = df_pair_ngram.iloc[:,0].apply(lambda x: remove_repetition(x))
    df_pair_ngram.drop_duplicates(inplace=True)
    df_pair_ngram.reset_index(drop=True, inplace=True)
    df_lang_pair_twogram = pd.merge(df_twogram_sent, df_pair_ngram, how="inner", on="twogram")
    df_lang_pair_twogram.rename(columns={"twogram":"twogram_pair"}, inplace=True)
    df_lang_pair_twogram.drop_duplicates(inplace=True)
    df_lang_pair_twogram = df_lang_pair_twogram.head(100)

    # twogram
    word_list = df_word["word"].values.tolist()
    data_kind = "twogram"
    twogram_list  = df_twogram_sent.iloc[:,0].values.tolist()
    
    resultlist2 = []

    manager = multiprocessing.Manager()
    resultlist2 = manager.list()
    
    def word_in_wordgroup2(list_var2):
        mergelist = []
        try:
            word = list_var2.split()
        except:
            pass
        var1 = range(len(word))
        for j in var1:
            if word[j] in word_list:
                mergelist.append(word[j])
                if len(mergelist) == len(word):
                        resultlist2.append(list_var2)
                            
    if __name__ == '__main__':
        # with Pool(16) as p:
        with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
            p.map(word_in_wordgroup2, twogram_list) # string_word liste 

    result_list2 = list(resultlist2)
    df_result2 = pd.DataFrame(result_list2)
    df_result2 = df_result2.rename(columns = {0: f"{data_kind}"})
    df_result2.iloc[:,0] = df_result2.iloc[:,0].apply(lambda x: remove_repetition(x)) # **
    df_merge2 = pd.merge(df_result2, df_twogram_sent, how="inner", on=f"{data_kind}")
    df_merge_result2 = df_merge2.sort_values(by="frequency", ascending=False)
    df_merge_result2.drop_duplicates(inplace=True)
    df_merge_result2.reset_index(drop=True, inplace=True)
    df_twogram_result = df_merge_result2
    df_twogram_result = df_twogram_result.head(100)
    
    ## threegram
    #data_kind = "threegram"
    #threegram_list  = df_threegram_sent.iloc[:,0].values.tolist()

    #resultlist3 = []

    #manager = multiprocessing.Manager()
    #resultlist3 = manager.list()
    
    #def word_in_wordgroup3(list_var3):
    #    mergelist = []
    #    try:
    #        word = list_var3.split()
    #    except:
    #        pass
    #    var1 = range(len(word))
    #    for j in var1:
    #        if word[j] in word_list:
    #            mergelist.append(word[j])
    #            if len(mergelist) == len(word):
    #                    resultlist3.append(list_var3)
                            
    #if __name__ == '__main__':
    #    # with Pool(16) as p:
    #    with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
    #        p.map(word_in_wordgroup3, threegram_list) # string_word liste

    #result_list3 = list(resultlist3)
    #df_result3 = pd.DataFrame(result_list3)
    #df_result3 = df_result3.rename(columns = {0: f"{data_kind}"})
    #df_result3.iloc[:,0] = df_result3.iloc[:,0].apply(lambda x: remove_repetition(x))
    #df_merge3 = pd.merge(df_result3, df_threegram_sent, how="inner", on=f"{data_kind}")
    #df_merge_result3 = df_merge3.sort_values(by="frequency", ascending=False)
    #df_merge_result3.drop_duplicates(inplace=True)
    #df_merge_result3.reset_index(drop=True, inplace=True)
    #df_threegram_result = df_merge_result3

    df_output_result = pd.concat([df_word, df_lang_pair_ngram, df_twogram_result], axis=1) # removed threegram
    df_output_result.to_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result{part_num}.xlsx", index=False)

    word_start += step_num
    word_end += step_num
    part_num += 1

#### Test

In [19]:
def word_count(df, bigger_than): # df is a dataframe, bigger_than is an integer
    list_all = []
    for i in df.columns:
        var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list)
    df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"count"}, inplace=True)
    
    return  df_word_count["count"][df_word_count.loc[:,"count"] > bigger_than].any()

In [14]:
# while loop code block
twogram_num = 100
twogram_pair_num = 100
word_thresh_num = 7

word_start = 0
word_end = 20
step_num = 20
word_limit = 20
part_num = 1
while word_end <= word_limit:
    df_word = df_word_all.iloc[word_start:word_end,]
    df_word.reset_index(drop=True, inplace=True)

    # language pair twogram
    ngram_list = []
    for i in df_pair["dict_entry_main"]:
        for j in word_tokenize(i):
            for k in df_word["word"]:
                twogram_1_2 = f"{j} {k}"
                ngram_list.append(twogram_1_2)
                twogram_2_1 = f"{k} {j}"
                ngram_list.append(twogram_2_1)
    df_pair_ngram = pd.DataFrame(ngram_list)
    df_pair_ngram.rename(columns={0:"twogram"}, inplace=True)
    df_pair_ngram.iloc[:,0] = df_pair_ngram.iloc[:,0].apply(lambda x: remove_repetition(x))
    df_pair_ngram.drop_duplicates(inplace=True)
    df_pair_ngram.reset_index(drop=True, inplace=True)
    df_lang_pair_twogram = pd.merge(df_twogram_sent, df_pair_ngram, how="inner", on="twogram")
    df_lang_pair_twogram.rename(columns={"twogram":"twogram_pair"}, inplace=True)
    df_lang_pair_twogram.drop_duplicates(inplace=True)
    #df_lang_pair_twogram = df_lang_pair_twogram.head(100)

    # twogram
    word_list = df_word["word"].values.tolist()
    data_kind = "twogram"
    twogram_list  = df_twogram_sent.iloc[:,0].values.tolist()
    
    resultlist2 = []

    manager = multiprocessing.Manager()
    resultlist2 = manager.list()
    
    def word_in_wordgroup2(list_var2):
        mergelist = []
        try:
            word = list_var2.split()
        except:
            pass
        var1 = range(len(word))
        for j in var1:
            if word[j] in word_list:
                mergelist.append(word[j])
                if len(mergelist) == len(word):
                        resultlist2.append(list_var2)
                            
    if __name__ == '__main__':
        # with Pool(16) as p:
        with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
            p.map(word_in_wordgroup2, twogram_list) # string_word liste 

    result_list2 = list(resultlist2)
    df_result2 = pd.DataFrame(result_list2)
    df_result2 = df_result2.rename(columns = {0: f"{data_kind}"})
    df_result2.iloc[:,0] = df_result2.iloc[:,0].apply(lambda x: remove_repetition(x)) # **
    df_merge2 = pd.merge(df_result2, df_twogram_sent, how="inner", on=f"{data_kind}")
    df_merge_result2 = df_merge2.sort_values(by="frequency", ascending=False)
    df_merge_result2.drop_duplicates(inplace=True)
    df_merge_result2.reset_index(drop=True, inplace=True)
    df_twogram_result = df_merge_result2
    #df_twogram_result = df_twogram_result.head(100)

    # output
    df_output_result = pd.concat([df_word, df_twogram_result, df_lang_pair_twogram], axis=1) 





    #df_output_result.to_excel(f"{lang_folder}_{lang_pair}_{word_limit}_Word_Step_{step_num}_Result{part_num}.xlsx", index=False)

    word_start += step_num
    word_end += step_num
    part_num += 1

In [15]:
df_output_result

      word   frequency   twogram  frequency twogram_pair  frequency
0      bir  18835735.0    ne var    62532.0     tamam mı     134129
1       bu  11062659.0    ben de    59972.0   bir dakika      51838
2       ne   8025880.0  değil mi    58386.0   bir saniye      26472
3       ve   7766036.0    ben mi    33652.0  hayır değil      18740
4     için   5484109.0   ne için    31857.0     ne kadar      17952
...    ...         ...       ...        ...          ...        ...
1995   NaN         NaN       NaN        NaN    silah ben          3
1996   NaN         NaN       NaN        NaN      ruh var          3
1997   NaN         NaN       NaN        NaN  resim değil          3
1998   NaN         NaN       NaN        NaN     resim de          3
1999   NaN         NaN       NaN        NaN    bu hazine          3

[2000 rows x 6 columns]

In [17]:
df_lesson_result = pd.DataFrame(columns=["word","freq_word","twogram","freq_twogram","twogram_pair","freq_twogram_pair"])
twogram_num = 100
twogram_pair_num = 100
word_thresh_num = 7
a = 0
b = 0

for i in range(0,100):
    # Insert words and their count 
    try:
        word = df_output_result.iloc[i,0]  # word
        freq_word = df_output_result.iloc[i,1]  # word freq
        df_lesson_result.loc[i,"word"] = word
        df_lesson_result.loc[i,"freq_word"] = freq_word
    except:
        pass
    
    # Insert n grams
    try:
        var1 = df_output_result.iloc[a,2]
        freq_var1 = df_output_result.iloc[a,3]
        if (len(df_lesson_result["twogram"]) < twogram_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
            df_lesson_result.loc[i,"twogram"] = var1
            df_lesson_result.loc[i,"freq_twogram"] = freq_var1
            try:
                while word_count(df_lesson_result, word_thresh_num): # word count result                
                    a += 1
                    var1 = df_output_result.iloc[a,2]
                    freq_var1 = df_output_result.iloc[a,3]
                    df_lesson_result.loc[i,"twogram"] = var1
                    df_lesson_result.loc[i,"freq_twogram"] = freq_var1
                else:
                    pass
            except:
                df_lesson_result.loc[i,"twogram"] = np.nan
                df_lesson_result.loc[i,"freq_twogram"] = np.nan
        else:
            pass
    except:
        pass
    a += 1

    try:
        var2 = df_output_result.iloc[b,4]
        freq_var2 = df_output_result.iloc[b,5]
        if (len(df_lesson_result["twogram_pair"]) < twogram_pair_num): # and (not(word_count(df_lesson_result, word_thresh_num))):
            df_lesson_result.loc[i,"twogram_pair"] = var2
            df_lesson_result.loc[i,"freq_twogram_pair"] = freq_var2
            try:
                while word_count(df_lesson_result, word_thresh_num): # word count result                
                    b += 1
                    var2 = df_output_result.iloc[b,4]
                    freq_var2 = df_output_result.iloc[b,5]
                    df_lesson_result.loc[i,"twogram_pair"] = var2
                    df_lesson_result.loc[i,"freq_twogram_pair"] = freq_var2
                else:
                    pass
            except:
                df_lesson_result.loc[i,"twogram_pair"] = np.nan
                df_lesson_result.loc[i,"freq_twogram_pair"] = np.nan
        else:
            pass
    except:
        pass
    b += 1

In [18]:
df_lesson_result

    word   freq_word twogram freq_twogram twogram_pair freq_twogram_pair
0    bir  18835735.0     NaN          NaN          NaN               NaN
1     bu  11062659.0     NaN          NaN          NaN               NaN
2     ne   8025880.0     NaN          NaN          NaN               NaN
3     ve   7766036.0     NaN          NaN          NaN               NaN
4   için   5484109.0     NaN          NaN          NaN               NaN
..   ...         ...     ...          ...          ...               ...
95   NaN         NaN     NaN          NaN          NaN               NaN
96   NaN         NaN     NaN          NaN          NaN               NaN
97   NaN         NaN     NaN          NaN          NaN               NaN
98   NaN         NaN     NaN          NaN          NaN               NaN
99   NaN         NaN     NaN          NaN          NaN               NaN

[100 rows x 6 columns]