### Data Preprocess

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
# custom character alphabet for word
tr = re.compile(r"[abcçdefgğhıijklmnoöprsştuüvyzqxw]+", re.IGNORECASE|re.UNICODE) # Turkish filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n0123456789'
en = re.compile(r"[abcdefghıijklmnopqrstxuvwyz]+", re.IGNORECASE|re.UNICODE) # English
nl = re.compile(r"[abcdefghıijklmnopqrstxuvwyzāăēĕīĭōŏūŭ]+", re.IGNORECASE|re.UNICODE) # Dutch (Flemenk)
fr = re.compile(r"[abcçdefghıijklmnopqrstxuvwyzàâæèéêëîïôœùûüÿ]+", re.IGNORECASE|re.UNICODE) # French
de = re.compile(r"[abcdefghıijklmnopqrstxuvwyzäöüß]+", re.IGNORECASE|re.UNICODE) # Deutch
es = re.compile(r"[abcdefghıijklmnopqrstxuvwyzñáéíóú]+", re.IGNORECASE|re.UNICODE) # Spanish (¿¡)
pt = re.compile(r"[abcçdefghıijklmnopqrstxuvwyzàáâãéêíóôõú]+", re.IGNORECASE|re.UNICODE) # Portuguese
it = re.compile(r"[abcdefghıijklmnopqrstxuvwyzàéèìòùî]+", re.IGNORECASE|re.UNICODE) # Italian
ar = re.compile(r"[ٿصؼۤڳڲؿڎػڠجڿ٬ٸؽؒؓطۄڀۂؘؔتٚڛےٝڜؖڦ٫ډ۰زۇٖۀ،لۓعٮێڔ۶ؚۧۜڤۏإٞٷؗۖ؈ژۣؕؑٴأۻڸۺگاڴڹۯ؉ْڌ؍ي؟ـٟړۅؐڶُىڽېًۢؠضۚڄٛڏٱۦ٩س٦ڼڂٔۘ٠ښٌٍ۬ٳ۾ٲږذۋٵٜ٘ڞڅںٗهڣۿپڒۥۗڋیؙم؞ثۨٹڵڪظٶۭ١ڭەڨحٕ؎ٺڷٰ۪۫ڻڥۛڑڟټآڡغګ؊ّٯڧڮ؏ۮ؋ؤ٪ؾڗۼق۟دکوِڰڐۃ۽ہفرڇچڝ۴بۈٽڕۡھةٓڃئ؛ڬٙڙڢڱۊَۆۉځ۠ۍۑۙڊنءڈٻشڍ؇۵كخ\ا]+", re.IGNORECASE|re.UNICODE) # Arabic

In [3]:
def clean_text(text):
    text_clean = re.findall(custom_alp, text)
    text_result = " ".join(text_clean)
    return text_result

In [4]:
folder_name = "Turkish"
custom_alp = tr

In [5]:
df_word = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name.lower().capitalize()}/Result/Word/Merge/Word_Merge2.xlsx")
#df_word = pd.read_csv("")
df_word

                  word  frequency
0                  bir   18835735
1               fikret   12101580
2                   bu   11062659
3                   ne    8025880
4                   ve    7766036
...                ...        ...
164296    buldugumuzda         43
164297  boşandıklarını         42
164298    endişenlenme         42
164299    uzaylıymışım         42
164300      söylememis         38

[164301 rows x 2 columns]

In [6]:
df_word.iloc[:,0] = df_word.iloc[:,0].apply(lambda x: clean_text(x))
df_word.dropna(inplace=True)
df_word.drop(df_word[df_word.iloc[:,0] == ""].index, inplace=True)
df_word.reset_index(drop=True, inplace=True)
df_word

                  word  frequency
0                  bir   18835735
1               fikret   12101580
2                   bu   11062659
3                   ne    8025880
4                   ve    7766036
...                ...        ...
164296    buldugumuzda         43
164297  boşandıklarını         42
164298    endişenlenme         42
164299    uzaylıymışım         42
164300      söylememis         38

[164301 rows x 2 columns]

In [7]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np

In [8]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

In [9]:
word_num = 28
df_word = df_word.head(word_num)
df_word

      word  frequency
0      bir   18835735
1   fikret   12101580
2       bu   11062659
3       ne    8025880
4       ve    7766036
5     için    5484109
6       mi    5362714
7      ben    4908913
8       de    4880315
9      çok    4852169
10     ama    4661966
11     var    4389551
12    evet    4324786
13      mı    4001316
14   değil    3883885
15      da    3610161
16     şey    3602024
17   hayır    3406992
18    daha    3317577
19     sen    3283654
20   kadar    2697900
21    bana    2659182
22     yok    2491685
23     onu    2486889
24    seni    2454988
25    beni    2446696
26    bunu    2445337
27    gibi    2427957

In [10]:
word_list = df_word["word"].values.tolist()

In [64]:
data_kind = "threegram" # twogram, fourgram
spec_folder = "N Gram" # Sentence, N Gram

In [65]:
df = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name.lower().capitalize()}/Result/{spec_folder.lower().capitalize()}/Merge/{data_kind.lower().capitalize()}_Merge.csv") # sentence, n gram dataframe
df

                        threegram  frequency
0                     bir şey yok     113165
1                     bir şey var     110455
2                        bu da ne      89463
3                 her şey yolunda      75968
4                   başka bir şey      75193
...                           ...        ...
3009751        haydi büyük fikret          5
3009752     fikret caesardan beri          5
3009753       fikret cage kazandı          5
3009754      haydi bakayım fikret          5
3009755  şimdilik hoşçakal fikret          5

[3009756 rows x 2 columns]

In [66]:
d_list  = df.iloc[:,0].values.tolist()

In [67]:
resultlist = []

In [68]:
#import os
#from multiprocessing import Process, Manager, Pool, Queue
manager = multiprocessing.Manager()
resultlist = manager.list()

def word_in_wordgroup(d_list):
    mergelist = []
    try:
        word = d_list.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist.append(d_list)
                        
if __name__ == '__main__':
    # with Pool(16) as p:
    with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
        p.map(word_in_wordgroup, d_list) # string_word liste

In [69]:
result_list = list(resultlist)
df_result = pd.DataFrame(result_list)
df_result = df_result.rename(columns = {0: f"{data_kind}"})
df_merge = pd.merge(df_result, df, how="left", on=f"{data_kind}")
df_merge_result = df_merge.sort_values(by="frequency", ascending=False)
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

              threegram  frequency
0           bir şey yok     113165
1           bir şey var     110455
2              bu da ne      89463
3     hayır hayır hayır      69443
4         bir şey değil      68498
...                 ...        ...
4138     ve fikret evet          5
4139   ama değil fikret          5
4140    fikret için yok          5
4141   fikret çok değil          5
4142    hayır fikret mi          5

[4143 rows x 2 columns]

In [70]:
df_merge_result.to_excel(f"{data_kind.lower().capitalize()}_With_{word_num}_Word.xlsx", index=False)

In [20]:
#df_word.to_excel(f"Word_{word_num}.xlsx", sheet_name='Word', index=False)