### Levels

In [1]:
import pandas as pd
import numpy as np
import re
import glob

In [2]:
folder_name = "Turkish"

#### Level 1

In [3]:
word_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/Level 1/Word*")
word_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 1/Word_28.xlsx']

In [4]:
df_word_level1 = pd.read_excel(f"{word_file[0]}")
df_word_level1

     word  frequency
0     bir   18835735
1      bu   11062659
2      ne    8025880
3      ve    7766036
4    için    5484109
5      mi    5362714
6     ben    4908913
7      de    4880315
8     çok    4852169
9     ama    4661966
10    var    4389551
11   evet    4324786
12     mı    4001316
13  değil    3883885
14     da    3610161
15    şey    3602024
16  hayır    3406992
17   daha    3317577
18    sen    3283654
19  kadar    2697900
20   bana    2659182
21    yok    2491685
22    onu    2486889
23   seni    2454988
24   beni    2446696
25   bunu    2445337
26   gibi    2427957
27    iyi    2383224

In [5]:
sent_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/Level 1/Sentence*")
sent_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 1/Sentence_1511_With_28_Word.xlsx']

In [6]:
df_sent_level1 = pd.read_excel(f"{sent_file[0]}")
df_sent_level1

                     sentence  frequency               code
0                        evet    1948596   G1-L4-F1948596-0
1                       hayır    1250401   G1-L5-F1250401-2
2                          ne     753105    G1-L2-F753105-4
3                         ben     130502   G1-L3-F130502-33
4                 hayır hayır     114120  G2-L11-F114120-40
...                       ...        ...                ...
1506            ve bu da bana          6  G4-L13-F6-2819645
1507  bir de bir şey daha var          6  G6-L23-F6-2841819
1508     bir de bir şey değil          6  G5-L20-F6-2841793
1509            bir de bir de          6  G4-L13-F6-2841507
1510              ve bu ve bu          6  G4-L11-F6-2862967

[1511 rows x 3 columns]

In [7]:
twogram_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/Level 1/Twogram*")
twogram_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 1/Twogram_711_With_28_Word.xlsx']

In [8]:
df_twogram_level1 = pd.read_excel(f"{twogram_file[0]}")
df_twogram_level1

         twogram  frequency
0        bir şey     859944
1       değil mi     585879
2         ben de     377765
3         var mı     281902
4    hayır hayır     266457
..           ...        ...
706       şey da          6
707       çok de          6
708   gibi kadar          6
709    çok hayır          6
710   evet kadar          6

[711 rows x 2 columns]

In [9]:
threegram_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/Level 1/Threegram*")
threegram_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 1/Threegram_3876_With_28_Word.xlsx']

In [10]:
df_threegram_level1 = pd.read_excel(f"{threegram_file[0]}")
df_threegram_level1

              threegram  frequency
0           bir şey yok     113165
1           bir şey var     110455
2              bu da ne      89463
3     hayır hayır hayır      69443
4         bir şey değil      68498
...                 ...        ...
3871      ama hayır var         10
3872     ama hayır daha         10
3873       şey iyi daha         10
3874      şey daha seni         10
3875       ve hayır ben         10

[3876 rows x 2 columns]

In [11]:
fourgram_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/Level 1/Fourgram*")
fourgram_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 1/Fourgram_2823_With_28_Word.xlsx']

In [12]:
df_fourgram_level1 = pd.read_excel(f"{fourgram_file[0]}")
df_fourgram_level1

                     fourgram  frequency
0              bir şey var mı      41773
1            bir şey daha var      12185
2     hayır hayır hayır hayır      11959
3              bir şey mi var      11834
4               ne var ne yok       9276
...                       ...        ...
2818           ne var daha ne          7
2819           mi bu kadar mı          7
2820           ben de ama çok          7
2821         ben de bunu bana          7
2822            ben de mi var          7

[2823 rows x 2 columns]

In [13]:
fivegram_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/Level 1/Fivegram*")
fivegram_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 1/Fivegram_487_With_28_Word.xlsx']

In [14]:
df_fivegram_level1 = pd.read_excel(f"{fivegram_file[0]}")
df_fivegram_level1

                          fivegram  frequency
0    hayır hayır hayır hayır hayır       4380
1             bu iyi bir şey değil       1423
2                bu iyi bir şey mi       1357
3             iyi bir şey değil mi       1057
4             bir şey yok değil mi        893
..                             ...        ...
482             de bu daha iyi bir         10
483            bir bir bir bir bir         10
484          sen ve ben gibi değil         10
485         evet sen evet sen evet         10
486               ve bir de ne var         10

[487 rows x 2 columns]

##### Lessons

In [15]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np

In [16]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

In [17]:
word_num = 7
df_select = df_word_level1.iloc[0:word_num,]
df_select

   word  frequency
0   bir   18835735
1    bu   11062659
2    ne    8025880
3    ve    7766036
4  için    5484109
5    mi    5362714
6   ben    4908913

In [18]:
word_list = df_select["word"].values.tolist()

In [19]:
sent_ngram_file = "Five" # Two, Three, Four, Five
data_kind = f"{sent_ngram_file}gram" # Twogram, Threegram, Fourgram, Fivegram

In [20]:
df_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/Level 1/{data_kind.lower().capitalize()}*")
df_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 1/Fivegram_487_With_28_Word.xlsx']

In [21]:
df = pd.read_excel(f"{df_file[0]}")
df

                          fivegram  frequency
0    hayır hayır hayır hayır hayır       4380
1             bu iyi bir şey değil       1423
2                bu iyi bir şey mi       1357
3             iyi bir şey değil mi       1057
4             bir şey yok değil mi        893
..                             ...        ...
482             de bu daha iyi bir         10
483            bir bir bir bir bir         10
484          sen ve ben gibi değil         10
485         evet sen evet sen evet         10
486               ve bir de ne var         10

[487 rows x 2 columns]

In [22]:
d_list  = df.iloc[:,0].values.tolist()

In [23]:
resultlist = []

In [24]:
#import os
#from multiprocessing import Process, Manager, Pool, Queue
manager = multiprocessing.Manager()
resultlist = manager.list()

def word_in_wordgroup(d_list):
    mergelist = []
    try:
        word = d_list.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist.append(d_list)
                        
if __name__ == '__main__':
    # with Pool(16) as p:
    with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
        p.map(word_in_wordgroup, d_list) # string_word liste

In [25]:
result_list = list(resultlist)
df_result = pd.DataFrame(result_list)
df_result = df_result.rename(columns = {0: f"{data_kind.lower()}"})
df_merge = pd.merge(df_result, df, how="left", on=f"{data_kind.lower()}")
df_merge_result = df_merge.sort_values(by="frequency", ascending=False)
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

              fivegram  frequency
0  ben ben ben ben ben         64
1       ne ne ne ne ne         21
2     mi ben mi ben mi         10
3    ben mi ben mi ben         10
4  bir bir bir bir bir         10

In [26]:
df_sent_ngram_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Result/N Gram/N Gram And Sentence/{sent_ngram_file}*")
df_sent_ngram_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Result/N Gram/N Gram And Sentence/Five_Gram_And_Sentence.csv']

In [27]:
df_sent_ngram = pd.read_csv(f"{df_sent_ngram_file[0]}")
df_sent_ngram.rename(columns={df_sent_ngram.columns[0]:f"{data_kind.lower()}"}, inplace=True)
df_sent_ngram = df_sent_ngram[[f"{data_kind.lower()}"]]
df_sent_ngram

                                       fivegram
0                         bu da ne demek oluyor
1                          başka bir şey var mı
2                  sana bir şey sorabilir miyim
3              sana bir şey göstermek istiyorum
4                          bu da ne demek şimdi
...                                         ...
79916               bana bir galip getir fikret
79917                 bana bir yön gerek fikret
79918       seninle çalışmak çok güzeldi fikret
79919   fikret bana kimseye anlatmamamı söyledi
79920  fikret kütüphane dosyalarına bakar mısın

[79921 rows x 1 columns]

In [28]:
df_sent_ngram_merge = pd.merge(df_sent_ngram, df_merge_result, how="inner", on=f"{data_kind.lower()}")
df_sent_ngram_merge.sort_values(by="frequency", ascending=False, inplace=True)
df_sent_ngram_merge.reset_index(drop=True, inplace=True)
df_sent_ngram_merge

Empty DataFrame
Columns: [fivegram, frequency]
Index: []

In [29]:
data_len = len(df_sent_ngram_merge)
#data_len

In [30]:
df_sent_ngram_merge = df_sent_ngram_merge.head(1000000)

In [ ]:
#df_sent_ngram_merge.to_excel(f"{data_kind.lower().capitalize()}_And_Sentence_{data_len}_With_{word_num}_Word.xlsx", index=False)

In [ ]:
#df_select.to_excel(f"Word_{word_num}.xlsx", index=False)

##### Different Language Word In Each Other

In [31]:
word_num = 7
df_select = df_word_level1.iloc[0:word_num,]
df_select

   word  frequency
0   bir   18835735
1    bu   11062659
2    ne    8025880
3    ve    7766036
4  için    5484109
5    mi    5362714
6   ben    4908913

In [32]:
word_list = df_select["word"].values.tolist()

In [33]:
data_kind = "twogram"

In [34]:
df_ngram_arabic = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Result/Other/Arabic/{data_kind.lower().capitalize()}_Include_Arabic_Word.csv")
df_ngram_arabic

         word          twogram  frequency
0         aba   aba sayılardan         14
1         aba         aba için          7
2         aba         önce aba          7
3         abd    abd donanması        196
4         abd       fikret abd        185
...       ...              ...        ...
552771  ebedi       için ebedi          6
552772  ebedi       onun ebedi          6
552773  ebedi  doğaötesi ebedi          6
552774  ebedi       izin ebedi          6
552775  ebedi      dikip ebedi          6

[552776 rows x 3 columns]

In [35]:
data_list = df_ngram_arabic.iloc[:,1].values.tolist()

In [36]:
resultlist2 = []

In [37]:
#import os
#from multiprocessing import Process, Manager, Pool, Queue
manager = multiprocessing.Manager()
resultlist2 = manager.list()

def word_in_wordgroup(data_list):
    mergelist = []
    try:
        word = data_list.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist2.append(data_list)
                        
if __name__ == '__main__':
    # with Pool(16) as p:
    with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
        p.map(word_in_wordgroup, data_list) # string_word liste

In [38]:
result_list2 = list(resultlist2)
df_result2 = pd.DataFrame(result_list2)
df_result2 = df_result2.rename(columns = {0: f"{data_kind.lower()}"})
df_merge2 = pd.merge(df_result2, df_ngram_arabic, how="left", on=f"{data_kind.lower()}")
df_merge_result2 = df_merge2.sort_values(by="frequency", ascending=False)
df_merge_result2.drop_duplicates(inplace=True)
df_merge_result2.reset_index(drop=True, inplace=True)
df_merge_result2

    twogram word  frequency
0    ve ben   ve      57423
1     ve bu   ve      38556
2    ve bir   ve      32962
3     ve ne   ve       8651
4    ben ve   ve       7906
5    bir ve   ve       1128
6     bu ve   ve        909
7   için ve   ve        898
8     ve ve   ve        805
9     ne ve   ve        241
10  ve için   ve         78
11    mi ve   ve         13
12    ve mi   ve          8

In [40]:
data_len2 = len(df_merge_result2)
#data_len

In [41]:
#df_merge_result2.to_excel(f"{data_kind.lower().capitalize()}_{data_len2}_Include_Arabic_With_{word_num}_Word.xlsx", index=False)

#### Level 2

In [7]:
df_word_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word_all

                 word  frequency
0                 bir   18835735
1                  bu   11062659
2                  ne    8025880
3                  ve    7766036
4                için    5484109
...               ...        ...
1005970       karnaya          5
1005971   dörtlümüzün          5
1005972  karnavalınız          5
1005973      hurmanın          5
1005974           her          5

[1005975 rows x 2 columns]

In [8]:
df_shared = pd.read_excel("Turkish_English_Shared_Join_Result_Without_Frequency.xlsx")
df_shared

,word,twogram,threegram,fourgram,fivegram,sentence
0,abaküs,bir abaküs,NaN,NaN,NaN,bu bir abaküs
1,abanoz,"abanoz bunu, için abanoz, bu abanoz, stres abanoz",NaN,NaN,NaN,doktor bu abanoz
2,abiye,"abiye bir, abiye çok, abiye beni",NaN,NaN,NaN,NaN
3,abluka,bir abluka,NaN,NaN,NaN,"bu bir abluka, abluka mı"
4,abrakadabra,"abrakadabra de, abrakadabra ve",NaN,NaN,NaN,ve abrakadabra
...,...,...,...,...,...,...
1660,pik,NaN,NaN,NaN,NaN,bir pik
1661,rulet,NaN,NaN,NaN,NaN,"rulet mi, rulet gibi"
1662,tekniker,NaN,NaN,NaN,NaN,bir tekniker
1663,tork,NaN,NaN,NaN,NaN,tork var
1664,varyete,NaN,NaN,NaN,NaN,evet varyete

In [20]:
df_shared.word.nunique()

1665

In [9]:
set_word = set(df_word_all.word)
set_shared = set(df_shared.word)

In [17]:
df_test = pd.merge(df_shared, df_word_all, how="left", on="word")
df_test.drop_duplicates(inplace=True)
df_test

,word,twogram,threegram,fourgram,fivegram,sentence,frequency
0,abaküs,bir abaküs,NaN,NaN,NaN,bu bir abaküs,158.0
1,abanoz,"abanoz bunu, için abanoz, bu abanoz, stres abanoz",NaN,NaN,NaN,doktor bu abanoz,322.0
2,abiye,"abiye bir, abiye çok, abiye beni",NaN,NaN,NaN,NaN,345.0
3,abluka,bir abluka,NaN,NaN,NaN,"bu bir abluka, abluka mı",669.0
4,abrakadabra,"abrakadabra de, abrakadabra ve",NaN,NaN,NaN,ve abrakadabra,553.0
...,...,...,...,...,...,...,...
1802,pik,NaN,NaN,NaN,NaN,bir pik,139.0
1803,rulet,NaN,NaN,NaN,NaN,"rulet mi, rulet gibi",838.0
1804,tekniker,NaN,NaN,NaN,NaN,bir tekniker,119.0
1805,tork,NaN,NaN,NaN,NaN,tork var,349.0
1806,varyete,NaN,NaN,NaN,NaN,evet varyete,185.0

In [18]:
df_test = df_test.sort_values(by="frequency", ascending=False)
df_test.reset_index(drop=True, inplace=True)
df_test

,word,twogram,threegram,fourgram,fivegram,sentence,frequency
0,bir,"bir şey, bu bir, iyi bir, bir daha, ben bir, b...","bir şey yok, bir şey var, bir şey değil, bir ş...","bir şey var mı, bir şey daha var, bir şey mi v...","bu iyi bir şey değil, bu iyi bir şey mi, iyi b...","bir şey değil, yok bir şey, bir şey yok, bir ş...",18835735.0
1,bu,"bu kadar, bu da, bu çok, bu bir, bu ne, ama bu...","bu da ne, bu iyi bir, bu kadar mı, ve bu da, b...","bu iyi bir şey, bu çok iyi bir, bu şey de ne, ...","bu iyi bir şey değil, bu iyi bir şey mi, bu da...","bu da ne, bu ne, bu kadar, bu kadar mı, bu iyi...",11062659.0
2,ne,"ne kadar, ne var, da ne, bu ne, sen ne, ne içi...","bu da ne, ne kadar da, daha ne kadar, için ne ...","ne var ne yok, bu şey de ne, daha ne kadar var...","ne sen ne de ben, ne kadar komik değil mi, ne ...","ne var, bu da ne, ne için, bu ne, ne kadar, ne...",8025880.0
3,ve,"ve ben, ve bu, ve bir, sen ve, ve sen, ve onu,...","sen ve ben, ve ben de, ve sen de, ve bu da, ve...","ve bir şey daha, ve sen de bunu, ve ben de onu...","ve bir şey daha var, ve bu iyi bir şey, ve bir...","sen ve ben, ve sen, ve ben, ve bu, ve ne, ve b...",7766036.0
4,için,"için bir, için çok, ne için, için mi, için ne,...","için bir şey, için ne kadar, için iyi bir, bir...","için daha iyi bir, için çok iyi bir, için bir ...","için bir şey var mı, için iyi bir şey değil, i...","ne için, bu ne için, şey için, ne için bu, şan...",5484109.0
...,...,...,...,...,...,...,...
1800,i̇spanyolca,"i̇spanyolca mı, ben i̇spanyolca, ve i̇spanyolc...","bir de i̇spanyolca, i̇spanyolca bir şey, ben d...",i̇spanyolca ve bu bir,NaN,"i̇spanyolca mı, bu i̇spanyolca, bu i̇spanyolca...",NaN
1801,metres,"bir metres, ben metres, metres var, var metres",NaN,NaN,NaN,"metres mi, evet metres",NaN
1802,paparazzi,"paparazzi mi, bu paparazzi",NaN,NaN,NaN,"paparazzi mi, bir paparazzi",NaN
1803,pilates,"pilates mi, ne pilates, iyi pilates, ben pilates",ne pilates mi,NaN,NaN,pilates mi,NaN
1804,teras,"bir teras, teras yok, ben teras, teras var",bir teras var,NaN,NaN,"teras mı, evet teras",NaN

In [21]:
df_test.word.nunique()

1665

In [19]:
df_test.to_excel("Turkish_Shared_Freq_Added.xlsx", index=False)

In [10]:
set_shared.difference(set_word)

{'aks',
 'barmen',
 'i̇roni',
 'i̇spanyol',
 'i̇spanyolca',
 'metres',
 'paparazzi',
 'pilates',
 'teras'}

In [11]:
len(set_shared.difference(set_word))

9