### Levels

In [5]:
import pandas as pd
import numpy as np
import re
import glob

In [6]:
folder_name = "Turkish"

#### Level 1

In [7]:
word_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/Level 1/Word*")
word_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 1/Word_28.xlsx']

In [9]:
df_word_level1 = pd.read_excel(f"{word_file[0]}")
df_word_level1

     word  frequency
0     bir   18835735
1      bu   11062659
2      ne    8025880
3      ve    7766036
4    için    5484109
5      mi    5362714
6     ben    4908913
7      de    4880315
8     çok    4852169
9     ama    4661966
10    var    4389551
11   evet    4324786
12     mı    4001316
13  değil    3883885
14     da    3610161
15    şey    3602024
16  hayır    3406992
17   daha    3317577
18    sen    3283654
19  kadar    2697900
20   bana    2659182
21    yok    2491685
22    onu    2486889
23   seni    2454988
24   beni    2446696
25   bunu    2445337
26   gibi    2427957
27    iyi    2383224

In [10]:
sent_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/Level 1/Sentence*")
sent_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 1/Sentence_1511_With_28_Word.xlsx']

In [11]:
df_sent_level1 = pd.read_excel(f"{sent_file[0]}")
df_sent_level1

                     sentence  frequency               code
0                        evet    1948596   G1-L4-F1948596-0
1                       hayır    1250401   G1-L5-F1250401-2
2                          ne     753105    G1-L2-F753105-4
3                         ben     130502   G1-L3-F130502-33
4                 hayır hayır     114120  G2-L11-F114120-40
...                       ...        ...                ...
1506            ve bu da bana          6  G4-L13-F6-2819645
1507  bir de bir şey daha var          6  G6-L23-F6-2841819
1508     bir de bir şey değil          6  G5-L20-F6-2841793
1509            bir de bir de          6  G4-L13-F6-2841507
1510              ve bu ve bu          6  G4-L11-F6-2862967

[1511 rows x 3 columns]

In [12]:
twogram_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/Level 1/Twogram*")
twogram_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 1/Twogram_711_With_28_Word.xlsx']

In [13]:
df_twogram_level1 = pd.read_excel(f"{twogram_file[0]}")
df_twogram_level1

         twogram  frequency
0        bir şey     859944
1       değil mi     585879
2         ben de     377765
3         var mı     281902
4    hayır hayır     266457
..           ...        ...
706       şey da          6
707       çok de          6
708   gibi kadar          6
709    çok hayır          6
710   evet kadar          6

[711 rows x 2 columns]

In [14]:
threegram_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/Level 1/Threegram*")
threegram_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 1/Threegram_3876_With_28_Word.xlsx']

In [15]:
df_threegram_level1 = pd.read_excel(f"{threegram_file[0]}")
df_threegram_level1

              threegram  frequency
0           bir şey yok     113165
1           bir şey var     110455
2              bu da ne      89463
3     hayır hayır hayır      69443
4         bir şey değil      68498
...                 ...        ...
3871      ama hayır var         10
3872     ama hayır daha         10
3873       şey iyi daha         10
3874      şey daha seni         10
3875       ve hayır ben         10

[3876 rows x 2 columns]

In [16]:
fourgram_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/Level 1/Fourgram*")
fourgram_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 1/Fourgram_2823_With_28_Word.xlsx']

In [17]:
df_fourgram_level1 = pd.read_excel(f"{fourgram_file[0]}")
df_fourgram_level1

                     fourgram  frequency
0              bir şey var mı      41773
1            bir şey daha var      12185
2     hayır hayır hayır hayır      11959
3              bir şey mi var      11834
4               ne var ne yok       9276
...                       ...        ...
2818           ne var daha ne          7
2819           mi bu kadar mı          7
2820           ben de ama çok          7
2821         ben de bunu bana          7
2822            ben de mi var          7

[2823 rows x 2 columns]

In [18]:
fivegram_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/Level 1/Fivegram*")
fivegram_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 1/Fivegram_487_With_28_Word.xlsx']

In [19]:
df_fivegram_level1 = pd.read_excel(f"{fivegram_file[0]}")
df_fivegram_level1

                          fivegram  frequency
0    hayır hayır hayır hayır hayır       4380
1             bu iyi bir şey değil       1423
2                bu iyi bir şey mi       1357
3             iyi bir şey değil mi       1057
4             bir şey yok değil mi        893
..                             ...        ...
482             de bu daha iyi bir         10
483            bir bir bir bir bir         10
484          sen ve ben gibi değil         10
485         evet sen evet sen evet         10
486               ve bir de ne var         10

[487 rows x 2 columns]

##### Lessons

In [25]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np

In [26]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

In [27]:
word_num = 7
df_select = df_word_level1.iloc[0:word_num,]
df_select

   word  frequency
0   bir   18835735
1    bu   11062659
2    ne    8025880
3    ve    7766036
4  için    5484109
5    mi    5362714
6   ben    4908913

In [28]:
word_list = df_select["word"].values.tolist()

In [35]:
data_kind = "Twogram" # Twogram, Threegram, Fourgram, Fivegram
df_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Deployment/Result/Level 1/{data_kind.lower().capitalize()}*")
df_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Deployment/Result/Level 1/Twogram_711_With_28_Word.xlsx']

In [36]:
df = pd.read_excel(f"{df_file[0]}")
df

         twogram  frequency
0        bir şey     859944
1       değil mi     585879
2         ben de     377765
3         var mı     281902
4    hayır hayır     266457
..           ...        ...
706       şey da          6
707       çok de          6
708   gibi kadar          6
709    çok hayır          6
710   evet kadar          6

[711 rows x 2 columns]

In [37]:
d_list  = df.iloc[:,0].values.tolist()

In [38]:
resultlist = []

In [39]:
#import os
#from multiprocessing import Process, Manager, Pool, Queue
manager = multiprocessing.Manager()
resultlist = manager.list()

def word_in_wordgroup(d_list):
    mergelist = []
    try:
        word = d_list.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist.append(d_list)
                        
if __name__ == '__main__':
    # with Pool(16) as p:
    with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
        p.map(word_in_wordgroup, d_list) # string_word liste

In [40]:
result_list = list(resultlist)
df_result = pd.DataFrame(result_list)
df_result = df_result.rename(columns = {0: f"{data_kind.lower()}"})
df_merge = pd.merge(df_result, df, how="left", on=f"{data_kind.lower()}")
df_merge_result = df_merge.sort_values(by="frequency", ascending=False)
df_merge_result.drop_duplicates(inplace=True)
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

      twogram  frequency
0      bu bir     146347
1       bu ne     101662
2     ben bir      64146
3    için bir      59282
4      ve ben      57423
5     ne için      50196
6      ben mi      45805
7     için mi      38775
8       ve bu      38556
9      ve bir      32962
10    için ne      29645
11     ben ne      22195
12      ne bu      13690
13     ben bu      11855
14      ne mi      10834
15      ve ne       8651
16    için bu       8578
17     ben ve       7906
18    ben ben       7534
19      mi bu       7151
20      ne ne       5577
21      bu bu       3510
22     bu ben       3035
23     bir ne       1980
24     ne bir       1842
25     bir bu       1683
26   için ben       1601
27    bir bir       1509
28      mi ne       1452
29     bir mi       1383
30     bir ve       1128
31     mi ben       1093
32     mi bir       1050
33      bu ve        909
34    için ve        898
35      ve ve        805
36     ne ben        695
37    bir ben        651
38      ne ve        241
39  için için        173
40   ben için        120
41    ve için         78
42      mi mi         58
43   bir için         34
44      mi ve         13
45      ve mi          8
46    bu için          6

In [41]:
sent_ngram_file = "Two" # Two, Three, Four, Five
df_sent_ngram_file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{folder_name}/Result/N Gram/N Gram And Sentence/{sent_ngram_file}*")
df_sent_ngram_file

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Result/N Gram/N Gram And Sentence/Two_Gram_And_Sentence.csv']

In [49]:
df_sent_ngram = pd.read_csv(f"{df_sent_ngram_file[0]}")
df_sent_ngram.rename(columns={df_sent_ngram.columns[0]:f"{data_kind.lower()}"}, inplace=True)
df_sent_ngram = df_sent_ngram[[f"{data_kind.lower()}"]]
df_sent_ngram

                    twogram
0           teşekkür ederim
1                   öyle mi
2                   ne oldu
3               aman tanrım
4              özür dilerim
...                     ...
33445      arenadaki fikret
33446       fikret whitsell
33447     evlatlığım fikret
33448       fikret guschuck
33449  seyretmeliyim fikret

[33450 rows x 1 columns]

In [52]:
df_sent_ngram_merge = pd.merge(df_sent_ngram, df_merge_result, how="inner", on=f"{data_kind.lower()}")
df_sent_ngram_merge.sort_values(by="frequency", ascending=False, inplace=True)
df_sent_ngram_merge.reset_index(drop=True, inplace=True)
df_sent_ngram_merge

    twogram  frequency
0    bu bir     146347
1     bu ne     101662
2   ben bir      64146
3    ve ben      57423
4   ne için      50196
5    ben mi      45805
6     ve bu      38556
7    ve bir      32962
8    ben ne      22195
9     ne bu      13690
10    ne mi      10834
11    ve ne       8651
12  ben ben       7534
13    ne ne       5577
14    bu bu       3510
15   bir ne       1980
16   bir mi       1383

In [53]:
data_len = len(df_sent_ngram_merge)
#data_len

In [ ]:
df_sent_ngram_merge.to_excel(f"{data_kind.lower().capitalize()}_And_Sentence_{data_len}_With_{word_num}_Word.xlsx", index=False)