### Shared Word

In [89]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np
import glob
import nltk
from nltk import word_tokenize

In [90]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

In [140]:
lang_folder = "Turkish"  # Primary language
lang_pair = "Spanish"  # Arabic, English, French, German, Turkish, Italian, Spanish, Portuguese, Dutch

In [141]:
def remove_repetition(word_group):
    words = word_tokenize(word_group)
    word_unique = set(words)
    if len(word_unique) == 1:
        return "repetitive_word_group"
    else:
        return word_group

In [142]:
lang_pair_list = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()}_And_{lang_pair.lower().capitalize()}*_All.xlsx")
lang_pair_list

['/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/Turkish/Turkish_And_Spanish (spa)_Etymologeek_Result_All.xlsx']

In [143]:
df_pair = pd.read_excel(f"{lang_pair_list[0]}")
df_pair

,search_word,dict_entry_main,language_main,definition_main,dict_entry,language,definition
0,sigara,sigara,Turkish,(Noun) Cigarette.Cigarette.,cigarro,Spanish (spa),Cigar. Cigarette.
1,avokado,avokado,Turkish,(Noun) Advocate. Attorney. Lawyer (professiona...,avocado,Spanish (spa),Avocado.
2,sıfır,sıfır,Turkish,(Numeral) (cardinal) zero.(cardinal) zero.,zero,Spanish (spa),NaN
3,çikolata,çikolata,Turkish,(Noun) Chocolate.Chocolate.,chocolate,Spanish (spa),(slang) hashish (the leaves of the Indian hemp...
4,şampanya,şampanya,Turkish,(Noun) Champagne.Champagne.,campaña,Spanish (spa),(heraldiccharge) base. Campaign. Countryside.
5,gitar,gitar,Turkish,(Noun) (musical instruments) guitar.(musical i...,guitarra,Spanish (spa),Guitar.
6,domates,domates,Turkish,(Noun) Tomato.Tomato.,tomates,Spanish (spa),NaN
7,fatura,fatura,Turkish,(Noun) Bill. Fabric sample. Invoice. Note.Bill...,hacer,Spanish (spa),(reflexive) to become; to get. (reflexive) to ...
8,puro,puro,Turkish,(Noun) Cigar.Cigar.,puro,Spanish (spa),"Alone, mere, nothing less than. Pure, clear Ci..."
9,amigo,amigo,Turkish,(Noun),amigo,Spanish (spa),Friends
10,cunta,cunta,Turkish,(Noun),cunta,Spanish (spa),Cunta
11,taco,taco,Turkish,(Noun),taco,Spanish (spa),A taco is a traditional Mexican dish consistin...
12,kanarya,kanarya,Turkish,(Noun),canario,Spanish (spa),Canary
13,mandalina,mandalina,Turkish,(Noun),mandarin,Spanish (spa),"The mandarin orange, also known as the mandari..."
14,patates,patates,Turkish,(Noun),patatas,Spanish (spa),The potato is a starchy tuber of the plant Sol...
15,tortilla,tortilla,Turkish,(Noun),tortilla,Spanish (spa),"A tortilla is a thin, circular unleavened flat..."
16,boyoz,boyoz,Turkish,(Noun),boyoz,Spanish (spa),Boyoz is a Turkish pastry of Sephardic Jewish ...
17,flamenko,flamenko,Turkish,(Noun),flamenko,Spanish (spa),"Flamenco, in its strictest sense, is an art fo..."
18,palavra,palavra,Turkish,(Noun),palabra,Spanish (spa),"In linguistics, a word of a spoken language ca..."
19,papel,papel,Turkish,(Noun),papel,Spanish (spa),"A banknote—also called a bill, paper money, or..."
20,plaza,plaza,Turkish,(Noun),plaza,Spanish (spa),From Spanish plaza (“town-square or central pl...
21,oley,oley,Turkish,(Noun),ole,Spanish (spa),"Olé, a cheering expression used in Spain"
22,riyal,riyal,Turkish,(Noun),riyal,Spanish (spa),Currency
23,tornado,tornado,Turkish,(Noun),tornado,Spanish (spa),A tornado is a violently rotating column of ai...

In [144]:
word_list = df_pair["dict_entry_main"].values.tolist()  # will add disable word list

In [173]:
# Select N Gram Type
sent_ngram_file = "Three" # Two, Three, Four, Five, Sentence
 
if sent_ngram_file.lower() != "sentence":
    data_kind = f"{sent_ngram_file}gram"  # Twogram, Threegram, Fourgram, Fivegram
    folder_path = "N Gram"
else:
    data_kind = "sentence"
    folder_path = "Sentence"

In [174]:
df = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/{folder_path.capitalize()}/Merge/{data_kind.capitalize()}_Merge.csv")
#df = df.head(100000)
df

                                      fivegram  frequency
0                         başka bir şey var mı      14104
1                        bu da ne demek oluyor      10205
2                        o kadar da kötü değil       7012
3                       sence de öyle değil mi       6305
4                 sana bir şey sorabilir miyim       6224
...                                        ...        ...
1096831        peder fikret hep şöyle söylerdi          4
1096832  peder fikret intihar etmeye çalışıyor          4
1096833            fikret dolson 12 gün yaşadı          4
1096834             ama fikret diye biri yoktu          4
1096835     okumaz ve düşünmezler derdi fikret          4

[1096836 rows x 2 columns]

In [175]:
d_list  = df.iloc[:,0].values.tolist()

In [176]:
resultlist = []

In [177]:
#import os
#from multiprocessing import Process, Manager, Pool, Queue
manager = multiprocessing.Manager()
resultlist = manager.list()

def word_in_wordgroup(d_list):
    mergelist = []
    try:
        word = d_list.split()
    except:
        pass
    var1 = range(len(word))
    for j in var1:
        if word[j] in word_list:
            mergelist.append(word[j])
            if len(mergelist) == len(word):
                    resultlist.append(d_list)
                        
if __name__ == '__main__':
    # with Pool(16) as p:
    with Pool(nprocs) as p: # Pool number CPU sayısına eşit olursa tüm CPU lar çalışır
        p.map(word_in_wordgroup, d_list) # string_word liste

In [178]:
result_list = list(resultlist)
df_result = pd.DataFrame(result_list, columns=[0])  # add columns parameter for empty result
df_result = df_result.rename(columns = {0: f"{data_kind.lower()}"})
df_merge = pd.merge(df_result, df, how="left", on=f"{data_kind.lower()}")
df_merge_result = df_merge.sort_values(by="frequency", ascending=False)
df_merge_result.drop_duplicates(inplace=True)
df_merge_result[f"{data_kind.lower()}"] = df_merge_result[f"{data_kind.lower()}"].apply(lambda x: remove_repetition(x))  # added remove_repetition 
df_merge_result = df_merge_result[df_merge_result[f"{data_kind.lower()}"] != "repetitive_word_group"]  # remove_repetition part
df_merge_result.reset_index(drop=True, inplace=True)
df_merge_result

Empty DataFrame
Columns: [fivegram, frequency]
Index: []

In [179]:
df_merge_result.to_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_{data_kind.capitalize()}.xlsx", index=False)

#### Concat Result

In [180]:
df_word = df_pair.loc[:,["dict_entry_main"]]
df_word.rename(columns={"dict_entry_main":"word"}, inplace=True)
df_word

         word
0      sigara
1     avokado
2       sıfır
3    çikolata
4    şampanya
5       gitar
6     domates
7      fatura
8        puro
9       amigo
10      cunta
11       taco
12    kanarya
13  mandalina
14    patates
15   tortilla
16      boyoz
17   flamenko
18    palavra
19      papel
20      plaza
21       oley
22      riyal
23    tornado

In [181]:
df_shared_twogram = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Twogram.xlsx")
df_shared_twogram = df_shared_twogram.loc[:,["twogram","frequency"]]
df_shared_twogram.rename(columns={"frequency":"freq_twogram"}, inplace=True)
df_shared_twogram

           twogram  freq_twogram
0  patates domates            40
1      puro sigara            37
2  domates patates            28
3      sigara puro            13
4  çikolata sigara             8

In [182]:
df_shared_threegram = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Threegram.xlsx")
df_shared_threegram = df_shared_threegram.loc[:,["threegram","frequency"]]
df_shared_threegram.rename(columns={"frequency":"freq_threegram"}, inplace=True)
df_shared_threegram

                 threegram  freq_threegram
0  domates patates domates              15
1  patates domates patates              15

In [183]:
df_shared_fourgram = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Fourgram.xlsx")
df_shared_fourgram = df_shared_fourgram.loc[:,["fourgram","frequency"]]
df_shared_fourgram.rename(columns={"frequency":"freq_fourgram"}, inplace=True)
df_shared_fourgram

Empty DataFrame
Columns: [fourgram, freq_fourgram]
Index: []

In [184]:
df_shared_fivegram = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Fivegram.xlsx")
df_shared_fivegram = df_shared_fivegram.loc[:,["fivegram","frequency"]]
df_shared_fivegram.rename(columns={"frequency":"freq_fivegram"}, inplace=True)
df_shared_fivegram

Empty DataFrame
Columns: [fivegram, freq_fivegram]
Index: []

In [185]:
df_shared_sentence = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Sentence.xlsx")
df_shared_sentence = df_shared_sentence.loc[:,["sentence","frequency"]]
df_shared_sentence.rename(columns={"frequency":"freq_sentence"}, inplace=True)
df_shared_sentence

                          sentence  freq_sentence
0  patates domates patates domates             15

In [186]:
df_shared_all = pd.concat([df_word, df_shared_twogram, df_shared_threegram, df_shared_fourgram, df_shared_fivegram, df_shared_sentence], axis=1)
df_shared_all

,word,twogram,freq_twogram,threegram,freq_threegram,fourgram,freq_fourgram,fivegram,freq_fivegram,sentence,freq_sentence
0,sigara,patates domates,40.0,domates patates domates,15.0,NaN,NaN,NaN,NaN,patates domates patates domates,15.0
1,avokado,puro sigara,37.0,patates domates patates,15.0,NaN,NaN,NaN,NaN,NaN,NaN
2,sıfır,domates patates,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,çikolata,sigara puro,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,şampanya,çikolata sigara,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,gitar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,domates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,fatura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,puro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,amigo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,cunta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,taco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,kanarya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,mandalina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,patates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,tortilla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,boyoz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,flamenko,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,palavra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,papel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,plaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,oley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,riyal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,tornado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [187]:
df_shared_all.to_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Result.xlsx", index=False)