### Quaran Form Analysis

In [16]:
#!pip install lang-trans

Collecting lang-trans
  Downloading lang-trans-0.6.0.tar.gz (5.7 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: lang-trans
  Building wheel for lang-trans (setup.py) ... done
  Created wheel for lang-trans: filename=lang_trans-0.6.0-py3-none-any.whl size=6345 sha256=635e91450a7ad11a42441f025154043a1313ab86d649c99fde0705a88103e457
  Stored in directory: /home/kurubal/.cache/pip/wheels/08/fe/b6/e2c130f77a753f4f6030d9f2776a216946955ffc80a1a9c627
Successfully built lang-trans
Installing collected packages: lang-trans
Successfully installed lang-trans-0.6.0

In [1]:
import pandas as pd
import numpy as np
import re
from camel_tools.utils.charmap import CharMapper
from lang_trans.arabic import buckwalter

In [2]:
with open("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Data/Quranic Corpus Morphology.txt", "r", encoding="utf8") as file:
    text = file.read()

#### Form Tag

In [3]:
form_tag_list = re.findall("[\(\d*:\d*:\d*:\d*\)][\t](\D*)[\t][\D*]", text)

In [4]:
form_tag_num = re.findall("(\d*:\d*:\d*:\d*)", text)

In [5]:
df_word = pd.DataFrame(form_tag_num)
df_word.rename(columns={0:"loc_num"}, inplace=True)
df_word

          loc_num
0         1:1:1:1
1         1:1:1:2
2         1:1:2:1
3         1:1:3:1
4         1:1:3:2
...           ...
128214  114:6:2:1
128215  114:6:2:2
128216  114:6:3:1
128217  114:6:3:2
128218  114:6:3:3

[128219 rows x 1 columns]

In [6]:
df_word = df_word["loc_num"].str.split(":", n=-1, expand=True)
df_word.rename(columns={0:"num_1", 1:"num_2", 2:"num_3", 3:"num_4"}, inplace=True)
df_word

       num_1 num_2 num_3 num_4
0          1     1     1     1
1          1     1     1     2
2          1     1     2     1
3          1     1     3     1
4          1     1     3     2
...      ...   ...   ...   ...
128214   114     6     2     1
128215   114     6     2     2
128216   114     6     3     1
128217   114     6     3     2
128218   114     6     3     3

[128219 rows x 4 columns]

In [7]:
df_word["form_tag"] = pd.DataFrame(form_tag_list)
df_word

       num_1 num_2 num_3 num_4         form_tag
0          1     1     1     1            bi\tP
1          1     1     1     2          somi\tN
2          1     1     2     1      {ll~ahi\tPN
3          1     1     3     1          {l\tDET
4          1     1     3     2  r~aHoma`ni\tADJ
...      ...   ...   ...   ...              ...
128214   114     6     2     1         {lo\tDET
128215   114     6     2     2       jin~api\tN
128216   114     6     3     1         wa\tCONJ
128217   114     6     3     2          {l\tDET
128218   114     6     3     3        n~aAsi\tN

[128219 rows x 5 columns]

In [8]:
df_word[["form","tag"]] = df_word["form_tag"].str.split("\t", n=-1, expand=True)
df_word

       num_1 num_2 num_3 num_4         form_tag        form   tag
0          1     1     1     1            bi\tP          bi     P
1          1     1     1     2          somi\tN        somi     N
2          1     1     2     1      {ll~ahi\tPN     {ll~ahi    PN
3          1     1     3     1          {l\tDET          {l   DET
4          1     1     3     2  r~aHoma`ni\tADJ  r~aHoma`ni   ADJ
...      ...   ...   ...   ...              ...         ...   ...
128214   114     6     2     1         {lo\tDET         {lo   DET
128215   114     6     2     2       jin~api\tN     jin~api     N
128216   114     6     3     1         wa\tCONJ          wa  CONJ
128217   114     6     3     2          {l\tDET          {l   DET
128218   114     6     3     3        n~aAsi\tN      n~aAsi     N

[128219 rows x 7 columns]

In [9]:
df_word.drop(["form_tag"], axis=1, inplace=True)

In [10]:
df_word.drop_duplicates(inplace=True)
df_word.reset_index(drop=True, inplace=True)
df_word

       num_1 num_2 num_3 num_4        form   tag
0          1     1     1     1          bi     P
1          1     1     1     2        somi     N
2          1     1     2     1     {ll~ahi    PN
3          1     1     3     1          {l   DET
4          1     1     3     2  r~aHoma`ni   ADJ
...      ...   ...   ...   ...         ...   ...
128214   114     6     2     1         {lo   DET
128215   114     6     2     2     jin~api     N
128216   114     6     3     1          wa  CONJ
128217   114     6     3     2          {l   DET
128218   114     6     3     3      n~aAsi     N

[128219 rows x 6 columns]

In [12]:
#df_word.to_excel("Buckwalter_Form_Tag.xlsx", sheet_name="Form_Tag", index=False)

In [13]:
df_word_concat = pd.DataFrame(df_word.groupby(["num_1","num_2","num_3"])["form"].sum())
df_word_concat.reset_index(inplace=True)
df_word_concat

      num_1 num_2 num_3          form
0         1     1     1        bisomi
1         1     1     2       {ll~ahi
2         1     1     3  {lr~aHoma`ni
3         1     1     4    {lr~aHiymi
4         1     2     1     {loHamodu
...     ...   ...   ...           ...
77424    99     8     2      yaEomalo
77425    99     8     3     mivoqaAla
77426    99     8     4       *ar~apK
77427    99     8     5        $ar~FA
77428    99     8     6       yarahu,

[77429 rows x 4 columns]

In [14]:
#df_word_concat.to_excel("Buckwalter_Form_Concat.xlsx", sheet_name="Concat_Form", index=False)

#### Buckwalter Text

In [15]:
df_word_concat = pd.read_excel("Buckwalter_Form_Concat.xlsx")

In [16]:
df_word_concat

       num_1  num_2  num_3          form
0          1      1      1        bisomi
1          1      1      2       {ll~ahi
2          1      1      3  {lr~aHoma`ni
3          1      1      4    {lr~aHiymi
4          1      2      1     {loHamodu
...      ...    ...    ...           ...
77424     99      8      2      yaEomalo
77425     99      8      3     mivoqaAla
77426     99      8      4       *ar~apK
77427     99      8      5        $ar~FA
77428     99      8      6       yarahu,

[77429 rows x 4 columns]

In [17]:
#concat_list = df_word_concat.iloc[:,3].to_list()

In [30]:
concat_list = df_word_concat.iloc[:,3].head(500).to_list()

In [31]:
#concat_list

In [32]:
buckwalter_text = " ".join(concat_list)
#buckwalter_text

In [44]:
buckwalter_text

'bisomi {ll~ahi {lr~aHoma`ni {lr~aHiymi {loHamodu lil~ahi rab~i {loEa`lamiyna {lr~aHoma`ni {lr~aHiymi ma`liki yawomi {ld~iyni <iy~aAka naEobudu wa<iy~aAka nasotaEiynu {hodinaA {lS~ira`Ta {lomusotaqiyma Sira`Ta {l~a*iyna >anoEamota Ealayohimo gayori {lomagoDuwbi Ealayohimo walaA {lD~aA^l~iyna Al^r tiloka \'aAya`tu {lokita`bi {loHakiymi daEowaY`humo >ani {loHamodu lil~ahi rab~i {loEa`lamiyna fiyhaA suboHa`naka {ll~ahum~a wataHiy~atuhumo fiyhaA sala`mN wa\'aAxiru daEowaY`humo wamaA {lr~ijosa EalaY {l~a*iyna laA yaEoqiluwna kaAna linafosK >an tu&omina <il~aA bi<i*oni {ll~ahi wayajoEalu quli wa{ln~u*uru Ean qawomK l~aA yu&ominuwna {nZuruwA@ maA*aA fiY {ls~ama`wa`ti wa{lo>aroDi wamaA tugoniY {lo\'aAya`tu fahalo qulo fa{ntaZiruw^A@ <in~iY maEakum m~ina {lomuntaZiriyna yantaZiruwna <il~aA mivola >ay~aAmi {l~a*iyna xalawoA@ min qabolihimo vum~a {lomu&ominiyna nunaj~iY rusulanaA wa{l~a*iyna \'aAmanuwA@ ka*a`lika Haq~FA EalayonaA nunji qulo falaA^ >aEobudu {l~a*iyna taEobuduwna min duwni {ll~ahi wala`kino >aEobudu {ll~aha ya`^>ay~uhaA {l~a*iY yatawaf~aY`kumo wa>umirotu >ano >akuwna mina {lomu&ominiyna {ln~aAsu <in kuntumo fiY $ak~K m~in diyniY wa>ano >aqimo wajohaka lild~iyni HaniyfFA walaA takuwnan~a mina {lomu$orikiyna walaA yaDur~uka fa<in faEalota fa<in~aka <i*FA m~ina {lZ~a`limiyna tadoEu min duwni {ll~ahi maA laA yanfaEuka walaA wa<in wa<in yuridoka bixayorK falaA raA^d~a lifaDolihi. yuSiybu bihi. man ya$aA^\'u yamosasoka mino EibaAdihi. wahuwa {logafuwru {lr~aHiymu {ll~ahu biDur~K falaA kaA$ifa lahu,^ <il~aA huwa qulo {hotadaY` fa<in~amaA yahotadiY linafosihi. waman Dal~a fa<in~amaA yaDil~u EalayohaA wamaA^ ya`^>ay~uhaA >anaA" Ealayokum biwakiylK {ln~aAsu qado jaA^\'akumu {loHaq~u min r~ab~ikumo famani wa{t~abiEo xayoru {loHa`kimiyna maA yuwHaY`^ <ilayoka wa{Sobiro Hat~aY` yaHokuma {ll~ahu wahuwa walawo >ajaluhumo fana*aru {l~a*iyna laA yarojuwna liqaA^\'anaA fiY Tugoya`nihimo yaEomahuwna yuEaj~ilu {ll~ahu liln~aAsi {l$~ar~a {sotiEojaAlahum bi{loxayori laquDiYa <ilayohimo wa<i*aA qaA^}imFA falam~aA ka$afonaA Eanohu Dur~ahu, mar~a ka>an l~amo yadoEunaA^ <ilaY` mas~a Dur~K m~as~ahu, ka*a`lika zuy~ina lilomusorifiyna maA kaAnuwA@ yaEomaluwna {lo<insa`na {lD~ur~u daEaAnaA lijan[bihi.^ >awo qaAEidFA >awo walaqado bi{lobay~ina`ti wamaA kaAnuwA@ liyu&ominuwA@ ka*a`lika najoziY {loqawoma {lomujorimiyna >aholakonaA {loquruwna min qabolikumo lam~aA ZalamuwA@ wajaA^\'atohumo rusuluhum vum~a taEomaluwna jaEalona`kumo xala`^}ifa fiY {lo>aroDi min[ baEodihimo linanZura kayofa wa<i*aA liqaA^\'anaA {}oti biquro\'aAnK gayori ha`*aA^ >awo bad~ilohu qulo maA yakuwnu tutolaY` liY^ >ano >ubad~ilahu, min tiloqaA^}i nafosiY^ <ino >at~abiEu <il~aA maA Ealayohimo yuwHaY`^ <ilaY~a <in~iY^ >axaAfu <ino EaSayotu rab~iY Ea*aAba yawomK EaZiymK \'aAyaAtunaA bay~ina`tK qaAla {l~a*iyna laA yarojuwna qul bihi. faqado labivotu fiykumo EumurFA m~in qabolihi.^ >afalaA taEoqiluwna l~awo $aA^\'a {ll~ahu maA talawotuhu, Ealayokumo walaA^ >adoraY`kum famano bi_#aAya`tihi.^ <in~ahu, laA yufoliHu {lomujorimuwna >aZolamu mim~ani {fotaraY` EalaY {ll~ahi ka*ibFA >awo ka*~aba wayaEobuduwna wayaquwluwna ha`^&ulaA^\'i $ufaEa`^&unaA Einda {ll~ahi qulo >atunab~i_#uwna {ll~aha bimaA laA min yaEolamu fiY {ls~ama`wa`ti walaA fiY {lo>aroDi suboHa`nahu, wataEa`laY` Eam~aA yu$orikuwna duwni {ll~ahi maA laA yaDur~uhumo walaA yanfaEuhumo wamaA sabaqato min r~ab~ika laquDiYa bayonahumo fiymaA fiyhi yaxotalifuwna kaAna {ln~aAsu <il~aA^ >um~apF wa`HidapF fa{xotalafuwA@ walawolaA kalimapN >akaAna >an*iri {ln~aAsa waba$~iri {l~a*iyna \'aAmanuw^A@ >an~a lahumo qadama SidoqK Einda liln~aAsi rab~ihimo qaAla {loka`firuwna <in~a ha`*aA lasa`HirN m~ubiynN EajabFA >ano >awoHayonaA^ <ilaY` rajulK m~inohumo >ano wayaquwluwna {logayobu lil~ahi fa{ntaZiruw^A@ <in~iY maEakum m~ina {lomuntaZiriyna lawolaA^ >unzila Ealayohi \'aAyapN m~in r~ab~ihi. faqulo <in~amaA wa<i*aA^ lahum m~akorN fiY^ \'aAyaAtinaA quli {ll~ahu >asoraEu makorFA <in~a rusulanaA >a*aqonaA yakotubuwna maA tamokuruwna {ln~aAsa raHomapF m~in[ baEodi Dar~aA^\'a mas~atohumo <i*aA huwa fiY {lofuloki wajarayona bihim biriyHK Tay~ibapK wafariHuwA@ bihaA jaA^\'atohaA riyHN {l~a*iY EaASifN wajaA^\'ahumu {lomawoju min kul~i makaAnK waZan~uw^A@ >an~ahumo >uHiyTa bihimo yusay~irukumo daEawuA@ {ll~aha muxoliSiyna lahu {ld~iyna la}ino >anjayotanaA mino ha`*ihi. lanakuwnan~a fiY mina {l$~a`kiriyna {lobar~i wa{lobaHori'

#### Arabic Text

In [33]:
# 1 Way camel_tools.utils.charmap
bw2ar = CharMapper.builtin_mapper('bw2ar')

In [38]:
bw2ar = CharMapper.builtin_mapper('safebw2ar')

In [41]:
bw2ar = CharMapper.builtin_mapper('hsb2ar')

In [42]:
arabic_text = bw2ar(buckwalter_text)

In [43]:
arabic_text

'بِسoمِ {للَّهِ {لرَّحoمَ`نِ {لرَّحِيمِ {لoحَمoدُ لِلَّهِ رَبِّ {لoEَ`لَمِينَ {لرَّحoمَ`نِ {لرَّحِيمِ مَ`لِكِ يَوoمِ {لدِّينِ <ِيَّاكَ نَEoبُدُ وَ<ِيَّاكَ نَسoتَEِينُ {هoدِنَا {لصِّرَ`طَ {لoمُسoتَقِيمَ صِرَ`طَ {لَّ*ِينَ >َنoEَمoتَ Eَلَيoهِمo گَيoرِ {لoمَگoضُوبِ Eَلَيoهِمo وَلَا {لضَّا^لِّينَ ال^ر تِلoكَ ءَايَ`تُ {لoكِتَ`بِ {لoحَكِيمِ دَEoوَY`هُمo >َنِ {لoحَمoدُ لِلَّهِ رَبِّ {لoEَ`لَمِينَ فِيهَا سُبoحَ`نَكَ {للَّهُمَّ وَتَحِيَّتُهُمo فِيهَا سَلَ`مN وَءَاخِرُ دَEoوَY`هُمo وَمَا {لرِّجoسَ EَلَY {لَّ*ِينَ لَا يَEoقِلُونَ كَانَ لِنَفoسK >َن تُ&oمِنَ <ِلَّا بِ<ِ*oنِ {للَّهِ وَيَجoEَلُ قُلِ وَ{لنُّ*ُرُ Eَن قَوoمK لَّا يُ&oمِنُونَ {نZُرُوا@ مَا*َا فِY {لسَّمَ`وَ`تِ وَ{لo>َرoضِ وَمَا تُگoنِY {لoءَايَ`تُ فَهَلo قُلo فَ{نتَZِرُو^ا@ <ِنِّY مَEَكُم مِّنَ {لoمُنتَZِرِينَ يَنتَZِرُونَ <ِلَّا مِڤoلَ >َيَّامِ {لَّ*ِينَ خَلَوoا@ مِن قَبoلِهِمo ڤُمَّ {لoمُ&oمِنِينَ نُنَجِّY رُسُلَنَا وَ{لَّ*ِينَ ءَامَنُوا@ كَ*َ`لِكَ حَقّFا Eَلَيoنَا نُنجِ قُلo فَلَا^ >َEoبُدُ {لَّ*ِينَ تَEoبُدُونَ مِن دُونِ {للَّهِ وَلَ`كِنo >َEoبُدُ {للَّهَ يَ`^>َيُّهَا {لَّ*ِY يَتَوَفَّY`كُمo وَ>ُمِرoتُ >َنo >َكُونَ مِنَ {لoمُ&oمِنِينَ {لنَّاسُ <ِن كُنتُمo فِY $َكّK مِّن دِينِY وَ>َنo >َقِمo وَجoهَكَ لِلدِّينِ حَنِيفFا وَلَا تَكُونَنَّ مِنَ {لoمُ$oرِكِينَ وَلَا يَضُرُّكَ فَ<ِن فَEَلoتَ فَ<ِنَّكَ <ِ*Fا مِّنَ {لZَّ`لِمِينَ تَدoEُ مِن دُونِ {للَّهِ مَا لَا يَنفَEُكَ وَلَا وَ<ِن وَ<ِن يُرِدoكَ بِخَيoرK فَلَا رَا^دَّ لِفَضoلِهِْ يُصِيبُ بِهِْ مَن يَ$َا^ءُ يَمoسَسoكَ مِنo Eِبَادِهِْ وَهُوَ {لoگَفُورُ {لرَّحِيمُ {للَّهُ بِضُرّK فَلَا كَا$ِفَ لَهُ,^ <ِلَّا هُوَ قُلo {هoتَدَY` فَ<ِنَّمَا يَهoتَدِY لِنَفoسِهِْ وَمَن ضَلَّ فَ<ِنَّمَا يَضِلُّ Eَلَيoهَا وَمَا^ يَ`^>َيُّهَا >َنَا" Eَلَيoكُم بِوَكِيلK {لنَّاسُ قَدo جَا^ءَكُمُ {لoحَقُّ مِن رَّبِّكُمo فَمَنِ وَ{تَّبِEo خَيoرُ {لoحَ`كِمِينَ مَا يُوحَY`^ <ِلَيoكَ وَ{صoبِرo حَتَّY` يَحoكُمَ {للَّهُ وَهُوَ وَلَوo >َجَلُهُمo فَنَ*َرُ {لَّ*ِينَ لَا يَرoجُونَ لِقَا^ءَنَا فِY طُگoيَ`نِهِمo يَEoمَهُونَ يُEَجِّلُ {للَّهُ لِلنَّاسِ {ل$َّرَّ {سoتِEoجَالَهُم بِ{لoخَيoرِ لَقُضِYَ <ِلَيoهِمo وَ<ِ*َا قَا^}ِمFا فَلَمَّا كَ$َفoنَا Eَنoهُ ضُرَّهُ, مَرَّ كَ>َن لَّمo يَدoEُنَا^ <ِلَY` مَسَّ ضُرّK مَّسَّهُ, كَ*َ`لِكَ زُيِّنَ لِلoمُسoرِفِينَ مَا كَانُوا@ يَEoمَلُونَ {لo<ِنسَ`نَ {لضُّرُّ دَEَانَا لِجَن[بِهِْ^ >َوo قَاEِدFا >َوo وَلَقَدo بِ{لoبَيِّنَ`تِ وَمَا كَانُوا@ لِيُ&oمِنُوا@ كَ*َ`لِكَ نَجoزِY {لoقَوoمَ {لoمُجoرِمِينَ >َهoلَكoنَا {لoقُرُونَ مِن قَبoلِكُمo لَمَّا Zَلَمُوا@ وَجَا^ءَتoهُمo رُسُلُهُم ڤُمَّ تَEoمَلُونَ جَEَلoنَ`كُمo خَلَ`^}ِفَ فِY {لo>َرoضِ مِن[ بَEoدِهِمo لِنَنZُرَ كَيoفَ وَ<ِ*َا لِقَا^ءَنَا {}oتِ بِقُرoءَانK گَيoرِ هَ`*َا^ >َوo بَدِّلoهُ قُلo مَا يَكُونُ تُتoلَY` لِY^ >َنo >ُبَدِّلَهُ, مِن تِلoقَا^}ِ نَفoسِY^ <ِنo >َتَّبِEُ <ِلَّا مَا Eَلَيoهِمo يُوحَY`^ <ِلَYَّ <ِنِّY^ >َخَافُ <ِنo Eَصَيoتُ رَبِّY Eَ*َابَ يَوoمK EَZِيمK ءَايَاتُنَا بَيِّنَ`تK قَالَ {لَّ*ِينَ لَا يَرoجُونَ قُل بِهِْ فَقَدo لَبِڤoتُ فِيكُمo EُمُرFا مِّن قَبoلِهِْ^ >َفَلَا تَEoقِلُونَ لَّوo $َا^ءَ {للَّهُ مَا تَلَوoتُهُ, Eَلَيoكُمo وَلَا^ >َدoرَY`كُم فَمَنo بِـ#َايَ`تِهِْ^ <ِنَّهُ, لَا يُفoلِحُ {لoمُجoرِمُونَ >َZoلَمُ مِمَّنِ {فoتَرَY` EَلَY {للَّهِ كَ*ِبFا >َوo كَ*َّبَ وَيَEoبُدُونَ وَيَقُولُونَ هَ`^&ُلَا^ءِ $ُفَEَ`^&ُنَا Eِندَ {للَّهِ قُلo >َتُنَبِّـ#ُونَ {للَّهَ بِمَا لَا مِن يَEoلَمُ فِY {لسَّمَ`وَ`تِ وَلَا فِY {لo>َرoضِ سُبoحَ`نَهُ, وَتَEَ`لَY` Eَمَّا يُ$oرِكُونَ دُونِ {للَّهِ مَا لَا يَضُرُّهُمo وَلَا يَنفَEُهُمo وَمَا سَبَقَتo مِن رَّبِّكَ لَقُضِYَ بَيoنَهُمo فِيمَا فِيهِ يَخoتَلِفُونَ كَانَ {لنَّاسُ <ِلَّا^ >ُمَّپF وَ`حِدَپF فَ{خoتَلَفُوا@ وَلَوoلَا كَلِمَپN >َكَانَ >َن*ِرِ {لنَّاسَ وَبَ$ِّرِ {لَّ*ِينَ ءَامَنُو^ا@ >َنَّ لَهُمo قَدَمَ صِدoقK Eِندَ لِلنَّاسِ رَبِّهِمo قَالَ {لoكَ`فِرُونَ <ِنَّ هَ`*َا لَسَ`حِرN مُّبِينN EَجَبFا >َنo >َوoحَيoنَا^ <ِلَY` رَجُلK مِّنoهُمo >َنo وَيَقُولُونَ {لoگَيoبُ لِلَّهِ فَ{نتَZِرُو^ا@ <ِنِّY مَEَكُم مِّنَ {لoمُنتَZِرِينَ لَوoلَا^ >ُنزِلَ Eَلَيoهِ ءَايَپN مِّن رَّبِّهِْ فَقُلo <ِنَّمَا وَ<ِ*َا^ لَهُم مَّكoرN فِY^ ءَايَاتِنَا قُلِ {للَّهُ >َسoرَEُ مَكoرFا <ِنَّ رُسُلَنَا >َ*َقoنَا يَكoتُبُونَ مَا تَمoكُرُونَ {لنَّاسَ رَحoمَپF مِّن[ بَEoدِ ضَرَّا^ءَ مَسَّتoهُمo <ِ*َا هُوَ فِY {لoفُلoكِ وَجَرَيoنَ بِهِم بِرِيحK طَيِّبَپK وَفَرِحُوا@ بِهَا جَا^ءَتoهَا رِيحN {لَّ*ِY EَاصِفN وَجَا^ءَهُمُ {لoمَوoجُ مِن كُلِّ مَكَانK وَZَنُّو^ا@ >َنَّهُمo >ُحِيطَ بِهِمo يُسَيِّرُكُمo دَEَوُا@ {للَّهَ مُخoلِصِينَ لَهُ {لدِّينَ لَ}ِنo >َنجَيoتَنَا مِنo هَ`*ِهِْ لَنَكُونَنَّ فِY مِنَ {ل$َّ`كِرِينَ {لoبَرِّ وَ{لoبَحoرِ'

In [36]:
# 2 Way lang_trans.arabic
arabic_text2 = buckwalter.untransliterate(arabic_text)

In [37]:
arabic_text2

'بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ ٱلْحَمْدُ لِلَّهِ رَبِّ ٱلْعَٰلَمِينَ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ مَٰلِكِ يَوْمِ ٱلدِّينِ إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ ٱهْدِنَا ٱلصِّرَٰطَ ٱلْمُسْتَقِيمَ صِرَٰطَ ٱلَّذِينَ أَنْعَمْتَ عَلَيْهِمْ غَيْرِ ٱلْمَغْضُوبِ عَلَيْهِمْ وَلَا ٱلضَّا^لِّينَ ال^ر تِلْكَ ءَايَٰتُ ٱلْكِتَٰبِ ٱلْحَكِيمِ دَعْوَىٰهُمْ أَنِ ٱلْحَمْدُ لِلَّهِ رَبِّ ٱلْعَٰلَمِينَ فِيهَا سُبْحَٰنَكَ ٱللَّهُمَّ وَتَحِيَّتُهُمْ فِيهَا سَلَٰمٌ وَءَاخِرُ دَعْوَىٰهُمْ وَمَا ٱلرِّجْسَ عَلَى ٱلَّذِينَ لَا يَعْقِلُونَ كَانَ لِنَفْسٍ أَن تُؤْمِنَ إِلَّا بِإِذْنِ ٱللَّهِ وَيَجْعَلُ قُلِ وَٱلنُّذُرُ عَن قَوْمٍ لَّا يُؤْمِنُونَ ٱنظُرُوا@ مَاذَا فِى ٱلسَّمَٰوَٰتِ وَٱلْأَرْضِ وَمَا تُغْنِى ٱلْءَايَٰتُ فَهَلْ قُلْ فَٱنتَظِرُو^ا@ إِنِّى مَعَكُم مِّنَ ٱلْمُنتَظِرِينَ يَنتَظِرُونَ إِلَّا مِثْلَ أَيَّامِ ٱلَّذِينَ خَلَوْا@ مِن قَبْلِهِمْ ثُمَّ ٱلْمُؤْمِنِينَ نُنَجِّى رُسُلَنَا وَٱلَّذِينَ ءَامَنُوا@ كَذَٰلِكَ حَقًّا عَلَيْنَا نُنجِ قُلْ فَلَا^ أَعْبُدُ ٱلَّذِينَ تَعْبُدُونَ مِن دُونِ ٱللَّهِ وَلَٰكِنْ أَعْبُدُ ٱللَّهَ يَٰ^أَيُّهَا ٱلَّذِى يَتَوَفَّىٰكُمْ وَأُمِرْتُ أَنْ أَكُونَ مِنَ ٱلْمُؤْمِنِينَ ٱلنَّاسُ إِن كُنتُمْ فِى شَكٍّ مِّن دِينِى وَأَنْ أَقِمْ وَجْهَكَ لِلدِّينِ حَنِيفًا وَلَا تَكُونَنَّ مِنَ ٱلْمُشْرِكِينَ وَلَا يَضُرُّكَ فَإِن فَعَلْتَ فَإِنَّكَ إِذًا مِّنَ ٱلظَّٰلِمِينَ تَدْعُ مِن دُونِ ٱللَّهِ مَا لَا يَنفَعُكَ وَلَا وَإِن وَإِن يُرِدْكَ بِخَيْرٍ فَلَا رَا^دَّ لِفَضْلِهِ. يُصِيبُ بِهِ. مَن يَشَا^ءُ يَمْسَسْكَ مِنْ عِبَادِهِ. وَهُوَ ٱلْغَفُورُ ٱلرَّحِيمُ ٱللَّهُ بِضُرٍّ فَلَا كَاشِفَ لَهُ,^ إِلَّا هُوَ قُلْ ٱهْتَدَىٰ فَإِنَّمَا يَهْتَدِى لِنَفْسِهِ. وَمَن ضَلَّ فَإِنَّمَا يَضِلُّ عَلَيْهَا وَمَا^ يَٰ^أَيُّهَا أَنَا" عَلَيْكُم بِوَكِيلٍ ٱلنَّاسُ قَدْ جَا^ءَكُمُ ٱلْحَقُّ مِن رَّبِّكُمْ فَمَنِ وَٱتَّبِعْ خَيْرُ ٱلْحَٰكِمِينَ مَا يُوحَىٰ^ إِلَيْكَ وَٱصْبِرْ حَتَّىٰ يَحْكُمَ ٱللَّهُ وَهُوَ وَلَوْ أَجَلُهُمْ فَنَذَرُ ٱلَّذِينَ لَا يَرْجُونَ لِقَا^ءَنَا فِى طُغْيَٰنِهِمْ يَعْمَهُونَ يُعَجِّلُ ٱللَّهُ لِلنَّاسِ ٱلشَّرَّ ٱسْتِعْجَالَهُم بِٱلْخَيْرِ لَقُضِىَ إِلَيْهِمْ وَإِذَا قَا^ئِمًا فَلَمَّا كَشَفْنَا عَنْهُ ضُرَّهُ, مَرَّ كَأَن لَّمْ يَدْعُنَا^ إِلَىٰ مَسَّ ضُرٍّ مَّسَّهُ, كَذَٰلِكَ زُيِّنَ لِلْمُسْرِفِينَ مَا كَانُوا@ يَعْمَلُونَ ٱلْإِنسَٰنَ ٱلضُّرُّ دَعَانَا لِجَن[بِهِ.^ أَوْ قَاعِدًا أَوْ وَلَقَدْ بِٱلْبَيِّنَٰتِ وَمَا كَانُوا@ لِيُؤْمِنُوا@ كَذَٰلِكَ نَجْزِى ٱلْقَوْمَ ٱلْمُجْرِمِينَ أَهْلَكْنَا ٱلْقُرُونَ مِن قَبْلِكُمْ لَمَّا ظَلَمُوا@ وَجَا^ءَتْهُمْ رُسُلُهُم ثُمَّ تَعْمَلُونَ جَعَلْنَٰكُمْ خَلَٰ^ئِفَ فِى ٱلْأَرْضِ مِن[ بَعْدِهِمْ لِنَنظُرَ كَيْفَ وَإِذَا لِقَا^ءَنَا ٱئْتِ بِقُرْءَانٍ غَيْرِ هَٰذَا^ أَوْ بَدِّلْهُ قُلْ مَا يَكُونُ تُتْلَىٰ لِى^ أَنْ أُبَدِّلَهُ, مِن تِلْقَا^ئِ نَفْسِى^ إِنْ أَتَّبِعُ إِلَّا مَا عَلَيْهِمْ يُوحَىٰ^ إِلَىَّ إِنِّى^ أَخَافُ إِنْ عَصَيْتُ رَبِّى عَذَابَ يَوْمٍ عَظِيمٍ ءَايَاتُنَا بَيِّنَٰتٍ قَالَ ٱلَّذِينَ لَا يَرْجُونَ قُل بِهِ. فَقَدْ لَبِثْتُ فِيكُمْ عُمُرًا مِّن قَبْلِهِ.^ أَفَلَا تَعْقِلُونَ لَّوْ شَا^ءَ ٱللَّهُ مَا تَلَوْتُهُ, عَلَيْكُمْ وَلَا^ أَدْرَىٰكُم فَمَنْ بِـ#َايَٰتِهِ.^ إِنَّهُ, لَا يُفْلِحُ ٱلْمُجْرِمُونَ أَظْلَمُ مِمَّنِ ٱفْتَرَىٰ عَلَى ٱللَّهِ كَذِبًا أَوْ كَذَّبَ وَيَعْبُدُونَ وَيَقُولُونَ هَٰ^ؤُلَا^ءِ شُفَعَٰ^ؤُنَا عِندَ ٱللَّهِ قُلْ أَتُنَبِّـ#ُونَ ٱللَّهَ بِمَا لَا مِن يَعْلَمُ فِى ٱلسَّمَٰوَٰتِ وَلَا فِى ٱلْأَرْضِ سُبْحَٰنَهُ, وَتَعَٰلَىٰ عَمَّا يُشْرِكُونَ دُونِ ٱللَّهِ مَا لَا يَضُرُّهُمْ وَلَا يَنفَعُهُمْ وَمَا سَبَقَتْ مِن رَّبِّكَ لَقُضِىَ بَيْنَهُمْ فِيمَا فِيهِ يَخْتَلِفُونَ كَانَ ٱلنَّاسُ إِلَّا^ أُمَّةً وَٰحِدَةً فَٱخْتَلَفُوا@ وَلَوْلَا كَلِمَةٌ أَكَانَ أَنذِرِ ٱلنَّاسَ وَبَشِّرِ ٱلَّذِينَ ءَامَنُو^ا@ أَنَّ لَهُمْ قَدَمَ صِدْقٍ عِندَ لِلنَّاسِ رَبِّهِمْ قَالَ ٱلْكَٰفِرُونَ إِنَّ هَٰذَا لَسَٰحِرٌ مُّبِينٌ عَجَبًا أَنْ أَوْحَيْنَا^ إِلَىٰ رَجُلٍ مِّنْهُمْ أَنْ وَيَقُولُونَ ٱلْغَيْبُ لِلَّهِ فَٱنتَظِرُو^ا@ إِنِّى مَعَكُم مِّنَ ٱلْمُنتَظِرِينَ لَوْلَا^ أُنزِلَ عَلَيْهِ ءَايَةٌ مِّن رَّبِّهِ. فَقُلْ إِنَّمَا وَإِذَا^ لَهُم مَّكْرٌ فِى^ ءَايَاتِنَا قُلِ ٱللَّهُ أَسْرَعُ مَكْرًا إِنَّ رُسُلَنَا أَذَقْنَا يَكْتُبُونَ مَا تَمْكُرُونَ ٱلنَّاسَ رَحْمَةً مِّن[ بَعْدِ ضَرَّا^ءَ مَسَّتْهُمْ إِذَا هُوَ فِى ٱلْفُلْكِ وَجَرَيْنَ بِهِم بِرِيحٍ طَيِّبَةٍ وَفَرِحُوا@ بِهَا جَا^ءَتْهَا رِيحٌ ٱلَّذِى عَاصِفٌ وَجَا^ءَهُمُ ٱلْمَوْجُ مِن كُلِّ مَكَانٍ وَظَنُّو^ا@ أَنَّهُمْ أُحِيطَ بِهِمْ يُسَيِّرُكُمْ دَعَوُا@ ٱللَّهَ مُخْلِصِينَ لَهُ ٱلدِّينَ لَئِنْ أَنجَيْتَنَا مِنْ هَٰذِهِ. لَنَكُونَنَّ فِى مِنَ ٱلشَّٰكِرِينَ ٱلْبَرِّ وَٱلْبَحْرِ'