### Translate Process

In [1]:
import pandas as pd
import numpy as np
import re
import json
import nltk
from nltk import word_tokenize

In [15]:
#df_master = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quran/Text/Result/8-Compare Color Flags/Arabic_Buckwalter_All_Relocation_Edit_Counts_Audio_Time_Root_Master.xlsx")
df_master = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quran/Text/Result/8-Compare Color Flags/Arabic_Buckwalter_All_Relocation_Edit_Counts_Audio_Time_Root_Master2.xlsx")
df_master

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 1,level 2,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,1,2,3,4,2,3,50.0,510.0,NaN,0
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,1,2,3,4,2,3,520.0,1180.0,NaN,1
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,1,2,3,4,2,3,1190.0,2340.0,NaN,2
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,1,2,2,4,2,0,2350.0,4480.0,NaN,3
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,0,0,2,4,2,0,700.0,1410.0,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,0,0,0,5080.0,6760.0,NaN,78244
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,1,1,1,4,0,0,6770.0,10010.0,NaN,78245
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,1,1,1,0,0,0,650.0,1160.0,NaN,78246
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,0,1,1,4,0,0,1170.0,3740.0,NaN,78247
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,0,4,0,0,3750.0,7530.0,NaN,78248

#### Twogram

In [16]:
#df_twogram = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quran/Text/Result/4-N Gram/Arabic_Clean_Twogram_Frequency_From_DataFrame_Tanzil.xlsx")
df_twogram = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quran/Text/Result/4-N Gram/Arabic_Clean_Twogram_Frequency_From_DataFrame_Tanzil2.xlsx")
df_twogram_select = df_twogram.head(200)
df_twogram_select

             twogram
0            إن الله
1        الذين آمنوا
2           في الأرض
3        الذين كفروا
4    السماوات والأرض
..               ...
195        وأولئك هم
196      من المشركين
197          ولو شاء
198       إنهم كانوا
199          من ربهم

[200 rows x 1 columns]

In [17]:
def twogram_loc_detect(df_twogram, df_target, ngram_column_name, target_column_name): # df_twogram is selected twogram words dataframe, ngram_column_name acquires from target_column_name
    for i in range(len(df_twogram)):
        twogram = df_twogram.loc[i,f"{ngram_column_name}"]
        twogram_words = word_tokenize(twogram)
        word_1 = twogram_words[0]
        word_2 = twogram_words[1]
        for j in range(len(df_target)):
            try:
                target_word_1 = df_target.loc[j,f"{target_column_name}"]
                target_word_2 = df_target.loc[j+1,f"{target_column_name}"]
                if (word_1 == target_word_1) and (word_2 == target_word_2):
                    df_target.loc[j,"twogram_string"] = f"{twogram}"
                    #df_target.loc[j+1,"twogram_string"] = f"{twogram}"                    
                else:
                    pass
            except:
                pass
    df_result = df_target
           
    return df_result

In [18]:
df_master_twogram_loc = twogram_loc_detect(df_twogram_select, df_master, "twogram", "tanzil_clean")
df_master_twogram_loc

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 2,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index,twogram_string
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,2,3,4,2,3,50.0,510.0,NaN,0,بسم الله
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,2,3,4,2,3,520.0,1180.0,NaN,1,الله الرحمن
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,2,3,4,2,3,1190.0,2340.0,NaN,2,الرحمن الرحيم
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,2,2,4,2,0,2350.0,4480.0,NaN,3,NaN
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,0,2,4,2,0,700.0,1410.0,NaN,4,الحمد لله
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,0,0,5080.0,6760.0,NaN,78244,NaN
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,1,1,4,0,0,6770.0,10010.0,NaN,78245,NaN
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,1,1,0,0,0,650.0,1160.0,NaN,78246,NaN
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,1,1,4,0,0,1170.0,3740.0,NaN,78247,NaN
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,4,0,0,3750.0,7530.0,NaN,78248,NaN

In [8]:
#df_master_twogram_loc.to_excel("Arabic_Buckwalter_All_Master_Twogram_Start_Location2.xlsx", index=False)

#### Detect Multi Twogram Indexes

In [19]:
def twogram_loc_index_detect(df_twogram, df_target, ngram_column_name, target_column_name, index_column_name):
    for i in range(len(df_twogram)):
        twogram = df_twogram.loc[i,f"{ngram_column_name}"]
        twogram_words = word_tokenize(twogram)
        word_1 = twogram_words[0]
        word_2 = twogram_words[1]
        for j in range(len(df_target)):
            try:
                target_word_1 = df_target.loc[j,f"{target_column_name}"]
                target_word_2 = df_target.loc[j+1,f"{target_column_name}"]
                index_1 = df_target.loc[j,f"{index_column_name}"]
                index_2 = df_target.loc[j+1,f"{index_column_name}"]
                #variable_value = [variable_1, variable_2]
                if (word_1 == target_word_1) and (word_2 == target_word_2):
                    df_target.loc[j,"twogram_string"] = f"{twogram}"
                    df_target.loc[j,"first_index"] = index_1
                    df_target.loc[j,"second_index"] = index_2                    
                else:
                    pass
            except:
                pass
    df_result = df_target

    return df_result

In [20]:
#df_master = df_master.head(2000)

In [21]:
df_master_twogram_loc = twogram_loc_index_detect(df_twogram_select, df_master, "twogram", "tanzil_clean", "index")
df_master_twogram_loc

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 4,2gram,3gram,start_time,end_time,repeat flag,index,twogram_string,first_index,second_index
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,4,2,3,50.0,510.0,NaN,0,بسم الله,0.0,1.0
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,4,2,3,520.0,1180.0,NaN,1,الله الرحمن,1.0,2.0
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,4,2,3,1190.0,2340.0,NaN,2,الرحمن الرحيم,2.0,3.0
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,4,2,0,2350.0,4480.0,NaN,3,NaN,NaN,NaN
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,4,2,0,700.0,1410.0,NaN,4,الحمد لله,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,5080.0,6760.0,NaN,78244,NaN,NaN,NaN
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,4,0,0,6770.0,10010.0,NaN,78245,NaN,NaN,NaN
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,0,0,0,650.0,1160.0,NaN,78246,NaN,NaN,NaN
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,4,0,0,1170.0,3740.0,NaN,78247,NaN,NaN,NaN
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,4,0,0,3750.0,7530.0,NaN,78248,NaN,NaN,NaN

In [22]:
#df_master_twogram_loc.to_excel("Arabic_Buckwalter_All_Master_Twogram_Indexes2.xlsx", index=False)

In [8]:
twogram_first_index_list = df_master_twogram_loc["first_index"].dropna().to_list()
twogram_second_index_list = df_master_twogram_loc["second_index"].dropna().to_list()

In [9]:
twogram_index_list = []
for i in twogram_first_index_list:
    twogram_index_list.append(i)
for j in twogram_second_index_list:
    twogram_index_list.append(j)

In [10]:
df_twogram_index_list = pd.DataFrame(twogram_index_list)
df_twogram_index_list.rename(columns={0:"index_alone"}, inplace=True)
df_twogram_index_count = df_twogram_index_list.value_counts(ascending=False)
df_twogram_index_count = df_twogram_index_count.reset_index()
df_twogram_index_count.rename(columns={0:"index_count"}, inplace=True)
df_twogram_index_count

       index_alone  index_count
0          59848.0            2
1          65770.0            2
2          49668.0            2
3          11639.0            2
4          49685.0            2
...            ...          ...
12471      25355.0            1
12472      25356.0            1
12473      25370.0            1
12474      25371.0            1
12475      78228.0            1

[12476 rows x 2 columns]

In [11]:
df_index_multi_twogram = df_twogram_index_count[df_twogram_index_count.index_count != 1]
df_index_multi_twogram

      index_alone  index_count
0         59848.0            2
1         65770.0            2
2         49668.0            2
3         11639.0            2
4         49685.0            2
...           ...          ...
1783       6451.0            2
1784      44360.0            2
1785      77922.0            2
1786      77954.0            2
1787      77963.0            2

[1788 rows x 2 columns]

In [12]:
df_multi_twogram = pd.DataFrame()
for i in df_index_multi_twogram["index_alone"]:
    df_var = df_master_twogram_loc[df_master_twogram_loc["first_index"] == i]
    #df_var = df_master_twogram_loc[df_master_twogram_loc["second_index"] == i]
    df_multi_twogram = pd.concat([df_multi_twogram, df_var], axis=0)
df_multi_twogram

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 4,2gram,3gram,start_time,end_time,repeat flag,index,twogram_string,first_index,second_index
59848,39,22,19,23,461,الزمر,Az-Zumar,20,82,ضلال,...,4,2,3,34400.0,36700.0,NaN,59848,ضلال مبين,59848.0,59849.0
65770,46,32,12,26,506,الأحقاف,Al-Ahqaf,18,69,من,...,0,2,0,13050.0,14310.0,NaN,65770,من دونه,65770.0,65771.0
49668,27,69,7,20,383,النمل,An-Naml,9,40,كان,...,4,2,3,7310.0,8300.0,NaN,49668,كان عاقبة,49668.0,49669.0
11639,4,89,15,5,92,النساء,An-Nisa',28,133,سبيل,...,4,2,3,25800.0,27260.0,NaN,11639,سبيل الله,11639.0,11640.0
49685,27,71,6,20,383,النمل,An-Naml,7,30,كنتم,...,4,2,3,7720.0,9910.0,NaN,49685,كنتم صادقين,49685.0,49686.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6451,3,18,6,3,52,آل عمران,Al Imran,18,74,إلا,...,0,2,3,7690.0,8970.0,NaN,6451,إلا هو,6451.0,6452.0
44360,23,23,12,18,343,المؤمنون,Al-Mu'minoon,17,66,لكم,...,0,2,3,16430.0,17130.0,NaN,44360,لكم من,44360.0,44361.0
77922,102,0,3,30,600,التكاثر,At-Takathur,4,19,الرحمن,...,0,2,3,NaN,NaN,NaN,77922,الرحمن الرحيم,77922.0,77923.0
77954,103,0,3,30,601,العصر,Al-'Asr,4,19,الرحمن,...,0,2,3,NaN,NaN,NaN,77954,الرحمن الرحيم,77954.0,77955.0
77963,103,3,3,30,601,العصر,Al-'Asr,9,52,آمنوا,...,4,2,3,3310.0,5050.0,NaN,77963,آمنوا وعملوا,77963.0,77964.0

In [13]:
df_twogram_multi_first_index = df_multi_twogram[["first_index"]]
df_twogram_multi_first_index.reset_index(drop=True, inplace=True)
df_twogram_multi_first_index

      first_index
0         59848.0
1         65770.0
2         49668.0
3         11639.0
4         49685.0
...           ...
1783       6451.0
1784      44360.0
1785      77922.0
1786      77954.0
1787      77963.0

[1788 rows x 1 columns]

In [14]:
#df_twogram_multi_first_index.to_excel("Arabic_Buckwalter_All_Twogram_Multi_First_Indexes.xlsx", index=False)

#### Adding Twogram Translate

In [18]:
df_twogram_translate = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quran/Text/Result/9-Translate Process/Arabic_Buckwalter_Twogram_String_Translate.xlsx")
df_twogram_translate

,twogram_string,twogram_english,twogram_turkish,twogram_urdu,twogram_hindi,twogram_indonesian,twogram_bangla,twogram_russian
0,إن الله,God is,Allah,خدا ہے,भगवान है,Tuhan adalah,উপাস্য নেই,Бог это
1,الذين آمنوا,who believed,kim inandı,جو ایمان لائے,जो विश्वास करता था,siapa yang percaya?,যারা বিশ্বাস করেছিল,кто верил
2,في الأرض,in Earth,Dünya'da,زمین میں,धरती में,di Bumi,পৃথিবীতে,на Земле
3,الذين كفروا,who disbelieved,kim inanmadı,جنہوں نے کفر کیا۔,जिसने अविश्वास किया,siapa yang tidak percaya?,যারা অবিশ্বাস করেছিল,кто не поверил
4,السماوات والأرض,Heavens and Earth,Gökler ve Dünya,آسمان اور زمین,स्वर्ग और पृथ्वी,Langit dan Bumi,আকাশ ও পৃথিবী,Небеса и Земля
...,...,...,...,...,...,...,...,...
195,وأولئك هم,And those are,ve bunlar,اور وہ ہیں۔,और वो हैं,Dan itu adalah,এবং যারা,И это
196,من المشركين,of the polytheists,müşriklerin,مشرکوں کی,बहुदेववादियों का,dari orang-orang musyrik,মুশরিকদের,многобожников
197,ولو شاء,if he wants,eğer isterse,اگر وہ چاہتا ہے,यदि वह चाहता है,jika dia mau,যদি সে চায়,если он хочет
198,إنهم كانوا,They were,Onlar,وہ تھے,वह थे,Mereka,তারা ছিল,Они были
199,من ربهم,from their Lord,Rablerinden,اپنے رب کی طرف سے,उनके रब से,dari Tuhan mereka,তাদের পালনকর্তার কাছ থেকে,от их Господа

In [20]:
df_twogram_translate_merge = pd.merge(df_master_twogram_loc, df_twogram_translate, how="left", on="twogram_string")
df_twogram_translate_merge

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,indexes,first_index,second_index,twogram_english,twogram_turkish,twogram_urdu,twogram_hindi,twogram_indonesian,twogram_bangla,twogram_russian
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,"0, 1",0,1,In the name of God,Bismillah,خدا کے نام پر,भगवान के नाम पर,Atas nama tuhan,আল্লাহর নামে,Во имя Бога
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,"1, 2",1,2,God the Most Gracious,Tanrı en merhametli,خدا سب سے زیادہ مہربان,भगवान सबसे दयालु,Tuhan Yang Maha Pemurah,পরম করুণাময় ঈশ্বর,Бог Милостивый
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,"2, 3",2,3,Most Merciful,Rahman ve Rahim,سب سے زیادہ رحم کرنے والا,परम दयालु,Maha Penyayang,পরম করুণাময়,Самый Милосердный
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,"4, 5",4,5,Thank God,Allah'a şükür,خدا کا شکر ہے,सुकर है,Terima kasih Tuhan,সৃষ্টিকর্তাকে ধন্যবাদ,Слава Богу
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#df_twogram_translate_merge.to_excel("Arabic_Buckwalter_All_Master_Twogram_Translate2.xlsx", index=False)

#### Threegram

In [23]:
#df_master = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quran/Text/Result/8-Compare Color Flags/Arabic_Buckwalter_All_Relocation_Edit_Counts_Audio_Time_Root_Master.xlsx")
df_master = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quran/Text/Result/8-Compare Color Flags/Arabic_Buckwalter_All_Relocation_Edit_Counts_Audio_Time_Root_Master2.xlsx")
df_master

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 1,level 2,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,1,2,3,4,2,3,50.0,510.0,NaN,0
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,1,2,3,4,2,3,520.0,1180.0,NaN,1
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,1,2,3,4,2,3,1190.0,2340.0,NaN,2
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,1,2,2,4,2,0,2350.0,4480.0,NaN,3
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,0,0,2,4,2,0,700.0,1410.0,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,0,0,0,5080.0,6760.0,NaN,78244
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,1,1,1,4,0,0,6770.0,10010.0,NaN,78245
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,1,1,1,0,0,0,650.0,1160.0,NaN,78246
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,0,1,1,4,0,0,1170.0,3740.0,NaN,78247
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,0,4,0,0,3750.0,7530.0,NaN,78248

In [24]:
#df_threegram = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quran/Text/Result/4-N Gram/Arabic_Clean_Threegram_Frequency_From_DataFrame_Tanzil.xlsx")
df_threegram = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quran/Text/Result/4-N Gram/Arabic_Clean_Threegram_Frequency_From_DataFrame_Tanzil2.xlsx")
df_threegram_select = df_threegram.head(200)
df_threegram_select

             threegram
0      بسم الله الرحمن
1        يا أيها الذين
2     أيها الذين آمنوا
3          من دون الله
4           على كل شيء
..                 ...
195          كل نفس ما
196        إن وعد الله
197        إلا أن يشاء
198    لو كانوا يعلمون
199  الذين أوتوا العلم

[200 rows x 1 columns]

In [25]:
def threegram_loc_detect(df_threegram, df_target, ngram_column_name, target_column_name):
    for i in range(len(df_threegram)):
        threegram = df_threegram.loc[i,f"{ngram_column_name}"]
        threegram_words = word_tokenize(threegram)
        word_1 = threegram_words[0]
        word_2 = threegram_words[1]
        word_3 = threegram_words[2]
        for j in range(len(df_target)):
            try:
                target_word_1 = df_target.loc[j,f"{target_column_name}"]
                target_word_2 = df_target.loc[j+1,f"{target_column_name}"]
                target_word_3 = df_target.loc[j+2,f"{target_column_name}"]
                if (word_1 == target_word_1) and (word_2 == target_word_2) and (word_3 == target_word_3):
                    df_target.loc[j,"threegram_string"] = f"{threegram}"
                    #df_target.loc[j+1,"threegram_string"] = f"{threegram}" 
                    #df_target.loc[j+2,"threegram_string"] = f"{threegram}"                    
                else:
                    pass
            except:
                pass
    df_result = df_target
            
    return df_result

In [26]:
df_master_threegram_loc = threegram_loc_detect(df_threegram_select, df_master, "threegram", "tanzil_clean")
df_master_threegram_loc

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 2,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index,threegram_string
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,2,3,4,2,3,50.0,510.0,NaN,0,بسم الله الرحمن
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,2,3,4,2,3,520.0,1180.0,NaN,1,NaN
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,2,3,4,2,3,1190.0,2340.0,NaN,2,NaN
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,2,2,4,2,0,2350.0,4480.0,NaN,3,NaN
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,0,2,4,2,0,700.0,1410.0,NaN,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,0,0,5080.0,6760.0,NaN,78244,NaN
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,1,1,4,0,0,6770.0,10010.0,NaN,78245,NaN
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,1,1,0,0,0,650.0,1160.0,NaN,78246,NaN
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,1,1,4,0,0,1170.0,3740.0,NaN,78247,NaN
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,4,0,0,3750.0,7530.0,NaN,78248,NaN

In [24]:
#df_master_threegram_loc.to_excel("Arabic_Buckwalter_All_Master_Threegram_Start_Location2.xlsx", index=False)

#### Detect Multi Threegram Indexes

In [27]:
def threegram_loc_index_detect(df_threegram, df_target, ngram_column_name, target_column_name, index_column_name):
    for i in range(len(df_threegram)):
        threegram = df_threegram.loc[i,f"{ngram_column_name}"]
        threegram_words = word_tokenize(threegram)
        word_1 = threegram_words[0]
        word_2 = threegram_words[1]
        word_3 = threegram_words[2]
        for j in range(len(df_target)):
            try:
                target_word_1 = df_target.loc[j,f"{target_column_name}"]
                target_word_2 = df_target.loc[j+1,f"{target_column_name}"]
                target_word_3 = df_target.loc[j+2,f"{target_column_name}"]
                index_1 = df_target.loc[j,f"{index_column_name}"]
                index_2 = df_target.loc[j+1,f"{index_column_name}"]
                index_3 = df_target.loc[j+2,f"{index_column_name}"]
                #variable_value = [variable_1, variable_2]
                if (word_1 == target_word_1) and (word_2 == target_word_2) and (word_3 == target_word_3):
                    df_target.loc[j,"threegram_string"] = f"{threegram}"
                    df_target.loc[j,"first_index"] = index_1
                    df_target.loc[j,"second_index"] = index_2
                    df_target.loc[j,"third_index"] = index_3                   
                else:
                    pass
            except:
                pass
    df_result = df_target
            
    return df_result

In [26]:
#df_master = df_master.head(2000)

In [28]:
df_master_threegram_loc = threegram_loc_index_detect(df_threegram_select, df_master, "threegram", "tanzil_clean", "index")
df_master_threegram_loc

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,2gram,3gram,start_time,end_time,repeat flag,index,threegram_string,first_index,second_index,third_index
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,2,3,50.0,510.0,NaN,0,بسم الله الرحمن,0.0,1.0,2.0
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,2,3,520.0,1180.0,NaN,1,NaN,NaN,NaN,NaN
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,2,3,1190.0,2340.0,NaN,2,NaN,NaN,NaN,NaN
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,2,0,2350.0,4480.0,NaN,3,NaN,NaN,NaN,NaN
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,2,0,700.0,1410.0,NaN,4,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,5080.0,6760.0,NaN,78244,NaN,NaN,NaN,NaN
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,0,0,6770.0,10010.0,NaN,78245,NaN,NaN,NaN,NaN
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,0,0,650.0,1160.0,NaN,78246,NaN,NaN,NaN,NaN
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,0,0,1170.0,3740.0,NaN,78247,NaN,NaN,NaN,NaN
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,3750.0,7530.0,NaN,78248,NaN,NaN,NaN,NaN

In [29]:
#df_master_threegram_loc.to_excel("Arabic_Buckwalter_All_Master_Threegram_Indexes2.xlsx", index=False)

In [28]:
threegram_first_index_list = df_master_threegram_loc["first_index"].dropna().to_list()
threegram_second_index_list = df_master_threegram_loc["second_index"].dropna().to_list()
threegram_third_index_list = df_master_threegram_loc["third_index"].dropna().to_list()

In [29]:
threegram_index_list = []
for i in threegram_first_index_list:
    threegram_index_list.append(i)
for j in threegram_second_index_list:
    threegram_index_list.append(j)
for k in threegram_third_index_list:
    threegram_index_list.append(k)

In [30]:
df_threegram_index_list = pd.DataFrame(threegram_index_list)
df_threegram_index_list.rename(columns={0:"index_alone"}, inplace=True)
df_threegram_index_count = df_threegram_index_list.value_counts(ascending=False)
df_threegram_index_count = df_threegram_index_count.reset_index()
df_threegram_index_count.rename(columns={0:"index_count"}, inplace=True)
df_threegram_index_count

      index_alone  index_count
0         18858.0            3
1         52219.0            3
2         52151.0            3
3          7881.0            3
4         70857.0            3
...           ...          ...
7427      26331.0            1
7428      26308.0            1
7429      26307.0            1
7430      26306.0            1
7431      78227.0            1

[7432 rows x 2 columns]

In [31]:
df_index_multi_threegram = df_threegram_index_count[df_threegram_index_count.index_count != 1]
df_index_multi_threegram

      index_alone  index_count
0         18858.0            3
1         52219.0            3
2         52151.0            3
3          7881.0            3
4         70857.0            3
...           ...          ...
1543      77574.0            2
1544        333.0            2
1545       1328.0            2
1546       1326.0            2
1547      69831.0            2

[1548 rows x 2 columns]

In [32]:
df_multi_threegram = pd.DataFrame()
for i in df_index_multi_threegram["index_alone"]:
    df_var = df_master_threegram_loc[df_master_threegram_loc["first_index"] == i]
    #df_var = df_master_threegram_loc[df_master_threegram_loc["second_index"] == i]
    #df_var = df_master_threegram_loc[df_master_threegram_loc["third_index"] == i]
    df_multi_threegram = pd.concat([df_multi_threegram, df_var], axis=0)
df_multi_threegram

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,2gram,3gram,start_time,end_time,repeat flag,index,threegram_string,first_index,second_index,third_index
18858,6,144,27,8,147,الأنعام,Al-An'am,40,173,افترى,...,0,3,54270.0,55630.0,NaN,18858,افترى على الله,18858.0,18859.0,18860.0
52219,29,58,11,21,403,العنكبوت,Al-Ankabut,17,88,تحتها,...,2,3,18500.0,19900.0,NaN,52219,تحتها الأنهار خالدين,52219.0,52220.0,52221.0
52151,29,52,9,21,402,العنكبوت,Al-Ankabut,19,94,في,...,2,3,13490.0,13810.0,NaN,52151,في السماوات والأرض,52151.0,52152.0,52153.0
7881,3,100,3,4,62,آل عمران,Al Imran,15,70,الذين,...,2,3,3260.0,4100.0,NaN,7881,الذين آمنوا إن,7881.0,7882.0,7883.0
70857,58,22,34,28,545,المجادلة,Al-Mujadila,51,229,تحتها,...,2,3,70790.0,72290.0,NaN,70857,تحتها الأنهار خالدين,70857.0,70858.0,70859.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77781,98,8,7,30,599,البينة,Al-Bayyina,21,87,من,...,2,3,11220.0,12140.0,NaN,77781,من تحتها الأنهار,77781.0,77782.0,77783.0
610,2,38,15,1,7,البقرة,Al-Baqara,17,71,ولا,...,2,3,23920.0,24910.0,NaN,610,ولا هم يحزنون,610.0,611.0,612.0
333,2,25,3,1,5,البقرة,Al-Baqara,34,154,آمنوا,...,2,3,3350.0,4730.0,NaN,333,آمنوا وعملوا الصالحات,333.0,334.0,335.0
1326,2,81,10,1,12,البقرة,Al-Baqara,13,56,النار,...,2,3,17260.0,20400.0,NaN,1326,النار هم فيها,1326.0,1327.0,1328.0
69831,57,2,2,27,537,الحديد,Al-Hadid,11,46,ملك,...,2,3,1060.0,1990.0,NaN,69831,ملك السماوات والأرض,69831.0,69832.0,69833.0

In [33]:
df_threegram_multi_first_index = df_multi_threegram[["first_index"]]
df_threegram_multi_first_index.reset_index(drop=True, inplace=True)
df_threegram_multi_first_index

     first_index
0        18858.0
1        52219.0
2        52151.0
3         7881.0
4        70857.0
..           ...
921      77781.0
922        610.0
923        333.0
924       1326.0
925      69831.0

[926 rows x 1 columns]

In [34]:
#df_threegram_multi_first_index.to_excel("Arabic_Buckwalter_All_Threegram_Multi_First_Indexes.xlsx", index=False)

#### Adding Threegram Translate

In [34]:
df_threegram_translate = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quran/Text/Result/9-Translate Process/Arabic_Buckwalter_Threegram_String_Translate.xlsx")
df_threegram_translate

,threegram_string,threegram_english,threegram_turkish,threegram_urdu,threegram_hindi,threegram_indonesian,threegram_bangla,threegram_russian
0,بسم الله الرحمن,"in the name of ALLAH, the most mercifull",merhametli olan Allah adıyla,اللہ کے نام سے جو سب سے زیادہ رحم کرنے والا ہے۔,"अल्लाह के नाम पर, सबसे दयालु",dengan menyebut nama ALLAH yang maha penyayang,পরম করুণাময় আল্লাহর নামে,во имя АЛЛАХА Милостивого
1,يا أيها الذين,O you who,Ey sen kim,اے جو,हे तुम कौन,Wahai kamu siapa,হে আপনি যারা,"О ты, кто"
2,أيها الذين آمنوا,O you who believe,Ey inananlar,اے ایمان والو!,हे तुम जो विश्वास करते हो,Wahai orang-orang yang beriman,হে ঈমানদারগণ,"О вы, кто верит"
3,من دون الله,without God,Tanrı olmadan,خدا کے بغیر,भगवान के बिना,tanpa Tuhan,ঈশ্বর ছাড়া,без Бога
4,على كل شيء,for everything,herşey için,ہر چیز کے لئے,प्रत्येक वस्तु के लिए,untuk semuanya,সব কিছুর জন্য,За все
...,...,...,...,...,...,...,...,...
195,كل نفس ما,all the same what,hepsi aynı ne,سب ایک ہی کیا,सब वही क्या,semua sama apa,সব একই কি,все равно что
196,إن وعد الله,God's promise,Tanrı'nın vaadi,خدا کا وعدہ,भगवान का वादा,janji tuhan,ঈশ্বরের প্রতিশ্রুতি,обещание Бога
197,إلا أن يشاء,except that he wills,onun dilemesi dışında,سوائے اس کے کہ وہ چاہے,सिवाय इसके कि वह चाहता है,kecuali dia berkehendak,ব্যতীত যে সে ইচ্ছা করে,"кроме того, что он хочет"
198,لو كانوا يعلمون,If they knew,bilselerdi,اگر وہ جانتے,अगर वे जानते थे,Jika mereka tahu,যদি তারা জানত,Если бы они знали
199,الذين أوتوا العلم,who were given knowledge,kimlere bilgi verildi,جنہیں علم دیا گیا تھا۔,जिन्हें ज्ञान दिया गया,yang diberi ilmu,যাদের জ্ঞান দেওয়া হয়েছিল,кому дали знания

In [35]:
df_threegram_translate_merge = pd.merge(df_master_threegram_loc, df_threegram_translate, how="left", on="threegram_string")
df_threegram_translate_merge

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,first_index,second_index,third_index,threegram_english,threegram_turkish,threegram_urdu,threegram_hindi,threegram_indonesian,threegram_bangla,threegram_russian
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,0,1,2,"in the name of ALLAH, the most mercifull",merhametli olan Allah adıyla,اللہ کے نام سے جو سب سے زیادہ رحم کرنے والا ہے۔,"अल्लाह के नाम पर, सबसे दयालु",dengan menyebut nama ALLAH yang maha penyayang,পরম করুণাময় আল্লাহর নামে,во имя АЛЛАХА Милостивого
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
#df_threegram_translate_merge.to_excel("Arabic_Buckwalter_All_Master_Threegram_Translate2.xlsx", index=False)

#### Detect Twogram Threegram Multi Index

In [49]:
df_twogram_index = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quran/Text/Result/9-Translate Process/Arabic_Buckwalter_All_Master_Twogram_Indexes2.xlsx")
df_twogram_index

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 4,2gram,3gram,start_time,end_time,repeat flag,index,twogram_string,first_index,second_index
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,4,2,3,50.0,510.0,NaN,0,بسم الله,0.0,1.0
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,4,2,3,520.0,1180.0,NaN,1,الله الرحمن,1.0,2.0
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,4,2,3,1190.0,2340.0,NaN,2,الرحمن الرحيم,2.0,3.0
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,4,2,0,2350.0,4480.0,NaN,3,NaN,NaN,NaN
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,4,2,0,700.0,1410.0,NaN,4,الحمد لله,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,5080.0,6760.0,NaN,78244,NaN,NaN,NaN
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,4,0,0,6770.0,10010.0,NaN,78245,NaN,NaN,NaN
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,0,0,0,650.0,1160.0,NaN,78246,NaN,NaN,NaN
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,4,0,0,1170.0,3740.0,NaN,78247,NaN,NaN,NaN
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,4,0,0,3750.0,7530.0,NaN,78248,NaN,NaN,NaN

In [50]:
df_threegram_index = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quran/Text/Result/9-Translate Process/Arabic_Buckwalter_All_Master_Threegram_Indexes2.xlsx")
df_threegram_index

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,2gram,3gram,start_time,end_time,repeat flag,index,threegram_string,first_index,second_index,third_index
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,2,3,50.0,510.0,NaN,0,بسم الله الرحمن,0.0,1.0,2.0
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,2,3,520.0,1180.0,NaN,1,NaN,NaN,NaN,NaN
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,2,3,1190.0,2340.0,NaN,2,NaN,NaN,NaN,NaN
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,2,0,2350.0,4480.0,NaN,3,NaN,NaN,NaN,NaN
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,2,0,700.0,1410.0,NaN,4,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,5080.0,6760.0,NaN,78244,NaN,NaN,NaN,NaN
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,0,0,6770.0,10010.0,NaN,78245,NaN,NaN,NaN,NaN
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,0,0,650.0,1160.0,NaN,78246,NaN,NaN,NaN,NaN
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,0,0,1170.0,3740.0,NaN,78247,NaN,NaN,NaN,NaN
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,3750.0,7530.0,NaN,78248,NaN,NaN,NaN,NaN

In [51]:
twogram_second_index = set(df_twogram_index["second_index"].dropna())

In [52]:
len(twogram_second_index)

7132

In [53]:
threegram_first_index = set(df_threegram_index["first_index"].dropna())

In [54]:
len(threegram_first_index)

3062

In [55]:
twogram_second_threegram_first_intersect = twogram_second_index.intersection(threegram_first_index)
twogram_second_threegram_first_intersect

{5.0,
 258.0,
 260.0,
 333.0,
 442.0,
 619.0,
 1253.0,
 1326.0,
 1331.0,
 1527.0,
 1718.0,
 1866.0,
 1868.0,
 1877.0,
 1879.0,
 1881.0,
 1882.0,
 1934.0,
 1936.0,
 2072.0,
 2704.0,
 2706.0,
 3379.0,
 3562.0,
 3718.0,
 3976.0,
 4178.0,
 4537.0,
 4699.0,
 4834.0,
 4857.0,
 5006.0,
 5212.0,
 5214.0,
 5292.0,
 5401.0,
 5403.0,
 5815.0,
 5831.0,
 5832.0,
 5890.0,
 6072.0,
 6074.0,
 6093.0,
 6095.0,
 6417.0,
 6546.0,
 6617.0,
 6680.0,
 6682.0,
 6687.0,
 6737.0,
 7043.0,
 7158.0,
 7616.0,
 7887.0,
 8026.0,
 8028.0,
 8156.0,
 8364.0,
 8366.0,
 8375.0,
 8456.0,
 9034.0,
 9036.0,
 9415.0,
 9480.0,
 9625.0,
 10053.0,
 10604.0,
 10750.0,
 10860.0,
 10884.0,
 10974.0,
 10981.0,
 10983.0,
 11048.0,
 11347.0,
 11566.0,
 12114.0,
 12353.0,
 12360.0,
 12362.0,
 12387.0,
 12428.0,
 12430.0,
 12434.0,
 12542.0,
 12544.0,
 12563.0,
 12565.0,
 12574.0,
 12576.0,
 13264.0,
 13317.0,
 13319.0,
 13345.0,
 13363.0,
 13524.0,
 13637.0,
 13771.0,
 13773.0,
 13985.0,
 13986.0,
 13992.0,
 13994.0,
 14021.0,
 14022.0,
 14053.0,
 14373.0,
 14443.0,
 14445.0,
 14496.0,
 14783.0,
 14905.0,
 15122.0,
 15311.0,
 15479.0,
 15507.0,
 15619.0,
 15620.0,
 15750.0,
 15752.0,
 15753.0,
 15755.0,
 15765.0,
 16263.0,
 16265.0,
 16278.0,
 16284.0,
 16351.0,
 16433.0,
 16449.0,
 16536.0,
 17469.0,
 17514.0,
 17745.0,
 17746.0,
 17963.0,
 18250.0,
 18486.0,
 18867.0,
 19701.0,
 19852.0,
 19948.0,
 19981.0,
 20324.0,
 20328.0,
 20329.0,
 20401.0,
 20402.0,
 20406.0,
 20407.0,
 20531.0,
 20532.0,
 20536.0,
 20537.0,
 20711.0,
 20712.0,
 20716.0,
 20717.0,
 20740.0,
 21268.0,
 21632.0,
 22428.0,
 22429.0,
 22885.0,
 23049.0,
 23321.0,
 23611.0,
 23686.0,
 23935.0,
 24192.0,
 24421.0,
 24471.0,
 24713.0,
 24770.0,
 25306.0,
 25616.0,
 25848.0,
 26151.0,
 26165.0,
 26166.0,
 26521.0,
 26595.0,
 26596.0,
 26620.0,
 26768.0,
 26997.0,
 27010.0,
 27433.0,
 27621.0,
 27630.0,
 27631.0,
 27644.0,
 27646.0,
 28142.0,
 28216.0,
 28246.0,
 28247.0,
 28340.0,
 28379.0,
 28428.0,
 28591.0,
 28638.0,
 28639.0,
 28670.0,
 28671.0,
 29138.0,
 29139.0,
 29143.0,
 29144.0,
 29309.0,
 29310.0,
 29314.0,
 29315.0,
 29663.0,
 29664.0,
 29668.0,
 29669.0,
 29703.0,
 29938.0,
 29963.0,
 30104.0,
 30105.0,
 30531.0,
 30532.0,
 30760.0,
 30843.0,
 30885.0,
 30886.0,
 31351.0,
 31352.0,
 31982.0,
 32051.0,
 32100.0,
 32101.0,
 32127.0,
 32128.0,
 32153.0,
 32319.0,
 32426.0,
 32587.0,
 32735.0,
 32918.0,
 32920.0,
 32978.0,
 33117.0,
 33227.0,
 33325.0,
 33331.0,
 33399.0,
 34247.0,
 34255.0,
 34297.0,
 34409.0,
 34507.0,
 34522.0,
 34523.0,
 34535.0,
 34630.0,
 34809.0,
 34877.0,
 34900.0,
 34901.0,
 35026.0,
 35028.0,
 35058.0,
 35236.0,
 35268.0,
 35305.0,
 35375.0,
 35468.0,
 35470.0,
 35501.0,
 35502.0,
 35692.0,
 35775.0,
 35886.0,
 36376.0,
 36842.0,
 37732.0,
 38292.0,
 38293.0,
 38517.0,
 39329.0,
 39330.0,
 40069.0,
 40312.0,
 40329.0,
 40330.0,
 40387.0,
 40389.0,
 40390.0,
 40772.0,
 41015.0,
 41612.0,
 41901.0,
 42160.0,
 42400.0,
 43036.0,
 43115.0,
 43141.0,
 43202.0,
 43208.0,
 43213.0,
 43287.0,
 43551.0,
 43904.0,
 43920.0,
 43922.0,
 43931.0,
 44003.0,
 44020.0,
 44356.0,
 44360.0,
 44361.0,
 44463.0,
 44483.0,
 44484.0,
 44844.0,
 45554.0,
 46012.0,
 46017.0,
 46018.0,
 46040.0,
 46113.0,
 46115.0,
 46247.0,
 46541.0,
 47120.0,
 47205.0,
 47252.0,
 47501.0,
 47516.0,
 47517.0,
 47520.0,
 47627.0,
 47629.0,
 47902.0,
 47903.0,
 47906.0,
 48081.0,
 48082.0,
 48085.0,
 48186.0,
 48187.0,
 48190.0,
 48278.0,
 48279.0,
 48282.0,
 48386.0,
 48387.0,
 48390.0,
 48478.0,
 48479.0,
 48482.0,
 48580.0,
 48581.0,
 48584.0,
 48765.0,
 48766.0,
 48806.0,
 48807.0,
 49441.0,
 49516.0,
 49617.0,
 49838.0,
 49839.0,
 49900.0,
 50641.0,
 50779.0,
 51149.0,
 51175.0,
 51229.0,
 51272.0,
 51316.0,
 51447.0,
 51480.0,
 51583.0,
 51654.0,
 51656.0,
 51677.0,
 51678.0,
 51712.0,
 51713.0,
 51896.0,
 51991.0,
 52016.0,
 52150.0,
 52151.0,
 52210.0,
 52219.0,
 52260.0,
 52266.0,
 52412.0,
 52413.0,
 52434.0,
 52454.0,
 52522.0,
 52594.0,
 52595.0,
 52608.0,
 52621.0,
 52622.0,
 52642.0,
 52643.0,
 52665.0,
 52750.0,
 52751.0,
 52833.0,
 52834.0,
 52919.0,
 52954.0,
 53019.0,
 53020.0,
 53052.0,
 53126.0,
 53255.0,
 53256.0,
 53443.0,
 53467.0,
 53469.0,
 53565.0,
 53606.0,
 53659.0,
 53780.0,
 53975.0,
 54076.0,
 54410.0,
 54597.0,
 54872.0,
 55082.0,
 55437.0,
 55439.0,
 55501.0,
 55561.0,
 55591.0,
 55769.0,
 55911.0,
 55912.0,
 56010.0,
 56044.0,
 56045.0,
 56086.0,
 56339.0,
 56341.0,
 56430.0,
 56732.0,
 57049.0,
 57584.0,
 57847.0,
 58043.0,
 58790.0,
 58791.0,
 58933.0,
 58934.0,
 59008.0,
 59295.0,
 59486.0,
 59800.0,
 60130.0,
 60131.0,
 60167.0,
 60200.0,
 60228.0,
 60289.0,
 60290.0,
 60320.0,
 60618.0,
 60820.0,
 60896.0,
 60916.0,
 61028.0,
 61099.0,
 61458.0,
 61459.0,
 61467.0,
 61482.0,
 61515.0,
 61570.0,
 61636.0,
 61788.0,
 61819.0,
 61916.0,
 61917.0,
 62378.0,
 62605.0,
 62667.0,
 62669.0,
 62743.0,
 62760.0,
 63025.0,
 63046.0,
 63105.0,
 63178.0,
 63179.0,
 63200.0,
 63343.0,
 63503.0,
 63505.0,
 64309.0,
 64310.0,
 64388.0,
 64587.0,
 64715.0,
 64837.0,
 64839.0,
 64840.0,
 64845.0,
 64846.0,
 65052.0,
 65053.0,
 65093.0,
 65146.0,
 65209.0,
 65255.0,
 65344.0,
 65359.0,
 65676.0,
 65796.0,
 65857.0,
 65967.0,
 65992.0,
 66443.0,
 66543.0,
 66742.0,
 66854.0,
 66945.0,
 66947.0,
 67272.0,
 67273.0,
 67275.0,
 67619.0,
 68511.0,
 68512.0,
 68564.0,
 68566.0,
 69193.0,
 69824.0,
 69838.0,
 69851.0,
 70016.0,
 70522.0,
 70524.0,
 70526.0,
 70527.0,
 70529.0,
 70564.0,
 70569.0,
 70722.0,
 70771.0,
 70857.0,
 70882.0,
 70884.0,
 70954.0,
 70990.0,
 70992.0,
 71029.0,
 71105.0,
 71320.0,
 71689.0,
 71691.0,
 71846.0,
 71919.0,
 71921.0,
 72053.0,
 72186.0,
 72285.0,
 72287.0,
 72296.0,
 72320.0,
 72321.0,
 72409.0,
 72411.0,
 72766.0,
 72782.0,
 72784.0,
 72805.0,
 72807.0,
 72992.0,
 73085.0,
 73227.0,
 74394.0,
 75918.0,
 76755.0,
 76756.0,
 76824.0,
 76825.0,
 77572.0,
 77573.0,
 77751.0,
 77767.0,
 77768.0,
 77782.0,
 77784.0,
 77962.0,
 77963.0}

In [56]:
len(twogram_second_threegram_first_intersect)

598

In [57]:
df_2_2_and_3_1 = pd.DataFrame(twogram_second_threegram_first_intersect)
df_2_2_and_3_1.rename(columns={0:"2_2_and_3_1"}, inplace=True)
df_2_2_and_3_1

     2_2_and_3_1
0            5.0
1        53255.0
2        53256.0
3        71689.0
4        71691.0
..           ...
593      36842.0
594      34809.0
595      26620.0
596      28670.0
597      28671.0

[598 rows x 1 columns]

In [58]:
#df_2_2_and_3_1.to_excel("Arabic_Buckwalter_All_Twogram_Second_And_Threegram_First_Multi_Indexes.xlsx", index=False)

In [59]:
twogram_first_index = set(df_twogram_index["first_index"].dropna())

In [60]:
len(twogram_first_index)

7132

In [61]:
threegram_third_index = set(df_threegram_index["third_index"].dropna())

In [62]:
len(threegram_third_index)

3062

In [63]:
threegram_third_twogram_first_intersect = twogram_first_index.intersection(threegram_third_index)
threegram_third_twogram_first_intersect

{2.0,
 31.0,
 259.0,
 260.0,
 334.0,
 341.0,
 621.0,
 1328.0,
 1332.0,
 1704.0,
 1816.0,
 1868.0,
 1877.0,
 1878.0,
 1881.0,
 1935.0,
 1936.0,
 2073.0,
 2705.0,
 2706.0,
 2782.0,
 3100.0,
 3136.0,
 3245.0,
 3334.0,
 3338.0,
 3380.0,
 3563.0,
 3595.0,
 3787.0,
 3916.0,
 4180.0,
 4219.0,
 4371.0,
 4701.0,
 4707.0,
 4828.0,
 5007.0,
 5178.0,
 5213.0,
 5214.0,
 5294.0,
 5336.0,
 5337.0,
 5403.0,
 5506.0,
 5540.0,
 5581.0,
 5600.0,
 5607.0,
 5817.0,
 5832.0,
 5833.0,
 5851.0,
 5891.0,
 5911.0,
 6073.0,
 6074.0,
 6095.0,
 6176.0,
 6417.0,
 6418.0,
 6419.0,
 6548.0,
 6681.0,
 6682.0,
 6687.0,
 7044.0,
 7159.0,
 7516.0,
 7617.0,
 7680.0,
 7681.0,
 7710.0,
 7881.0,
 7913.0,
 7953.0,
 8027.0,
 8028.0,
 8158.0,
 8185.0,
 8365.0,
 8366.0,
 8380.0,
 8456.0,
 8457.0,
 8458.0,
 8465.0,
 8610.0,
 8649.0,
 8848.0,
 9035.0,
 9036.0,
 9417.0,
 9480.0,
 9593.0,
 9625.0,
 9626.0,
 9627.0,
 9632.0,
 9670.0,
 9681.0,
 10053.0,
 10054.0,
 10055.0,
 10155.0,
 10424.0,
 10605.0,
 10702.0,
 10752.0,
 10812.0,
 10886.0,
 10975.0,
 10981.0,
 10982.0,
 10983.0,
 11020.0,
 11229.0,
 11568.0,
 11799.0,
 12115.0,
 12354.0,
 12360.0,
 12361.0,
 12362.0,
 12429.0,
 12430.0,
 12543.0,
 12544.0,
 12551.0,
 12564.0,
 12565.0,
 12575.0,
 12576.0,
 12610.0,
 12648.0,
 12821.0,
 13265.0,
 13318.0,
 13319.0,
 13346.0,
 13448.0,
 13452.0,
 13476.0,
 13523.0,
 13586.0,
 13615.0,
 13639.0,
 13664.0,
 13738.0,
 13745.0,
 13765.0,
 13773.0,
 13774.0,
 13789.0,
 13845.0,
 13986.0,
 13987.0,
 13994.0,
 14022.0,
 14023.0,
 14053.0,
 14354.0,
 14427.0,
 14435.0,
 14445.0,
 14767.0,
 14784.0,
 14785.0,
 14786.0,
 14833.0,
 14895.0,
 14907.0,
 14914.0,
 15123.0,
 15124.0,
 15479.0,
 15480.0,
 15481.0,
 15495.0,
 15508.0,
 15563.0,
 15570.0,
 15621.0,
 15643.0,
 15667.0,
 15752.0,
 15753.0,
 15754.0,
 15755.0,
 15801.0,
 15881.0,
 15901.0,
 15996.0,
 16263.0,
 16264.0,
 16265.0,
 16279.0,
 16284.0,
 16289.0,
 16293.0,
 16295.0,
 16450.0,
 16600.0,
 16879.0,
 17187.0,
 17516.0,
 17754.0,
 17859.0,
 18081.0,
 18859.0,
 18868.0,
 18869.0,
 18870.0,
 19349.0,
 19854.0,
 19860.0,
 19882.0,
 19899.0,
 19982.0,
 20221.0,
 20327.0,
 20405.0,
 20535.0,
 20703.0,
 20715.0,
 20741.0,
 21039.0,
 21325.0,
 21895.0,
 22430.0,
 22531.0,
 22539.0,
 22694.0,
 22896.0,
 22979.0,
 23020.0,
 23073.0,
 23095.0,
 23195.0,
 23321.0,
 23400.0,
 23612.0,
 23799.0,
 23801.0,
 24040.0,
 24192.0,
 24281.0,
 24282.0,
 24320.0,
 24368.0,
 24426.0,
 24498.0,
 24558.0,
 24668.0,
 24673.0,
 24713.0,
 24771.0,
 25306.0,
 25307.0,
 25308.0,
 25470.0,
 25616.0,
 25617.0,
 25618.0,
 25827.0,
 25848.0,
 25891.0,
 26024.0,
 26025.0,
 26159.0,
 26165.0,
 26232.0,
 26333.0,
 26446.0,
 26484.0,
 26522.0,
 26596.0,
 26597.0,
 26756.0,
 27012.0,
 27223.0,
 27434.0,
 27443.0,
 27479.0,
 27631.0,
 27632.0,
 27645.0,
 27646.0,
 27725.0,
 27746.0,
 28143.0,
 28289.0,
 28340.0,
 28381.0,
 28489.0,
 28593.0,
 28599.0,
 28635.0,
 28671.0,
 28672.0,
 28772.0,
 29142.0,
 29313.0,
 29667.0,
 29704.0,
 29940.0,
 29964.0,
 30104.0,
 30239.0,
 30533.0,
 30887.0,
 31314.0,
 31337.0,
 31353.0,
 31984.0,
 32038.0,
 32053.0,
 32101.0,
 32102.0,
 32128.0,
 32129.0,
 32155.0,
 32320.0,
 32543.0,
 32588.0,
 32746.0,
 32896.0,
 32919.0,
 32920.0,
 32979.0,
 33228.0,
 33326.0,
 33331.0,
 33332.0,
 33333.0,
 33450.0,
 33730.0,
 33871.0,
 34248.0,
 34256.0,
 34298.0,
 34391.0,
 34508.0,
 34523.0,
 34524.0,
 34536.0,
 34758.0,
 34902.0,
 35027.0,
 35028.0,
 35059.0,
 35237.0,
 35269.0,
 35306.0,
 35423.0,
 35469.0,
 35470.0,
 35502.0,
 35503.0,
 35776.0,
 35854.0,
 35942.0,
 36062.0,
 36239.0,
 36641.0,
 37618.0,
 37801.0,
 37969.0,
 38293.0,
 38294.0,
 38486.0,
 38519.0,
 39330.0,
 39331.0,
 39388.0,
 39878.0,
 40069.0,
 40070.0,
 40313.0,
 40330.0,
 40331.0,
 40363.0,
 40388.0,
 40389.0,
 40392.0,
 40773.0,
 41015.0,
 41016.0,
 41017.0,
 41613.0,
 41721.0,
 41902.0,
 41960.0,
 42899.0,
 43142.0,
 43147.0,
 43203.0,
 43204.0,
 43209.0,
 43288.0,
 43293.0,
 43550.0,
 43552.0,
 43905.0,
 43921.0,
 43922.0,
 43932.0,
 44005.0,
 44006.0,
 44022.0,
 44076.0,
 44126.0,
 44182.0,
 44359.0,
 44464.0,
 44482.0,
 45238.0,
 45321.0,
 45524.0,
 45634.0,
 46013.0,
 46019.0,
 46041.0,
 46114.0,
 46115.0,
 46305.0,
 46347.0,
 46366.0,
 46466.0,
 46508.0,
 46542.0,
 46561.0,
 46575.0,
 46704.0,
 47251.0,
 47253.0,
 47461.0,
 47517.0,
 47519.0,
 47629.0,
 47630.0,
 47903.0,
 47905.0,
 48082.0,
 48084.0,
 48187.0,
 48189.0,
 48279.0,
 48281.0,
 48387.0,
 48389.0,
 48479.0,
 48481.0,
 48581.0,
 48583.0,
 48767.0,
 48785.0,
 48935.0,
 49143.0,
 49428.0,
 49442.0,
 49556.0,
 49618.0,
 49839.0,
 49840.0,
 49948.0,
 50118.0,
 50615.0,
 50640.0,
 50753.0,
 50780.0,
 50781.0,
 50782.0,
 50876.0,
 51150.0,
 51176.0,
 51256.0,
 51271.0,
 51390.0,
 51448.0,
 51481.0,
 51584.0,
 51655.0,
 51656.0,
 51677.0,
 51713.0,
 51714.0,
 52017.0,
 52151.0,
 52152.0,
 52211.0,
 52219.0,
 52220.0,
 52221.0,
 52259.0,
 52348.0,
 52372.0,
 52414.0,
 52435.0,
 52456.0,
 52523.0,
 52595.0,
 52596.0,
 52609.0,
 52622.0,
 52623.0,
 52643.0,
 52644.0,
 52666.0,
 52752.0,
 52829.0,
 52834.0,
 52835.0,
 52921.0,
 52955.0,
 53052.0,
 53193.0,
 53256.0,
 53257.0,
 53444.0,
 53468.0,
 53469.0,
 53561.0,
 53566.0,
 53607.0,
 53660.0,
 53747.0,
 53779.0,
 53781.0,
 53792.0,
 53976.0,
 54077.0,
 54123.0,
 54269.0,
 54578.0,
 54599.0,
 54878.0,
 54944.0,
 55084.0,
 55089.0,
 55206.0,
 55357.0,
 55374.0,
 55430.0,
 55438.0,
 55439.0,
 55502.0,
 55592.0,
 55770.0,
 55913.0,
 56040.0,
 56046.0,
 56085.0,
 56234.0,
 56238.0,
 56318.0,
 56340.0,
 56341.0,
 56431.0,
 56733.0,
 56952.0,
 57051.0,
 57100.0,
 57791.0,
 57803.0,
 57834.0,
 57847.0,
 57848.0,
 58203.0,
 58703.0,
 58791.0,
 58792.0,
 58935.0,
 59009.0,
 59295.0,
 59296.0,
 59442.0,
 59487.0,
 59791.0,
 59801.0,
 59954.0,
 60050.0,
 60131.0,
 60132.0,
 60155.0,
 60251.0,
 60285.0,
 60290.0,
 60291.0,
 60421.0,
 60623.0,
 61029.0,
 61099.0,
 61460.0,
 61468.0,
 61484.0,
 61581.0,
 61790.0,
 61853.0,
 61917.0,
 61918.0,
 62178.0,
 62603.0,
 62651.0,
 62668.0,
 62669.0,
 62760.0,
 62803.0,
 63026.0,
 63047.0,
 63106.0,
 63178.0,
 63201.0,
 63504.0,
 63505.0,
 63515.0,
 63752.0,
 64309.0,
 64310.0,
 64311.0,
 64355.0,
 64388.0,
 64389.0,
 64588.0,
 64597.0,
 64705.0,
 64838.0,
 64839.0,
 64846.0,
 64847.0,
 65054.0,
 65094.0,
 65197.0,
 65210.0,
 65226.0,
 65342.0,
 65360.0,
 65361.0,
 65362.0,
 65521.0,
 65783.0,
 65846.0,
 65858.0,
 65939.0,
 65969.0,
 65993.0,
 65998.0,
 66305.0,
 66392.0,
 66443.0,
 66444.0,
 66445.0,
 66682.0,
 66744.0,
 66764.0,
 66947.0,
 66948.0,
 66956.0,
 66960.0,
 66970.0,
 66976.0,
 67037.0,
 67130.0,
 67170.0,
 67196.0,
 67246.0,
 67273.0,
 67274.0,
 67275.0,
 67313.0,
 67620.0,
 67690.0,
 68054.0,
 68351.0,
 68370.0,
 68565.0,
 68566.0,
 68734.0,
 69080.0,
 69194.0,
 69436.0,
 69819.0,
 69825.0,
 69832.0,
 69838.0,
 69853.0,
 69888.0,
 70016.0,
 70017.0,
 70018.0,
 70354.0,
 70398.0,
 70518.0,
 70523.0,
 70526.0,
 70527.0,
 70528.0,
 70529.0,
 70608.0,
 70645.0,
 70676.0,
 70695.0,
 70773.0,
 70857.0,
 70858.0,
 70859.0,
 70877.0,
 70883.0,
 70884.0,
 70897.0,
 70992.0,
 71028.0,
 71223.0,
 71234.0,
 71321.0,
 71328.0,
 71332.0,
 71448.0,
 71548.0,
 71660.0,
 71664.0,
 71684.0,
 71690.0,
 71691.0,
 71699.0,
 71747.0,
 71786.0,
 71795.0,
 71796.0,
 71825.0,
 71847.0,
 71857.0,
 71878.0,
 71914.0,
 71920.0,
 71921.0,
 71987.0,
 71988.0,
 72037.0,
 72054.0,
 72095.0,
 72187.0,
 72188.0,
 72230.0,
 72280.0,
 72286.0,
 72287.0,
 72296.0,
 72321.0,
 72322.0,
 72338.0,
 72409.0,
 72410.0,
 72411.0,
 72466.0,
 72481.0,
 72526.0,
 72767.0,
 72782.0,
 72783.0,
 72784.0,
 72807.0,
 72819.0,
 72916.0,
 72939.0,
 72951.0,
 72968.0,
 73077.0,
 73085.0,
 73414.0,
 73719.0,
 73983.0,
 74204.0,
 74435.0,
 74725.0,
 74925.0,
 74929.0,
 75189.0,
 75357.0,
 75604.0,
 75789.0,
 75918.0,
 75919.0,
 75967.0,
 76150.0,
 76287.0,
 76395.0,
 76480.0,
 76653.0,
 76757.0,
 76765.0,
 76802.0,
 76806.0,
 76825.0,
 76826.0,
 76832.0,
 76878.0,
 76943.0,
 77019.0,
 77115.0,
 77258.0,
 77344.0,
 77402.0,
 77477.0,
 77521.0,
 77552.0,
 77574.0,
 77590.0,
 77666.0,
 77700.0,
 77768.0,
 77769.0,
 77782.0,
 77783.0,
 77784.0,
 77798.0,
 77838.0,
 77882.0,
 77922.0,
 77954.0,
 77964.0,
 77972.0,
 78009.0,
 78036.0,
 78057.0,
 78086.0,
 78100.0,
 78131.0,
 78154.0,
 78181.0,
 78200.0,
 78227.0}

In [64]:
len(threegram_third_twogram_first_intersect)

833

In [65]:
df_3_3_and_2_1 = pd.DataFrame(threegram_third_twogram_first_intersect)
df_3_3_and_2_1.rename(columns={0:"3_3_and_2_1"}, inplace=True)
df_3_3_and_2_1

     3_3_and_2_1
0        28672.0
1            2.0
2        22531.0
3        71684.0
4        53256.0
..           ...
828      71664.0
829      65521.0
830      73719.0
831       8185.0
832      28671.0

[833 rows x 1 columns]

In [66]:
#df_3_3_and_2_1.to_excel("Arabic_Buckwalter_All_Threegram_Third_And_Twogram_First_Multi_Indexes.xlsx", index=False)