### Merge Clean DataFrame Sentence

In [1]:
import pandas as pd
import numpy as np
import re
import glob
import nltk
from nltk import word_tokenize

#### Cancat Axis 1

In [2]:
df1 = pd.read_csv("Clean_Spark_Sentence_Tokenize1.csv")
df1.head()

      sentence  frequency     ratio  cumul_ratio
0         evet     295740  1.086199     1.086199
1        hayır     192881  0.708417     1.794616
2        tamam     133154  0.489050     2.283667
3           ne     115321  0.423553     2.707220
4  teşekkürler      50937  0.187082     2.894302

In [3]:
frequency_sum1 = df1.frequency.sum()
frequency_sum1

23351494

In [4]:
cumul_ratio_last1 = df1.iloc[-1].cumul_ratio
cumul_ratio_last1

88.5283225888055

In [5]:
total_frequency1 = ((100*frequency_sum1))/cumul_ratio_last1
total_frequency1

26377427.3781991

In [6]:
df1 = df1[["sentence","frequency"]]

In [7]:
df1 = df1.rename(columns={"frequency":"frequency1"})

In [8]:
df1 = df1.drop_duplicates(subset=['sentence'])
df1.reset_index(drop=True, inplace=True)

In [9]:
df2 = pd.read_csv("Clean_Spark_Sentence_Tokenize2.csv")
df2.head()

      sentence  frequency     ratio  cumul_ratio
0         evet     309476  1.154570     1.154570
1        hayır     193554  0.722097     1.876667
2        tamam     139550  0.520623     2.397290
3           ne     121488  0.453238     2.850528
4  teşekkürler      54992  0.205160     3.055688

In [10]:
frequency_sum2 = df2.frequency.sum()
frequency_sum2

22727930

In [11]:
cumul_ratio_last2 = df2.iloc[-1].cumul_ratio
cumul_ratio_last2

87.76435363724863

In [12]:
total_frequency2 = ((100*frequency_sum2))/cumul_ratio_last2
total_frequency2

25896538.922784127

In [13]:
df2 = df2[["sentence","frequency"]]

In [14]:
df2 = df2.rename(columns={"frequency":"frequency2"})

In [15]:
df2 = df2.drop_duplicates(subset=['sentence'])
df2.reset_index(drop=True, inplace=True)

In [16]:
df_12 = pd.merge(df1, df2, how ='inner', on =['sentence', 'sentence'])
df_12

                        sentence  frequency1  frequency2
0                           evet      295740      309476
1                          hayır      192881      193554
2                          tamam      133154      139550
3                             ne      115321      121488
4                    teşekkürler       50937       54992
...                          ...         ...         ...
304345     annem çok endişelendi           2           4
304346                  ben matt           2          35
304347              ben budistim           2           8
304348  sipariş vermek istiyorum           2          11
304349                 lafayette           2          80

[304350 rows x 3 columns]

In [17]:
df_12.reset_index(drop=True, inplace=True)

In [19]:
df3 = pd.read_csv("Clean_Spark_Sentence_Tokenize3.csv")
df3.head()

      sentence  frequency     ratio  cumul_ratio
0         evet     294514  1.107420     1.107420
1        hayır     191667  0.720699     1.828119
2        tamam     132748  0.499154     2.327273
3           ne     112562  0.423251     2.750525
4  teşekkürler      52592  0.197754     2.948279

In [20]:
frequency_sum3 = df3.frequency.sum()
frequency_sum3

22256395

In [21]:
cumul_ratio_last3 = df3.iloc[-1].cumul_ratio
cumul_ratio_last3

86.6811786456216

In [22]:
total_frequency3 = ((100*frequency_sum3))/cumul_ratio_last3
total_frequency3

25676156.401830614

In [23]:
df3 = df3[["sentence","frequency"]]

In [24]:
df3 = df3.rename(columns={"frequency":"frequency3"})

In [25]:
df3 = df3.drop_duplicates(subset=['sentence'])
df3.reset_index(drop=True, inplace=True)

In [26]:
df_123 = pd.merge(df_12, df3, how="inner", on="sentence")
df_123

                        sentence  frequency1  frequency2  frequency3
0                           evet      295740      309476      294514
1                          hayır      192881      193554      191667
2                          tamam      133154      139550      132748
3                             ne      115321      121488      112562
4                    teşekkürler       50937       54992       52592
...                          ...         ...         ...         ...
195563          gitmeye hazırdım           2           5           3
195564                  ben matt           2          35          24
195565              ben budistim           2           8          14
195566  sipariş vermek istiyorum           2          11           4
195567                 lafayette           2          80          37

[195568 rows x 4 columns]

In [27]:
df_123.reset_index(drop=True, inplace=True)

In [28]:
df4 = pd.read_csv("Clean_Spark_Sentence_Tokenize4.csv")
df4.head()

      sentence  frequency     ratio  cumul_ratio
0         evet     296018  1.126115     1.126115
1        hayır     191022  0.726688     1.852803
2        tamam     135117  0.514014     2.366817
3           ne     112341  0.427369     2.794186
4  teşekkürler      54417  0.207014     3.001200

In [29]:
frequency_sum4 = df4.frequency.sum()
frequency_sum4

21303733

In [30]:
cumul_ratio_last4 = df4.iloc[-1].cumul_ratio
cumul_ratio_last4

84.06787976643034

In [31]:
total_frequency4 = ((100*frequency_sum4))/cumul_ratio_last4
total_frequency4

25341108.94575805

In [32]:
df4 = df4[["sentence","frequency"]]

In [33]:
df4 = df4.rename(columns={"frequency":"frequency4"})

In [34]:
df4 = df4.drop_duplicates(subset=['sentence'])
df4.reset_index(drop=True, inplace=True)

In [35]:
df_1234 = pd.merge(df_123, df4,how="inner", on="sentence")
df_1234

                      sentence  frequency1  frequency2  frequency3  frequency4
0                         evet      295740      309476      294514      296018
1                        hayır      192881      193554      191667      191022
2                        tamam      133154      139550      132748      135117
3                           ne      115321      121488      112562      112341
4                  teşekkürler       50937       54992       52592       54417
...                        ...         ...         ...         ...         ...
161023  sana yük olmak istemem           2          14           5          37
161024           kurban nerede           2           2           6           7
161025   bilmem hatırlamıyorum           2           7           6           4
161026                ben matt           2          35          24          22
161027               lafayette           2          80          37          26

[161028 rows x 5 columns]

In [36]:
df_1234.reset_index(drop=True, inplace=True)

In [37]:
df5 = pd.read_csv("Clean_Spark_Sentence_Tokenize5.csv")
df5.head()

      sentence  frequency     ratio  cumul_ratio
0         evet     301408  1.131765     1.131765
1        hayır     198260  0.744452     1.876217
2        tamam     138334  0.519434     2.395651
3           ne     116595  0.437806     2.833457
4  teşekkürler      52585  0.197453     3.030910

In [38]:
frequency_sum5 = df5.frequency.sum()
frequency_sum5

21912009

In [39]:
cumul_ratio_last5 = df5.iloc[-1].cumul_ratio
cumul_ratio_last5

85.13633426487745

In [40]:
total_frequency5 = ((100*frequency_sum5))/cumul_ratio_last5
total_frequency5

25737552.819489535

In [41]:
df5 = df5[["sentence","frequency"]]

In [42]:
df5 = df5.rename(columns={"frequency":"frequency5"})

In [43]:
df5 = df5.drop_duplicates(subset=['sentence'])
df5.reset_index(drop=True, inplace=True)

In [44]:
df_12345= pd.merge(df_1234, df5, how="inner", on="sentence")
df_12345

,sentence,frequency1,frequency2,frequency3,frequency4,frequency5
0,evet,295740,309476,294514,296018,301408
1,hayır,192881,193554,191667,191022,198260
2,tamam,133154,139550,132748,135117,138334
3,ne,115321,121488,112562,112341,116595
4,teşekkürler,50937,54992,52592,54417,52585
...,...,...,...,...,...,...
141414,sana yük olmak istemem,2,14,5,37,3
141415,kurban nerede,2,2,6,7,6
141416,bilmem hatırlamıyorum,2,7,6,4,5
141417,ben matt,2,35,24,22,36
141418,lafayette,2,80,37,26,97

In [45]:
df_12345.reset_index(drop=True, inplace=True)

In [46]:
df6 = pd.read_csv("Clean_Spark_Sentence_Tokenize6.csv")
df6.head()

      sentence  frequency     ratio  cumul_ratio
0         evet     305755  1.163952     1.163952
1        hayır     188033  0.715807     1.879759
2        tamam     139044  0.529315     2.409073
3           ne     122233  0.465318     2.874392
4  teşekkürler      53549  0.203851     3.078243

In [47]:
frequency_sum6 = df6.frequency.sum()
frequency_sum6

22081479

In [48]:
cumul_ratio_last6 = df6.iloc[-1].cumul_ratio
cumul_ratio_last6

87.33178450321961

In [49]:
total_frequency6 = ((100*frequency_sum6))/cumul_ratio_last6
total_frequency6

25284584.673963618

In [50]:
df6 = df6[["sentence","frequency"]]

In [51]:
df6 = df6.rename(columns={"frequency":"frequency6"})

In [52]:
df6 = df6.drop_duplicates(subset=['sentence'])
df6.reset_index(drop=True, inplace=True)

In [53]:
df_123456= pd.merge(df_12345, df6, how="inner", on="sentence")
df_123456

,sentence,frequency1,frequency2,frequency3,frequency4,frequency5,frequency6
0,evet,295740,309476,294514,296018,301408,305755
1,hayır,192881,193554,191667,191022,198260,188033
2,tamam,133154,139550,132748,135117,138334,139044
3,ne,115321,121488,112562,112341,116595,122233
4,teşekkürler,50937,54992,52592,54417,52585,53549
...,...,...,...,...,...,...,...
127263,monte carlo,2,10,20,9,8,11
127264,kurban nerede,2,2,6,7,6,6
127265,bilmem hatırlamıyorum,2,7,6,4,5,14
127266,ben matt,2,35,24,22,36,29
127267,lafayette,2,80,37,26,97,21

In [54]:
df_123456.reset_index(drop=True, inplace=True)

In [55]:
df7 = pd.read_csv("Clean_Spark_Sentence_Tokenize7.csv")
df7.head()

  sentence  frequency     ratio  cumul_ratio
0     evet     145679  1.119984     1.119984
1    hayır      94951  0.729986     1.849970
2    tamam      64944  0.499291     2.349261
3       ne      52568  0.404144     2.753405
4     hadi      25705  0.197621     2.951026

In [56]:
frequency_sum7 = df7.frequency.sum()
frequency_sum7

10345533

In [57]:
cumul_ratio_last7 = df7.iloc[-1].cumul_ratio
cumul_ratio_last7

82.34993741877467

In [58]:
total_frequency7 = ((100*frequency_sum7))/cumul_ratio_last7
total_frequency7

12562891.149983265

In [59]:
df7 = df7[["sentence","frequency"]]

In [60]:
df7 = df7.rename(columns={"frequency":"frequency7"})

In [61]:
df7 = df7.drop_duplicates(subset=['sentence'])
df7.reset_index(drop=True, inplace=True)

In [68]:
df_1234567= pd.merge(df_123456, df7, how="inner", on="sentence")
df_1234567

,sentence,frequency1,frequency2,frequency3,frequency4,frequency5,frequency6,frequency7
0,evet,295740,309476,294514,296018,301408,305755,145679
1,hayır,192881,193554,191667,191022,198260,188033,94951
2,tamam,133154,139550,132748,135117,138334,139044,64944
3,ne,115321,121488,112562,112341,116595,122233,52568
4,teşekkürler,50937,54992,52592,54417,52585,53549,24459
...,...,...,...,...,...,...,...,...
102887,kararım budur,2,9,8,6,4,9,4
102888,monte carlo,2,10,20,9,8,11,12
102889,kurban nerede,2,2,6,7,6,6,16
102890,ben matt,2,35,24,22,36,29,17
102891,lafayette,2,80,37,26,97,21,10

In [69]:
df_1234567 = df_1234567.drop_duplicates(subset=['sentence'])
df_1234567.reset_index(drop=True, inplace=True)

In [70]:
df_1234567["frequency"] = df_1234567.frequency1 + df_1234567.frequency2 + df_1234567.frequency3 + df_1234567.frequency4 + df_1234567.frequency5 + df_1234567.frequency6 + df_1234567.frequency7
df_1234567.drop(["frequency1","frequency2","frequency3","frequency4","frequency5","frequency6","frequency7"], axis=1, inplace=True)
df_1234567

             sentence  frequency
0                evet    1948590
1               hayır    1250368
2               tamam     882891
3                  ne     753108
4         teşekkürler     343531
...               ...        ...
102887  kararım budur         42
102888    monte carlo         72
102889  kurban nerede         45
102890       ben matt        165
102891      lafayette        273

[102892 rows x 2 columns]

In [71]:
df_1234567 = df_1234567.sort_values(by=['frequency'],ascending=False)
df_1234567

                                 sentence  frequency
0                                    evet    1948590
1                                   hayır    1250368
2                                   tamam     882891
3                                      ne     753108
4                             teşekkürler     343531
...                                   ...        ...
102398                     bayan hathaway         16
98839           bitirmek zorunda değilsin         16
100262                         bak su ise         15
102231  ne zaman istersem o zaman giderim         15
100748                  olur böyle seyler         14

[102892 rows x 2 columns]

In [77]:
df_1234567.iloc[26]

sentence     i yi misin
frequency        147090
Name: 29, dtype: object

In [72]:
df_1234567.to_excel("Spark_Turkish_Sentence_Result_Merge.xlsx", sheet_name='Sentence', index=False)

In [73]:
total_frequency = total_frequency1 + total_frequency2 + total_frequency3 + total_frequency4 + total_frequency5 + total_frequency6 + total_frequency7
total_frequency

166876260.29200828

#### Concat Axis 0

In [ ]:
df1 = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Clean_Spark_Sentence_Tokenize1.csv")
df1

In [ ]:
df2 = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Clean_Spark_Sentence_Tokenize2.csv")
df2

In [ ]:
df3 = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Clean_Spark_Sentence_Tokenize3.csv")
df3

In [ ]:
df4 = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Clean_Spark_Sentence_Tokenize4.csv")
df4

In [ ]:
df5 = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Clean_Spark_Sentence_Tokenize5.csv")
df5

In [ ]:
df6 = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Clean_Spark_Sentence_Tokenize6.csv")
df6

In [ ]:
df7 = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Clean_Spark_Sentence_Tokenize7.csv")
df7

In [ ]:
tokenize_list = glob.glob("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Sentence/Sentence Tokenize Data/Clean_Spark_Sentence_Tokenize*.csv")
tokenize_list

In [ ]:
# Read all data
df_all_result = pd.DataFrame()
for i in tokenize_list:
#for i in range(1,8):
    df_var = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Pyspark/Result/Clean_Spark_Sentence_Tokenize{i}.csv")
    df_all_result = pd.concat([df_var, df_all_result], axis=0)
    df_all_result.dropna(inplace=True)
    df_all_result.reset_index(drop=True, inplace=True)
    df_all_result = df_all_result[["sentence", "frequency"]]
df_all_result

In [ ]:
df_all_group = df_all_result.groupby(["sentence"])["frequency"].sum().sort_values(ascending=False)
df_all_group = df_all_group.reset_index()
df_all_group.dropna(inplace=True)
df_all_group.reset_index(drop=True, inplace=True)
df_all_group

In [ ]:
df_all_group = df_all_group[df_all_group.frequency >= 1]

In [ ]:
total_frequency = df_all_group.frequency.sum()

In [ ]:
df_all_group["ratio"] = (df_all_group.frequency/total_frequency)*100

In [ ]:
df_all_group["cumul_ratio"] = np.cumsum(df_all_group["ratio"])

In [ ]:
df_all_group.to_csv("Clean_Spark_Sentence_Merge_Result.csv", index=False)