### Name Entity From Capital Letter Words

In [ ]:
#!pip install kneed

In [1]:
import pandas as pd
import numpy as np
import re
from kneed import KneeLocator

#### Capital Letter Word And Lower Letter Word

In [2]:
df = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/English/Result/Word/Capital/Not_Apply_Lower_Word_Merge_Result.csv") # Not apply lower technique
df

                            word  frequency         ratio  cumul_ratio
0                              I   93652765  3.692194e+00     3.692194
1                            you   75979154  2.995424e+00     6.687618
2                            the   67943057  2.678607e+00     9.366225
3                             to   56467428  2.226188e+00    11.592414
4                              s   50166433  1.977776e+00    13.570190
...                          ...        ...           ...          ...
3157922  includingnataliamallory          1  3.942429e-08   100.000000
3157923                 Plaiedes          1  3.942429e-08   100.000000
3157924   includingmyfriendBrida          1  3.942429e-08   100.000000
3157925      includingmyfavorite          1  3.942429e-08   100.000000
3157926             aeroelastico          1  3.942429e-08   100.000000

[3157927 rows x 4 columns]

In [3]:
df = df[df.iloc[:,1]>=5]

In [4]:
def word_length(var):
    var = str(var)
    if len(var) <= 12:
        return var
    else:
        return "word is bigger than adjust value"

In [5]:
df = pd.DataFrame(df.iloc[:,0].apply(lambda x: word_length(x)))

In [6]:
df.drop(df[df.iloc[:,0] == "word is bigger than adjust value"].index, axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)
df

              word
0                I
1              you
2              the
3               to
4                s
...            ...
870708       ddoit
870709      innere
870710      fminus
870711  Conquestus
870712       unorg

[870713 rows x 1 columns]

In [7]:
capital_word_list = []
lower_word_list = []
for i in df.iloc[:,0]:
    i = str(i)
    if i[0].isupper():
        capital_word_list.append(i)
    else:
        lower_word_list.append(i)

In [8]:
df_capital = pd.DataFrame(capital_word_list)
df_capital.rename(columns={0:"word"}, inplace=True)
df_capital = pd.DataFrame(df_capital.iloc[:,0].apply(lambda x: x.capitalize()))
df_capital

              word
0                I
1              You
2               It
3             What
4               We
...            ...
518943  Treportoni
518944     Ikemizu
518945   Morningma
518946     Yourone
518947  Conquestus

[518948 rows x 1 columns]

In [9]:
df_capital_to_lower = pd.DataFrame(df_capital.iloc[:,0].apply(lambda x : x.lower()))
df_capital_to_lower

              word
0                i
1              you
2               it
3             what
4               we
...            ...
518943  treportoni
518944     ikemizu
518945   morningma
518946     yourone
518947  conquestus

[518948 rows x 1 columns]

In [10]:
df_lower = pd.DataFrame(lower_word_list)
df_lower.rename(columns={0:"word"}, inplace=True)
df_lower

               word
0               you
1               the
2                to
3                 s
4               not
...             ...
351760  heavybrowed
351761        ddoit
351762       innere
351763       fminus
351764        unorg

[351765 rows x 1 columns]

In [11]:
df_lower_to_lower = pd.DataFrame(df_lower.iloc[:,0].apply(lambda x : x.lower()))
df_lower_to_lower

               word
0               you
1               the
2                to
3                 s
4               not
...             ...
351760  heavybrowed
351761        ddoit
351762       innere
351763       fminus
351764        unorg

[351765 rows x 1 columns]

In [12]:
capital_set = set(df_capital_to_lower.iloc[:,0])

In [13]:
lower_set = set(df_lower_to_lower.iloc[:,0])

In [14]:
df_all_capital = pd.DataFrame(capital_set.difference(lower_set)) # compare capital letter word and lower letter word
df_all_capital.rename(columns={0:"word"}, inplace=True)
#df_all_capital = pd.DataFrame(df_all_capital.iloc[:,0].apply(lambda x: x.capitalize()))
df_all_capital

              word
0         okishima
1       keerikadan
2           goniec
3            elona
4           hephep
...            ...
296487      nagast
296488    tronçais
296489     kwitnys
296490   debenhams
296491     parizot

[296492 rows x 1 columns]

In [15]:
# Check result with all capital word
# df_merge = pd.merge(df_capital, df_all_capital, how="inner", on="word")
# df_merge.drop_duplicates(inplace=True)
# df_merge.reset_index(drop=True, inplace=True)
# df_merge

In [16]:
df_all_capital.to_excel("All_Capital_Letter_Word.xlsx", sheet_name="Word", index=False)

#### Sentence First Word Analysis

In [17]:
df_sent = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/English/Result/Sentence/Merge/Sentence_Merge.csv")
df_sent

                                                   sentence  frequency
0                                                        no    3360789
1                                                      yeah    3200757
2                                                       yes    2042693
3                                                      what    2013276
4                                                      okay    1800201
...                                                     ...        ...
16268905                    tonight s party that s included          4
16268906                              if the class signs on          4
16268907  her presence gives us an advantage to continue...          4
16268908                    that s exactly what you can use          4
16268909                                   that s for harry          4

[16268910 rows x 2 columns]

In [ ]:
#df_sent = df_sent[df_sent.iloc[:,1]>=5]

In [18]:
first_words = []
for i in df_sent.iloc[:,0]: # Select sentence first word
    words = re.findall("\w+", i, re.UNICODE)
    first_words.append(words[0])

In [ ]:
first_ser = pd.Series(first_words)
first_ser

In [ ]:
df_first = pd.DataFrame(first_ser.value_counts(ascending=False))
df_first.reset_index(inplace=True)
df_first.rename(columns={"index":"word", 0:"frequency"}, inplace=True)
df_first

In [ ]:
set_first = set(df_first.iloc[:,0])

In [ ]:
set_all_capital = set(df_all_capital.iloc[:,0])

In [ ]:
df_all_spec = pd.DataFrame(set_all_capital.difference(set_first)) # Capital letter word and first sentence word
df_all_spec.rename(columns={0:"word"}, inplace=True)
df_all_spec

In [ ]:
df_all_spec.to_excel("Special_Name_Exactly.xlsx", sheet_name="Spec_Name", index=False)

#### Spec Name Knee Point

In [ ]:
df_word = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/French/Result/Word/Merge/French_Word_Merge_Result2.csv")
df_word

In [ ]:
df_all_spec_freq = pd.merge(df_word, df_all_spec, how="inner", on="word")
df_all_spec_freq

In [ ]:
total_freq_spec = df_all_spec_freq.iloc[:,1].sum()
total_freq_spec

In [ ]:
df_all_spec_freq["ratio"] = round(((df_all_spec_freq.iloc[:,1]/total_freq_spec)*100),7)
df_all_spec_freq

In [ ]:
df_all_spec_freq["cumul_ratio"] = np.cumsum(df_all_spec_freq.iloc[:,2])
df_all_spec_freq

In [ ]:
spec_kneedle = KneeLocator(x=df_all_spec_freq.cumul_ratio.index, y=df_all_spec_freq.cumul_ratio, S=1.0, curve="concave", direction="increasing")
spec_kneedle.plot_knee()

In [ ]:
print(round(spec_kneedle.knee_y))

In [ ]:
knee_point_spec = round(spec_kneedle.knee_y)

In [ ]:
df_spec_knee = df_all_spec_freq[df_all_spec_freq.cumul_ratio <= knee_point_spec]
df_spec_knee

In [ ]:
df_spec_knee.to_excel("Special_Name_Exactly_Knee.xlsx", sheet_name="Spec_Name", index=False)

#### Sentence First Word Knee Point

In [ ]:
df_first = df_first[df_first.iloc[:,1]>=5]

In [ ]:
total_freq_first = df_first.iloc[:,1].sum()
total_freq_first

In [ ]:
df_first["ratio"] = round(((df_first.iloc[:,1]/total_freq_first)*100),7)
df_first

In [ ]:
df_first["cumul_ratio"] = np.cumsum(df_first.iloc[:,2])
df_first

In [ ]:
first_kneedle = KneeLocator(x=df_first.cumul_ratio.index, y=df_first.cumul_ratio, S=1.0, curve="concave", direction="increasing")
first_kneedle.plot_knee()

In [ ]:
print(round(first_kneedle.knee_y))

In [ ]:
knee_point_first = round(first_kneedle.knee_y)

In [ ]:
df_first_knee = df_first[df_first.cumul_ratio <= knee_point_first]
df_first_knee

In [ ]:
df_first_knee.to_excel("First_Word_Knee.xlsx", sheet_name="Word", index=False)

In [ ]:
df_first_no_knee = df_first[df_first.cumul_ratio > knee_point_first]
df_first_no_knee.reset_index(drop=True, inplace=True)
df_first_no_knee = df_first_no_knee.iloc[:,0:2]
df_first_no_knee

In [ ]:
#df_first_no_knee.to_excel("First_Word_No_Knee.xlsx", sheet_name="Word", index=False)

In [ ]:
set_first_knee = set(df_first_knee.iloc[:,0])

In [ ]:
set_first_no_knee = set(df_first_no_knee.iloc[:,0])

In [ ]:
#set_all_capital = set(df_all_capital.iloc[:,0])

In [ ]:
df_all_knee = pd.DataFrame(set_all_capital.difference(set_first_knee)) # Capital letter word and first sentenc word knee analysis
df_all_knee.rename(columns={0:"word"}, inplace=True)
df_all_knee

#### First 40 000 Word And Capital Letter Word Analysis

In [ ]:
df_word = pd.read_csv("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/French/Result/Word/Merge/French_Word_Merge_Result2.csv")
df_word = df_word.head(40000)
df_word

In [ ]:
set_word = set(df_word.iloc[:,0])

In [ ]:
set_all_knee = set(df_all_knee.iloc[:,0])

In [ ]:
df_word_capital = pd.DataFrame(set_word.intersection(set_all_knee))
df_word_capital.rename(columns={0:"word"}, inplace=True)
df_word_capital

In [ ]:
df_word_capital.to_excel("Word_And_Capital_Letter_Word_Intersect.xlsx", sheet_name="Word_Capital", index=False)