### Web Scrapping Data Combinate To Master

In [1]:
import pandas as pd
import numpy as np
import re
import glob

In [2]:
df_master_all = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/8-Compare Color Flags/Arabic_Buckwalter_All_Relocation_Edit_Counts_Audio_Time_Root_Master.xlsx")
df_master_all

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 1,level 2,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,1,2,3,4,2,3,50.0,510.0,NaN,0
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,1,2,3,4,2,3,520.0,1180.0,NaN,1
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,1,2,3,4,2,3,1190.0,2340.0,NaN,2
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,1,2,3,4,2,3,2350.0,4480.0,NaN,3
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,0,0,2,4,2,0,700.0,1410.0,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,0,0,0,5080.0,6760.0,NaN,78244
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,1,1,1,4,0,0,6770.0,10010.0,NaN,78245
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,1,1,1,0,0,0,650.0,1160.0,NaN,78246
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,0,1,1,4,0,0,1170.0,3740.0,NaN,78247
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,0,4,0,0,3750.0,7530.0,NaN,78248

In [3]:
df_info = pd.DataFrame(df_master_all.groupby(["surah","surah latin"])["index"].min())
df_info.reset_index(inplace=True)
df_info

     surah surah latin  index
0        1   Al-Fatiha      0
1        2   Al-Baqara     29
2        3    Al Imran   6174
3        4    An-Nisa'   9679
4        5   Al-Ma'ida  13446
..     ...         ...    ...
109    110     An-Nasr  78129
110    111    Al-Masad  78152
111    112   Al-Ikhlas  78179
112    113    Al-Falaq  78198
113    114      An-Nas  78225

[114 rows x 3 columns]

In [4]:
df_info["index"] = df_info["index"].apply(lambda x: x+4)
df_info

     surah surah latin  index
0        1   Al-Fatiha      4
1        2   Al-Baqara     33
2        3    Al Imran   6178
3        4    An-Nisa'   9683
4        5   Al-Ma'ida  13450
..     ...         ...    ...
109    110     An-Nasr  78133
110    111    Al-Masad  78156
111    112   Al-Ikhlas  78183
112    113    Al-Falaq  78202
113    114      An-Nas  78229

[114 rows x 3 columns]

In [5]:
#df_info.to_excel("Adding_Info_File.xlsx", index=False)

#### Read Adding Info File

In [38]:
df_info_file = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/10-Web Scrapping Data To Master/Adding_Info_File.xlsx") # Added scrapping name to previous file manually 
df_info_file

     surah surah latin  index    scrap_name
0        1   Al-Fatiha      0    Al Faatiha
1        2   Al-Baqara     33     Al Baqara
2        3    Al Imran   6178  AAl I Imraan
3        4    An-Nisa'   9683      An Nisaa
4        5   Al-Ma'ida  13450     Al Maaida
..     ...         ...    ...           ...
109    110     An-Nasr  78133       An Nasr
110    111    Al-Masad  78156      Al Masad
111    112   Al-Ikhlas  78183    Al Ikhlaas
112    113    Al-Falaq  78202      Al Falaq
113    114      An-Nas  78229       An Naas

[114 rows x 4 columns]

In [39]:
#df_info_file = df_info_file.head(5)

In [40]:
def add_info(df,surah_name, surah_num, index):
    for i in range(len(df)):
        df["surah latin"] = surah_name
        df["surah"] = surah_num
        df.loc[i,"index"] = i+index
    return df

In [41]:
df_list = []
for i in range(len(df_info_file)):
    surah_num = df_info_file.loc[i,"surah"]
    surah_name = df_info_file.loc[i,"surah latin"]
    index = df_info_file.loc[i,"index"]
    surah = df_info_file.loc[i,"scrap_name"]
    file = glob.glob(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Web Scrapping/Result/*/{surah.lower().capitalize()}_Arabic_Transliterate_Translate_Words_Languages_Concat.xlsx")
    df = pd.read_excel(file[0])
    df_added_info = add_info(df,surah_name, surah_num, index)
    df_added_info = df_added_info.iloc[:,[10,9,0,1,2,3,4,5,6,7,8,11]]
    df_list.append(df_added_info)

In [14]:
df_list[1]

,surah,surah latin,arabic,transliterate,translate_english,translate_urdu,translate_hindi,translate_indonesian,translate_bangla,translate_turkish,translate_russian,index
0,2,Al-Baqara,الٓمٓ,alif-lam-meem,Alif Laam Meem,الف ۔ لام ۔ میم,अलिफ़ लाम मीम,Alif lam mim,আলিফ লা-ম মী-ম,Elif Lâm Mîm,Алиф лам мим.,33.0
1,2,Al-Baqara,ذَٰلِكَ,dhalika,That,وہ,ये,itu,(এটা) সেই,işte o,Это,34.0
2,2,Al-Baqara,ٱلۡكِتَٰبُ,al-kitabu,(is) the Book,کتاب ہے,किताब,Kitab,মহাগ্রন্থ (আল্লাহর),Kitap,Писание,35.0
3,2,Al-Baqara,لَا,la,no,نہیں,नहीं,tidak ada,নেই,yoktur,нет,36.0
4,2,Al-Baqara,رَيۡبَۛ,rayba,doubt,کوئی شک,कोई शक,keraguan,কোনো সন্দেহ,hiç şüphe,сомнения,37.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6111,2,Al-Baqara,مَوۡلَىٰنَا,mawlana,our Protector,ہمارا مولا ہے,मौला है हमारा,penolong kami,আমাদের অভিভাবক,bizim sahibimizsin,покровитель наш,6144.0
6112,2,Al-Baqara,فَٱنصُرۡنَا,fa-unsur'na,so help us,پس مدد فرما ہماری,पस मदद फ़रमा हमारी,maka tolonglah kami,আমাদের সাহায্য কর তাই,bize yardım eyle,помоги же нам,6145.0
6113,2,Al-Baqara,عَلَى,ala,against,اوپر,*,atas,বিরুদ্ধে,karşı,против,6146.0
6114,2,Al-Baqara,ٱلۡقَوۡمِ,al-qawmi,the people,کافر قوم کے,उन लोगों पर,kaum,সম্প্রদায়ের,toplumuna,людей,6147.0
6115,2,Al-Baqara,ٱلۡكَٰفِرِينَ,al-kafirina,[the] disbelievers,اوپر کافر قوم کے,जो काफ़िर हैं,orang-orang kafir,(যারা) কাফির,kafirler,неверующих.,6148.0