### Mp3 File Name

In [10]:
import pandas as pd
import numpy as np
import json
import re
import glob
import os

In [11]:
df_master= pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/10-Web Scrapping Data To Master/Arabic_Buckwalter_All_Deployment_Master Original.xlsx")
df_mp3 = df_master[["page","surah","ayah","surah latin"]]
df_mp3

       page  surah  ayah surah latin
0         1      1     1   Al-Fatiha
1         1      1     1   Al-Fatiha
2         1      1     1   Al-Fatiha
3         1      1     1   Al-Fatiha
4         1      1     2   Al-Fatiha
...     ...    ...   ...         ...
78244   604    114     5      An-Nas
78245   604    114     5      An-Nas
78246   604    114     6      An-Nas
78247   604    114     6      An-Nas
78248   604    114     6      An-Nas

[78249 rows x 4 columns]

In [14]:
file_name_list = []
for i in range(len(df_mp3)):
    surah = df_mp3.loc[i,"surah"]
    ayah = df_mp3.loc[i,"ayah"]
    file_name = f"{surah:03d}"+f"{ayah:03d}.mp3"
    file_name_list.append(file_name)
df_mp3["mp3_file"] = pd.Series(file_name_list)
df_mp3

<ipython-input-14-6e46b9e1febe>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mp3["mp3_file"] = pd.Series(file_name_list)

       page  surah  ayah surah latin    mp3_file
0         1      1     1   Al-Fatiha  001001.mp3
1         1      1     1   Al-Fatiha  001001.mp3
2         1      1     1   Al-Fatiha  001001.mp3
3         1      1     1   Al-Fatiha  001001.mp3
4         1      1     2   Al-Fatiha  001002.mp3
...     ...    ...   ...         ...         ...
78244   604    114     5      An-Nas  114005.mp3
78245   604    114     5      An-Nas  114005.mp3
78246   604    114     6      An-Nas  114006.mp3
78247   604    114     6      An-Nas  114006.mp3
78248   604    114     6      An-Nas  114006.mp3

[78249 rows x 5 columns]

In [15]:
df_mp3 = df_mp3[~(df_mp3.ayah == 0)]
df_mp3

       page  surah  ayah surah latin    mp3_file
0         1      1     1   Al-Fatiha  001001.mp3
1         1      1     1   Al-Fatiha  001001.mp3
2         1      1     1   Al-Fatiha  001001.mp3
3         1      1     1   Al-Fatiha  001001.mp3
4         1      1     2   Al-Fatiha  001002.mp3
...     ...    ...   ...         ...         ...
78244   604    114     5      An-Nas  114005.mp3
78245   604    114     5      An-Nas  114005.mp3
78246   604    114     6      An-Nas  114006.mp3
78247   604    114     6      An-Nas  114006.mp3
78248   604    114     6      An-Nas  114006.mp3

[77801 rows x 5 columns]

In [16]:
page_list = []
for i in range(1,605):
    df_var = df_mp3[df_mp3["page"] == i]
    #order_list = df_var["mp3_file"].to_list()
    order_list = list(df_var["mp3_file"].unique())
    surah = list(df_var["surah"].unique())
    surah_list = []
    for j in surah:
        df_var2 = df_var[df_var["surah"] == j]
        surah_latin = df_var2["surah latin"].unique()[0]
        #ayahs = df_var2["mp3_file"].to_list()
        ayahs = list(df_var2["mp3_file"].unique())
        surah_dict = {"surah":int(j),"surah-latin":surah_latin,"ayah-in-page":ayahs}
        surah_list.append(surah_dict) 
    dict_var = {"page":i,"orderedAyahs":order_list,"surahs":surah_list}
    page_list.append(dict_var)

In [17]:
page_num = 1
for i in page_list:
    with open(f"index{page_num}.json","w") as file:
        json.dump(i, file, indent=4)    
    page_num += 1