### Mp3 File Name

In [1]:
import pandas as pd
import numpy as np
import json
import re
import glob

In [3]:
df_master= pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/10-Web Scrapping Data To Master/Arabic_Buckwalter_All_Deployment_Master Original.xlsx")
df_mp3 = df_master[["page","surah","ayah","surah latin"]]
df_mp3

       page  surah  ayah surah latin
0         1      1     1   Al-Fatiha
1         1      1     1   Al-Fatiha
2         1      1     1   Al-Fatiha
3         1      1     1   Al-Fatiha
4         1      1     2   Al-Fatiha
...     ...    ...   ...         ...
78244   604    114     5      An-Nas
78245   604    114     5      An-Nas
78246   604    114     6      An-Nas
78247   604    114     6      An-Nas
78248   604    114     6      An-Nas

[78249 rows x 4 columns]

In [ ]:
file_name_list = []
for i in range(len(df_mp3)):
    surah = df_mp3.loc[i,"surah"]
    ayah = df_mp3.loc[i,"ayah"]
    file_name = f"{surah:03d}"+f"{ayah:03d}.mp3"
    file_name_list.append(file_name)
df_mp3["mp3_file"] = pd.Series(file_name_list)