### Translate Process

In [1]:
import pandas as pd
import numpy as np
import re
import json
import nltk
from nltk import word_tokenize

In [2]:
df_master = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/8-Compare Color Flags/Arabic_Buckwalter_All_Relocation_Edit_Counts_Audio_Time_Root_Master.xlsx")
df_master

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 1,level 2,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,1,2,3,4,2,3,50.0,510.0,NaN,0
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,1,2,3,4,2,3,520.0,1180.0,NaN,1
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,1,2,3,4,2,3,1190.0,2340.0,NaN,2
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,1,2,3,4,2,3,2350.0,4480.0,NaN,3
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,0,0,2,4,2,0,700.0,1410.0,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,0,0,0,5080.0,6760.0,NaN,78244
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,1,1,1,4,0,0,6770.0,10010.0,NaN,78245
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,1,1,1,0,0,0,650.0,1160.0,NaN,78246
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,0,1,1,4,0,0,1170.0,3740.0,NaN,78247
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,0,4,0,0,3750.0,7530.0,NaN,78248

#### Twogram

In [3]:
df_twogram = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/4-N Gram/Arabic_Clean_Twogram_Frequency_From_DataFrame_Tanzil.xlsx")
df_twogram_select = df_twogram.head(200)
df_twogram_select

          twogram buckwalter_twogram  frequency
0         إن الله            <n Allh        205
1     الذين آمنوا        Al*yn |mnwA        184
2        في الأرض           fy Al>rD        176
3         يا أيها            yA >yhA        142
4     الذين كفروا        Al*yn kfrwA        134
..            ...                ...        ...
195   من المؤمنين        mn Alm&mnyn         19
196      والله لا           wAllh lA         19
197    يهدي القوم         yhdy Alqwm         19
198  ملك السماوات       mlk AlsmAwAt         19
199        إنه هو             <nh hw         19

[200 rows x 3 columns]

In [4]:
def twogram_loc_detect(df_twogram, df_target, ngram_column_name, target_column_name):
    for i in range(len(df_twogram)):
        twogram = df_twogram.loc[i,f"{ngram_column_name}"]
        twogram_words = word_tokenize(twogram)
        word_1 = twogram_words[0]
        word_2 = twogram_words[1]
        for j in range(len(df_target)):
            try:
                target_word_1 = df_target.loc[j,f"{target_column_name}"]
                target_word_2 = df_target.loc[j+1,f"{target_column_name}"]
                if (word_1 == target_word_1) and (word_2 == target_word_2):
                    df_target.loc[j,"twogram_string"] = f"{twogram}"                   
                else:
                    pass
            except:
                pass
    df_result = df_target
           
    return df_result

In [5]:
# def twogram_loc_detect2(df_twogram, df_target, ngram_column_name, target_column_name):
#     for i in range(len(df_twogram)):
#         twogram = df_twogram.loc[i,f"{ngram_column_name}"]
#         twogram_words = word_tokenize(twogram)
#         word_1 = twogram_words[0]
#         word_2 = twogram_words[1]
#         for j in range(len(df_target)):
#             try:
#                 target_word_1 = df_target.loc[j,f"{target_column_name}"]
#                 target_word_2 = df_target.loc[j+1,f"{target_column_name}"]
#                 if (word_1 == target_word_1) and (word_2 == target_word_2):
#                     try:
#                         var1 = df_target.loc[j,"twogram_string"]
#                     except:
#                         var1 = "empty_value"
#                     df_target.loc[j,"twogram_string"] = f"{var1}, {twogram}"
#                     try:
#                         var2 = df_target.loc[j+1,"twogram_string"]
#                     except:
#                         var2 = "empty_value"
#                     df_target.loc[j+1,"twogram_string"] = f"{var2}, {twogram}"
#                 else:
#                     pass
#             except:
#                 pass
#             
#     return df_target

In [6]:
#df_select_test = df_master.head(2000)

In [7]:
df_master_twogram_loc = twogram_loc_detect(df_twogram_select, df_master, "twogram", "tanzil_clean")
df_master_twogram_loc

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 2,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index,twogram_string
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,2,3,4,2,3,50.0,510.0,NaN,0,بسم الله
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,2,3,4,2,3,520.0,1180.0,NaN,1,الله الرحمن
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,2,3,4,2,3,1190.0,2340.0,NaN,2,الرحمن الرحيم
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,2,3,4,2,3,2350.0,4480.0,NaN,3,NaN
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,0,2,4,2,0,700.0,1410.0,NaN,4,الحمد لله
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,0,0,5080.0,6760.0,NaN,78244,NaN
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,1,1,4,0,0,6770.0,10010.0,NaN,78245,NaN
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,1,1,0,0,0,650.0,1160.0,NaN,78246,NaN
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,1,1,4,0,0,1170.0,3740.0,NaN,78247,NaN
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,4,0,0,3750.0,7530.0,NaN,78248,NaN

In [8]:
#df_master_twogram_loc.to_excel("Arabic_Buckwalter_All_Master_Twogram_Start_Location.xlsx", index=False)

#### Detect Multi Twogram Indexes

In [9]:
def twogram_loc_index_detect(df_twogram, df_target, ngram_column_name, target_column_name, index_column_name):
    for i in range(len(df_twogram)):
        twogram = df_twogram.loc[i,f"{ngram_column_name}"]
        twogram_words = word_tokenize(twogram)
        word_1 = twogram_words[0]
        word_2 = twogram_words[1]
        for j in range(len(df_target)):
            try:
                target_word_1 = df_target.loc[j,f"{target_column_name}"]
                target_word_2 = df_target.loc[j+1,f"{target_column_name}"]
                index_1 = df_target.loc[j,f"{index_column_name}"]
                index_2 = df_target.loc[j+1,f"{index_column_name}"]
                #variable_value = [variable_1, variable_2]
                if (word_1 == target_word_1) and (word_2 == target_word_2):
                    df_target.loc[j,"twogram_string"] = f"{twogram}"
                    df_target.loc[j,"indexes"] = f"{index_1}, {index_2}"                   
                else:
                    pass
            except:
                pass
    df_result = df_target

    return df_result

In [10]:
#df_master = df_master.head(2000)

In [11]:
df_master_twogram_loc = twogram_loc_index_detect(df_twogram_select, df_master, "twogram", "tanzil_clean", "index")
df_master_twogram_loc

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index,twogram_string,indexes
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,3,4,2,3,50.0,510.0,NaN,0,بسم الله,"0, 1"
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,3,4,2,3,520.0,1180.0,NaN,1,الله الرحمن,"1, 2"
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,3,4,2,3,1190.0,2340.0,NaN,2,الرحمن الرحيم,"2, 3"
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,3,4,2,3,2350.0,4480.0,NaN,3,NaN,NaN
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,2,4,2,0,700.0,1410.0,NaN,4,الحمد لله,"4, 5"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,0,5080.0,6760.0,NaN,78244,NaN,NaN
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,1,4,0,0,6770.0,10010.0,NaN,78245,NaN,NaN
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,1,0,0,0,650.0,1160.0,NaN,78246,NaN,NaN
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,1,4,0,0,1170.0,3740.0,NaN,78247,NaN,NaN
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,4,0,0,3750.0,7530.0,NaN,78248,NaN,NaN

In [12]:
df_master_twogram_loc[["first_index","second_index"]] = df_master_twogram_loc["indexes"].str.split(", ", expand=True)
df_master_twogram_loc

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,2gram,3gram,start_time,end_time,repeat flag,index,twogram_string,indexes,first_index,second_index
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,2,3,50.0,510.0,NaN,0,بسم الله,"0, 1",0,1
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,2,3,520.0,1180.0,NaN,1,الله الرحمن,"1, 2",1,2
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,2,3,1190.0,2340.0,NaN,2,الرحمن الرحيم,"2, 3",2,3
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,2,3,2350.0,4480.0,NaN,3,NaN,NaN,NaN,None
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,2,0,700.0,1410.0,NaN,4,الحمد لله,"4, 5",4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,5080.0,6760.0,NaN,78244,NaN,NaN,NaN,None
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,0,0,6770.0,10010.0,NaN,78245,NaN,NaN,NaN,None
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,0,0,650.0,1160.0,NaN,78246,NaN,NaN,NaN,None
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,0,0,1170.0,3740.0,NaN,78247,NaN,NaN,NaN,None
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,3750.0,7530.0,NaN,78248,NaN,NaN,NaN,None

In [13]:
df_master_twogram_loc["first_index"] == '1'

0        False
1         True
2        False
3        False
4        False
         ...
78244    False
78245    False
78246    False
78247    False
78248    False
Name: first_index, Length: 78249, dtype: bool

In [14]:
df_master_twogram_loc["second_index"] == '1'

0         True
1        False
2        False
3        False
4        False
         ...
78244    False
78245    False
78246    False
78247    False
78248    False
Name: second_index, Length: 78249, dtype: bool

In [15]:
#df_master_twogram_loc["indexes"].dropna()

In [16]:
twogram_index_list = []
for i in df_master_twogram_loc["indexes"].dropna():
    index_alone = i.split(",")
    for j in index_alone:
        twogram_index_list.append(j.strip())
df_twogram_index_list = pd.DataFrame(twogram_index_list)
df_twogram_index_list.rename(columns={0:"index_alone"}, inplace=True)
df_twogram_index_count = df_twogram_index_list.value_counts(ascending=False)
df_twogram_index_count = df_twogram_index_count.reset_index()
df_twogram_index_count.rename(columns={0:"index_count"}, inplace=True)
df_twogram_index_count

      index_alone  index_count
0            6180            2
1           19776            2
2           43288            2
3           19739            2
4           43287            2
...           ...          ...
13020       34911            1
13021       34928            1
13022       34931            1
13023       34934            1
13024        9997            1

[13025 rows x 2 columns]

In [17]:
df_index_multi_twogram = df_twogram_index_count[df_twogram_index_count.index_count != 1]
df_index_multi_twogram

     index_alone  index_count
0           6180            2
1          19776            2
2          43288            2
3          19739            2
4          43287            2
...          ...          ...
2556       53193            2
2557       47252            2
2558       29663            2
2559       76824            2
2560       47206            2

[2561 rows x 2 columns]

In [18]:
df_multi_twogram = pd.DataFrame()
for i in df_index_multi_twogram["index_alone"]:
    str_i = str(i)
    df_var = df_master_twogram_loc[df_master_twogram_loc["second_index"] == f'{str_i}']
    df_multi_twogram = pd.concat([df_multi_twogram, df_var], axis=0)
df_multi_twogram

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,2gram,3gram,start_time,end_time,repeat flag,index,twogram_string,indexes,first_index,second_index
6179,3,2,1,3,50,آل عمران,Al Imran,7,24,الله,...,2,3,1230.0,2730.0,NaN,6179,الله لا,"6179, 6180",6179,6180
19775,7,32,16,8,154,الأعراف,Al-A'raf,26,115,في,...,2,3,23850.0,24220.0,NaN,19775,في الحياة,"19775, 19776",19775,19776
43287,22,23,5,17,334,الحج,Al-Hajj,22,102,آمنوا,...,2,3,6490.0,7610.0,NaN,43287,آمنوا وعملوا,"43287, 43288",43287,43288
19738,7,30,11,8,153,الأعراف,Al-A'raf,16,81,من,...,2,3,22770.0,23760.0,NaN,19738,من دون,"19738, 19739",19738,19739
43286,22,23,4,17,334,الحج,Al-Hajj,22,102,الذين,...,2,3,4970.0,6480.0,NaN,43286,الذين آمنوا,"43286, 43287",43286,43287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53192,31,0,2,21,411,لقمان,Luqman,4,19,الله,...,2,3,NaN,NaN,NaN,53192,الله الرحمن,"53192, 53193",53192,53193
47251,25,59,3,19,365,الفرقان,Al-Furqan,17,75,السماوات,...,2,3,3020.0,5380.0,NaN,47251,السماوات والأرض,"47251, 47252",47251,47252
29662,11,84,5,12,231,هود,Hud,27,118,قال,...,2,3,7550.0,8180.0,NaN,29662,قال يا,"29662, 29663",29662,29663
76823,85,11,1,30,590,البروج,Al-Burooj,14,66,إن,...,2,3,450.0,1640.0,NaN,76823,إن الذين,"76823, 76824",76823,76824
47205,25,55,3,19,364,الفرقان,Al-Furqan,14,57,دون,...,2,3,2800.0,3760.0,NaN,47205,دون الله,"47205, 47206",47205,47206

#### Threegram

In [19]:
df_master = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/8-Compare Color Flags/Arabic_Buckwalter_All_Relocation_Edit_Counts_Audio_Time_Root_Master.xlsx")
df_master

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 1,level 2,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,1,2,3,4,2,3,50.0,510.0,NaN,0
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,1,2,3,4,2,3,520.0,1180.0,NaN,1
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,1,2,3,4,2,3,1190.0,2340.0,NaN,2
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,1,2,3,4,2,3,2350.0,4480.0,NaN,3
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,0,0,2,4,2,0,700.0,1410.0,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,0,0,0,5080.0,6760.0,NaN,78244
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,1,1,1,4,0,0,6770.0,10010.0,NaN,78245
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,1,1,1,0,0,0,650.0,1160.0,NaN,78246
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,0,1,1,4,0,0,1170.0,3740.0,NaN,78247
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,0,4,0,0,3750.0,7530.0,NaN,78248

In [20]:
df_threegram = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/4-N Gram/Arabic_Clean_Threegram_Frequency_From_DataFrame_Tanzil.xlsx")
df_threegram_select = df_threegram.head(200)
df_threegram_select

              threegram buckwalter_threegram  frequency
0       بسم الله الرحمن      bsm Allh AlrHmn        114
1    الله الرحمن الرحيم   Allh AlrHmn AlrHym        114
2         يا أيها الذين        yA >yhA Al*yn         92
3      أيها الذين آمنوا     >yhA Al*yn |mnwA         89
4           من دون الله          mn dwn Allh         71
..                  ...                  ...        ...
195      أظلم ممن افترى       >Zlm mmn AftrY          9
196       فإن الله غفور        f<n Allh gfwr          8
197      ربك لهو العزيز       rbk lhw AlEzyz          8
198        لآية وما كان         l|yp wmA kAn          8
199      وما كان أكثرهم       wmA kAn >kvrhm          8

[200 rows x 3 columns]

In [21]:
def threegram_loc_detect(df_threegram, df_target, ngram_column_name, target_column_name):
    for i in range(len(df_threegram)):
        threegram = df_threegram.loc[i,f"{ngram_column_name}"]
        threegram_words = word_tokenize(threegram)
        word_1 = threegram_words[0]
        word_2 = threegram_words[1]
        word_3 = threegram_words[2]
        for j in range(len(df_target)):
            try:
                target_word_1 = df_target.loc[j,f"{target_column_name}"]
                target_word_2 = df_target.loc[j+1,f"{target_column_name}"]
                target_word_3 = df_target.loc[j+2,f"{target_column_name}"]
                if (word_1 == target_word_1) and (word_2 == target_word_2) and (word_3 == target_word_3):
                    df_target.loc[j,"threegram_string"] = f"{threegram}"                   
                else:
                    pass
            except:
                pass
    df_result = df_target
            
    return df_result

In [22]:
df_master_threegram_loc = threegram_loc_detect(df_threegram_select, df_master, "threegram", "tanzil_clean")
df_master_threegram_loc

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 2,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index,threegram_string
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,2,3,4,2,3,50.0,510.0,NaN,0,بسم الله الرحمن
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,2,3,4,2,3,520.0,1180.0,NaN,1,الله الرحمن الرحيم
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,2,3,4,2,3,1190.0,2340.0,NaN,2,NaN
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,2,3,4,2,3,2350.0,4480.0,NaN,3,NaN
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,0,2,4,2,0,700.0,1410.0,NaN,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,0,0,5080.0,6760.0,NaN,78244,NaN
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,1,1,4,0,0,6770.0,10010.0,NaN,78245,NaN
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,1,1,0,0,0,650.0,1160.0,NaN,78246,NaN
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,1,1,4,0,0,1170.0,3740.0,NaN,78247,NaN
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,4,0,0,3750.0,7530.0,NaN,78248,NaN

In [23]:
#df_master_threegram_loc.to_excel("Arabic_Buckwalter_All_Master_Threegram_Start_Location.xlsx", index=False)

#### Detect Multi Threegram Indexes

In [24]:
def threegram_loc_index_detect(df_threegram, df_target, ngram_column_name, target_column_name, index_column_name):
    for i in range(len(df_threegram)):
        threegram = df_threegram.loc[i,f"{ngram_column_name}"]
        threegram_words = word_tokenize(threegram)
        word_1 = threegram_words[0]
        word_2 = threegram_words[1]
        word_3 = threegram_words[2]
        for j in range(len(df_target)):
            try:
                target_word_1 = df_target.loc[j,f"{target_column_name}"]
                target_word_2 = df_target.loc[j+1,f"{target_column_name}"]
                target_word_3 = df_target.loc[j+2,f"{target_column_name}"]
                index_1 = df_target.loc[j,f"{index_column_name}"]
                index_2 = df_target.loc[j+1,f"{index_column_name}"]
                index_3 = df_target.loc[j+2,f"{index_column_name}"]
                #variable_value = [variable_1, variable_2]
                if (word_1 == target_word_1) and (word_2 == target_word_2) and (word_3 == target_word_3):
                    df_target.loc[j,"threegram_string"] = f"{threegram}"
                    df_target.loc[j,"indexes"] = f"{index_1}, {index_2}, {index_3}"                   
                else:
                    pass
            except:
                pass
    df_result = df_target
            
    return df_result

In [25]:
#df_master = df_master.head(2000)

In [26]:
df_master_threegram_loc = threegram_loc_index_detect(df_threegram_select, df_master, "threegram", "tanzil_clean", "index")
df_master_threegram_loc

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index,threegram_string,indexes
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,3,4,2,3,50.0,510.0,NaN,0,بسم الله الرحمن,"0, 1, 2"
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,3,4,2,3,520.0,1180.0,NaN,1,الله الرحمن الرحيم,"1, 2, 3"
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,3,4,2,3,1190.0,2340.0,NaN,2,NaN,NaN
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,3,4,2,3,2350.0,4480.0,NaN,3,NaN,NaN
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,2,4,2,0,700.0,1410.0,NaN,4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,0,5080.0,6760.0,NaN,78244,NaN,NaN
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,1,4,0,0,6770.0,10010.0,NaN,78245,NaN,NaN
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,1,0,0,0,650.0,1160.0,NaN,78246,NaN,NaN
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,1,4,0,0,1170.0,3740.0,NaN,78247,NaN,NaN
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,4,0,0,3750.0,7530.0,NaN,78248,NaN,NaN

In [27]:
df_master_threegram_loc[["first_index","second_index","third_index"]] = df_master_threegram_loc["indexes"].str.split(", ", expand=True)
df_master_threegram_loc

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,3gram,start_time,end_time,repeat flag,index,threegram_string,indexes,first_index,second_index,third_index
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,3,50.0,510.0,NaN,0,بسم الله الرحمن,"0, 1, 2",0,1,2
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,3,520.0,1180.0,NaN,1,الله الرحمن الرحيم,"1, 2, 3",1,2,3
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,3,1190.0,2340.0,NaN,2,NaN,NaN,NaN,None,None
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,3,2350.0,4480.0,NaN,3,NaN,NaN,NaN,None,None
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,0,700.0,1410.0,NaN,4,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,5080.0,6760.0,NaN,78244,NaN,NaN,NaN,None,None
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,0,6770.0,10010.0,NaN,78245,NaN,NaN,NaN,None,None
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,0,650.0,1160.0,NaN,78246,NaN,NaN,NaN,None,None
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,0,1170.0,3740.0,NaN,78247,NaN,NaN,NaN,None,None
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,3750.0,7530.0,NaN,78248,NaN,NaN,NaN,None,None

In [28]:
threegram_index_list = []
for i in df_master_threegram_loc["indexes"].dropna():
    index_alone = i.split(",")
    for j in index_alone:
        threegram_index_list.append(j.strip())
df_threegram_index_list = pd.DataFrame(threegram_index_list)
df_threegram_index_list.rename(columns={0:"index_alone"}, inplace=True)
df_threegram_index_count = df_threegram_index_list.value_counts(ascending=False)
df_threegram_index_count = df_threegram_index_count.reset_index()
df_threegram_index_count.rename(columns={0:"index_count"}, inplace=True)
df_threegram_index_count

     index_alone  index_count
0          53052            3
1          15123            3
2          29141            3
3          29140            3
4          29139            3
...          ...          ...
7579       37540            1
7580       37539            1
7581        3718            1
7582        3717            1
7583         998            1

[7584 rows x 2 columns]

In [29]:
df_index_multi_threegram = df_threegram_index_count[df_threegram_index_count.index_count != 1]
df_index_multi_threegram

     index_alone  index_count
0          53052            3
1          15123            3
2          29141            3
3          29140            3
4          29139            3
...          ...          ...
2151       53444            2
2152       11048            2
2153        1815            2
2154       48582            2
2155       48222            2

[2156 rows x 2 columns]

In [30]:
df_multi_threegram = pd.DataFrame()
for i in df_index_multi_threegram["index_alone"]:
    str_i = str(i)
    df_var = df_master_threegram_loc[df_master_threegram_loc["second_index"] == f'{str_i}']
    df_multi_threegram = pd.concat([df_multi_threegram, df_var], axis=0)
df_multi_threegram

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,3gram,start_time,end_time,repeat flag,index,threegram_string,indexes,first_index,second_index,third_index
53051,30,50,16,21,409,الروم,Ar-Rum,19,74,على,...,3,22480.0,23320.0,NaN,53051,على كل شيء,"53051, 53052, 53053",53051,53052,53053
15122,5,67,21,6,119,المائدة,Al-Ma'ida,25,97,الله,...,3,36240.0,36890.0,NaN,15122,الله لا يهدي,"15122, 15123, 15124",15122,15123,15124
29140,11,50,8,12,227,هود,Hud,18,68,اعبدوا,...,3,9720.0,10660.0,NaN,29140,اعبدوا الله ما,"29140, 29141, 29142",29140,29141,29142
29139,11,50,7,12,227,هود,Hud,18,68,قوم,...,3,8840.0,9710.0,NaN,29139,قوم اعبدوا الله,"29139, 29140, 29141",29139,29140,29141
29138,11,50,6,12,227,هود,Hud,18,68,يا,...,3,7700.0,8830.0,NaN,29138,يا قوم اعبدوا,"29138, 29139, 29140",29138,29139,29140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53442,31,18,10,21,412,لقمان,Luqman,16,58,إن,...,3,14400.0,15870.0,NaN,53442,إن الله لا,"53442, 53443, 53444",53442,53443,53444
53443,31,18,11,21,412,لقمان,Luqman,16,58,الله,...,3,15880.0,17550.0,NaN,53443,الله لا يحب,"53443, 53444, 53445",53443,53444,53445
11047,4,60,1,5,88,النساء,An-Nisa',30,127,ألم,...,3,1600.0,2070.0,NaN,11047,ألم تر إلى,"11047, 11048, 11049",11047,11048,11049
1814,2,104,1,1,16,البقرة,Al-Baqara,13,66,يا,...,3,1760.0,4810.0,NaN,1814,يا أيها الذين,"1814, 1815, 1816",1814,1815,1816
48221,26,127,7,19,372,الشعراء,Ash-Shu'ara,11,42,أجري,...,3,10430.0,11940.0,NaN,48221,أجري إلا على,"48221, 48222, 48223",48221,48222,48223