### Translate Process

In [27]:
import pandas as pd
import numpy as np
import re
import json
import nltk
from nltk import word_tokenize

In [28]:
df_master = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/8-Compare Color Flags/Arabic_Buckwalter_All_Relocation_Edit_Counts_Audio_Time_Root_Master.xlsx")
df_master

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 1,level 2,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,1,2,3,4,2,3,50.0,510.0,NaN,0
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,1,2,3,4,2,3,520.0,1180.0,NaN,1
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,1,2,3,4,2,3,1190.0,2340.0,NaN,2
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,1,2,3,4,2,3,2350.0,4480.0,NaN,3
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,0,0,2,4,2,0,700.0,1410.0,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,0,0,0,5080.0,6760.0,NaN,78244
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,1,1,1,4,0,0,6770.0,10010.0,NaN,78245
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,1,1,1,0,0,0,650.0,1160.0,NaN,78246
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,0,1,1,4,0,0,1170.0,3740.0,NaN,78247
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,0,4,0,0,3750.0,7530.0,NaN,78248

#### Twogram

In [29]:
df_twogram = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/4-N Gram/Arabic_Clean_Twogram_Frequency_From_DataFrame_Tanzil.xlsx")
df_twogram_select = df_twogram.head(200)
df_twogram_select

          twogram buckwalter_twogram  frequency
0         إن الله            <n Allh        205
1     الذين آمنوا        Al*yn |mnwA        184
2        في الأرض           fy Al>rD        176
3         يا أيها            yA >yhA        142
4     الذين كفروا        Al*yn kfrwA        134
..            ...                ...        ...
195   من المؤمنين        mn Alm&mnyn         19
196      والله لا           wAllh lA         19
197    يهدي القوم         yhdy Alqwm         19
198  ملك السماوات       mlk AlsmAwAt         19
199        إنه هو             <nh hw         19

[200 rows x 3 columns]

In [30]:
def twogram_loc_detect(df_twogram, df_target, ngram_column_name, target_column_name):
    for i in range(len(df_twogram)):
        twogram = df_twogram.loc[i,f"{ngram_column_name}"]
        twogram_words = word_tokenize(twogram)
        word_1 = twogram_words[0]
        word_2 = twogram_words[1]
        for j in range(len(df_target)):
            try:
                target_word_1 = df_target.loc[j,f"{target_column_name}"]
                target_word_2 = df_target.loc[j+1,f"{target_column_name}"]
                if (word_1 == target_word_1) and (word_2 == target_word_2):
                    df_target.loc[j,"twogram_string"] = f"{twogram}"                   
                else:
                    pass
            except:
                pass
            
    return df_target

In [31]:
# def twogram_loc_detect2(df_twogram, df_target, ngram_column_name, target_column_name):
#     for i in range(len(df_twogram)):
#         twogram = df_twogram.loc[i,f"{ngram_column_name}"]
#         twogram_words = word_tokenize(twogram)
#         word_1 = twogram_words[0]
#         word_2 = twogram_words[1]
#         for j in range(len(df_target)):
#             try:
#                 target_word_1 = df_target.loc[j,f"{target_column_name}"]
#                 target_word_2 = df_target.loc[j+1,f"{target_column_name}"]
#                 if (word_1 == target_word_1) and (word_2 == target_word_2):
#                     try:
#                         var1 = df_target.loc[j,"twogram_string"]
#                     except:
#                         var1 = "empty_value"
#                     df_target.loc[j,"twogram_string"] = f"{var1}, {twogram}"
#                     try:
#                         var2 = df_target.loc[j+1,"twogram_string"]
#                     except:
#                         var2 = "empty_value"
#                     df_target.loc[j+1,"twogram_string"] = f"{var2}, {twogram}"
#                 else:
#                     pass
#             except:
#                 pass
#             
#     return df_target

In [5]:
#df_select_test = df_master.head(2000)

In [11]:
df_master_twogram_loc = twogram_loc_detect(df_twogram_select, df_master, "twogram", "tanzil_clean")
df_master_twogram_loc

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 2,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index,twogram_string
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,2,3,4,2,3,50.0,510.0,NaN,0,بسم الله
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,2,3,4,2,3,520.0,1180.0,NaN,1,الله الرحمن
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,2,3,4,2,3,1190.0,2340.0,NaN,2,الرحمن الرحيم
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,2,3,4,2,3,2350.0,4480.0,NaN,3,NaN
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,0,2,4,2,0,700.0,1410.0,NaN,4,الحمد لله
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,0,0,5080.0,6760.0,NaN,78244,NaN
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,1,1,4,0,0,6770.0,10010.0,NaN,78245,NaN
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,1,1,0,0,0,650.0,1160.0,NaN,78246,NaN
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,1,1,4,0,0,1170.0,3740.0,NaN,78247,NaN
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,4,0,0,3750.0,7530.0,NaN,78248,NaN

In [12]:
df_master_twogram_loc.to_excel("Arabic_Buckwalter_All_Master_Twogram_Start_Location.xlsx", index=False)

In [47]:
def twogram_loc_index_detect(df_twogram, df_target, ngram_column_name, target_column_name, index_column_name):
    for i in range(len(df_twogram)):
        twogram = df_twogram.loc[i,f"{ngram_column_name}"]
        twogram_words = word_tokenize(twogram)
        word_1 = twogram_words[0]
        word_2 = twogram_words[1]
        for j in range(len(df_target)):
            try:
                target_word_1 = df_target.loc[j,f"{target_column_name}"]
                target_word_2 = df_target.loc[j+1,f"{target_column_name}"]
                index_1 = df_target.loc[j,f"{index_column_name}"]
                index_2 = df_target.loc[j+1,f"{index_column_name}"]
                #variable_value = [variable_1, variable_2]
                if (word_1 == target_word_1) and (word_2 == target_word_2):
                    df_target.loc[j,"twogram_string"] = f"{twogram}"
                    df_target.loc[j,"indexes"] = f"{index_1}, {index_2}"                   
                else:
                    pass
            except:
                pass
            
    return df_target

In [48]:
df_master = df_master.head(2000)

In [49]:
df_master_twogram_loc = twogram_loc_index_detect(df_twogram_select, df_master, "twogram", "tanzil_clean", "index")
df_master_twogram_loc

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index,twogram_string,variable
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,3,4,2,3,50.0,510.0,NaN,0,بسم الله,"0, 1"
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,3,4,2,3,520.0,1180.0,NaN,1,الله الرحمن,"1, 2"
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,3,4,2,3,1190.0,2340.0,NaN,2,الرحمن الرحيم,"2, 3"
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,3,4,2,3,2350.0,4480.0,NaN,3,NaN,NaN
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,2,4,2,0,700.0,1410.0,NaN,4,الحمد لله,"4, 5"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2,113,5,1,18,البقرة,Al-Baqara,31,145,على,...,1,0,0,0,8500.0,9520.0,NaN,1995,NaN,NaN
1996,2,113,6,1,18,البقرة,Al-Baqara,31,145,شيء,...,1,4,0,0,9530.0,11330.0,NaN,1996,NaN,NaN
1997,2,113,7,1,18,البقرة,Al-Baqara,31,145,وقالت,...,0,4,0,0,11340.0,13130.0,NaN,1997,NaN,NaN
1998,2,113,8,1,18,البقرة,Al-Baqara,31,145,النصارى,...,0,4,0,0,13140.0,15330.0,NaN,1998,NaN,NaN
1999,2,113,9,1,18,البقرة,Al-Baqara,31,145,ليست,...,0,4,0,0,15340.0,16490.0,NaN,1999,NaN,NaN

In [ ]:
df_indexes = df_master_twogram_loc[df_master_twogram_loc["indexes"].dropna()]
df_indexes

In [ ]:
index_list = []
for i in df_indexes["indexes"]:
    index_list.append(i)
df_index_list = pd.DataFrame(index_list)
df_index_list.rename(columns={0:"index_alone"}, inplace=True)

#### Threegram

In [17]:
df_threegram = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/4-N Gram/Arabic_Clean_Threegram_Frequency_From_DataFrame_Tanzil.xlsx")
df_threegram_select = df_threegram.head(200)
df_threegram_select

              threegram buckwalter_threegram  frequency
0       بسم الله الرحمن      bsm Allh AlrHmn        114
1    الله الرحمن الرحيم   Allh AlrHmn AlrHym        114
2         يا أيها الذين        yA >yhA Al*yn         92
3      أيها الذين آمنوا     >yhA Al*yn |mnwA         89
4           من دون الله          mn dwn Allh         71
..                  ...                  ...        ...
195      أظلم ممن افترى       >Zlm mmn AftrY          9
196       فإن الله غفور        f<n Allh gfwr          8
197      ربك لهو العزيز       rbk lhw AlEzyz          8
198        لآية وما كان         l|yp wmA kAn          8
199      وما كان أكثرهم       wmA kAn >kvrhm          8

[200 rows x 3 columns]

In [18]:
def threegram_loc_detect(df_threegram, df_target, ngram_column_name, target_column_name):
    for i in range(len(df_threegram)):
        threegram = df_threegram.loc[i,f"{ngram_column_name}"]
        threegram_words = word_tokenize(threegram)
        word_1 = threegram_words[0]
        word_2 = threegram_words[1]
        word_3 = threegram_words[2]
        for j in range(len(df_target)):
            try:
                target_word_1 = df_target.loc[j,f"{target_column_name}"]
                target_word_2 = df_target.loc[j+1,f"{target_column_name}"]
                target_word_3 = df_target.loc[j+2,f"{target_column_name}"]
                if (word_1 == target_word_1) and (word_2 == target_word_2) and (word_3 == target_word_3):
                    df_target.loc[j,"threegram_string"] = f"{threegram}"                   
                else:
                    pass
            except:
                pass
            
    return df_target

In [19]:
df_master_threegram_loc = threegram_loc_detect(df_threegram_select, df_master, "threegram", "tanzil_clean")
df_master_threegram_loc

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 2,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index,threegram_string
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,2,3,4,2,3,50.0,510.0,NaN,0,بسم الله الرحمن
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,2,3,4,2,3,520.0,1180.0,NaN,1,الله الرحمن الرحيم
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,2,3,4,2,3,1190.0,2340.0,NaN,2,NaN
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,2,3,4,2,3,2350.0,4480.0,NaN,3,NaN
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,0,2,4,2,0,700.0,1410.0,NaN,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,0,0,5080.0,6760.0,NaN,78244,NaN
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,1,1,4,0,0,6770.0,10010.0,NaN,78245,NaN
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,1,1,0,0,0,650.0,1160.0,NaN,78246,NaN
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,1,1,4,0,0,1170.0,3740.0,NaN,78247,NaN
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,4,0,0,3750.0,7530.0,NaN,78248,NaN

In [20]:
df_master_threegram_loc.to_excel("Arabic_Buckwalter_All_Master_Threegram_Start_Location.xlsx", index=False)