### Translate Process

In [1]:
import pandas as pd
import numpy as np
import re
import json
import nltk
from nltk import word_tokenize

In [67]:
df_master = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/8-Compare Color Flags/Arabic_Buckwalter_All_Relocation_Edit_Counts_Audio_Time_Root_Master.xlsx")
df_master

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 1,level 2,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,1,2,3,4,2,3,50.0,510.0,NaN,0
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,1,2,3,4,2,3,520.0,1180.0,NaN,1
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,1,2,3,4,2,3,1190.0,2340.0,NaN,2
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,1,2,3,4,2,3,2350.0,4480.0,NaN,3
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,0,0,2,4,2,0,700.0,1410.0,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,0,0,0,5080.0,6760.0,NaN,78244
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,1,1,1,4,0,0,6770.0,10010.0,NaN,78245
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,1,1,1,0,0,0,650.0,1160.0,NaN,78246
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,0,1,1,4,0,0,1170.0,3740.0,NaN,78247
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,0,4,0,0,3750.0,7530.0,NaN,78248

#### Twogram

In [3]:
df_twogram = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/4-N Gram/Arabic_Clean_Twogram_Frequency_From_DataFrame_Tanzil.xlsx")
df_twogram_select = df_twogram.head(200)
df_twogram_select

          twogram buckwalter_twogram  frequency
0         إن الله            <n Allh        205
1     الذين آمنوا        Al*yn |mnwA        184
2        في الأرض           fy Al>rD        176
3         يا أيها            yA >yhA        142
4     الذين كفروا        Al*yn kfrwA        134
..            ...                ...        ...
195   من المؤمنين        mn Alm&mnyn         19
196      والله لا           wAllh lA         19
197    يهدي القوم         yhdy Alqwm         19
198  ملك السماوات       mlk AlsmAwAt         19
199        إنه هو             <nh hw         19

[200 rows x 3 columns]

In [30]:
def twogram_loc_detect(df_twogram, df_target, ngram_column_name, target_column_name):
    for i in range(len(df_twogram)):
        twogram = df_twogram.loc[i,f"{ngram_column_name}"]
        twogram_words = word_tokenize(twogram)
        word_1 = twogram_words[0]
        word_2 = twogram_words[1]
        for j in range(len(df_target)):
            try:
                target_word_1 = df_target.loc[j,f"{target_column_name}"]
                target_word_2 = df_target.loc[j+1,f"{target_column_name}"]
                if (word_1 == target_word_1) and (word_2 == target_word_2):
                    df_target.loc[j,"twogram_string"] = f"{twogram}"                   
                else:
                    pass
            except:
                pass
            
    return df_target

In [31]:
# def twogram_loc_detect2(df_twogram, df_target, ngram_column_name, target_column_name):
#     for i in range(len(df_twogram)):
#         twogram = df_twogram.loc[i,f"{ngram_column_name}"]
#         twogram_words = word_tokenize(twogram)
#         word_1 = twogram_words[0]
#         word_2 = twogram_words[1]
#         for j in range(len(df_target)):
#             try:
#                 target_word_1 = df_target.loc[j,f"{target_column_name}"]
#                 target_word_2 = df_target.loc[j+1,f"{target_column_name}"]
#                 if (word_1 == target_word_1) and (word_2 == target_word_2):
#                     try:
#                         var1 = df_target.loc[j,"twogram_string"]
#                     except:
#                         var1 = "empty_value"
#                     df_target.loc[j,"twogram_string"] = f"{var1}, {twogram}"
#                     try:
#                         var2 = df_target.loc[j+1,"twogram_string"]
#                     except:
#                         var2 = "empty_value"
#                     df_target.loc[j+1,"twogram_string"] = f"{var2}, {twogram}"
#                 else:
#                     pass
#             except:
#                 pass
#             
#     return df_target

In [5]:
#df_select_test = df_master.head(2000)

In [11]:
df_master_twogram_loc = twogram_loc_detect(df_twogram_select, df_master, "twogram", "tanzil_clean")
df_master_twogram_loc

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 2,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index,twogram_string
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,2,3,4,2,3,50.0,510.0,NaN,0,بسم الله
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,2,3,4,2,3,520.0,1180.0,NaN,1,الله الرحمن
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,2,3,4,2,3,1190.0,2340.0,NaN,2,الرحمن الرحيم
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,2,3,4,2,3,2350.0,4480.0,NaN,3,NaN
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,0,2,4,2,0,700.0,1410.0,NaN,4,الحمد لله
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,0,0,5080.0,6760.0,NaN,78244,NaN
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,1,1,4,0,0,6770.0,10010.0,NaN,78245,NaN
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,1,1,0,0,0,650.0,1160.0,NaN,78246,NaN
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,1,1,4,0,0,1170.0,3740.0,NaN,78247,NaN
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,4,0,0,3750.0,7530.0,NaN,78248,NaN

In [12]:
#df_master_twogram_loc.to_excel("Arabic_Buckwalter_All_Master_Twogram_Start_Location.xlsx", index=False)

#### Detect Multi Indexes

In [4]:
def twogram_loc_index_detect(df_twogram, df_target, ngram_column_name, target_column_name, index_column_name):
    for i in range(len(df_twogram)):
        twogram = df_twogram.loc[i,f"{ngram_column_name}"]
        twogram_words = word_tokenize(twogram)
        word_1 = twogram_words[0]
        word_2 = twogram_words[1]
        for j in range(len(df_target)):
            try:
                target_word_1 = df_target.loc[j,f"{target_column_name}"]
                target_word_2 = df_target.loc[j+1,f"{target_column_name}"]
                index_1 = df_target.loc[j,f"{index_column_name}"]
                index_2 = df_target.loc[j+1,f"{index_column_name}"]
                #variable_value = [variable_1, variable_2]
                if (word_1 == target_word_1) and (word_2 == target_word_2):
                    df_target.loc[j,"twogram_string"] = f"{twogram}"
                    df_target.loc[j,"indexes"] = f"{index_1}, {index_2}"                   
                else:
                    pass
            except:
                pass
            
    return df_target

In [68]:
df_master = df_master.head(2000)

In [69]:
df_master_twogram_loc = twogram_loc_index_detect(df_twogram_select, df_master, "twogram", "tanzil_clean", "index")
df_master_twogram_loc

/home/kurubal/anaconda3/envs/py39/lib/python3.9/site-packages/pandas/core/indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/home/kurubal/anaconda3/envs/py39/lib/python3.9/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index,twogram_string,indexes
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,3,4,2,3,50.0,510.0,NaN,0,بسم الله,"0, 1"
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,3,4,2,3,520.0,1180.0,NaN,1,الله الرحمن,"1, 2"
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,3,4,2,3,1190.0,2340.0,NaN,2,الرحمن الرحيم,"2, 3"
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,3,4,2,3,2350.0,4480.0,NaN,3,NaN,NaN
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,2,4,2,0,700.0,1410.0,NaN,4,الحمد لله,"4, 5"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2,113,5,1,18,البقرة,Al-Baqara,31,145,على,...,1,0,0,0,8500.0,9520.0,NaN,1995,NaN,NaN
1996,2,113,6,1,18,البقرة,Al-Baqara,31,145,شيء,...,1,4,0,0,9530.0,11330.0,NaN,1996,NaN,NaN
1997,2,113,7,1,18,البقرة,Al-Baqara,31,145,وقالت,...,0,4,0,0,11340.0,13130.0,NaN,1997,NaN,NaN
1998,2,113,8,1,18,البقرة,Al-Baqara,31,145,النصارى,...,0,4,0,0,13140.0,15330.0,NaN,1998,NaN,NaN
1999,2,113,9,1,18,البقرة,Al-Baqara,31,145,ليست,...,0,4,0,0,15340.0,16490.0,NaN,1999,NaN,NaN

In [70]:
df_master_twogram_loc[["first_index","second_index"]] = df_master_twogram_loc["indexes"].str.split(", ", expand=True)
df_master_twogram_loc

/home/kurubal/anaconda3/envs/py39/lib/python3.9/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,2gram,3gram,start_time,end_time,repeat flag,index,twogram_string,indexes,first_index,second_index
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,2,3,50.0,510.0,NaN,0,بسم الله,"0, 1",0,1
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,2,3,520.0,1180.0,NaN,1,الله الرحمن,"1, 2",1,2
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,2,3,1190.0,2340.0,NaN,2,الرحمن الرحيم,"2, 3",2,3
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,2,3,2350.0,4480.0,NaN,3,NaN,NaN,NaN,None
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,2,0,700.0,1410.0,NaN,4,الحمد لله,"4, 5",4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2,113,5,1,18,البقرة,Al-Baqara,31,145,على,...,0,0,8500.0,9520.0,NaN,1995,NaN,NaN,NaN,None
1996,2,113,6,1,18,البقرة,Al-Baqara,31,145,شيء,...,0,0,9530.0,11330.0,NaN,1996,NaN,NaN,NaN,None
1997,2,113,7,1,18,البقرة,Al-Baqara,31,145,وقالت,...,0,0,11340.0,13130.0,NaN,1997,NaN,NaN,NaN,None
1998,2,113,8,1,18,البقرة,Al-Baqara,31,145,النصارى,...,0,0,13140.0,15330.0,NaN,1998,NaN,NaN,NaN,None
1999,2,113,9,1,18,البقرة,Al-Baqara,31,145,ليست,...,0,0,15340.0,16490.0,NaN,1999,NaN,NaN,NaN,None

In [71]:
df_master_twogram_loc["first_index"] == '1'

0       False
1        True
2       False
3       False
4       False
        ...
1995    False
1996    False
1997    False
1998    False
1999    False
Name: first_index, Length: 2000, dtype: bool

In [72]:
df_master_twogram_loc["second_index"] == '1'

0        True
1       False
2       False
3       False
4       False
        ...
1995    False
1996    False
1997    False
1998    False
1999    False
Name: second_index, Length: 2000, dtype: bool

In [15]:
#df_master_twogram_loc["indexes"].dropna()

In [60]:
index_list = []
for i in df_master_twogram_loc["indexes"].dropna():
    index_alone = i.split(",")
    for j in index_alone:
        index_list.append(j.strip())
df_index_list = pd.DataFrame(index_list)
df_index_list.rename(columns={0:"index_alone"}, inplace=True)
df_index_count = df_index_list.value_counts(ascending=False)
df_index_count = df_index_count.reset_index()
df_index_count.rename(columns={0:"index_count"}, inplace=True)
df_index_count

    index_alone  index_count
0          1562            2
1          1704            2
2           333            2
3           334            2
4           339            2
..          ...          ...
369        1682            1
370         165            1
371         164            1
372        1629            1
373         997            1

[374 rows x 2 columns]

In [74]:
df_index_multi_twogram = df_index_count[df_index_count.index_count != 1]
df_index_multi_twogram

   index_alone  index_count
0         1562            2
1         1704            2
2          333            2
3          334            2
4          339            2
..         ...          ...
67        1175            2
68        1315            2
69         976            2
70         120            2
71        1017            2

[72 rows x 2 columns]

In [75]:
df_multi = pd.DataFrame()
for i in df_index_multi_twogram["index_alone"]:
    str_i = str(i)
    df_var = df_master_twogram_loc[df_master_twogram_loc["second_index"] == f'{str_i}']
    df_multi_twogram = pd.concat([df_multi, df_var], axis=0)
df_multi_twogram

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,2gram,3gram,start_time,end_time,repeat flag,index,twogram_string,indexes,first_index,second_index
1561,2,91,25,1,14,البقرة,Al-Baqara,30,121,الله,...,2,0,38060.0,39360.0,NaN,1561,الله من,"1561, 1562",1561,1562
1703,2,100,8,1,15,البقرة,Al-Baqara,10,46,أكثرهم,...,2,0,13550.0,15310.0,NaN,1703,أكثرهم لا,"1703, 1704",1703,1704
332,2,25,2,1,5,البقرة,Al-Baqara,34,154,الذين,...,2,3,1870.0,3340.0,NaN,332,الذين آمنوا,"332, 333",332,333
333,2,25,3,1,5,البقرة,Al-Baqara,34,154,آمنوا,...,2,3,3350.0,4730.0,NaN,333,آمنوا وعملوا,"333, 334",333,334
338,2,25,8,1,5,البقرة,Al-Baqara,34,154,جنات,...,2,3,10930.0,14070.0,NaN,338,جنات تجري,"338, 339",338,339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1174,2,74,4,1,11,البقرة,Al-Baqara,37,147,من,...,2,3,5330.0,6210.0,NaN,1174,من بعد,"1174, 1175",1174,1175
1314,2,80,21,1,12,البقرة,Al-Baqara,23,96,ما,...,2,3,28880.0,29410.0,NaN,1314,ما لا,"1314, 1315",1314,1315
975,2,62,1,1,10,البقرة,Al-Baqara,24,109,إن,...,2,3,2050.0,3230.0,NaN,975,إن الذين,"975, 976",975,976
119,2,10,7,1,3,البقرة,Al-Baqara,12,53,ولهم,...,2,3,12100.0,12940.0,NaN,119,ولهم عذاب,"119, 120",119,120
1016,2,64,3,1,10,البقرة,Al-Baqara,13,55,من,...,2,3,5470.0,6400.0,NaN,1016,من بعد,"1016, 1017",1016,1017

#### Threegram

In [17]:
df_threegram = pd.read_excel("/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Arabic/Quaran/Text/Result/4-N Gram/Arabic_Clean_Threegram_Frequency_From_DataFrame_Tanzil.xlsx")
df_threegram_select = df_threegram.head(200)
df_threegram_select

              threegram buckwalter_threegram  frequency
0       بسم الله الرحمن      bsm Allh AlrHmn        114
1    الله الرحمن الرحيم   Allh AlrHmn AlrHym        114
2         يا أيها الذين        yA >yhA Al*yn         92
3      أيها الذين آمنوا     >yhA Al*yn |mnwA         89
4           من دون الله          mn dwn Allh         71
..                  ...                  ...        ...
195      أظلم ممن افترى       >Zlm mmn AftrY          9
196       فإن الله غفور        f<n Allh gfwr          8
197      ربك لهو العزيز       rbk lhw AlEzyz          8
198        لآية وما كان         l|yp wmA kAn          8
199      وما كان أكثرهم       wmA kAn >kvrhm          8

[200 rows x 3 columns]

In [18]:
def threegram_loc_detect(df_threegram, df_target, ngram_column_name, target_column_name):
    for i in range(len(df_threegram)):
        threegram = df_threegram.loc[i,f"{ngram_column_name}"]
        threegram_words = word_tokenize(threegram)
        word_1 = threegram_words[0]
        word_2 = threegram_words[1]
        word_3 = threegram_words[2]
        for j in range(len(df_target)):
            try:
                target_word_1 = df_target.loc[j,f"{target_column_name}"]
                target_word_2 = df_target.loc[j+1,f"{target_column_name}"]
                target_word_3 = df_target.loc[j+2,f"{target_column_name}"]
                if (word_1 == target_word_1) and (word_2 == target_word_2) and (word_3 == target_word_3):
                    df_target.loc[j,"threegram_string"] = f"{threegram}"                   
                else:
                    pass
            except:
                pass
            
    return df_target

In [19]:
df_master_threegram_loc = threegram_loc_detect(df_threegram_select, df_master, "threegram", "tanzil_clean")
df_master_threegram_loc

,surah,ayah,word rank,juz,page,surah arabic,surah latin,word count ayah,letter count ayah,tanzil_clean,...,level 2,level 3,level 4,2gram,3gram,start_time,end_time,repeat flag,index,threegram_string
0,1,1,1,1,1,الفاتحة,Al-Fatiha,4,19,بسم,...,2,3,4,2,3,50.0,510.0,NaN,0,بسم الله الرحمن
1,1,1,2,1,1,الفاتحة,Al-Fatiha,4,19,الله,...,2,3,4,2,3,520.0,1180.0,NaN,1,الله الرحمن الرحيم
2,1,1,3,1,1,الفاتحة,Al-Fatiha,4,19,الرحمن,...,2,3,4,2,3,1190.0,2340.0,NaN,2,NaN
3,1,1,4,1,1,الفاتحة,Al-Fatiha,4,19,الرحيم,...,2,3,4,2,3,2350.0,4480.0,NaN,3,NaN
4,1,2,1,1,1,الفاتحة,Al-Fatiha,4,18,الحمد,...,0,2,4,2,0,700.0,1410.0,NaN,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78244,114,5,4,30,604,الناس,An-Nas,5,20,صدور,...,0,0,0,0,0,5080.0,6760.0,NaN,78244,NaN
78245,114,5,5,30,604,الناس,An-Nas,5,20,الناس,...,1,1,4,0,0,6770.0,10010.0,NaN,78245,NaN
78246,114,6,1,30,604,الناس,An-Nas,3,13,من,...,1,1,0,0,0,650.0,1160.0,NaN,78246,NaN
78247,114,6,2,30,604,الناس,An-Nas,3,13,الجنة,...,1,1,4,0,0,1170.0,3740.0,NaN,78247,NaN
78248,114,6,3,30,604,الناس,An-Nas,3,13,والناس,...,0,0,4,0,0,3750.0,7530.0,NaN,78248,NaN

In [20]:
df_master_threegram_loc.to_excel("Arabic_Buckwalter_All_Master_Threegram_Start_Location.xlsx", index=False)